<section class="about-company">
    <div class="container">
        <div class="about-company__subtitle txt20">О компании</div>
        <div class="about-company__container">
            <div class="about-company__title tl2">высокотехнологичное национальное китайское предприятие</div>
            <div class="about-company__box">
                <div class="about-company__text txt20">
                    <p class="about-company__text--green">MEGMEET Electrical Co. Ltd. (002851.sz) – высокотехнологичное национальное китайское предприятие, специализирующееся на силовой электронике и технологиях промышленного управления.</p>
                    <p>В компании работает более 1000 инженеров - исследователей, которые создают комплексные и хорошо оснащенные программные и аппаратные платформы для разработки, тестирования и производства продуктов.</p>
                    <p>Компания MEGMEET уже в течение 6 последних лет подряд является ведущим производителем сварочных систем MIG/MAG для роботизированной сварки в Китае. Доля его рынка достигает 30%.</p>
                </div>
                <img src="../assets/images/about/about-company.webp" alt="">
            </div>
        </div>
        <div class="about-company__list">
            <div class="about-company__item">
                <div class="about-company__item--num tl2">3</div>
                <div class="about-company__item--inf txt20">производственные базы</div>
            </div>
            <div class="about-company__item">
                <div class="about-company__item--num tl2">2000+</div>
                <div class="about-company__item--inf txt20">разработчиков</div>
            </div>
            <div class="about-company__item">
                <div class="about-company__item--num tl2">6000+</div>
                <div class="about-company__item--inf txt20">сотрудников</div>
            </div>
        </div>
    </div>
</section>