<section class="about-main">
    <div class="container">
        <div class="about-main__top">
            <div class="about-main__title tl1">МОЩНАЯ МНОГОПРОФИЛЬНАЯ ПЛАТФОРМА MGT</div>
            <div class="about-main__text txt20">Высокотехнологичное национальное китайское предприятие, специализирующееся на силовой электронике и технологиях промышленного управления. Основана в 2003 году, штаб-квартира компании находится в Шэньчжэне, Китай.</div>
        </div>
        <div class="about-main__bottom">
            <img src="../assets/images/about/about-main.webp" alt="">
            <div class="about-main__box">
                <div class="about-main__box--title txt16">О компании в цифрах</div>
                <div class="about-main__box--item">
                    <div class="about-main__box--number tl1">6000+</div>
                    <div class="about-main__box--text txt20">сотрудников</div>
                </div>
                <div class="about-main__box--item">
                    <div class="about-main__box--number tl1">40</div>
                    <div class="about-main__box--text txt20">представительств <span class="desktop">в мире</span></div>
                </div>
            </div>
        </div>
    </div>
</section>