<section class="areas">
  <div class="areas__container container">
    <div class="nav-box nav-box--white _first">
      <div class="container">
        <nav class="nav-box__list-wrap title-h5">
          <ul class="nav-box__list">
            <li class="nav-box__link txt16"><a href="#">Главная</a></li>
            <li class="nav-box__link nav-box__link_black txt16">Применение</li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="areas__title tl1">Сферы Применения продукции Megmeet</div>
    <div class="areas__text txt20">
      Сварочные полуавтоматы Megmeet уже более 10 лет эффективно используются на производствах во всем мире в
      задачах автоматизации и роботизации сварочных процессов, на конвейерах
    </div>
    <div class="areas__row">
      <div class="areas__column">
        <div class="areas__number tl2">10+</div>
        <div class="areas__number-text txt20">сфер применения продукции</div>
      </div>
      <div class="areas__column">
        <div class="areas__number tl2">2000+</div>
        <div class="areas__number-text txt20">робот-источников ежегодно</div>
      </div>
      <div class="areas__column">
        <div class="areas__number tl2">3</div>
        <div class="areas__number-text txt20">производственные базы</div>
      </div>
    </div>
    <picture class="areas__background">
      <source media="(min-width: 48em)" srcset="./assets/images/spheres-background.webp" />
      <source media="(max-width: 48em)" srcset="./assets/images/spheres-background-mobile.webp" />
      <img src="./assets/images/spheres-background.webp" alt="" />
    </picture>
  </div>
</section>
