<section class="automatic">
  <div class="automatic__container container">
    <div class="automatic__title tl1">Сварочные полуавтоматы Mgt</div>
    <div class="automatic__row right">
      <div class="automatic__row-item right-background desktop">
        <div class="automatic__row-item--img">
          <img src="./assets/images/automatics-item-img-1.webp" alt="" />
        </div>
      </div>
      <div class="automatic__row-descr left-background">
        <div class="automatic__row-title tl3">Dex DM/PM</div>
        <div class="automatic__row-subtitle txt20">30-300А, 180 КГЦ, ПВ 60%</div>
        <div class="automatic__row-text txt20">
          Лидирующий в отрасли силовой инвертор с несущей частотой 180 кГц имеет преимущества в виде высокой
          скорости замеров параметров сварки и управления дугой
        </div>
        <div class="automatic__row-item right-background mobile">
          <div class="automatic__row-item--img">
            <img src="./assets/images/automatics-item-img-1.webp" alt="" />
          </div>
        </div>
      </div>
    </div>
    <div class="automatic__row left">
      <div class="automatic__row-item left-background desktop">
        <div class="automatic__row-item--img">
          <img src="./assets/images/automatics-item-img-2.webp" alt="" />
        </div>
      </div>
      <div class="automatic__row-descr right-background">
        <div class="automatic__row-title tl3">Ehave 2 - CM</div>
        <div class="automatic__row-subtitle txt20">30-500А, 65 КГЦ, ПВ 60%</div>
        <div class="automatic__row-text txt20">
          Мультифункциональный источник сварочного тока, может использоваться как источник сварочного тока для
          РТК, оснащен множеством специальных функций для различных отраслей промышленности
        </div>
        <div class="automatic__row-item right-background mobile">
          <div class="automatic__row-item--img">
            <img src="./assets/images/automatics-item-img-2.webp" alt="" />
          </div>
        </div>
      </div>
    </div>
    <div class="automatic__row right">
      <div class="automatic__row-item right-background desktop">
        <div class="automatic__row-item--img">
          <img src="./assets/images/automatics-item-img-3.webp" alt="" />
        </div>
      </div>
      <div class="automatic__row-descr left-background">
        <div class="automatic__row-title tl3">ARTSEN II CM/PM</div>
        <div class="automatic__row-subtitle txt20">30-500А, 65 КГЦ, ПВ 60%</div>
        <div class="automatic__row-text txt20">
          Эта серия сварочных аппаратов оснащена процессом управления «специальное энергетическое управление
          переходом короткого замыкания», управлением процессом переноса капель «регулировкой энергии
          импульса» и процессом управления энергией синергетического импульса.
        </div>
        <div class="automatic__row-item right-background mobile">
          <div class="automatic__row-item--img">
            <img src="./assets/images/automatics-item-img-3.webp" alt="" />
          </div>
        </div>
      </div>
    </div>
    <a href="#" class="automatic__link txt18">
      <span>Вся продукция</span>
      <span>
        <svg width="41" height="9" viewBox="0 0 41 9" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M40.8536 4.85355C41.0488 4.65829 41.0488 4.34171 40.8536 4.14645L37.6716 0.964466C37.4763 0.769204 37.1597 0.769204 36.9645 0.964466C36.7692 1.15973 36.7692 1.47631 36.9645 1.67157L39.7929 4.5L36.9645 7.32843C36.7692 7.52369 36.7692 7.84027 36.9645 8.03553C37.1597 8.2308 37.4763 8.2308 37.6716 8.03553L40.8536 4.85355ZM0.5 5H40.5V4H0.5V5Z"
            fill="#00A499"
          />
        </svg>
      </span>
    </a>
  </div>
</section>
