<section class="demoroom-baner">
    <div class="container">
        <div class="demoroom-baner__top">
            <div class="demoroom-baner__title tl1">Демо-зал Megmeet</div>
            <div class="demoroom-baner__text txt20">Протестировать необходимое оборудование можно непосредственно <br>на территории своего предприятия или в демонстрационном зале нашей компании по адресу: г. Москва, ул. Б. Семеновская, д. 42.</div>
        </div>
        <div class="demoroom-baner__img">
            <img src="../assets/images/demoroom/demoroom-b.webp" alt="">
        </div>
    </div>
</section>