<section class="demoroom-main">
    <div class="container">
        <div class="demoroom-main__left txt20">о демо-зале</div>
        <div class="demoroom-main__right">
            <div class="demoroom-main__title tl2">наша Бесплатная демонстрация  оборудования помогает принять решение по его выбору и получить консультацию </div>
            <div class="demoroom-main__text txt20">В демонстрационном зале Megmeet доступно для тестирование следующее оборудование:</div>
            <ul class="demoroom-main__list txt20">
                <li>Полуавтомат Dex DM/PM компактная модель</li>
                <li>Полуавтомат Ehave CM</li>
                <li>Полуавтомат Artsen CM500 C</li>
                <li>Полуавтомат Artsen II PM/CM</li>
                <li>Полуавтомат Artsen Plus</li>
                <li>Полуавтомат Artsen Pro</li>
                <li>Блоки охлаждения AnyCool 68 и AnyCool 100</li>
                <li>Промежуточный блок подачи проволоки</li>
                <li>Блоки подачи проволоки для роботизированной сварки</li>
                <li>Источники сварки в комплекте со сварочным роботом GSK</li>
            </ul>
        </div>
    </div>
</section>