<section class="description">
  <div class="container">
    <div class="description__inner">
      <div class="description__accordion-wrapper">
        <div class="description__accordion">
          <div class="description__accordion-item">
            <div class="description__accordion-item-header">
              <p class="description__accordion-title title-h4">Описание</p>
              <div class="description__accordion-svg-wrapper">
                <div class="description__accordion-svg-box">
                  <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M12 0.92572V23.2114"
                      stroke="white"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M0.857422 12H23.1431"
                      stroke="white"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
              </div>
            </div>
            <div class="description__accordion-item-body">
              <div class="description__accordion-item-img-wrapper">
                <div class="description__accordion-item-img-box">
                  <img src="./assets/images/description-img-1.webp" alt="" />
                </div>
                <div class="description__accordion-item-img-box">
                  <img src="./assets/images/description-img-2.webp" alt="" />
                </div>
                <div class="description__accordion-item-img-box">
                  <img src="./assets/images/description-img-3.webp" alt="" />
                </div>
              </div>
              <div class="description__accordion-item-text-box">
                <p class="description__accordion-item-text txt18">
                  Cварочные полуавтоматы на базе микропроцессора Ehave CM (CO2/MAG/MMA) предназначены для
                  сварки металлической проволокой и ручной дуговой сварки плавящимся электродом. Аппараты
                  широко применяются в различных отраслях при сварке углеродистой стали: железнодорожный
                  транспорт, судостроение, автомобилестроение, производство стальных конструкций, контейнеров,
                  металлообработке, металлической мебели.
                </p>
                <div class="description__accordion-item-list-box">
                  <p class="description__accordion-item-list-title txt18">Основные преимущества:</p>
                  <div class="description__accordion-item-list-wrapper">
                    <ul class="description__accordion-item-list">
                      <li class="description__accordion-item-item txt18">
                        <p class="description__accordion-item-item-num">01</p>
                        <p class="description__accordion-item-item-text">
                          Цифровая инверторная технология с микропроцессорным управлением. 
                        </p>
                      </li>
                      <li class="description__accordion-item-item txt18">
                        <p class="description__accordion-item-item-num">02</p>
                        <p class="description__accordion-item-item-text">Синергетическое управление.</p>
                      </li>
                      <li class="description__accordion-item-item txt18">
                        <p class="description__accordion-item-item-num">03</p>
                        <p class="description__accordion-item-item-text">
                          Стабильная дуга при полном токе и низком уровне разбрызгивания. 
                        </p>
                      </li>
                      <li class="description__accordion-item-item txt18">
                        <p class="description__accordion-item-item-num">04</p>
                        <p class="description__accordion-item-item-text">
                          Нагрузка 500 A / ПВ 100% при +40°C для тяжёлых условий эксплуатации.
                        </p>
                      </li>
                      <li class="description__accordion-item-item txt18">
                        <p class="description__accordion-item-item-num">05</p>
                        <p class="description__accordion-item-item-text">
                          Соединительные кабели "три в одном" с высокой степенью защиты.
                        </p>
                      </li>
                    </ul>
                    <ul class="description__accordion-item-list">
                      <li class="description__accordion-item-item txt18">
                        <p class="description__accordion-item-item-num">06</p>
                        <p class="description__accordion-item-item-text">
                          Цифровая инверторная технология с микропроцессорным управлением. 
                        </p>
                      </li>
                      <li class="description__accordion-item-item txt18">
                        <p class="description__accordion-item-item-num">07</p>
                        <p class="description__accordion-item-item-text">Синергетическое управление.</p>
                      </li>
                      <li class="description__accordion-item-item txt18">
                        <p class="description__accordion-item-item-num">08</p>
                        <p class="description__accordion-item-item-text">
                          Стабильная дуга при полном токе и низком уровне разбрызгивания. 
                        </p>
                      </li>
                      <li class="description__accordion-item-item txt18">
                        <p class="description__accordion-item-item-num">09</p>
                        <p class="description__accordion-item-item-text">
                          Нагрузка 500 A / ПВ 100% при +40°C для тяжёлых условий эксплуатации.
                        </p>
                      </li>
                      <li class="description__accordion-item-item txt18">
                        <p class="description__accordion-item-item-num">10</p>
                        <p class="description__accordion-item-item-text">
                          Соединительные кабели "три в одном" с высокой степенью защиты.
                        </p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="description__accordion-item">
            <div class="description__accordion-item-header">
              <p class="description__accordion-title title-h4">Характеристики</p>
              <div class="description__accordion-svg-wrapper">
                <div class="description__accordion-svg-box">
                  <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M12 0.92572V23.2114"
                      stroke="white"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M0.857422 12H23.1431"
                      stroke="white"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
              </div>
            </div>
            <div class="description__accordion-item-body description__accordion-item-body--table">
              <div class="description__accordion-table-wrapper">
                <div class="description__accordion-table description__accordion-table--characteristic">
                  <div class="description__accordion-table-row">
                    <p class="description__accordion-table-title txt18 txt18_bold">Модель полуавтомата:</p>
                    <ul class="description__accordion-table-list">
                      <li class="description__accordion-table-item txt18">Dex DM3000</li>
                      <li class="description__accordion-table-item txt18">Dex PM3000</li>
                      <li class="description__accordion-table-item txt18">Dex PM3000Q</li>
                      <li class="description__accordion-table-item txt18">Dex DM3000S Dex DM3000R</li>
                      <li class="description__accordion-table-item txt18">Dex PM3000S Dex PM3000R</li>
                      <li class="description__accordion-table-item txt18">Dex PM3000QS Dex PM3000QR</li>
                    </ul>
                  </div>
                  <div class="description__accordion-table-row">
                    <p class="description__accordion-table-title txt18 txt18_bold">Силовая схема</p>
                    <ul class="description__accordion-table-list">
                      <li class="description__accordion-table-item txt18">Цифровое управление</li>
                    </ul>
                  </div>
                  <div class="description__accordion-table-row">
                    <p class="description__accordion-table-title txt18 txt18_bold">Входное напряжение</p>
                    <ul class="description__accordion-table-list">
                      <li class="description__accordion-table-item txt18">
                        3 фазы, 380 В перем. тока (+20% / -15%)
                      </li>
                    </ul>
                  </div>
                  <div class="description__accordion-table-row">
                    <p class="description__accordion-table-title txt18 txt18_bold">
                      Частота напряжения питающей сети
                    </p>
                    <ul class="description__accordion-table-list">
                      <li class="description__accordion-table-item txt18">50-60 Гц</li>
                    </ul>
                  </div>
                  <div class="description__accordion-table-row">
                    <p class="description__accordion-table-title txt18 txt18_bold">
                      Номинальная потребляемая мощность
                    </p>
                    <ul class="description__accordion-table-list">
                      <li class="description__accordion-table-item txt18">9,2 кВА / 8,7 кВт</li>
                    </ul>
                  </div>
                  <div class="description__accordion-table-row">
                    <p class="description__accordion-table-title txt18 txt18_bold">
                      Коэффициент мощности cos φ
                    </p>
                    <ul class="description__accordion-table-list">
                      <li class="description__accordion-table-item txt18">0,94</li>
                    </ul>
                  </div>
                  <div class="description__accordion-table-row">
                    <p class="description__accordion-table-title txt18 txt18_bold">КПД</p>
                    <ul class="description__accordion-table-list">
                      <li class="description__accordion-table-item txt18">91%</li>
                    </ul>
                  </div>
                  <div class="description__accordion-table-row">
                    <p class="description__accordion-table-title txt18 txt18_bold">
                      Напряжение холостого хода
                    </p>
                    <ul class="description__accordion-table-list">
                      <li class="description__accordion-table-item txt18">54,2 В</li>
                    </ul>
                  </div>
                  <div class="description__accordion-table-row">
                    <p class="description__accordion-table-title txt18 txt18_bold">
                      Диапазон сварочного тока
                    </p>
                    <ul class="description__accordion-table-list">
                      <li class="description__accordion-table-item txt18">30 … 300 A</li>
                    </ul>
                  </div>
                  <div class="description__accordion-table-row">
                    <p class="description__accordion-table-title txt18 txt18_bold">
                      Диапазон сварочного напряжения
                    </p>
                    <ul class="description__accordion-table-list">
                      <li class="description__accordion-table-item txt18">12 … 30 В</li>
                    </ul>
                  </div>
                  <div class="description__accordion-table-row">
                    <p class="description__accordion-table-title txt18 txt18_bold">Каналы параметров</p>
                    <ul class="description__accordion-table-list">
                      <li class="description__accordion-table-item txt18">50 (стандартный)</li>
                    </ul>
                  </div>
                  <div class="description__accordion-table-row">
                    <p class="description__accordion-table-title txt18 txt18_bold">Коррекция длины дуги</p>
                    <ul class="description__accordion-table-list">
                      <li class="description__accordion-table-item txt18">-30 … +30</li>
                    </ul>
                  </div>
                  <div class="description__accordion-table-row">
                    <p class="description__accordion-table-title txt18 txt18_bold">
                      Номинальная нагрузка (ПВ) +40⁰C
                    </p>
                    <ul class="description__accordion-table-list">
                      <li class="description__accordion-table-item txt18">
                        207 A / ПВ 100% ?<br />
                        250 A / ПВ 60% ?
                      </li>
                      <li class="description__accordion-table-item txt18">
                        217 A / ПВ 100% ?<br />
                        280 A / ПВ 60% ?
                      </li>
                    </ul>
                  </div>
                  <div class="description__accordion-table-row">
                    <p class="description__accordion-table-title txt18 txt18_bold">
                      Регулировка скорости подачи проволоки
                    </p>
                    <ul class="description__accordion-table-list">
                      <li class="description__accordion-table-item txt18">0,5 - 28 м/мин</li>
                    </ul>
                  </div>
                  <div class="description__accordion-table-row">
                    <p class="description__accordion-table-title txt18 txt18_bold">Класс изоляции</p>
                    <ul class="description__accordion-table-list">
                      <li class="description__accordion-table-item txt18">H</li>
                    </ul>
                  </div>
                  <div class="description__accordion-table-row">
                    <p class="description__accordion-table-title txt18 txt18_bold">Класс защиты</p>
                    <ul class="description__accordion-table-list">
                      <li class="description__accordion-table-item txt18">IP23 S</li>
                    </ul>
                  </div>
                  <div class="description__accordion-table-row">
                    <p class="description__accordion-table-title txt18 txt18_bold">
                      Требования к электромагнитной совместимости
                    </p>
                    <ul class="description__accordion-table-list">
                      <li class="description__accordion-table-item txt18">по ГОСТ IEC 60974-10-2017</li>
                    </ul>
                  </div>
                  <div class="description__accordion-table-row">
                    <p class="description__accordion-table-title txt18 txt18_bold">Сертификация</p>
                    <ul class="description__accordion-table-list">
                      <li class="description__accordion-table-item txt18">
                        EN60974-10:2014<br />
                        EN60974-1:2012 <br />GB/T15579.1-2013
                      </li>
                      <li class="description__accordion-table-item txt18">GB/T15579.1-2013</li>
                    </ul>
                  </div>
                  <div class="description__accordion-table-row">
                    <p class="description__accordion-table-title txt18 txt18_bold">Рабочая температура</p>
                    <ul class="description__accordion-table-list">
                      <li class="description__accordion-table-item txt18">от -10⁰C до +40⁰C</li>
                    </ul>
                  </div>
                  <div class="description__accordion-table-row">
                    <p class="description__accordion-table-title txt18 txt18_bold">
                      Относительная влажность в работе
                    </p>
                    <ul class="description__accordion-table-list">
                      <li class="description__accordion-table-item txt18">≤ 95%</li>
                    </ul>
                  </div>
                  <div class="description__accordion-table-row">
                    <p class="description__accordion-table-title txt18 txt18_bold">Размеры (Д×Ш×В)</p>
                    <ul class="description__accordion-table-list">
                      <li class="description__accordion-table-item txt18">610 х 260 х 398 мм</li>
                    </ul>
                  </div>
                  <div class="description__accordion-table-row">
                    <p class="description__accordion-table-title txt18 txt18_bold">Масса</p>
                    <ul class="description__accordion-table-list">
                      <li class="description__accordion-table-item txt18">25,4 кг</li>
                      <li class="description__accordion-table-item txt18">23,7 кг</li>
                    </ul>
                  </div>
                  <div class="description__accordion-table-row">
                    <p class="description__accordion-table-title txt18 txt18_bold">Блок подачи проволоки</p>
                    <ul class="description__accordion-table-list">
                      <li class="description__accordion-table-item txt18">встроенный</li>
                      <li class="description__accordion-table-item txt18">облегченный (открытый)</li>
                      <li class="description__accordion-table-item txt18">закрытый</li>
                    </ul>
                  </div>
                  <div class="description__accordion-table-row">
                    <p class="description__accordion-table-title txt18 txt18_bold">
                      Интерфейс для связи с роботом
                    </p>
                    <ul class="description__accordion-table-list">
                      <li
                        class="description__accordion-table-item description__accordion-table-item--empty txt18"
                      >
                        –
                      </li>

                      <li class="description__accordion-table-item txt18">
                        Analog, DeviceNet, CAN Open, MEGMEET CAN, EtherNet/IP
                      </li>
                    </ul>
                  </div>
                  <div class="description__accordion-table-row">
                    <p class="description__accordion-table-title txt18 txt18_bold">Модуль охлаждения</p>
                    <ul class="description__accordion-table-list">
                      <li class="description__accordion-table-item txt18">
                        Воздушное охлаждение, Жидкостное охлаждение (опция)
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="description__accordion-characteristic-box">
                <p class="description__accordion-characteristic-title txt18 txt18_bold">
                  Блок жидкостного охлаждения AnyCool-68 (опция)
                </p>
                <p class="description__accordion-characteristic-text txt18">
                  Cварочные полуавтоматы на базе микропроцессора Ehave CM (CO2/MAG/MMA) предназначены для
                  сварки металлической проволокой и ручной дуговой сварки плавящимся электродом. Аппараты
                  широко применяются в различных отраслях при сварке углеродистой стали: железнодорБлок
                  охлаждения AnyCool-68 - это резервуар для воды, предназначенный для сварочного полуавтомата
                  серии Dex для охлаждения сварочной горелки. Работой бака для воды управляет микропроцессор
                  блока питания. После включения водяного охлаждения начинает работать насос водяного бака.
                  После прекращения сварки насос продолжит работу в течение 3 минут, в течение которых
                  жидкость будет продолжать охлаждать сварочную горелку.ожный транспорт, судостроение,
                  автомобилестроение, производство стальных конструкций, контейнеров, металлообработке,
                  металлической мебели.
                </p>

                <div class="description__accordion-characteristic-list-wrapper">
                  <ul class="description__accordion-characteristic-list">
                    <li class="description__accordion-characteristic-item txt18">
                      <p class="description__accordion-characteristic-item-title txt16">
                        Номинальная мощность:
                      </p>
                      <p class="description__accordion-characteristic-item-text txt16">260 Вт</p>
                    </li>
                    <li class="description__accordion-characteristic-item txt18">
                      <p class="description__accordion-characteristic-item-title txt16">
                        Номинальное напряжение:
                      </p>
                      <p class="description__accordion-characteristic-item-text txt16">AC 380 - 400 В</p>
                    </li>
                    <li class="description__accordion-characteristic-item txt18">
                      <p class="description__accordion-characteristic-item-title txt16">
                        Объём бака охлаждающей жидкости:
                      </p>
                      <p class="description__accordion-characteristic-item-text txt16">6,8 л</p>
                    </li>
                  </ul>
                  <ul class="description__accordion-characteristic-list">
                    <li class="description__accordion-characteristic-item txt18">
                      <p class="description__accordion-characteristic-item-title txt16">
                        Расход охлаждающей жидкости
                      </p>
                      <p class="description__accordion-characteristic-item-text txt16">3,5 л/мин</p>
                    </li>
                    <li class="description__accordion-characteristic-item txt18">
                      <p class="description__accordion-characteristic-item-title txt16">
                        Максимальный напор насоса:
                      </p>
                      <p class="description__accordion-characteristic-item-text txt16">20 м</p>
                    </li>
                    <li class="description__accordion-characteristic-item txt18">
                      <p class="description__accordion-characteristic-item-title txt16">
                        Сигнализация расхода жидкости:
                      </p>
                      <p class="description__accordion-characteristic-item-text txt16">Есть</p>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="description__accordion-characteristic-info-list-box">
                <p class="description__accordion-characteristic-info-list-title txt18 txt18_bold">
                  Блок подачи проволоки для роботизированной сварки
                </p>
                <ul class="description__accordion-characteristic-info-list">
                  <li class="description__accordion-characteristic-info-item txt20">
                    Управление при помощи обратной связи с энкодером.
                  </li>
                  <li class="description__accordion-characteristic-info-item txt20">
                    Легкий блок массой 6,0 кг.
                  </li>
                  <li class="description__accordion-characteristic-info-item txt20">
                    Компактные размеры 230 × 170 × 170 мм.
                  </li>
                  <li class="description__accordion-characteristic-info-item txt20">
                    Евро-разъем в стандартной комплектации, японский разъем опционально.
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="description__accordion-item">
            <div class="description__accordion-item-header">
              <p class="description__accordion-title title-h4">Спецификация</p>
              <div class="description__accordion-svg-wrapper">
                <div class="description__accordion-svg-box">
                  <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M12 0.92572V23.2114"
                      stroke="white"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M0.857422 12H23.1431"
                      stroke="white"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
              </div>
            </div>
            <div class="description__accordion-item-body description__accordion-item-body--table">
              <div class="description__accordion-table-wrapper">
                <div class="description__accordion-table-wrapper-title-box">
                  <p class="description__accordion-table-wrapper-title txt18 txt18_bold">
                    модель полуавтомата:
                  </p>
                </div>
                <div class="description__accordion-table">
                  <div class="description__accordion-table-row">
                    <p class="description__accordion-table-title txt18 txt18_bold">Ручной - компактный</p>
                    <ul class="description__accordion-table-list">
                      <li class="description__accordion-table-item txt18">Dex DM30000</li>
                      <li class="description__accordion-table-item txt18">Dex PM3000</li>
                      <li class="description__accordion-table-item txt18">Dex PM3000Q</li>
                      <li
                        class="description__accordion-table-item description__accordion-table-item--empty txt18"
                      >
                        –
                      </li>
                      <li
                        class="description__accordion-table-item description__accordion-table-item--empty txt18"
                      >
                        –
                      </li>
                      <li
                        class="description__accordion-table-item description__accordion-table-item--empty txt18"
                      >
                        –
                      </li>
                    </ul>
                  </div>
                  <div class="description__accordion-table-row">
                    <p class="description__accordion-table-title txt18 txt18_bold">Ручной - модульный</p>
                    <ul class="description__accordion-table-list">
                      <li
                        class="description__accordion-table-item description__accordion-table-item--empty txt18"
                      >
                        –
                      </li>
                      <li
                        class="description__accordion-table-item description__accordion-table-item--empty txt18"
                      >
                        –
                      </li>
                      <li
                        class="description__accordion-table-item description__accordion-table-item--empty txt18"
                      >
                        –
                      </li>
                      <li class="description__accordion-table-item txt18">Dex DM3000S</li>
                      <li class="description__accordion-table-item txt18">Dex PM3000S</li>
                      <li class="description__accordion-table-item txt18">Dex PM3000QS</li>
                    </ul>
                  </div>
                  <div class="description__accordion-table-row">
                    <p class="description__accordion-table-title txt18 txt18_bold">Роботизированный</p>
                    <ul class="description__accordion-table-list">
                      <li
                        class="description__accordion-table-item description__accordion-table-item--empty txt18"
                      >
                        –
                      </li>
                      <li
                        class="description__accordion-table-item description__accordion-table-item--empty txt18"
                      >
                        –
                      </li>
                      <li
                        class="description__accordion-table-item description__accordion-table-item--empty txt18"
                      >
                        –
                      </li>
                      <li class="description__accordion-table-item txt18">Dex DM3000R</li>
                      <li class="description__accordion-table-item txt18">Dex PM3000R</li>
                      <li class="description__accordion-table-item txt18">Dex PM3000QR</li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="description__accordion-table-wrapper">
                <div class="description__accordion-table-wrapper-title-box">
                  <p class="description__accordion-table-wrapper-title txt18 txt18_bold">
                    Сварочные процессы:
                  </p>
                  <div class="description__accordion-table-wrapper-info-box">
                    <div class="description__accordion-table-wrapper-info">
                      <div class="description__accordion-table-item-img-box">
                        <img src="./assets/images/standart.svg" alt="" />
                      </div>
                      <p class="description__accordion-table-wrapper-info-text txt18">Стандарт</p>
                    </div>
                    <div class="description__accordion-table-wrapper-info">
                      <div class="description__accordion-table-item-img-box">
                        <img src="./assets/images/option.svg" alt="" />
                      </div>
                      <p class="description__accordion-table-wrapper-info-text txt18">Опция</p>
                    </div>
                  </div>
                </div>
                <div class="description__accordion-table">
                  <div class="description__accordion-table-row">
                    <p class="description__accordion-table-title txt18 txt18_bold">
                      Синергетическая сварка MAG/CO₂
                    </p>
                    <ul class="description__accordion-table-list">
                      <li class="description__accordion-table-item txt18">
                        <div class="description__accordion-table-item-img-box">
                          <img src="./assets/images/standart.svg" alt="" />
                        </div>
                      </li>
                      <li class="description__accordion-table-item txt18">
                        <div class="description__accordion-table-item-img-box">
                          <img src="./assets/images/standart.svg" alt="" />
                        </div>
                      </li>
                      <li class="description__accordion-table-item txt18">
                        <div class="description__accordion-table-item-img-box">
                          <img src="./assets/images/standart.svg" alt="" />
                        </div>
                      </li>
                      <li class="description__accordion-table-item txt18">
                        <div class="description__accordion-table-item-img-box">
                          <img src="./assets/images/standart.svg" alt="" />
                        </div>
                      </li>
                      <li class="description__accordion-table-item txt18">
                        <div class="description__accordion-table-item-img-box">
                          <img src="./assets/images/standart.svg" alt="" />
                        </div>
                      </li>
                      <li class="description__accordion-table-item txt18">
                        <div class="description__accordion-table-item-img-box">
                          <img src="./assets/images/standart.svg" alt="" />
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="description__accordion-table-row">
                    <p class="description__accordion-table-title txt18 txt18_bold">
                      Сварка с низким разбрызгиванием
                    </p>
                    <ul class="description__accordion-table-list">
                      <li class="description__accordion-table-item txt18">
                        <div class="description__accordion-table-item-img-box">
                          <img src="./assets/images/standart.svg" alt="" />
                        </div>
                      </li>
                      <li class="description__accordion-table-item txt18">
                        <div class="description__accordion-table-item-img-box">
                          <img src="./assets/images/standart.svg" alt="" />
                        </div>
                      </li>
                      <li class="description__accordion-table-item txt18">
                        <div class="description__accordion-table-item-img-box">
                          <img src="./assets/images/standart.svg" alt="" />
                        </div>
                      </li>
                      <li class="description__accordion-table-item txt18">
                        <div class="description__accordion-table-item-img-box">
                          <img src="./assets/images/standart.svg" alt="" />
                        </div>
                      </li>
                      <li class="description__accordion-table-item txt18">
                        <div class="description__accordion-table-item-img-box">
                          <img src="./assets/images/standart.svg" alt="" />
                        </div>
                      </li>
                      <li class="description__accordion-table-item txt18">
                        <div class="description__accordion-table-item-img-box">
                          <img src="./assets/images/standart.svg" alt="" />
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="description__accordion-table-row">
                    <p class="description__accordion-table-title txt18 txt18_bold">
                      Импульсная сварка MIG/MAG
                    </p>
                    <ul class="description__accordion-table-list">
                      <li
                        class="description__accordion-table-item description__accordion-table-item--empty txt18"
                      >
                        –
                      </li>
                      <li class="description__accordion-table-item txt18">
                        <div class="description__accordion-table-item-img-box">
                          <img src="./assets/images/standart.svg" alt="" />
                        </div>
                      </li>
                      <li class="description__accordion-table-item txt18">
                        <div class="description__accordion-table-item-img-box">
                          <img src="./assets/images/standart.svg" alt="" />
                        </div>
                      </li>
                      <li
                        class="description__accordion-table-item description__accordion-table-item--empty txt18"
                      >
                        –
                      </li>
                      <li class="description__accordion-table-item txt18">
                        <div class="description__accordion-table-item-img-box">
                          <img src="./assets/images/standart.svg" alt="" />
                        </div>
                      </li>
                      <li class="description__accordion-table-item txt18">
                        <div class="description__accordion-table-item-img-box">
                          <img src="./assets/images/standart.svg" alt="" />
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="description__accordion-table-row">
                    <p class="description__accordion-table-title txt18 txt18_bold">
                      Сварка импульсной короткой дугой
                    </p>
                    <ul class="description__accordion-table-list">
                      <li
                        class="description__accordion-table-item description__accordion-table-item--empty txt18"
                      >
                        –
                      </li>
                      <li class="description__accordion-table-item txt18">
                        <div class="description__accordion-table-item-img-box">
                          <img src="./assets/images/option.svg" alt="" />
                        </div>
                      </li>
                      <li class="description__accordion-table-item txt18">
                        <div class="description__accordion-table-item-img-box">
                          <img src="./assets/images/standart.svg" alt="" />
                        </div>
                      </li>
                      <li
                        class="description__accordion-table-item description__accordion-table-item--empty txt18"
                      >
                        –
                      </li>
                      <li class="description__accordion-table-item txt18">
                        <div class="description__accordion-table-item-img-box">
                          <img src="./assets/images/option.svg" alt="" />
                        </div>
                      </li>
                      <li class="description__accordion-table-item txt18">
                        <div class="description__accordion-table-item-img-box">
                          <img src="./assets/images/standart.svg" alt="" />
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="description__accordion-table-row">
                    <p class="description__accordion-table-title txt18 txt18_bold">Сварка MMA</p>
                    <ul class="description__accordion-table-list">
                      <li class="description__accordion-table-item txt18">
                        <div class="description__accordion-table-item-img-box">
                          <img src="./assets/images/standart.svg" alt="" />
                        </div>
                      </li>
                      <li class="description__accordion-table-item txt18">
                        <div class="description__accordion-table-item-img-box">
                          <img src="./assets/images/standart.svg" alt="" />
                        </div>
                      </li>
                      <li class="description__accordion-table-item txt18">
                        <div class="description__accordion-table-item-img-box">
                          <img src="./assets/images/standart.svg" alt="" />
                        </div>
                      </li>
                      <li class="description__accordion-table-item txt18">
                        <div class="description__accordion-table-item-img-box">
                          <img src="./assets/images/standart.svg" alt="" />
                        </div>
                      </li>
                      <li class="description__accordion-table-item txt18">
                        <div class="description__accordion-table-item-img-box">
                          <img src="./assets/images/standart.svg" alt="" />
                        </div>
                      </li>
                      <li class="description__accordion-table-item txt18">
                        <div class="description__accordion-table-item-img-box">
                          <img src="./assets/images/standart.svg" alt="" />
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="description__accordion-table-wrapper">
                <div class="description__accordion-table-wrapper-title-box">
                  <p class="description__accordion-table-wrapper-title txt18 txt18_bold">Материалы</p>
                </div>
                <div class="description__accordion-table">
                  <div class="description__accordion-table-row">
                    <p class="description__accordion-table-title txt18 txt18_bold">Углеродистая сталь</p>
                    <ul class="description__accordion-table-list">
                      <li class="description__accordion-table-item txt18">
                        <div class="description__accordion-table-item-img-box">
                          <img src="./assets/images/standart.svg" alt="" />
                        </div>
                      </li>
                      <li class="description__accordion-table-item txt18">
                        <div class="description__accordion-table-item-img-box">
                          <img src="./assets/images/standart.svg" alt="" />
                        </div>
                      </li>
                      <li class="description__accordion-table-item txt18">
                        <div class="description__accordion-table-item-img-box">
                          <img src="./assets/images/standart.svg" alt="" />
                        </div>
                      </li>
                      <li class="description__accordion-table-item txt18">
                        <div class="description__accordion-table-item-img-box">
                          <img src="./assets/images/standart.svg" alt="" />
                        </div>
                      </li>
                      <li class="description__accordion-table-item txt18">
                        <div class="description__accordion-table-item-img-box">
                          <img src="./assets/images/standart.svg" alt="" />
                        </div>
                      </li>
                      <li class="description__accordion-table-item txt18">
                        <div class="description__accordion-table-item-img-box">
                          <img src="./assets/images/standart.svg" alt="" />
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="description__accordion-table-row">
                    <p class="description__accordion-table-title txt18 txt18_bold">Нержавеющая сталь</p>
                    <ul class="description__accordion-table-list">
                      <li class="description__accordion-table-item txt18">
                        <div class="description__accordion-table-item-img-box">
                          <img src="./assets/images/standart.svg" alt="" />
                        </div>
                      </li>
                      <li class="description__accordion-table-item txt18">
                        <div class="description__accordion-table-item-img-box">
                          <img src="./assets/images/standart.svg" alt="" />
                        </div>
                      </li>
                      <li class="description__accordion-table-item txt18">
                        <div class="description__accordion-table-item-img-box">
                          <img src="./assets/images/standart.svg" alt="" />
                        </div>
                      </li>
                      <li class="description__accordion-table-item txt18">
                        <div class="description__accordion-table-item-img-box">
                          <img src="./assets/images/standart.svg" alt="" />
                        </div>
                      </li>
                      <li class="description__accordion-table-item txt18">
                        <div class="description__accordion-table-item-img-box">
                          <img src="./assets/images/standart.svg" alt="" />
                        </div>
                      </li>
                      <li class="description__accordion-table-item txt18">
                        <div class="description__accordion-table-item-img-box">
                          <img src="./assets/images/standart.svg" alt="" />
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="description__accordion-table-row">
                    <p class="description__accordion-table-title txt18 txt18_bold">Алюминиевые сплавы</p>
                    <ul class="description__accordion-table-list">
                      <li
                        class="description__accordion-table-item description__accordion-table-item--empty txt18"
                      >
                        –
                      </li>
                      <li class="description__accordion-table-item txt18">
                        <div class="description__accordion-table-item-img-box">
                          <img src="./assets/images/standart.svg" alt="" />
                        </div>
                      </li>
                      <li class="description__accordion-table-item txt18">
                        <div class="description__accordion-table-item-img-box">
                          <img src="./assets/images/standart.svg" alt="" />
                        </div>
                      </li>
                      <li
                        class="description__accordion-table-item description__accordion-table-item--empty txt18"
                      >
                        –
                      </li>
                      <li class="description__accordion-table-item txt18">
                        <div class="description__accordion-table-item-img-box">
                          <img src="./assets/images/standart.svg" alt="" />
                        </div>
                      </li>
                      <li class="description__accordion-table-item txt18">
                        <div class="description__accordion-table-item-img-box">
                          <img src="./assets/images/standart.svg" alt="" />
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="description__accordion-table-row">
                    <p class="description__accordion-table-title txt18 txt18_bold">
                      Металл-порошковая проволока
                    </p>
                    <ul class="description__accordion-table-list">
                      <li
                        class="description__accordion-table-item description__accordion-table-item--empty txt18"
                      >
                        –
                      </li>
                      <li
                        class="description__accordion-table-item description__accordion-table-item--empty txt18"
                      >
                        –
                      </li>
                      <li class="description__accordion-table-item txt18">
                        <div class="description__accordion-table-item-img-box">
                          <img src="./assets/images/standart.svg" alt="" />
                        </div>
                      </li>
                      <li
                        class="description__accordion-table-item description__accordion-table-item--empty txt18"
                      >
                        –
                      </li>
                      <li
                        class="description__accordion-table-item description__accordion-table-item--empty txt18"
                      >
                        –
                      </li>
                      <li class="description__accordion-table-item txt18">
                        <div class="description__accordion-table-item-img-box">
                          <img src="./assets/images/standart.svg" alt="" />
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="description__accordion-table-row">
                    <p class="description__accordion-table-title txt18 txt18_bold">Сварка MMA</p>
                    <ul class="description__accordion-table-list">
                      <li class="description__accordion-table-item txt18">
                        <div class="description__accordion-table-item-img-box">
                          <img src="./assets/images/standart.svg" alt="" />
                        </div>
                      </li>
                      <li class="description__accordion-table-item txt18">
                        <div class="description__accordion-table-item-img-box">
                          <img src="./assets/images/standart.svg" alt="" />
                        </div>
                      </li>
                      <li class="description__accordion-table-item txt18">
                        <div class="description__accordion-table-item-img-box">
                          <img src="./assets/images/standart.svg" alt="" />
                        </div>
                      </li>
                      <li class="description__accordion-table-item txt18">
                        <div class="description__accordion-table-item-img-box">
                          <img src="./assets/images/standart.svg" alt="" />
                        </div>
                      </li>
                      <li class="description__accordion-table-item txt18">
                        <div class="description__accordion-table-item-img-box">
                          <img src="./assets/images/standart.svg" alt="" />
                        </div>
                      </li>
                      <li class="description__accordion-table-item txt18">
                        <div class="description__accordion-table-item-img-box">
                          <img src="./assets/images/standart.svg" alt="" />
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="description__accordion-table-img-box">
                <img src="./assets/images/table.webp" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="description__demo-box">
        <div class="description__demo-content-box">
          <p class="description__demo-title tl3">Запишитесь на демонстрацию</p>
          <div class="description__demo-btn-box">
            <p class="description__demo-desc txt18">
              Наши менеджеры помогут подобрать оборудование под Ваши задачи
            </p>
            <button class="description__demo-btn button txt18 txt18_bold" data-popup="#popup__feedback">
              оставить заявку
            </button>
          </div>
        </div>
        <div class="description__demo-img-box">
          <img src="assets/images/description-demo-img.webp" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
