<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__top">
        <div class="footer__logo-wrapper">
          <a href="#" class="footer__logo-box">
            <div class="footer__logo-img-box">
              <img src="./assets/images/logo.webp" alt="" />
            </div>
            <div class="footer__logo-link-box">
              <a href="#" class="footer__logo-link txt18">Скачать каталог PDF</a>
              <a href="#" class="footer__logo-link txt18">Декларации и сертификаты</a>
              <a href="#" class="footer__logo-link txt18">Политика конфиденциальности</a>
            </div>
          </a>
        </div>
        <nav class="footer__nav">
          <ul class="footer__nav-list">
            <li class="footer__nav-item">
              <a href="#" class="footer__nav-link txt18">Продукция</a>
            </li>
            <li class="footer__nav-item">
              <a href="#" class="footer__nav-link txt18"> Вакансии</a>
            </li>
            <li class="footer__nav-item">
              <a href="#" class="footer__nav-link txt18"> Применение</a>
            </li>
            <li class="footer__nav-item">
              <a href="#" class="footer__nav-link txt18">новости</a>
            </li>
            <li class="footer__nav-item">
              <a href="#" class="footer__nav-link txt18"> О компании</a>
            </li>
            <li class="footer__nav-item">
              <a href="#" class="footer__nav-link txt18"> Контакты</a>
            </li>
            <li class="footer__nav-item">
              <a href="#" class="footer__nav-link txt18"> демо-зал</a>
            </li>
          </ul>
        </nav>
        <div class="footer__social-wrapper">
          <div class="footer__social-box">
            <div class="footer__social-svg-box">
              <img src="./assets/images/icons/tel.svg" alt="" />
            </div>
            <div class="footer__social-link-box">
              <a href="tel:+74951080675" class="footer__social-link txt18">8 (495) 108-06-75</a>
            </div>
          </div>
          <div class="footer__social-box">
            <div class="footer__social-svg-box">
              <img src="./assets/images/icons/mail.svg" alt="" />
            </div>
            <div class="footer__social-link-box">
              <a href="mailto:info@megmeet.ru" class="footer__social-link txt18">info@megmeet.ru</a>
              <a href="mailto:marketing@megmeet.ru" class="footer__social-link txt18">marketing@megmeet.ru</a>
            </div>
          </div>
          <div class="footer__social-box">
            <div class="footer__social-svg-box">
              <img src="./assets/images/icons/adress.svg" alt="" />
            </div>
            <div class="footer__social-link-box">
              <div class="footer__social-link txt18">г. Москва, ул. Б. Семеновская, д. 42</div>
            </div>
          </div>
          <div class="footer__social-list">
            <a href="#" class="footer__social-list-link">
              <img src="./assets/images/icons/youtube.svg" alt="" />
            </a>
            <a href="#" class="footer__social-list-link">
              <img src="./assets/images/icons/dzen.svg" alt="" />
            </a>
            <a href="#" class="footer__social-list-link">
              <img src="./assets/images/icons/telegram.svg" alt="" />
            </a>
          </div>
        </div>
      </div>
      <div class="footer__bottom">
        <p class="footer__copyright txt18">© ООО «МегмитВелдинг» 2024 г.</p>
        <a class="footer__request" href="#">
          <p class="footer__request-text">Разработано</p>
          <div class="footer__request-img-box">
            <img src="./assets/images/icons/request-logo.svg" alt="" />
          </div>
          <p class="footer__request-text-logo">Request <span>Design</span></p>
        </a>
      </div>
    </div>
  </div>
</footer>
