<section class="irreplaceable">
  <div class="irreplaceable__container container">
    <div class="irreplaceable__left">
      <div class="irreplaceable__title tl2">незаменимые инструменты</div>
      <div class="irreplaceable__text txt20 bold green">
        Сварочные полуавтоматы используются во многих сферах. Они обеспечивают качественное выполнение
        сварочных работ в разнообразных условиях.
      </div>
      <div class="irreplaceable__text txt20">
        Сварочные полуавтоматы Megmeet уже более 10 лет эффективно используются на производствах во всем мире
        в задачах автоматизации и роботизации сварочных процессов, на конвейерах, а также в качестве средств
        ручной сварки в тяжелых, иногда практически экстремальных климатических и производственных условиях.
        Насчитывается более 10 сфер, где продукция Megmeet является неотъемлемым инструментом
      </div>
    </div>
    <picture class="irreplaceable__right">
      <source media="(min-width: 48em)" srcset="./assets/images/irreplaceable-img.webp" />
      <source media="(max-width: 48em)" srcset="./assets/images/irreplaceable-img-mobile.webp" />
      <img src="./assets/images/irreplaceable-img.webp" alt="" />
    </picture>
  </div>
</section>
