<section class="main-banner _first">
  <div class="container">
    <div class="main-banner__inner">
      <div class="main-banner__title-box">
        <p class="main-banner__title tl1">Промышленное сварочное оборудование</p>
      </div>
      <div class="main-banner__img-wrapper">
        <div class="main-banner__img-bg-box">
          <img src="./assets/images/main-banner-bg.svg" alt="" />
        </div>
        <div class="main-banner__img-box">
          <img src="./assets/images/main-banner-img.webp" alt="" />
        </div>
      </div>
      <div class="main-banner__num-box desktop">
        <div class="main-banner__num-img-wrapper">
          <div class="main-banner__num-img-box">
            <img src="./assets/images/main-banner-img-min-2.webp" alt="" />
          </div>
          <div class="main-banner__num-img-box">
            <img src="./assets/images/main-banner-img-min-1.webp" alt="" />
          </div>
        </div>
        <div class="main-banner__num-wrapper">
          <p class="main-banner__num tl2">1000+</p>
          <p class="main-banner__num-text txt16">покупателей</p>
        </div>
      </div>
      <p class="main-banner__text txt20">
        Прогрессивные полностью цифровые сварочные полуавтоматы для высоконагруженного производства
      </p>
      <div class="main-banner__arrow-box desktop">
        <p class="main-banner__text txt20">
          Обслуживаем наших клиентов по всему миру, используя отраслевой опыт, качественную продукцию и
          оптимальные решения.
        </p>
        <a href="#numbers" class="main-banner__arrow-wrapper nav-link">
          <div class="main-banner__arrow-swg-box">
            <svg width="8" height="41" viewBox="0 0 8 41" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M3.64644 40.3536C3.84171 40.5488 4.15829 40.5488 4.35355 40.3536L7.53553 37.1716C7.73079 36.9763 7.73079 36.6597 7.53553 36.4645C7.34027 36.2692 7.02369 36.2692 6.82843 36.4645L4 39.2929L1.17157 36.4645C0.976309 36.2692 0.659727 36.2692 0.464465 36.4645C0.269202 36.6597 0.269202 36.9763 0.464464 37.1716L3.64644 40.3536ZM3.5 -2.18557e-08L3.5 40L4.5 40L4.5 2.18557e-08L3.5 -2.18557e-08Z"
                fill="#191817"
              />
            </svg>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
