<section class="products-banner">
  <div class="container products-banner__container">
    <div class="products-banner__inner">
      <div class="products-banner__img-wrapper">
        <div class="products-banner__img-bg-box">
          <img src="./assets/images/products-banner-bg.svg" alt="" />
        </div>
        <div class="products-banner__img-box">
          <img src="./assets/images/products-banner-img.webp" alt="" />
        </div>
      </div>
      <p class="products-banner__title tl1">Продукция mgt</p>
      <div class="products-banner__btn-box">
        <button class="products-banner__btn button txt18 txt18_bold" data-popup="#popup__choice">
          помочь с выбором
        </button>
        <p class="products-banner__text txt18">
          Мощная электроника, компьютерные технологии и знания позволили компании Megmeet разработать
          прогрессивные полностью цифровые сварочные полуавтоматы
        </p>
      </div>
    </div>
  </div>
</section>
