<section class="product-banner">
  <div class="container">
    <div class="product-banner__inner">
      <p class="product-banner__title tl3">Серия ARTSEN II CM/PM (MARS)</p>
      <div class="product-banner__swiper-box">
        <div class="product-banner__swiper-info-box">
          <div class="product-banner__swiper-title-box">
            <p class="product-banner__swiper-desc txt16">Модель</p>
            <p class="product-banner__swiper-title">PM500/400 AD</p>
          </div>
          <div class="product-banner__nav-box">
            <div class="product-banner__swiper-garanty-box">
              <div class="product-banner__swiper-garanty-img-box">
                <img src="./assets/images/product-banner-garanty.webp" alt="" />
              </div>
              <div class="product-banner__swiper-garanty-text">36 месяцев гарантии</div>
            </div>
            <div class="product-banner__swiper-navigation swiper-navigation desktop">
              <div class="product-banner__swiper-navigation--left swiper-navigation--left">
                <svg width="8" height="41" viewBox="0 0 8 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M4.35355 0.646446C4.15829 0.451183 3.84171 0.451183 3.64645 0.646446L0.464466 3.82843C0.269204 4.02369 0.269204 4.34027 0.464466 4.53553C0.659728 4.7308 0.976311 4.7308 1.17157 4.53553L4 1.70711L6.82843 4.53553C7.02369 4.7308 7.34027 4.7308 7.53553 4.53553C7.7308 4.34027 7.7308 4.02369 7.53553 3.82843L4.35355 0.646446ZM4.5 41L4.5 1H3.5L3.5 41H4.5Z"
                    fill="#191817"
                  />
                </svg>
              </div>
              <div class="product-banner__swiper-navigation--right swiper-navigation--right">
                <svg width="8" height="41" viewBox="0 0 8 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M3.64645 40.3536C3.84171 40.5488 4.15829 40.5488 4.35355 40.3536L7.53553 37.1716C7.7308 36.9763 7.7308 36.6597 7.53553 36.4645C7.34027 36.2692 7.02369 36.2692 6.82843 36.4645L4 39.2929L1.17157 36.4645C0.976311 36.2692 0.659728 36.2692 0.464466 36.4645C0.269204 36.6597 0.269204 36.9763 0.464466 37.1716L3.64645 40.3536ZM3.5 0L3.5 40H4.5L4.5 0L3.5 0Z"
                    fill="#191817"
                  />
                </svg>
              </div>
            </div>
          </div>
        </div>
        <div class="product-banner__swiper-wrapper-block">
          <div class="product-banner__swiper swiper">
            <div class="product-banner__swiper-wrapper swiper-wrapper">
              <div class="product-banner__swiper-slide swiper-slide">
                <div class="product-banner__slide-inner">
                  <img src="./assets/images/product-banner-img.webp" alt="" />
                </div>
              </div>
              <div class="product-banner__swiper-slide swiper-slide">
                <div class="product-banner__slide-inner">
                  <img src="./assets/images/main-banner-img.webp" alt="" />
                </div>
              </div>
              <div class="product-banner__swiper-slide swiper-slide">
                <div class="product-banner__slide-inner">
                  <img src="./assets/images/product-banner-img.webp" alt="" />
                </div>
              </div>
              <div class="product-banner__swiper-slide swiper-slide">
                <div class="product-banner__slide-inner">
                  <img src="./assets/images/main-banner-img.webp" alt="" />
                </div>
              </div>
              <div class="product-banner__swiper-slide swiper-slide">
                <div class="product-banner__slide-inner">
                  <img src="./assets/images/product-banner-img.webp" alt="" />
                </div>
              </div>
            </div>
          </div>

          <div class="product-banner__pagination-box">
            <span class="product-banner__pagination-num product-banner__pagination-num--cur">01</span>
            <div class="product-banner__pagination"></div>
            <span class="product-banner__pagination-num product-banner__pagination-num--last">02</span>
          </div>
        </div>
      </div>
      <div class="product-banner__info-wrapper">
        <div class="product-banner__info-box">
          <div class="product-banner__select-row">
            <div class="product-banner__selector">
              <div class="product-banner__selector-top">
                <span class="product-banner__selector-text">Роботизированный</span>
                <div class="product-banner__selector-svg-wrapper">
                  <div class="product-banner__selector-svg-box">
                    <svg
                      width="14"
                      height="14"
                      viewBox="0 0 14 14"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M0.5 3.85001L6.65 9.70574C6.69489 9.75128 6.74911 9.78758 6.80931 9.81239C6.8695 9.8372 6.9344 9.85001 7 9.85001C7.0656 9.85001 7.1305 9.8372 7.19069 9.81239C7.25089 9.78758 7.30511 9.75128 7.35 9.70574L13.5 3.85001"
                        stroke="#191817"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </div>
                </div>
              </div>
              <div class="product-banner__selector-bottom">
                <div class="product-banner__selector-bottom-list">

             
                <div class="product-banner__selector-item active">Роботизированный</div>
                <div class="product-banner__selector-item">Роботизированный1</div>
                <div class="product-banner__selector-item">Роботизированный2</div>
                <div class="product-banner__selector-item">Роботизированный3</div>
                <div class="product-banner__selector-item">Роботизированный4</div>
                <div class="product-banner__selector-item">Роботизированный5</div>
                <div class="product-banner__selector-item">Роботизированный6</div>
                <div class="product-banner__selector-item">Роботизированный7</div>
                <div class="product-banner__selector-item">Роботизированный8</div>
                <div class="product-banner__selector-item">Роботизированный9</div>
                <div class="product-banner__selector-item">Роботизированный</div>
                <div class="product-banner__selector-item">Роботизированный1</div>
                <div class="product-banner__selector-item">Роботизированный2</div>
                <div class="product-banner__selector-item">Роботизированный3</div>
                <div class="product-banner__selector-item">Роботизированный4</div>
                <div class="product-banner__selector-item">Роботизированный5</div>
                <div class="product-banner__selector-item">Роботизированный6</div>
                <div class="product-banner__selector-item">Роботизированный7</div>
                <div class="product-banner__selector-item">Роботизированный8</div>
                <div class="product-banner__selector-item">Роботизированный9</div>
              </div>
            </div>
            </div>

            <div class="product-banner__selector">
              <div class="product-banner__selector-top">
                <span class="product-banner__selector-text">PM500/400 AD</span>
                <div class="product-banner__selector-svg-wrapper">
                  <div class="product-banner__selector-svg-box">
                    <svg
                      width="14"
                      height="14"
                      viewBox="0 0 14 14"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M0.5 3.85001L6.65 9.70574C6.69489 9.75128 6.74911 9.78758 6.80931 9.81239C6.8695 9.8372 6.9344 9.85001 7 9.85001C7.0656 9.85001 7.1305 9.8372 7.19069 9.81239C7.25089 9.78758 7.30511 9.75128 7.35 9.70574L13.5 3.85001"
                        stroke="#191817"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </div>
                </div>
              </div>
              <div class="product-banner__selector-bottom">
                <div class="product-banner__selector-bottom-list">
                  
                  <div class="product-banner__selector-item active">PM500/400 AD</div>
                  <div class="product-banner__selector-item">PM500/500 AD</div>
                  <div class="product-banner__selector-item">PM500/600 AD</div>
                  <div class="product-banner__selector-item">PM500/700 AD</div>
                </div>
              </div>
            </div>
          </div>
          <div class="product-banner__content-box">
            <div class="product-banner__characteristic-box">
              <p class="product-banner__characteristic-title txt18 txt18_bold">характеристики</p>
              <div class="product-banner__characteristic-list-wrapper">
                <div class="product-banner__characteristic-list-box product-banner__characteristic-list-box--show">
                <ul class="product-banner__characteristic-list ">
                  <li class="product-banner__characteristic-item">
                    <p class="product-banner__characteristic-item-title txt16">Режимы:</p>
                    <p class="product-banner__characteristic-name txt18">MAG/CO₂, FCAW, MMA</p>
                  </li>
                  <li class="product-banner__characteristic-item">
                    <p class="product-banner__characteristic-item-title txt16">Питание:</p>
                    <p class="product-banner__characteristic-name txt18">380 В</p>
                  </li>
                  <li class="product-banner__characteristic-item">
                    <p class="product-banner__characteristic-item-title txt16">Сварка:</p>
                    <p class="product-banner__characteristic-name txt18">углеродистая сталь</p>
                  </li>
                  <li class="product-banner__characteristic-item">
                    <p class="product-banner__characteristic-item-title txt16">Диаметр проволоки:</p>
                    <p class="product-banner__characteristic-name txt18">0,8 - 1,6 мм</p>
                  </li>
                  <li class="product-banner__characteristic-item">
                    <p class="product-banner__characteristic-item-title txt16">Масса:</p>
                    <p class="product-banner__characteristic-name txt18">48 - 55 кг</p>
                  </li>
                  <li class="product-banner__characteristic-item">
                    <p class="product-banner__characteristic-item-title txt16">Питание:</p>
                    <p class="product-banner__characteristic-name txt18">380 В</p>
                  </li>
                </ul></div>
                <div class="product-banner__characteristic-list-box product-banner__characteristic-list-box--hide">
                <ul class="product-banner__characteristic-list ">
                  <li class="product-banner__characteristic-item">
                    <p class="product-banner__characteristic-item-title txt16">Режимы:</p>
                    <p class="product-banner__characteristic-name txt18">MAG/CO₂, FCAW, MMA</p>
                  </li>
                  <li class="product-banner__characteristic-item">
                    <p class="product-banner__characteristic-item-title txt16">Питание:</p>
                    <p class="product-banner__characteristic-name txt18">380 В</p>
                  </li>
                  <li class="product-banner__characteristic-item">
                    <p class="product-banner__characteristic-item-title txt16">Сварка:</p>
                    <p class="product-banner__characteristic-name txt18">углеродистая сталь</p>
                  </li>
                  <li class="product-banner__characteristic-item">
                    <p class="product-banner__characteristic-item-title txt16">Диаметр проволоки:</p>
                    <p class="product-banner__characteristic-name txt18">0,8 - 1,6 мм</p>
                  </li>
                  <li class="product-banner__characteristic-item">
                    <p class="product-banner__characteristic-item-title txt16">Масса:</p>
                    <p class="product-banner__characteristic-name txt18">48 - 55 кг</p>
                  </li>
                  <li class="product-banner__characteristic-item">
                    <p class="product-banner__characteristic-item-title txt16">Питание:</p>
                    <p class="product-banner__characteristic-name txt18">380 В</p>
                  </li>
                </ul></div>
              </div>
            </div>
            <div class="product-banner__btn-box">
              <div class="product-banner__show-more-btn-box">
                <button class="product-banner__show-more-btn product-banner__show-more-btn--show">
                  Показать еще
                  <div class="product-banner__show-more-svg-box">
                    <svg viewBox="0 0 41 9" fill="none">
                      <path
                        d="M40.8536 4.85355C41.0488 4.65829 41.0488 4.34171 40.8536 4.14645L37.6716 0.964466C37.4763 0.769204 37.1597 0.769204 36.9645 0.964466C36.7692 1.15973 36.7692 1.47631 36.9645 1.67157L39.7929 4.5L36.9645 7.32843C36.7692 7.52369 36.7692 7.84027 36.9645 8.03553C37.1597 8.2308 37.4763 8.2308 37.6716 8.03553L40.8536 4.85355ZM0.5 5H40.5V4H0.5V5Z"
                        fill="#00A499"
                      ></path>
                    </svg>
                  </div>
                </button>
                <button class="product-banner__show-more-btn product-banner__show-more-btn--hidden">
                  Скрыть
                  <div class="product-banner__show-more-svg-box">
                    <svg viewBox="0 0 41 9" fill="none">
                      <path
                        d="M40.8536 4.85355C41.0488 4.65829 41.0488 4.34171 40.8536 4.14645L37.6716 0.964466C37.4763 0.769204 37.1597 0.769204 36.9645 0.964466C36.7692 1.15973 36.7692 1.47631 36.9645 1.67157L39.7929 4.5L36.9645 7.32843C36.7692 7.52369 36.7692 7.84027 36.9645 8.03553C37.1597 8.2308 37.4763 8.2308 37.6716 8.03553L40.8536 4.85355ZM0.5 5H40.5V4H0.5V5Z"
                        fill="#00A499"
                      ></path>
                    </svg>
                  </div>
                </button>
              </div>

              <a href="#" class="product-banner__link">
                руководство по эксплуатации
                <div class="product-banner__link-svg-box">
                  <svg viewBox="0 0 41 9" fill="none">
                    <path
                      d="M40.8536 4.85355C41.0488 4.65829 41.0488 4.34171 40.8536 4.14645L37.6716 0.964466C37.4763 0.769204 37.1597 0.769204 36.9645 0.964466C36.7692 1.15973 36.7692 1.47631 36.9645 1.67157L39.7929 4.5L36.9645 7.32843C36.7692 7.52369 36.7692 7.84027 36.9645 8.03553C37.1597 8.2308 37.4763 8.2308 37.6716 8.03553L40.8536 4.85355ZM0.5 5H40.5V4H0.5V5Z"
                      fill="#00A499"
                    ></path>
                  </svg>
                </div>
              </a>
            </div>
          </div>
        </div>

        <button class="product-banner__btn button txt18 txt18_bold" data-popup="#popup__choice">
          Помочь с выбором
        </button>
      </div>
    </div>
  </div>
</section>
