<section class="vacancies-banner">
  <div class="vacancies-banner__container container">
    <div class="vacancies-banner__inner">
      <div class="vacancies-banner__bg-box">
        <img class="desktop" src="./assets/images/vacancies-banner-bg.webp" alt="" />
        <img class="mobile" src="./assets/images/vacancies-banner-bg-mob.webp" alt="" />
      </div>
      <div class="vacancies-banner__content-box">
        <p class="vacancies-banner__title tl1">
          Вакансии <br />
          компании
        </p>
        <p class="vacancies-banner__desc txt20">
          В настоящее время у нас имеются актуальные вакансии, мы стремимся расширить нашу команду высоко
          квалифицированных профессионалов. Если вы готовы присоединиться к нам и внести свой вклад в развитие
          компании, отправьте свое резюме
        </p>
      </div>
    </div>
  </div>
</section>
