@font-face {
  font-family: 'EuclidCircularA';
  src: url('./assets/fonts/EuclidCircularA-Regular.woff2') format('woff2'),
    url('./assets/fonts/EuclidCircularA-Regular.woff') format('woff'),
    url('./assets/fonts/EuclidCircularA-Regular.eot') format('eot');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'EuphemiaUCAS';
  src: url('./assets/fonts/EuphemiaUCAS-Bold.woff2') format('woff2'),
    url('./assets/fonts/EuphemiaUCAS-Bold.woff') format('woff'),
    url('./assets/fonts/EuphemiaUCAS-Bold.eot') format('eot');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'EuphemiaUCAS';
  src: url('./assets/fonts/EuphemiaUCAS-Regular.woff2') format('woff2'),
    url('./assets/fonts/EuphemiaUCAS-Regular.woff') format('woff'),
    url('./assets/fonts/EuphemiaUCAS-Regular.eot') format('eot');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Europeextendedc';
  src: url('./assets/fonts/Europeextendedc-Bold.woff2') format('woff2'),
    url('./assets/fonts/Europeextendedc-Bold.woff') format('woff'),
    url('./assets/fonts/Europeextendedc-Bold.eot') format('eot');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Exan';
  src: url('./assets/fonts/Exan-Regular.woff2') format('woff2'),
    url('./assets/fonts/Exan-Regular.woff') format('woff'),
    url('./assets/fonts/Exan-Regular.eot') format('eot');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-Regular.woff2') format('woff2'),
    url('./assets/fonts/Inter-Regular.woff') format('woff'),
    url('./assets/fonts/Inter-Regular.eot') format('eot');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Jura';
  src: url('./assets/fonts/Jura-SemiBold.woff2') format('woff2'),
    url('./assets/fonts/Jura-SemiBold.woff') format('woff'),
    url('./assets/fonts/Jura-SemiBold.eot') format('eot');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Jura';
  src: url('./assets/fonts/Jura-Bold.woff2') format('woff2'),
    url('./assets/fonts/Jura-Bold.woff') format('woff'), url('./assets/fonts/Jura-Bold.eot') format('eot');
  font-weight: 700;
  font-style: normal;
}
