<section class="application wow animate__fadeInUp">
  <div class="container application__container">
    <div class="application__inner">
      <p class="application__title tl1">Оставить заявку</p>
      <form action="" class="application__form">
        <div class="application__form-box">
          <div class="application__input input">
            <label for="name">Имя</label>
            <input type="text" id="name" placeholder="Введите имя" />
          </div>
          <div class="application__input input input--tel">
            <label for="tel">Телефон</label>
            <input type="text" id="tel" placeholder="Введите номер телефона" class="phone-mask" />
          </div>
          <div class="application__input input">
            <label for="mail">Почта</label>
            <input type="text" id="mail" placeholder="Введите почту" />
          </div>
          <div class="application__input drop-down">
            <label for="type">Тип сайта</label>
            <input type="text" id="type" placeholder="Выберите тип" readonly />
            <div class="drop-down__arrow">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                <path
                  d="M5.92983 14.93L11.9998 21L18.0698 14.93"
                  stroke="#787878"
                  stroke-width="1.5"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M12 3.99996L12 20.83"
                  stroke="#787878"
                  stroke-width="1.5"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
            <ul class="drop-down__menu">
              <li class="drop-down__menu-item">Портал</li>
              <li class="drop-down__menu-item">Интернет-магазин</li>
              <li class="drop-down__menu-item">Приложение</li>
              <li class="drop-down__menu-item">Брендинг</li>
              <li class="drop-down__menu-item">Продвижение</li>
              <li class="drop-down__menu-item">Лендинг</li>
              <li class="drop-down__menu-item">Tilda</li>
              <li class="drop-down__menu-item">Bitrix</li>
              <li class="drop-down__menu-item">Корпоративный</li>
            </ul>
          </div>
          <div class="application__input input comment">
            <label for="comment">Комментарий</label>
            <input type="text" id="comment" placeholder="Введите текст" />
          </div>
        </div>
        <button type="submit" class="application__button button">
          <span class="button-text txt18">Оставьте заявку</span>
          <div class="button-svg-box">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
              <path
                d="M15.4007 19.0403L21.4707 12.9703L15.4007 6.90027"
                stroke="white"
                stroke-width="1.5"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
              <path
                d="M4.47078 12.9702L21.3008 12.9702"
                stroke="white"
                stroke-width="1.5"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
            </svg>
          </div>
        </button>
      </form>
    </div>
  </div>
</section>
