<section class="cases wow animate__fadeInUp">
  <div class="container">
    <div class="cases__head">
      <div class="cases__head-title">
        <p class="tl1">Недвижимость онлайн</p>
        <p class="txt18">Корпоративный сайт по купле-продажи нежвижимости</p>
      </div>

      <div class="cases__head-btns">
        <a href="#" class="cases__link">
          <span class="cases__link-svg">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
              <path
                d="M9.57 19.0401L3.5 12.9701L9.57 6.90015"
                stroke="black"
                stroke-width="1.5"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M20.4999 12.9702L3.66992 12.9702"
                stroke="black"
                stroke-width="1.5"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </span>

          <span class="cases__link-text">Назад</span>
        </a>
        <button class="cases__button button">
          <span class="button-text cases__button-text txt18">Сайт</span>
          <span class="button-svg-box">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
              <path
                d="M15.4007 19.0401L21.4707 12.9701L15.4007 6.90015"
                stroke="white"
                stroke-width="1.5"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M4.47078 12.9702L21.3008 12.9702"
                stroke="white"
                stroke-width="1.5"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </span>
        </button>
      </div>
    </div>

    <div class="cases__img">
      <img src="./assets/images/case-sample-1.webp" alt="" />
    </div>

    <button class="cases__scroll-btn">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <path
          d="M18.0697 9.57L11.9997 3.5L5.92969 9.57"
          stroke="white"
          stroke-width="1.5"
          stroke-miterlimit="10"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M12 20.4999V3.66992"
          stroke="white"
          stroke-width="1.5"
          stroke-miterlimit="10"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
  </div>
</section>
