<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__top">
        <div class="footer__top-list-wrapper footer__top-list-wrapper--about">
          <p class="footer__top-list-title txt18_nav txt18_nav--bold">О нас</p>
          <ul class="footer__top-list">
            <li class="footer__top-item">
              <a href="#" class="footer__top-item-link txt18_nav"> Портфолио</a>
            </li>
            <li class="footer__top-item">
              <a href="#" class="footer__top-item-link txt18_nav"> Продвижение</a>
            </li>
            <li class="footer__top-item">
              <a href="#" class="footer__top-item-link txt18_nav"> Сайты</a>
            </li>
            <li class="footer__top-item">
              <a href="#" class="footer__top-item-link txt18_nav"> Услуги</a>
            </li>
            <li class="footer__top-item">
              <a href="#" class="footer__top-item-link txt18_nav"> Публикации</a>
            </li>
            <li class="footer__top-item">
              <a href="#" class="footer__top-item-link txt18_nav"> Контакты</a>
            </li>
          </ul>
        </div>
        <div class="footer__top-list-wrapper footer__top-list--serv">
          <p class="footer__top-list-title txt18_nav txt18_nav--bold">Услуги</p>
          <ul class="footer__top-list">
            <li class="footer__top-item">
              <a href="#" class="footer__top-item-link txt18_nav"> Сайты</a>
            </li>
            <li class="footer__top-item">
              <a href="#" class="footer__top-item-link txt18_nav"> Интернет-магазины</a>
            </li>
            <li class="footer__top-item">
              <a href="#" class="footer__top-item-link txt18_nav"> Порталы</a>
            </li>
            <li class="footer__top-item">
              <a href="#" class="footer__top-item-link txt18_nav"> Приложение</a>
            </li>
            <li class="footer__top-item">
              <a href="#" class="footer__top-item-link txt18_nav"> Продвижение</a>
            </li>
            <li class="footer__top-item">
              <a href="#" class="footer__top-item-link txt18_nav"> Лендинг</a>
            </li>
          </ul>
        </div>
        <div class="footer__top-list-wrapper footer__top-list-wrapper--contacts">
          <p class="footer__top-list-title txt18_nav txt18_nav--bold">Контакты</p>
          <ul class="footer__top-list">
            <li class="footer__top-item">
              <a href="tel:+74959999999" class="footer__top-item-link txt18_nav"> +7 (495) 999 99 99</a>
            </li>
            <li class="footer__top-item">
              <a href="mailto:diamondtherough@mail.ru" class="footer__top-item-link txt18_nav">
                diamondtherough@mail.ru</a
              >
            </li>
            <li class="footer__top-item">
              <p class="footer__top-item-text txt18_nav">Москва, м. ВДНХ</p>
            </li>
          </ul>
        </div>
        <a href="#" class="footer__top-logo-wrapper">
          <div class="footer__logo-box txt18_nav txt18_nav--bold">
            <span class="footer__logo-text logo-text">Diamond</span>
            <div class="footer__logo-svg-box">
              <img src="./assets/images/logo.svg" alt="" />
            </div>
            <span class="footer__logo-text logo-text">Rough</span>
          </div>
        </a>
      </div>
      <div class="footer__bottom">
        <p class="footer__bottom-text txt18_nav eng">2024</p>
        <span class="txt18_nav">|</span>
        <p class="footer__bottom-text txt18_nav">Политика конфиденциальности</p>
        <span class="txt18_nav">|</span>
        <p class="footer__bottom-text txt18_nav">@Все права защищены</p>
      </div>
    </div>
  </div>
</footer>
