<section class="hero-main wow animate__fadeInUp">
  <div class="container hero-main__container">
    <div class="hero-main__inner">
      <ul class="hero-main__list">
        <li class="hero-main__item">
          <a href="#" class="hero-main__item-link">
            <div class="hero-main__item-info-text-box">
              <p class="hero-main__item-info-category txt18">Бриффинг</p>
              <p class="hero-main__item-info-title txt18">Аналитика</p>
            </div>
            <p class="hero-main__item-info-num txt18">#1</p>
          </a>
        </li>
        <li class="hero-main__item">
          <a href="#" class="hero-main__item-link">
            <div class="hero-main__item-info-text-box">
              <p class="hero-main__item-info-category txt18">Разработка</p>
              <p class="hero-main__item-info-title txt18">Сайта</p>
            </div>
            <p class="hero-main__item-info-num txt18">#2</p>
          </a>
        </li>
        <li class="hero-main__item">
          <a href="#" class="hero-main__item-link">
            <div class="hero-main__item-info-text-box">
              <p class="hero-main__item-info-category txt18">SEO</p>
              <p class="hero-main__item-info-title txt18">Продвижение</p>
            </div>
            <p class="hero-main__item-info-num txt18">#3</p>
          </a>
        </li>
      </ul>
      <div class="hero-main__title-box">
        <p class="hero-main__title tl1">Разработка сайтов всех типов</p>
        <button class="hero-main__btn button" id="openApplicationModal">
          <span class="hero-main__btn-text button-text txt18">Оставить заявку</span>

          <div class="hero-main__btn-svg-box button-svg-box">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
              <path
                d="M15.4007 19.0403L21.4707 12.9703L15.4007 6.90027"
                stroke="white"
                stroke-width="1.5"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M4.47078 12.9702L21.3008 12.9702"
                stroke="white"
                stroke-width="1.5"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </button>
      </div>
    </div>
  </div>
</section>
