<section class="our-services wow animate__fadeInUp">
  <div class="container">
    <div class="our-services__inner">
      <ul class="our-services__list">
        <li class="our-services__item">
          <a href="#" class="our-services__item-link">
            <div class="our-services__item-img-box">
              <img src="./assets/images/services-list-1.webp" alt="" />
            </div>
            <p class="our-services__item-title txt18_lh">Лендинг</p>
            <div class="our-services__item-svg-box">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path
                  d="M14.43 18.07L20.5 12L14.43 5.92999"
                  stroke="#787878"
                  stroke-width="1.5"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M3.49996 12L20.33 12"
                  stroke="#787878"
                  stroke-width="1.5"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </a>
        </li>
        <li class="our-services__item">
          <a href="#" class="our-services__item-link">
            <div class="our-services__item-img-box">
              <img src="./assets/images/services-list-2.webp" alt="" />
            </div>
            <p class="our-services__item-title txt18_lh">Корпоративный</p>
            <div class="our-services__item-svg-box">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path
                  d="M14.43 18.07L20.5 12L14.43 5.92999"
                  stroke="#787878"
                  stroke-width="1.5"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M3.49996 12L20.33 12"
                  stroke="#787878"
                  stroke-width="1.5"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </a>
        </li>
        <li class="our-services__item">
          <a href="#" class="our-services__item-link">
            <div class="our-services__item-img-box">
              <img src="./assets/images/services-list-3.webp" alt="" />
            </div>
            <p class="our-services__item-title txt18_lh">Каталог</p>
            <div class="our-services__item-svg-box">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path
                  d="M14.43 18.07L20.5 12L14.43 5.92999"
                  stroke="#787878"
                  stroke-width="1.5"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M3.49996 12L20.33 12"
                  stroke="#787878"
                  stroke-width="1.5"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </a>
        </li>
        <li class="our-services__item">
          <a href="#" class="our-services__item-link">
            <div class="our-services__item-img-box">
              <img src="./assets/images/services-list-4.webp" alt="" />
            </div>
            <p class="our-services__item-title txt18_lh">Магазин</p>
            <div class="our-services__item-svg-box">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path
                  d="M14.43 18.07L20.5 12L14.43 5.92999"
                  stroke="#787878"
                  stroke-width="1.5"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M3.49996 12L20.33 12"
                  stroke="#787878"
                  stroke-width="1.5"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </a>
        </li>
        <li class="our-services__item">
          <a href="#" class="our-services__item-link">
            <div class="our-services__item-img-box">
              <img src="./assets/images/services-list-5.webp" alt="" />
            </div>
            <p class="our-services__item-title txt18_lh">Портал</p>
            <div class="our-services__item-svg-box">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path
                  d="M14.43 18.07L20.5 12L14.43 5.92999"
                  stroke="#787878"
                  stroke-width="1.5"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M3.49996 12L20.33 12"
                  stroke="#787878"
                  stroke-width="1.5"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </a>
        </li>
        <!-- <li class="our-services__item">
          <a href="#" class="our-services__item-link">
            <div class="our-services__item-img-box">
              <img src="./assets/images/services-list-6.webp" alt="" />
            </div>
            <p class="our-services__item-title txt18_lh eng">SEO</p>
            <div class="our-services__item-svg-box">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path
                  d="M14.43 18.07L20.5 12L14.43 5.92999"
                  stroke="#787878"
                  stroke-width="1.5"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M3.49996 12L20.33 12"
                  stroke="#787878"
                  stroke-width="1.5"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </a>
        </li>
        <li class="our-services__item">
          <a href="#" class="our-services__item-link">
            <div class="our-services__item-img-box">
              <img src="./assets/images/services-list-7.webp" alt="" />
            </div>
            <p class="our-services__item-title txt18_lh">Контекст</p>
            <p class="our-services__item-svg-box">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path
                  d="M14.43 18.07L20.5 12L14.43 5.92999"
                  stroke="#787878"
                  stroke-width="1.5"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M3.49996 12L20.33 12"
                  stroke="#787878"
                  stroke-width="1.5"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </p>
          </a>
        </li> -->
      </ul>
      <div class="our-services__title-box">
        <p class="our-services__title tl1">Предоставляемые услуги</p>
        <button class="our-services__btn button" id="openApplicationModal">
          <span class="our-services__btn-text button-text txt18">Оставьте заявку</span>

          <div class="our-services__btn-svg-box button-svg-box">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
              <path
                d="M15.4007 19.0403L21.4707 12.9703L15.4007 6.90027"
                stroke="white"
                stroke-width="1.5"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M4.47078 12.9702L21.3008 12.9702"
                stroke="white"
                stroke-width="1.5"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </button>
      </div>
    </div>
  </div>
</section>
