<section class="seo wow animate__fadeInUp">
  <div class="container">
    <div class="seo__inner">
      <p class="seo__title tl1">Заголовок SEO текста, возможно длинный</p>
      <div class="seo__content-wrapper">
        <div class="seo__content">
          <p class="seo__text txt18">
            Есть только один шанс произвести хорошее впечатление на пользователя. Мы принимаем решение
            нравится нам сайт или нет всего за 10 секунд. Поэтому удобство и качество ресурса напрямую влияют
            на количество онлайн-продаж. Важно поддерживать внимание аудитории, поэтому мы тщательно
            продумываем структуру сайта, дизайн и контент. В результате сайт способен значительно увеличить
            поток клиентов.
          </p>
          <p class="seo__text txt18">
            Предоставляем полный цикл услуг по созданию сайтов: проектирование, разработка мобильного и
            адаптивного дизайна, интеграция с 1С, Битрикс, внедрение различных внешних систем.
          </p>
          <div class="seo__list-wrapper">
            <p class="seo__list-title txt18">Что входит в комплексный подход:</p>
            <ul class="seo__list">
              <li class="seo__item txt18">
                Проект, который решит поставленные бизнес-задачи с учетом особенностей ниши и
                пользовательского опыта.
              </li>
              <li class="seo__item txt18">
                Адаптивный дизайн. Мы создаем по-настоящему уникальные дизайны на мировом уровне, а не на
                уровне других сайтов в топе выдачи.
              </li>
            </ul>
          </div>
        </div>
        <div class="seo__info-box">
          <div class="seo__info-img-box">
            <img src="./assets/images/seo.webp" alt="" />
          </div>
          <div class="seo__info-btn-box">
            <div class="seo__logo-wrapper">
              <div class="seo__logo-box txt18_nav txt18_nav--bold">
                <span class="seo__logo-text logo-text">Diamond the Rough</span>
              </div>
              <p class="seo__logo-bottom-text txt18">Эстетика в каждом пиксиле</p>
            </div>
            <button class="seo__btn button">
              <span class="seo__btn-text button-text txt18">Портфолио</span>

              <div class="seo__btn-svg-box button-svg-box">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="25"
                  height="25"
                  viewBox="0 0 25 25"
                  fill="none"
                >
                  <path
                    d="M15.4007 19.0403L21.4707 12.9703L15.4007 6.90027"
                    stroke="white"
                    stroke-width="1.5"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M4.47078 12.9702L21.3008 12.9702"
                    stroke="white"
                    stroke-width="1.5"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
            </button>
          </div>
        </div>
        <div class="seo__content">
          <p class="seo__text txt18">
            Расширенные возможности: стабильная работа при большом количестве информации, возможность
            подключения дополнительных сервисов и передачи данных между разными системами.
          </p>

          <div class="seo__list-wrapper">
            <ul class="seo__list">
              <li class="seo__item txt18">
                Продвижение сайта: увеличение конверсии, грамотная оптимизация под поисковые системы Яндекс и
                Google, генерация лидов.
              </li>
              <li class="seo__item txt18">Функционал любой сложности</li>
              <li class="seo__item txt18">
                Все наши сайты адаптивные, со встроенным алгоритмом распознающим устройство и подстраивающим
                под него необходимый дизайн в точно рассчитанной конфигурации
              </li>
            </ul>
          </div>
          <p class="seo__text txt18">
            Сегодня сайт в немалой степени определяет статус компании, наличие собственного
            многофункционального сайта стало необходимостью для всех.
          </p>
          <p class="seo__text txt18">
            Мы подберем правильные решения для вас и пользователей.
            <br />
            Реализуйте вместе с нами самые смелые и сложные идеи!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
