<section class="services-min wow animate__fadeInUp">
  <div class="container">
    <div class="services-list__row">
      <a href="#" class="services-list__item link-service">
        <div class="link-service__type">Разработка</div>
        <div class="link-service__title">Интернет-Магазина</div>
        <div class="link-service__arrow">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path
              d="M14.43 18.0701L20.5 12.0001L14.43 5.93005"
              stroke="black"
              stroke-width="1.5"
              stroke-miterlimit="10"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M3.50008 12L20.3301 12"
              stroke="black"
              stroke-width="1.5"
              stroke-miterlimit="10"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </a>

      <a href="#" class="services-list__item link-service">
        <div class="link-service__type">Разработка</div>
        <div class="link-service__title">Портала</div>
        <div class="link-service__arrow">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path
              d="M14.43 18.0701L20.5 12.0001L14.43 5.93005"
              stroke="black"
              stroke-width="1.5"
              stroke-miterlimit="10"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M3.50008 12L20.3301 12"
              stroke="black"
              stroke-width="1.5"
              stroke-miterlimit="10"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </a>

      <a href="#" class="services-list__item link-service">
        <div class="link-service__type">SEO</div>
        <div class="link-service__title">Продвижение</div>
        <div class="link-service__arrow">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path
              d="M14.43 18.0701L20.5 12.0001L14.43 5.93005"
              stroke="black"
              stroke-width="1.5"
              stroke-miterlimit="10"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M3.50008 12L20.3301 12"
              stroke="black"
              stroke-width="1.5"
              stroke-miterlimit="10"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </a>
    </div>
  </div>
</section>
