<section class="text-backgrnd wow animate__fadeInUp">
  <div class="text-backgrnd__container container">
    <div>
      <div class="desktop">
        <span>Разработка</span> <span>детализированного</span>
        <span>семантического ядра с учетом всех словоформ</span>
      </div>
      <div class="mobile">
        <span>Разработка</span> <span>детализированного</span> <span>семантического</span>
        <span>ядра с учетом всех словоформ</span>
      </div>
    </div>
    <div>
      <img src="./assets/images/text-backgrnd-img-1.webp" alt="" />
    </div>
    <div>
      <img src="./assets/images/text-backgrnd-img-2.webp" alt="" />
    </div>
  </div>
</section>
