.other-services {
    color: $Beige;
    background: $main;

    .swiper-pagination-fraction {
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        gap: 8rem;
        position: relative;
    }

    &.bg-1 {
        &::after {
            width: 40.9rem;
            height: 42.6rem;
            top: -15rem;
            right: calc(50% + 50rem);
            z-index: 0;

            @include small-tablet {
                width: 50.9rem;
                height: 44.6rem;
                top: -23rem;
                right: auto;
                z-index: 0;
                left: 0;
                transform: rotate(100deg);
            }
        }
    }

    &__slider-nav {
        width: 30.9rem;
        position: absolute;
        top: 0;
        right: 0;
    }

    &__slider {
        width: 100%;

        @include small-tablet {
            padding-bottom: 6.5rem * 2 !important;
        }

        &-nav {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 2rem;

            @include small-tablet {
                z-index: 4;
                width: 34.3 * 2rem;
                height: -webkit-fit-content;
                height: -moz-fit-content;
                height: fit-content;
                justify-content: space-between;
                position: absolute;
                bottom: 0;
                top: auto;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        &-card {
            display: flex;
            flex-direction: column;
            background-color: $main;
            border-radius: 4rem;
            color: $Beige;
            position: relative;
            margin-bottom: 2.6rem;
            padding-bottom: 8rem;

            transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;

            @include small-tablet {
                border-radius: 6rem;
                margin-bottom: 2.2rem * 2;
                padding-bottom: 4.6rem * 2;
                color: $main;
                background-color: $Beige;
            }

            &-img {
                -webkit-mask-image: url(./assets/images/picture/other-services-img1.webp);
                mask-image: url(./assets/images/picture/other-services-img1.webp);
                -webkit-mask-repeat: no-repeat;
                mask-repeat: no-repeat;
                -webkit-mask-size: contain;
                mask-size: contain;
                width: 31.3rem;
                height: 23.8rem;
                position: relative;
                margin-bottom: 3.9rem;

                @include small-tablet {
                    height: 16.8rem * 2;
                    width: 21.9rem * 2;
                    margin-bottom: 4rem;
                }

                img {
                    width: 100%;
                    height: 100%;
                    -o-object-fit: cover;
                    object-fit: cover;
                }
            }

            &-title,
            &-subtitle {
                margin: 0 auto;
                max-width: 37.2rem;
                text-align: center;

                @include small-tablet {
                    max-width: 31.1rem * 2;
                }
            }

            &-title {
                margin-bottom: 3.2rem;
                font-family: 'eurofurence';

                @include small-tablet {
                    margin-bottom: 1.6rem * 2;
                }
            }

            &-btn {
                position: absolute;
                width: -webkit-fit-content;
                width: -moz-fit-content;
                width: fit-content;
                left: 50%;
                transform: translateX(-50%);

                bottom: -2.6rem;
            }

            &:hover {
                color: $main;
                background-color: $Beige;
            }
        }
    }
}
