<section class="about-company-hero _first">
  <div class="container">
    <div class="about-company-hero__inner">
      <div class="about-company-hero__header-box">
        <p class="about-company-hero__header-title tl1">
          <span class="">Мы возрождаем культуру кролиководства</span> и предлагаем Вам мясо высочайшего качества и
          полезности.
        </p>
        <p class="about-company-hero__header-desk txt18">
          Компания «Профикроль» фокусируется на производстве продукции из мяса кролика и является одной из
          крупнейших в России, которая обладает полным циклом производства, от молодняка до переработки и
          реализации. Мы производим лучшую продукцию без добавок и улучшителей на лучшем технологическом
          оборудовании.
        </p>
      </div>
      <div class="about-company-hero__content-box">
        <ul class="about-company-hero__list">
          <li class="about-company-hero__item">
            <p class="about-company-hero__item-num tl2">>670 тн</p>
            <p class="about-company-hero__item-text txt16">Первокласной готовой продукции</p>
          </li>
          <li class="about-company-hero__item">
            <p class="about-company-hero__item-num tl2">>1 000 тн</p>
            <p class="about-company-hero__item-text txt16">Лучшего кролика в живом весе</p>
          </li>
          <li class="about-company-hero__item">
            <p class="about-company-hero__item-num tl2">>4 000 тн</p>
            <p class="about-company-hero__item-text txt16">Первоклассных кормов</p>
          </li>
        </ul>
        <div class="about-company-hero__content-img-wrapper">
          <div class="about-company-hero__about">
            <a href="#" class="about-company-circle">
              <div class="about-company-circle__svg-box">
                  <img src="./assets/images/certificates.svg" alt="">
              </div>
          </a>
          </div>
          <div class="about-company-hero__content-img-box">
            <img
              src="./assets/images/about-company-hero.webp
"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
