<section class="about-product-hero _first">
  <div class="container">
    <div class="about-product-hero__inner">
      <div class="about-product-hero__content-wrapper">
        <div class="about-product-hero__content-box">
          <div class="about-product-hero__title-box">
            <p class="about-product-hero__title tl1">
              Мясо кролика — источник множества полезных свойств для вашего здоровья.
            </p>
            <p class="about-product-hero__desc txt18">
              Крольчатина — это вкусный и питательный продукт, Насыщенное белком и богатое витаминами и
              минералами, кроличье мясо является отличным выбором для тех, кто ценит качество и натуральность
              продуктов.
            </p>
          </div>

          <a href="#" class="about-product-hero__btn buttons button-green">наши продукты</a>
        </div>
        <div class="about-product-hero__img-box">
          <img src="./assets/images/about-product-hero.webp" alt="" />
        </div>
      </div>
      <div class="about-product-hero__swiper-wrapper">
        <div class="about-product-hero__info-swiper-box">
          <div class="about-product-hero__info-swiper swiper">
            <div class="about-product-hero__info-swiper-wrapper swiper-wrapper">
              <div class="about-product-hero__info-swiper-slide swiper-slide">
                <div class="about-product-hero__info-swiper-slide-inner">
                  <div class="about-product-hero__info-swiper-slide-header-box">
                    <div class="about-product-hero__info-swiper-slide-category-box">
                      <div class="about-product-hero__info-swiper-slide-svg-box">
                        <img src="./assets/images/about-product-hero-category.svg" alt="" />
                      </div>
                      <p class="about-product-hero__info-swiper-slide-category txt16">Полезно</p>
                    </div>
                    <a href="#" class="about-product-hero__info-swiper-slide-link">
                      <svg
                        width="33"
                        height="33"
                        viewBox="0 0 33 33"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <g clip-path="url(#clip0_2704_12884)">
                          <path
                            d="M12.3639 6.57258H26.2571V20.4658M25.2923 7.53738L6.38215 26.4476"
                            stroke="#6AA64C"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                        </g>
                        <defs>
                          <clipPath id="clip0_2704_12884">
                            <rect
                              width="32"
                              height="32"
                              fill="white"
                              transform="translate(0.318359 0.634766)"
                            />
                          </clipPath>
                        </defs>
                      </svg>
                    </a>
                  </div>
                  <div class="about-product-hero__info-swiper-slide-content-box">
                    <div class="p about-product-hero__info-swiper-slide-content-title txt18 txt18_bold">
                      Преимущества
                    </div>
                    <div class="p about-product-hero__info-swiper-slide-content-desc txt18">
                      Мясо кролика обладает большим количеством достоинств.
                    </div>
                  </div>
                </div>
              </div>
              <div class="about-product-hero__info-swiper-slide swiper-slide">
                <div class="about-product-hero__info-swiper-slide-inner">
                  <div class="about-product-hero__info-swiper-slide-header-box">
                    <div class="about-product-hero__info-swiper-slide-img-wrapper">
                      <div class="about-product-hero__info-swiper-slide-img-box">
                        <img src="./assets/images/about-product-hero__info-swiper-1.webp" alt="" />
                      </div>
                      <div class="about-product-hero__info-swiper-slide-img-box">
                        <img src="./assets/images/about-product-hero__info-swiper-2.webp" alt="" />
                      </div>
                      <div class="about-product-hero__info-swiper-slide-img-box">
                        <img src="./assets/images/about-product-hero__info-swiper-3.webp" alt="" />
                      </div>
                      <div class="about-product-hero__info-swiper-slide-img-box">
                        <img src="./assets/images/about-product-hero__info-swiper-4.webp" alt="" />
                      </div>
                    </div>
                    <a href="#" class="about-product-hero__info-swiper-slide-link">
                      <svg
                        width="33"
                        height="33"
                        viewBox="0 0 33 33"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <g clip-path="url(#clip0_2704_12884)">
                          <path
                            d="M12.3639 6.57258H26.2571V20.4658M25.2923 7.53738L6.38215 26.4476"
                            stroke="#6AA64C"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                        </g>
                        <defs>
                          <clipPath id="clip0_2704_12884">
                            <rect
                              width="32"
                              height="32"
                              fill="white"
                              transform="translate(0.318359 0.634766)"
                            />
                          </clipPath>
                        </defs>
                      </svg>
                    </a>
                  </div>
                  <div class="about-product-hero__info-swiper-slide-content-box">
                    <div class="p about-product-hero__info-swiper-slide-content-title txt18 txt18_bold">
                      Рецепты из кролика
                    </div>
                    <div class="p about-product-hero__info-swiper-slide-content-desc txt18">
                      Кроличье мясо помогает создавать разнообразные и вкусные блюда.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="about-product-hero__info-swiper-pagination swiper-pagination"></div>
        </div>

        <div class="about-product-hero__num-swiper-box">
          <div class="about-product-hero__num-swiper swiper">
            <div class="about-product-hero__num-swiper-wrapper swiper-wrapper">
              <div class="about-product-hero__num-swiper-slide swiper-slide">
                <div class="about-product-hero__num-swiper-slide-inner">
                  <p class="about-product-hero__num-swiper-slide-num tl1">90%</p>
                  <p class="about-product-hero__num-swiper-slide-text txt16">Усваиваемость организмом</p>
                </div>
              </div>
              <div class="about-product-hero__num-swiper-slide swiper-slide">
                <div class="about-product-hero__num-swiper-slide-inner">
                  <p class="about-product-hero__num-swiper-slide-num tl1">>20%</p>
                  <p class="about-product-hero__num-swiper-slide-text txt16">Содержание белков</p>
                </div>
              </div>
              <div class="about-product-hero__num-swiper-slide swiper-slide">
                <div class="about-product-hero__num-swiper-slide-inner">
                  <p class="about-product-hero__num-swiper-slide-num tl1"><2%</p>
                  <p class="about-product-hero__num-swiper-slide-text txt16">Содержание жира</p>
                </div>
              </div>
            </div>
          </div>
          <div class="about-product-hero__num-swiper-pagination swiper-pagination"></div>
        </div>
      </div>
    </div>
  </div>
</section>
