<section class="advantages">
  <div class="container">
    <div class="advantages__inner">
      <p class="advantages__title tl1">Преимущества мяса кролика</p>
      <div class="advantages__content-box">
        <div class="advantages__img-box">
          <img src="./assets/images/advantages.webp" alt="" />
        </div>
        <ol class="advantages__list">
          <li class="advantages__item tl2">
            <span class="advantages__item-title ">Высокое содержание белков</span>
            <p class="advantages__item-desc txt18">
              Высокое содержание белков при незначительном содержании жиров и холестерина. Белки крольчатины
              усваиваются организмом на 90%, в то время как белки говядины, например, всего на 60%.
            </p>
          </li>
          <li class="advantages__item tl2">
            <span class="advantages__item-title ">Богатый витаминный состав</span>
            <p class="advantages__item-desc txt18">
              В крольчатине содержится витаминов В6, В12, РР значительно больше, чем в говядине, баранине,
              свинине. Много в нем железа, фосфора и кобальта, в достаточном количестве имеется марганца,
              фтора и калия.
            </p>
          </li>
          <li class="advantages__item tl2">
            <span class="advantages__item-title ">Идеально для прикорма малышей</span>
            <p class="advantages__item-desc txt18">
              Это мясо рекомендуется вводить в рацион маленького ребенка в первую очередь из-за его легкости
              для пищеварения и богатого состава питательных веществ. Крольчатина рекомендуется беременным
              женщинам и кормящим матерям.
            </p>
          </li>
          <li class="advantages__item tl2">
            <span class="advantages__item-title ">Подходит для любых блюд</span>
            <p class="advantages__item-desc txt18">
              Кроличье мясо может быть использовано в различных кулинарных рецептах и отлично сочетается с
              различными ингредиентами и специями, позволяя создавать разнообразные и вкусные блюда.
            </p>
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>
