<section class="career _first">
  <div class="container">
    <div class="career__inner">
      <p class="career__title tl1">Карьера</p>
      <div class="career__content-box">
        <div class="career__content-text-box">
          <p class="career__content-title tl2">Вы можете отправить заявку и мы вам ответим</p>
          <p class="career__content-desc txt18">
            Оставьте ваши данные и мы свяжемся с вами в ближайшее время.
          </p>
          
        </div>

        <form class="career__form">
          <div class="career__form-input-wrapper">
            <div class="career__form-input-box">
              <label class="career__label input-group">
                <span class="career__label-text input-group-label-text txt18">Ваше ФИО*</span>
                <span class="form__input-wrapper txt18">
                  <input
                    class="input--name career__form-input"
                    type="text"
                    data-validate
                    data-required
                    autocomplete="off"
                    name="form[]"
                  />
                </span>
                <span class="error-span txt16">Поле заполнено неверно</span>
              </label>

              <label class="career__label input-group">
                <span class="career__label-text input-group-label-text txt18">Желаемая должность</span>
                <span class="form__input-wrapper">
                  <input
                    class="input--mail career__form-input txt18"
                    type="text"
                    autocomplete="off"
                    name="form[]"
                  />
                </span>
                <span class="error-span txt16"></span>
              </label>

              <label class="career__label input-group input">
                <span class="career__label-text input-group-label-text txt18">Рассказ о себе</span>
                <span class="form__input-wrapper">
                  <textarea class="input--textarea txt18" autocomplete="off" name="form[]"></textarea>
                  <span class="error-span txt16"></span>
                </span>
              </label>

              <label class="career__label input-group">
                <span class="career__label-text input-group-label-text txt18">Ссылка на резюме</span>
                <span class="form__input-wrapper">
                  <input
                    class="input--mail career__form-input txt18"
                    type="text"
                    autocomplete="off"
                    name="form[]"
                  />
                </span>
                <span class="error-span txt16"></span>
              </label>
            </div>
          </div>
          <div class="career__btn-box">
            <button type="submit" class="career__btn buttons button-green">Отправить</button>
            <p class="career__agreement-text txt16">
              Нажимая “Отправить” вы даете согласие на обработку персональных данных
            </p>
          </div>
        </form>

        <div class="career__content-img-box">
            <img src="./assets/images/career-img.webp" alt="" />
          </div>
      </div>
    </div>
  </div>
</section>
