<section class="cold-product">
  <div class="cold-product__container container">
    <div class="cold-product__column descr">
      <div class="cold-product__title tl1">Охлаждённая и замороженная продукция</div>
      <div class="cold-product__text txt18">
        Широкий выбор охлажденной продукции из кроличьего мяса, которая отличается свежестью и высоким
        качеством.
      </div>
      <div class="cold-product__logo">
        <img src="./assets/images/cold-product-logo.webp" alt="" />
      </div>
    </div>
    <div class="cold-product__column photo">
      <div class="cold-product__img">
        <img src="./assets/images/cold-product-img-1.webp" alt="" />
      </div>
      <div class="cold-product__descr desktop">
        <div class="cold-product__descr-title txt18 txt18_bold">Оптимальная температура.</div>
        <div class="cold-product__descr-text txt18">
          Мы предлагаем различные части кролика, охлажденные до оптимальной температуры.
        </div>
      </div>
    </div>
    <div class="cold-product__column photo desktop">
      <div class="cold-product__img">
        <img src="./assets/images/cold-product-img-2.webp" alt="" />
      </div>
      <div class="cold-product__descr">
        <div class="cold-product__descr-title txt18 txt18_bold">Строгий контроль качества.</div>
        <div class="cold-product__descr-text txt18">
          Наши продукты проходят строгий контроль качества с момента производства до момента поставки.
        </div>
      </div>
    </div>
  </div>
</section>
