<section class="cooperation">
  <div class="container">
    <div class="cooperation__inner">
      <p class="cooperation__title tl1">Сотрудничество</p>
      <div class="cooperation__swiper swiper">
        <div class="cooperation__swiper-wrapper swiper-wrapper">
          <div class="cooperation__swiper-slide swiper-slide">
            <div class="cooperation__swiper-slide-inner">
              <div class="cooperation__swiper-slide-img-box">
                <img src="./assets/images/cooperation1.webp" alt="" />
              </div>
              <div class="cooperation__swiper-slide-content-box">
                <div class="cooperation__swiper-slide-text-box">
                  <p class="cooperation__swiper-slide-title tl2">Комбинаты детского питания</p>
                  <p class="cooperation__swiper-slide-text txt18">
                    Кроличьи кости, в результате внимательного процесса переработки, могут быть использованы в
                    производстве костной муки, гидролизатов и других продуктов, которые являются ценными
                    добавками в пищу для животных, включая сельскохозяйственных животных и домашних питомцев.
                  </p>
                </div>
                <div class="cooperation__swiper-slide-btn-box">
                  <a href="#" class="cooperation__btn buttons button-green">связаться</a>
                  <div class="cooperation__swiper-slide-svg-box">
                    <img src="./assets/images/cooperation1.svg" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="cooperation__swiper-slide swiper-slide">
            <div class="cooperation__swiper-slide-inner">
              <div class="cooperation__swiper-slide-img-box">
                <img src="./assets/images/cooperation2.webp" alt="" />
              </div>
              <div class="cooperation__swiper-slide-content-box">
                <div class="cooperation__swiper-slide-text-box">
                  <p class="cooperation__swiper-slide-title tl2">Рестораны, санатории и другое</p>
                  <p class="cooperation__swiper-slide-text txt18">
                    Кроличье мясо - это идеальный выбор для кулинаров, которые ценят высокое качество
                    продукции. Оно обладает нежным вкусом и текстурой, что делает его идеальным ингредиентом
                    для создания изысканных блюд высокой кухни.
                  </p>
                </div>
                <div class="cooperation__swiper-slide-btn-box">
                  <a href="#" class="cooperation__btn buttons button-green">связаться</a>
                  <div class="cooperation__swiper-slide-svg-box">
                    <img src="./assets/images/cooperation2.svg" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="cooperation__swiper-slide swiper-slide">
            <div class="cooperation__swiper-slide-inner">
              <div class="cooperation__swiper-slide-img-box">
                <img src="./assets/images/cooperation3.webp" alt="" />
              </div>
              <div class="cooperation__swiper-slide-content-box">
                <div class="cooperation__swiper-slide-text-box">
                  <p class="cooperation__swiper-slide-title tl2">Производители корма для животных</p>
                  <p class="cooperation__swiper-slide-text txt18">
                    Кроличье мясо является идеальным компонентом для создания кормов для сельскохозяйственных
                    и домашних животных. Оно обладает высоким содержанием белка, железа и других полезных
                    питательных веществ.
                  </p>
                </div>
                <div class="cooperation__swiper-slide-btn-box">
                  <a href="#" class="cooperation__btn buttons button-green">связаться</a>
                  <div class="cooperation__swiper-slide-svg-box">
                    <img src="./assets/images/cooperation3.svg" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="cooperation__swiper-slide swiper-slide">
            <div class="cooperation__swiper-slide-inner">
              <div class="cooperation__swiper-slide-img-box">
                <img src="./assets/images/cooperation4.webp" alt="" />
              </div>
              <div class="cooperation__swiper-slide-content-box">
                <div class="cooperation__swiper-slide-text-box">
                  <p class="cooperation__swiper-slide-title tl2">Переработка костей</p>
                  <p class="cooperation__swiper-slide-text txt18">
                    Кроличьи кости, в результате внимательного процесса переработки, могут быть использованы в
                    производстве костной муки, гидролизатов и других продуктов, которые являются ценными
                    добавками в пищу для животных, включая сельскохозяйственных животных и домашних питомцев.
                  </p>
                </div>
                <div class="cooperation__swiper-slide-btn-box">
                  <a href="#" class="cooperation__btn buttons button-green">связаться</a>
                  <div class="cooperation__swiper-slide-svg-box">
                    <img src="./assets/images/cooperation4.svg" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>

      <div class="cooperation__swiper-btn-box">
        <div class="cooperation__swiper-btn cooperation__swiper-btn--prev swiper-button swiper-button-prev">
          <div class="cooperation__swiper-btn-svg-box swiper-button-svg-box">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M13.2765 4.66063L7.63679 10.4318C7.43493 10.638 7.27478 10.8828 7.16551 11.1524C7.05624 11.4219 7 11.7109 7 12.0027C7 12.2946 7.05624 12.5835 7.16551 12.8531C7.27478 13.1227 7.43493 13.3675 7.63679 13.5737L13.2765 19.3449C14.6483 20.7487 17 19.746 17 17.7628V6.22041C17 4.23726 14.6483 3.25682 13.2765 4.66063Z"
                fill="#240403"
              />
            </svg>
          </div>
        </div>

        <div class="cooperation__swiper-btn cooperation__swiper-btn--next swiper-button swiper-button-next">
          <div class="cooperation__swiper-btn-svg-box swiper-button-svg-box">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M10.7235 4.66063L16.3632 10.4318C16.5651 10.638 16.7252 10.8828 16.8345 11.1524C16.9438 11.4219 17 11.7109 17 12.0027C17 12.2946 16.9438 12.5835 16.8345 12.8531C16.7252 13.1227 16.5651 13.3675 16.3632 13.5737L10.7235 19.3449C9.35169 20.7487 7 19.746 7 17.7628V6.22041C7 4.23726 9.35169 3.25682 10.7235 4.66063Z"
                fill="#240403"
              />
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
