<section class="det-news _first">
  <div class="container">
    <div class="det-news__inner">
      <div class="det-news__news-box">
        <div class="det-news__news-header-box">
          <p class="det-news__news-header-title tl1">
            Мы приступили к строительству второй очереди кролиководческой фермы
          </p>
          <div class="det-news__news-header-info-box">
            <p class="det-news__news-header-category txt16">Компания</p>
            <p class="det-news__news-header-time txt18">12.02.2024</p>
          </div>
        </div>
        <div class="det-news__news-img-box det-news__news-img-box--big">
          <img src="./assets/images/news.webp" alt="" />
        </div>
        <div class="det-news__news-text-box">
          <p class="det-news__news-text txt18">
            В Гагаринском районе продолжаются работы по возведению кролиководческой фермы второй очереди,
            объем инвестиций в строительство составит свыше 1 миллиарда рублей. Об этом стало известно в
            рамках рабочей поездки в Гагаринский район губернатора Смоленской области Алексея Островского.
          </p>
          <p class="det-news__news-text txt18">
            Глава региона, в частности, ознакомился с производственными мощностями предприятия и посетил
            стройплощадку кролиководческой фермы второй очереди.
          </p>
          <p class="det-news__news-text txt18">
            Как рассказал губернатору Олег Папушин, проект предполагает строительство 14 ангаров для
            содержания свыше 15,8 тысячи голов родительского поголовья и более 1 тысячи голов прародительского
            поголовья кроликов, а также обустройство селекционно-генетического центра.
          </p>
          <p class="det-news__news-text txt18">
            «Работы будут завершены к концу первого квартала следующего года. К настоящему времени строители
            завершили работы по возведению бетонных конструкций, к концу сентября будут введены в эксплуатацию
            два ангара, репродуктор и санпропускник. В них установят современное итальянское оборудование,
            затем будут организованы пусконаладочные работы», — рассказал Олег Папушин.
          </p>
        </div>
        <div class="det-news__news-quote-box">
          <p class="det-news__news-quote tl2">
            Как рассказал губернатору Олег Папушин: «Первую партию кроликов планируется завезти в конце сентября»
          </p>
        </div>
        <div class="det-news__news-list-box">
          <p class="det-news__news-list-title txt18">Мы ориентируемся на наши основные принципы:</p>
          <ul class="det-news__news-list">
            <li class="det-news__news-list-item txt18">
              История компании: Наша компания начала свой путь с целью предложить клиентам лучшее кроличье
              мясо на рынке. Мы гордимся нашим пути, наполненным преданностью качеству и страстью к
              натуральному продукту.
            </li>
            <li class="det-news__news-list-item txt18">
              Специализация: Мы специализируемся на производстве кроличьего мяса и делаем все возможное, чтобы
              обеспечить наших клиентов свежим, высококачественным продуктом. Наша экспертная команда уделяет
              внимание каждой детали производства, чтобы гарантировать безупречность продукции.
            </li>
            <li class="det-news__news-list-item txt18">
              Достижения и цели: Наша история наполнена успехами и достижениями, и мы гордимся тем, что наше
              кроличье мясо оценивают клиенты по всему миру. Мы стремимся к постоянному совершенствованию и
              развитию, чтобы продолжать радовать вас высоким качеством нашей продукции.
            </li>
            <li class="det-news__news-list-item txt18">
              Принципы качества: Мы придерживаемся высоких стандартов качества на каждом этапе производства,
              начиная с выбора кормов для кроликов и заканчивая упаковкой готовой продукции. Наша цель -
              обеспечить клиентов только лучшим и безупречным мясом кролика, которое можно найти на рынке.
            </li>
          </ul>
        </div>
        <div class="det-news__news-img-box--multi">
          <div class="det-news__news-img-box">
            <img src="./assets/images/det-news.webp" alt="" />
          </div>
          <div class="det-news__news-img-box">
            <img src="./assets/images/news.webp" alt="" />
          </div>
        </div>
        <div class="det-news__news-img-box det-news__news-img-box--min">
          <img src="./assets/images/det-news.webp" alt="" />
        </div>
        <div class="det-news__news-text-box">
          <p class="det-news__news-text txt18">
            В Гагаринском районе продолжаются работы по возведению кролиководческой фермы второй очереди,
            объем инвестиций в строительство составит свыше 1 миллиарда рублей. Об этом стало известно в
            рамках рабочей поездки в Гагаринский район губернатора Смоленской области Алексея Островского.
          </p>
          <p class="det-news__news-text txt18">
            Глава региона, в частности, ознакомился с производственными мощностями предприятия и посетил
            стройплощадку кролиководческой фермы второй очереди.
          </p>
          <p class="det-news__news-text txt18">
            Как рассказал губернатору Олег Папушин, проект предполагает строительство 14 ангаров для
            содержания свыше 15,8 тысячи голов родительского поголовья и более 1 тысячи голов прародительского
            поголовья кроликов, а также обустройство селекционно-генетического центра.
          </p>
          <p class="det-news__news-text txt18">
            «Работы будут завершены к концу первого квартала следующего года. К настоящему времени строители
            завершили работы по возведению бетонных конструкций, к концу сентября будут введены в эксплуатацию
            два ангара, репродуктор и санпропускник. В них установят современное итальянское оборудование,
            затем будут организованы пусконаладочные работы», — рассказал Олег Папушин.
          </p>
        </div>
      </div>
      <div class="det-news__aside-box desktop">
        <p class="det-news__aside-box-title tl2">Другие новости:</p>
        <ul class="det-news__aside-box-list">
          <li class="det-news__aside-box-item">
            <a href="#" class="det-news__aside-box-link">
              <div class="det-news__aside-img-box">
                <img src="./assets/images/news.webp" alt="" />
              </div>
              <p class="det-news__aside-text txt18 txt18_bold">Кролик в хлебно-сметанном соусе</p>
            </a>
          </li>
          <li class="det-news__aside-box-item">
            <a href="#" class="det-news__aside-box-link">
              <div class="det-news__aside-img-box">
                <img src="./assets/images/news.webp" alt="" />
              </div>
              <p class="det-news__aside-text txt18 txt18_bold">
                Мы приступили к строительству второй очереди кролиководческой фермы
              </p>
            </a>
          </li>
          <li class="det-news__aside-box-item">
            <a href="#" class="det-news__aside-box-link">
              <div class="det-news__aside-img-box">
                <img src="./assets/images/news.webp" alt="" />
              </div>
              <p class="det-news__aside-text txt18 txt18_bold">«О самом главном» - о пользе мяса кролика.</p>
            </a>
          </li>
          <li class="det-news__aside-box-item">
            <a href="#" class="det-news__aside-box-link">
              <div class="det-news__aside-img-box">
                <img src="./assets/images/news.webp" alt="" />
              </div>
              <p class="det-news__aside-text txt18 txt18_bold">
                Мы приступили к строительству второй очереди кролиководческой фермы
              </p>
            </a>
          </li>
        </ul>
      </div>
      <div class="det-news__swiper-box mobile">
        <p class="det-news__swiper-box-title tl2">Другие новости:</p>
        <div class="det-news__swiper swiper">
          <div class="det-news__swiper-wrapper swiper-wrapper">
            <div class="det-news__swiper-slide swiper-slide">
              <a href="#" class="det-news__swiper-slide-inner">
                <div class="det-news__swiper-slide-img-box">
                  <img src="./assets/images/news.webp" alt="" />
                </div>
                <p class="det-news__swiper-slide-text txt16 txt16_bold">Кролик в хлебно-сметанном соусе</p>
              </a>
            </div>
            <div class="det-news__swiper-slide swiper-slide">
              <a href="#" class="det-news__swiper-slide-inner">
                <div class="det-news__swiper-slide-img-box">
                  <img src="./assets/images/news.webp" alt="" />
                </div>
                <p class="det-news__swiper-slide-text txt16 txt16_bold">
                  Мы приступили к строительству второй очереди кролиководческой фермы
                </p>
              </a>
            </div>
            <div class="det-news__swiper-slide swiper-slide">
              <a href="#" class="det-news__swiper-slide-inner">
                <div class="det-news__swiper-slide-img-box">
                  <img src="./assets/images/news.webp" alt="" />
                </div>
                <p class="det-news__swiper-slide-text txt16 txt16_bold">
                  «О самом главном» - о пользе мяса кролика.
                </p>
              </a>
            </div>
            <div class="det-news__swiper-slide swiper-slide">
              <a href="#" class="det-news__swiper-slide-inner">
                <div class="det-news__swiper-slide-img-box">
                  <img src="./assets/images/news.webp" alt="" />
                </div>
                <p class="det-news__swiper-slide-text txt16 txt16_bold">
                  Мы приступили к строительству второй очереди кролиководческой фермы
                </p>
              </a>
            </div>
          </div>
        </div>
        <div class="det-news__swiper-btn-box">
          <div class="det-news__swiper-btn det-news__swiper-btn--prev swiper-button swiper-button-prev">
            <div class="det-news__swiper-btn-svg-box swiper-button-svg-box">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M13.2765 4.66063L7.63679 10.4318C7.43493 10.638 7.27478 10.8828 7.16551 11.1524C7.05624 11.4219 7 11.7109 7 12.0027C7 12.2946 7.05624 12.5835 7.16551 12.8531C7.27478 13.1227 7.43493 13.3675 7.63679 13.5737L13.2765 19.3449C14.6483 20.7487 17 19.746 17 17.7628V6.22041C17 4.23726 14.6483 3.25682 13.2765 4.66063Z"
                  fill="#240403"
                />
              </svg>
            </div>
          </div>

          <div class="det-news__swiper-btn det-news__swiper-btn--next swiper-button swiper-button-next">
            <div class="det-news__swiper-btn-svg-box swiper-button-svg-box">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M10.7235 4.66063L16.3632 10.4318C16.5651 10.638 16.7252 10.8828 16.8345 11.1524C16.9438 11.4219 17 11.7109 17 12.0027C17 12.2946 16.9438 12.5835 16.8345 12.8531C16.7252 13.1227 16.5651 13.3675 16.3632 13.5737L10.7235 19.3449C9.35169 20.7487 7 19.746 7 17.7628V6.22041C7 4.23726 9.35169 3.25682 10.7235 4.66063Z"
                  fill="#240403"
                />
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
