<section class="devotion">
  <div class="container">
    <div class="devotion__inner">
      <div class="devotion__img-wrapper">
        <div class="devotion__img-box">
          <img src="./assets/images/devotion-big.webp" alt="" />
        </div>
        <div class="devotion__img-text-box desktop">
          <div class="devotion__img-text-img-box">
            <img src="./assets/images/devotion-min.webp" alt="" />
          </div>
          <div class="devotion__img-text-text-box">
            <p class="devotion__img-text--text-title txt18 txt18_bold">Цех переработки</p>
            <p class="devotion__img-text--text-desc txt16">Новейшее технологическое оборудование</p>
          </div>
        </div>
        <div class="devotion__img-info-box">
          <div class="devotion__img-info-svg-box">
            <img src="./assets/images/rabbit.svg" alt="" />
          </div>
          <p class="devotion__img-info-text txt16">Натуральное мясо</p>
        </div>
      </div>

      <p class="devotion__title tl1">
        <span class="tl1_medium">Преданность качеству </span> <br />
        и натуральному продукту.
      </p>
      <div class="devotion__text-wrapper">
        <div class="devotion__text-box">
          <p class="devotion__text txt18">
            Наши мощности находятся в Московской области, Оренбургской области и Республике Татарстан.
          </p>
          <p class="devotion__text txt18">
            Совокупный годовой объем производства кролика-живка в 2024 году составит более 1000 тн или более
            670 тн готовой продукции. Потенциальная производственная мощность компании - 2500 тн живка в год.
          </p>
          <p class="devotion__text txt18">
            Мы производим лучшую продукцию без добавок и улучшителей на лучшем технологическом оборудовании.
          </p>
          <p class="devotion__text txt18">
            Использование технологии выращивания по системе пусто-занято позволяет животным комфортно
            развиваться, а отсутствие стрессов позволяет достигать отличных результатов в привесе.
          </p>
          <p class="devotion__text txt18">
            Автоматическое кормление, сводит до минимума присутствие персонала в цеху, что сохраняет
            микроклимат у животных и оберегает их от заболеваний.
          </p>
          <p class="devotion__text txt18">
            Наши мощности находятся в Московской области, Оренбургской области и Республике Татарстан.
          </p>
          <p class="devotion__text txt18">
            Совокупный годовой объем производства кролика-живка в 2024 году составит более 1000 тн или более
            670 тн готовой продукции. Потенциальная производственная мощность компании - 2500 тн живка в год.
          </p>
          <p class="devotion__text txt18">
            Мы производим лучшую продукцию без добавок и улучшителей на лучшем технологическом оборудовании.
          </p>
          <p class="devotion__text txt18">
            Использование технологии выращивания по системе пусто-занято позволяет животным комфортно
            развиваться, а отсутствие стрессов позволяет достигать отличных результатов в привесе.
          </p>
          <p class="devotion__text txt18">
            Автоматическое кормление, сводит до минимума присутствие персонала в цеху, что сохраняет
            микроклимат у животных и оберегает их от заболеваний.
          </p>
       
        </div>
        <div class="devotion__btn-box">
          <button class="devotion__btn devotion__btn--show buttons">Читать все</button>
          <button class="devotion__btn devotion__btn--hidden buttons">Свернуть</button>
        </div>
      </div>
    </div>
  </div>
</section>
