<section class="enterprises">
    <div class="enterprises__container container">
      <div class="enterprises__title tl1">Наши предприятия</div>
      <div class="enterprises__map-container">
        <div class="enterprises__map map" id="map"></div>
        <div class="enterprises__map-content">
          <div class="enterprises__map-card" data-coordinates="37.99874269248201 55.656492491493545">
            <div>
              <img src="./assets/images/enterprices-img-1.webp" alt="" />
            </div>
            <div>
              <div class="enterprises__map-card--title txt18 txt18_bold">
                Предприятие №1 в Московской области и подмосковье
              </div>
              <div class="enterprises__map-card--text txt18">
                Моск.область, г. Красково, 2-й Осоавиахимовский проезд, 12
              </div>
            </div>
          </div>
          <div class="enterprises__map-card" data-coordinates="58.550236500000025 51.19299095395109">
            <div>
              <img src="./assets/images/enterprices-img-2.webp" alt="" />
            </div>
            <div>
              <div class="enterprises__map-card--title txt18 txt18_bold">
                Предприятие №2 в Московской области и подмосковье
              </div>
              <div class="enterprises__map-card--text txt18">г. Орск, ул.Февральская, д.23</div>
            </div>
          </div>
          <div class="enterprises__map-card" data-coordinates="49.058017499999984 55.829001001051616">
            <div>
              <img src="./assets/images/enterprices-img-1.webp" alt="" />
            </div>
            <div>
              <div class="enterprises__map-card--title txt18 txt18_bold">
                Предприятие №3 в Московской области и подмосковье
              </div>
              <div class="enterprises__map-card--text txt18">г. Казань, ул.Февральская, д.23</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>