<section class="legend">
  <div class="container">
    <div class="legend__inner">
      <div class="legend__img-box">
        <img src="./assets/images/legend.webp" alt="" />
      </div>
      <div class="legend__content-wrapper">
        <div class="legend__content-inner">

    
        <div class="legend__content-box">
          <div class="legend__text-wrapper">
            <div class="legend__text-box " >
              <p class="legend__text txt18">
                Однажды Нефритовый Император нарядился в нищего голодного старика и попросил у обезьяны,
                выдры, шакала и кролика принести ему еды. Обезьяна собрала плоды с деревьев, выдра наловила
                рыбы в реке. Шакал принёс ящерицу и горшок с творогом. А кролик мог только собирать траву. Он
                хорошо понимал, что людям есть траву нельзя, поэтому решил предложить своё собственное тело,
                прыгнув в костёр, который разжёг человек. Но по какой-то причине кролик не сгорел. Внезапно
                старик вернулся в облик великого Нефритового Императора! Глубоко тронутый самоотверженным
                поступком кролика, он отправил его на Луну, чтобы Нефритовый кролик стал бессмертным .
              </p>
              <p class="legend__text legend__text--green txt18">
                Нефритовый кролик – не просто милый, пушистый и белый. Он символ самоотверженности, набожности
                и самопожертвования.
              </p>
              <p class="legend__text txt18">
                Возможно, именно поэтому Нефритовый кролик оказался на Луне – чтобы у людей, в какой бы точке
                мира они ни находились, всегда перед глазами был пример морали, праведности и
                самопожертвования.
              </p>
              <p class="legend__text txt18">
                Однажды Нефритовый Император нарядился в нищего голодного старика и попросил у обезьяны,
                выдры, шакала и кролика принести ему еды. Обезьяна собрала плоды с деревьев, выдра наловила
                рыбы в реке. Шакал принёс ящерицу и горшок с творогом. А кролик мог только собирать траву. Он
                хорошо понимал, что людям есть траву нельзя, поэтому решил предложить своё собственное тело,
                прыгнув в костёр, который разжёг человек. Но по какой-то причине кролик не сгорел. Внезапно
                старик вернулся в облик великого Нефритового Императора! Глубоко тронутый самоотверженным
                поступком кролика, он отправил его на Луну, чтобы Нефритовый кролик стал бессмертным .
              </p>
              <p class="legend__text legend__text--green txt18">
                Нефритовый кролик – не просто милый, пушистый и белый. Он символ самоотверженности, набожности
                и самопожертвования.
              </p>
              <p class="legend__text txt18">
                Возможно, именно поэтому Нефритовый кролик оказался на Луне – чтобы у людей, в какой бы точке
                мира они ни находились, всегда перед глазами был пример морали, праведности и
                самопожертвования.
              </p>
            </div>
            <div class="legend__btn-box mobile">
              <button class="legend__btn legend__btn--show buttons">Читать все</button>
              <button class="legend__btn legend__btn--hidden buttons">Свернуть</button>
            </div>
          </div>
        </div>
        <div class="legend__title-box">
          <div class="legend__title-svg-box desktop">
            <img src="./assets/images/rabbit--green.svg" alt="" />
          </div>
          <p class="legend__title tl1">Легенда о Нефритовом кролике</p>
          <div class="legend__title-text-box desktop">
            <p class="legend__title-text txt16">Праведность</p>
            <p class="legend__title-text txt16">Самопожетрвование</p>
          </div>
        </div>
    </div>
      </div>
    </div>
  </div>
</section>
