<section class="news-main">
  <div class="container">
    <div class="news-main__inner">
      <p class="news-main__title tl1">Новости</p>
      <div class="news-main__swiper swiper">
        <div class="news-main__swiper-wrapper swiper-wrapper">
          <div class="news-main__swiper-slide swiper-slide">
            <a href="#" class="news__item-link">
              <div class="news__item-img-box">
                <img src="./assets/images/news.webp" alt="" />
                <p class="news__item-category txt16">Компания</p>
              </div>
              <div class="news__item-content-box">
                <div class="news__item-content-link">
                  <div class="news__item-content-link-svg-box">
                    <svg
                      width="32"
                      height="32"
                      viewBox="0 0 32 32"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g>
                        <path
                          d="M12.0436 5.93781H25.9368V19.831M24.972 6.90262L6.06184 25.8128"
                          stroke="white"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </g>
                      <defs>
                        <clipPath>
                          <rect width="32" height="32" fill="white" />
                        </clipPath>
                      </defs>
                    </svg>
                  </div>
                </div>
                <p class="news__item-content-data txt16">12.01.2024</p>
                <p class="news__item-content-title txt18 txt18_bold">
                  Мы приступили к строительству второй очереди кролиководческой фермы
                </p>
                <p class="news__item-content-desk txt16">
                  Продолжаются работы по возведению кролиководческой фермы второй очереди, объем инвестиций в
                  строительство составит свыше 1 миллиарда рублей. Об этом стало известно в рамках рабочей
                  поездки в Гагаринский район губернатора Смоленской области Алексея Островского.
                </p>
              </div>
            </a>
          </div>
          <div class="news-main__swiper-slide swiper-slide">
            <a href="#" class="news__item-link">
              <div class="news__item-img-box">
                <img src="./assets/images/news.webp" alt="" />
                <p class="news__item-category txt16">Мясо кролика</p>
              </div>
              <div class="news__item-content-box">
                <div class="news__item-content-link">
                  <div class="news__item-content-link-svg-box">
                    <svg
                      width="32"
                      height="32"
                      viewBox="0 0 32 32"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g>
                        <path
                          d="M12.0436 5.93781H25.9368V19.831M24.972 6.90262L6.06184 25.8128"
                          stroke="white"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </g>
                      <defs>
                        <clipPath>
                          <rect width="32" height="32" fill="white" />
                        </clipPath>
                      </defs>
                    </svg>
                  </div>
                </div>
                <p class="news__item-content-data txt16">12.01.2024</p>
                <p class="news__item-content-title txt18 txt18_bold">
                  Мы приступили к строительству второй очереди кролиководческой фермы
                </p>
                <p class="news__item-content-desk txt16">
                  Продолжаются работы по возведению кролиководческой фермы второй очереди, объем инвестиций в
                  строительство составит свыше 1 миллиарда рублей. Об этом стало известно в рамках рабочей
                  поездки в Гагаринский район губернатора Смоленской области Алексея Островского.
                </p>
              </div>
            </a>
          </div>
          <div class="news-main__swiper-slide swiper-slide">
            <a href="#" class="news__item-link">
              <div class="news__item-img-box">
                <img src="./assets/images/news.webp" alt="" />
                <p class="news__item-category txt16">СМИ</p>
              </div>
              <div class="news__item-content-box">
                <div class="news__item-content-link">
                  <div class="news__item-content-link-svg-box">
                    <svg
                      width="32"
                      height="32"
                      viewBox="0 0 32 32"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g>
                        <path
                          d="M12.0436 5.93781H25.9368V19.831M24.972 6.90262L6.06184 25.8128"
                          stroke="white"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </g>
                      <defs>
                        <clipPath>
                          <rect width="32" height="32" fill="white" />
                        </clipPath>
                      </defs>
                    </svg>
                  </div>
                </div>
                <p class="news__item-content-data txt16">12.01.2024</p>
                <p class="news__item-content-title txt18 txt18_bold">
                  Мы приступили к строительству второй очереди кролиководческой фермы
                </p>
                <p class="news__item-content-desk txt16">
                  Продолжаются работы по возведению кролиководческой фермы второй очереди, объем инвестиций в
                  строительство составит свыше 1 миллиарда рублей. Об этом стало известно в рамках рабочей
                  поездки в Гагаринский район губернатора Смоленской области Алексея Островского.
                </p>
              </div>
            </a>
          </div>
          <div class="news-main__swiper-slide swiper-slide">
            <a href="#" class="news__item-link">
              <div class="news__item-img-box">
                <img src="./assets/images/news.webp" alt="" />
                <p class="news__item-category txt16">Мясо кролика</p>
              </div>
              <div class="news__item-content-box">
                <div class="news__item-content-link">
                  <div class="news__item-content-link-svg-box">
                    <svg
                      width="32"
                      height="32"
                      viewBox="0 0 32 32"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g>
                        <path
                          d="M12.0436 5.93781H25.9368V19.831M24.972 6.90262L6.06184 25.8128"
                          stroke="white"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </g>
                      <defs>
                        <clipPath>
                          <rect width="32" height="32" fill="white" />
                        </clipPath>
                      </defs>
                    </svg>
                  </div>
                </div>
                <p class="news__item-content-data txt16">12.01.2024</p>
                <p class="news__item-content-title txt18 txt18_bold">
                  Мы приступили к строительству второй очереди кролиководческой фермы
                </p>
                <p class="news__item-content-desk txt16">
                  Продолжаются работы по возведению кролиководческой фермы второй очереди, объем инвестиций в
                  строительство составит свыше 1 миллиарда рублей. Об этом стало известно в рамках рабочей
                  поездки в Гагаринский район губернатора Смоленской области Алексея Островского.
                </p>
              </div>
            </a>
          </div>
          <div class="news-main__swiper-slide swiper-slide">
            <a href="#" class="news__item-link">
              <div class="news__item-img-box">
                <img src="./assets/images/news.webp" alt="" />
                <p class="news__item-category txt16">Компания</p>
              </div>
              <div class="news__item-content-box">
                <div class="news__item-content-link">
                  <div class="news__item-content-link-svg-box">
                    <svg
                      width="32"
                      height="32"
                      viewBox="0 0 32 32"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g>
                        <path
                          d="M12.0436 5.93781H25.9368V19.831M24.972 6.90262L6.06184 25.8128"
                          stroke="white"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </g>
                      <defs>
                        <clipPath>
                          <rect width="32" height="32" fill="white" />
                        </clipPath>
                      </defs>
                    </svg>
                  </div>
                </div>
                <p class="news__item-content-data txt16">12.01.2024</p>
                <p class="news__item-content-title txt18 txt18_bold">
                  Мы приступили к строительству второй очереди кролиководческой фермы
                </p>
                <p class="news__item-content-desk txt16">
                  Продолжаются работы по возведению кролиководческой фермы второй очереди, объем инвестиций в
                  строительство составит свыше 1 миллиарда рублей. Об этом стало известно в рамках рабочей
                  поездки в Гагаринский район губернатора Смоленской области Алексея Островского.
                </p>
              </div>
            </a>
          </div>
          <div class="news-main__swiper-slide swiper-slide">
            <a href="#" class="news__item-link">
              <div class="news__item-img-box">
                <img src="./assets/images/news.webp" alt="" />
                <p class="news__item-category txt16">Мясо кролика</p>
              </div>
              <div class="news__item-content-box">
                <div class="news__item-content-link">
                  <div class="news__item-content-link-svg-box">
                    <svg
                      width="32"
                      height="32"
                      viewBox="0 0 32 32"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g>
                        <path
                          d="M12.0436 5.93781H25.9368V19.831M24.972 6.90262L6.06184 25.8128"
                          stroke="white"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </g>
                      <defs>
                        <clipPath>
                          <rect width="32" height="32" fill="white" />
                        </clipPath>
                      </defs>
                    </svg>
                  </div>
                </div>
                <p class="news__item-content-data txt16">12.01.2024</p>
                <p class="news__item-content-title txt18 txt18_bold">
                  Мы приступили к строительству второй очереди кролиководческой фермы
                </p>
                <p class="news__item-content-desk txt16">
                  Продолжаются работы по возведению кролиководческой фермы второй очереди, объем инвестиций в
                  строительство составит свыше 1 миллиарда рублей. Об этом стало известно в рамках рабочей
                  поездки в Гагаринский район губернатора Смоленской области Алексея Островского.
                </p>
              </div>
            </a>
          </div>
          <div class="news-main__swiper-slide swiper-slide">
            <a href="#" class="news__item-link">
              <div class="news__item-img-box">
                <img src="./assets/images/news.webp" alt="" />
                <p class="news__item-category txt16">СМИ</p>
              </div>
              <div class="news__item-content-box">
                <div class="news__item-content-link">
                  <div class="news__item-content-link-svg-box">
                    <svg
                      width="32"
                      height="32"
                      viewBox="0 0 32 32"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g>
                        <path
                          d="M12.0436 5.93781H25.9368V19.831M24.972 6.90262L6.06184 25.8128"
                          stroke="white"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </g>
                      <defs>
                        <clipPath>
                          <rect width="32" height="32" fill="white" />
                        </clipPath>
                      </defs>
                    </svg>
                  </div>
                </div>
                <p class="news__item-content-data txt16">12.01.2024</p>
                <p class="news__item-content-title txt18 txt18_bold">
                  Мы приступили к строительству второй очереди кролиководческой фермы
                </p>
                <p class="news__item-content-desk txt16">
                  Продолжаются работы по возведению кролиководческой фермы второй очереди, объем инвестиций в
                  строительство составит свыше 1 миллиарда рублей. Об этом стало известно в рамках рабочей
                  поездки в Гагаринский район губернатора Смоленской области Алексея Островского.
                </p>
              </div>
            </a>
          </div>
          <div class="news-main__swiper-slide swiper-slide">
            <a href="#" class="news__item-link">
              <div class="news__item-img-box">
                <img src="./assets/images/news.webp" alt="" />
                <p class="news__item-category txt16">Мясо кролика</p>
              </div>
              <div class="news__item-content-box">
                <div class="news__item-content-link">
                  <div class="news__item-content-link-svg-box">
                    <svg
                      width="32"
                      height="32"
                      viewBox="0 0 32 32"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g>
                        <path
                          d="M12.0436 5.93781H25.9368V19.831M24.972 6.90262L6.06184 25.8128"
                          stroke="white"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </g>
                      <defs>
                        <clipPath>
                          <rect width="32" height="32" fill="white" />
                        </clipPath>
                      </defs>
                    </svg>
                  </div>
                </div>
                <p class="news__item-content-data txt16">12.01.2024</p>
                <p class="news__item-content-title txt18 txt18_bold">
                  Мы приступили к строительству второй очереди кролиководческой фермы
                </p>
                <p class="news__item-content-desk txt16">
                  Продолжаются работы по возведению кролиководческой фермы второй очереди, объем инвестиций в
                  строительство составит свыше 1 миллиарда рублей. Об этом стало известно в рамках рабочей
                  поездки в Гагаринский район губернатора Смоленской области Алексея Островского.
                </p>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="news-main__btn-box">
        <a href="#" class="news-main__show-more-btn buttons button-green">все Новости</a>
        <div class="news-main__swiper-btn-box">
          <div class="news-main__swiper-btn news-main__swiper-btn--prev swiper-button swiper-button-prev">
            <div class="news-main__swiper-btn-svg-box swiper-button-svg-box">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M13.2765 4.66063L7.63679 10.4318C7.43493 10.638 7.27478 10.8828 7.16551 11.1524C7.05624 11.4219 7 11.7109 7 12.0027C7 12.2946 7.05624 12.5835 7.16551 12.8531C7.27478 13.1227 7.43493 13.3675 7.63679 13.5737L13.2765 19.3449C14.6483 20.7487 17 19.746 17 17.7628V6.22041C17 4.23726 14.6483 3.25682 13.2765 4.66063Z"
                  fill="#240403"
                />
              </svg>
            </div>
          </div>

          <div class="news-main__swiper-btn news-main__swiper-btn--next swiper-button swiper-button-next">
            <div class="news-main__swiper-btn-svg-box swiper-button-svg-box">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M10.7235 4.66063L16.3632 10.4318C16.5651 10.638 16.7252 10.8828 16.8345 11.1524C16.9438 11.4219 17 11.7109 17 12.0027C17 12.2946 16.9438 12.5835 16.8345 12.8531C16.7252 13.1227 16.5651 13.3675 16.3632 13.5737L10.7235 19.3449C9.35169 20.7487 7 19.746 7 17.7628V6.22041C7 4.23726 9.35169 3.25682 10.7235 4.66063Z"
                  fill="#240403"
                />
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
