<section class="news _first">
  <div class="container">
    <div class="news__inner">
      <div class="news__title-box">
        <p class="news__title tl1">Новости</p>
        <ul class="news__tabs-list">
          <li class="news__tabs-item buttons active">все</li>
          <li class="news__tabs-item buttons">Компания</li>
          <li class="news__tabs-item buttons">сми</li>
          <li class="news__tabs-item buttons">мясо кролика</li>
        </ul>
      </div>
      <div class="news__list-wrapper">
        <ul class="news__list">
          <li class="news__item">
            <a href="#" class="news__item-link">
              <div class="news__item-img-box">
                <img src="./assets/images/news.webp" alt="" />
                <p class="news__item-category txt16">Компания</p>
              </div>
              <div class="news__item-content-box">
                <div class="news__item-content-link">
                  <div class="news__item-content-link-svg-box">
                    <svg
                      width="32"
                      height="32"
                      viewBox="0 0 32 32"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g>
                        <path
                          d="M12.0436 5.93781H25.9368V19.831M24.972 6.90262L6.06184 25.8128"
                          stroke="white"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </g>
                      <defs>
                        <clipPath>
                          <rect width="32" height="32" fill="white" />
                        </clipPath>
                      </defs>
                    </svg>
                  </div>
                </div>
                <p class="news__item-content-data txt16">12.01.2024</p>
                <p class="news__item-content-title txt18 txt18_bold">
                  Мы приступили к строительству второй очереди кролиководческой фермы
                </p>
                <p class="news__item-content-desk txt16">
                  Продолжаются работы по возведению кролиководческой фермы второй очереди, объем инвестиций в
                  строительство составит свыше 1 миллиарда рублей. Об этом стало известно в рамках рабочей
                  поездки в Гагаринский район губернатора Смоленской области Алексея Островского.
                </p>
              </div>
            </a>
          </li>

          <li class="news__item">
            <a href="#" class="news__item-link">
              <div class="news__item-img-box">
                <img src="./assets/images/news.webp" alt="" />
                <p class="news__item-category txt16">Мясо кролика</p>
              </div>
              <div class="news__item-content-box">
                <div class="news__item-content-link">
                  <div class="news__item-content-link-svg-box">
                    <svg
                      width="32"
                      height="32"
                      viewBox="0 0 32 32"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g>
                        <path
                          d="M12.0436 5.93781H25.9368V19.831M24.972 6.90262L6.06184 25.8128"
                          stroke="white"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </g>
                      <defs>
                        <clipPath>
                          <rect width="32" height="32" fill="white" />
                        </clipPath>
                      </defs>
                    </svg>
                  </div>
                </div>
                <p class="news__item-content-data txt16">12.01.2024</p>
                <p class="news__item-content-title txt18 txt18_bold">
                  Мы приступили к строительству второй очереди кролиководческой фермы
                </p>
                <p class="news__item-content-desk txt16">
                  Продолжаются работы по возведению кролиководческой фермы второй очереди, объем инвестиций в
                  строительство составит свыше 1 миллиарда рублей. Об этом стало известно в рамках рабочей
                  поездки в Гагаринский район губернатора Смоленской области Алексея Островского.
                </p>
              </div>
            </a>
          </li>

          <li class="news__item">
            <a href="#" class="news__item-link">
              <div class="news__item-img-box">
                <img src="./assets/images/news.webp" alt="" />
                <p class="news__item-category txt16">СМИ</p>
              </div>
              <div class="news__item-content-box">
                <div class="news__item-content-link">
                  <div class="news__item-content-link-svg-box">
                    <svg
                      width="32"
                      height="32"
                      viewBox="0 0 32 32"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g>
                        <path
                          d="M12.0436 5.93781H25.9368V19.831M24.972 6.90262L6.06184 25.8128"
                          stroke="white"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </g>
                      <defs>
                        <clipPath>
                          <rect width="32" height="32" fill="white" />
                        </clipPath>
                      </defs>
                    </svg>
                  </div>
                </div>
                <p class="news__item-content-data txt16">12.01.2024</p>
                <p class="news__item-content-title txt18 txt18_bold">
                  Мы приступили к строительству второй очереди кролиководческой фермы
                </p>
                <p class="news__item-content-desk txt16">
                  Продолжаются работы по возведению кролиководческой фермы второй очереди, объем инвестиций в
                  строительство составит свыше 1 миллиарда рублей. Об этом стало известно в рамках рабочей
                  поездки в Гагаринский район губернатора Смоленской области Алексея Островского.
                </p>
              </div>
            </a>
          </li>

          <li class="news__item">
            <a href="#" class="news__item-link">
              <div class="news__item-img-box">
                <img src="./assets/images/news.webp" alt="" />
                <p class="news__item-category txt16">Мясо кролика</p>
              </div>
              <div class="news__item-content-box">
                <div class="news__item-content-link">
                  <div class="news__item-content-link-svg-box">
                    <svg
                      width="32"
                      height="32"
                      viewBox="0 0 32 32"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g>
                        <path
                          d="M12.0436 5.93781H25.9368V19.831M24.972 6.90262L6.06184 25.8128"
                          stroke="white"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </g>
                      <defs>
                        <clipPath>
                          <rect width="32" height="32" fill="white" />
                        </clipPath>
                      </defs>
                    </svg>
                  </div>
                </div>
                <p class="news__item-content-data txt16">12.01.2024</p>
                <p class="news__item-content-title txt18 txt18_bold">
                  Мы приступили к строительству второй очереди кролиководческой фермы
                </p>
                <p class="news__item-content-desk txt16">
                  Продолжаются работы по возведению кролиководческой фермы второй очереди, объем инвестиций в
                  строительство составит свыше 1 миллиарда рублей. Об этом стало известно в рамках рабочей
                  поездки в Гагаринский район губернатора Смоленской области Алексея Островского.
                </p>
              </div>
            </a>
          </li>

          <li class="news__item">
            <a href="#" class="news__item-link">
              <div class="news__item-img-box">
                <img src="./assets/images/news.webp" alt="" />
                <p class="news__item-category txt16">Компания</p>
              </div>
              <div class="news__item-content-box">
                <div class="news__item-content-link">
                  <div class="news__item-content-link-svg-box">
                    <svg
                      width="32"
                      height="32"
                      viewBox="0 0 32 32"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g>
                        <path
                          d="M12.0436 5.93781H25.9368V19.831M24.972 6.90262L6.06184 25.8128"
                          stroke="white"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </g>
                      <defs>
                        <clipPath>
                          <rect width="32" height="32" fill="white" />
                        </clipPath>
                      </defs>
                    </svg>
                  </div>
                </div>
                <p class="news__item-content-data txt16">12.01.2024</p>
                <p class="news__item-content-title txt18 txt18_bold">
                  Мы приступили к строительству второй очереди кролиководческой фермы
                </p>
                <p class="news__item-content-desk txt16">
                  Продолжаются работы по возведению кролиководческой фермы второй очереди, объем инвестиций в
                  строительство составит свыше 1 миллиарда рублей. Об этом стало известно в рамках рабочей
                  поездки в Гагаринский район губернатора Смоленской области Алексея Островского.
                </p>
              </div>
            </a>
          </li>

          <li class="news__item">
            <a href="#" class="news__item-link">
              <div class="news__item-img-box">
                <img src="./assets/images/news.webp" alt="" />
                <p class="news__item-category txt16">Мясо кролика</p>
              </div>
              <div class="news__item-content-box">
                <div class="news__item-content-link">
                  <div class="news__item-content-link-svg-box">
                    <svg
                      width="32"
                      height="32"
                      viewBox="0 0 32 32"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g>
                        <path
                          d="M12.0436 5.93781H25.9368V19.831M24.972 6.90262L6.06184 25.8128"
                          stroke="white"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </g>
                      <defs>
                        <clipPath>
                          <rect width="32" height="32" fill="white" />
                        </clipPath>
                      </defs>
                    </svg>
                  </div>
                </div>
                <p class="news__item-content-data txt16">12.01.2024</p>
                <p class="news__item-content-title txt18 txt18_bold">
                  Мы приступили к строительству второй очереди кролиководческой фермы
                </p>
                <p class="news__item-content-desk txt16">
                  Продолжаются работы по возведению кролиководческой фермы второй очереди, объем инвестиций в
                  строительство составит свыше 1 миллиарда рублей. Об этом стало известно в рамках рабочей
                  поездки в Гагаринский район губернатора Смоленской области Алексея Островского.
                </p>
              </div>
            </a>
          </li>

          <li class="news__item">
            <a href="#" class="news__item-link">
              <div class="news__item-img-box">
                <img src="./assets/images/news.webp" alt="" />
                <p class="news__item-category txt16">СМИ</p>
              </div>
              <div class="news__item-content-box">
                <div class="news__item-content-link">
                  <div class="news__item-content-link-svg-box">
                    <svg
                      width="32"
                      height="32"
                      viewBox="0 0 32 32"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g>
                        <path
                          d="M12.0436 5.93781H25.9368V19.831M24.972 6.90262L6.06184 25.8128"
                          stroke="white"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </g>
                      <defs>
                        <clipPath>
                          <rect width="32" height="32" fill="white" />
                        </clipPath>
                      </defs>
                    </svg>
                  </div>
                </div>
                <p class="news__item-content-data txt16">12.01.2024</p>
                <p class="news__item-content-title txt18 txt18_bold">
                  Мы приступили к строительству второй очереди кролиководческой фермы
                </p>
                <p class="news__item-content-desk txt16">
                  Продолжаются работы по возведению кролиководческой фермы второй очереди, объем инвестиций в
                  строительство составит свыше 1 миллиарда рублей. Об этом стало известно в рамках рабочей
                  поездки в Гагаринский район губернатора Смоленской области Алексея Островского.
                </p>
              </div>
            </a>
          </li>

          <li class="news__item">
            <a href="#" class="news__item-link">
              <div class="news__item-img-box">
                <img src="./assets/images/news.webp" alt="" />
                <p class="news__item-category txt16">Мясо кролика</p>
              </div>
              <div class="news__item-content-box">
                <div class="news__item-content-link">
                  <div class="news__item-content-link-svg-box">
                    <svg
                      width="32"
                      height="32"
                      viewBox="0 0 32 32"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g>
                        <path
                          d="M12.0436 5.93781H25.9368V19.831M24.972 6.90262L6.06184 25.8128"
                          stroke="white"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </g>
                      <defs>
                        <clipPath>
                          <rect width="32" height="32" fill="white" />
                        </clipPath>
                      </defs>
                    </svg>
                  </div>
                </div>
                <p class="news__item-content-data txt16">12.01.2024</p>
                <p class="news__item-content-title txt18 txt18_bold">
                  Мы приступили к строительству второй очереди кролиководческой фермы
                </p>
                <p class="news__item-content-desk txt16">
                  Продолжаются работы по возведению кролиководческой фермы второй очереди, объем инвестиций в
                  строительство составит свыше 1 миллиарда рублей. Об этом стало известно в рамках рабочей
                  поездки в Гагаринский район губернатора Смоленской области Алексея Островского.
                </p>
              </div>
            </a>
          </li>

          <li class="news__item">
            <a href="#" class="news__item-link">
              <div class="news__item-img-box">
                <img src="./assets/images/news.webp" alt="" />
                <p class="news__item-category txt16">Компания</p>
              </div>
              <div class="news__item-content-box">
                <div class="news__item-content-link">
                  <div class="news__item-content-link-svg-box">
                    <svg
                      width="32"
                      height="32"
                      viewBox="0 0 32 32"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g>
                        <path
                          d="M12.0436 5.93781H25.9368V19.831M24.972 6.90262L6.06184 25.8128"
                          stroke="white"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </g>
                      <defs>
                        <clipPath>
                          <rect width="32" height="32" fill="white" />
                        </clipPath>
                      </defs>
                    </svg>
                  </div>
                </div>
                <p class="news__item-content-data txt16">12.01.2024</p>
                <p class="news__item-content-title txt18 txt18_bold">
                  Мы приступили к строительству второй очереди кролиководческой фермы
                </p>
                <p class="news__item-content-desk txt16">
                  Продолжаются работы по возведению кролиководческой фермы второй очереди, объем инвестиций в
                  строительство составит свыше 1 миллиарда рублей. Об этом стало известно в рамках рабочей
                  поездки в Гагаринский район губернатора Смоленской области Алексея Островского.
                </p>
              </div>
            </a>
          </li>

          <li class="news__item">
            <a href="#" class="news__item-link">
              <div class="news__item-img-box">
                <img src="./assets/images/news.webp" alt="" />
                <p class="news__item-category txt16">Мясо кролика</p>
              </div>
              <div class="news__item-content-box">
                <div class="news__item-content-link">
                  <div class="news__item-content-link-svg-box">
                    <svg
                      width="32"
                      height="32"
                      viewBox="0 0 32 32"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g>
                        <path
                          d="M12.0436 5.93781H25.9368V19.831M24.972 6.90262L6.06184 25.8128"
                          stroke="white"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </g>
                      <defs>
                        <clipPath>
                          <rect width="32" height="32" fill="white" />
                        </clipPath>
                      </defs>
                    </svg>
                  </div>
                </div>
                <p class="news__item-content-data txt16">12.01.2024</p>
                <p class="news__item-content-title txt18 txt18_bold">
                  Мы приступили к строительству второй очереди кролиководческой фермы
                </p>
                <p class="news__item-content-desk txt16">
                  Продолжаются работы по возведению кролиководческой фермы второй очереди, объем инвестиций в
                  строительство составит свыше 1 миллиарда рублей. Об этом стало известно в рамках рабочей
                  поездки в Гагаринский район губернатора Смоленской области Алексея Островского.
                </p>
              </div>
            </a>
          </li>

          <li class="news__item">
            <a href="#" class="news__item-link">
              <div class="news__item-img-box">
                <img src="./assets/images/news.webp" alt="" />
                <p class="news__item-category txt16">СМИ</p>
              </div>
              <div class="news__item-content-box">
                <div class="news__item-content-link">
                  <div class="news__item-content-link-svg-box">
                    <svg
                      width="32"
                      height="32"
                      viewBox="0 0 32 32"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g>
                        <path
                          d="M12.0436 5.93781H25.9368V19.831M24.972 6.90262L6.06184 25.8128"
                          stroke="white"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </g>
                      <defs>
                        <clipPath>
                          <rect width="32" height="32" fill="white" />
                        </clipPath>
                      </defs>
                    </svg>
                  </div>
                </div>
                <p class="news__item-content-data txt16">12.01.2024</p>
                <p class="news__item-content-title txt18 txt18_bold">
                  Мы приступили к строительству второй очереди кролиководческой фермы
                </p>
                <p class="news__item-content-desk txt16">
                  Продолжаются работы по возведению кролиководческой фермы второй очереди, объем инвестиций в
                  строительство составит свыше 1 миллиарда рублей. Об этом стало известно в рамках рабочей
                  поездки в Гагаринский район губернатора Смоленской области Алексея Островского.
                </p>
              </div>
            </a>
          </li>

          <li class="news__item">
            <a href="#" class="news__item-link">
              <div class="news__item-img-box">
                <img src="./assets/images/news.webp" alt="" />
                <p class="news__item-category txt16">Мясо кролика</p>
              </div>
              <div class="news__item-content-box">
                <div class="news__item-content-link">
                  <div class="news__item-content-link-svg-box">
                    <svg
                      width="32"
                      height="32"
                      viewBox="0 0 32 32"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g>
                        <path
                          d="M12.0436 5.93781H25.9368V19.831M24.972 6.90262L6.06184 25.8128"
                          stroke="white"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </g>
                      <defs>
                        <clipPath>
                          <rect width="32" height="32" fill="white" />
                        </clipPath>
                      </defs>
                    </svg>
                  </div>
                </div>
                <p class="news__item-content-data txt16">12.01.2024</p>
                <p class="news__item-content-title txt18 txt18_bold">
                  Мы приступили к строительству второй очереди кролиководческой фермы
                </p>
                <p class="news__item-content-desk txt16">
                  Продолжаются работы по возведению кролиководческой фермы второй очереди, объем инвестиций в
                  строительство составит свыше 1 миллиарда рублей. Об этом стало известно в рамках рабочей
                  поездки в Гагаринский район губернатора Смоленской области Алексея Островского.
                </p>
              </div>
            </a>
          </li>
        </ul>

        <button class="news__show-more-btn buttons button-green">показать еще</button>
      </div>
    </div>
  </div>
</section>
