<section class="partner">
  <div class="partner__container container">
    <div class="partner__left">
      <div class="partner__left-title tl1">
        <span>ПрофиКроль - ваш партнер</span> в здоровом и вкусном питании!
      </div>
      <div class="partner__text txt18">
        Мы используем современное высокотехнологичное оборудование используя технологию выращивания пусто
        занято, что позволяет животным комфортно развиваться, а персоналу регулярно обрабатывать клетки.
        Генетика и уход дают великолепный результат. Наша компания заботится о каждом этапе производства. Наша
        компания заботится о каждом этапе производства. Начиная с кормления кроликов только качественными
        кормами без ГМО, и заканчивая контролем качества на всех этапах производства.
      </div>
      <div class="partner__statistic">
        <div class="partner__statistic-item">
          <div class="partner__statistic-number tl1">>670 тн</div>
          <div class="partner__statistic-text txt16">Первокласной готовой продукции</div>
        </div>
        <div class="partner__statistic-item">
          <div class="partner__statistic-number tl1">>1 000 тн</div>
          <div class="partner__statistic-text txt16">Лучшего кролика в живом весе</div>
        </div>
        <div class="partner__statistic-item">
          <div class="partner__statistic-number tl1">>25 га</div>
          <div class="partner__statistic-text txt16">Собственный земельный участок</div>
        </div>
        <div class="partner__statistic-item">
          <div class="partner__statistic-number tl1">>4 000 тн</div>
          <div class="partner__statistic-text txt16">Первоклассных кормов</div>
        </div>
      </div>
    </div>
    <div class="partner__right">
      <div class="partner__right-column">
        <div class="partner__right-img--big">
          <img src="./assets/images/partner-img-1.webp" alt="" />
        </div>
        <div class="partner__right-img--small mobile">
          <img src="./assets/images/partner-img-2.webp" alt="" />
        </div>
      </div>
      <div class="partner__right-column">
        <div class="partner__right-descr">
          <div class="partner__right-title tl2">Высокое качество и безопасность</div>
          <div class="partner__text txt16">
            Мы гордимся тем, что прошли сертификацию от компании Danone, что подчеркивает нашу приверженность
            качеству и доверию потребителей.
          </div>
          <a href="#" class="partner__btn buttons button-green">О компании</a>
        </div>
        <div class="partner__right-img--small desktop">
          <img src="./assets/images/partner-img-2.webp" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
