<section class="production">
  <div class="production__container container">
    <div class="production__title tl1">Производство</div>
    <div class="production__body">
      <ul class="production__list">
        <li class="production__item active">
          <div class="production__item-title tl2 tl2_bold">
            <span>Корма</span>
            <span
              ><svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M23.3394 15.2235L17.5682 20.8632C17.362 21.0651 17.1172 21.2252 16.8476 21.3345C16.5781 21.4438 16.2891 21.5 15.9973 21.5C15.7054 21.5 15.4165 21.4438 15.1469 21.3345C14.8773 21.2252 14.6325 21.0651 14.4263 20.8632L8.65513 15.2235C7.25133 13.8517 8.25405 11.5 10.2372 11.5L21.7796 11.5C23.7627 11.5 24.7432 13.8517 23.3394 15.2235Z"
                  fill="#240403"
                />
              </svg>
            </span>
          </div>
          <div class="production__item-text txt18">
            3 вида корма, разработанного специально для нас, позволяет эффективно набирать вес на разных
            стадиях жизни кролика. Лактации, Откорма и Отъема. Автоматическое кормление, сводит до минимума
            присутствие персонала в цеху, что не разрушает микроклимат у животных и оберегает их от
            заболеваний.
          </div>
          <div class="production__images-item three-img mobile">
            <div class="production__images-item--column">
              <div>
                <img src="./assets/images/production-img-1.webp" alt="" />
              </div>
              <div>
                <img src="./assets/images/production-img-2.webp" alt="" />
              </div>
            </div>
            <div class="production__images-item--column">
              <img src="./assets/images/production-img-3.webp" alt="" />
            </div>
          </div>
        </li>
        <li class="production__item">
          <div class="production__item-title tl2 tl2_bold">
            <span>Промышленные крольчатники</span>
            <span
              ><svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M23.3394 15.2235L17.5682 20.8632C17.362 21.0651 17.1172 21.2252 16.8476 21.3345C16.5781 21.4438 16.2891 21.5 15.9973 21.5C15.7054 21.5 15.4165 21.4438 15.1469 21.3345C14.8773 21.2252 14.6325 21.0651 14.4263 20.8632L8.65513 15.2235C7.25133 13.8517 8.25405 11.5 10.2372 11.5L21.7796 11.5C23.7627 11.5 24.7432 13.8517 23.3394 15.2235Z"
                  fill="#240403"
                />
              </svg>
            </span>
          </div>
          <div class="production__item-text txt18">
            Мы используем лучшее оборудование для выращивания и содержания кроликов компании "MENEGHIN" с
            автоматическим кормлением и поением. Фермы оборудованы современными системами водоподготовки,
            кондиционирования и вентиляции.
          </div>
          <div class="production__images-item three-img mobile">
            <div class="production__images-item--column">
              <div>
                <img src="./assets/images/production-img-1.webp" alt="" />
              </div>
              <div>
                <img src="./assets/images/production-img-2.webp" alt="" />
              </div>
            </div>
            <div class="production__images-item--column">
              <img src="./assets/images/production-img-3.webp" alt="" />
            </div>
          </div>
        </li>
        <li class="production__item">
          <div class="production__item-title tl2 tl2_bold">
            <span>Селекционно-генетический центр</span>
            <span
              ><svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M23.3394 15.2235L17.5682 20.8632C17.362 21.0651 17.1172 21.2252 16.8476 21.3345C16.5781 21.4438 16.2891 21.5 15.9973 21.5C15.7054 21.5 15.4165 21.4438 15.1469 21.3345C14.8773 21.2252 14.6325 21.0651 14.4263 20.8632L8.65513 15.2235C7.25133 13.8517 8.25405 11.5 10.2372 11.5L21.7796 11.5C23.7627 11.5 24.7432 13.8517 23.3394 15.2235Z"
                  fill="#240403"
                />
              </svg>
            </span>
          </div>
          <div class="production__item-text txt18">
            3 вида корма, разработанного специально для нас, позволяет эффективно набирать вес на разных
            стадиях жизни кролика. Лактации, Откорма и Отъема. Автоматическое кормление, сводит до минимума
            присутствие персонала в цеху, что не разрушает микроклимат у животных и оберегает их от
            заболеваний.
          </div>
          <div class="production__images-item two-img mobile">
            <div class="production__images-item--column">
              <img src="./assets/images/production-img-3.webp" alt="" />
            </div>
            <div class="production__images-item--column">
              <img src="./assets/images/production-img-3.webp" alt="" />
            </div>
          </div>
        </li>
        <li class="production__item">
          <div class="production__item-title tl2 tl2_bold">
            <span>Цех переработки</span>
            <span
              ><svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M23.3394 15.2235L17.5682 20.8632C17.362 21.0651 17.1172 21.2252 16.8476 21.3345C16.5781 21.4438 16.2891 21.5 15.9973 21.5C15.7054 21.5 15.4165 21.4438 15.1469 21.3345C14.8773 21.2252 14.6325 21.0651 14.4263 20.8632L8.65513 15.2235C7.25133 13.8517 8.25405 11.5 10.2372 11.5L21.7796 11.5C23.7627 11.5 24.7432 13.8517 23.3394 15.2235Z"
                  fill="#240403"
                />
              </svg>
            </span>
          </div>
          <div class="production__item-text txt18">
            Цеха оснащены современным оборудованием, позволяющим получить качественное мясо, красиво и
            герметично упаковать продукцию и безопасно доставить ее до потребителя.
          </div>
          <div class="production__images-item one-img mobile">
            <div class="production__images-item--column">
              <img src="./assets/images/production-img-3.webp" alt="" />
            </div>
          </div>
        </li>
        <li class="production__item">
          <div class="production__item-title tl2 tl2_bold">
            <span>Цех переработки</span>
            <span
              ><svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M23.3394 15.2235L17.5682 20.8632C17.362 21.0651 17.1172 21.2252 16.8476 21.3345C16.5781 21.4438 16.2891 21.5 15.9973 21.5C15.7054 21.5 15.4165 21.4438 15.1469 21.3345C14.8773 21.2252 14.6325 21.0651 14.4263 20.8632L8.65513 15.2235C7.25133 13.8517 8.25405 11.5 10.2372 11.5L21.7796 11.5C23.7627 11.5 24.7432 13.8517 23.3394 15.2235Z"
                  fill="#240403"
                />
              </svg>
            </span>
          </div>
          <div class="production__item-text txt18">
            Цеха оснащены современным оборудованием, позволяющим получить качественное мясо, красиво и
            герметично упаковать продукцию и безопасно доставить ее до потребителя.
          </div>
          <div class="production__images-item one-img mobile">
            <div class="production__images-item--column">
              <img src="./assets/images/production-img-3.webp" alt="" />
            </div>
          </div>
        </li>
      </ul>
      <ul class="production__images desktop">
        <li class="production__images-item three-img active">
          <div class="production__images-item--column">
            <div>
              <img src="./assets/images/production-img-1.webp" alt="" />
            </div>
            <div>
              <img src="./assets/images/production-img-2.webp" alt="" />
            </div>
          </div>
          <div class="production__images-item--column">
            <img src="./assets/images/production-img-3.webp" alt="" />
          </div>
        </li>
        <li class="production__images-item three-img">
          <div class="production__images-item--column">
            <div>
              <img src="./assets/images/production-img-1.webp" alt="" />
            </div>
            <div>
              <img src="./assets/images/production-img-2.webp" alt="" />
            </div>
          </div>
          <div class="production__images-item--column">
            <img src="./assets/images/production-img-3.webp" alt="" />
          </div>
        </li>
        <li class="production__images-item two-img">
          <div class="production__images-item--column">
            <img src="./assets/images/production-img-3.webp" alt="" />
          </div>
          <div class="production__images-item--column">
            <img src="./assets/images/production-img-3.webp" alt="" />
          </div>
        </li>
        <li class="production__images-item one-img">
          <div class="production__images-item--column">
            <img src="./assets/images/production-img-3.webp" alt="" />
          </div>
        </li>
        <li class="production__images-item one-img">
          <div class="production__images-item--column">
            <img src="./assets/images/production-img-3.webp" alt="" />
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
