<section class="rabbit-meat">
  <div class="container">
    <div class="rabbit-meat__inner">
      <div class="rabbit-meat__content-box">
        <div class="rabbit-meat__content-info-box">
          <div class="rabbit-meat__content-text-wrapper">
            <p class="rabbit-meat__content-text-title tl1">Кроличье мясо</p>
            <div class="rabbit-meat__content-text-box">
              <p class="rabbit-meat__content-text txt18">
                Кроличье мясо - это натуральный и питательный продукт. Оно отличается нежным и мягким вкусом.
              </p>
              <p class="rabbit-meat__content-text txt18">
                Это мясо также характеризуется низким содержанием жира, что делает его привлекательным для
                тех, кто следит за своим здоровьем или придерживается диеты с низким содержанием жира.
              </p>
              <p class="rabbit-meat__content-text txt18">
                Кроличье мясо является хорошим выбором для тех, кто занимается спортом или ведет активный
                образ жизни.
              </p>
            </div>
          </div>
          <div class="rabbit-meat__content-info-svg-box desktop">
            <img src="./assets/images/rabbit-meat.svg" alt="" />
          </div>
        </div>
        <div class="rabbit-meat__content-img-wrapper">
          <div class="rabbit-meat__about">
            <a href="#" class="about-company-circle">
              <div class="about-company-circle__svg-box">
                <img src="./assets/images/product.svg" alt="" />
              </div>
            </a>
          </div>
       
          <div class="rabbit-meat__content-img-box">
            <img src="./assets/images/rabbit-meat.webp" alt="" />
          </div>
        </div>
      </div>
      <div class="rabbit-meat__info-box">
        <p class="rabbit-meat__info-title tl2">Почему мясо кролика намного лучше чем другие виды мяса?</p>
        <p class="rabbit-meat__info-desc txt18">
          Мясо кролика обладает несколькими преимуществами перед свининой или говядиной. В крольчатине мясо и
          жир разделены. То есть мясо легко отделяется от жировой прослойки. Да бывает, что у упитанных
          кроликов, есть жировая прослойка в мясе, но это делает его еще более вкусным. Кроме того, мясо
          кролика считается легкоусвояемым, что может быть важным для людей с чувствительным желудком.
        </p>
      </div>
    </div>
  </div>
</section>
