<section class="supervisor">
  <div class="container">
    <div class="supervisor__inner">
      <p class="supervisor__title tl1">Руководители</p>
      <div class="supervisor__swiper swiper">
        <div class="supervisor__swiper-wrapper swiper-wrapper">
          <div class="supervisor__swiper-slide swiper-slide">
            <a href="#" class="supervisor__swiper-slide-link "data-popup="#popup__supervisor">
              <img src="./assets/images/supervisor.webp" alt="" />
              <div class="supervisor__swiper-slide-text-box">
                <p class="supervisor__swiper-slide-text-name txt18 txt18_bold">Одинцов Василий Петрович</p>
                <p class="supervisor__swiper-slide-text-position txt18">Исполнительный директор</p>
              </div>
            </a>
          </div>
          <div class="supervisor__swiper-slide swiper-slide">
            <a href="#" class="supervisor__swiper-slide-link "data-popup="#popup__supervisor">
              <img src="./assets/images/supervisor.webp" alt="" />
              <div class="supervisor__swiper-slide-text-box">
                <p class="supervisor__swiper-slide-text-name txt18 txt18_bold">Одинцов Василий Петрович</p>
                <p class="supervisor__swiper-slide-text-position txt18">Главный инженер</p>
              </div>
            </a>
          </div>
          <div class="supervisor__swiper-slide swiper-slide">
            <a href="#" class="supervisor__swiper-slide-link "data-popup="#popup__supervisor">
              <img src="./assets/images/supervisor.webp" alt="" />
              <div class="supervisor__swiper-slide-text-box">
                <p class="supervisor__swiper-slide-text-name txt18 txt18_bold">Одинцов Василий Петрович</p>
                <p class="supervisor__swiper-slide-text-position txt18">Транспортная служба</p>
              </div>
            </a>
          </div>
          <div class="supervisor__swiper-slide swiper-slide">
            <a href="#" class="supervisor__swiper-slide-link "data-popup="#popup__supervisor">
              <img src="./assets/images/supervisor.webp" alt="" />
              <div class="supervisor__swiper-slide-text-box">
                <p class="supervisor__swiper-slide-text-name txt18 txt18_bold">Одинцов Василий Петрович</p>
                <p class="supervisor__swiper-slide-text-position txt18">Исполнительный директор</p>
              </div>
            </a>
          </div>
          <div class="supervisor__swiper-slide swiper-slide">
            <a href="#" class="supervisor__swiper-slide-link "data-popup="#popup__supervisor">
              <img src="./assets/images/supervisor.webp" alt="" />
              <div class="supervisor__swiper-slide-text-box">
                <p class="supervisor__swiper-slide-text-name txt18 txt18_bold">Одинцов Василий Петрович</p>
                <p class="supervisor__swiper-slide-text-position txt18">Главный инженер</p>
              </div>
            </a>
          </div>
          <div class="supervisor__swiper-slide swiper-slide">
            <a href="#" class="supervisor__swiper-slide-link "data-popup="#popup__supervisor">
              <img src="./assets/images/supervisor.webp" alt="" />
              <div class="supervisor__swiper-slide-text-box">
                <p class="supervisor__swiper-slide-text-name txt18 txt18_bold">Одинцов Василий Петрович</p>
                <p class="supervisor__swiper-slide-text-position txt18">Транспортная служба</p>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="supervisor__swiper-btn-box">
        <div class="supervisor__swiper-btn supervisor__swiper-btn--prev swiper-button swiper-button-prev">
          <div class="supervisor__swiper-btn-svg-box swiper-button-svg-box">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M13.2765 4.66063L7.63679 10.4318C7.43493 10.638 7.27478 10.8828 7.16551 11.1524C7.05624 11.4219 7 11.7109 7 12.0027C7 12.2946 7.05624 12.5835 7.16551 12.8531C7.27478 13.1227 7.43493 13.3675 7.63679 13.5737L13.2765 19.3449C14.6483 20.7487 17 19.746 17 17.7628V6.22041C17 4.23726 14.6483 3.25682 13.2765 4.66063Z"
                fill="#240403"
              />
            </svg>
          </div>
        </div>

        <div class="supervisor__swiper-btn supervisor__swiper-btn--next swiper-button swiper-button-next">
          <div class="supervisor__swiper-btn-svg-box swiper-button-svg-box">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M10.7235 4.66063L16.3632 10.4318C16.5651 10.638 16.7252 10.8828 16.8345 11.1524C16.9438 11.4219 17 11.7109 17 12.0027C17 12.2946 16.9438 12.5835 16.8345 12.8531C16.7252 13.1227 16.5651 13.3675 16.3632 13.5737L10.7235 19.3449C9.35169 20.7487 7 19.746 7 17.7628V6.22041C7 4.23726 9.35169 3.25682 10.7235 4.66063Z"
                fill="#240403"
              />
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
