<section class="advantages">
  <div class="container">
    <div class="advantages__inner">
      <div class="advantages__title-box">
        <p class="advantages__title tl2">Преимущества нашей компаниии</p>
        <p class="advantages__desk txt20">
          Мы обеспечиваем высокий уровень качества обслуживания наших клиентов. Безопасность пищевых продуктов
          для нас имеет первостепенное значение.
        </p>
      </div>
      <ul class="advantages__list">
        <li class="advantages__item">
            <div class="advantages__item-svg-box">
                <img src="./assets/images/advantages-1.svg" alt="">
            </div>
            <div class="advantages__item-text-box ">
                <p class="advantages__item-text-title tl4">Разнообразие</p>
                <p class="advantages__item-text-desk txt20">Предоставляем широкий выбор блюд. Мы ежедневно обновляем меню наших обедов, чтобы блюда не повторялись. Вы можете сами менять состав обеда на свой вкус</p>
            </div>
        </li>
        <li class="advantages__item">
            <div class="advantages__item-svg-box">
                <img src="./assets/images/advantages-2.svg" alt="">
            </div>
            <div class="advantages__item-text-box ">
                <p class="advantages__item-text-title tl4">Качество</p>
                <p class="advantages__item-text-desk txt20">Продукты для ваших обедов доставляются к нам на кухню в день доставки заказа. Все наши блюда готовятся из натуральных и свежих продуктов в день доставки заказа</p>
            </div>
        </li>
        <li class="advantages__item">
            <div class="advantages__item-svg-box">
                <img src="./assets/images/advantages-3.svg" alt="">
            </div>
            <div class="advantages__item-text-box ">
                <p class="advantages__item-text-title tl4">Политика цен</p>
                <p class="advantages__item-text-desk txt20">Мы не экономим на продуктах. Корпоративное питание должно соответствовать высоким стандартам качества пищи и ее вкуса. Готовим из продуктов от проверенных поставщиков</p>
            </div>
        </li>
        <li class="advantages__item">
            <div class="advantages__item-svg-box">
                <img src="./assets/images/advantages-4.svg" alt="">
            </div>
            <div class="advantages__item-text-box ">
                <p class="advantages__item-text-title tl4">Комплексный подход</p>
                <p class="advantages__item-text-desk txt20">У нас есть готовые решения для наших заказчиков в зависимости от потребностей. Организуем любые форматы столовых, кафе, доставки, фуршетов, кейтерингов</p>
            </div>
        </li>
      </ul>
    </div>
  </div>
</section>
