<section class="article-det _first">
  <div class="container">
    <div class="article-det__inner">
      <div class="article-det__header-box">
        <div class="article-det__header-title-wrapper">
          <div class="article-det__header-title-box">
            <p class="article-det__header-title-time txt20">10.03.22</p>
            <p class="article-det__header-title tl2">Масленица в офисе: идеи для организации</p>
          </div>
          <div class="article-det__header-desk-box">
            <p class="article-det__header-desk txt20">
              Если традиционных корпоративов вам недостаточно, попробуйте новый формат праздника и организуйте
              Масленицу в офисе.
            </p>
            <p class="article-det__header-category tl4">Полезное</p>
          </div>
        </div>
        <div class="article-det__header-img-box">
          <img src="./assets/images/article-hero.webp" alt="" />
        </div>
      </div>
      <div class="article-det__content-box">
        <nav class="article-det__nav">
          <p class="article-det__nav-title tl4">Содержание</p>
          <ul class="article-det__nav-list">
            <li class="article-det__nav-item">
              <a href="#article-block-1" class="article-det__nav-link nav-link txt20 active">
                Остаемся в офисе — фуршет
              </a>
            </li>
            <li class="article-det__nav-item">
              <a href="#article-block-2" class="article-det__nav-link nav-link txt20">
                Празднование масленицы идеально впишется в формат выездного корпоратива.
              </a>
            </li>
            <li class="article-det__nav-item">
              <a href="#article-block-3" class="article-det__nav-link nav-link txt20">
                Блинный кофе-брейк —идеальный вариант для официального мероприятия
              </a>
            </li>
          </ul>
        </nav>
        <div class="article-det__atricle">
          <div class="article-det__article-item" id="article-block-1">
            <div class="article-det__article-item-title tl4">Остаемся в офисе — фуршет</div>
            <div class="article-det__article-item-desk-box">
              <p class="article-det__article-item-desk txt20">
                Если традиционных корпоративов вам недостаточно, ваш коллектив работает максимально эффективно
                и требует больше отдыха и коммуникации, попробуйте новый формат праздника и организуйте
                Масленицу в офисе.
              </p>
              <p class="article-det__article-item-desk txt20">
                Конечно, многие славянские традиции подразумевают выезд за город, однако сжигать чучело в
                опенспейсе совсем не обязательно. Многие интересные обычаи можно адаптировать в рамках
                безопасности. Кулачные бои для мужчин заменить на соревнование по армрестлингу, а катания на
                санях — на заезд в офисных креслах. Все зависит от фантазии и раскрепощенности ваших
                сотрудников.
              </p>
              <p class="article-det__article-item-desk txt20">
                Но если вы предпочитаете более консервативный стиль корпоративов и не хотите пугать коллег из
                соседних компаний, то предлагаем ограничиться вечеринкой с блинами. Но помните, по традиции
                радоваться и смеяться в этот день — обязательно.
              </p>
              <p class="article-det__article-item-desk txt20">
                Масленичная неделя всегда начинается в понедельник и завершается, соответственно, в
                воскресенье. Вы легко найдете материалы об обрядах каждого дня праздника в интернете. С
                помощью них можно придумать и устроить активности связанные с этими традициями. Таким образом,
                Масленицу можно праздновать всю неделю.
              </p>
            </div>
          </div>
          <div class="article-det__article-item" id="article-block-2">
            <div class="article-det__article-item-title tl4">
              Празднование масленицы идеально впишется в формат выездного корпоратива.
            </div>
            <div class="article-det__article-item-desk-box">
              <p class="article-det__article-item-desk txt20">
                Славянское торжество полно традиций и игр, которые можно превратить в интересные конкурсы и
                забавы для участников. Вы можете испечь блины самостоятельно, но лучше заказать кейтеринг,
                чтобы не тратить время на приготовление еды, а сосредоточиться на развлекательной программе.
              </p>
              <p class="article-det__article-item-desk txt20">
                Вам не обязательно искать сценарии народного фольклора, в России практически все детские игры
                связаны с Масленицей: игра в снежки, ручеек и жмурки. Вот несколько вариантов для веселого
                времяпрепровождения под открытым небом.
              </p>
              <p class="article-det__article-item-desk txt20">
                Славянское торжество полно традиций и игр, которые можно превратить в интересные конкурсы и
                забавы для участников. Вы можете испечь блины самостоятельно, но лучше заказать кейтеринг,
                чтобы не тратить время на приготовление еды, а сосредоточиться на развлекательной программе.
              </p>
            </div>
            <div class="article-det__article-item-info-box">
              <p class="article-det__article-item-info txt20">
                Вам не обязательно искать сценарии народного фольклора, в России практически все детские игры
                связаны с Масленицей: игра в снежки, ручеек и жмурки. Вот несколько вариантов для веселого
                времяпрепровождения под открытым небом.
              </p>
            </div>
          </div>
          <div class="article-det__article-item-swiper-box">
            <div class="article-det__article-item-swiper swiper">
              <div class="article-det__article-item-swiper-wrapper swiper-wrapper">
                <div class="article-det__article-item-swiper-slide swiper-slide">
                  <div class="article-det__article-item-swiper-slide-inner">
                    <img src="./assets/images/article-swiper.webp" alt="" />
                  </div>
                </div>
                <div class="article-det__article-item-swiper-slide swiper-slide">
                  <div class="article-det__article-item-swiper-slide-inner">
                    <img src="./assets/images/article-swiper.webp" alt="" />
                  </div>
                </div>
                <div class="article-det__article-item-swiper-slide swiper-slide">
                  <div class="article-det__article-item-swiper-slide-inner">
                    <img src="./assets/images/article-swiper.webp" alt="" />
                  </div>
                </div>
                <div class="article-det__article-item-swiper-slide swiper-slide">
                  <div class="article-det__article-item-swiper-slide-inner">
                    <img src="./assets/images/article-swiper.webp" alt="" />
                  </div>
                </div>
              </div>
            </div>
            <div class="article-det__article-item-swiper-btn-box">
              <button
                class="article-det__article-item-swiper-btn article-det__article-item-swiper-btn--prev button-swiper button-swiper--prev swiper-button-prev"
              >
                <div class="button-swiper-svg-box">
                  <svg
                    width="20"
                    height="14"
                    viewBox="0 0 20 14"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M20 7L1 7M1 7L6.45545 13M1 7L6.45545 0.999998"
                      stroke="#4658FD"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
              </button>
              <button
                class="article-det__article-item-swiper-btn article-det__article-item-swiper-btn--next button-swiper button-swiper--next swiper-button-next"
              >
                <div class="button-swiper-svg-box">
                  <svg
                    width="20"
                    height="14"
                    viewBox="0 0 20 14"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M0 7H19M19 7L13.5446 1M19 7L13.5446 13"
                      stroke="#4658FD"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
              </button>
            </div>
          </div>
          <div class="article-det__article-item" id="article-block-3">
            <div class="article-det__article-item-title tl4">
              Блинный кофе-брейк —идеальный вариант для официального мероприятия
            </div>
            <div class="article-det__article-item-desk-box">
              <p class="article-det__article-item-desk txt20">
                Думаем, ваши партнеры или участники брифинга оценят доброжелательный подход и креативность.
                Особенно, если среди них окажутся иностранцы. Угостите их блинами с икрой, которые давно
                считаются визитной карточкой национальной русской кухни. И не забудьте рассказать, что по
                славянской примете тех, кто съест блинчик в праздник Масленицы, весь год будет сопровождать
                удача и финансовое благополучие.
              </p>
              <ul class="article-det__article-item-list">
                <li class="article-det__article-item-item txt20">
                  <span>1</span>Разбавьте привычный фуршет с закусками сладкими блинами, чтобы подчеркнуть
                  ваше внимание к деталям и приверженность традициям.
                </li>
                <li class="article-det__article-item-item txt20">
                  <span>2</span>Если вы не хотите тратить время на изучение меню для угощений на праздник в
                  этом году, то вы можете оставить заявку, и мы организуем лучший праздник для вас.
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
