<section class="certificates">
  <div class="container">
    <p class="tl2">Сертификаты</p>

    <div class="certificates__swiper swiper">
      <div class="certificates__swiper-wrapper swiper-wrapper">
        <div class="certificates__swiper-slide swiper-slide">
          <div class="certificates__card">
            <a data-fancybox href="../assets/images/certificates.webp" class="certificates__card-img">
              <img src="../assets/images/certificates.webp" alt="" />
            </a>

            <div class="certificates__card-content">
              <p class="tl5">Сертификат</p>
              <span class="txt16">№123123123</span>
            </div>
          </div>
        </div>

        <div class="certificates__swiper-slide swiper-slide">
          <div class="certificates__card">
            <a data-fancybox href="../assets/images/certificates.webp" class="certificates__card-img">
              <img src="../assets/images/certificates.webp" alt="" />
            </a>

            <div class="certificates__card-content">
              <p class="tl5">Сертификат</p>
              <span class="txt16">№123123123</span>
            </div>
          </div>
        </div>

        <div class="certificates__swiper-slide swiper-slide">
          <div class="certificates__card">
            <a data-fancybox href="../assets/images/certificates.webp" class="certificates__card-img">
              <img src="../assets/images/certificates.webp" alt="" />
            </a>

            <div class="certificates__card-content">
              <p class="tl5">Сертификат</p>
              <span class="txt16">№123123123</span>
            </div>
          </div>
        </div>

        <div class="certificates__swiper-slide swiper-slide">
          <div class="certificates__card">
            <a data-fancybox href="../assets/images/certificates.webp" class="certificates__card-img">
              <img src="../assets/images/certificates.webp" alt="" />
            </a>

            <div class="certificates__card-content">
              <p class="tl5">Сертификат</p>
              <span class="txt16">№123123123</span>
            </div>
          </div>
        </div>

        <div class="certificates__swiper-slide swiper-slide">
          <div class="certificates__card">
            <a data-fancybox href="../assets/images/certificates.webp" class="certificates__card-img">
              <img src="../assets/images/certificates.webp" alt="" />
            </a>

            <div class="certificates__card-content">
              <p class="tl5">Сертификат</p>
              <span class="txt16">№123123123</span>
            </div>
          </div>
        </div>
      </div>

      <div class="certificates__btn-box">
        <button class="reviews-swiper__btn certificates__btn--prev button-swiper button-swiper--prev">
          <div class="button-swiper-svg-box">
            <svg width="20" height="14" viewBox="0 0 20 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M20 7L1 7M1 7L6.45545 13M1 7L6.45545 0.999998"
                stroke="#4658FD"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </button>
        <button class="reviews-swiper__btn certificates__btn--next button-swiper button-swiper--next">
          <div class="button-swiper-svg-box">
            <svg width="20" height="14" viewBox="0 0 20 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M0 7H19M19 7L13.5446 1M19 7L13.5446 13"
                stroke="#4658FD"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </button>
      </div>
    </div>
  </div>
</section>
