<section class="contacts">
  <div class="container">
    <div class="contacts__head">
      <p class="contacts__head-title tl2">Контакты</p>
      <p class="contacts__head-date txt16">Работаем с 9:00 до 21:00</p>
    </div>

    <ul class="contacts__list">
      <li class="contacts__list-item">
        <span class="contacts__list-item-title tl5">Адрес</span>
        <p class="txt20">г. Москва, ул. Тимирязевская, 1</p>
      </li>

      <li class="contacts__list-item">
        <span class="contacts__list-item-title tl5">Почта</span>
        <a href="mailto:foraxample@.com" class="txt20">foraxample@.com</a>
      </li>

      <li class="contacts__list-item">
        <span class="contacts__list-item-title tl5">Телефон</span>
        <a href="tel:74991362923" class="txt20">+7(499)136 29 23</a>
      </li>
    </ul>

    <div class="contacts__map-box">
      <div class="contacts__map" id="contacts-map"></div>

      <div class="contacts__cloud">
        <p class="contacts__cloud-title tl5">Как добраться</p>

        <div class="contacts__cloud-text">
          <p class="txt20">
            От метро Дмитровская идите прямо до Дмитровского проезда, поверните налево, идите прямо до
            перекрёстка с Тимерязевской улицей. 
          </p>
          <p class="txt20">
            От метро Дмитровская идите прямо до Дмитровского проезда, поверните налево, идите прямо до
            перекрёстка с Тимерязевской улицей.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
