<section class="delivery-banner">
  <div class="container">
    <div class="delivery-banner__content">
      <p class="tl2">Доставка</p>
      <div class="delivery-banner__list-box">
        <div class="delivery-banner__list">
          <p class="tl5">В пределах МКАД бесплатно</p>
          <ul class="delivery-banner__list-inner">
            <li class="delivery-banner__list-item">
              <span class="delivery-banner__list-item-num">01</span>
              <div class="delivery-banner__list-item-body">
                <p class="delivery-banner__list-item-title txt20">Для САО, СВАО, СЗАО</p>
                <p class="delivery-banner__list-item-text txt20">
                  минимальный заказ от
                  <strong>5000 р</strong>
                </p>
              </div>
            </li>

            <li class="delivery-banner__list-item">
              <span class="delivery-banner__list-item-num">02</span>
              <div class="delivery-banner__list-item-body">
                <p class="delivery-banner__list-item-title txt20">Остальные районы</p>
                <p class="delivery-banner__list-item-text txt20">
                  минимальный заказ от
                  <strong>10 000 р</strong>
                </p>
              </div>
            </li>
          </ul>
        </div>

        <div class="delivery-banner__list">
          <p class="tl5">За МКАД</p>
          <ul class="delivery-banner__list-inner">
            <li class="delivery-banner__list-item">
              <span class="delivery-banner__list-item-num">01</span>
              <div class="delivery-banner__list-item-body">
                <p class="delivery-banner__list-item-title txt20">
                  Стоимость доставки обсуждается индивидуально
                </p>
                <p class="delivery-banner__list-item-text txt20">
                  минимальный заказ <br />
                  <strong>от 5000 р до 10 000р</strong>
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="delivery-banner__map">
      <div class="delivery-banner__map-img">
        <img src="../assets/images/map-img.webp" alt="" />
      </div>
    </div>
  </div>
</section>
