<section class="error">
  <div class="container">
    <div class="error__inner">
      <p class="error__text error__text--rotate txt20">Страница не найдена</p>
      <div class="error__title-box">
        <p class="error__title tl4">Страница не существует</p>
        <div class="error__title-num-wrapper">
            <div class="error__title-num-img-box error__title-num-img-box--left">
                <img src="./assets/images/error-1.webp" alt="">
            </div>
            <p class="error__title-num">404</p>
            <div class="error__title-num-img-box error__title-num-img-box--right">
                <img src="./assets/images/error-2.webp" alt="">
            </div>
        </div>
      </div>
      <div class="error__info-box">
        <p class="error__desk txt20">
          Кажется что-то пошло не так! Возможно страница устарела, была удалена, или был введен неверный адрес
          в адресной строке.
        </p>
        <button class="error__contact-button button" data-popup="#popup__application">
          <span class="button-tel-svg-wrapper">
            <span class="button-tel-svg-box">
              <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M16.7035 12.291C17.1059 12.6945 17.3319 13.2412 17.3319 13.8111C17.3319 14.381 17.1059 14.9277 16.7035 15.3313L16.0715 16.0597C10.384 21.5049 -3.45625 7.66806 1.90486 1.9625L2.70347 1.26806C3.10748 0.876859 3.64926 0.660451 4.2116 0.665649C4.77394 0.670848 5.31163 0.897235 5.70833 1.29583C5.72986 1.31736 7.01667 2.98889 7.01667 2.98889C7.39849 3.39002 7.61104 3.92287 7.61014 4.47667C7.60923 5.03047 7.39494 5.56262 7.01181 5.9625L6.20764 6.97361C6.65267 8.05494 7.30699 9.03767 8.13299 9.86535C8.959 10.693 9.94041 11.3493 11.0208 11.7965L12.0382 10.9875C12.4381 10.6047 12.9702 10.3906 13.5238 10.3898C14.0775 10.3891 14.6101 10.6016 15.0111 10.9833C15.0111 10.9833 16.6819 12.2694 16.7035 12.291Z"
                  fill="#CFFA73"
                />
              </svg>
            </span>
          </span>
          <span class="button-text">Вернуться на главную</span>
          <span class="button-arr-svg-box">
            <svg width="21" height="14" viewBox="0 0 21 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M1 7H20M20 7L14.5446 1M20 7L14.5446 13"
                stroke="url(#paint0_linear_1507_622)"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <defs>
                <linearGradient
                  id="paint0_linear_1507_622"
                  x1="-14.5"
                  y1="7"
                  x2="46"
                  y2="22"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop stop-color="#CFFA73" />
                  <stop offset="1" stop-color="white" />
                </linearGradient>
              </defs>
            </svg>
          </span>
        </button>
      </div>
    </div>
  </div>
</section>
