<section class="how-we-working">
  <div class="container">
    <p class="tl2">Как мы работаем</p>

    <ul class="how-we-working__list">
      <li class="how-we-working__list-item">
        <p class="how-we-working__list-item-title tl4">Оформите заказ</p>
        <p class="how-we-working__list-item-text txt20">
          Заказы принимаются <strong>до 16:00</strong> текущего дня на следующий день.
        </p>
        <span class="how-we-working__list-item-num tl3">01</span>
      </li>

      <li class="how-we-working__list-item">
        <p class="how-we-working__list-item-title tl4">Согласуйте состав обеда</p>
        <p class="how-we-working__list-item-text txt20">
          Готовим еду с утра <strong>в день доставки</strong>. Блюда доставляются в одноразовой пластиковой
          посуде для подогрева.
        </p>
        <span class="how-we-working__list-item-num tl3">02</span>
      </li>

      <li class="how-we-working__list-item">
        <p class="how-we-working__list-item-title tl4">Ждите вкусную еду</p>
        <p class="how-we-working__list-item-text txt20">
          Заказы доставляются <strong>с 9-00 до 15-00</strong>. Можем доставить за пределы КАД. Позвоните и мы
          посчитаем для Вас стоимость доставки.
        </p>
        <span class="how-we-working__list-item-num tl3">03</span>
      </li>
    </ul>
  </div>
</section>
