<section class="main-hero _first">
  <div class="container">
    <div class="main-hero__inner">
      <div class="main-hero__title-box">
        <div class="main-hero__guarantee">
          <include src="_guarantee-circle.html"></include>
        </div>
        <div class="main-hero__title-wrapper">
          <div class="main-hero__title-wrapper-box main-hero__title-wrapper-box--black">
            <p class="main-hero__title tl1">
              <span>Корпоративное</span>
              <span>Питание </span>
            </p>
          </div>
          <div class="main-hero__title-wrapper-box main-hero__title-wrapper-box--blue">
            <p class="main-hero__title-shadow tl1">
              <span>Корпоративное </span>
              <span>Питание </span>
            </p>
          </div>
        </div>
        <div class="main-hero__img-box">
          <img src="./assets/images/main-hero-bg.webp" alt="" />
        </div>
      </div>
      <div class="main-hero__info-box">
        <div class="main-hero__info-img-box">
          <img src="./assets/images/main-hero-min-1.webp" alt="" />
        </div>
        <div class="main-hero__info-img-box">
          <img src="./assets/images/main-hero-min-2.webp" alt="" />
        </div>
        <div class="main-hero__info-text-wrapper">
          <div class="main-hero__info-text-box">
            <p class="main-hero__info-text-title tl4">Минимальный заказ от 5000 ₽</p>
            <p class="main-hero__info-text-desk txt20">
              Выбирайте и заказывайте комплексные и полезные обеды с доставкой в офис
            </p>
          </div>
          <div class="main-hero__info-text-box">
            <p class="main-hero__info-text-title tl4">Меняем состав обедов каждый день</p>
            <p class="main-hero__info-text-desk txt20">
              Ежедневно обновляем меню наших обедов, чтобы блюда не повторялись.
            </p>
          </div>
          <div class="main-hero__info-text-box">
            <p class="main-hero__info-text-title tl4">Готовим в день <br>доствки</p>
            <p class="main-hero__info-text-desk txt20">
              Все блюда готовятся из свежих продуктов в день доставки заказа
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
