<div class="other-services__circle-container">
  <p class="other-services__circle txt20">д&nbsp;&nbsp;р&nbsp;&nbsp;у&nbsp;&nbsp;г&nbsp;&nbsp;и&nbsp;&nbsp;е &nbsp;&nbsp;&nbsp;у&nbsp;&nbsp;с&nbsp;&nbsp;л&nbsp;&nbsp;у&nbsp;&nbsp;г&nbsp;&nbsp;и</p>
  <a href="#" class="other-services__circle-svg-wrapper">
    <div class="other-services__circle-svg-box">
      <svg width="20" height="14" viewBox="0 0 20 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M0 7H19M19 7L13.5446 1M19 7L13.5446 13"
          stroke="#4658FD"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </div>
  </a>
</div>
