<section class="other-articles-swiper">
  <div class="container">
    <div class="other-articles-swiper__inner">
      <div class="other-articles-swiper__header-box">
        <p class="other-articles-swiper__title tl2">Другие статьи</p>
        <div class="other-articles-swiper__swiper-btn-box">
          <button
            class="other-articles-swiper__swiper-btn other-articles-swiper__swiper-btn--prev button-swiper button-swiper--prev swiper-button-prev"
          >
            <div class="button-swiper-svg-box">
              <svg width="20" height="14" viewBox="0 0 20 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M20 7L1 7M1 7L6.45545 13M1 7L6.45545 0.999998"
                  stroke="#4658FD"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </button>
          <button
            class="other-articles-swiper__swiper-btn other-articles-swiper__swiper-btn--next button-swiper button-swiper--next swiper-button-next"
          >
            <div class="button-swiper-svg-box">
              <svg width="20" height="14" viewBox="0 0 20 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M0 7H19M19 7L13.5446 1M19 7L13.5446 13"
                  stroke="#4658FD"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </button>
        </div>
      </div>
      <div class="other-articles-swiper__swiper-box">
        <div class="other-articles-swiper__swiper swiper">
            <div class="other-articles-swiper__swiper-wrapper swiper-wrapper">
                <div class="other-articles-swiper__swiper-slide swiper-slide">
                    <include src="_article-min.html"></include>
                </div>
                <div class="other-articles-swiper__swiper-slide swiper-slide">
                    <include src="_article-min.html"></include>
                </div>
                <div class="other-articles-swiper__swiper-slide swiper-slide">
                    <include src="_article-min.html"></include>
                </div>
                <div class="other-articles-swiper__swiper-slide swiper-slide">
                    <include src="_article-min.html"></include>
                </div>
                <div class="other-articles-swiper__swiper-slide swiper-slide">
                    <include src="_article-min.html"></include>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
