<section class="our-work">
  <div class="container">
    <div class="our-work__inner">
      <div class="our-work__header-box">
        <p class="our-work__title tl2">Наша работа</p>
        <a href="#" class="our-work__item-desk-link link">
          Стандарты качества
          <div class="link-svg-box">
            <svg width="22" height="14" viewBox="0 0 22 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M1.5 7H20.5M20.5 7L15.0446 1M20.5 7L15.0446 13"
                stroke="#4658FD"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </a>
      </div>
      <div class="our-work__content-box">
        <div class="our-work__desk-box">
          <p class="our-work__desk txt20">
            Организация корпоративного питания для сотрудников от завтрака до ужина, обеспечение горячим
            питанием за пределами офиса, организация корпоративных мероприятий.
          </p>
          <div class="our-work__img-box">
            <img src="./assets/images/our-work-big.webp" alt="" />
          </div>
        </div>
        <ul class="our-work__list">
          <li class="our-work__item">
            <p class="our-work__item-title tl4">Постоянный контроль качества</p>
            <p class="our-work__item-desk txt20">
              Постоянный контроль качества гарантирует, что каждый приготовленный обед соответствует самым
              высоким стандартам свежести, вкуса и безопасности.
            </p>
          </li>
          <li class="our-work__item">
            <p class="our-work__item-title tl4">Строгий отбор поставщиков</p>
            <p class="our-work__item-desk txt20">
              Мы тщательно отбираем наших поставщиков, стремясь к высочайшему качеству ингредиентов. Наш
              строгий отбор гарантирует, что каждый компонент отвечает высоким стандартам.
            </p>
          </li>
          <li class="our-work__item">
            <p class="our-work__item-title tl4">Соблюдение санитарных норм</p>
            <p class="our-work__item-desk txt20">
              Мы придерживаемся высших стандартов санитарных норм, гарантируя, что каждый шаг производства
              питания соответствует строгим санитарным нормам.
            </p>
          </li>

          <li class="our-work__item our-work__item--img">
            <div class="our-work__item-img-box">
              <img src="./assets/images/our-work-min.webp" alt="" />
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
