<section class="portfolio-det _first">
  <div class="container">
    <div class="portfolio-det__inner">
      <div class="portfolio-det__header-box">
        <div class="portfolio-det__header-title-wrapper">
          <div class="portfolio-det__header-title-box">
            <p class="portfolio-det__header-title-time txt20">10.03.22</p>
            <p class="portfolio-det__header-title tl2">Фуршет <br> для выставки продукции компании</p>
          </div>
          <div class="portfolio-det__header-desk-box">
            <div class="portfolio-det__header-desk-banner-wrapper">
              <div class="portfolio-det__header-desk-banner-box">
                <div class="portfolio-det__header-desk-banner-img-box">
                <img src="./assets/images/banner.webp" alt="" /></div>
              </div>
              <div class="portfolio-det__header-desk-banner-text-box">
                <p class="portfolio-det__header-desk-banner-title tl4">Bayer</p>
                <p class="portfolio-det__header-desk-banner-desk txt20">Фармацевтическая компания</p>
              </div>
            </div>
            <p class="portfolio-det__header-category txt20">10 человек</p>
          </div>
        </div>
        <div class="portfolio-det__header-img-box">
          <img src="./assets/images/portfolio-hero.webp" alt="" />
        </div>
      </div>
      <div class="portfolio-det__content-box">
        <nav class="portfolio-det__nav">
          <p class="portfolio-det__nav-title tl4">Содержание</p>
          <ul class="portfolio-det__nav-list">
            <li class="portfolio-det__nav-item">
              <a href="#portfolio-block-1" class="portfolio-det__nav-link nav-link txt20 active">
                Компания bayer, в начале весны 2022 года, провела весеннюю конференцию, посвященную
                презентации своего нового продукта.
              </a>
            </li>
            <li class="portfolio-det__nav-item">
              <a href="#portfolio-block-2" class="portfolio-det__nav-link nav-link txt20"> Меню </a>
            </li>
            <li class="portfolio-det__nav-item">
              <a href="#portfolio-block-3" class="portfolio-det__nav-link nav-link txt20"> Результат </a>
            </li>
          </ul>
        </nav>
        <div class="portfolio-det__atricle">
          <div class="portfolio-det__portfolio-item" id="portfolio-block-1">
            <div class="portfolio-det__portfolio-item-title tl4">
              Компания bayer, в начале весны 2022 года, провела весеннюю конференцию, посвященную презентации
              своего нового продукта.
            </div>
            <div class="portfolio-det__portfolio-item-desk-box">
              <p class="portfolio-det__portfolio-item-desk txt20">
                Фуршет для выставки продукции компании Bayer прошел на высшем уровне. Это было не только
                прекрасной возможностью познакомиться с товаром, но и провести время с представителями
                компании. Начало фуршета было оговорено на 17:00, однако люди уже начали прибывать и проводить
                время за общением с коллегами и знакомством с представителями компании начиная с 16:30. Гости
                были приятно удивлены уютной атмосферой и удачным выбором места для проведения мероприятия.
              </p>
              <p class="portfolio-det__portfolio-item-desk txt20">
                Мероприятие предполагало две подачи. Приветственный “велком” и основная подача фуршетных
                закусок, включающая отдельный десертный стол с дегустационными винными сетами.
              </p>
              <p class="portfolio-det__portfolio-item-desk txt20">
                На фуршете гости могли попробовать различные закуски и напитки. В меню была большая и
                разнообразная линейка закусок: от классических канапе с лососем до авокадо-тостов и
                итальянской пиццы. А главным блюдом вечера была дегустационная проба продукта компании,
                которая привлекала внимание всех присутствующих.
              </p>
            </div>
          </div>
          <div class="portfolio-det__portfolio-item-swiper-box">
            <div class="portfolio-det__portfolio-item-swiper swiper">
              <div class="portfolio-det__portfolio-item-swiper-wrapper swiper-wrapper">
                <div class="portfolio-det__portfolio-item-swiper-slide swiper-slide">
                  <div class="portfolio-det__portfolio-item-swiper-slide-inner">
                    <img src="./assets/images/portfolio-swiper.webp" alt="" />
                  </div>
                </div>
                <div class="portfolio-det__portfolio-item-swiper-slide swiper-slide">
                  <div class="portfolio-det__portfolio-item-swiper-slide-inner">
                    <img src="./assets/images/portfolio-swiper.webp" alt="" />
                  </div>
                </div>
                <div class="portfolio-det__portfolio-item-swiper-slide swiper-slide">
                  <div class="portfolio-det__portfolio-item-swiper-slide-inner">
                    <img src="./assets/images/portfolio-swiper.webp" alt="" />
                  </div>
                </div>
                <div class="portfolio-det__portfolio-item-swiper-slide swiper-slide">
                  <div class="portfolio-det__portfolio-item-swiper-slide-inner">
                    <img src="./assets/images/portfolio-swiper.webp" alt="" />
                  </div>
                </div>
              </div>
            </div>
            <div class="portfolio-det__portfolio-item-swiper-btn-box">
              <button
                class="portfolio-det__portfolio-item-swiper-btn portfolio-det__portfolio-item-swiper-btn--prev button-swiper button-swiper--prev swiper-button-prev"
              >
                <div class="button-swiper-svg-box">
                  <svg
                    width="20"
                    height="14"
                    viewBox="0 0 20 14"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M20 7L1 7M1 7L6.45545 13M1 7L6.45545 0.999998"
                      stroke="#4658FD"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
              </button>
              <button
                class="portfolio-det__portfolio-item-swiper-btn portfolio-det__portfolio-item-swiper-btn--next button-swiper button-swiper--next swiper-button-next"
              >
                <div class="button-swiper-svg-box">
                  <svg
                    width="20"
                    height="14"
                    viewBox="0 0 20 14"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M0 7H19M19 7L13.5446 1M19 7L13.5446 13"
                      stroke="#4658FD"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
              </button>
            </div>
          </div>
          <div class="portfolio-det__portfolio-item" id="portfolio-block-2">
            <div class="portfolio-det__portfolio-item-title tl4">Меню</div>
            <div class="portfolio-det__portfolio-item-desk-box">
              <p class="portfolio-det__portfolio-item-desk txt20">
                Начиная с выбора меню, мы сотрудничала с заказчиком, чтобы удовлетворить их специфические
                потребности и пожелания. Меню состояло из разнообразных закусок, салатов и горячих блюд,
                включая вегетарианский вариант.
              </p>
              <p class="portfolio-det__portfolio-item-desk txt20">
                Мы также предоставили необходимые аксессуары для сервировки еды: столы, стулья, скатерти,
                посуду и приборы. Каждая деталь была заранее продумана, чтобы создать впечатляющее
                впечатление.
              </p>
              <p class="portfolio-det__portfolio-item-desk txt20">Состав меню для фуршета:</p>
              <ul class="portfolio-det__portfolio-item-list">
                <li class="portfolio-det__portfolio-item-item txt20">
                  <span>1</span> Канапе с ветчиной и огурцом
                </li>
                <li class="portfolio-det__portfolio-item-item txt20"><span>2</span> Канапе с языком</li>
                <li class="portfolio-det__portfolio-item-item txt20">
                  <span>3</span> Роллы с ветчиной и творожным сыром
                </li>

                <li class="portfolio-det__portfolio-item-item txt20">
                  <span>4</span> Профитроли с паштетом из куриной печени
                </li>
                <li class="portfolio-det__portfolio-item-item txt20"><span>5</span> Канапе с ростбифом</li>
                <li class="portfolio-det__portfolio-item-item txt20">
                  <span>6</span> Корзинка с красной икрой и творожным сыром
                </li>
                <li class="portfolio-det__portfolio-item-item txt20">
                  <span>7</span> Мясное, рыбное, овощное и фруктовое ассорти
                </li>
                <li class="portfolio-det__portfolio-item-item txt20">
                  <span>8</span> Разнообразные бургеры и бутерброды
                </li>
                <li class="portfolio-det__portfolio-item-item txt20"><span>9</span> Напитки</li>
              </ul>
            </div>
          </div>
          <div class="portfolio-det__portfolio-item" id="portfolio-block-3">
            <div class="portfolio-det__portfolio-item-title tl4">Результат</div>
            <div class="portfolio-det__portfolio-item-desk-box">
              <p class="portfolio-det__portfolio-item-desk txt20">
                Начиная с выбора меню, мы сотрудничала с заказчиком, чтобы удовлетворить их специфические
                потребности и пожелания. Меню состояло из разнообразных закусок, салатов и горячих блюд,
                включая вегетарианский вариант.
              </p>
              <p class="portfolio-det__portfolio-item-desk txt20">
                Мы также предоставили необходимые аксессуары для сервировки еды: столы, стулья, скатерти,
                посуду и приборы. Каждая деталь была заранее продумана, чтобы создать впечатляющее
                впечатление.
              </p>
              <p class="portfolio-det__portfolio-item-desk txt20">
                Служба обслуживания фуршета была на высшем уровне. В зависимости от потребности, "Bayer"
                предоставила необходимое число официантов, которые вежливо обслуживали гостей, убирали
                использованную посуду и держали порядок на мероприятии.
              </p>
              <p class="portfolio-det__portfolio-item-desk txt20">
                Компания была довольна результатами кейтеринговой работы. Фуршет получился отлично
                организованным и вкусным, а обслуживание идеальным. Мы продемонстрировала высокий
                профессионализм и далеко зашли за рамки ожидания.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
