<section class="portfolio">
  <div class="container">
    <div class="portfolio__inner">
      <div class="portfolio__title tl2">Портфолио</div>
      <div class="portfolio__list-box">
        <ul class="portfolio__list">
          <li class="portfolio__item portfolio__item--big">
            <a href="#" class="portfolio__item-link">
              <div class="portfolio__item-img-wrapper">
                <p class="portfolio__item-category txt20">10 человек</p>
                <div class="portfolio__item-img-box">
                    <img src="./assets/images/other-services-swiper-1.webp" alt="">
                </div>
              </div>
              <p class="portfolio__item-time txt20">10.01.2024</p>
              <p class="portfolio__item-title tl4">Фуршет для выставки продукции компании</p>
            </a>
          </li>
          <li class="portfolio__item">
            <a href="#" class="portfolio__item-link">
              <div class="portfolio__item-img-wrapper">
                <p class="portfolio__item-category txt20">10 человек</p>
                <div class="portfolio__item-img-box">
                    <img src="./assets/images/other-services-swiper-1.webp" alt="">
                </div>
              </div>
              <p class="portfolio__item-time txt20">10.01.2024</p>
              <p class="portfolio__item-title tl4">Фуршет для выставки продукции компании</p>
            </a>
          </li>
          <li class="portfolio__item">
            <a href="#" class="portfolio__item-link">
              <div class="portfolio__item-img-wrapper">
                <p class="portfolio__item-category txt20">10 человек</p>
                <div class="portfolio__item-img-box">
                    <img src="./assets/images/other-services-swiper-1.webp" alt="">
                </div>
              </div>
              <p class="portfolio__item-time txt20">10.01.2024</p>
              <p class="portfolio__item-title tl4">Фуршет для выставки продукции компании</p>
            </a>
          </li>
          <li class="portfolio__item">
            <a href="#" class="portfolio__item-link">
              <div class="portfolio__item-img-wrapper">
                <p class="portfolio__item-category txt20">10 человек</p>
                <div class="portfolio__item-img-box">
                    <img src="./assets/images/other-services-swiper-1.webp" alt="">
                </div>
              </div>
              <p class="portfolio__item-time txt20">10.01.2024</p>
              <p class="portfolio__item-title tl4">Фуршет для выставки продукции компании</p>
            </a>
          </li>
          <li class="portfolio__item">
            <a href="#" class="portfolio__item-link">
              <div class="portfolio__item-img-wrapper">
                <p class="portfolio__item-category txt20">10 человек</p>
                <div class="portfolio__item-img-box">
                    <img src="./assets/images/other-services-swiper-1.webp" alt="">
                </div>
              </div>
              <p class="portfolio__item-time txt20">10.01.2024</p>
              <p class="portfolio__item-title tl4">Фуршет для выставки продукции компании</p>
            </a>
          </li>
          <li class="portfolio__item">
            <a href="#" class="portfolio__item-link">
              <div class="portfolio__item-img-wrapper">
                <p class="portfolio__item-category txt20">10 человек</p>
                <div class="portfolio__item-img-box">
                    <img src="./assets/images/other-services-swiper-1.webp" alt="">
                </div>
              </div>
              <p class="portfolio__item-time txt20">10.01.2024</p>
              <p class="portfolio__item-title tl4">Фуршет для выставки продукции компании</p>
            </a>
          </li>
          <li class="portfolio__item">
            <a href="#" class="portfolio__item-link">
              <div class="portfolio__item-img-wrapper">
                <p class="portfolio__item-category txt20">10 человек</p>
                <div class="portfolio__item-img-box">
                    <img src="./assets/images/other-services-swiper-1.webp" alt="">
                </div>
              </div>
              <p class="portfolio__item-time txt20">10.01.2024</p>
              <p class="portfolio__item-title tl4">Фуршет для выставки продукции компании</p>
            </a>
          </li>
          <li class="portfolio__item">
            <a href="#" class="portfolio__item-link">
              <div class="portfolio__item-img-wrapper">
                <p class="portfolio__item-category txt20">10 человек</p>
                <div class="portfolio__item-img-box">
                    <img src="./assets/images/other-services-swiper-1.webp" alt="">
                </div>
              </div>
              <p class="portfolio__item-time txt20">10.01.2024</p>
              <p class="portfolio__item-title tl4">Фуршет для выставки продукции компании</p>
            </a>
          </li>
          <li class="portfolio__item">
            <a href="#" class="portfolio__item-link">
              <div class="portfolio__item-img-wrapper">
                <p class="portfolio__item-category txt20">10 человек</p>
                <div class="portfolio__item-img-box">
                    <img src="./assets/images/other-services-swiper-1.webp" alt="">
                </div>
              </div>
              <p class="portfolio__item-time txt20">10.01.2024</p>
              <p class="portfolio__item-title tl4">Фуршет для выставки продукции компании</p>
            </a>
          </li>
        </ul>

        <button class="portfolio__btn link link--rotate">
          Загрузить еще
          <div class="link-svg-box">
            <svg width="22" height="14" viewBox="0 0 22 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M1.5 7H20.5M20.5 7L15.0446 1M20.5 7L15.0446 13"
                stroke="#4658FD"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </button>
      </div>
    </div>
  </div>
</section>
