<section class="prices">
  <div class="container">
    <div class="prices__inner">
      <p class="prices__title tl2">Цены на услуги</p>
      <div class="prices__tabs-nav">
        <button class="prices__tabs-btn button-tabs active">На 5 - 10 человек</button>
        <button class="prices__tabs-btn button-tabs">На 11 - 15 человек</button>
        <button class="prices__tabs-btn button-tabs">На 16 - 20 человек</button>
        <button class="prices__tabs-btn button-tabs">На 21 - 25 человек</button>
        <button class="prices__tabs-btn button-tabs">На 26 - 30 человек</button>
      </div>
      <div class="prices__tabs-content">
        <div class="prices__tabs-tab active">
          <div class="prices__tabs-tab-item-wrapper">
            <div class="prices__tabs-tab-item prices__tabs-tab-item--first">
              <p class="prices__tabs-tab-item-title tl4">Закуски</p>
              <ul class="prices__tabs-tab-item-list">
                <li class="prices__tabs-tab-item-list-item txt20">
                  <span>1</span>
                  Мини-канапе с лососем и крем-чизом.
                </li>
                <li class="prices__tabs-tab-item-list-item txt20">
                  <span>2</span>
                  Мини-канапе с лососем и крем-чизом.
                </li>
                <li class="prices__tabs-tab-item-list-item txt20">
                  <span>3</span>
                  Креветки с авокадо и соусом томат-базилик.
                </li>
              </ul>
            </div>
            <div class="prices__tabs-tab-item prices__tabs-tab-item--mob">
              <p class="prices__tabs-tab-item-title tl4">Горячие блюда</p>
              <ul class="prices__tabs-tab-item-list">
                <li class="prices__tabs-tab-item-list-item txt20">
                  <span>1</span>
                  Паста с грибами и томатным соусом.
                </li>
              </ul>
            </div>
            <div class="prices__tabs-tab-item prices__tabs-tab-item--mob">
              <p class="prices__tabs-tab-item-title tl4">Салаты</p>
              <ul class="prices__tabs-tab-item-list">
                <li class="prices__tabs-tab-item-list-item txt20">
                  <span>1</span>
                  Цезарь с курицей и пармезаном.
                </li>
                <li class="prices__tabs-tab-item-list-item txt20">
                  <span>1</span>
                  Греческий с оливками, помидорами и фетой.
                </li>
              </ul>
            </div>
            <div class="prices__tabs-tab-item prices__tabs-tab-item--mob">
              <p class="prices__tabs-tab-item-title tl4">Десерты</p>
              <ul class="prices__tabs-tab-item-list">
                <li class="prices__tabs-tab-item-list-item txt20">
                  <span>1</span>
                  Мини-торт "Три шоколада" с малиновым соусом.
                </li>
              </ul>
            </div>
            <div class="prices__tabs-tab-item prices__tabs-tab-item--mob">
              <p class="prices__tabs-tab-item-title tl4">Напитки</p>
              <ul class="prices__tabs-tab-item-list">
                <li class="prices__tabs-tab-item-list-item txt20">
                  <span>1</span>
                  Фруктовые смузи.
                </li>

                <li class="prices__tabs-tab-item-list-item txt20">
                  <span>1</span>
                  Минеральная вода с лимоном и мятой.
                </li>
                <li class="prices__tabs-tab-item-list-item txt20">
                  <span>1</span>
                  Разнообразие чая и кофе
                </li>
              </ul>
            </div>
            <div class="prices__btn-box">
              <button class="prices__btn prices__btn--show link">
                Смотреть полностью
                <div class="link-svg-box">
                  <svg
                    width="22"
                    height="14"
                    viewBox="0 0 22 14"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1.5 7H20.5M20.5 7L15.0446 1M20.5 7L15.0446 13"
                      stroke="#4658FD"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
              </button>
              <button class="prices__btn prices__btn--hidden link">
                Свернуть
                <div class="link-svg-box">
                  <svg
                    width="22"
                    height="14"
                    viewBox="0 0 22 14"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1.5 7H20.5M20.5 7L15.0446 1M20.5 7L15.0446 13"
                      stroke="#4658FD"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
              </button>
            </div>
          </div>

          <div class="prices__tabs-tab-item prices__tabs-tab-item--desk">
            <p class="prices__tabs-tab-item-title tl4">Горячие блюда</p>
            <ul class="prices__tabs-tab-item-list">
              <li class="prices__tabs-tab-item-list-item txt20">
                <span>1</span>
                Паста с грибами и томатным соусом.
              </li>
            </ul>
          </div>
          <div class="prices__tabs-tab-item prices__tabs-tab-item--desk">
            <p class="prices__tabs-tab-item-title tl4">Салаты</p>
            <ul class="prices__tabs-tab-item-list">
              <li class="prices__tabs-tab-item-list-item txt20">
                <span>1</span>
                Цезарь с курицей и пармезаном.
              </li>
              <li class="prices__tabs-tab-item-list-item txt20">
                <span>1</span>
                Греческий с оливками, помидорами и фетой.
              </li>
            </ul>
          </div>
          <div class="prices__tabs-tab-item prices__tabs-tab-item--desk">
            <p class="prices__tabs-tab-item-title tl4">Десерты</p>
            <ul class="prices__tabs-tab-item-list">
              <li class="prices__tabs-tab-item-list-item txt20">
                <span>1</span>
                Мини-торт "Три шоколада" с малиновым соусом.
              </li>
            </ul>
          </div>
          <div class="prices__tabs-tab-item prices__tabs-tab-item--desk">
            <p class="prices__tabs-tab-item-title tl4">Напитки</p>
            <ul class="prices__tabs-tab-item-list">
              <li class="prices__tabs-tab-item-list-item txt20">
                <span>1</span>
                Фруктовые смузи.
              </li>

              <li class="prices__tabs-tab-item-list-item txt20">
                <span>1</span>
                Минеральная вода с лимоном и мятой.
              </li>
              <li class="prices__tabs-tab-item-list-item txt20">
                <span>1</span>
                Разнообразие чая и кофе
              </li>
            </ul>
          </div>

          <div class="prices__tabs-tab-price-box">
            <p class="prices__tabs-tab-price-title">
              <span class="tl4">от</span> <span class="prices__tabs-tab-price-num">7 000</span> ₽
            </p>
            <div class="prices__tabs-tab-price-desk txt16">
              Цены приблизительные, для уточнения свяжитесь с менеджером
            </div>
            <button class="prices__item-desk-link link" data-popup="#popup__application">
              Оставить заявку
              <div class="link-svg-box">
                <svg
                  width="22"
                  height="14"
                  viewBox="0 0 22 14"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1.5 7H20.5M20.5 7L15.0446 1M20.5 7L15.0446 13"
                    stroke="#fff"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
            </button>
          </div>
        </div>
        <div class="prices__tabs-tab">
          <div class="prices__tabs-tab-item-wrapper">
            <div class="prices__tabs-tab-item prices__tabs-tab-item--first">
              <p class="prices__tabs-tab-item-title tl4">Закуски</p>
              <ul class="prices__tabs-tab-item-list">
                <li class="prices__tabs-tab-item-list-item txt20">
                  <span>1</span>
                  Мини-канапе с лососем и крем-чизом.
                </li>
                <li class="prices__tabs-tab-item-list-item txt20">
                  <span>2</span>
                  Мини-канапе с лососем и крем-чизом.
                </li>
                <li class="prices__tabs-tab-item-list-item txt20">
                  <span>3</span>
                  Креветки с авокадо и соусом томат-базилик.
                </li>
                <li class="prices__tabs-tab-item-list-item txt20">
                  <span>4</span>
                  Креветки с авокадо и соусом томат-базилик.
                </li>
              </ul>
            </div>
            <div class="prices__tabs-tab-item prices__tabs-tab-item--mob">
              <p class="prices__tabs-tab-item-title tl4">Горячие блюда</p>
              <ul class="prices__tabs-tab-item-list">
                <li class="prices__tabs-tab-item-list-item txt20">
                  <span>1</span>
                  Паста с грибами и томатным соусом.
                </li>
                <li class="prices__tabs-tab-item-list-item txt20">
                  <span>2</span>
                  Паста с грибами и томатным соусом.
                </li>
                <li class="prices__tabs-tab-item-list-item txt20">
                  <span>3</span>
                  Паста с грибами и томатным соусом.
                </li>
              </ul>
            </div>
            <div class="prices__tabs-tab-item prices__tabs-tab-item--mob">
              <p class="prices__tabs-tab-item-title tl4">Салаты</p>
              <ul class="prices__tabs-tab-item-list">
                <li class="prices__tabs-tab-item-list-item txt20">
                  <span>1</span>
                  Цезарь с курицей и пармезаном.
                </li>
                <li class="prices__tabs-tab-item-list-item txt20">
                  <span>1</span>
                  Греческий с оливками, помидорами и фетой.
                </li>
              </ul>
            </div>
            <div class="prices__tabs-tab-item prices__tabs-tab-item--mob">
              <p class="prices__tabs-tab-item-title tl4">Десерты</p>
              <ul class="prices__tabs-tab-item-list">
                <li class="prices__tabs-tab-item-list-item txt20">
                  <span>1</span>
                  Мини-торт "Три шоколада" с малиновым соусом.
                </li>
              </ul>
            </div>
            <div class="prices__tabs-tab-item prices__tabs-tab-item--mob">
              <p class="prices__tabs-tab-item-title tl4">Напитки</p>
              <ul class="prices__tabs-tab-item-list">
                <li class="prices__tabs-tab-item-list-item txt20">
                  <span>1</span>
                  Фруктовые смузи.
                </li>
                <li class="prices__tabs-tab-item-list-item txt20">
                  <span>1</span>
                  Фруктовые смузи.
                </li>
                <li class="prices__tabs-tab-item-list-item txt20">
                  <span>1</span>
                  Фруктовые смузи.
                </li>

                <li class="prices__tabs-tab-item-list-item txt20">
                  <span>1</span>
                  Минеральная вода с лимоном и мятой.
                </li>
                <li class="prices__tabs-tab-item-list-item txt20">
                  <span>1</span>
                  Разнообразие чая и кофе
                </li>
              </ul>
            </div>
            <div class="prices__btn-box">
              <button class="prices__btn prices__btn--show link">
                Смотреть полностью
                <div class="link-svg-box">
                  <svg
                    width="22"
                    height="14"
                    viewBox="0 0 22 14"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1.5 7H20.5M20.5 7L15.0446 1M20.5 7L15.0446 13"
                      stroke="#4658FD"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
              </button>
              <button class="prices__btn prices__btn--hidden link">
                Свернуть
                <div class="link-svg-box">
                  <svg
                    width="22"
                    height="14"
                    viewBox="0 0 22 14"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1.5 7H20.5M20.5 7L15.0446 1M20.5 7L15.0446 13"
                      stroke="#4658FD"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
              </button>
            </div>
          </div>

          <div class="prices__tabs-tab-item prices__tabs-tab-item--desk">
            <p class="prices__tabs-tab-item-title tl4">Горячие блюда</p>
            <ul class="prices__tabs-tab-item-list">
              <li class="prices__tabs-tab-item-list-item txt20">
                <span>1</span>
                Паста с грибами и томатным соусом.
              </li>
            </ul>
          </div>
          <div class="prices__tabs-tab-item prices__tabs-tab-item--desk">
            <p class="prices__tabs-tab-item-title tl4">Салаты</p>
            <ul class="prices__tabs-tab-item-list">
              <li class="prices__tabs-tab-item-list-item txt20">
                <span>1</span>
                Цезарь с курицей и пармезаном.
              </li>
              <li class="prices__tabs-tab-item-list-item txt20">
                <span>1</span>
                Греческий с оливками, помидорами и фетой.
              </li>
            </ul>
          </div>
          <div class="prices__tabs-tab-item prices__tabs-tab-item--desk">
            <p class="prices__tabs-tab-item-title tl4">Десерты</p>
            <ul class="prices__tabs-tab-item-list">
              <li class="prices__tabs-tab-item-list-item txt20">
                <span>1</span>
                Мини-торт "Три шоколада" с малиновым соусом.
              </li>
            </ul>
          </div>
          <div class="prices__tabs-tab-item prices__tabs-tab-item--desk">
            <p class="prices__tabs-tab-item-title tl4">Напитки</p>
            <ul class="prices__tabs-tab-item-list">
              <li class="prices__tabs-tab-item-list-item txt20">
                <span>1</span>
                Фруктовые смузи.
              </li>

              <li class="prices__tabs-tab-item-list-item txt20">
                <span>1</span>
                Минеральная вода с лимоном и мятой.
              </li>
              <li class="prices__tabs-tab-item-list-item txt20">
                <span>1</span>
                Разнообразие чая и кофе
              </li>
            </ul>
          </div>

          <div class="prices__tabs-tab-price-box">
            <p class="prices__tabs-tab-price-title">
              <span class="tl4">от</span> <span class="prices__tabs-tab-price-num">7 000</span> ₽
            </p>

            <div class="prices__tabs-tab-price-desk txt16">
              Цены приблизительные, для уточнения свяжитесь с менеджером
            </div>
            <button class="prices__item-desk-link link" data-popup="#popup__application">
              Оставить заявку
              <div class="link-svg-box">
                <svg
                  width="22"
                  height="14"
                  viewBox="0 0 22 14"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1.5 7H20.5M20.5 7L15.0446 1M20.5 7L15.0446 13"
                    stroke="#fff"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
            </button>
          </div>
        </div>
        <div class="prices__tabs-tab">
          <div class="prices__tabs-tab-item-wrapper">
            <div class="prices__tabs-tab-item prices__tabs-tab-item--first">
              <p class="prices__tabs-tab-item-title tl4">Закуски</p>
              <ul class="prices__tabs-tab-item-list">
                <li class="prices__tabs-tab-item-list-item txt20">
                  <span>1</span>
                  Мини-канапе с лососем и крем-чизом.
                </li>
                <li class="prices__tabs-tab-item-list-item txt20">
                  <span>2</span>
                  Мини-канапе с лососем и крем-чизом.
                </li>
                <li class="prices__tabs-tab-item-list-item txt20">
                  <span>3</span>
                  Креветки с авокадо и соусом томат-базилик.
                </li>
                <li class="prices__tabs-tab-item-list-item txt20">
                  <span>4</span>
                  Креветки с авокадо и соусом томат-базилик.
                </li>
                <li class="prices__tabs-tab-item-list-item txt20">
                  <span>4</span>
                  Креветки с авокадо и соусом томат-базилик.
                </li>
                <li class="prices__tabs-tab-item-list-item txt20">
                  <span>4</span>
                  Креветки с авокадо и соусом томат-базилик.
                </li>
              </ul>
            </div>
            <div class="prices__tabs-tab-item prices__tabs-tab-item--mob">
              <p class="prices__tabs-tab-item-title tl4">Горячие блюда</p>
              <ul class="prices__tabs-tab-item-list">
                <li class="prices__tabs-tab-item-list-item txt20">
                  <span>1</span>
                  Паста с грибами и томатным соусом.
                </li>
                <li class="prices__tabs-tab-item-list-item txt20">
                  <span>2</span>
                  Паста с грибами и томатным соусом.
                </li>
                <li class="prices__tabs-tab-item-list-item txt20">
                  <span>3</span>
                  Паста с грибами и томатным соусом.
                </li>
              </ul>
            </div>
            <div class="prices__tabs-tab-item prices__tabs-tab-item--mob">
              <p class="prices__tabs-tab-item-title tl4">Салаты</p>
              <ul class="prices__tabs-tab-item-list">
                <li class="prices__tabs-tab-item-list-item txt20">
                  <span>1</span>
                  Цезарь с курицей и пармезаном.
                </li>
                <li class="prices__tabs-tab-item-list-item txt20">
                  <span>1</span>
                  Греческий с оливками, помидорами и фетой.
                </li>
              </ul>
            </div>
            <div class="prices__tabs-tab-item prices__tabs-tab-item--mob">
              <p class="prices__tabs-tab-item-title tl4">Десерты</p>
              <ul class="prices__tabs-tab-item-list">
                <li class="prices__tabs-tab-item-list-item txt20">
                  <span>1</span>
                  Мини-торт "Три шоколада" с малиновым соусом.
                </li>
              </ul>
            </div>
            <div class="prices__tabs-tab-item prices__tabs-tab-item--mob">
              <p class="prices__tabs-tab-item-title tl4">Напитки</p>
              <ul class="prices__tabs-tab-item-list">
                <li class="prices__tabs-tab-item-list-item txt20">
                  <span>1</span>
                  Фруктовые смузи.
                </li>
                <li class="prices__tabs-tab-item-list-item txt20">
                  <span>1</span>
                  Фруктовые смузи.
                </li>
                <li class="prices__tabs-tab-item-list-item txt20">
                  <span>1</span>
                  Фруктовые смузи.
                </li>

                <li class="prices__tabs-tab-item-list-item txt20">
                  <span>1</span>
                  Минеральная вода с лимоном и мятой.
                </li>
                <li class="prices__tabs-tab-item-list-item txt20">
                  <span>1</span>
                  Разнообразие чая и кофе
                </li>
              </ul>
            </div>
            <div class="prices__btn-box">
              <button class="prices__btn prices__btn--show link">
                Смотреть полностью
                <div class="link-svg-box">
                  <svg
                    width="22"
                    height="14"
                    viewBox="0 0 22 14"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1.5 7H20.5M20.5 7L15.0446 1M20.5 7L15.0446 13"
                      stroke="#4658FD"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
              </button>
              <button class="prices__btn prices__btn--hidden link">
                Свернуть
                <div class="link-svg-box">
                  <svg
                    width="22"
                    height="14"
                    viewBox="0 0 22 14"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1.5 7H20.5M20.5 7L15.0446 1M20.5 7L15.0446 13"
                      stroke="#4658FD"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
              </button>
            </div>
          </div>

          <div class="prices__tabs-tab-item prices__tabs-tab-item--desk">
            <p class="prices__tabs-tab-item-title tl4">Горячие блюда</p>
            <ul class="prices__tabs-tab-item-list">
              <li class="prices__tabs-tab-item-list-item txt20">
                <span>1</span>
                Паста с грибами и томатным соусом.
              </li>
            </ul>
          </div>
          <div class="prices__tabs-tab-item prices__tabs-tab-item--desk">
            <p class="prices__tabs-tab-item-title tl4">Салаты</p>
            <ul class="prices__tabs-tab-item-list">
              <li class="prices__tabs-tab-item-list-item txt20">
                <span>1</span>
                Цезарь с курицей и пармезаном.
              </li>
              <li class="prices__tabs-tab-item-list-item txt20">
                <span>1</span>
                Греческий с оливками, помидорами и фетой.
              </li>
            </ul>
          </div>
          <div class="prices__tabs-tab-item prices__tabs-tab-item--desk">
            <p class="prices__tabs-tab-item-title tl4">Десерты</p>
            <ul class="prices__tabs-tab-item-list">
              <li class="prices__tabs-tab-item-list-item txt20">
                <span>1</span>
                Мини-торт "Три шоколада" с малиновым соусом.
              </li>
            </ul>
          </div>
          <div class="prices__tabs-tab-item prices__tabs-tab-item--desk">
            <p class="prices__tabs-tab-item-title tl4">Напитки</p>
            <ul class="prices__tabs-tab-item-list">
              <li class="prices__tabs-tab-item-list-item txt20">
                <span>1</span>
                Фруктовые смузи.
              </li>

              <li class="prices__tabs-tab-item-list-item txt20">
                <span>1</span>
                Минеральная вода с лимоном и мятой.
              </li>
              <li class="prices__tabs-tab-item-list-item txt20">
                <span>1</span>
                Разнообразие чая и кофе
              </li>
            </ul>
          </div>

          <div class="prices__tabs-tab-price-box">
            <p class="prices__tabs-tab-price-title">
              <span class="tl4">от</span> <span class="prices__tabs-tab-price-num">7 000</span> ₽
            </p>

            <div class="prices__tabs-tab-price-desk txt16">
              Цены приблизительные, для уточнения свяжитесь с менеджером
            </div>
            <button class="prices__item-desk-link link" data-popup="#popup__application">
              Оставить заявку
              <div class="link-svg-box">
                <svg
                  width="22"
                  height="14"
                  viewBox="0 0 22 14"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1.5 7H20.5M20.5 7L15.0446 1M20.5 7L15.0446 13"
                    stroke="#fff"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
            </button>
          </div>
        </div>
        <div class="prices__tabs-tab">
          <div class="prices__tabs-tab-item-wrapper">
            <div class="prices__tabs-tab-item prices__tabs-tab-item--first">
              <p class="prices__tabs-tab-item-title tl4">Закуски</p>
              <ul class="prices__tabs-tab-item-list">
                <li class="prices__tabs-tab-item-list-item txt20">
                  <span>1</span>
                  Мини-канапе с лососем и крем-чизом.
                </li>
                <li class="prices__tabs-tab-item-list-item txt20">
                  <span>2</span>
                  Мини-канапе с лососем и крем-чизом.
                </li>
                <li class="prices__tabs-tab-item-list-item txt20">
                  <span>3</span>
                  Креветки с авокадо и соусом томат-базилик.
                </li>
                <li class="prices__tabs-tab-item-list-item txt20">
                  <span>4</span>
                  Креветки с авокадо и соусом томат-базилик.
                </li>
              </ul>
            </div>
            <div class="prices__tabs-tab-item prices__tabs-tab-item--mob">
              <p class="prices__tabs-tab-item-title tl4">Горячие блюда</p>
              <ul class="prices__tabs-tab-item-list">
                <li class="prices__tabs-tab-item-list-item txt20">
                  <span>1</span>
                  Паста с грибами и томатным соусом.
                </li>
                <li class="prices__tabs-tab-item-list-item txt20">
                  <span>2</span>
                  Паста с грибами и томатным соусом.
                </li>
                <li class="prices__tabs-tab-item-list-item txt20">
                  <span>3</span>
                  Паста с грибами и томатным соусом.
                </li>
              </ul>
            </div>
            <div class="prices__tabs-tab-item prices__tabs-tab-item--mob">
              <p class="prices__tabs-tab-item-title tl4">Салаты</p>
              <ul class="prices__tabs-tab-item-list">
                <li class="prices__tabs-tab-item-list-item txt20">
                  <span>1</span>
                  Цезарь с курицей и пармезаном.
                </li>
                <li class="prices__tabs-tab-item-list-item txt20">
                  <span>1</span>
                  Греческий с оливками, помидорами и фетой.
                </li>
              </ul>
            </div>
            <div class="prices__tabs-tab-item prices__tabs-tab-item--mob">
              <p class="prices__tabs-tab-item-title tl4">Десерты</p>
              <ul class="prices__tabs-tab-item-list">
                <li class="prices__tabs-tab-item-list-item txt20">
                  <span>1</span>
                  Мини-торт "Три шоколада" с малиновым соусом.
                </li>
              </ul>
            </div>
            <div class="prices__tabs-tab-item prices__tabs-tab-item--mob">
              <p class="prices__tabs-tab-item-title tl4">Напитки</p>
              <ul class="prices__tabs-tab-item-list">
                <li class="prices__tabs-tab-item-list-item txt20">
                  <span>1</span>
                  Фруктовые смузи.
                </li>
                <li class="prices__tabs-tab-item-list-item txt20">
                  <span>1</span>
                  Фруктовые смузи.
                </li>
                <li class="prices__tabs-tab-item-list-item txt20">
                  <span>1</span>
                  Фруктовые смузи.
                </li>

                <li class="prices__tabs-tab-item-list-item txt20">
                  <span>1</span>
                  Минеральная вода с лимоном и мятой.
                </li>
                <li class="prices__tabs-tab-item-list-item txt20">
                  <span>1</span>
                  Разнообразие чая и кофе
                </li>
              </ul>
            </div>
            <div class="prices__btn-box">
              <button class="prices__btn prices__btn--show link">
                Смотреть полностью
                <div class="link-svg-box">
                  <svg
                    width="22"
                    height="14"
                    viewBox="0 0 22 14"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1.5 7H20.5M20.5 7L15.0446 1M20.5 7L15.0446 13"
                      stroke="#4658FD"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
              </button>
              <button class="prices__btn prices__btn--hidden link">
                Свернуть
                <div class="link-svg-box">
                  <svg
                    width="22"
                    height="14"
                    viewBox="0 0 22 14"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1.5 7H20.5M20.5 7L15.0446 1M20.5 7L15.0446 13"
                      stroke="#4658FD"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
              </button>
            </div>
          </div>

          <div class="prices__tabs-tab-item prices__tabs-tab-item--desk">
            <p class="prices__tabs-tab-item-title tl4">Горячие блюда</p>
            <ul class="prices__tabs-tab-item-list">
              <li class="prices__tabs-tab-item-list-item txt20">
                <span>1</span>
                Паста с грибами и томатным соусом.
              </li>
            </ul>
          </div>
          <div class="prices__tabs-tab-item prices__tabs-tab-item--desk">
            <p class="prices__tabs-tab-item-title tl4">Салаты</p>
            <ul class="prices__tabs-tab-item-list">
              <li class="prices__tabs-tab-item-list-item txt20">
                <span>1</span>
                Цезарь с курицей и пармезаном.
              </li>
              <li class="prices__tabs-tab-item-list-item txt20">
                <span>1</span>
                Греческий с оливками, помидорами и фетой.
              </li>
            </ul>
          </div>
          <div class="prices__tabs-tab-item prices__tabs-tab-item--desk">
            <p class="prices__tabs-tab-item-title tl4">Десерты</p>
            <ul class="prices__tabs-tab-item-list">
              <li class="prices__tabs-tab-item-list-item txt20">
                <span>1</span>
                Мини-торт "Три шоколада" с малиновым соусом.
              </li>
            </ul>
          </div>
          <div class="prices__tabs-tab-item prices__tabs-tab-item--desk">
            <p class="prices__tabs-tab-item-title tl4">Напитки</p>
            <ul class="prices__tabs-tab-item-list">
              <li class="prices__tabs-tab-item-list-item txt20">
                <span>1</span>
                Фруктовые смузи.
              </li>

              <li class="prices__tabs-tab-item-list-item txt20">
                <span>1</span>
                Минеральная вода с лимоном и мятой.
              </li>
              <li class="prices__tabs-tab-item-list-item txt20">
                <span>1</span>
                Разнообразие чая и кофе
              </li>
              <li class="prices__tabs-tab-item-list-item txt20">
                <span>1</span>
                Разнообразие чая и кофе
              </li>
              <li class="prices__tabs-tab-item-list-item txt20">
                <span>1</span>
                Разнообразие чая и кофе
              </li>
              <li class="prices__tabs-tab-item-list-item txt20">
                <span>1</span>
                Разнообразие чая и кофе
              </li>
              <li class="prices__tabs-tab-item-list-item txt20">
                <span>1</span>
                Разнообразие чая и кофе
              </li>
              <li class="prices__tabs-tab-item-list-item txt20">
                <span>1</span>
                Разнообразие чая и кофе
              </li>
              <li class="prices__tabs-tab-item-list-item txt20">
                <span>1</span>
                Разнообразие чая и кофе
              </li>
            </ul>
          </div>

          <div class="prices__tabs-tab-price-box">
            <p class="prices__tabs-tab-price-title">
              <span class="tl4">от</span> <span class="prices__tabs-tab-price-num">7 000</span> ₽
            </p>

            <div class="prices__tabs-tab-price-desk txt16">
              Цены приблизительные, для уточнения свяжитесь с менеджером
            </div>
            <button class="prices__item-desk-link link" data-popup="#popup__application">
              Оставить заявку
              <div class="link-svg-box">
                <svg
                  width="22"
                  height="14"
                  viewBox="0 0 22 14"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1.5 7H20.5M20.5 7L15.0446 1M20.5 7L15.0446 13"
                    stroke="#fff"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
            </button>
          </div>
        </div>
        <div class="prices__tabs-tab">
          <div class="prices__tabs-tab-item-wrapper">
            <div class="prices__tabs-tab-item prices__tabs-tab-item--first">
              <p class="prices__tabs-tab-item-title tl4">Закуски</p>
              <ul class="prices__tabs-tab-item-list">
                <li class="prices__tabs-tab-item-list-item txt20">
                  <span>1</span>
                  Мини-канапе с лососем и крем-чизом.
                </li>
                <li class="prices__tabs-tab-item-list-item txt20">
                  <span>2</span>
                  Мини-канапе с лососем и крем-чизом.
                </li>
                <li class="prices__tabs-tab-item-list-item txt20">
                  <span>3</span>
                  Креветки с авокадо и соусом томат-базилик.
                </li>
                <li class="prices__tabs-tab-item-list-item txt20">
                  <span>4</span>
                  Креветки с авокадо и соусом томат-базилик.
                </li>
              </ul>
            </div>
            <div class="prices__tabs-tab-item prices__tabs-tab-item--mob">
              <p class="prices__tabs-tab-item-title tl4">Горячие блюда</p>
              <ul class="prices__tabs-tab-item-list">
                <li class="prices__tabs-tab-item-list-item txt20">
                  <span>1</span>
                  Паста с грибами и томатным соусом.
                </li>
                <li class="prices__tabs-tab-item-list-item txt20">
                  <span>2</span>
                  Паста с грибами и томатным соусом.
                </li>
                <li class="prices__tabs-tab-item-list-item txt20">
                  <span>3</span>
                  Паста с грибами и томатным соусом.
                </li>
              </ul>
            </div>
            <div class="prices__tabs-tab-item prices__tabs-tab-item--mob">
              <p class="prices__tabs-tab-item-title tl4">Салаты</p>
              <ul class="prices__tabs-tab-item-list">
                <li class="prices__tabs-tab-item-list-item txt20">
                  <span>1</span>
                  Цезарь с курицей и пармезаном.
                </li>
                <li class="prices__tabs-tab-item-list-item txt20">
                  <span>1</span>
                  Греческий с оливками, помидорами и фетой.
                </li>
              </ul>
            </div>
            <div class="prices__tabs-tab-item prices__tabs-tab-item--mob">
              <p class="prices__tabs-tab-item-title tl4">Десерты</p>
              <ul class="prices__tabs-tab-item-list">
                <li class="prices__tabs-tab-item-list-item txt20">
                  <span>1</span>
                  Мини-торт "Три шоколада" с малиновым соусом.
                </li>
              </ul>
            </div>
            <div class="prices__tabs-tab-item prices__tabs-tab-item--mob">
              <p class="prices__tabs-tab-item-title tl4">Напитки</p>
              <ul class="prices__tabs-tab-item-list">
                <li class="prices__tabs-tab-item-list-item txt20">
                  <span>1</span>
                  Фруктовые смузи.
                </li>
                <li class="prices__tabs-tab-item-list-item txt20">
                  <span>1</span>
                  Фруктовые смузи.
                </li>
                <li class="prices__tabs-tab-item-list-item txt20">
                  <span>1</span>
                  Фруктовые смузи.
                </li>

                <li class="prices__tabs-tab-item-list-item txt20">
                  <span>1</span>
                  Минеральная вода с лимоном и мятой.
                </li>
                <li class="prices__tabs-tab-item-list-item txt20">
                  <span>1</span>
                  Разнообразие чая и кофе
                </li>
              </ul>
            </div>
            <div class="prices__btn-box">
              <button class="prices__btn prices__btn--show link">
                Смотреть полностью
                <div class="link-svg-box">
                  <svg
                    width="22"
                    height="14"
                    viewBox="0 0 22 14"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1.5 7H20.5M20.5 7L15.0446 1M20.5 7L15.0446 13"
                      stroke="#4658FD"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
              </button>
              <button class="prices__btn prices__btn--hidden link">
                Свернуть
                <div class="link-svg-box">
                  <svg
                    width="22"
                    height="14"
                    viewBox="0 0 22 14"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1.5 7H20.5M20.5 7L15.0446 1M20.5 7L15.0446 13"
                      stroke="#4658FD"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
              </button>
            </div>
          </div>

          <div class="prices__tabs-tab-item prices__tabs-tab-item--desk">
            <p class="prices__tabs-tab-item-title tl4">Горячие блюда</p>
            <ul class="prices__tabs-tab-item-list">
              <li class="prices__tabs-tab-item-list-item txt20">
                <span>1</span>
                Паста с грибами и томатным соусом.
              </li>
            </ul>
          </div>
          <div class="prices__tabs-tab-item prices__tabs-tab-item--desk">
            <p class="prices__tabs-tab-item-title tl4">Салаты</p>
            <ul class="prices__tabs-tab-item-list">
              <li class="prices__tabs-tab-item-list-item txt20">
                <span>1</span>
                Цезарь с курицей и пармезаном.
              </li>
              <li class="prices__tabs-tab-item-list-item txt20">
                <span>1</span>
                Греческий с оливками, помидорами и фетой.
              </li>
            </ul>
          </div>
          <div class="prices__tabs-tab-item prices__tabs-tab-item--desk">
            <p class="prices__tabs-tab-item-title tl4">Десерты</p>
            <ul class="prices__tabs-tab-item-list">
              <li class="prices__tabs-tab-item-list-item txt20">
                <span>1</span>
                Мини-торт "Три шоколада" с малиновым соусом.
              </li>
            </ul>
          </div>
          <div class="prices__tabs-tab-item prices__tabs-tab-item--desk">
            <p class="prices__tabs-tab-item-title tl4">Напитки</p>
            <ul class="prices__tabs-tab-item-list">
              <li class="prices__tabs-tab-item-list-item txt20">
                <span>1</span>
                Фруктовые смузи.
              </li>

              <li class="prices__tabs-tab-item-list-item txt20">
                <span>1</span>
                Минеральная вода с лимоном и мятой.
              </li>
              <li class="prices__tabs-tab-item-list-item txt20">
                <span>1</span>
                Разнообразие чая и кофе
              </li>
            </ul>
          </div>

          <div class="prices__tabs-tab-price-box">
            <p class="prices__tabs-tab-price-title">
              <span class="tl4">от</span> <span class="prices__tabs-tab-price-num">7 000</span> ₽
            </p>

            <div class="prices__tabs-tab-price-desk txt16">
              Цены приблизительные, для уточнения свяжитесь с менеджером
            </div>
            <button class="prices__item-desk-link link" data-popup="#popup__application">
              Оставить заявку
              <div class="link-svg-box">
                <svg
                  width="22"
                  height="14"
                  viewBox="0 0 22 14"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1.5 7H20.5M20.5 7L15.0446 1M20.5 7L15.0446 13"
                    stroke="#fff"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
