<section class="other-services-swiper">
  <div class="container">
    <div class="other-services-swiper__inner">
      <p class="other-services-swiper__title tl2">Услуги</p>
      <div class="other-services-swiper__swiper swiper">
        <div class="other-services-swiper__swiper-wrapper swiper-wrapper">
          <div class="other-services-swiper__swiper-slide swiper-slide">
            <a href="#" class="other-services-swiper__swiper-slide-inner">
              <div class="other-services-swiper__swiper-slide-img-box">
                <img src="./assets/images/other-services-swiper-1.webp" alt="" />
              </div>
              <div class="other-services-swiper__swiper-slide-text-box">
                <p class="other-services-swiper__swiper-slide-title tl4">Корпоративное питание</p>
                <p class="other-services-swiper__swiper-slide-desk txt20">
                  Вкусное и разнообразное питание с доставкой в офис
                </p>
                <div class="other-services-swiper__swiper-slide-svg-box">
                  <svg
                    width="22"
                    height="14"
                    viewBox="0 0 22 14"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1.5 7.00049H20.5M20.5 7.00049L15.0446 1.00049M20.5 7.00049L15.0446 13.0005"
                      stroke="#4658FD"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
              </div>
            </a>
          </div>
          <div class="other-services-swiper__swiper-slide swiper-slide">
            <a href="#" class="other-services-swiper__swiper-slide-inner">
              <div class="other-services-swiper__swiper-slide-img-box">
                <img src="./assets/images/other-services-swiper-2.webp" alt="" />
              </div>
              <div class="other-services-swiper__swiper-slide-text-box">
                <p class="other-services-swiper__swiper-slide-title tl4">Кофе брейк</p>
                <p class="other-services-swiper__swiper-slide-desk txt20">
                  Ароматный кофе для ваших перерывов на семинарах, лекциях и тренингах
                </p>
                <div class="other-services-swiper__swiper-slide-svg-box">
                  <svg
                    width="22"
                    height="14"
                    viewBox="0 0 22 14"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1.5 7.00049H20.5M20.5 7.00049L15.0446 1.00049M20.5 7.00049L15.0446 13.0005"
                      stroke="#4658FD"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
              </div>
            </a>
          </div>
          <div class="other-services-swiper__swiper-slide swiper-slide">
            <a href="#" class="other-services-swiper__swiper-slide-inner">
              <div class="other-services-swiper__swiper-slide-img-box">
                <img src="./assets/images/other-services-swiper-3.webp" alt="" />
              </div>
              <div class="other-services-swiper__swiper-slide-text-box">
                <p class="other-services-swiper__swiper-slide-title tl4">Организация буфетов</p>
                <p class="other-services-swiper__swiper-slide-desk txt20">
                  Вкусное и разнообразное питание с доставкой в офис
                </p>
                <div class="other-services-swiper__swiper-slide-svg-box">
                  <svg
                    width="22"
                    height="14"
                    viewBox="0 0 22 14"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1.5 7.00049H20.5M20.5 7.00049L15.0446 1.00049M20.5 7.00049L15.0446 13.0005"
                      stroke="#4658FD"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
              </div>
            </a>
          </div>
          <div class="other-services-swiper__swiper-slide swiper-slide">
            <a href="#" class="other-services-swiper__swiper-slide-inner">
              <div class="other-services-swiper__swiper-slide-img-box">
                <img src="./assets/images/other-services-swiper-1.webp" alt="" />
              </div>
              <div class="other-services-swiper__swiper-slide-text-box">
                <p class="other-services-swiper__swiper-slide-title tl4">Корпоративное питание</p>
                <p class="other-services-swiper__swiper-slide-desk txt20">
                  Вкусное и разнообразное питание с доставкой в офис
                </p>
                <div class="other-services-swiper__swiper-slide-svg-box">
                  <svg
                    width="22"
                    height="14"
                    viewBox="0 0 22 14"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1.5 7.00049H20.5M20.5 7.00049L15.0446 1.00049M20.5 7.00049L15.0446 13.0005"
                      stroke="#4658FD"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
              </div>
            </a>
          </div>
          <div class="other-services-swiper__swiper-slide swiper-slide">
            <a href="#" class="other-services-swiper__swiper-slide-inner">
              <div class="other-services-swiper__swiper-slide-img-box">
                <img src="./assets/images/other-services-swiper-2.webp" alt="" />
              </div>
              <div class="other-services-swiper__swiper-slide-text-box">
                <p class="other-services-swiper__swiper-slide-title tl4">Кофе брейк</p>
                <p class="other-services-swiper__swiper-slide-desk txt20">
                  Ароматный кофе для ваших перерывов на семинарах, лекциях и тренингах
                </p>
                <div class="other-services-swiper__swiper-slide-svg-box">
                  <svg
                    width="22"
                    height="14"
                    viewBox="0 0 22 14"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1.5 7.00049H20.5M20.5 7.00049L15.0446 1.00049M20.5 7.00049L15.0446 13.0005"
                      stroke="#4658FD"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
              </div>
            </a>
          </div>
          <div class="other-services-swiper__swiper-slide swiper-slide">
            <a href="#" class="other-services-swiper__swiper-slide-inner">
              <div class="other-services-swiper__swiper-slide-img-box">
                <img src="./assets/images/other-services-swiper-3.webp" alt="" />
              </div>
              <div class="other-services-swiper__swiper-slide-text-box">
                <p class="other-services-swiper__swiper-slide-title tl4">Организация буфетов</p>
                <p class="other-services-swiper__swiper-slide-desk txt20">
                  Вкусное и разнообразное питание с доставкой в офис
                </p>
                <div class="other-services-swiper__swiper-slide-svg-box">
                  <svg
                    width="22"
                    height="14"
                    viewBox="0 0 22 14"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1.5 7.00049H20.5M20.5 7.00049L15.0446 1.00049M20.5 7.00049L15.0446 13.0005"
                      stroke="#4658FD"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="other-services-swiper__btn-box">
          <button
            class="other-services-swiper__btn other-services-swiper__btn--prev button-swiper button-swiper--prev swiper-button-prev"
          >
            <div class="button-swiper-svg-box">
              <svg width="20" height="14" viewBox="0 0 20 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M20 7L1 7M1 7L6.45545 13M1 7L6.45545 0.999998"
                  stroke="#4658FD"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </button>
          <button
            class="other-services-swiper__btn other-services-swiper__btn--next button-swiper button-swiper--next swiper-button-next"
          >
            <div class="button-swiper-svg-box">
              <svg width="20" height="14" viewBox="0 0 20 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M0 7H19M19 7L13.5446 1M19 7L13.5446 13"
                  stroke="#4658FD"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
