<section class="standarts-banner">
  <div class="container">
    <p class="standarts-banner__subtitle txt20">
      Мы обеспечиваем высокий уровень качества обслуживания наших клиентов
    </p>

    <div class="standarts-banner__title-box">
      <p class="standarts-banner__title tl1">Стандарты качества</p>
      <p class="standarts-banner__title tl1">в нашей компании</p>
    </div>

    <div class="standarts-banner__img-box">
      <div class="standarts-banner__img standarts-banner__img--first">
        <img src="../assets/images/standarts-banner-img-2.webp" alt="">
      </div>
      <div class="standarts-banner__img standarts-banner__img--second">
        <img src="../assets/images/standarts-banner-img-1.webp" alt="">
      </div>
      <span class="standarts-banner__img-message txt16">5 лет опыта</span>
    </div>

    <div class="standarts-banner__message">
      <p class="tl5">Качество на первом месте</p>
      <p class="txt20">
        Безопасность пищевых продуктов для нас имеет первостепенное значение. Мы строго следим за соблюдением
        всех санитарных норм и стандартов.
      </p>
    </div>
  </div>
</section>
