<section class="staff">
  <div class="container">
    <p class="tl2">Сотрудники</p>
    <div class="staff__list">
      <div class="staff__card">
        <img src="../assets/images/stuff.webp" alt="" />
      </div>
      <div class="staff__card">
        <p class="staff__card-title tl5">Отбор сотрудников</p>
        <p class="staff__card-text txt20">
          При наборе новых сотрудников, мы проводим тщательное собеседование. Мы исследуем профессиональные
          качества, опыт работы и уровень образования потенциальных кандидатов.
        </p>
      </div>
      <div class="staff__card">
        <p class="staff__card-title tl5">Важные навыки</p>
        <p class="staff__card-text txt20">
          Мы также обращаем внимание на коммуникативные навыки, чтобы убедиться, что кандидаты способны
          эффективно сотрудничать с другими коллегами.
        </p>
      </div>
      <div class="staff__card">
        <p class="staff__card-title tl5">Взвешенное решения</p>
        <p class="staff__card-text txt20">
          Мы также проводим проверку рекомендаций и просматриваем резюме, чтобы получить полную картину о
          кандидатах и принять обоснованные решения о том, кто будет лучшим дополнением нашей организации.
        </p>
      </div>
    </div>
  </div>
</section>
