.production {
  &__title {
    text-align: center;
    margin-bottom: 4rem;
  }

  &__body {
    display: flex;
    justify-content: space-between;
  }

  &__list {
    direction: rtl;
    width: 71.8rem;
    max-height: 57.7rem;
    transition: 0.2s ease-in-out;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 0.2rem;
      max-width: 0;
      transition: 0.2s ease-in-out;
    }

    &.with-scroll {
      padding-left: 8rem;

      &::-webkit-scrollbar {
        max-width: 0.2rem;

        &-track {
          background-color: $light-grey;
        }

        &-thumb {
          background-color: $black;
        }
      }
    }
  }

  &__images {
    width: 86.8rem;
  }

  &__item {
    direction: ltr;
    text-align: left;
    max-height: 4.3rem;
    overflow: hidden;
    transition: 0.2s ease-in-out;

    &.active {
      .production__item-title {
        span {
          &:first-child {
            color: $green;
          }

          &:last-child {
            transform: rotateZ(0deg);
          }
        }
      }
    }

    &:not(:last-child) {
      margin-bottom: 6rem;
    }

    &:first-child {
      margin-top: 2.6rem;
    }

    &-title {
      cursor: pointer;
      display: flex;
      align-items: center;
      column-gap: 0.8rem;
      margin-bottom: 2rem;

      & > * {
        pointer-events: none;
      }

      span {
        &:last-child {
          display: block;
          width: 3.2rem;
          height: 3.2rem;
          transform: rotateZ(-90deg);
          transition: 0.2s ease-in-out;

          svg {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  &__images {
    position: relative;

    &-item {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      justify-content: space-between;
      opacity: 0;
      transition: opacity 0.2s ease-in-out;

      &.active {
        opacity: 1;
      }

      &.three-img {
        width: 100%;

        .production__images-item--column {
          &:first-child {
            width: 41.6rem;

            div {
              width: 100%;
              height: 27.7rem;
              border-radius: 2rem;
              overflow: hidden;

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }

              &:not(:last-child) {
                margin-bottom: 2rem;
              }
            }
          }

          &:last-child {
            width: 43.2rem;
            height: 57.7rem;
            border-radius: 2rem;
            overflow: hidden;
          }
        }
      }

      &.two-img {
        width: 100%;

        .production__images-item--column {
          width: 42.2rem;
          height: 57.7rem;
          border-radius: 2rem;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }

      &.one-img {
        justify-content: flex-end;
        right: 0;

        .production__images-item--column {
          width: 76.9rem;
          height: 57.7rem;
          border-radius: 2rem;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }

  @media (max-width: 48em) {
    &__title {
      margin-bottom: 5.6rem;
    }

    &__list {
      width: auto;
      max-height: none;
    }

    &__item {
      &:first-child {
        margin-top: 0;
      }

      &:not(:last-child) {
        margin-bottom: 5.6rem;
      }

      &-title {
        margin-bottom: 2.4rem;
      }

      &-text {
        margin-bottom: 2.4rem;
      }
    }

    &__images {
      &-item {
        display: flex;
        position: static;
        opacity: 1;
        width: 100%;

        &.three-img {
          .production__images-item--column {
            &:first-child {
              width: 33rem;

              div {
                width: 100%;
                height: 22rem;
                border-radius: 2.4rem;

                &:first-child {
                  margin-bottom: 1.4rem;
                }
              }
            }

            &:last-child {
              width: 34rem;
              height: 100%;
            }
          }
        }

        &.two-img {
          .production__images-item--column {
            width: 33.6rem;
            height: 44.8rem;
            border-radius: 2.4rem;
          }
        }

        &.one-img {
          .production__images-item--column {
            width: 100%;
            height: 51.4rem;
            border-radius: 2.4rem;
          }
        }
      }
    }
  }
}
