<section class="about-our-farm section" data-anchor="about-our-farm">
  <div class="container">
    <div class="about-our-farm__inner">
      <div class="about-our-farm__title-box">
        <div class="about-our-farm__title-img-box about-our-farm__title-img-box--left ">
          <img src="./assets/images/leaves-left.webp" alt="" />
        </div>
        <div class="about-our-farm__title-img-box about-our-farm__title-img-box--right ">
          <img src="./assets/images//leaves-right.webp" alt="" />
        </div>
        <p class="about-our-farm__title tl1 ">о нашей ферме</p>
        <ul class="about-our-farm__standard-list ">
          <li class="about-our-farm__standard-item txt30">забота и любовь</li>
          <li class="about-our-farm__standard-item txt30">натуральное молоко</li>
        </ul>
      </div>
      <div class="about-our-farm__content-wrapper">
        <div class="about-our-farm__content about-our-farm__content--left">
          <div class="about-our-farm__content-info-box ">
            <p class="about-our-farm__content-info-title txt40">
              Мы строго следим за качеством кормов, которые даем нашим животным
            </p>
            <p class="about-our-farm__content-info-desc txt18">
              Мы гордимся тем, что наша продукция полностью экологически чиста
            </p>
          </div> 
          <div class="about-our-farm__content-num-box ">
            <div class="about-our-farm__content-num-img-box about-our-farm__content-num-img-box--left">
              <img src="./assets/images/stub-img-left.webp" alt="" />
            </div>
            <div class="about-our-farm__content-num-text-box">
              <p class="about-our-farm__content-num-num txt60">90+</p>
              <p class="about-our-farm__content-num-text txt36">коровок и козочек</p>
            </div>

            <div class="about-our-farm__content-num-img-box about-our-farm__content-num-img-box--right">
              <img src="./assets/images/stub-img-right.webp" alt="" />
            </div>
          </div>
        </div>
        <div class="about-our-farm__img-wrapper">
          <div class="about-our-farm__img-box ">
            <img src="./assets/images/cow.webp" alt="" />
          </div>
          <a href="#" class="about-our-farm__link ">
            <div class="about-our-farm__link-img-box">
              <img src="./assets/images/star.svg" alt="" />
            </div>
            <p class="about-our-farm__link-text txt36">подробнее о нас</p>
            <div class="about-our-farm__link-img-box">
              <img src="./assets/images/star.svg" alt="" />
            </div>
          </a>
        </div>
        <div class="about-our-farm__content about-our-farm__content--right">
          <div class="about-our-farm__content-favorite-box ">
            <div class="about-our-farm__content-favorite-text-box">
              <p class="about-our-farm__content-favorite-text-title txt40">Экологически чистая зона</p>
              <p class="about-our-farm__content-favorite-text-desc txt18">
                Наши коровы и козы живут в комфортных условиях, насыщенных свежим воздухом и зелеными
                пастбищами
              </p>
            </div>
            <button class="about-our-farm__content-favorite-btn">
              <div class="about-our-farm__content-favorite-btn-svg-box">
                <svg
                  width="28"
                  height="28"
                  viewBox="0 0 28 28"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M19.1797 2.6167C17.173 2.6167 15.3422 3.41872 13.9997 4.71237C12.6571 3.41872 10.8264 2.6167 8.81967 2.6167C4.68106 2.6167 1.33301 5.98576 1.33301 10.1384C1.33301 11.6342 1.57199 13.0202 1.98717 14.3046C2.9808 17.4463 4.99533 19.9235 7.09309 21.7263C9.18502 23.5242 11.4167 24.7011 12.9495 25.2235C13.2867 25.3414 13.6676 25.3834 13.9997 25.3834C14.3317 25.3834 14.7127 25.3414 15.0499 25.2235C16.5826 24.7011 18.8143 23.5242 20.9063 21.7263C23.004 19.9235 25.0186 17.4463 26.0122 14.3046C26.4274 13.0202 26.6663 11.6342 26.6663 10.1384C26.6663 5.98576 23.3183 2.6167 19.1797 2.6167Z"
                    fill="#D15834"
                    stroke="white"
                    stroke-width="2"
                  />
                </svg>
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
