<section class="catalog-hero">
  <div class="container catalog-hero__container">
    <div class="catalog-hero__bg"></div>
    <div class="catalog-hero__inner">
      <div class="catalog-hero__swiper swiper">
        <div class="catalog-hero__swiper-wrapper swiper-wrapper">
          <div class="catalog-hero__swiper-slide swiper-slide">
            <div class="catalog-hero__swiper-slide-inner">
              <div class="catalog-hero__title-box">
                <p class="catalog-hero__num txt30">01</p>
                <p class="catalog-hero__title tl2">мороженое</p>
              </div>
              <div class="catalog-hero__img-box catalog-hero__img-box--1">
                <img src="./assets/images/catalog-hero-1.webp" alt="" />
              </div>
            </div>
          </div>
          <div class="catalog-hero__swiper-slide swiper-slide">
            <div class="catalog-hero__swiper-slide-inner">
              <div class="catalog-hero__title-box">
                <p class="catalog-hero__num txt30">02</p>
                <p class="catalog-hero__title tl2">торты</p>
              </div>
              <div class="catalog-hero__img-box catalog-hero__img-box--2">
                <img src="./assets/images/catalog-hero-2.webp" alt="" />
              </div>
            </div>
          </div>
          <div class="catalog-hero__swiper-slide swiper-slide">
            <div class="catalog-hero__swiper-slide-inner">
              <div class="catalog-hero__title-box">
                <p class="catalog-hero__num txt30">03</p>
                <p class="catalog-hero__title tl2">сеты</p>
              </div>
              <div class="catalog-hero__img-box catalog-hero__img-box--3">
                <img src="./assets/images/catalog-hero-3.webp" alt="" />
              </div>
            </div>
          </div>
          <div class="catalog-hero__swiper-slide swiper-slide">
            <div class="catalog-hero__swiper-slide-inner">
              <div class="catalog-hero__title-box">
                <p class="catalog-hero__num txt30">04</p>
                <p class="catalog-hero__title tl2">мороженое</p>
              </div>
              <div class="catalog-hero__img-box catalog-hero__img-box--1">
                <img src="./assets/images/catalog-hero-1.webp" alt="" />
              </div>
            </div>
          </div>



        </div>
      </div>

      <div class="catalog-hero__row">
        <div class="catalog-hero__swiper-btn-box">
          <div
            class="catalog-hero__swiper-btn catalog-hero__swiper-btn--prev swiper-button swiper-button-prev"
          >
            <div class="catalog-hero__swiper-btn-svg-box swiper-button-svg-box">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M9.5 21C9.5 19.5 8 13.5 2 12C8 10.5 9.5 4.5 9.5 3"
                  stroke="#D15834"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  opacity="0.4"
                  d="M19.5 21C19.5 19.5 18 13.5 12 12C18 10.5 19.5 4.5 19.5 3"
                  stroke="#D15834"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </div>

          <div
            class="catalog-hero__swiper-btn catalog-hero__swiper-btn--next swiper-button swiper-button-next"
          >
            <div class="catalog-hero__swiper-btn-svg-box swiper-button-svg-box">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M14.5 21C14.5 19.5 16 13.5 22 12C16 10.5 14.5 4.5 14.5 3"
                  stroke="#D15834"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  opacity="0.4"
                  d="M4.5 21C4.5 19.5 6 13.5 12 12C6 10.5 4.5 4.5 4.5 3"
                  stroke="#D15834"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </div>
        </div>

        <a href="#" class="catalog-hero__text-box catalog-hero__text-box--right">
          <p class="catalog-hero__text txt40">Категории продукции</p>
        </a>
      </div>

      <div class="catalog-hero__row catalog-hero__row--bottom">
        <div class="catalog-hero__text-box catalog-hero__text-box--left">
          <p class="catalog-hero__text txt40">100+</p>
          <p class="catalog-hero__text txt40">товаров</p>
        </div>

        <a href="#" class="catalog-hero__link-box">
          <div class="catalog-hero__link-img-box">
            <img src="./assets/images/star.svg" alt="" />
          </div>
          <p class="catalog-hero__link-text txt36">выбрать мороженое</p>
          <div class="catalog-hero__link-img-box">
            <img src="./assets/images/star.svg" alt="" />
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
