<section class="family-production section" data-anchor="family-production">
  <div class="container family-production__container">
    <div class="family-production__bg"></div>
    <div class="family-production__inner">
      <div class="family-production__family-row">
        <p class="family-production__family-row-title family-production--anim-text tl2">
          <span>Семейное производство</span>
        </p>
        <p class="family-production__family-row-text txt18">
          <span>качество является главным приоритетом, воплощаясь в каждой детали и рецепте</span>
        </p>
      </div>
      <div class="family-production__standard-row">
        <ul class="family-production__standard-list">
          <li class="family-production__standard-item txt30">европейский опыт</li>
          <li class="family-production__standard-item txt30">семейные традиции</li>
          <li class="family-production__standard-item txt30">идеальный вкус</li>
        </ul>
        <div class="family-production__standard-title-box">
          <p class="family-production__standard-title family-production--anim-text tl2">
            <span>стандарт</span>
          </p>
          <div class="family-production__standard-img-wrapper family-production--anim-img-box">
            <div class="family-production__standard-img-box family-production--anim-img-second">
              <img src="./assets/images/production-standart-1.webp" alt="" />
            </div>
            <div class="family-production__standard-img-box family-production--anim-img-first">
              <img src="./assets/images/production-standart-2.webp" alt="" />
            </div>
          </div>
          <div class="family-production__standard-text-box mobile">
            <p class="family-production__img-text family-production--anim-img-text txt30 mobile">
              <span>любовь к делу</span>
            </p>
            <p class="family-production__img-text family-production--anim-img-text txt30 mobile">
              <span>опыт и инновации</span>
            </p>
          </div>
          <p class="family-production__standard-title family-production--anim-text tl2">
            <span>качества</span>
          </p>

        </div>
      </div>
      <div class="family-production__experience-row">
        <p class="family-production__experience-title family-production--anim-text tl2">
          <span>Профессио&shy;нальный опыт </span>
        </p>
        <div class="family-production__experience-img-wrapper family-production--anim-img-box">
          <div class="family-production__experience-img-box family-production--anim-img-third">
            <img src="./assets/images/production-experience-2.webp" alt="" />
          </div>
          <div class="family-production__experience-img-box family-production--anim-img-second">
            <img src="./assets/images/production-experience-3.webp" alt="" />
          </div>
          <div class="family-production__experience-img-box family-production--anim-img-first desktop">
            <img src="./assets/images/production-experience-1.webp" alt="" />
          </div>
        </div>
      </div>
      <div class="family-production__img-row">
        <div class="family-production__img-img-box">
          <img src="./assets/images/production-img.webp" alt="" />
        </div>
        <p
          class="family-production__img-text family-production--anim-img-text family-production__img-text--center txt30 desktop"
        >
          <span>любовь к делу</span>
        </p>
        <p class="family-production__img-text family-production--anim-img-text txt30 desktop">
          <span>опыт и инновации</span>
        </p>
      </div>
    </div>
  </div>
</section>
