<header class="header">
  <div class="container">
    <div class="header__inner">
      <a href="#" class="header__logo">
        <div class="header__logo-img-box">
          <img src="./assets/images/logo.svg" alt="" />
        </div>
      </a>
      <nav class="header__nav">
        <ul class="header__nav-list">
          <li class="header__nav-item">
            <a href="#" class="header__nav-link txt18">Каталог</a>
          </li>
          <li class="header__nav-item">
            <a href="#" class="header__nav-link txt18">Horeca</a>
          </li>
          <li class="header__nav-item">
            <a href="#" class="header__nav-link txt18">О компании</a>
          </li>
          <li class="header__nav-item">
            <a href="#" class="header__nav-link txt18">Новости</a>
          </li>
          <li class="header__nav-item">
            <a href="#" class="header__nav-link txt18">Контакты</a>
          </li>
        </ul>
      </nav>
      <div class="header__btn-box">
        <a href="" class="header__btn" data-popup="#popup__lk">
          <img src="./assets/images/profile.svg" alt="" />
        </a>
        <a href="" class="header__btn" >
          <img src="./assets/images/heart.svg" alt="" />
        </a>
        <a href="" class="header__btn" >
          <img src="./assets/images/shopping-bag.svg" alt="" />
        </a>
        <button class="header__btn burger mobile">
          <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M2 12.1H22"
              stroke="white"
              stroke-width="2.2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M2 4.09998H22"
              stroke="white"
              stroke-width="2.2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M2 20.1H22"
              stroke="white"
              stroke-width="2.2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div class="header__mob">
    <div class="header__mob-bg" style="position: absolute">
      <img src="./assets/images/main-hero-bg.svg" alt="" />
    </div>
    <div class="header__mob-header">
      <a href="#" class="header__logo">
        <div class="header__logo-img-box">
          <img src="./assets/images/logo.svg" alt="" />
        </div>
      </a>
      <button class="header__close-btn close-burger">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M18 6L6 18"
            stroke="white"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M6 6L18 18"
            stroke="white"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
    </div>
    <nav class="header__mob-nav">
      <ul class="header__mob-nav-list">
        <li class="header__mob-nav-item">
          <a href="#" class="header__mob-nav-link txt18">Каталог</a>
        </li>
        <li class="header__mob-nav-item">
          <a href="#" class="header__mob-nav-link txt18">Horeca</a>
        </li>
        <li class="header__mob-nav-item">
          <a href="#" class="header__mob-nav-link txt18">О компании</a>
        </li>
        <li class="header__mob-nav-item">
          <a href="#" class="header__mob-nav-link txt18">Новости</a>
        </li>
        <li class="header__mob-nav-item">
          <a href="#" class="header__mob-nav-link txt18">Контакты</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
