<section class="item-banner">
  <div class="item-banner__container container">
    <div class="item-banner__left">
      <div class="item-banner__nav-box nav-box dark desktop">
        <nav class="nav-box__list-wrap title-h5">
          <ul class="nav-box__list">
            <li class="nav-box__link txt16"><a href="#">Главная</a></li>
            <li class="nav-box__link txt16"><a href="#">Каталог</a></li>
            <li class="nav-box__link txt16"><a href="#">Мороженое</a></li>
            <li class="nav-box__link txt16">Лесные ягоды</li>
          </ul>
        </nav>
      </div>
      <div class="item-banner__type txt18">Мороженое</div>
      <div class="item-banner__title txt60">Лесные ягоды</div>
      <div class="item-banner__subtitle txt18">взбитый замороженный сорбет</div>
      <div class="item-banner__weights mobile">
        <div class="item-banner__weight txt30">80 г</div>
        <div class="item-banner__weight txt30 active">100 г</div>
        <div class="item-banner__weight txt30">300 г</div>
        <div class="item-banner__weight txt30">500 г</div>
        <div class="item-banner__weight txt30">1 кг</div>
        <div class="item-banner__weight txt30">2.5 кг</div>
      </div>
      <div class="item-banner__descr txt18 desktop">
        Вкус и аромат любимой летней ягоды добавляет сливочному пломбиру то самое, волшебное послевкусие. Это
        мороженое, которое хочется ещё и ещё!
      </div>
    </div>
    <div class="item-banner__middle">
      <div class="item-banner__img">
        <img src="./assets/images/catalog-hero-1.webp" alt="" />
      </div>
      <button class="item-banner__button large-button cart txt36">
        <div class="large-button__content">
          <div>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M16.7083 8.75C16.23 8.75 15.8333 8.35333 15.8333 7.875V3.79167C15.8333 2.53167 15.0517 1.75 13.7917 1.75H10.2917C9.03167 1.75 8.25 2.53167 8.25 3.79167V7.875C8.25 8.35333 7.85333 8.75 7.375 8.75C6.89667 8.75 6.5 8.35333 6.5 7.875V3.79167C6.5 1.56333 8.06333 0 10.2917 0H13.7917C16.02 0 17.5833 1.56333 17.5833 3.79167V7.875C17.5833 8.35333 17.1867 8.75 16.7083 8.75Z"
                fill="#D15834"
              />
              <path
                d="M7.33331 18.7433C6.85498 18.7433 6.45831 18.3467 6.45831 17.8683C6.45831 17.3783 6.85498 16.9933 7.33331 16.9933H21.0533C21.4033 16.9933 21.6716 16.69 21.6366 16.34L20.8433 10.1182C20.5633 7.85483 20.1667 5.99983 16.2 5.99983H7.79998C3.83331 5.99983 3.43665 7.85483 3.16831 10.1182L2.11831 18.4517C1.77998 21.3217 2.66665 23.6667 6.76165 23.6667H17.2383C20.925 23.6667 22.01 21.765 21.9516 19.2917C21.94 18.9767 21.6833 18.7433 21.3683 18.7433H7.33331Z"
                fill="#D15834"
              />
            </svg>
          </div>
          <div>в корзину</div>
        </div>
        <div class="large-button__background">
          <svg width="262" height="166" viewBox="0 0 262 166" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g filter="url(#filter0_b_2473_3098)">
              <ellipse cx="131" cy="83" rx="131" ry="83" fill="white" fill-opacity="0.7" />
              <path
                d="M260 83C260 104.995 245.925 125.197 222.561 140C199.221 154.788 166.855 164 131 164C95.1453 164 62.7791 154.788 39.4394 140C16.075 125.197 2 104.995 2 83C2 61.0054 16.075 40.803 39.4394 25.9996C62.7791 11.2118 95.1453 2 131 2C166.855 2 199.221 11.2118 222.561 25.9996C245.925 40.803 260 61.0054 260 83Z"
                stroke="white"
                stroke-width="4"
              />
            </g>
            <defs>
              <filter
                id="filter0_b_2473_3098"
                x="-100"
                y="-100"
                width="462"
                height="366"
                filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB"
              >
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feGaussianBlur in="BackgroundImageFix" stdDeviation="50" />
                <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_2473_3098" />
                <feBlend
                  mode="normal"
                  in="SourceGraphic"
                  in2="effect1_backgroundBlur_2473_3098"
                  result="shape"
                />
              </filter>
            </defs>
          </svg>
        </div>
      </button>
    </div>
    <div class="item-banner__right">
      <div class="item-banner__tabs">
        <div class="item-banner__tab txt30">
          <span>Низкокалорийно</span>
          <div class="item-banner__tab-background desktop">
            <svg
              width="274"
              height="123"
              viewBox="0 0 274 123"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M128.763 16.911C184.615 9.35045 258.007 -20.994 272.658 28.0179C282.203 59.9479 207.521 93.9132 207.521 93.9132C207.521 93.9132 106.942 142.121 53.949 113.061C28.5911 99.1556 7.54345 88.9871 1.59535 60.6852C-9.20697 9.2862 76.7156 23.9564 128.763 16.911Z"
                fill="#C14824"
              />
            </svg>
          </div>
          <div class="item-banner__tab-background mobile">
            <svg
              width="162"
              height="100"
              viewBox="0 0 162 100"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M84.4374 23.5875C117.536 33.9246 166.892 33.3941 160.926 71.3702C157.039 96.1107 105.929 98.7856 105.929 98.7856C105.929 98.7856 36.3871 104.092 15.3908 69.228C5.34377 52.5451 -3.38998 39.6476 1.44638 18.4183C10.2296 -20.1359 53.5934 13.9546 84.4374 23.5875Z"
                fill="#C14824"
              />
            </svg>
          </div>
        </div>
        <div class="item-banner__tab txt30">
          <span>Натурально</span>
          <div class="item-banner__tab-background desktop">
            <svg
              width="267"
              height="131"
              viewBox="0 0 267 131"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M130.872 29.7762C75.9932 42.6205 -3.39406 40.4292 0.387281 91.4441C2.85073 124.679 84.7337 129.794 84.7337 129.794C84.7337 129.794 195.889 138.984 235.044 92.9438C253.779 70.9131 269.82 53.9101 265.289 25.347C257.061 -26.5264 182.012 17.8069 130.872 29.7762Z"
                fill="#C5C1DD"
              />
            </svg>
          </div>
          <div class="item-banner__tab-background mobile">
            <svg width="171" height="83" viewBox="0 0 171 83" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M85.1539 68.4718C120.339 62.9389 170.322 68.9836 170.184 34.2634C170.093 11.6439 118.665 3.47865 118.665 3.47865C118.665 3.47865 48.9493 -9.12557 22.2217 19.7624C9.4322 33.5856 -1.43566 44.1632 0.164288 63.7418C3.06995 99.2982 52.3662 73.6277 85.1539 68.4718Z"
                fill="#C5C1DD"
              />
            </svg>
          </div>
        </div>
      </div>
      <div class="item-banner__like-btn like-btn">
        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M19.1802 3.61667C17.0685 3.61667 15.1785 4.64334 14.0002 6.21834C12.8218 4.64334 10.9318 3.61667 8.82016 3.61667C5.2385 3.61667 2.3335 6.53334 2.3335 10.1383C2.3335 11.5267 2.55516 12.81 2.94016 14C4.7835 19.8333 10.4652 23.3217 13.2768 24.2783C13.6735 24.4183 14.3268 24.4183 14.7235 24.2783C17.5352 23.3217 23.2168 19.8333 25.0602 14C25.4452 12.81 25.6668 11.5267 25.6668 10.1383C25.6668 6.53334 22.7618 3.61667 19.1802 3.61667Z"
            fill="white"
            fill-opacity="0.6"
          />
        </svg>
      </div>
      <div class="item-banner__weights desktop">
        <div class="item-banner__weight txt30">80 г</div>
        <div class="item-banner__weight txt30 active">100 г</div>
        <div class="item-banner__weight txt30">300 г</div>
        <div class="item-banner__weight txt30">500 г</div>
        <div class="item-banner__weight txt30">1 кг</div>
        <div class="item-banner__weight txt30">2.5 кг</div>
      </div>
    </div>
    <div class="item-banner__descr txt18 mobile">
      Вкус и аромат любимой летней ягоды добавляет сливочному пломбиру то самое, волшебное послевкусие. Это
      мороженое, которое хочется ещё и ещё!
    </div>
  </div>
</section>
