<section class="latest-news section" data-anchor="latest-news">
  <div class="container latest-news__container">
    <div class="latest-news__inner">
      <div class="latest-news__title-box" >
        <p class="latest-news__title tl2 ">свежие новости</p>
        <a href="#" class="latest-news__link ">
          <div class="latest-news__link-img-box">
            <img src="./assets/images/star.svg" alt="" />
          </div>
          <p class="latest-news__link-text txt36">смотреть все новости</p>
          <div class="latest-news__link-img-box">
            <img src="./assets/images/star.svg" alt="" />
          </div>
        </a>
      </div>
      <div class="latest-news__swiper-box">
        <div class="latest-news__swiper swiper">
          <div class="latest-news__swiper-wrapper swiper-wrapper">
            <div class="latest-news__swiper-slide swiper-slide">
              <div class="latest-news__swiper-slide-inner ">
                <div class="latest-news__swiper-slide-time">
                  <p class="latest-news__swiper-slide-time-text txt20">20 ФeВ 2024</p>
                </div>
                <div class="latest-news__swiper-slide-img-box latest-news__swiper-slide-img-box--1">
                  <img src="./assets/images/latest-news-1.webp" alt="" />
                </div>
                <div class="latest-news__swiper-info-box">
                  <p class="latest-news__swiper-text txt30">
                    Мы строго следим за качеством кормов, которые даем нашим животным
                  </p>
                  <a href="#" class="latest-news__swiper-link">
                    <div class="latest-news__swiper-link-svg-box">
                      <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M14.5 21C14.5 19.5 16 13.5 22 12C16 10.5 14.5 4.5 14.5 3"
                          stroke="#D15834"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          opacity="0.4"
                          d="M4.5 21C4.5 19.5 6 13.5 12 12C6 10.5 4.5 4.5 4.5 3"
                          stroke="#D15834"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="latest-news__swiper-slide swiper-slide">
              <div class="latest-news__swiper-slide-inner ">
                <div class="latest-news__swiper-slide-time">
                  <p class="latest-news__swiper-slide-time-text txt20">20 ФeВ 2024</p>
                </div>
                <div class="latest-news__swiper-slide-img-box latest-news__swiper-slide-img-box--2">
                  <img src="./assets/images/latest-news-2.webp" alt="" />
                </div>
                <div class="latest-news__swiper-info-box">
                  <p class="latest-news__swiper-text txt30">
                    Мы строго следим за качеством кормов, которые даем нашим животным
                  </p>
                  <a href="#" class="latest-news__swiper-link">
                    <div class="latest-news__swiper-link-svg-box">
                      <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M14.5 21C14.5 19.5 16 13.5 22 12C16 10.5 14.5 4.5 14.5 3"
                          stroke="#D15834"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          opacity="0.4"
                          d="M4.5 21C4.5 19.5 6 13.5 12 12C6 10.5 4.5 4.5 4.5 3"
                          stroke="#D15834"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="latest-news__swiper-slide swiper-slide">
              <div class="latest-news__swiper-slide-inner ">
                <div class="latest-news__swiper-slide-time">
                  <p class="latest-news__swiper-slide-time-text txt20">20 ФeВ 2024</p>
                </div>
                <div class="latest-news__swiper-slide-img-box latest-news__swiper-slide-img-box--3">
                  <img src="./assets/images/latest-news-3.webp" alt="" />
                </div>
                <div class="latest-news__swiper-info-box">
                  <p class="latest-news__swiper-text txt30">
                    Мы строго следим за качеством кормов, которые даем нашим животным
                  </p>
                  <a href="#" class="latest-news__swiper-link">
                    <div class="latest-news__swiper-link-svg-box">
                      <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M14.5 21C14.5 19.5 16 13.5 22 12C16 10.5 14.5 4.5 14.5 3"
                          stroke="#D15834"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          opacity="0.4"
                          d="M4.5 21C4.5 19.5 6 13.5 12 12C6 10.5 4.5 4.5 4.5 3"
                          stroke="#D15834"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="latest-news__swiper-slide swiper-slide">
              <div class="latest-news__swiper-slide-inner ">
                <div class="latest-news__swiper-slide-time">
                  <p class="latest-news__swiper-slide-time-text txt20">20 ФeВ 2024</p>
                </div>
                <div class="latest-news__swiper-slide-img-box latest-news__swiper-slide-img-box--4">
                  <img src="./assets/images/latest-news-4.webp" alt="" />
                </div>
                <div class="latest-news__swiper-info-box">
                  <p class="latest-news__swiper-text txt30">
                    Мы строго следим за качеством кормов, которые даем нашим животным
                  </p>
                  <a href="#" class="latest-news__swiper-link">
                    <div class="latest-news__swiper-link-svg-box">
                      <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M14.5 21C14.5 19.5 16 13.5 22 12C16 10.5 14.5 4.5 14.5 3"
                          stroke="#D15834"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          opacity="0.4"
                          d="M4.5 21C4.5 19.5 6 13.5 12 12C6 10.5 4.5 4.5 4.5 3"
                          stroke="#D15834"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="latest-news__swiper-btn-box mobile">
          <div class="latest-news__swiper-btn latest-news__swiper-btn--prev swiper-button swiper-button-prev">
            <div class="latest-news__swiper-btn-svg-box swiper-button-svg-box">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M9.5 21C9.5 19.5 8 13.5 2 12C8 10.5 9.5 4.5 9.5 3"
                  stroke="#D15834"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  opacity="0.4"
                  d="M19.5 21C19.5 19.5 18 13.5 12 12C18 10.5 19.5 4.5 19.5 3"
                  stroke="#D15834"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </div>

          <div class="latest-news__swiper-btn latest-news__swiper-btn--next swiper-button swiper-button-next">
            <div class="latest-news__swiper-btn-svg-box swiper-button-svg-box">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M14.5 21C14.5 19.5 16 13.5 22 12C16 10.5 14.5 4.5 14.5 3"
                  stroke="#D15834"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  opacity="0.4"
                  d="M4.5 21C4.5 19.5 6 13.5 12 12C6 10.5 4.5 4.5 4.5 3"
                  stroke="#D15834"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
