<section class="love section" data-anchor="love">
  <div class="love__container container" id="love-block">
    <div class="love__head">
      <div class="love__title-top tl1 mobile">
        <span>любовь</span>
        <span>
          <svg width="134" height="133" viewBox="0 0 134 133" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M71.2899 36.8121L72.4113 39.2388L74.4227 37.478C79.8911 32.6911 87.5036 30.4391 95.1205 32.0581C108.045 34.8052 116.306 47.5636 113.536 60.5972C112.427 65.8164 110.57 70.4576 108.174 74.6198L108.167 74.6316C102.37 84.8634 93.3944 92.1833 84.3517 97.1293C75.2988 102.081 66.3112 104.579 60.6795 105.25L60.6682 105.251L60.657 105.253C60.1179 105.323 59.3016 105.278 58.4144 105.089C57.5272 104.9 56.7629 104.61 56.299 104.327L56.2893 104.321L56.2796 104.315C51.4076 101.412 44.2132 95.4734 37.957 87.2678C31.7078 79.0714 26.4858 68.7338 25.3512 57.0286L25.3513 57.0286L25.3499 57.015C24.8539 52.2381 25.0454 47.243 26.1548 42.0237C28.9251 28.9901 41.662 20.6951 54.586 23.4422C62.2029 25.0612 68.2413 30.2149 71.2899 36.8121Z"
              fill="#D15834"
              stroke="white"
              stroke-width="4"
            />
          </svg>
        </span>
      </div>
      <div class="love__title-bottom tl1 mobile">с одной ложки</div>
      <div class="love__title-left desktop tl1">любовь с одной</div>
      <div class="love__heart desktop">
        <svg width="134" height="134" viewBox="0 0 134 134" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M71.79 37.3121L72.9114 39.7388L74.9229 37.978C80.3912 33.1911 88.0037 30.9391 95.6206 32.5581C108.545 35.3052 116.806 48.0636 114.036 61.0972C112.927 66.3164 111.07 70.9576 108.674 75.1198L108.667 75.1316C102.87 85.3634 93.8945 92.6833 84.8518 97.6293C75.7989 102.581 66.8113 105.079 61.1796 105.75L61.1684 105.751L61.1571 105.753C60.618 105.823 59.8017 105.778 58.9145 105.589C58.0273 105.4 57.263 105.11 56.7991 104.827L56.7894 104.821L56.7797 104.815C51.9077 101.912 44.7134 95.9734 38.4571 87.7678C32.2079 79.5714 26.986 69.2338 25.8514 57.5286L25.8514 57.5286L25.85 57.515C25.354 52.7381 25.5455 47.743 26.6549 42.5237C29.4253 29.4901 42.1621 21.1951 55.0862 23.9422C62.703 25.5612 68.7414 30.7149 71.79 37.3121Z"
            fill="#D15834"
            stroke="white"
            stroke-width="4"
          />
        </svg>
      </div>
      <div class="love__title-right desktop tl1">ложки</div>
    </div>
    <div class="love__body">
      <div class="love__tags-swiper swiper">
        <div class="swiper-wrapper">
          <div class="love__tags-swiper--slide type1 swiper-slide">
            <div class="love__tag txt30">настоящие ягоды и фрукты</div>
            <div class="love__tag txt30">0% полуфабрикатов</div>
            <div class="love__tag txt30">какао бобы</div>
          </div>
          <div class="love__tags-swiper--slide type1 swiper-slide">
            <div class="love__tag txt30">настоящие ягоды и фрукты</div>
            <div class="love__tag txt30">0% полуфабрикатов</div>
            <div class="love__tag txt30">какао бобы</div>
          </div>
        </div>
      </div>
      <div class="love__swiper swiper">
        <div class="swiper-wrapper">
          <div class="love__swiper-slide swiper-slide">
            <div class="love__swiper-slide--img">
              <img src="./assets/images/love-slide-img-1.webp" alt="" />
            </div>
          </div>
          <div class="love__swiper-slide swiper-slide">
            <div class="love__swiper-slide--img">
              <img src="./assets/images/love-slide-img-2.webp" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="love__swiper-background desktop">
        <svg width="1264" height="629" viewBox="0 0 1264 629" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M1150.8 336.996C1151 253.892 1250.87 243.245 1234.12 157.146C1204.87 6.91193 1009.56 -23.66 855.863 15.5626C732.448 47.0581 673.961 149.474 552.303 149.493C430.246 149.513 288.256 68.498 161 68.498C28.3713 68.498 122.856 215.882 108.5 327.498C93.8259 441.589 -26.2947 467.752 6.5 561.498C56 702.998 267.897 525.935 426.858 572.332C662.907 641.229 651.624 542.142 799.365 520.672C960.043 497.323 1150.81 725.875 1248 579.986C1314.84 479.66 1150.61 416.502 1150.8 336.996Z"
            fill="#C14824"
          />
        </svg>
      </div>
      <div class="love__swiper-background mobile">
        <svg width="375" height="298" viewBox="0 0 375 298" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M356.081 168.67C356.158 138.715 404.907 88.6804 398.405 57.6454C387.06 3.49213 340.669 -7.52774 281.038 6.61039C233.155 17.9632 210.462 54.8798 163.261 54.8867C115.904 54.8938 71.5443 -4.37465 26.135 25.6914C-20.4108 56.5098 21.3355 125.014 15.7656 165.247C10.0723 206.372 -46.5331 239.877 -33.8091 273.669C-14.6037 324.674 52.9147 260.85 114.59 277.574C206.174 302.409 201.796 266.692 259.118 258.953C321.459 250.537 366.082 332.92 403.793 280.333C429.726 244.17 356.008 197.329 356.081 168.67Z"
            fill="#C14824"
          />
        </svg>
      </div>
      <div class="love__swiper-navigation desktop">
        <div class="love__swiper-btn love__swiper-btn--prev swiper-button swiper-button-prev">
          <div class="love__swiper-btn-svg-box swiper-button-svg-box">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M9.5 21C9.5 19.5 8 13.5 2 12C8 10.5 9.5 4.5 9.5 3"
                stroke="#D15834"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
              <path
                opacity="0.4"
                d="M19.5 21C19.5 19.5 18 13.5 12 12C18 10.5 19.5 4.5 19.5 3"
                stroke="#D15834"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
            </svg>
          </div>
        </div>
        <div class="love__swiper-btn love__swiper-btn--next swiper-button swiper-button-next">
          <div class="love__swiper-btn-svg-box swiper-button-svg-box">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M14.5 21C14.5 19.5 16 13.5 22 12C16 10.5 14.5 4.5 14.5 3"
                stroke="#D15834"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
              <path
                opacity="0.4"
                d="M4.5 21C4.5 19.5 6 13.5 12 12C6 10.5 4.5 4.5 4.5 3"
                stroke="#D15834"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
            </svg>
          </div>
        </div>
      </div>
    </div>
    <div class="love__bottom">
      <div class="love__bottom-text txt30 desktop">любовь с одной</div>
      <div class="love__bottom-swiper swiper">
        <div class="swiper-wrapper">
          <div class="love__bottom-swiper--slide swiper-slide">
            <div class="love__bottom-swiper--slide__title txt40">
              Мы не используем полуфабрикаты, только качественные продукты, чтобы дарить вам непередаваемое
              удовольствие в каждой порции
            </div>
            <div class="love__bottom-swiper--slide__text txt18 txt18--bold">
              Настоящий шоколад из какао бобов, джем из свежих ягод и фруктов
            </div>
          </div>
          <div class="love__bottom-swiper--slide swiper-slide">
            <div class="love__bottom-swiper--slide__title txt40">
              Мы не используем полуфабрикаты, только качественные продукты, чтобы дарить вам непередаваемое
              удовольствие в каждой порции
            </div>
            <div class="love__bottom-swiper--slide__text txt18 txt18--bold">
              Настоящий шоколад из какао бобов, джем из свежих ягод и фруктов
            </div>
          </div>
        </div>
      </div>
      <div class="love__bottom-text txt30 desktop">нашего мороженого</div>
    </div>
    <div class="love__swiper-navigation mobile">
      <div class="love__swiper-btn love__swiper-btn--prev swiper-button swiper-button-prev">
        <div class="love__swiper-btn-svg-box swiper-button-svg-box">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M9.5 21C9.5 19.5 8 13.5 2 12C8 10.5 9.5 4.5 9.5 3"
              stroke="#D15834"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
            <path
              opacity="0.4"
              d="M19.5 21C19.5 19.5 18 13.5 12 12C18 10.5 19.5 4.5 19.5 3"
              stroke="#D15834"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </svg>
        </div>
      </div>
      <div class="love__swiper-btn love__swiper-btn--next swiper-button swiper-button-next">
        <div class="love__swiper-btn-svg-box swiper-button-svg-box">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M14.5 21C14.5 19.5 16 13.5 22 12C16 10.5 14.5 4.5 14.5 3"
              stroke="#D15834"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
            <path
              opacity="0.4"
              d="M4.5 21C4.5 19.5 6 13.5 12 12C6 10.5 4.5 4.5 4.5 3"
              stroke="#D15834"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
