<section class="main-hero section">
  <div class="container">
    <div class="main-hero__inner">
      <div class="main-hero__bg">
        <img src="./assets/images/main-hero-bg.svg" alt="" />
      </div>
      <p class="main-hero__title tl1">Натуральное мороженое</p>
      <div class="main-hero__swipers-wrapper">
        <div class="main-hero__swiper-btn-box">
          <div class="main-hero__swiper-btn main-hero__swiper-btn--prev swiper-button swiper-button-prev">
            <div class="main-hero__swiper-btn-svg-box swiper-button-svg-box">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M9.5 21C9.5 19.5 8 13.5 2 12C8 10.5 9.5 4.5 9.5 3"
                  stroke="#D15834"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  opacity="0.4"
                  d="M19.5 21C19.5 19.5 18 13.5 12 12C18 10.5 19.5 4.5 19.5 3"
                  stroke="#D15834"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </div>

          <div class="main-hero__swiper-btn main-hero__swiper-btn--next swiper-button swiper-button-next">
            <div class="main-hero__swiper-btn-svg-box swiper-button-svg-box">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M14.5 21C14.5 19.5 16 13.5 22 12C16 10.5 14.5 4.5 14.5 3"
                  stroke="#D15834"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  opacity="0.4"
                  d="M4.5 21C4.5 19.5 6 13.5 12 12C6 10.5 4.5 4.5 4.5 3"
                  stroke="#D15834"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </div>
        </div>

        <div class="main-hero__favorites-swiper-box">
          <div class="main-hero__favorites-swiper swiper">
            <div class="main-hero__favorites-swiper-wrapper swiper-wrapper">
              <div class="main-hero__favorites-swiper-slide swiper-slide">
                <div class="main-hero__favorites-swiper-slide-inner">
                  <button class="main-hero__favorites-swiper-slide-btn active">
                    <div class="main-hero__favorites-swiper-slide-btn-svg-box">
                      <svg
                        width="28"
                        height="28"
                        viewBox="0 0 28 28"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M19.1799 2.61667C17.1732 2.61667 15.3425 3.41869 13.9999 4.71234C12.6574 3.41869 10.8266 2.61667 8.81992 2.61667C4.6813 2.61667 1.33325 5.98573 1.33325 10.1383C1.33325 11.6342 1.57223 13.0201 1.98741 14.3045C2.98104 17.4463 4.99557 19.9234 7.09334 21.7263C9.18526 23.5242 11.417 24.701 12.9497 25.2234C13.2869 25.3413 13.6679 25.3833 13.9999 25.3833C14.332 25.3833 14.7129 25.3413 15.0501 25.2234C16.5829 24.701 18.8146 23.5242 20.9065 21.7263C23.0043 19.9234 25.0188 17.4463 26.0124 14.3045C26.4276 13.0201 26.6666 11.6342 26.6666 10.1383C26.6666 5.98573 23.3185 2.61667 19.1799 2.61667Z"
                          fill="#D15834"
                          stroke="white"
                          stroke-width="2"
                        />
                      </svg>
                    </div>
                  </button>
                  <p class="main-hero__favorites-swiper-text txt18">
                    Настоящее мороженное ручной работы из свежих фермерских продуктов c любовью
                  </p>
                </div>
              </div>
              <div class="main-hero__favorites-swiper-slide swiper-slide">
                <div class="main-hero__favorites-swiper-slide-inner">
                  <button class="main-hero__favorites-swiper-slide-btn">
                    <div class="main-hero__favorites-swiper-slide-btn-svg-box">
                      <svg
                        width="28"
                        height="28"
                        viewBox="0 0 28 28"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M19.1799 2.61667C17.1732 2.61667 15.3425 3.41869 13.9999 4.71234C12.6574 3.41869 10.8266 2.61667 8.81992 2.61667C4.6813 2.61667 1.33325 5.98573 1.33325 10.1383C1.33325 11.6342 1.57223 13.0201 1.98741 14.3045C2.98104 17.4463 4.99557 19.9234 7.09334 21.7263C9.18526 23.5242 11.417 24.701 12.9497 25.2234C13.2869 25.3413 13.6679 25.3833 13.9999 25.3833C14.332 25.3833 14.7129 25.3413 15.0501 25.2234C16.5829 24.701 18.8146 23.5242 20.9065 21.7263C23.0043 19.9234 25.0188 17.4463 26.0124 14.3045C26.4276 13.0201 26.6666 11.6342 26.6666 10.1383C26.6666 5.98573 23.3185 2.61667 19.1799 2.61667Z"
                          fill="#D15834"
                          stroke="white"
                          stroke-width="2"
                        />
                      </svg>
                    </div>
                  </button>
                  <p class="main-hero__favorites-swiper-text txt18">
                    Настоящее мороженное ручной работы из свежих фермерских
                  </p>
                </div>
              </div>
              <div class="main-hero__favorites-swiper-slide swiper-slide">
                <div class="main-hero__favorites-swiper-slide-inner">
                  <button class="main-hero__favorites-swiper-slide-btn">
                    <div class="main-hero__favorites-swiper-slide-btn-svg-box">
                      <svg
                        width="28"
                        height="28"
                        viewBox="0 0 28 28"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M19.1799 2.61667C17.1732 2.61667 15.3425 3.41869 13.9999 4.71234C12.6574 3.41869 10.8266 2.61667 8.81992 2.61667C4.6813 2.61667 1.33325 5.98573 1.33325 10.1383C1.33325 11.6342 1.57223 13.0201 1.98741 14.3045C2.98104 17.4463 4.99557 19.9234 7.09334 21.7263C9.18526 23.5242 11.417 24.701 12.9497 25.2234C13.2869 25.3413 13.6679 25.3833 13.9999 25.3833C14.332 25.3833 14.7129 25.3413 15.0501 25.2234C16.5829 24.701 18.8146 23.5242 20.9065 21.7263C23.0043 19.9234 25.0188 17.4463 26.0124 14.3045C26.4276 13.0201 26.6666 11.6342 26.6666 10.1383C26.6666 5.98573 23.3185 2.61667 19.1799 2.61667Z"
                          fill="#D15834"
                          stroke="white"
                          stroke-width="2"
                        />
                      </svg>
                    </div>
                  </button>
                  <p class="main-hero__favorites-swiper-text txt18">
                    мороженное ручной работы из свежих фермерских продуктов c любовью
                  </p>
                </div>
              </div>
              <div class="main-hero__favorites-swiper-slide swiper-slide">
                <div class="main-hero__favorites-swiper-slide-inner">
                  <button class="main-hero__favorites-swiper-slide-btn">
                    <div class="main-hero__favorites-swiper-slide-btn-svg-box">
                      <svg
                        width="28"
                        height="28"
                        viewBox="0 0 28 28"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M19.1799 2.61667C17.1732 2.61667 15.3425 3.41869 13.9999 4.71234C12.6574 3.41869 10.8266 2.61667 8.81992 2.61667C4.6813 2.61667 1.33325 5.98573 1.33325 10.1383C1.33325 11.6342 1.57223 13.0201 1.98741 14.3045C2.98104 17.4463 4.99557 19.9234 7.09334 21.7263C9.18526 23.5242 11.417 24.701 12.9497 25.2234C13.2869 25.3413 13.6679 25.3833 13.9999 25.3833C14.332 25.3833 14.7129 25.3413 15.0501 25.2234C16.5829 24.701 18.8146 23.5242 20.9065 21.7263C23.0043 19.9234 25.0188 17.4463 26.0124 14.3045C26.4276 13.0201 26.6666 11.6342 26.6666 10.1383C26.6666 5.98573 23.3185 2.61667 19.1799 2.61667Z"
                          fill="#D15834"
                          stroke="white"
                          stroke-width="2"
                        />
                      </svg>
                    </div>
                  </button>
                  <p class="main-hero__favorites-swiper-text txt18">
                    ручной работы из свежих фермерских продуктов c любовью
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="main-hero__link-swiper-box desktop">
          <div class="main-hero__link-swiper swiper">
            <div class="main-hero__link-swiper-wrapper swiper-wrapper">
              <div class="main-hero__link-swiper-slide swiper-slide">
                <a href="#" class="main-hero__link-swiper-link">
                  <div class="main-hero__link-swiper-link-img-box">
                    <img src="./assets/images/star.svg" alt="" />
                  </div>
                  <p class="main-hero__link-swiper-link-text txt36">подробнеe о продукте</p>
                  <div class="main-hero__link-swiper-link-img-box">
                    <img src="./assets/images/star.svg" alt="" />
                  </div>
                </a>
              </div>
              <div class="main-hero__link-swiper-slide swiper-slide">
                <a href="#" class="main-hero__link-swiper-link">
                  <div class="main-hero__link-swiper-link-img-box">
                    <img src="./assets/images/star.svg" alt="" />
                  </div>
                  <p class="main-hero__link-swiper-link-text txt36">подробнеe о продукте</p>
                  <div class="main-hero__link-swiper-link-img-box">
                    <img src="./assets/images/star.svg" alt="" />
                  </div>
                </a>
              </div>
              <div class="main-hero__link-swiper-slide swiper-slide">
                <a href="#" class="main-hero__link-swiper-link">
                  <div class="main-hero__link-swiper-link-img-box">
                    <img src="./assets/images/star.svg" alt="" />
                  </div>
                  <p class="main-hero__link-swiper-link-text txt36">подробнеe о продукте</p>
                  <div class="main-hero__link-swiper-link-img-box">
                    <img src="./assets/images/star.svg" alt="" />
                  </div>
                </a>
              </div>
              <div class="main-hero__link-swiper-slide swiper-slide">
                <a href="#" class="main-hero__link-swiper-link">
                  <div class="main-hero__link-swiper-link-img-box">
                    <img src="./assets/images/star.svg" alt="" />
                  </div>
                  <p class="main-hero__link-swiper-link-text txt36">подробнеe о продукте</p>
                  <div class="main-hero__link-swiper-link-img-box">
                    <img src="./assets/images/star.svg" alt="" />
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="main-hero__center-swiper-box">
          <div class="main-hero__center-swiper swiper">
            <div class="main-hero__center-swiper-wrapper swiper-wrapper">
              <div class="main-hero__center-swiper-slide swiper-slide">
                <div class="main-hero__center-swiper-slide-inner">
                  <div class="main-hero__center-swiper-slide-img-box">
                    <img src="./assets/images/catalog-hero-1.webp" alt="" />
                  </div>
                </div>
              </div>
              <div class="main-hero__center-swiper-slide swiper-slide">
                <div class="main-hero__center-swiper-slide-inner">
                  <div class="main-hero__center-swiper-slide-img-box">
                    <img src="./assets/images/main-hero-2.webp" alt="" />
                  </div>
                </div>
              </div>
              <div class="main-hero__center-swiper-slide swiper-slide">
                <div class="main-hero__center-swiper-slide-inner">
                  <div class="main-hero__center-swiper-slide-img-box">
                    <img src="./assets/images/main-hero-min-2.webp" alt="" />
                  </div>
                </div>
              </div>
              <div class="main-hero__center-swiper-slide swiper-slide">
                <div class="main-hero__center-swiper-slide-inner">
                  <div class="main-hero__center-swiper-slide-img-box">
                    <img src="./assets/images/main-hero-min-3.webp" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="main-hero__title-swiper-wrapper-box">
          <div class="main-hero__stat-swiper-box">
            <div class="main-hero__stat-swiper swiper">
              <div class="main-hero__stat-swiper-wrapper swiper-wrapper">
                <div class="main-hero__stat-swiper-slide swiper-slide">
                  <div class="main-hero__stat-swiper-slide-inner">
                    <p class="main-hero__stat-swiper-slide-text txt18">Новинка</p>
                  </div>
                </div>
                <div class="main-hero__stat-swiper-slide swiper-slide">
                  <div class="main-hero__stat-swiper-slide-inner">
                    <p class="main-hero__stat-swiper-slide-text txt18">Новый вкус</p>
                  </div>
                </div>
                <div class="main-hero__stat-swiper-slide swiper-slide">
                  <div class="main-hero__stat-swiper-slide-inner">
                    <p class="main-hero__stat-swiper-slide-text txt18">Новинка</p>
                  </div>
                </div>
                <div class="main-hero__stat-swiper-slide swiper-slide">
                  <div class="main-hero__stat-swiper-slide-inner">
                    <p class="main-hero__stat-swiper-slide-text txt18"></p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="main-hero__title-swiper-title-wrapper">
            <div class="main-hero__title-swiper-box">
              <div class="main-hero__title-swiper swiper">
                <div class="main-hero__title-swiper-wrapper swiper-wrapper">
                  <div class="main-hero__title-swiper-slide swiper-slide">
                    <div class="main-hero__title-swiper-slide-inner">
                      <p class="main-hero__title-swiper-slide-title txt60">Клубника со сливками</p>
                    </div>
                  </div>
                  <div class="main-hero__title-swiper-slide swiper-slide">
                    <div class="main-hero__title-swiper-slide-inner">
                      <p class="main-hero__title-swiper-slide-title txt60">Вишневый пирог</p>
                    </div>
                  </div>
                  <div class="main-hero__title-swiper-slide swiper-slide">
                    <div class="main-hero__title-swiper-slide-inner">
                      <p class="main-hero__title-swiper-slide-title txt60">Клубника со сливками</p>
                    </div>
                  </div>
                  <div class="main-hero__title-swiper-slide swiper-slide">
                    <div class="main-hero__title-swiper-slide-inner">
                      <p class="main-hero__title-swiper-slide-title txt60">Вишневый пирог</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="main-hero__weight-swiper-box">
              <div class="main-hero__weight-swiper swiper">
                <div class="main-hero__weight-swiper-wrapper swiper-wrapper">
                  <div class="main-hero__weight-swiper-slide swiper-slide">
                    <div class="main-hero__weight-swiper-slide-inner">
                      <p class="main-hero__weight-swiper-slide-text txt30">113 гр</p>
                    </div>
                  </div>
                  <div class="main-hero__weight-swiper-slide swiper-slide">
                    <div class="main-hero__weight-swiper-slide-inner">
                      <p class="main-hero__weight-swiper-slide-text txt30">110 гр</p>
                    </div>
                  </div>
                  <div class="main-hero__weight-swiper-slide swiper-slide">
                    <div class="main-hero__weight-swiper-slide-inner">
                      <p class="main-hero__weight-swiper-slide-text txt30">100 гр</p>
                    </div>
                  </div>
                  <div class="main-hero__weight-swiper-slide swiper-slide">
                    <div class="main-hero__weight-swiper-slide-inner">
                      <p class="main-hero__weight-swiper-slide-text txt30">120 гр</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="main-hero__thumb-swiper-box">
          <div class="main-hero__thumb-swiper swiper">
            <div class="main-hero__thumb-swiper-wrapper swiper-wrapper">
              <div class="main-hero__thumb-swiper-slide swiper-slide">
                <div class="main-hero__thumb-swiper-slide-inner main-hero__thumb-swiper-slide-inner--pink">
                  <div class="main-hero__thumb-swiper-slide-img-box">
                    <img src="./assets/images/main-hero-min-1.webp" alt="" />
                  </div>
                </div>
              </div>
              <div class="main-hero__thumb-swiper-slide swiper-slide">
                <div class="main-hero__thumb-swiper-slide-inner main-hero__thumb-swiper-slide-inner--blue">
                  <div class="main-hero__thumb-swiper-slide-img-box">
                    <img src="./assets/images/main-hero-min-2.webp" alt="" />
                  </div>
                </div>
              </div>
              <div class="main-hero__thumb-swiper-slide swiper-slide">
                <div class="main-hero__thumb-swiper-slide-inner main-hero__thumb-swiper-slide-inner--red">
                  <div class="main-hero__thumb-swiper-slide-img-box">
                    <img src="./assets/images/main-hero-min-3.webp" alt="" />
                  </div>
                </div>
              </div>
              <div class="main-hero__thumb-swiper-slide swiper-slide">
                <div class="main-hero__thumb-swiper-slide-inner main-hero__thumb-swiper-slide-inner--black">
                  <div class="main-hero__thumb-swiper-slide-img-box">
                    <img src="./assets/images/catalog-hero-1.webp" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
