<div id="popup__lk" aria-hidden="true" class="popup popup--right">
  <div class="popup__wrapper">
    <div class="popup__content">
      <div class="popup__body">
        <button data-close type="button" class="popup__body-close-btn">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M7.05078 7.05023L16.9503 16.9497"
              stroke="#D15834"
              stroke-width="2.2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M7.05078 16.9498L16.9503 7.05027"
              stroke="#D15834"
              stroke-width="2.2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
        <div class="popup__body-content-box">
          <div class="popup__body-content-box-title-box">
            <p class="popup__body-content-box-title txt60">Личный кабинет</p>
            <p class="popup__body-content-box-desk txt18">Войдите в систему, чтобы добавить в избранное</p>
          </div>
          <form data-popup-message="#popup__code" data-dev action="" class="popup__body-form-wrapper">
            <div class="popup__body-form-input-wrapper">
              <div class="popup__body-form-input-box">
                <label class="popup__body-label input-group">
                  <span class="form__input-wrapper">
                    <input
                      class="input--tel popup__body-form-input phone-mask txt18"
                      type="text"
                      placeholder="+ 7 (  ___  )  ___  -  __  -  __"
                      data-placeholder="+ 7 (  ___  )  ___  -  __  -  __"
                      data-validate
                      data-required="tel"
                      autocomplete="off"
                      name="form[]"
                    />
                  </span>
                  <span class="error-span">Введите номер телефона</span>
                </label>
              </div>
            </div>

            <button type="submit" class="popup__body-btn">
              <div class="popup__body-btn-img-box">
                <img src="./assets/images/star.svg" alt="" />
              </div>
              <p class="popup__body-btn-text txt36">Войти</p>
              <div class="popup__body-btn-img-box">
                <img src="./assets/images/star.svg" alt="" />
              </div>
            </button>
          </form>
          <a href="#" class="popup__body-content-link">Политика конфиденциальности</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="popup__code" aria-hidden="true" class="popup popup--right">
  <div class="popup__wrapper">
    <div class="popup__content">
      <div class="popup__body">
        <button data-close type="button" class="popup__body-close-btn">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M7.05078 7.05023L16.9503 16.9497"
              stroke="#D15834"
              stroke-width="2.2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M7.05078 16.9498L16.9503 7.05027"
              stroke="#D15834"
              stroke-width="2.2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
        <div class="popup__body-content-box">
          <div class="popup__body-content-box-title-box">
            <p class="popup__body-content-box-title txt60">Введите код</p>
            <p class="popup__body-content-box-desk txt18">Через 30 секунд можно запросить код повторно</p>
          </div>
          <form data-popup-message="#popup__code" data-dev action="" class="popup__body-form-wrapper">
            <div class="popup__body-form-input-wrapper">
              <div class="popup__body-form-input-box">
                <label class="popup__body-label input-group">
                  <span class="form__input-wrapper">
                    <input
                      class="input--code popup__body-form-input code-mask txt18"
                      type="text"
                      placeholder="___ ___"
                      data-placeholder="___ ___"
                      data-validate
                      data-required="code"
                      autocomplete="off"
                      name="form[]"
                    />
                  </span>
                  <span class="error-span">Введите код из СМС</span>
                </label>
              </div>
            </div>
            <div class="popup__body-btn-box">
              <button type="submit" class="popup__body-btn">
                <div class="popup__body-btn-img-box">
                  <img src="./assets/images/star.svg" alt="" />
                </div>
                <p class="popup__body-btn-text txt36">Войти</p>
                <div class="popup__body-btn-img-box">
                  <img src="./assets/images/star.svg" alt="" />
                </div>
              </button>
              <button class="popup__body-btn-code" disabled>Прислать повторно</button>
            </div>
          </form>
          <a href="#" class="popup__body-content-link">Политика конфиденциальности</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="popup__success-application" aria-hidden="true" class="popup popup--big">
  <div class="popup__wrapper">
    <div class="popup__content">
      <div class="popup__body">
        <button data-close type="button" class="popup__body-close-btn">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M7.05078 7.05023L16.9503 16.9497"
              stroke="#D15834"
              stroke-width="2.2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M7.05078 16.9498L16.9503 7.05027"
              stroke="#D15834"
              stroke-width="2.2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
        <div class="popup__body-content-box">
          <div class="popup__bg">
            <img src="./assets/images/modal-bg.svg" alt="" />
          </div>
          <div class="popup__body-content-box-title-wrapper">
            <div class="popup__body-content-box-title-box">
              <p class="popup__body-content-box-title tl2">
                Спасибо <br />
                за заявку!
              </p>
              <div class="popup__body-content-box-title-img-box">
                <img src="./assets/images/modal-img.webp" alt="" />
              </div>
            </div>
            <p class="popup__body-content-box-desk txt18">Совсем скоро мы с вами свяжемся!</p>
          </div>
          <button data-close type="submit" class="popup__body-btn">
            <div class="popup__body-btn-img-box">
              <img src="./assets/images/star.svg" alt="" />
            </div>
            <p class="popup__body-btn-text txt36">вернуться на главную</p>
            <div class="popup__body-btn-img-box">
              <img src="./assets/images/star.svg" alt="" />
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="popup__success-order" aria-hidden="true" class="popup popup--big">
  <div class="popup__wrapper">
    <div class="popup__content">
      <div class="popup__body">
        <button data-close type="button" class="popup__body-close-btn">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M7.05078 7.05023L16.9503 16.9497"
              stroke="#D15834"
              stroke-width="2.2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M7.05078 16.9498L16.9503 7.05027"
              stroke="#D15834"
              stroke-width="2.2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
        <div class="popup__body-content-box">
          <div class="popup__bg">
            <img src="./assets/images/modal-bg.svg" alt="" />
          </div>
          <div class="popup__body-content-box-title-wrapper">
            <p class="popup__body-content-box-desk popup__body-content-box-desk--order txt30">Заказ № 9203661507</p>
            <div class="popup__body-content-box-title-box">
              <p class="popup__body-content-box-title tl2">
                Спасибо, <br />
                что выбрали нас!
              </p>
              <div class="popup__body-content-box-title-img-box">
                <img src="./assets/images/modal-img.webp" alt="" />
              </div>
            </div>

            <p class="popup__body-content-box-desk popup__body-content-box-desk--link txt18">
              всю подробную информацию вы можете отследить в
              <a href="#"> личном кабинете</a>
            </p>
          </div>
          <button data-close type="submit" class="popup__body-btn">
            <div class="popup__body-btn-img-box">
              <img src="./assets/images/star.svg" alt="" />
            </div>
            <p class="popup__body-btn-text txt36">вернуться на главную</p>
            <div class="popup__body-btn-img-box">
              <img src="./assets/images/star.svg" alt="" />
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="popup__feedback" aria-hidden="true" class="popup popup--big popup--big-feedback">
  <div class="popup__wrapper">
    <div class="popup__content">
      <div class="popup__body">
        <button data-close type="button" class="popup__body-close-btn">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M7.05078 7.05023L16.9503 16.9497"
              stroke="#D15834"
              stroke-width="2.2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M7.05078 16.9498L16.9503 7.05027"
              stroke="#D15834"
              stroke-width="2.2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
        <div class="popup__body-content-box">
          <div class="popup__bg">
            <img src="./assets/images/modal-bg.svg" alt="" />
          </div>
          <div class="popup__body-content-box-title-wrapper">
            <p class="popup__body-content-box-title tl2">Обратная связь</p>
          </div>

          <form
            data-popup-message="#popup__success-application"
            data-dev
            action=""
            class="popup__body-form-wrapper"
          >
            <div class="popup__body-form-input-wrapper">
              <div class="popup__body-form-input-box">
                <label class="popup__body-label input-group">
                  <span class="form__input-wrapper">
                    <input
                      class="input--name popup__body-form-input txt18"
                      type="text"
                      placeholder="Ваше имя"
                      data-validate
                      data-required
                      autocomplete="off"
                      name="form[]"
                    />
                  </span>
                  <span class="error-span">Введите Ваше имя</span>
                </label>

                <label class="popup__body-label input-group">
                  <span class="form__input-wrapper">
                    <input
                      class="input--mail popup__body-form-input txt18"
                      type="text"
                      placeholder="E-mail"
                      data-validate
                      data-required="email"
                      autocomplete="off"
                      name="form[]"
                    />
                  </span>
                  <span class="error-span">Введите Ваш e-mail</span>
                </label>

                <label class="popup__body-label input-group">
                  <span class="form__input-wrapper">
                    <input
                      class="input--tel popup__body-form-input phone-mask txt18"
                      type="text"
                      placeholder="+ 7 (  ___  )  ___  -  __  -  __ "
                      data-placeholder="+ 7 (  ___  )  ___  -  __  -  __ "
                      data-validate
                      data-required="tel"
                      autocomplete="off"
                      name="form[]"
                    />
                  </span>
                  <span class="error-span">Введите номер телефона</span>
                </label>

                <label class="popup__body-label input-group">
                  <span class="form__input-wrapper">
                    <input
                      class="input--textarea popup__body-form-input txt18"
                      type="text"
                      placeholder="Сообщение"
                      autocomplete="off"
                      name="form[]"
                    />
                  </span>
                  <span class="error-span">Введите Ваше имя</span>
                </label>
              </div>
            </div>

            <button type="submit" class="popup__body-btn">
              <div class="popup__body-btn-img-box">
                <img src="./assets/images/star.svg" alt="" />
              </div>
              <p class="popup__body-btn-text txt36">Оставить заявку</p>
              <div class="popup__body-btn-img-box">
                <img src="./assets/images/star.svg" alt="" />
              </div>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
