<!-- <section class="production-num section fp-auto-height" id="production-num">
  <div class="container">
    <div class="production-num__inner">
      <ul class="production-num__list">
        <li class="production-num__item">
          <p class="production-num__num tl2">01</p>
          <p class="production-num__text txt40">
            Наше производство мороженого — это искусство, воплощенное в каждой упаковке. Мы гордимся тем, что
            используем только лучшее сырье и ингредиенты, которые тщательно подбираются и одобряются всеми
            членами нашей семьи. Для нас это не просто бизнес, это наше наследие, семейное достояние, которым
            мы заботимся и развиваем с особым вниманием.
          </p>
        </li>
        <li class="production-num__item">
          <p class="production-num__num tl2">02</p>
          <p class="production-num__text txt40">
            Наши рецепты — результат шести лет экспериментов и исследований, проведенных в ведущих европейских
            странах: Италии, Голландии, Франции, Германии, Бельгии. Мы учились у лучших, углублялись в
            традиции и секреты производства мороженого, чтобы придать нашему продукту неповторимый вкус и
            качество.
          </p>
        </li>
        <li class="production-num__item">
          <p class="production-num__num tl2">03</p>
          <p class="production-num__text txt40">
            Для производства мы используем самое лучшее и дорогое профессиональное оборудование, в основе
            которого лежит итальянская и европейская технология. Это позволяет нам достичь идеального
            сочетания текстуры и вкуса в каждом замороженном десерте. Кроме того, мы применяем особые
            технологии приема сырья, его хранения, транспортировки и обслуживания на торговых точках, чтобы
            каждый клиент мог наслаждаться нашим мороженым в его первозданном вкусе и свежести.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section> -->





