.advantages {
  &__container {
    display: flex;
    column-gap: 6rem;
  }

  &__left {
    width: 38.6rem;

    &-title {
      margin-bottom: 4rem;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    width: 114.9rem;
    border-radius: 8rem;
    padding: 7rem 0 5.8rem 6rem;
    background-image: url(../../assets/images/advantages-slides-bacgkround.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0 0;

    &-bottom {
      display: flex;
      align-items: flex-end;
      margin-top: auto;

      .swiper {
        margin: 0;
      }
    }
  }

  &__left,
  &__right {
    min-height: 71.3rem;
  }

  &__titles-swiper {
    max-width: 85.7rem;
    max-height: 38rem;

    .swiper-slide {
      position: relative;
      font-size: 18rem;

      span {
        display: block;
        position: absolute;
        left: 48.3rem;
        top: 2.5rem;
        font-family: 'Mont';
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 2.3rem;
        letter-spacing: 0.02em;
        padding: 0.6rem 1.2rem 0.4rem;
        background-color: $orange;
        border-radius: 10rem;
        transform: rotateZ(4deg);
      }
    }
  }

  &__tags-swiper {
    width: 42.6rem;
    height: 35.4rem;

    &.swiper {
      margin-left: auto;
      margin-right: -14.9rem;
      overflow: visible;

      &.swiper-creative {
        .swiper-slide {
          overflow: visible;
        }
      }
    }

    .swiper-slide {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: visible;

      .advantages__tag {
        position: absolute;
        bottom: 0;
        right: 0;
      }

      &:first-child {
        .advantages__tag {
          &:first-child {
            bottom: 25.46rem;
            right: 13.24rem;
            transform: rotateZ(12deg);
          }
          &:nth-child(2) {
            bottom: 14.99rem;
            right: -0.4rem;
            transform: rotateZ(-10deg);
          }
          &:last-child {
            bottom: 2.4rem;
            right: 4.5rem;
            transform: rotateZ(13deg);
          }
        }
      }

      &:nth-child(2) {
        .advantages__tag {
          &:first-child {
            bottom: 21.4rem;
            right: 6.4rem;
            transform: rotateZ(-18deg);
          }
          &:nth-child(2) {
            bottom: 11.2rem;
            right: 0.2rem;
            transform: rotateZ(6deg);
          }
          &:last-child {
            bottom: 1rem;
            right: 5.9rem;
            transform: rotateZ(-13deg);
          }
        }
      }

      &:nth-child(3) {
        .advantages__tag {
          &:first-child {
            bottom: 20.4rem;
            right: 9.5rem;
            transform: rotateZ(12deg);
          }
          &:nth-child(2) {
            bottom: 10.5rem;
            right: 0rem;
            transform: rotateZ(-1deg);
          }
          &:last-child {
            bottom: 0rem;
            right: 4.1rem;
            transform: rotateZ(16deg);
          }
        }
      }

      &:last-child {
        .advantages__tag {
          &:first-child {
            bottom: 27rem;
            right: 0.7rem;
            transform: rotateZ(-18deg);
          }
          &:nth-child(2) {
            bottom: 11.6rem;
            right: 0.8rem;
            transform: rotateZ(20deg);
          }
          &:last-child {
            bottom: 0rem;
            right: 11.6rem;
            transform: rotateZ(-7deg);
          }
        }
      }
    }
  }

  &__icons-swiper {
    width: 21.5rem;

    &.swiper {
      margin: 0 0 6.8rem 0;
    }

    .swiper-slide {
      display: flex;

      &:first-child {
        .advantages__icons-swiper--icon {
          &:first-child {
            visibility: hidden;
          }
        }
      }
    }

    &--icon {
      &:last-child {
        margin-left: -2.5rem;
        margin-top: 5rem;
      }
    }
  }

  &__text-swiper {
    .swiper-slide {
      display: flex;
      flex-direction: column;
      row-gap: 2rem;
      line-height: 2.3rem;
      font-weight: 600;
    }
  }

  &__tag {
    display: inline-block;
    background-color: $white60;
    border: 0.4rem solid $white;
    padding: 1.5rem 4.6rem 2.2rem;
    border-radius: 12rem;
    color: $orange;
  }

  &__left {
    padding: 5rem;
    background-color: $dark-orange;
    border-radius: 8rem;
  }

  @media (max-width: 48em) {
    &__container {
      flex-direction: column-reverse;
      row-gap: 4rem;
    }

    &__left,
    &__right {
      width: auto;
      min-height: auto;
    }

    &__right {
      padding: 5.6rem 2.8rem 4.2rem;
      border-radius: 12rem;

      &-bottom {
        flex-direction: column;
        row-gap: 34.8rem;
      }
    }

    &__number {
      text-align: center;
      margin-bottom: 2.4rem;
      font-size: 5.2rem;
      line-height: 6rem;
    }

    &__titles-swiper {
      max-width: none;
      max-height: none;
      width: 100%;

      .swiper-slide {
        text-align: center;
        font-size: 16rem;
        line-height: 17.6rem;
        letter-spacing: -0.01em;

        span {
          left: 43.3rem;
          top: 1.5rem;
          font-size: 2.8rem;
          line-height: 3.4rem;
          padding: 0.8rem 1.6rem 0.4rem;
          border-radius: 20rem;
          transform: rotateZ(12deg);
        }
      }
    }

    &__tags-swiper {
      width: 100%;
      height: 45.4rem;

      &.swiper {
        margin: 0;
        overflow: visible;
      }

      .swiper-slide {
        &:first-child {
          .advantages__tag {
            &:first-child {
              right: 20rem;
              bottom: 32.2rem;
              transform: rotateZ(4deg);
            }

            &:nth-child(2) {
              right: -0.8rem;
              bottom: 15rem;
              transform: rotateZ(-6deg);
            }

            &:last-child {
              right: 2.6rem;
              bottom: 0.1rem;
              transform: rotateZ(2.6deg);
            }
          }
        }

        &:nth-child(2) {
          .advantages__tag {
            &:first-child {
              right: 4.4rem;
              bottom: 26.8rem;
              transform: rotateZ(5deg);
            }

            &:nth-child(2) {
              right: 11rem;
              bottom: 11rem;
              transform: rotateZ(-5deg);
            }

            &:last-child {
              right: 2.2rem;
              bottom: 0.8rem;
              transform: rotateZ(-2.3deg);
            }
          }
        }

        &:nth-child(3) {
          .advantages__tag {
            &:first-child {
              right: 16.6rem;
              bottom: 27.2rem;
              transform: rotateZ(5deg);
            }

            &:nth-child(2) {
              right: 0.4rem;
              bottom: 12rem;
              transform: rotateZ(-2.3deg);
            }

            &:last-child {
              right: 7rem;
              bottom: -1.4rem;
              transform: rotateZ(2.4deg);
            }
          }
        }

        &:last-child {
          .advantages__tag {
            &:first-child {
              right: 1.2rem;
              bottom: 28.2rem;
              transform: rotateZ(-2.3deg);
            }

            &:nth-child(2) {
              right: 0rem;
              bottom: 13.8rem;
              transform: rotateZ(3.4deg);
            }

            &:last-child {
              right: 9rem;
              bottom: 0.6rem;
              transform: rotateZ(-2.3deg);
            }
          }
        }
      }
    }

    &__icons-swiper {
      margin-bottom: 8rem;
      width: 23.2rem;

      &--icon {
        &:last-child {
          margin-left: -4.8rem;
          margin-top: 4.2rem;
        }
      }
    }

    &__text-swiper {
      .swiper-slide {
        font-size: 3.2rem;
        line-height: 4rem;
        row-gap: 4rem;
      }
    }

    &__tag {
      padding: 2.8rem 8rem 3.2rem;
      border-radius: 24rem;
      font-size: 5.2rem;
      letter-spacing: 0;
    }

    &__left {
      padding: 7.2rem 6rem;

      &-title {
        font-size: 5.2rem;
        margin-bottom: 4rem;
      }
    }
  }
}
