.footer {
  &--anim {
    // opacity: 0;
  }
  &--stub {
    // .footer__container

    & .footer__container {
      max-width: 192rem;
      width: 100%;
      position: relative;
      @include small-tablet {
        width: 100%;
        padding: 0;
      }
    }

    // .footer__svg-box

    & .footer__stub-svg-box {
      width: 100%;
      height: 31.5rem;
      & svg {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      @include small-tablet {
        margin-top: -20rem;
        height: 60rem;
        & svg {
        }
      }
    }

    & .footer__img-box {
      position: absolute;
      width: 8.2rem;
      height: 8.2rem;
      border-radius: 50%;
      overflow: hidden;
      background-color: $light-blue;
      border: 0.4rem solid $dark-orange;
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      @include small-tablet {
        background-color: $dark-orange;
        border: 0.4rem solid $light-blue;
      }
    }

    & .footer__img-box--left {
      top: -15rem;
      right: 13.2rem;
      @include small-tablet {
        width: 13rem;
        height: 13rem;
        top: auto;
        right: auto;
        bottom: 7rem;
        left: 10rem;
      }
    }

    & .footer__img-box--right {
      top: -21.5rem;
      right: 5rem;
      @include small-tablet {
        width: 10rem;
        height: 10rem;
        top: auto;
        right: auto;
        bottom: 18rem;
        right: 14rem;
      }
    }
  }

  // .footer__container

  &__container {
    max-width: 192rem;
    width: 100%;
    @include small-tablet {
      width: 100%;
      padding: 0;
    }
  }

  // .footer__inner

  &__inner {
    margin: 6rem 0 16rem;
    display: flex;
    flex-direction: column;
    gap: 10rem;
  }

  // .footer__svg-wrapper

  &__svg-wrapper {
    width: 100%;
    @include small-tablet {
      transform: rotate(-15deg);
    }
  }

  // .footer__svg-box

  &__svg-box {
    width: 100%;
    height: 31.7rem;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      @include small-tablet {
        width: 200%;
        height: 120%;
        object-fit: cover;
        margin: 0 0 0 -70rem;
      }
    }
    @include small-tablet {
      height: 37rem;
    }
  }

  // .footer__text

  &__text {
    align-self: center;
  }
}
