<section class="about-work item">
  <div class="container about-work__container">
    <div class="about-work__inner" id="about-work">
      <div class="about-work__img-box">
        <img src="./assets/images/about-work.webp" class="desktop" alt="" />
        <img src="./assets/images/about-work-min.webp" class="mobile" alt="" />
      </div>

      <div class="about-work__title-box">
        <p class="about-work__title tl1">О работе в бивертех</p>

        <a href="#" class="about-work__btn button button-turquoise txt20 txt20_caps"> вакансии </a>
      </div>

      <div class="about-work__desc-box">
        <p class="about-work__desc-text txt20">
          Мы приглашаем стать частью нашей команды увлеченных своим делом новаторов, таких же, как мы
        </p>
        <p class="about-work__desc-text txt20">
          Мы приглашаем стать частью нашей команды увлеченных своим делом новаторов, таких же, как мы
        </p>
      </div>
    </div>
  </div>
</section>
