<div class="about-us-tabs">
  <div class="container">
    <div class="about-us-tabs__inner">
      <a href="#about-company" class="about-us-tabs__tab tab txt18 txt18_caps active nav-link">о компании</a>
      <a href="#machine-development" class="about-us-tabs__tab tab txt18 txt18_caps nav-link">разработка</a>
      <a href="#production" class="about-us-tabs__tab tab txt18 txt18_caps nav-link">производство</a>
      <a href="#about-work" class="about-us-tabs__tab tab txt18 txt18_caps nav-link">карьера</a>
    </div>
  </div>
</div>
