<section class="about">
  <div class="about__container container">
    <a href="./assets/images/mainpage-hero-vid.mp4" data-fancybox="" class="about__video">
      <video src="./assets/images/mainpage-hero-vid.mp4" poster="./assets/images/about-video-preview.webp"></video>
      <div class="about__video-play">
        <svg
          width="80.000000"
          height="80.000000"
          viewBox="0 0 80 80"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <desc>Created with Pixso.</desc>
          <defs>
            <filter
              id="filter_2129_15274_dd"
              x="0.000000"
              y="0.000000"
              width="80.000000"
              height="80.000000"
              filterUnits="userSpaceOnUse"
              color-interpolation-filters="sRGB"
            >
              <feFlood flood-opacity="0" result="BackgroundImageFix" />
              <feGaussianBlur in="BackgroundImage" stdDeviation="16" />
              <feComposite in2="SourceAlpha" operator="in" result="effect_backgroundBlur_1" />
              <feBlend mode="normal" in="SourceGraphic" in2="effect_backgroundBlur_1" result="shape" />
            </filter>
          </defs>
          <g filter="url(#filter_2129_15274_dd)">
            <circle
              id="Ellipse 15"
              cx="40.000000"
              cy="40.000000"
              r="40.000000"
              fill="#161717"
              fill-opacity="0.010000"
            />
          </g>
          <path
            id="Polygon 2"
            d="M52 39L34 28.6079L34 49.3921L52 39Z"
            fill="#161717"
            fill-opacity="1.000000"
            fill-rule="evenodd"
          />
        </svg>
      </div>
    </a>
    <div class="about__right">
      <div class="about__title tl1">о компании</div>
      <div class="about__subtitle tl3">Наш продукт это 130 тысяч часов инженерной мысли</div>
      <div class="about__right-box">
        <div class="about__right-column">
          <div class="about__avatars">
            <img src="./assets/images/about-avatars.webp" alt="" />
          </div>
          <div class="about__name txt26 txt26_caps">Александр Бобрышев</div>
          <div class="about__post txt20">Сооснователь компании Бивертех</div>
          <div class="about__text txt18">
            Цель BEAVERTECH - сделать производство изделий доступным, чтобы помочь исследователям и компаниям
            быстро и экономично создавать продукты. Они легкие в использовании и освоении, клиент получает
            выгоду за счет экономии площади и времени на обслуживание.
          </div>
        </div>
        <div class="about__right-column desktop">
          <div class="about__text txt18">
            BEAVERTECH - российская станкостроительная компания. Основана братьями Александром и Максимом
            Бобрышевыми. Производит компактные фрезерные обрабатывающие центры с уникальной станиной из
            синтетического диабаза для высокопроизводительной обработки широкого спектра пластмасс, металлов и
            сплавов.
          </div>
          <a href="#" class="about__link txt18 txt18_caps">
            <span>о компании</span>

            <span class="about__block-link-svg-wrapper">
              <span class="about__block-link-svg-box">
                <svg
                  width="23"
                  height="22"
                  viewBox="0 0 23 22"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M6.16797 16.5L16.4805 6.1875"
                    stroke="#013341"
                    stroke-width="1.5"
                    stroke-linecap="square"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M8.23047 5.5L17.168 5.5L17.168 14.4375"
                    stroke="#013341"
                    stroke-width="1.5"
                    stroke-linecap="square"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
              <span class="about__block-link-svg-box">
                <svg
                  width="23"
                  height="22"
                  viewBox="0 0 23 22"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M6.16797 16.5L16.4805 6.1875"
                    stroke="#013341"
                    stroke-width="1.5"
                    stroke-linecap="square"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M8.23047 5.5L17.168 5.5L17.168 14.4375"
                    stroke="#013341"
                    stroke-width="1.5"
                    stroke-linecap="square"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
            </span>
          </a>
          <div class="about__image">
            <img src="./assets/images/about-small-img.webp" alt="" />
          </div>
        </div>
      </div>
    </div>
    <div class="about__bottom mobile">
      <div class="about__text txt18">
        BEAVERTECH - российская станкостроительная компания. Основана братьями Александром и Максимом
        Бобрышевыми. Производит компактные фрезерные обрабатывающие центры с уникальной станиной из
        синтетического диабаза для высокопроизводительной обработки широкого спектра пластмасс, металлов и
        сплавов.
      </div>
      <a href="#" class="about__link txt18 txt18_caps">
        <span>о компании</span>
        <span
          ><svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M2 17L17 2"
              stroke="#013341"
              stroke-width="2"
              stroke-linecap="square"
              stroke-linejoin="round"
            />
            <path
              d="M5 1L18 1L18 14"
              stroke="#013341"
              stroke-width="2"
              stroke-linecap="square"
              stroke-linejoin="round"
            />
          </svg>
        </span>
      </a>
    </div>
  </div>
</section>
