<section class="about-machine item" >
  <div class="container about-machine__container">
    <div class="about-machine__inner " id="about-machine">
      <div class="about-machine__img-box">
        <img src="./assets/images/about-machine.webp" alt="" />
      </div>
      <div class="about-machine__left">
        <div class="about-machine__title-box">
          <p class="about-machine__title tl1">ЭРГОНОМИЧНЫЙ И УДОБНЫЙ ДЛЯ ОПЕРАТОРА</p>
          <p class="about-machine__desc txt20">
            Широкая распашная дверь и продуманная высота элементов станка, позволяют проводить обслуживание из
            любого положения. Благодаря панорамному остеклению из триплекса и бестеневой системе освещения
            рабочей зоны, заготовка подсвечена и хорошо видна со всех сторон, отсутствуют тени и блики.
          </p>
        </div>

        <div class="about-machine__info-text-box">
          <p class="about-machine__info-text txt20 txt20_caps">разработано и произведено</p>
          <div class="about-machine__info-text-img-row">
            <div class="about-machine__info-text-img-box">
              <img src="./assets/images/ru.webp" alt="" />
            </div>
            <p class="about-machine__info-text txt20 txt20_caps">в России</p>
          </div>
        </div>
      </div>
      <div class="about-machine__right">
        <p class="about-machine__subtitle txt20 txt20_caps">
          Станок BEAVERMILL спроектирован с учетом удобства для работы оператора
        </p>
        <div class="about-machine__desc-box">
          <p class="about-machine__desc-text txt20">
            Триплекс — многослойное стекло, склеенное между собой специальной полимерной пленкой, оно более чем в два раза толще автомобильного стекла, безопасно и устойчиво к царапинам в отличие от полимерных материалов.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
