<section class="about-us-hero">
    <div class="container about-us-hero__container">
        <div class="about-us-hero__inner">
            <div class="about-us-hero__img-box">
                <img src="./assets/images/about-us.webp" alt="" class="desktop">
                <img src="./assets/images/about-us-min.webp" alt="" class="mobile">
            </div>
            <div class="about-us-hero__title-box">
                <div class="about-us-hero__title-svg-box">
                  <img src="./assets/images/main-hero-logo.svg" alt="" />
                </div>
              </div>
        </div>
    </div>
</section>