<section class="about-company item" >
  <div class="container about-company__container">
    <div class="about-company__inner" id="about-company">
      <div class="about-company__img-box">
        <img src="./assets/images/about-company.webp" class="desktop" alt="" />
        <img src="./assets/images/about-company-min.webp" class="mobile" alt="" />
      </div>

      <div class="about-company__title-box">
        <p class="about-company__title tl1">О компании</p>
        <p class="about-company__desc txt20">
          BEAVERTECH - российская станкостроительная компания. Основана братьями Александром и Максимом
          Бобрышевыми. Производит компактные фрезерные обрабатывающие центры с уникальной станиной из
          синтетического диабаза для высокопроизводительной обработки широкого спектра пластмасс, металлов и
          сплавов.
        </p>

        <a href="#" class="about-company__btn button button-turquoise txt20 txt20_caps"> подробнее о нас </a>
      </div>

      <div class="about-company__desc-box">
        <p class="about-company__desc-text txt26 txt26_caps">
          Цель BEAVERTECH - сделать производство изделий доступным, чтобы помочь исследователям и компаниям
          быстро и экономично создавать продукты.
        </p>
      </div>
    </div>
  </div>
</section>
