<section class="additional-features-min item">
  <div class="container additional-features-min__container">
    <div class="additional-features-min__inner">
      <p class="additional-features-min__title tl1">Дополнительные возможности</p>
      <div class="additional-features-min__swiper swiper">
        <div class="additional-features-min__swiper-wrapper swiper-wrapper">
          <div class="additional-features-min__swiper-slide swiper-slide">
            <div class="additional-features-min__swiper-slide-inner">
              <a href="./assets/images/additional-features.webp" data-fancybox="additional-features-min" class="additional-features-min__swiper-slide-img-box">
                <img src="./assets/images/additional-features.webp" class="" alt="" />
              </a>

              <div class="additional-features-min__swiper-slide-desc-box">
                <p class="additional-features-min__swiper-slide-title txt18 txt18_caps">СИСТЕМА ПРИВЯЗКИ ЗАГОТОВКИ</p>
                <p class="additional-features-min__swiper-slide-desc txt16">
                  Беспроводной щуп производит привязку заготовки с точностью 1 мкм во всех направлениях. Наработка на отказ – более 1 миллиона циклов. Время работы от батареи – до 2-х лет.
                </p>
              </div>
            </div>
          </div>
          <div class="additional-features-min__swiper-slide swiper-slide">
            <div class="additional-features-min__swiper-slide-inner">
              <a href="./assets/images/mainpage-hero-vid.mp4" data-fancybox="additional-features-min" class="additional-features-min__swiper-slide-img-box">
                <video src="./assets/images/mainpage-hero-vid.mp4"></video>
                <div class="additional-features-min__video-play">
                    <svg width="80.000000" height="80.000000" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <desc>Created with Pixso.</desc>
                        <defs>
                            <filter id="filter_2129_15274_dd" x="0.000000" y="0.000000" width="80.000000" height="80.000000" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
                                <feGaussianBlur in="BackgroundImage" stdDeviation="16"></feGaussianBlur>
                                <feComposite in2="SourceAlpha" operator="in" result="effect_backgroundBlur_1"></feComposite>
                                <feBlend mode="normal" in="SourceGraphic" in2="effect_backgroundBlur_1" result="shape"></feBlend>
                            </filter>
                        </defs>
                        <g filter="url(#filter_2129_15274_dd)">
                            <circle id="Ellipse 15" cx="40.000000" cy="40.000000" r="40.000000" fill="#161717" fill-opacity="0.010000"></circle>
                        </g>
                        <path id="Polygon 2" d="M52 39L34 28.6079L34 49.3921L52 39Z" fill="#161717" fill-opacity="1.000000" fill-rule="evenodd"></path>
                    </svg>
                </div>
            </a>

              <div class="additional-features-min__swiper-slide-desc-box">
                <p class="additional-features-min__swiper-slide-title txt18 txt18_caps">СИСТЕМА ИЗМЕРЕНИЯ инструмента</p>
                <p class="additional-features-min__swiper-slide-desc txt16">
                  Датчик позволяет измерять длину и диаметр инструмента, а также определять сломанный инструмент. Точность измерения – 1 мкм.
                </p>
              </div>
            </div>
          </div>


          <div class="additional-features-min__swiper-slide swiper-slide">
            <div class="additional-features-min__swiper-slide-inner">
              <a href="./assets/images/additional-features.webp" data-fancybox="additional-features-min" class="additional-features-min__swiper-slide-img-box">
                <img src="./assets/images/additional-features.webp" class="" alt="" />
              </a>

              <div class="additional-features-min__swiper-slide-desc-box">
                <p class="additional-features-min__swiper-slide-title txt18 txt18_caps">ДОПОЛНИТЕЛЬНЫЕ ПОЛКИ </p>
                <p class="additional-features-min__swiper-slide-desc txt16">
                  Позволяют компактно хранить оправки и разбирать инструмент на рабочем месте.
                </p>
              </div>
            </div>
          </div>

          <div class="additional-features-min__swiper-slide swiper-slide">
            <div class="additional-features-min__swiper-slide-inner">
              <a href="./assets/images/additional-features.webp" data-fancybox="additional-features-min " class="additional-features-min__swiper-slide-img-box">
                <img src="./assets/images/additional-features.webp" class="" alt="" />
              </a>

              <div class="additional-features-min__swiper-slide-desc-box">
                <p class="additional-features-min__swiper-slide-title txt18 txt18_caps"> Сепаратор масла</p>
                <p class="additional-features-min__swiper-slide-desc txt16">
                  Система сепарации масла отделяет смазывающую жидкость от СОЖ. Увеличивает срок службы СОЖ. Опция рекомендована тем производствам, в которых ожидаются простои в работе более одной календарной недели.
                </p>
              </div>
            </div>
          </div>

          <div class="additional-features-min__swiper-slide swiper-slide">
            <div class="additional-features-min__swiper-slide-inner">
              <a href="./assets/images/mainpage-hero-vid.mp4" data-fancybox="additional-features-min" class="additional-features-min__swiper-slide-img-box">
                <video src="./assets/images/mainpage-hero-vid.mp4"></video>
                <div class="additional-features-min__video-play">
                    <svg width="80.000000" height="80.000000" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <desc>Created with Pixso.</desc>
                        <defs>
                            <filter id="filter_2129_15274_dd" x="0.000000" y="0.000000" width="80.000000" height="80.000000" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
                                <feGaussianBlur in="BackgroundImage" stdDeviation="16"></feGaussianBlur>
                                <feComposite in2="SourceAlpha" operator="in" result="effect_backgroundBlur_1"></feComposite>
                                <feBlend mode="normal" in="SourceGraphic" in2="effect_backgroundBlur_1" result="shape"></feBlend>
                            </filter>
                        </defs>
                        <g filter="url(#filter_2129_15274_dd)">
                            <circle id="Ellipse 15" cx="40.000000" cy="40.000000" r="40.000000" fill="#161717" fill-opacity="0.010000"></circle>
                        </g>
                        <path id="Polygon 2" d="M52 39L34 28.6079L34 49.3921L52 39Z" fill="#161717" fill-opacity="1.000000" fill-rule="evenodd"></path>
                    </svg>
                </div>
            </a>

              <div class="additional-features-min__swiper-slide-desc-box">
                <p class="additional-features-min__swiper-slide-title txt18 txt18_caps">Прецизионный пакет </p>
                <p class="additional-features-min__swiper-slide-desc txt16">
                  Пакет обеспечивает повышенную точность обработки даже в нетермостабильных помещениях, содержит систему интеллектуальной термокомпенсации, шабрение посадочных мест и более тонкую программную настройку.
                </p>
              </div>
            </div>
          </div>
          <div class="additional-features-min__swiper-slide swiper-slide">
            <div class="additional-features-min__swiper-slide-inner">
              <a href="./assets/images/additional-features.webp" data-fancybox="additional-features-min" class="additional-features-min__swiper-slide-img-box">
                <img src="./assets/images/additional-features.webp" class="" alt="" />
              </a>

              <div class="additional-features-min__swiper-slide-desc-box">
                <p class="additional-features-min__swiper-slide-title txt18 txt18_caps">Ультрапрецизионный пакет</p>
                <p class="additional-features-min__swiper-slide-desc txt16">
                  BEAVERMILL комплектуется оптическими линейными энкодерами, обеспечивающими замкнутую обратную связь по положению, что гарантирует повторяемость позиционирования менее Х мкм.
                  Опция особенно полезна производствам без термостабилизации цехов с повышенными точностными требованиями к деталям.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="additional-features-min__swiper-btn-box">
        <div
          class="additional-features-min__swiper-btn additional-features-min__swiper-btn--prev swiper-button swiper-button-prev"
        >
          <svg width="62" height="62" viewBox="0 0 62 62" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M61 33.5V53C61 57.4183 57.4183 61 53 61L9 61C4.58172 61 1 57.4183 1 53L1 9C1 4.58172 4.58172 1 9 1L53 1C57.4183 1 61 4.58172 61 9V28"
              stroke="#012028"
              stroke-width="1.5"
            />
            <path
              d="M59 31L17 31"
              stroke="#012028"
              stroke-width="1.5"
              stroke-linecap="square"
              stroke-linejoin="round"
            />
            <path
              d="M32 47L16 31.7395M16.0133 30.3198L31.9281 15"
              stroke="#012028"
              stroke-width="1.5"
              stroke-linecap="square"
              stroke-linejoin="round"
            />
          </svg>
        </div>
        <div
          class="additional-features-min__swiper-btn additional-features-min__swiper-btn--next swiper-button swiper-button-next"
        >
          <svg width="62" height="62" viewBox="0 0 62 62" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M1 28.5V9C1 4.58172 4.58172 1 9 1H53C57.4183 1 61 4.58172 61 9V53C61 57.4183 57.4183 61 53 61H9C4.58172 61 1 57.4183 1 53V34"
              stroke="#012028"
              stroke-width="1.5"
            />
            <path
              d="M45 31L3 31"
              stroke="#012028"
              stroke-width="1.5"
              stroke-linecap="square"
              stroke-linejoin="round"
            />
            <path
              d="M30 15L46 30.2605M45.9867 31.6802L30.0719 47"
              stroke="#012028"
              stroke-width="1.5"
              stroke-linecap="square"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
