<section class="benchs" id="benchs">
  <div class="container">
    <div class="benchs__desk switcher">
      <div class="switcher__container">
        <div class="switcher__content active">
          <div class="benchs__desk-container">
            <div class="benchs__desk-left">
              <div class="benchs__desk-title tl1">
                beavermill <br />
                3 оси
              </div>
              <div class="benchs__desk-description txt16">
                Станок BEAVERMILL разработан для большинства <br />
                типовых операций по металлообработке и может быть использован в аэрокосмической,
                автомобильной, электронной, медицинской <br />
                и других отраслях промышленности.
              </div>
              <a href="" class="benchs__desk-link button button-border txt20 txt20_caps">подробнее</a>
              <div class="benchs__desk-imgs">
                <div class="benchs__desk-img active">
                  <img src="./assets/images/bench2.webp" alt="" />
                </div>
                <div class="benchs__desk-img">
                  <img src="./assets/images/bench1.webp" alt="" />
                </div>
                <div class="benchs__desk-img" style="grid-column: 1">
                  <img src="./assets/images/bench2.webp" alt="" />
                </div>
                <div class="benchs__desk-img">
                  <img src="./assets/images/bench2.webp" alt="" />
                </div>
                <div class="benchs__desk-img">
                  <img src="./assets/images/bench2.webp" alt="" />
                </div>
              </div>
            </div>
            <div class="benchs__desk-center">
              <div class="benchs__desk-big active">
                <img src="./assets/images/bench2.webp" alt="" />
                <div class="benchs__desk-point" style="top: 41rem; left: 8rem">
                  <div class="benchs__desk-point--circle"></div>
                  <div class="benchs__desk-point--text txt16">Система смыва стружки</div>
                </div>
                <div class="benchs__desk-point" style="top: 14.5rem; left: 51rem">
                  <div class="benchs__desk-point--circle"></div>
                  <div class="benchs__desk-point--text txt16">Система смыва стружки</div>
                </div>
                <div class="benchs__desk-point" style="top: 44.5rem; left: 52.5rem">
                  <div class="benchs__desk-point--circle"></div>
                  <div class="benchs__desk-point--text txt16">Система смыва стружки</div>
                </div>
                <div class="benchs__desk-point" style="top: 54.5rem; left: 28.5rem">
                  <div class="benchs__desk-point--circle"></div>
                  <div class="benchs__desk-point--text txt16">Система смыва стружки</div>
                </div>
              </div>
              <div class="benchs__desk-big">
                <img src="./assets/images/bench1.webp" alt="" />
              </div>
              <div class="benchs__desk-big">
                <img src="./assets/images/bench2.webp" alt="" />
              </div>
              <div class="benchs__desk-big">
                <img src="./assets/images/bench2.webp" alt="" />
              </div>
              <div class="benchs__desk-big">
                <img src="./assets/images/bench2.webp" alt="" />
              </div>
            </div>
            <div class="benchs__desk-right">
              <div class="benchs__desk-info txt16">
                <div class="benchs__desk-info--container">
                  <div class="benchs__desk-info--title">Габариты станка</div>
                  <div class="benchs__desk-info--text">130/1855/1950 мм*</div>
                </div>
                <div class="benchs__desk-info--container">
                  <div class="benchs__desk-info--title">Рабочая зона x/y/z</div>
                  <div class="benchs__desk-info--text">500/350/400 мм</div>
                </div>
                <div class="benchs__desk-info--container">
                  <div class="benchs__desk-info--title">Рабочий стол</div>
                  <div class="benchs__desk-info--text">730/300 мм</div>
                </div>
                <div class="benchs__desk-info--container">
                  <div class="benchs__desk-info--title">Вес</div>
                  <div class="benchs__desk-info--text">2000 кг</div>
                </div>
                <div class="benchs__desk-info--container">
                  <div class="benchs__desk-info--title">Рабочая подача</div>
                  <div class="benchs__desk-info--text">25 м/мин</div>
                </div>
                <div class="benchs__desk-info--note">*Без полок и лампы индексации</div>
              </div>
              <div class="benchs__desk-creat">
                <div class="benchs__desk-creat--text txt18">
                  Создайте свой собственный станок <br />
                  при помощи конфигуратора
                </div>
                <a href="" class="benchs__desk-creat--button button button-turquoise txt20 txt20_caps"
                  >сконфигурировать</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="switcher__content">
          <div class="benchs__desk-container">
            <div class="benchs__desk-left">
              <div class="benchs__desk-title tl1">
                beavermill <br />
                3 оси
              </div>
              <div class="benchs__desk-description txt16">
                Станок BEAVERMILL разработан для большинства <br />
                типовых операций по металлообработке и может быть использован в аэрокосмической,
                автомобильной, электронной, медицинской <br />
                и других отраслях промышленности.
              </div>
              <a href="" class="benchs__desk-link button button-border txt20 txt20_caps">подробнее</a>
              <div class="benchs__desk-imgs">
                <div class="benchs__desk-img active">
                  <img src="./assets/images/bench2.webp" alt="" />
                </div>
                <div class="benchs__desk-img">
                  <img src="./assets/images/bench1.webp" alt="" />
                </div>
                <div class="benchs__desk-img" style="grid-column: 1">
                  <img src="./assets/images/bench2.webp" alt="" />
                </div>
                <div class="benchs__desk-img">
                  <img src="./assets/images/bench2.webp" alt="" />
                </div>
              </div>
            </div>
            <div class="benchs__desk-center">
              <div class="benchs__desk-big active">
                <img src="./assets/images/bench2.webp" alt="" />
              </div>
              <div class="benchs__desk-big">
                <img src="./assets/images/bench1.webp" alt="" />
              </div>
              <div class="benchs__desk-big">
                <img src="./assets/images/bench2.webp" alt="" />
              </div>
              <div class="benchs__desk-big">
                <img src="./assets/images/bench2.webp" alt="" />
              </div>
            </div>
            <div class="benchs__desk-right">
              <div class="benchs__desk-info txt16">
                <div class="benchs__desk-info--container">
                  <div class="benchs__desk-info--title">Габариты станка</div>
                  <div class="benchs__desk-info--text">130/1855/1950 мм*</div>
                </div>
                <div class="benchs__desk-info--container">
                  <div class="benchs__desk-info--title">Рабочая зона x/y/z</div>
                  <div class="benchs__desk-info--text">500/350/400 мм</div>
                </div>
                <div class="benchs__desk-info--container">
                  <div class="benchs__desk-info--title">Рабочий стол</div>
                  <div class="benchs__desk-info--text">730/300 мм</div>
                </div>
                <div class="benchs__desk-info--container">
                  <div class="benchs__desk-info--title">Вес</div>
                  <div class="benchs__desk-info--text">2000 кг</div>
                </div>
                <div class="benchs__desk-info--container">
                  <div class="benchs__desk-info--title">Рабочая подача</div>
                  <div class="benchs__desk-info--text">25 м/мин</div>
                </div>
                <div class="benchs__desk-info--note">*Без полок и лампы индексации</div>
              </div>
              <div class="benchs__desk-creat">
                <div class="benchs__desk-creat--text txt18">
                  Создайте свой собственный станок <br />
                  при помощи конфигуратора
                </div>
                <a href="" class="benchs__desk-creat--button button button-turquoise txt20 txt20_caps"
                  >сконфигурировать</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="switcher__content">
          <div class="benchs__desk-container">
            <div class="benchs__desk-left">
              <div class="benchs__desk-title tl1">
                beavermill <br />
                3 оси
              </div>
              <div class="benchs__desk-description txt16">
                Станок BEAVERMILL разработан для большинства <br />
                типовых операций по металлообработке и может быть использован в аэрокосмической,
                автомобильной, электронной, медицинской <br />
                и других отраслях промышленности.
              </div>
              <a href="" class="benchs__desk-link button button-border txt20 txt20_caps">подробнее</a>
              <div class="benchs__desk-imgs">
                <div class="benchs__desk-img active">
                  <img src="./assets/images/bench2.webp" alt="" />
                </div>
                <div class="benchs__desk-img" style="grid-column: 1">
                  <img src="./assets/images/bench1.webp" alt="" />
                </div>
                <div class="benchs__desk-img">
                  <img src="./assets/images/bench2.webp" alt="" />
                </div>
              </div>
            </div>
            <div class="benchs__desk-center">
              <div class="benchs__desk-big active">
                <img src="./assets/images/bench2.webp" alt="" />
              </div>
              <div class="benchs__desk-big">
                <img src="./assets/images/bench1.webp" alt="" />
              </div>
              <div class="benchs__desk-big">
                <img src="./assets/images/bench2.webp" alt="" />
              </div>
            </div>
            <div class="benchs__desk-right">
              <div class="benchs__desk-info txt16">
                <div class="benchs__desk-info--container">
                  <div class="benchs__desk-info--title">Габариты станка</div>
                  <div class="benchs__desk-info--text">130/1855/1950 мм*</div>
                </div>
                <div class="benchs__desk-info--container">
                  <div class="benchs__desk-info--title">Рабочая зона x/y/z</div>
                  <div class="benchs__desk-info--text">500/350/400 мм</div>
                </div>
                <div class="benchs__desk-info--container">
                  <div class="benchs__desk-info--title">Рабочий стол</div>
                  <div class="benchs__desk-info--text">730/300 мм</div>
                </div>
                <div class="benchs__desk-info--container">
                  <div class="benchs__desk-info--title">Вес</div>
                  <div class="benchs__desk-info--text">2000 кг</div>
                </div>
                <div class="benchs__desk-info--container">
                  <div class="benchs__desk-info--title">Рабочая подача</div>
                  <div class="benchs__desk-info--text">25 м/мин</div>
                </div>
                <div class="benchs__desk-info--note">*Без полок и лампы индексации</div>
              </div>
              <div class="benchs__desk-creat">
                <div class="benchs__desk-creat--text txt18">
                  Создайте свой собственный станок <br />
                  при помощи конфигуратора
                </div>
                <a href="" class="benchs__desk-creat--button button button-turquoise txt20 txt20_caps"
                  >сконфигурировать</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="switcher__content">
          <div class="benchs__desk-container">
            <div class="benchs__desk-left">
              <div class="benchs__desk-title tl1">
                beavermill <br />
                3 оси
              </div>
              <div class="benchs__desk-description txt16">
                Станок BEAVERMILL разработан для большинства <br />
                типовых операций по металлообработке и может быть использован в аэрокосмической,
                автомобильной, электронной, медицинской <br />
                и других отраслях промышленности.
              </div>
              <a href="" class="benchs__desk-link button button-border txt20 txt20_caps">подробнее</a>
              <div class="benchs__desk-imgs">
                <div class="benchs__desk-img active">
                  <img src="./assets/images/bench2.webp" alt="" />
                </div>
                <div class="benchs__desk-img">
                  <img src="./assets/images/bench1.webp" alt="" />
                </div>
                <div class="benchs__desk-img" style="grid-column: 1">
                  <img src="./assets/images/bench2.webp" alt="" />
                </div>
                <div class="benchs__desk-img">
                  <img src="./assets/images/bench2.webp" alt="" />
                </div>
                <div class="benchs__desk-img">
                  <img src="./assets/images/bench2.webp" alt="" />
                </div>
              </div>
            </div>
            <div class="benchs__desk-center">
              <div class="benchs__desk-big active">
                <img src="./assets/images/bench2.webp" alt="" />
              </div>
              <div class="benchs__desk-big">
                <img src="./assets/images/bench1.webp" alt="" />
              </div>
              <div class="benchs__desk-big">
                <img src="./assets/images/bench2.webp" alt="" />
              </div>
              <div class="benchs__desk-big">
                <img src="./assets/images/bench2.webp" alt="" />
              </div>
              <div class="benchs__desk-big">
                <img src="./assets/images/bench2.webp" alt="" />
              </div>
            </div>
            <div class="benchs__desk-right">
              <div class="benchs__desk-info txt16">
                <div class="benchs__desk-info--container">
                  <div class="benchs__desk-info--title">Габариты станка</div>
                  <div class="benchs__desk-info--text">130/1855/1950 мм*</div>
                </div>
                <div class="benchs__desk-info--container">
                  <div class="benchs__desk-info--title">Рабочая зона x/y/z</div>
                  <div class="benchs__desk-info--text">500/350/400 мм</div>
                </div>
                <div class="benchs__desk-info--container">
                  <div class="benchs__desk-info--title">Рабочий стол</div>
                  <div class="benchs__desk-info--text">730/300 мм</div>
                </div>
                <div class="benchs__desk-info--container">
                  <div class="benchs__desk-info--title">Вес</div>
                  <div class="benchs__desk-info--text">2000 кг</div>
                </div>
                <div class="benchs__desk-info--container">
                  <div class="benchs__desk-info--title">Рабочая подача</div>
                  <div class="benchs__desk-info--text">25 м/мин</div>
                </div>
                <div class="benchs__desk-info--note">*Без полок и лампы индексации</div>
              </div>
              <div class="benchs__desk-creat">
                <div class="benchs__desk-creat--text txt18">
                  Создайте свой собственный станок <br />
                  при помощи конфигуратора
                </div>
                <a href="" class="benchs__desk-creat--button button button-turquoise txt20 txt20_caps"
                  >сконфигурировать</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="switcher__content">
          <div class="benchs__desk-container">
            <div class="benchs__desk-left">
              <div class="benchs__desk-title tl1">
                beavermill <br />
                3 оси
              </div>
              <div class="benchs__desk-description txt16">
                Станок BEAVERMILL разработан для большинства <br />
                типовых операций по металлообработке и может быть использован в аэрокосмической,
                автомобильной, электронной, медицинской <br />
                и других отраслях промышленности.
              </div>
              <a href="" class="benchs__desk-link button button-border txt20 txt20_caps">подробнее</a>
              <div class="benchs__desk-imgs">
                <div class="benchs__desk-img active">
                  <img src="./assets/images/bench2.webp" alt="" />
                </div>
                <div class="benchs__desk-img">
                  <img src="./assets/images/bench1.webp" alt="" />
                </div>
                <div class="benchs__desk-img" style="grid-column: 1">
                  <img src="./assets/images/bench2.webp" alt="" />
                </div>
                <div class="benchs__desk-img">
                  <img src="./assets/images/bench2.webp" alt="" />
                </div>
              </div>
            </div>
            <div class="benchs__desk-center">
              <div class="benchs__desk-big active">
                <img src="./assets/images/bench2.webp" alt="" />
              </div>
              <div class="benchs__desk-big">
                <img src="./assets/images/bench1.webp" alt="" />
              </div>
              <div class="benchs__desk-big">
                <img src="./assets/images/bench2.webp" alt="" />
              </div>
              <div class="benchs__desk-big">
                <img src="./assets/images/bench2.webp" alt="" />
              </div>
            </div>
            <div class="benchs__desk-right">
              <div class="benchs__desk-info txt16">
                <div class="benchs__desk-info--container">
                  <div class="benchs__desk-info--title">Габариты станка</div>
                  <div class="benchs__desk-info--text">130/1855/1950 мм*</div>
                </div>
                <div class="benchs__desk-info--container">
                  <div class="benchs__desk-info--title">Рабочая зона x/y/z</div>
                  <div class="benchs__desk-info--text">500/350/400 мм</div>
                </div>
                <div class="benchs__desk-info--container">
                  <div class="benchs__desk-info--title">Рабочий стол</div>
                  <div class="benchs__desk-info--text">730/300 мм</div>
                </div>
                <div class="benchs__desk-info--container">
                  <div class="benchs__desk-info--title">Вес</div>
                  <div class="benchs__desk-info--text">2000 кг</div>
                </div>
                <div class="benchs__desk-info--container">
                  <div class="benchs__desk-info--title">Рабочая подача</div>
                  <div class="benchs__desk-info--text">25 м/мин</div>
                </div>
                <div class="benchs__desk-info--note">*Без полок и лампы индексации</div>
              </div>
              <div class="benchs__desk-creat">
                <div class="benchs__desk-creat--text txt18">
                  Создайте свой собственный станок <br />
                  при помощи конфигуратора
                </div>
                <a href="" class="benchs__desk-creat--button button button-turquoise txt20 txt20_caps"
                  >сконфигурировать</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="switcher__content">
          <div class="benchs__desk-container">
            <div class="benchs__desk-left">
              <div class="benchs__desk-title tl1">
                beavermill <br />
                3 оси
              </div>
              <div class="benchs__desk-description txt16">
                Станок BEAVERMILL разработан для большинства <br />
                типовых операций по металлообработке и может быть использован в аэрокосмической,
                автомобильной, электронной, медицинской <br />
                и других отраслях промышленности.
              </div>
              <a href="" class="benchs__desk-link button button-border txt20 txt20_caps">подробнее</a>
              <div class="benchs__desk-imgs">
                <div class="benchs__desk-img active">
                  <img src="./assets/images/bench2.webp" alt="" />
                </div>
                <div class="benchs__desk-img" style="grid-column: 1">
                  <img src="./assets/images/bench1.webp" alt="" />
                </div>
                <div class="benchs__desk-img">
                  <img src="./assets/images/bench2.webp" alt="" />
                </div>
              </div>
            </div>
            <div class="benchs__desk-center">
              <div class="benchs__desk-big active">
                <img src="./assets/images/bench2.webp" alt="" />
              </div>
              <div class="benchs__desk-big">
                <img src="./assets/images/bench1.webp" alt="" />
              </div>
              <div class="benchs__desk-big">
                <img src="./assets/images/bench2.webp" alt="" />
              </div>
            </div>
            <div class="benchs__desk-right">
              <div class="benchs__desk-info txt16">
                <div class="benchs__desk-info--container">
                  <div class="benchs__desk-info--title">Габариты станка</div>
                  <div class="benchs__desk-info--text">130/1855/1950 мм*</div>
                </div>
                <div class="benchs__desk-info--container">
                  <div class="benchs__desk-info--title">Рабочая зона x/y/z</div>
                  <div class="benchs__desk-info--text">500/350/400 мм</div>
                </div>
                <div class="benchs__desk-info--container">
                  <div class="benchs__desk-info--title">Рабочий стол</div>
                  <div class="benchs__desk-info--text">730/300 мм</div>
                </div>
                <div class="benchs__desk-info--container">
                  <div class="benchs__desk-info--title">Вес</div>
                  <div class="benchs__desk-info--text">2000 кг</div>
                </div>
                <div class="benchs__desk-info--container">
                  <div class="benchs__desk-info--title">Рабочая подача</div>
                  <div class="benchs__desk-info--text">25 м/мин</div>
                </div>
                <div class="benchs__desk-info--note">*Без полок и лампы индексации</div>
              </div>
              <div class="benchs__desk-creat">
                <div class="benchs__desk-creat--text txt18">
                  Создайте свой собственный станок <br />
                  при помощи конфигуратора
                </div>
                <a href="" class="benchs__desk-creat--button button button-turquoise txt20 txt20_caps"
                  >сконфигурировать</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="benchs__btns swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide benchs__btn switcher__btn active">
            <span class="txt18 txt18_caps benchs__btn-text">Beavermill 3 и 4 оси</span>
            <span class="benchs__btn-bottom-text txt16">Пятиосевой фрезерный станок с ЧПУ</span>
          </div>
          <div class="swiper-slide benchs__btn switcher__btn ">
            <span class="txt18 txt18_caps benchs__btn-text">Beavermill 5 осей</span>
            <span class="benchs__btn-bottom-text txt16">Пятиосевой фрезерный станок с ЧПУ</span>
          </div>
          <div class="swiper-slide benchs__btn switcher__btn ">
            <span class="txt18 txt18_caps benchs__btn-text">Beavermill mini</span>
            <span class="benchs__btn-bottom-text txt16"
              >Пятиосевой фрезерный станок с ЧПУ фрезерный станок с ЧПУ</span
            >
          </div>
          <div class="swiper-slide benchs__btn switcher__btn ">
            <span class="txt18 txt18_caps benchs__btn-text">Beavermill plus</span>
            <span class="benchs__btn-bottom-text txt16">Пятиосевой фрезерный станок с ЧПУ</span>
          </div>
          <div class="swiper-slide benchs__btn switcher__btn ">
            <span class="txt18 txt18_caps benchs__btn-text">BEAVERMILL PLUS (5 осей)</span>
            <span class="benchs__btn-bottom-text txt16">Пятиосевой фрезерный станок с ЧПУ</span>
          </div>
          <div class="swiper-slide benchs__btn switcher__btn ">
            <span class="txt18 txt18_caps benchs__btn-text">Beavermill 3 и 4 оси</span>
            <span class="benchs__btn-bottom-text txt16">Пятиосевой фрезерный станок с ЧПУ</span>
          </div>
        </div>
      </div>
      <div class="benchs__swiper--left">
        <svg width="61" height="60" viewBox="0 0 61 60" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle
            cx="30.0117"
            cy="30"
            r="29.25"
            transform="rotate(90 30.0117 30)"
            fill="#F3F3F3"
            stroke="#676767"
            stroke-width="1.5"
          />
          <rect width="32" height="32" transform="matrix(0 1 -1 0 46.0195 14.001)" fill="#F3F3F3" />
          <path
            d="M41.3332 31.3146L42.3332 31.3146L42.3332 29.3146L41.3332 29.3146L41.3332 31.3146ZM20.12 29.3146C19.5677 29.3146 19.12 29.7623 19.12 30.3146C19.12 30.8669 19.5677 31.3146 20.12 31.3146L20.12 29.3146ZM41.3332 29.3146H20.12L20.12 31.3146H41.3332L41.3332 29.3146Z"
            fill="#676767"
          />
          <path
            d="M27.8984 39.5071L18.7061 30.3147L27.8984 21.1223"
            stroke="#676767"
            stroke-width="2"
            stroke-linecap="square"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <div class="benchs__swiper--right">
        <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle
            cx="30"
            cy="30"
            r="29.25"
            transform="rotate(-90 30 30)"
            fill="#F3F3F3"
            stroke="#676767"
            stroke-width="1.5"
          />
          <rect width="32" height="32" transform="translate(14 45.999) rotate(-90)" fill="#F3F3F3" />
          <path
            d="M18.6864 28.6854L17.6864 28.6854L17.6864 30.6854L18.6864 30.6854L18.6864 28.6854ZM39.8996 30.6854C40.4519 30.6854 40.8996 30.2377 40.8996 29.6854C40.8996 29.1331 40.4519 28.6854 39.8996 28.6854L39.8996 30.6854ZM18.6864 30.6854H39.8996L39.8996 28.6854H18.6864L18.6864 30.6854Z"
            fill="#676767"
          />
          <path
            d="M32.1211 20.4929L41.3135 29.6853L32.1211 38.8777"
            stroke="#676767"
            stroke-width="2"
            stroke-linecap="square"
            stroke-linejoin="round"
          />
        </svg>
      </div>
    </div>
    <div class="benchs__mob">
      <div class="benchs__mob-selector">
        <div class="benchs__mob-selector--top">
          <span>Beavermill 3 и 4 оси</span>
          <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M6 9.5L12 15.5L18 9.5"
              stroke="#012028"
              stroke-width="1.5"
              stroke-linecap="square"
              stroke-linejoin="round"
            />
          </svg>
        </div>
        <div class="benchs__mob-selector--bottom">
          <div class="benchs__mob-selector--item active">Beavermill 3 и 4 оси</div>
          <div class="benchs__mob-selector--item">Beavermill 5 осей</div>
          <div class="benchs__mob-selector--item">Beavermill mini</div>
          <div class="benchs__mob-selector--item">Beavermill plus</div>
          <div class="benchs__mob-selector--item">BEAVERMILL PLUS (5 осей)</div>
          <div class="benchs__mob-selector--item">Beavermill 3 и 4 оси</div>
        </div>
      </div>
      <div class="benchs__mob-container">
        <div class="benchs__mob-content active">
          <div class="benchs__mob-subtitle txt-small">универсальный станок для обработки металла</div>
          <div class="benchs__mob-swiper swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide"><img src="./assets/images/bench2.webp" alt="" /></div>
              <div class="swiper-slide"><img src="./assets/images/bench2.webp" alt="" /></div>
              <div class="swiper-slide"><img src="./assets/images/bench2.webp" alt="" /></div>
              <div class="swiper-slide"><img src="./assets/images/bench2.webp" alt="" /></div>
            </div>
          </div>
          <div class="benchs__mob-title">beavermill 3 оси</div>
          <div class="benchs__mob-text txt-small">
            Станок BEAVERMILL разработан для большинства типовых операций по металлообработке и может быть
            использован в аэрокосмической, автомобильной, электронной, медицинской и других отраслях
            промышленности.
          </div>
          <div class="benchs__mob-box">
            <div class="benchs__mob-box--text txt-small">
              Создайте свой собственный станок <br />
              при помощи конфигуратора
            </div>
            <a href="" class="benchs__mob-box--button">сконфигурировать</a>
          </div>
        </div>
        <div class="benchs__mob-content">
          <div class="benchs__mob-subtitle txt-small">универсальный станок для обработки металла</div>
          <div class="benchs__mob-swiper swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide"><img src="./assets/images/bench2.webp" alt="" /></div>
              <div class="swiper-slide"><img src="./assets/images/bench1.webp" alt="" /></div>
              <div class="swiper-slide"><img src="./assets/images/bench2.webp" alt="" /></div>
              <div class="swiper-slide"><img src="./assets/images/bench2.webp" alt="" /></div>
              <div class="swiper-slide"><img src="./assets/images/bench2.webp" alt="" /></div>
            </div>
          </div>
          <div class="benchs__mob-title">beavermill 3 оси</div>
          <div class="benchs__mob-text txt-small">
            Станок BEAVERMILL разработан для большинства типовых операций по металлообработке и может быть
            использован в аэрокосмической, автомобильной, электронной, медицинской и других отраслях
            промышленности.
          </div>
          <div class="benchs__mob-box">
            <div class="benchs__mob-box--text txt-small">
              Создайте свой собственный станок <br />
              при помощи конфигуратора
            </div>
            <a href="" class="benchs__mob-box--button">сконфигурировать</a>
          </div>
        </div>
        <div class="benchs__mob-content">
          <div class="benchs__mob-subtitle txt-small">универсальный станок для обработки металла</div>
          <div class="benchs__mob-swiper swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide"><img src="./assets/images/bench2.webp" alt="" /></div>
              <div class="swiper-slide"><img src="./assets/images/bench1.webp" alt="" /></div>
              <div class="swiper-slide"><img src="./assets/images/bench2.webp" alt="" /></div>
              <div class="swiper-slide"><img src="./assets/images/bench2.webp" alt="" /></div>
              <div class="swiper-slide"><img src="./assets/images/bench2.webp" alt="" /></div>
            </div>
          </div>
          <div class="benchs__mob-title">beavermill 3 оси</div>
          <div class="benchs__mob-text txt-small">
            Станок BEAVERMILL разработан для большинства типовых операций по металлообработке и может быть
            использован в аэрокосмической, автомобильной, электронной, медицинской и других отраслях
            промышленности.
          </div>
          <div class="benchs__mob-box">
            <div class="benchs__mob-box--text txt-small">
              Создайте свой собственный станок <br />
              при помощи конфигуратора
            </div>
            <a href="" class="benchs__mob-box--button">сконфигурировать</a>
          </div>
        </div>
        <div class="benchs__mob-content">
          <div class="benchs__mob-subtitle txt-small">универсальный станок для обработки металла</div>
          <div class="benchs__mob-swiper swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide"><img src="./assets/images/bench2.webp" alt="" /></div>
              <div class="swiper-slide"><img src="./assets/images/bench1.webp" alt="" /></div>
              <div class="swiper-slide"><img src="./assets/images/bench2.webp" alt="" /></div>
              <div class="swiper-slide"><img src="./assets/images/bench2.webp" alt="" /></div>
              <div class="swiper-slide"><img src="./assets/images/bench2.webp" alt="" /></div>
            </div>
          </div>
          <div class="benchs__mob-title">beavermill 3 оси</div>
          <div class="benchs__mob-text txt-small">
            Станок BEAVERMILL разработан для большинства типовых операций по металлообработке и может быть
            использован в аэрокосмической, автомобильной, электронной, медицинской и других отраслях
            промышленности.
          </div>
          <div class="benchs__mob-box">
            <div class="benchs__mob-box--text txt-small">
              Создайте свой собственный станок <br />
              при помощи конфигуратора
            </div>
            <a href="" class="benchs__mob-box--button">сконфигурировать</a>
          </div>
        </div>
        <div class="benchs__mob-content">
          <div class="benchs__mob-subtitle txt-small">универсальный станок для обработки металла</div>
          <div class="benchs__mob-swiper swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide"><img src="./assets/images/bench2.webp" alt="" /></div>
              <div class="swiper-slide"><img src="./assets/images/bench1.webp" alt="" /></div>
              <div class="swiper-slide"><img src="./assets/images/bench2.webp" alt="" /></div>
              <div class="swiper-slide"><img src="./assets/images/bench2.webp" alt="" /></div>
              <div class="swiper-slide"><img src="./assets/images/bench2.webp" alt="" /></div>
            </div>
          </div>
          <div class="benchs__mob-title">beavermill 3 оси</div>
          <div class="benchs__mob-text txt-small">
            Станок BEAVERMILL разработан для большинства типовых операций по металлообработке и может быть
            использован в аэрокосмической, автомобильной, электронной, медицинской и других отраслях
            промышленности.
          </div>
          <div class="benchs__mob-box">
            <div class="benchs__mob-box--text txt-small">
              Создайте свой собственный станок <br />
              при помощи конфигуратора
            </div>
            <a href="" class="benchs__mob-box--button">сконфигурировать</a>
          </div>
        </div>
        <div class="benchs__mob-content">
          <div class="benchs__mob-subtitle txt-small">универсальный станок для обработки металла</div>
          <div class="benchs__mob-swiper swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide"><img src="./assets/images/bench2.webp" alt="" /></div>
              <div class="swiper-slide"><img src="./assets/images/bench1.webp" alt="" /></div>
              <div class="swiper-slide"><img src="./assets/images/bench2.webp" alt="" /></div>
              <div class="swiper-slide"><img src="./assets/images/bench2.webp" alt="" /></div>
              <div class="swiper-slide"><img src="./assets/images/bench2.webp" alt="" /></div>
            </div>
          </div>
          <div class="benchs__mob-title">beavermill 3 оси</div>
          <div class="benchs__mob-text txt-small">
            Станок BEAVERMILL разработан для большинства типовых операций по металлообработке и может быть
            использован в аэрокосмической, автомобильной, электронной, медицинской и других отраслях
            промышленности.
          </div>
          <div class="benchs__mob-box">
            <div class="benchs__mob-box--text txt-small">
              Создайте свой собственный станок <br />
              при помощи конфигуратора
            </div>
            <a href="" class="benchs__mob-box--button">сконфигурировать</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
