<section class="career-hero">
  <div class="container career-hero__container">
    <div class="career-hero__inner">
      <div class="career-hero__swiper swiper">
        <div class="career-hero__swiper-wrapper swiper-wrapper">
          <div class="career-hero__swiper-slide swiper-slide">
            <div class="career-hero__swiper-slide-inner">
              <div class="career-hero__swiper-slide-text-wrapper">
                <p class="career-hero__title tl1">Карьера в бивертех</p>
                <div class="career-hero__swiper-slide-text-box">
                  <p class="career-hero__swiper-slide-text txt26 txt26_caps">
                    Мы приглашаем стать частью нашей команды увлеченных своим делом новаторов, таких же, как
                    мы
                  </p>
                  <a href="#" class="career-hero__btn button button-turquoise txt18 txt18_caps">
                    смотреть вакансии на <span>hh.ru</span>
                  </a>
                </div>
              </div>
              <img src="./assets/images/career-hero.webp" alt="" />
            </div>
          </div>
          <div class="career-hero__swiper-slide swiper-slide">
            <div class="career-hero__swiper-slide-inner">
              <div class="career-hero__swiper-slide-text-wrapper">
                <p class="career-hero__title tl1">Карьера в бивертех</p>
                <div class="career-hero__swiper-slide-text-box">
                  <p class="career-hero__swiper-slide-text txt26 txt26_caps">
                    Мы приглашаем стать частью нашей команды увлеченных
                  </p>
                  <a href="#" class="career-hero__btn button button-turquoise txt18 txt18_caps">
                    смотреть вакансии на <span>hh.ru</span>
                  </a>
                </div>
              </div>
              <video playsinline autoplay loop muted src="./assets/images/mainpage-hero-vid.mp4"></video>
            </div>
          </div>
          <div class="career-hero__swiper-slide swiper-slide">
            <div class="career-hero__swiper-slide-inner">
              <div class="career-hero__swiper-slide-text-wrapper">
                <p class="career-hero__title tl1">Карьера в бивертех</p>
                <div class="career-hero__swiper-slide-text-box">
                  <p class="career-hero__swiper-slide-text txt26 txt26_caps">
                    Мы приглашаем стать частью нашей команды увлеченных своим делом новаторов, таких же, как
                    мы Мы приглашаем стать частью нашей команды увлеченных своим делом новаторов, таких же,
                    как мы
                  </p>
                  <a href="#" class="career-hero__btn button button-turquoise txt18 txt18_caps">
                    смотреть вакансии на <span>hh.ru</span>
                  </a>
                </div>
              </div>
              <img src="./assets/images/career-hero.webp" alt="" />
            </div>
          </div>
          <div class="career-hero__swiper-slide swiper-slide">
            <div class="career-hero__swiper-slide-inner">
              <div class="career-hero__swiper-slide-text-wrapper">
                <p class="career-hero__title tl1">Карьера в бивертех</p>
                <div class="career-hero__swiper-slide-text-box">
                  <p class="career-hero__swiper-slide-text txt26 txt26_caps">
                    Мы приглашаем стать частью нашей команды увлеченных своим делом новаторов, таких же, как
                    мы новаторов, таких же, как мы
                  </p>
                  <a href="#" class="career-hero__btn button button-turquoise txt18 txt18_caps">
                    смотреть вакансии на <span>hh.ru</span>
                  </a>
                </div>
              </div>
              <video playsinline autoplay loop muted src="./assets/images/mainpage-hero-vid.mp4"></video>
            </div>
          </div>
        </div>
      </div>
      <div class="career-hero__swiper-btn-box">
        <div class="career-hero__swiper-btn career-hero__swiper-btn--prev swiper-button swiper-button-prev">
          <svg width="62" height="62" viewBox="0 0 62 62" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M61 33.5V53C61 57.4183 57.4183 61 53 61L9 61C4.58172 61 1 57.4183 1 53L1 9C1 4.58172 4.58172 1 9 1L53 1C57.4183 1 61 4.58172 61 9V28"
              stroke="white"
              stroke-width="1.5"
            />
            <path
              d="M59 31L17 31"
              stroke="white"
              stroke-width="1.5"
              stroke-linecap="square"
              stroke-linejoin="round"
            />
            <path
              d="M32 47L16 31.7395M16.0133 30.3198L31.9281 15"
              stroke="white"
              stroke-width="1.5"
              stroke-linecap="square"
              stroke-linejoin="round"
            />
          </svg>
        </div>
        <div class="career-hero__swiper-btn career-hero__swiper-btn--next swiper-button swiper-button-next">
          <svg width="62" height="62" viewBox="0 0 62 62" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M1 28.5V9C1 4.58172 4.58172 1 9 1H53C57.4183 1 61 4.58172 61 9V53C61 57.4183 57.4183 61 53 61H9C4.58172 61 1 57.4183 1 53V34"
              stroke="white"
              stroke-width="1.5"
            />
            <path
              d="M45 31L3 31"
              stroke="white"
              stroke-width="1.5"
              stroke-linecap="square"
              stroke-linejoin="round"
            />
            <path
              d="M30 15L46 30.2605M45.9867 31.6802L30.0719 47"
              stroke="white"
              stroke-width="1.5"
              stroke-linecap="square"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </div>

      <div class="career-hero__progress swiper-pagination"></div>
    </div>
  </div>
</section>
