<section class="configuration-type">
  <div class="container">
    <div class="configuration-type__inner">
      <div class="configuration-type__title-box">
        <p class="configuration-type__title tl1">УДОБНЫЙ <br />ДЛЯ ОПЕРАТОРА</p>
        <div class="configuration-type__title-desc-box">
          <p class="configuration-type__title-desc txt20 txt20_caps">
            увеличьте возможности обработки добавив поворотный стол
          </p>
        </div>
      </div>
      <div class="configuration-type__content-wrapper">
        <div class="configuration-type__img-wrapper">
          <div class="configuration-type__img-box active">
            <img src="./assets/images/configuration-type.webp" alt="" />
          </div>
          <div class="configuration-type__img-box">
            <img src="./assets/images/spindle-unit-bg.webp" alt="" />
          </div>
        </div>
        <div class="configuration-type__content-box configurator__right">
          <div class="configuration-type__content-tabs-wrapper">
            <p class="configuration-type__content-tabs-title txt20 txt20_caps">Тип конфигурации</p>
            <div class="configuration-type__content-tabs-box">
              <label class="configuration-type__label txt16">
                <input class="configuration-type__input" type="radio" name="type" checked id="" />
                <span class="configuration-type__label-inner">
                  <span class="configuration-type__label-num-box">
                    <span class="configuration-type__label-num">3</span>
                  </span>
                  <span class="configuration-type__label-text">Трехосевая</span>
                </span>
              </label>
              <label class="configuration-type__label txt16">
                <input class="configuration-type__input" type="radio" name="type" id="" />
                <span class="configuration-type__label-inner">
                  <span class="configuration-type__label-num-box">
                    <span class="configuration-type__label-num">4</span>
                  </span>
                  <span class="configuration-type__label-text">Трехосевая</span>
                </span>
              </label>
            </div>
          </div>
          <div class="configuration-type__info-wrapper">
            <div class="configuration-type__info-box active">
              <div class="configuration-type__info-content-box">
                <div class="configuration-type__info-title-box">
                  <p class="configuration-type__info-title txt18">Система ЧПУ</p>
                  <div class="configuration-type__info-title-svg-wrapper">
                    <div class="configuration-type__info-title-svg-box">
                      <svg
                        width="25"
                        height="25"
                        viewBox="0 0 25 25"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M12.1289 22.5C17.6289 22.5 22.1289 18 22.1289 12.5C22.1289 7 17.6289 2.5 12.1289 2.5C6.62891 2.5 2.12891 7 2.12891 12.5C2.12891 18 6.62891 22.5 12.1289 22.5Z"
                          stroke="#303033"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          d="M12.1289 8.5V13.5"
                          stroke="#303033"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          d="M12.125 16.5H12.134"
                          stroke="#303033"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </div>
                    <ul
                      class="configuration-type__info-title-svg-list txt16"
                      style="transform: translate(100%, -50%)"
                    >
                      <li class="configuration-type__info-title-svg-item">10,4-дюймовый HD ЖК-монитор</li>
                      <li class="configuration-type__info-title-svg-item">
                        Высокоточные энкодеры с 16 миллионами позиций
                      </li>
                      <li class="configuration-type__info-title-svg-item">Жесткое нарезание резьбы</li>
                      <li class="configuration-type__info-title-svg-item">
                        Двусторонняя компенсация ошибки шага
                      </li>
                      <li class="configuration-type__info-title-svg-item">Термокомпенсация</li>
                      <li class="configuration-type__info-title-svg-item">Выносной пульт управления</li>
                      <li class="configuration-type__info-title-svg-item">Русский язык</li>
                    </ul>
                  </div>
                </div>
                <p class="configuration-type__info-text txt16">HNC 808 (совместима с Fanuc)</p>
              </div>
              <div class="configuration-type__info-content-box">
                <div class="configuration-type__info-title-box">
                  <p class="configuration-type__info-title txt18">Тип поворотного устройства</p>
                  <div class="configuration-type__info-title-svg-wrapper">
                    <div class="configuration-type__info-title-svg-box">
                      <svg
                        width="25"
                        height="25"
                        viewBox="0 0 25 25"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M12.1289 22.5C17.6289 22.5 22.1289 18 22.1289 12.5C22.1289 7 17.6289 2.5 12.1289 2.5C6.62891 2.5 2.12891 7 2.12891 12.5C2.12891 18 6.62891 22.5 12.1289 22.5Z"
                          stroke="#303033"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          d="M12.1289 8.5V13.5"
                          stroke="#303033"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          d="M12.125 16.5H12.134"
                          stroke="#303033"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </div>
                    <ul
                      class="configuration-type__info-title-svg-list txt16"
                      style="transform: translate(-10%, -50%)"
                    >
                      <li class="configuration-type__info-title-svg-item">10,4-дюймовый HD ЖК-монитор</li>
                      <li class="configuration-type__info-title-svg-item">
                        Высокоточные энкодеры с 16 миллионами позиций
                      </li>
                      <li class="configuration-type__info-title-svg-item">Жесткое нарезание резьбы</li>
                      <li class="configuration-type__info-title-svg-item">
                        Двусторонняя компенсация ошибки шага
                      </li>
                      <li class="configuration-type__info-title-svg-item">Термокомпенсация</li>
                      <li class="configuration-type__info-title-svg-item">Выносной пульт управления</li>
                      <li class="configuration-type__info-title-svg-item">Русский язык</li>
                    </ul>
                  </div>
                </div>
                <p class="configuration-type__info-text txt16">
                  Поворотный стол диаметром 170мм (четвертая ось)
                </p>
              </div>
            </div>
            <div class="configuration-type__info-box">
              <div class="configuration-type__info-content-box">
                <div class="configuration-type__info-title-box">
                  <p class="configuration-type__info-title txt18">Тип поворотного устройства</p>
                  <div class="configuration-type__info-title-svg-wrapper">
                    <div class="configuration-type__info-title-svg-box">
                      <svg
                        width="25"
                        height="25"
                        viewBox="0 0 25 25"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M12.1289 22.5C17.6289 22.5 22.1289 18 22.1289 12.5C22.1289 7 17.6289 2.5 12.1289 2.5C6.62891 2.5 2.12891 7 2.12891 12.5C2.12891 18 6.62891 22.5 12.1289 22.5Z"
                          stroke="#303033"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          d="M12.1289 8.5V13.5"
                          stroke="#303033"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          d="M12.125 16.5H12.134"
                          stroke="#303033"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </div>
                    <ul class="configuration-type__info-title-svg-list txt16"  style="transform: translate(-10%, -50%)">
                      <li class="configuration-type__info-title-svg-item">10,4-дюймовый HD ЖК-монитор</li>
                      <li class="configuration-type__info-title-svg-item">
                        Высокоточные энкодеры с 16 миллионами позиций
                      </li>
                      <li class="configuration-type__info-title-svg-item">Жесткое нарезание резьбы</li>
                      <li class="configuration-type__info-title-svg-item">
                        Двусторонняя компенсация ошибки шага
                      </li>
                      <li class="configuration-type__info-title-svg-item">Термокомпенсация</li>
                      <li class="configuration-type__info-title-svg-item">Выносной пульт управления</li>
                      <li class="configuration-type__info-title-svg-item">Русский язык</li>
                    </ul>
                  </div>
                </div>
                <p class="configuration-type__info-text txt16">
                  Поворотный стол диаметром 170мм (четвертая ось)
                </p>
              </div>
              <div class="configuration-type__info-content-box">
                <div class="configuration-type__info-title-box">
                  <p class="configuration-type__info-title txt18">Система ЧПУ</p>
                  <div class="configuration-type__info-title-svg-wrapper">
                    <div class="configuration-type__info-title-svg-box">
                      <svg
                        width="25"
                        height="25"
                        viewBox="0 0 25 25"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M12.1289 22.5C17.6289 22.5 22.1289 18 22.1289 12.5C22.1289 7 17.6289 2.5 12.1289 2.5C6.62891 2.5 2.12891 7 2.12891 12.5C2.12891 18 6.62891 22.5 12.1289 22.5Z"
                          stroke="#303033"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          d="M12.1289 8.5V13.5"
                          stroke="#303033"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          d="M12.125 16.5H12.134"
                          stroke="#303033"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </div>
                    <ul class="configuration-type__info-title-svg-list txt16"  style="transform: translate(100%, -50%)">
                      <li class="configuration-type__info-title-svg-item">10,4-дюймовый HD ЖК-монитор</li>
                      <li class="configuration-type__info-title-svg-item">
                        Высокоточные энкодеры с 16 миллионами позиций
                      </li>
                      <li class="configuration-type__info-title-svg-item">Жесткое нарезание резьбы</li>
                      <li class="configuration-type__info-title-svg-item">
                        Двусторонняя компенсация ошибки шага
                      </li>
                      <li class="configuration-type__info-title-svg-item">Термокомпенсация</li>
                      <li class="configuration-type__info-title-svg-item">Выносной пульт управления</li>
                      <li class="configuration-type__info-title-svg-item">Русский язык</li>
                    </ul>
                  </div>
                </div>
                <p class="configuration-type__info-text txt16">HNC 808 (совместима с Fanuc)</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
