<section class="configurator-hero">
  <div class="container">
    <div class="configurator-hero__inner">
      <div class="configurator-hero__swiper-box">
        <div class="configurator-hero__swiper swiper">
          <div class="configurator-hero__swiper-wrapper swiper-wrapper">
            <div class="configurator-hero__swiper-slide swiper-slide">
              <div class="configurator-hero__swiper-slide-img-box">
                <img src="./assets/images/bench2.webp" alt="" />
              </div>
            </div>
            <div class="configurator-hero__swiper-slide swiper-slide">
              <div class="configurator-hero__swiper-slide-img-box">
                <img src="./assets/images/bench2.webp" alt="" />
              </div>
            </div>
            <div class="configurator-hero__swiper-slide swiper-slide">
              <div class="configurator-hero__swiper-slide-img-box">
                <img src="./assets/images/bench2.webp" alt="" />
              </div>
            </div>
            <div class="configurator-hero__swiper-slide swiper-slide">
              <div class="configurator-hero__swiper-slide-img-box">
                <img src="./assets/images/bench2.webp" alt="" />
              </div>
            </div>
          </div>
          <div class="configurator-hero__swiper-btn-box">
            <div
              class="configurator-hero__swiper-btn configurator-hero__swiper-btn--prev swiper-button swiper-button-prev"
            >
              <svg width="62" height="62" viewBox="0 0 62 62" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M61 33.5V53C61 57.4183 57.4183 61 53 61L9 61C4.58172 61 1 57.4183 1 53L1 9C1 4.58172 4.58172 1 9 1L53 1C57.4183 1 61 4.58172 61 9V28"
                  stroke="#012028"
                  stroke-width="1.5"
                />
                <path
                  d="M59 31L17 31"
                  stroke="#012028"
                  stroke-width="1.5"
                  stroke-linecap="square"
                  stroke-linejoin="round"
                />
                <path
                  d="M32 47L16 31.7395M16.0133 30.3198L31.9281 15"
                  stroke="#012028"
                  stroke-width="1.5"
                  stroke-linecap="square"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
            <div
              class="configurator-hero__swiper-btn configurator-hero__swiper-btn--next swiper-button swiper-button-next"
            >
              <svg width="62" height="62" viewBox="0 0 62 62" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M1 28.5V9C1 4.58172 4.58172 1 9 1H53C57.4183 1 61 4.58172 61 9V53C61 57.4183 57.4183 61 53 61H9C4.58172 61 1 57.4183 1 53V34"
                  stroke="#012028"
                  stroke-width="1.5"
                />
                <path
                  d="M45 31L3 31"
                  stroke="#012028"
                  stroke-width="1.5"
                  stroke-linecap="square"
                  stroke-linejoin="round"
                />
                <path
                  d="M30 15L46 30.2605M45.9867 31.6802L30.0719 47"
                  stroke="#012028"
                  stroke-width="1.5"
                  stroke-linecap="square"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </div>
        </div>
      </div>

      <div class="configurator-hero__content-box configurator__right">
        <div class="configurator-hero__title-box">
          <p class="configurator-hero_subtitle txt18 txt18_caps">Фрезерный станок с ЧПУ</p>
          <p class="configurator-hero_title tl1">BEAVERMILL <br />(3 и 4 оси)</p>
        </div>
        <div class="configurator-hero__desc-box">
          <p class="configurator-hero__desc-text txt16">
            Станок BEAVERMILL разработан для большинства типовых операций по металлообработке и может быть
            использован в аэрокосмической, автомобильной, электронной, медицинской и других отраслях
            промышленности.
          </p>
          <p class="configurator-hero__desc-text txt16">
            Станок BEAVERMILL разработан для большинства типовых операций по металлообработке и может быть
            использован в аэрокосмической, автомобильной, электронной, медицинской и других отраслях
            промышленности.
          </p>
        </div>
        <ul class="configurator-hero__info-list">
          <li class="configurator-hero__info-item">
            <p class="configurator-hero__info-item-title txt16">Габариты станка</p>
            <p class="configurator-hero__info-item-text txt16">130/1855/1950 мм*</p>
          </li>
          <li class="configurator-hero__info-item">
            <p class="configurator-hero__info-item-title txt16">Рабочая зона x/y/z</p>
            <p class="configurator-hero__info-item-text txt16">500/350/400 мм</p>
          </li>
          <li class="configurator-hero__info-item">
            <p class="configurator-hero__info-item-title txt16">Рабочий стол</p>
            <p class="configurator-hero__info-item-text txt16">730/300 мм</p>
          </li>
          <li class="configurator-hero__info-item">
            <p class="configurator-hero__info-item-title txt16">Вес</p>
            <p class="configurator-hero__info-item-text txt16">2000 кг</p>
          </li>
          <li class="configurator-hero__info-item">
            <p class="configurator-hero__info-item-title txt16">Рабочая подача</p>
            <p class="configurator-hero__info-item-text txt16">25 м/мин</p>
          </li>
          <li class="configurator-hero__info-item configurator-hero__info-item--last txt16">
            *Без полок и лампы индексации
          </li>
        </ul>
        <div class="configurator-hero__price-box">
          <p class="configurator-hero__prise txt26 txt26_caps">
            от <span class="configurator-hero__prise-num tl3">4 200 000</span> ₽
          </p>
          <p class="configurator-hero__price-info-text txt16">цена без НДС</p>
        </div>
      </div>
    </div>
  </div>
</section>
