<section class="configurator-spindle-unit">
  <div class="container">
    <div class="configurator-spindle-unit__inner">
      <div class="configurator-spindle-unit__content-wrapper">
        <div class="configurator-spindle-unit__content-inner">
          <p class="configurator-spindle-unit__content-title tl1">ШПИНДЕЛЬНЫЙ УЗЕЛ</p>
          <div class="configurator-spindle-unit__content-box">
            <div class="configurator-spindle-unit__content-text-wrapper">
              <div class="configurator-spindle-unit__content-text-box">
                <p class="configurator-spindle-unit__content-text txt16">
                  Чиллер нужен для отведения тепла от шпиндельной бабки и подшипников.
                </p>
              </div>
              <div class="configurator-spindle-unit__content-text-box">
                <p class="configurator-spindle-unit__content-text txt16">
                  Обеспечивает стабильность температуры даже после многочасовой обработки на высокой скорости.
                </p>
              </div>
            </div>
            <div class="configurator-spindle-unit__content-img-wrapper">
              <div class="configurator-spindle-unit__content-img-box">
                <img src="./assets/images/configurator-spindle-unit.webp" alt="" />
              </div>
              <div class="configurator-spindle-unit__point-box desktop" style="top: 31rem; right: 23.5rem">
                <div class="configurator-spindle-unit__point-point-circle"></div>
                <div class="configurator-spindle-unit__point-point-text txt16">
                  BEAVERMILL оснащен масляным чиллером
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="configurator-spindle-unit__info-box configurator__right">
        <p class="configurator-spindle-unit__info-title txt20 txt20_caps">ШПИНДЕЛЬ С КОНУСОМ BT30*</p>

        <div class="configurator-spindle-unit__range">
          <input
            type="range"
            min="1"
            max="2"
            value="1"
            class="configurator-spindle-unit__range-input"
          />
          <p class="configurator-spindle-unit__range-text configurator-spindle-unit__range-text--min active txt18">
            <span>12 000</span> об/мин
          </p>
          <p class="configurator-spindle-unit__range-text configurator-spindle-unit__range-text--max txt18">
            <span>30 000</span> об/мин
          </p>
          <div class="configurator-spindle-unit__range-thumb">
            <!-- <div class="configurator-spindle-unit__range-tooltip txt18 txt18_caps">
              <span>12 000</span> об/мин
            </div> -->
          </div>
          <div class="configurator-spindle-unit__range-progress"></div>
        </div>

        <div class="configurator-spindle-unit__text-box">
          <p class="configurator-spindle-unit__text-title txt18">
            12 000 об/мин, ременный привод, 7,5 кВт, 58,8 Н*м
          </p>
          <p class="configurator-spindle-unit__text-desc txt16">
            Шпиндельный узел оснащен улучшенным лабиринтным уплотнением и защищен от проникновения микрочастиц
            повышенным давлением воздуха внутри.
          </p>
        </div>

        <div class="configurator-spindle-unit__schedule-box">
          <button class="configurator-spindle-unit__schedule-btn txt18 txt18_caps">Посмотреть график</button>
          <div class="configurator-spindle-unit__schedule-img-wrapper">
            <div class="configurator-spindle-unit__schedule-img-box">
              <img src="./assets/images/configurator-schedule.webp" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
