<section class="current-vacancies">
  <div class="container">
    <div class="current-vacancies__inner">
      <p class="current-vacancies__title tl1">Актуальные вакансии</p>
      <div class="current-vacancies__content-wrapper">
        <div class="current-vacancies__filters">
          <div class="current-vacancies__filters-title-box">
            <div class="current-vacancies__filters-title-svg-box desktop">
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M8.66406 30.3333C8.1174 30.3333 7.66406 29.88 7.66406 29.3333V20C7.66406 19.4533 8.1174 19 8.66406 19C9.21073 19 9.66406 19.4533 9.66406 20V29.3333C9.66406 29.88 9.21073 30.3333 8.66406 30.3333Z"
                  fill="#013341"
                />
                <path
                  d="M8.66406 7.66675C8.1174 7.66675 7.66406 7.21341 7.66406 6.66675V2.66675C7.66406 2.12008 8.1174 1.66675 8.66406 1.66675C9.21073 1.66675 9.66406 2.12008 9.66406 2.66675V6.66675C9.66406 7.21341 9.21073 7.66675 8.66406 7.66675Z"
                  fill="#013341"
                />
                <path
                  d="M23.3359 30.3333C22.7893 30.3333 22.3359 29.8799 22.3359 29.3333V25.3333C22.3359 24.7866 22.7893 24.3333 23.3359 24.3333C23.8826 24.3333 24.3359 24.7866 24.3359 25.3333V29.3333C24.3359 29.8799 23.8826 30.3333 23.3359 30.3333Z"
                  fill="#013341"
                />
                <path
                  d="M23.3359 13.0001C22.7893 13.0001 22.3359 12.5467 22.3359 12.0001V2.66675C22.3359 2.12008 22.7893 1.66675 23.3359 1.66675C23.8826 1.66675 24.3359 2.12008 24.3359 2.66675V12.0001C24.3359 12.5467 23.8826 13.0001 23.3359 13.0001Z"
                  fill="#013341"
                />
                <path
                  d="M9.9974 21.0001H7.33073C5.0374 21.0001 3.66406 19.6267 3.66406 17.3334V9.33341C3.66406 7.04008 5.0374 5.66675 7.33073 5.66675H9.9974C12.2907 5.66675 13.6641 7.04008 13.6641 9.33341V17.3334C13.6641 19.6267 12.2907 21.0001 9.9974 21.0001ZM7.33073 7.66675C6.14406 7.66675 5.66406 8.14675 5.66406 9.33341V17.3334C5.66406 18.5201 6.14406 19.0001 7.33073 19.0001H9.9974C11.1841 19.0001 11.6641 18.5201 11.6641 17.3334V9.33341C11.6641 8.14675 11.1841 7.66675 9.9974 7.66675H7.33073Z"
                  fill="#013341"
                />
                <path
                  d="M24.6693 26.3333H22.0026C19.7093 26.3333 18.3359 24.96 18.3359 22.6667V14.6667C18.3359 12.3733 19.7093 11 22.0026 11H24.6693C26.9626 11 28.3359 12.3733 28.3359 14.6667V22.6667C28.3359 24.96 26.9626 26.3333 24.6693 26.3333ZM22.0026 13C20.8159 13 20.3359 13.48 20.3359 14.6667V22.6667C20.3359 23.8533 20.8159 24.3333 22.0026 24.3333H24.6693C25.8559 24.3333 26.3359 23.8533 26.3359 22.6667V14.6667C26.3359 13.48 25.8559 13 24.6693 13H22.0026Z"
                  fill="#013341"
                />
              </svg>
            </div>
            <p class="current-vacancies__filters-title-text txt26 txt26_caps">фильтры</p>
            <button class="current-vacancies__filters-title-close-svg-box mobile">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M22.0437 3.01494L22.574 2.48461L21.5134 1.42395L20.983 1.95428L12.2608 10.6765L13.3215 11.7372L22.0437 3.01494ZM13.3214 12.2629L12.2608 13.3235L20.983 22.0458L21.5134 22.5761L22.574 21.5154L22.0437 20.9851L13.3214 12.2629ZM11.7353 13.3233L10.6746 12.2627L1.95221 20.9851L1.42188 21.5154L2.48254 22.5761L3.01287 22.0458L11.7353 13.3233ZM10.6746 11.7374L11.7353 10.6767L3.01287 1.95428L2.48254 1.42395L1.42188 2.48461L1.95221 3.01494L10.6746 11.7374Z" fill="#012028"/>
                    </svg>
                    
              </button>
          </div>



          <div class="current-vacancies__filters-list-wrapper">
            <ul class="current-vacancies__filters-list">
              <li class="current-vacancies__filters-item mobile">
                <div class="current-vacancies__filters-item-title txt20 txt20_caps">Сортировать</div>
                <div class="current-vacancies__filters-item-label-box">
                    <label class="current-vacancies__list-filter txt20"
                    ><input class="current-vacancies__input current-vacancies__input--radio" data-radio='new' checked type="radio" name="sort-mob" /> Новые</label
                  >
                  <label class="current-vacancies__list-filter txt20"
                    ><input class="current-vacancies__input current-vacancies__input--radio" data-radio='old'  type="radio" name="sort-mob" /> Старые</label
                  >
                </div>
              </li>



              <li class="current-vacancies__filters-item">
                <div class="current-vacancies__filters-item-title txt20 txt20_caps">Регион</div>
                <div class="current-vacancies__filters-item-label-box">
                  <label class="current-vacancies__filter txt18"
                    ><input class="current-vacancies__input current-vacancies__input--checkbox" type="checkbox" name="region" checked/>Москва</label
                  >
                  <label class="current-vacancies__filter txt18"
                    ><input class="current-vacancies__input current-vacancies__input--checkbox" type="checkbox" name="region" />Санкт-Петербург</label
                  >
                </div>
              </li>
              <li class="current-vacancies__filters-item">
                <div class="current-vacancies__filters-item-title txt20 txt20_caps">Специализации</div>
                <div class="current-vacancies__filters-item-label-box">
                  <label class="current-vacancies__filter txt18"
                    ><input class="current-vacancies__input current-vacancies__input--checkbox" type="checkbox" checked name="specializations" />Инженер-конструктор</label
                  >
                  <label class="current-vacancies__filter txt18"
                    ><input class="current-vacancies__input current-vacancies__input--checkbox" type="checkbox" name="specializations" />Сервисный инженер
                  </label>
                  <label class="current-vacancies__filter txt18"
                    ><input class="current-vacancies__input current-vacancies__input--checkbox" type="checkbox" name="specializations" />Сервисный инженер 1
                  </label>
                  <label class="current-vacancies__filter txt18"
                    ><input class="current-vacancies__input current-vacancies__input--checkbox" type="checkbox" name="specializations" />Сервисный инженер 2
                  </label>
                </div>
              </li>
              <li class="current-vacancies__filters-item">
                <div class="current-vacancies__filters-item-title txt20 txt20_caps">занятость</div>
                <div class="current-vacancies__filters-item-label-box">
                  <label class="current-vacancies__filter txt18"
                    ><input class="current-vacancies__input current-vacancies__input--checkbox" type="checkbox" name="employment" checked/>Полная</label
                  >
                  <label class="current-vacancies__filter txt18"
                    ><input class="current-vacancies__input current-vacancies__input--checkbox" type="checkbox" name="employment" />Частичная</label
                  >
                </div>
              </li>
            </ul>
            <div class="current-vacancies__filters-list-bottom-box">
                <div class="current-vacancies__current-filters-box mobile">
                    <p class="current-vacancies__current-filters-title txt20 txt20_caps">применённые фильтры</p>
                    <ul class="current-vacancies__current-filters-list">
                     
                    </ul>
                  </div>
                  <div class="current-vacancies__filters-list-btn-box">
                    <button class="button button-border txt20 txt20_caps current-vacancies__filters-list-btn-enter">
                      применить
                    </button>
                    <button class="current-vacancies__filters-list-btn-remove txt18 txt18_caps">
                      очистить
                      <span class="current-vacancies__link-svg-wrapper">

                  
                      <span class="current-vacancies__link-svg-box">
                        <svg
                          width="23"
                          height="22"
                          viewBox="0 0 23 22"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M6.16797 16.5L16.4805 6.1875"
                            stroke="#013341"
                            stroke-width="1.5"
                            stroke-linecap="square"
                            stroke-linejoin="round"
                          />
                          <path
                            d="M8.23047 5.5L17.168 5.5L17.168 14.4375"
                            stroke="#013341"
                            stroke-width="1.5"
                            stroke-linecap="square"
                            stroke-linejoin="round"
                          />
                        </svg>
                      </span>
                      <span class="current-vacancies__link-svg-box">
                        <svg
                          width="23"
                          height="22"
                          viewBox="0 0 23 22"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M6.16797 16.5L16.4805 6.1875"
                            stroke="#013341"
                            stroke-width="1.5"
                            stroke-linecap="square"
                            stroke-linejoin="round"
                          />
                          <path
                            d="M8.23047 5.5L17.168 5.5L17.168 14.4375"
                            stroke="#013341"
                            stroke-width="1.5"
                            stroke-linecap="square"
                            stroke-linejoin="round"
                          />
                        </svg>
                      </span>
                    </span>
                    </button>
                  </div>

            </div>
         
          </div>
        </div>
        <div class="current-vacancies__content-box">
          <div class="current-vacancies__search-box">
            <button class="current-vacancies__search-filter-btn mobile">
              <div class="current-vacancies__search-filter-btn-svg-box">
                <svg
                  width="32"
                  height="32"
                  viewBox="0 0 32 32"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M8.66406 30.3333C8.1174 30.3333 7.66406 29.88 7.66406 29.3333V20C7.66406 19.4533 8.1174 19 8.66406 19C9.21073 19 9.66406 19.4533 9.66406 20V29.3333C9.66406 29.88 9.21073 30.3333 8.66406 30.3333Z"
                    fill="#013341"
                  />
                  <path
                    d="M8.66406 7.66675C8.1174 7.66675 7.66406 7.21341 7.66406 6.66675V2.66675C7.66406 2.12008 8.1174 1.66675 8.66406 1.66675C9.21073 1.66675 9.66406 2.12008 9.66406 2.66675V6.66675C9.66406 7.21341 9.21073 7.66675 8.66406 7.66675Z"
                    fill="#013341"
                  />
                  <path
                    d="M23.3359 30.3333C22.7893 30.3333 22.3359 29.8799 22.3359 29.3333V25.3333C22.3359 24.7866 22.7893 24.3333 23.3359 24.3333C23.8826 24.3333 24.3359 24.7866 24.3359 25.3333V29.3333C24.3359 29.8799 23.8826 30.3333 23.3359 30.3333Z"
                    fill="#013341"
                  />
                  <path
                    d="M23.3359 13.0001C22.7893 13.0001 22.3359 12.5467 22.3359 12.0001V2.66675C22.3359 2.12008 22.7893 1.66675 23.3359 1.66675C23.8826 1.66675 24.3359 2.12008 24.3359 2.66675V12.0001C24.3359 12.5467 23.8826 13.0001 23.3359 13.0001Z"
                    fill="#013341"
                  />
                  <path
                    d="M9.9974 21.0001H7.33073C5.0374 21.0001 3.66406 19.6267 3.66406 17.3334V9.33341C3.66406 7.04008 5.0374 5.66675 7.33073 5.66675H9.9974C12.2907 5.66675 13.6641 7.04008 13.6641 9.33341V17.3334C13.6641 19.6267 12.2907 21.0001 9.9974 21.0001ZM7.33073 7.66675C6.14406 7.66675 5.66406 8.14675 5.66406 9.33341V17.3334C5.66406 18.5201 6.14406 19.0001 7.33073 19.0001H9.9974C11.1841 19.0001 11.6641 18.5201 11.6641 17.3334V9.33341C11.6641 8.14675 11.1841 7.66675 9.9974 7.66675H7.33073Z"
                    fill="#013341"
                  />
                  <path
                    d="M24.6693 26.3333H22.0026C19.7093 26.3333 18.3359 24.96 18.3359 22.6667V14.6667C18.3359 12.3733 19.7093 11 22.0026 11H24.6693C26.9626 11 28.3359 12.3733 28.3359 14.6667V22.6667C28.3359 24.96 26.9626 26.3333 24.6693 26.3333ZM22.0026 13C20.8159 13 20.3359 13.48 20.3359 14.6667V22.6667C20.3359 23.8533 20.8159 24.3333 22.0026 24.3333H24.6693C25.8559 24.3333 26.3359 23.8533 26.3359 22.6667V14.6667C26.3359 13.48 25.8559 13 24.6693 13H22.0026Z"
                    fill="#013341"
                  />
                </svg>
              </div>
            </button>

            <div class="current-vacancies__dropdown_search form__dropdown_search">
              <div class="form__dropdown_top">
                <label for="" class="current-vacancies__label input-group">
                  <span class="current-vacancies__input-wrapper  form__input-wrapper">
                    <input
                      class="input__field txt18"
                      type="text"
                      placeholder="Поиск по вакансиям"
                      autocomplete="off"
                      name="form[]"
                      data-no-focus-classes
                    />

                    <span class="current-vacancies__dropdown--searsh">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11.5 21.75C5.85 21.75 1.25 17.15 1.25 11.5C1.25 5.85 5.85 1.25 11.5 1.25C17.15 1.25 21.75 5.85 21.75 11.5C21.75 17.15 17.15 21.75 11.5 21.75ZM11.5 2.75C6.67 2.75 2.75 6.68 2.75 11.5C2.75 16.32 6.67 20.25 11.5 20.25C16.33 20.25 20.25 16.32 20.25 11.5C20.25 6.68 16.33 2.75 11.5 2.75Z" fill="#012028" />
                            <path d="M21.9975 22.7499C21.8075 22.7499 21.6175 22.6799 21.4675 22.5299L19.4675 20.5299C19.1775 20.2399 19.1775 19.7599 19.4675 19.4699C19.7575 19.1799 20.2375 19.1799 20.5275 19.4699L22.5275 21.4699C22.8175 21.7599 22.8175 22.2399 22.5275 22.5299C22.3775 22.6799 22.1875 22.7499 21.9975 22.7499Z" fill="#012028" />
                          </svg>
                    </span>

                    <button class="current-vacancies__dropdown--close">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M19.0588 6.00011L17.9982 4.93945L11.9982 10.9395L5.99816 4.93945L4.9375 6.00011L10.9375 12.0001L4.9375 18.0001L5.99816 19.0608L11.9982 13.0608L17.9982 19.0608L19.0588 18.0001L13.0588 12.0001L19.0588 6.00011ZM11.9983 11L10.9982 12.0001L11.9983 13.0003L12.9985 12.0001L11.9983 11Z" fill="#676767" />
                          </svg>
                    </button>

                    <button class="current-vacancies__dropdown--enter">
                        <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="0.75" y="0.75" width="62.5" height="62.5" rx="15.25" stroke="#012028" stroke-width="1.5"/>
                            <g clip-path="url(#clip0_3819_3380)">
                            <path d="M24 40L39 25" stroke="#012028" stroke-width="2" stroke-linecap="square" stroke-linejoin="round"/>
                            <path d="M27 24L40 24L40 37" stroke="#012028" stroke-width="2" stroke-linecap="square" stroke-linejoin="round"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_3819_3380">
                            <rect width="32" height="32" fill="white" transform="translate(16 16)"/>
                            </clipPath>
                            </defs>
                            </svg>
                    </button>


                  </span>
                  <span class="error-span"></span>
                </label>
              </div>
              <div class="form__dropdown_bottom">
                <div class="form__dropdown_list">
                  <label class="form__dropdown_item">
                    <div class="form__dropdown_item_checkbox radio-wrapper">
                      <input type="radio" name="locality" />
                    </div>
                    <span class="form__dropdown_item_name txt18">Инженер-конструктор станков с ЧПУ</span>
                  </label>
                  <label class="form__dropdown_item">
                    <div class="form__dropdown_item_checkbox radio-wrapper">
                      <input type="radio" name="locality" />
                    </div>
                    <span class="form__dropdown_item_name txt18">Инженер-конструктор станков с ЧПУ</span>
                  </label>
                  <label class="form__dropdown_item">
                    <div class="form__dropdown_item_checkbox radio-wrapper">
                      <input type="radio" name="locality" />
                    </div>
                    <span class="form__dropdown_item_name txt18"
                      >Сервисный инженер (фрезерные обрабатывающие центры)</span
                    >
                  </label>
                  <label class="form__dropdown_item">
                    <div class="form__dropdown_item_checkbox radio-wrapper">
                      <input type="radio" name="locality" />
                    </div>
                    <span class="form__dropdown_item_name txt18">Слесарь механосборочных работ</span>
                  </label>
                  <label class="form__dropdown_item">
                    <div class="form__dropdown_item_checkbox radio-wrapper">
                      <input type="radio" name="locality" />
                    </div>
                    <span class="form__dropdown_item_name txt18">Электромонтажник/Сборщик электрошкафов</span>
                  </label>
                </div>
              </div>
            </div>

            <div class="current-vacancies__list-sort desktop">
                <div class="current-vacancies__list-sort-title-box">
                    <span class="txt20 txt20_caps">Сортировать</span>
                    <div class="current-vacancies__list-sort-icon">
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M18 9L12 15L6 9" stroke="#013341" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="round" />
                    </svg>
                </div>
             
            </div>
              <div class="current-vacancies__dropdown">
                <label class="current-vacancies__list-filter txt20"
                  ><input class="current-vacancies__input current-vacancies__input--radio" data-radio='new' checked type="radio" name="sort-desk" /> Новые</label
                >
                <label class="current-vacancies__list-filter txt20"
                  ><input class="current-vacancies__input current-vacancies__input--radio" data-radio='old' type="radio" name="sort-desk" /> Старые</label
                >
              </div>
            </div>
          </div>

          <div class="current-vacancies__current-filters-box desktop">
            <p class="current-vacancies__current-filters-title txt20 txt20_caps">применённые фильтры</p>
            <ul class="current-vacancies__current-filters-list">
             
            </ul>
          </div>
          <ul class="current-vacancies__vacancies-list">
            <li class="current-vacancies__vacancies-item">
              <div class="current-vacancies__vacancies-info">
                <p class="current-vacancies__vacancies-title txt26 txt26_caps">
                  Инженер-конструктор станков с ЧПУ
                </p>
                <div class="current-vacancies__vacancies-content-wrapper">
                  <div class="current-vacancies__vacancies-content-box">
                    <p class="current-vacancies__vacancies-content-title txt18 txt18_caps">
                      Требуемый опыт работы
                    </p>
                    <p class="current-vacancies__vacancies-content-desc txt18">3–6 лет</p>
                  </div>
                  <div class="current-vacancies__vacancies-content-box">
                    <p class="current-vacancies__vacancies-content-title txt18 txt18_caps">Занятость</p>
                    <p class="current-vacancies__vacancies-content-desc txt18">полная</p>
                  </div>
                </div>
              </div>
              <a
                href="#"
                class="current-vacancies__current-vacancies-link button button-border button-border--white txt20 txt20_caps"
              >
                подробнее
              </a>
            </li>
            <li class="current-vacancies__vacancies-item">
              <div class="current-vacancies__vacancies-info">
                <p class="current-vacancies__vacancies-title txt26 txt26_caps">
                  Сервисный инженер (фрезерные обрабатывающие центры)
                </p>
                <div class="current-vacancies__vacancies-content-wrapper">
                  <div class="current-vacancies__vacancies-content-box">
                    <p class="current-vacancies__vacancies-content-title txt18 txt18_caps">
                      Требуемый опыт работы
                    </p>
                    <p class="current-vacancies__vacancies-content-desc txt18">3–6 лет</p>
                  </div>
                  <div class="current-vacancies__vacancies-content-box">
                    <p class="current-vacancies__vacancies-content-title txt18 txt18_caps">Занятость</p>
                    <p class="current-vacancies__vacancies-content-desc txt18">полная</p>
                  </div>
                </div>
              </div>
              <a
                href="#"
                class="current-vacancies__current-vacancies-link button button-border button-border--white txt20 txt20_caps"
              >
                подробнее
              </a>
            </li>
            <li class="current-vacancies__vacancies-item">
              <div class="current-vacancies__vacancies-info">
                <p class="current-vacancies__vacancies-title txt26 txt26_caps">
                  Слесарь механосборочных работ
                </p>
                <div class="current-vacancies__vacancies-content-wrapper">
                  <div class="current-vacancies__vacancies-content-box">
                    <p class="current-vacancies__vacancies-content-title txt18 txt18_caps">
                      Требуемый опыт работы
                    </p>
                    <p class="current-vacancies__vacancies-content-desc txt18">3–6 лет</p>
                  </div>
                  <div class="current-vacancies__vacancies-content-box">
                    <p class="current-vacancies__vacancies-content-title txt18 txt18_caps">Занятость</p>
                    <p class="current-vacancies__vacancies-content-desc txt18">полная</p>
                  </div>
                </div>
              </div>
              <a
                href="#"
                class="current-vacancies__current-vacancies-link button button-border button-border--white txt20 txt20_caps"
              >
                подробнее
              </a>
            </li>
            <li class="current-vacancies__vacancies-item">
              <div class="current-vacancies__vacancies-info">
                <p class="current-vacancies__vacancies-title txt26 txt26_caps">
                  Электромонтажник/Сборщик электрошкафов
                </p>
                <div class="current-vacancies__vacancies-content-wrapper">
                  <div class="current-vacancies__vacancies-content-box">
                    <p class="current-vacancies__vacancies-content-title txt18 txt18_caps">
                      Требуемый опыт работы
                    </p>
                    <p class="current-vacancies__vacancies-content-desc txt18">3–6 лет</p>
                  </div>
                  <div class="current-vacancies__vacancies-content-box">
                    <p class="current-vacancies__vacancies-content-title txt18 txt18_caps">Занятость</p>
                    <p class="current-vacancies__vacancies-content-desc txt18">полная</p>
                  </div>
                </div>
              </div>
              <a
                href="#"
                class="current-vacancies__current-vacancies-link button button-border button-border--white txt20 txt20_caps"
              >
                подробнее
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
