<section class="delivery-content">
  <div class="container">
    <div class="delivery-content__inner">
      <p class="delivery-content__title tl1">Доставка и оплата</p>
      <div class="delivery-content__text-box">
        <p class="delivery-content__text txt16">
          После подтверждения заказа заключается договор на поставку. В договоре прописываются полные
          характеристики станка, условия транспортировки, дополнительные работы, сроки доставки и итоговая
          стоимость.
        </p>
        <p class="delivery-content__text txt16">
          Оплата происходит в три этапа: 50% предоплата, 40% после готовности станка к отгрузке, и 10% после
          подписания акта приемки станка на площадке заказчика.
        </p>
        <p class="delivery-content__text txt16">
          Не является публичной офертой. Вся представленная на сайте информация предназначена исключительно
          для ознакомления. Индивидуальные условия поставки и оплаты прописываются в договоре, заключаемым с
          покупателем.
        </p>
        <p class="delivery-content__text txt16">Отгрузка станка происходит с нашего производства в Москве.</p>
        <p class="delivery-content__text txt16">
          Обрабатывающий центр – сложная техника, которая требует квалифицированной транспортировки,
          пусконаладочных и такелажных работ. Изучите, пожалуйста, раздел «такелажные работы» в руководстве
          пользователя.
        </p>
        <p class="delivery-content__text txt16">
          Мы готовы помочь вам в доставке и настройке станка – для этого необходимо отметить нужные пункты в
          конфигураторе или при оформлении заявки на нашем сайте.
        </p>
        <p class="delivery-content__text txt16">
          Стоимость доставки и пусконаладки варьируется в зависимости от региона, точную сумму вам сообщит
          представитель компании при подтверждении заказа.
        </p>
      </div>
    </div>
  </div>
</section>
