<section class="det-vacancies _first">
  <div class="container">
    <div class="det-vacancies__inner">
      <p class="det-vacancies__title tl2">Инженер-конструктор станков с ЧПУ</p>
      <div class="det-vacancies__btn-box">
        <button data-popup="#popup__summary" class="det-vacancies__btn button button-turquoise txt20 txt20_caps">
          откликнуться
        </button>
        <a href="#"  class="det-vacancies__btn button button-border txt20 txt20_caps">
          перейти к вакансии на hh.ru
        </a>
      </div>
      <div class="det-vacancies__info-row">
        <div class="det-vacancies__info-box">
          <p class="det-vacancies__info-title txt18 txt18_caps">Требуемый опыт работы</p>
          <p class="det-vacancies__info-desc txt18">3–6 лет</p>
        </div>
        <div class="det-vacancies__info-box">
          <p class="det-vacancies__info-title txt18 txt18_caps">Занятость</p>
          <p class="det-vacancies__info-desc txt18">Полная</p>
        </div>
        <div class="det-vacancies__info-box">
          <p class="det-vacancies__info-title txt18 txt18_caps">Образование</p>
          <p class="det-vacancies__info-desc txt18">Высшее</p>
        </div>
        <div class="det-vacancies__info-box">
          <p class="det-vacancies__info-title txt18 txt18_caps">График</p>
          <p class="det-vacancies__info-desc txt18">Полный</p>
        </div>
      </div>
      <div class="det-vacancies__vacancie-box">
        <div class="det-vacancies__vacancie-info-box">
          <p class="det-vacancies__vacancie-info-company-text txt18 txt18_caps">
            БИВЕР ТЕХ - российский производитель станков с ЧПУ собственной разработки.
          </p>
          <div class="det-vacancies__vacancie-info-text-box">
            <p class="det-vacancies__vacancie-info-text txt18">
              Разработка станков ведется в Москве, серийное производство в г. Нерехте Костромской области.
            </p>
            <p class="det-vacancies__vacancie-info-text txt18">
              Мы ищем сервис-инженера для пуско-наладки и сдачи станков у заказчиков, с командировками по всей
              России и зарубеж.
            </p>
          </div>
        </div>

        <div class="det-vacancies__vacancie-list-box">
          <p class="det-vacancies__vacancie-list-title txt18 txt18_caps">Обязанности:</p>
          <ul class="det-vacancies__vacancie-list">
            <li class="det-vacancies__vacancie-item txt18">
              Выполнение монтажных, пуско-наладочных, ремонтных и сервисных работ фрезерных обрабатывающих
              центров на территории заказчика;
            </li>
            <li class="det-vacancies__vacancie-item txt18">
              Сбор, подготовка и систематизирование информации, необходимой для оперативной работы сервисной
              службы: руководств по эксплуатации, технических описаний и т.д.;
            </li>
            <li class="det-vacancies__vacancie-item txt18">
              Консультирование заказчиков по телефону, электронной почте и через Интернет;
            </li>
            <li class="det-vacancies__vacancie-item txt18">
              Проведение инструктажа персонала заказчика по работе оборудования;
            </li>
            <li class="det-vacancies__vacancie-item txt18">
              Подготовка отчетов по выполненной работе и по визитам к клиентам, составление отчетных
              командировочных документов;
            </li>
            <li class="det-vacancies__vacancie-item txt18">
              Информирование руководства сервиса об оценке заказчиком качества работы сервиса, подготовка
              рекомендаций по улучшению работы сервиса или конструкции станка.
            </li>
          </ul>
        </div>
        <div class="det-vacancies__vacancie-list-box">
          <p class="det-vacancies__vacancie-list-title txt18 txt18_caps">Требования:</p>
          <ul class="det-vacancies__vacancie-list">
            <li class="det-vacancies__vacancie-item txt18">
              Опыт обслуживания, ремонта и монтажа металлообрабатывающего оборудования с ЧПУ: фрезерные и
              токарные станки, обрабатывающие центры;
            </li>
            <li class="det-vacancies__vacancie-item txt18">
              Знание устройства современного металлообрабатывающего оборудования, устройств ЧПУ, технологий
              металлообработки;
            </li>
            <li class="det-vacancies__vacancie-item txt18">
              Знание механики, гидравлики, пневматики, электрики и основ электроники (автоматики);
            </li>
            <li class="det-vacancies__vacancie-item txt18">
              Работа с ПК в качестве уверенного пользователя;
            </li>
            <li class="det-vacancies__vacancie-item txt18">Готовность к командировкам.</li>
          </ul>
        </div>
      </div>
      <div class="det-vacancies__img-box">
        <img src="./assets/images/det-vacancy.webp" alt="">
      </div>
    </div>
  </div>
</section>
