<section class="det-news _first">
  <div class="container">
    <div class="det-news__inner">
      <div class="det-news__header-box">
        <div class="det-news__data-box">
          <p class="det-news__data-text txt16">Дата</p>
          <p class="det-news__data txt18">10.12.23</p>
        </div>
        <p class="det-news__title tl2">ВЫСОКАЯ ПРОИЗВОДИТЕЛЬНОСТЬ, КОМПАКТНЫЙ РАЗМЕР СТАНКОВ BEAVERMILL</p>
        <p class="det-news__text txt20 txt20_caps det-news__text--grew">
          СТАНОК С ЧПУ-Это высокотехнологичное оборудование, предназначенное для получения деталей за счет
          удаления лишнего материала заготовки. Современные станки с ЧПУ могут фрезеровать, сверлить,
          растачивать отверстия и нарезать резьбу.
        </p>

        <ul class="det-news__contacts-list">
          <li class="det-news__contacts-item">
            <a href="#" class="det-news__contacts-link">
              <div class="det-news__contacts-link-svg-box">
                <img src="./assets/images/vk-grey.svg" alt="" /> 
              </div>
            </a>
          </li>
          <li class="det-news__contacts-item">
            <a href="#" class="det-news__contacts-link">
              <div class="det-news__contacts-link-svg-box">
                <img src="./assets/images/watsapp-grey.svg" alt="" /> 
              </div>
            </a>
          </li>
          <li class="det-news__contacts-item">
            <a href="#" class="det-news__contacts-link">
              <div class="det-news__contacts-link-svg-box">
                <img src="./assets/images/youtube-grey.svg" alt="" /> 
              </div>
            </a>
          </li>
        </ul>
      </div>
      <div class="det-news__img-box det-news__img-box--big">
        <img src="./assets/images/det-news-big.webp" alt="" />
      </div>
      <div class="det-news__text-box">
        <p class="det-news__text-title txt26 txt26_caps">СТАНОК С ЧПУ</p>
        <div class="det-news__text-wrapper">
          <p class="det-news__text txt20 txt20_caps det-news__text--grew">
            Это высокотехнологичное оборудование, предназначенное для получения деталей за счет удаления
            лишнего материала заготовки. Современные станки с ЧПУ могут фрезеровать, сверлить, растачивать
            отверстия и нарезать резьбу.
          </p>
          <p class="det-news__text txt20">
            Ключевая характеристика станка - его жесткость - способность сопротивляться нагрузкам и вибрациям,
            возникающим от фрезерования. В XX веке стандарты проектирования станков были ниже: скорость
            перемещения до 5 м/мин с частотой вращения до 3 000 об/мин. Инструменты изготавливались из
            быстрорежущей или инструментальной стали, труд рабочих стоил дешево и не было таких строгих
            требований к безопасности, как сейчас.
          </p>
        </div>
      </div>
      <div class="det-news__swiper-box">
        <div class="det-news__swiper swiper">
          <div class="det-news__swiper-wrapper swiper-wrapper">
            <div class="det-news__swiper-slide swiper-slide">
              <div class="det-news__swiper-slide-img-box">
                <img src="./assets/images/det-news-min.webp" alt="" />
              </div>
            </div>
            <div class="det-news__swiper-slide swiper-slide">
              <div class="det-news__swiper-slide-img-box">
                <img src="./assets/images/det-news-min.webp" alt="" />
              </div>
            </div>
            <div class="det-news__swiper-slide swiper-slide">
              <div class="det-news__swiper-slide-img-box">
                <img src="./assets/images/det-news-min.webp" alt="" />
              </div>
            </div>
            <div class="det-news__swiper-slide swiper-slide">
              <div class="det-news__swiper-slide-img-box">
                <img src="./assets/images/det-news-min.webp" alt="" />
              </div>
            </div>
            <div class="det-news__swiper-slide swiper-slide">
              <div class="det-news__swiper-slide-img-box">
                <img src="./assets/images/det-news-min.webp" alt="" />
              </div>
            </div>
          </div>
        </div>
        <div class="det-news__swiper-btn-box">
          <div class="det-news__swiper-btn det-news__swiper-btn--prev swiper-button swiper-button-prev">
            <svg width="62" height="62" viewBox="0 0 62 62" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M61 33.5V53C61 57.4183 57.4183 61 53 61L9 61C4.58172 61 1 57.4183 1 53L1 9C1 4.58172 4.58172 1 9 1L53 1C57.4183 1 61 4.58172 61 9V28"
                stroke="#676767"
                stroke-width="1.5"
              />
              <path
                d="M59 31L17 31"
                stroke="#676767"
                stroke-width="1.5"
                stroke-linecap="square"
                stroke-linejoin="round"
              />
              <path
                d="M32 47L16 31.7395M16.0133 30.3198L31.9281 15"
                stroke="#676767"
                stroke-width="1.5"
                stroke-linecap="square"
                stroke-linejoin="round"
              />
            </svg>
          </div>
          <div class="det-news__swiper-btn det-news__swiper-btn--next swiper-button swiper-button-next">
            <svg width="62" height="62" viewBox="0 0 62 62" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M1 28.5V9C1 4.58172 4.58172 1 9 1H53C57.4183 1 61 4.58172 61 9V53C61 57.4183 57.4183 61 53 61H9C4.58172 61 1 57.4183 1 53V34"
                stroke="#676767"
                stroke-width="1.5"
              />
              <path
                d="M45 31L3 31"
                stroke="#676767"
                stroke-width="1.5"
                stroke-linecap="square"
                stroke-linejoin="round"
              />
              <path
                d="M30 15L46 30.2605M45.9867 31.6802L30.0719 47"
                stroke="#676767"
                stroke-width="1.5"
                stroke-linecap="square"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </div>
      </div>
      <div class="det-news__text-box">
        <p class="det-news__text-title txt26 txt26_caps">ПОЧЕМУ ВАЖНА ЖЕСТКОСТЬ СТАНКА?</p>

        <ul class="det-news__text-list">
          <li class="det-news__text-item txt20">
            Жесткость станка отражается в двух аспектах: статической жесткости и динамической жесткости.
          </li>
          <li class="det-news__text-item txt20">
            Статическая жесткость – способность сопротивляться деформациям станка от сил в процессе резания.
          </li>
          <li class="det-news__text-item txt20">
            При обработке происходит деформация направляющего рельса и деформация станины.
          </li>
          <li class="det-news__text-item txt20">
            Динамическая жесткость – сопротивление станка вынужденным колебаниям, этот термин определяется
            величиной собственных частот.
          </li>
          <li class="det-news__text-item txt20">
            Режущий инструмент вращается с высокой скоростью, а вибрация вызывается неравномерным силами
            резания и стружкой. Режущая кромка является источником вибрации всего оборудования.
          </li>
          <li class="det-news__text-item txt20">
            Шарико-винтовые передачи, система направляющих и станина создают вынужденную вибрацию под
            действием ее источника.
          </li>
        </ul>
      </div>
      <div class="det-news__text-box">
        <p class="det-news__text-title txt26 txt26_caps">
          КАК МЫ СДЕЛАЛИ СТАНОК BEAVERMILL ЖЕСТКИМ, ТОЧНЫМ И КОМПАКТНЫМ?
        </p>

        <div class="det-news__text-wrapper">
          <p class="det-news__text txt20">
            Геометрия станины BEAVERMILL разработана с использованием методов генеративного дизайна. Это
            принципиально новая технология проектирования, основанная на синтезе геометрии, отвечающим
            заданным условиям с помощью технологии искусственного интеллекта.
          </p>
          <p class="det-news__text txt20">
            Генеративный дизайн позволил получить станок минимально возможной массы и габаритов с максимальной
            жесткостью. Достичь такого результата было бы невозможны при использовании классических методов
            проектирования.
          </p>
          <p class="det-news__text txt20 txt20_caps det-news__text--grew">
            Это высокотехнологичное оборудование, предназначенное для получения деталей за счет удаления
            лишнего материала заготовки. Современные станки с ЧПУ могут фрезеровать, сверлить, растачивать
            отверстия и нарезать резьбу.
          </p>
          <p class="det-news__text txt20">
            Ключевая характеристика станка - его жесткость - способность сопротивляться нагрузкам и вибрациям,
            возникающим от фрезерования. В XX веке стандарты проектирования станков были ниже: скорость
            перемещения до 5 м/мин с частотой вращения до 3 000 об/мин. Инструменты изготавливались из
            быстрорежущей или инструментальной стали, труд рабочих стоил дешево и не было таких строгих
            требований к безопасности, как сейчас.
          </p>
        </div>
      </div>
      <div class="det-news__img-box det-news__img-box--min">
        <img src="./assets/images/det-news-min.webp" alt="" />
      </div>
      <div class="det-news__text-box">
        <p class="det-news__text-title txt26 txt26_caps">ПОЧЕМУ ВАЖНА ЖЕСТКОСТЬ СТАНКА?</p>

        <ul class="det-news__text-list">
          <li class="det-news__text-item txt20">
            Жесткость станка отражается в двух аспектах: статической жесткости и динамической жесткости.
          </li>
          <li class="det-news__text-item txt20">
            Статическая жесткость – способность сопротивляться деформациям станка от сил в процессе резания.
          </li>
          <li class="det-news__text-item txt20">
            При обработке происходит деформация направляющего рельса и деформация станины.
          </li>
          <li class="det-news__text-item txt20">
            Динамическая жесткость – сопротивление станка вынужденным колебаниям, этот термин определяется
            величиной собственных частот.
          </li>
          <li class="det-news__text-item txt20">
            Режущий инструмент вращается с высокой скоростью, а вибрация вызывается неравномерным силами
            резания и стружкой. Режущая кромка является источником вибрации всего оборудования.
          </li>
          <li class="det-news__text-item txt20">
            Шарико-винтовые передачи, система направляющих и станина создают вынужденную вибрацию под
            действием ее источника.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
