<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <div class="footer__about">
        <div class="footer__about-top">
          <a href="#">
            <div class="footer__logo">
              <img src="./assets/images/logo-footer.svg" alt="">
            </div>
          </a>
          <p class="txt16">Фрезерные станки с ЧПУ</p>
        </div>
        <div class="footer__about-bottom">
          <a href="#" class="footer__info-link txt-small">Политика конфиденциальности</a>
          <a href="#" class="footer__info-link txt-small">Пользовательское соглашение</a>
        </div>
      </div>

      <div class="footer__pages">
        <a href="#">
          <span class="txt18 txt18_caps">о нас</span>
        </a>
        <a href="#">
          <span class="txt18 txt18_caps">Доставка и оплата</span>
        </a>
        <a href="#">
          <span class="txt18 txt18_caps">Контакты</span>
        </a>
        <a href="#">
          <span class="txt18 txt18_caps">Новости</span>
        </a>
        <a href="#">
          <span class="txt18 txt18_caps">Карьера</span>
        </a>
      </div>

      <div class="footer__list-col">
        <a href="#" class="txt18 txt18_caps"> Станки</a>
        <ul class="footer__list">
          <li class="footer__list-item">
            <a href="#">
              <span class="txt16">BEAVERMILL (3 и 4 оси)</span>
            </a>
          </li>

          <li class="footer__list-item">
            <a href="#">
              <span class="txt16">BEAVERMILL (5 осей)</span>
            </a>
          </li>

          <li class="footer__list-item">
            <a href="#">
              <span class="txt16">BEAVERMILL mini</span>
            </a>
          </li>

          <li class="footer__list-item">
            <a href="#">
              <span class="txt16">BEAVERMILL PLUS (5 осей)</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="footer__contacts">
        <p class="footer__contacts-title txt18 txt18_caps">Наши контакты</p>
        <div class="footer__contacts-links">
          <a href="tel:+74992880398">
            <span class="txt16">+7 (499) 288-03-98</span>
          </a>
          <a href="mailto:info@beavertech.ru">
            <span class="txt16">info@beavertech.ru</span>
          </a>
        </div>
        <div class="socials">
          <a href="#">
            <span class="socials__icon"> <img src="./assets/images/vk-black.svg" alt="" /> </span
          ></a>
          <a href="#">
            <span class="socials__icon"> <img src="./assets/images/watsapp-black.svg" alt="" /></span
          ></a>
          <a href="#">
            <span class="socials__icon"> <img src="./assets/images/youtube-black.svg" alt="" /> </span
          ></a>
        </div>
      </div>

      <div class="footer__req">
        <div class="footer__req-content">
          <p class="footer__req-title txt26 txt26_caps">нужна помощь?</p>
          <p class="footer__req-text txt20">
            Оставьте заявку и наши специалисты свяжутся с вами в ближайшее время
          </p>
        </div>

        <button class="button button-turquoise txt20 txt20_caps" data-popup="#popup__application">заявка</button>
      </div>
    </div>
    <div class="footer__bottom">
      <div class="footer__link-box">
        <a href="#" class="footer__info-link txt-small">Политика конфиденциальности</a>
        <a href="#" class="footer__info-link txt-small">Пользовательское соглашение</a>
      </div>
      <div class="footer__rights">
        <p class="txt-small">2023 ООО «БИВЕР ТЕХ»</p>
        <p class="txt-small">© Все права защищены</p>
      </div>
    </div>
  </div>
</footer>
