<section class="form-min">
  <div class="container">
    <div class="form-min__inner">
      <p class="form-min__title tl1">наши станки режут все — от пластика до титана</p>
      <div class="form-min__form-wrapper">
        <p class="form-min__form-title txt18 txt18_caps">
          заполните форму и наши специалисты свяжутся с вами в ближайшее время
        </p>
        <form data-popup-message="#popup__success" data-dev action="#" class="form-min__form">
          <label class="form-min__label input-group">
            <span class="form__input-wrapper txt18">
              <input
                class="input--name form-min__form-input"
                type="text"
                placeholder="Имя"
                data-validate
                data-required
                autocomplete="off"
                name="form[]"
              />
            </span>
            <span class="error-span">Поле заполнено неверно</span>
          </label>
          <label class="form-min__label input-group">
            <span class="form__input-wrapper">
              <input
                class="input--tel form-min__form-input phone-mask txt18"
                type="text"
                placeholder="Номер телефона"
                data-validate
                data-required="tel"
                autocomplete="off"
                name="form[]"
              />
            </span>
            <span class="error-span">Поле заполнено неверно</span>
          </label>
          <label class="form-min__label input-group">
            <span class="form__input-wrapper">
              <input
                class="input--mail form-min__form-input txt18"
                type="text"
                placeholder="E-mail"
                data-validate
                data-required="email"
                autocomplete="off"
                name="form[]"
              />
            </span>
            <span class="error-span">Поле заполнено неверно</span>
          </label>
         

          <button type="submit" class="form-min__btn button button-turquoise txt20 txt20_caps">
            отправить
          </button>
        </form>
        <p class="form-min__form-desk txt16">
          Нажимая «Отправить» вы подтверждаете, что согласны на обработку персональных данных
        </p>
      </div>
      <div class="form-min__img-box">
        <img src="./assets/images/form-min.webp" alt="" />
      </div>
    </div>
  </div>
</section>
