<section class="generative-design item">
  <div class="container generative-design__container">
    <div class="generative-design__inner">
      <div class="generative-design__img-box">
        <img src="./assets/images/generative-design-bg.webp" alt="" />
      </div>
      <div class="generative-design__title-box">
        <p class="generative-design__title tl1">ГЕНЕРАТИВНЫЙ ДИЗАЙН СТРУКТУРЫ</p>
        <p class="generative-design__desc txt26 txt26_caps">
          Станок BEAVERMILL спроектирован с помощью генеративного дизайна, а все структурные части рассчитаны
          с использованием систем инженерного анализа.
        </p>
      </div>
      <div class="generative-design__text-box">
        <p class="generative-design__text txt20">
          За счет увеличения расстояния между направляющими снизилась нагрузка на рельсы, увеличилась
          стабильность и жесткость при резке даже труднообрабатываемых материалов.
        </p>
        <p class="generative-design__text txt20">
          Станина из синтетического диабаза С-образной структуры с повышенными виброгасящими свойствами,
          обеспечивает стабильную обработку и экономичную эксплуатацию на всем жизненном цикле станка.
        </p>
        <p class="generative-design__text txt20">
          Станина из синтетического диабаза С-образной структуры с повышенными виброгасящими свойствами,
          обеспечивает стабильную обработку и экономичную эксплуатацию на всем жизненном цикле станка.
        </p>
        <p class="generative-design__text txt20">
          Станина из синтетического диабаза С-образной структуры с повышенными виброгасящими свойствами,
          обеспечивает стабильную обработку и экономичную эксплуатацию на всем жизненном цикле станка.
        </p>
        <p class="generative-design__text txt20">
          За счет увеличения расстояния между направляющими снизилась нагрузка на рельсы, увеличилась
          стабильность и жесткость при резке даже труднообрабатываемых материалов.
        </p>
      </div>
    </div>
  </div>
</section>
