<form data-popup-message="" data-dev action="" class="lk-personal">
  <p class="lk-personal__title txt20">Личные данные</p>
  <div class="lk-personal__form-input-wrapper">
    <div class="lk-personal__form-input-box">
      <label class="lk-personal__label input-group">
        <span class="lk-personal__label-text txt-small">Ваши имя и фамилия</span>
        <span class="form__input-wrapper txt18">
          <input
            class="input--name lk-personal__form-input"
            type="txt18"
            data-validate
            data-required
            autocomplete="off"
            name="form[]"
            value="Иванов Юрий"
          />
        </span>
        <span class="error-span">Поле заполнено неверно</span>
      </label>
      <label class="lk-personal__label input-group">
        <span class="lk-personal__label-text txt-small">Название компании</span>
        <span class="form__input-wrapper txt18">
          <input
            class="lk-personal__form-input"
            type="txt18"
            autocomplete="off"
            name="form[]"
            value="Бивертех"
          />
        </span>
        <span class="error-span">Поле заполнено неверно</span>
      </label>

      <label class="lk-personal__label input-group">
        <span class="lk-personal__label-text txt-small">Логин</span>
        <span class="form__input-wrapper txt18">
          <input
            class="lk-personal__form-input"
            type="text"
            data-validate
            data-required
            autocomplete="off"
            name="form[]"
            value="Ivanov_Y17"
          />
        </span>
        <span class="error-span">Поле заполнено неверно</span>
      </label>
      <label class="lk-personal__label input-group __viewpass">
        <span class="lk-personal__label-text txt-small">Пароль</span>
        <span class="form__input-wrapper">
          <input
            class="input--password lk-personal__form-input txt18"
            type="password"
            data-validate
            data-required="password"
            autocomplete="off"
            name="form[]"
            value="wefweferger13434"
          />
          <span class="viewpass-btn">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 13" fill="none">
              <path
                d="M16.6823 5.6625C16.8868 5.89219 17 6.1906 17 6.5C17 6.8094 16.8868 7.10781 16.6823 7.3375C15.3875 8.75 12.4404 11.5 9 11.5C5.55961 11.5 2.61247 8.75 1.3177 7.3375C1.1132 7.10781 1 6.8094 1 6.5C1 6.1906 1.1132 5.89219 1.3177 5.6625C2.61247 4.25 5.55961 1.5 9 1.5C12.4404 1.5 15.3875 4.25 16.6823 5.6625Z"
                stroke="#676767"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <line
                x1="1"
                y1="12"
                x2="17"
                y2="1"
                stroke="#676767"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M8.99943 8.99994C10.3615 8.99994 11.4657 7.88065 11.4657 6.49994C11.4657 5.11923 10.3615 3.99994 8.99943 3.99994C7.63737 3.99994 6.5332 5.11923 6.5332 6.49994C6.5332 7.88065 7.63737 8.99994 8.99943 8.99994Z"
                stroke="#676767"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </span>
        </span>
        <span class="error-span">Поле заполнено неверно</span>
      </label>
    </div>

    <button type="submit" class="lk-personal__btn button button-turquoise txt20 txt20_caps">Сохранить</button>
  </div>
</form>
