<div class="lk-create">
  <div class="lk-create__btn-box lk-create__btn-box--desktop">
    <button class="lk-create__btn active button">помощь</button>
    <button class="lk-create__btn button">предложения по улучшению</button>
  </div>
  <div class="lk-create__btn-wrapper lk-create__btn-box--mobile">
    <div class="lk-create__btn-top">
      <span>помощь</span>
      <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M6 9.5L12 15.5L18 9.5"
          stroke="#012028"
          stroke-width="1.5"
          stroke-linecap="square"
          stroke-linejoin="round"
        ></path>
      </svg>
    </div>
    <div class="lk-create__btn-bottom">
      <div class="lk-create__btn-box">
        <button class="lk-create__btn active button">помощь</button>
        <button class="lk-create__btn button">предложения по улучшению</button>
      </div>
    </div>
  </div>
  <div class="lk-create__form-wrapper">
    <form data-popup-message="#popup__appeal-success" data-dev action="" class="lk-create__form active">
      <div class="lk-create__form-input-wrapper">
        <div class="lk-create__form-input-box">
          <div class="lk-create__form-dropdown lk-create__form-dropdown--machine form__dropdown">
            <div class="form__dropdown_top">
              <label for="" class="lk-create__label input-group">
                <span class="lk-create__label-text txt-small">Станок*</span>
                <span class="form__input-wrapper">
                  <input
                    class="input__field txt18 input-dropdown"
                    type="text"
                    data-validate
                    data-required="dropdown"
                    autocomplete="off"
                    name="form[]"
                    data-no-focus-classes
                  />

                  <span class="form__input-svg-box">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 25" fill="none">
                      <path
                        d="M6 9.5L12 15.5L18 9.5"
                        stroke="#0E1C15"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </span>
                </span>
                <span class="error-span subscription">Выберите станок</span>
              </label>
            </div>
            <div class="form__dropdown_bottom">
              <div class="form__dropdown_list">
                <label class="form__dropdown_item">
                  <div class="form__dropdown_item_checkbox radio-wrapper">
                    <input checked type="radio" name="machine" />
                  </div>
                  <span class="form__dropdown_item_name txt18">Beavermill 3 и 4 оси</span>
                </label>
                <label class="form__dropdown_item">
                  <div class="form__dropdown_item_checkbox radio-wrapper">
                    <input type="radio" name="machine" />
                  </div>
                  <span class="form__dropdown_item_name txt18">Beavermill 5 осей</span>
                </label>
                <label class="form__dropdown_item">
                  <div class="form__dropdown_item_checkbox radio-wrapper">
                    <input type="radio" name="machine" />
                  </div>
                  <span class="form__dropdown_item_name txt18">Beavermill plus</span>
                </label>
                <label class="form__dropdown_item">
                  <div class="form__dropdown_item_checkbox radio-wrapper">
                    <input type="radio" name="machine" />
                  </div>
                  <span class="form__dropdown_item_name txt18">Beavermill mini</span>
                </label>
                <label class="form__dropdown_item">
                  <div class="form__dropdown_item_checkbox radio-wrapper">
                    <input type="radio" name="machine" />
                  </div>
                  <span class="form__dropdown_item_name txt18">BEAVERMILL PLUS (5 осей)</span>
                </label>
              </div>
            </div>
          </div>

          <div class="lk-create__form-dropdown lk-create__form-dropdown--type form__dropdown">
            <div class="form__dropdown_top">
              <label for="" class="lk-create__label input-group">
                <span class="lk-create__label-text txt-small">Тип проблемы*</span>
                <span class="form__input-wrapper">
                  <input
                    class="input__field txt18 input-dropdown"
                    type="text"
                    data-validate
                    data-required="dropdown"
                    autocomplete="off"
                    name="form[]"
                    data-no-focus-classes
                  />

                  <span class="form__input-svg-box">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 25" fill="none">
                      <path
                        d="M6 9.5L12 15.5L18 9.5"
                        stroke="#0E1C15"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </span>
                </span>
                <span class="error-span subscription">Выберите станок</span>
              </label>
            </div>
            <div class="form__dropdown_bottom">
              <div class="form__dropdown_list">
                <label class="form__dropdown_item">
                  <div class="form__dropdown_item_checkbox radio-wrapper">
                    <input checked type="radio" name="type" />
                  </div>
                  <span class="form__dropdown_item_name txt18">Поломка</span>
                </label>
                <label class="form__dropdown_item">
                  <div class="form__dropdown_item_checkbox radio-wrapper">
                    <input type="radio" name="type" />
                  </div>
                  <span class="form__dropdown_item_name txt18">Вопрос по эксплуатации</span>
                </label>
                <label class="form__dropdown_item">
                  <div class="form__dropdown_item_checkbox radio-wrapper">
                    <input type="radio" name="type" />
                  </div>
                  <span class="form__dropdown_item_name txt18">Запрос функционала</span>
                </label>
                <label class="form__dropdown_item">
                  <div class="form__dropdown_item_checkbox radio-wrapper">
                    <input type="radio" name="type" />
                  </div>
                  <span class="form__dropdown_item_name txt18">Другое</span>
                </label>
              </div>
            </div>
          </div>

          <label class="lk-create__label input-group">
            <span class="lk-create__label-text txt-small">Комментарий</span>
            <span class="form__input-wrapper">
              <textarea
                class="input--textarea txt18"
                placeholder="Расскажите подробнее о вашей проблеме"
                autocomplete="off"
                name="form[]"
              ></textarea>
              <span class="error-span"></span>
            </span>
          </label>

          <div class="lk-create__file-wrapper">
            <p class="lk-create__file-text">
              Прикрепите фотографию 
              с вашей проблемой
            </p>

            <div class="lk-create__file-box">
              <label class="lk-create__label-input-file label-input-file input-file">
                <input type="file" multiple="" name="file_help" />
                <span class="lk-create__label-input-file-text-box label-input-file-text-box txt18 txt18_caps">
                  прикрепить файл
                  <span class="lk-create__label-input-file-svg-box label-input-file-svg-box">
                    <img src="./assets/images/pin.svg" alt="" />
                  </span>
                </span>
                <span class="lk-create__label-input-file-text txt-small">До 5 файлов</span>
              </label>
              <div class="lk-create__form-files-items form-files-items file_help"></div>
            </div>
          </div>
        </div>

        <button type="submit" class="lk-create__form-btn button button-turquoise txt20 txt20_caps">
          Отправить
        </button>
      </div>
    </form>

    <form data-popup-message="#popup__appeal-success" data-dev action="" class="lk-create__form">
      <div class="lk-create__form-input-wrapper">
        <div class="lk-create__form-input-box">
          <label class="lk-create__label input-group">
            <span class="lk-create__label-text txt-small">Ваше предложение</span>
            <span class="form__input-wrapper">
              <textarea
                class="input--textarea txt18"
                placeholder="Опишите ваше предложение"
                autocomplete="off"
                name="form[]"
              ></textarea>
              <span class="error-span"></span>
            </span>
          </label>

          <div class="lk-create__file-wrapper">
            <div class="lk-create__file-box">
              <label class="lk-create__label-input-file label-input-file input-file">
                <input type="file" multiple="" name="file_offer" />
                <span class="lk-create__label-input-file-text-box label-input-file-text-box txt18 txt18_caps">
                  прикрепить файл
                  <span class="lk-create__label-input-file-svg-box label-input-file-svg-box">
                    <img src="./assets/images/pin.svg" alt="" />
                  </span>
                </span>
                <span class="lk-create__label-input-file-text txt-small">До 5 файлов</span>
              </label>
              <div class="lk-create__form-files-items form-files-items file_offer"></div>
            </div>
          </div>
        </div>

        <button type="submit" class="lk-create__form-btn button button-turquoise txt20 txt20_caps">
          Отправить
        </button>
      </div>
    </form>
  </div>
</div>
