<div class="lk-main">
  <div class="lk-main__info-box lk-main__info-box--personal">
    <div class="lk-main__info-header-box">
      <p class="lk-main__info-header-title txt18 txt18_caps">Личные данные</p>
      <div class="lk-main__info-header-svg-wrapper">
        <div class="lk-main__info-header-svg-box">
          <img src="./assets/images/porsonal-white.svg" alt="" />
        </div>
      </div>
    </div>
    <div class="lk-main__info-personal-box">
      <p class="lk-main__info-personal-name tl3">Иван Юрьевич</p>
      <div class="lk-main__info-personal-data">
        <div class="lk-main__info-personal-block">
          <div class="lk-main__info-personal-block-header-box">
            <p class="lk-main__info-personal-block-title txt18 txt18_caps">почта</p>
            <a href="#" class="lk-main__info-personal-link">
              <img src="./assets/images/rewrite.svg" alt="" />
            </a>
          </div>
          <p class="lk-main__info-personal-text txt18">ivan@mail.ru</p>
        </div>
        <div class="lk-main__info-personal-block">
          <div class="lk-main__info-personal-block-header-box">
            <p class="lk-main__info-personal-block-title txt18 txt18_caps">номер телефона</p>
            <a href="#" class="lk-main__info-personal-link">
              <img src="./assets/images/rewrite.svg" alt=""
            /></a>
          </div>
          <p class="lk-main__info-personal-text txt18">8 (999) 999-99-99</p>
        </div>

        <a href="#" class="lk-main__link txt18 txt18_caps">
          пароль
          <span class="lk-main__link-svg-wrapper">
            <span class="lk-main__link-svg-box">
              <svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M6.16797 16.5L16.4805 6.1875"
                  stroke="#013341"
                  stroke-width="1.5"
                  stroke-linecap="square"
                  stroke-linejoin="round"
                ></path>
                <path
                  d="M8.23047 5.5L17.168 5.5L17.168 14.4375"
                  stroke="#013341"
                  stroke-width="1.5"
                  stroke-linecap="square"
                  stroke-linejoin="round"
                ></path>
              </svg>
            </span>
            <span class="lk-main__link-svg-box">
              <svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M6.16797 16.5L16.4805 6.1875"
                  stroke="#013341"
                  stroke-width="1.5"
                  stroke-linecap="square"
                  stroke-linejoin="round"
                ></path>
                <path
                  d="M8.23047 5.5L17.168 5.5L17.168 14.4375"
                  stroke="#013341"
                  stroke-width="1.5"
                  stroke-linecap="square"
                  stroke-linejoin="round"
                ></path>
              </svg>
            </span>
          </span>
        </a>
      </div>
    </div>
  </div>

  <div class="lk-main__info-box lk-main__info-box--applications">
    <div class="lk-main__info-header-box">
      <p class="lk-main__info-header-title txt18 txt18_caps">оБРАЩЕНИЯ</p>
      <div class="lk-main__info-header-svg-wrapper">
        <div class="lk-main__info-header-svg-box">
          <img src="./assets/images/message.svg" alt="" />
        </div>
      </div>
    </div>
    <div class="lk-main__info-applications-box">
      <div class="lk-main__info-applications-data">
        <div class="lk-main__info-applications-block">
          <div class="lk-main__info-applications-block-header-box">
            <p class="lk-main__info-applications-block-title txt18 txt18_caps">В РАБОТЕ</p>
          </div>
          <p class="lk-main__info-applications-text txt18">1 обращение</p>
        </div>

        <a href="#" class="lk-main__link txt18 txt18_caps">
          перейти в чат
          <span class="lk-main__link-svg-wrapper">
            <span class="lk-main__link-svg-box">
              <svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M6.16797 16.5L16.4805 6.1875"
                  stroke="#013341"
                  stroke-width="1.5"
                  stroke-linecap="square"
                  stroke-linejoin="round"
                ></path>
                <path
                  d="M8.23047 5.5L17.168 5.5L17.168 14.4375"
                  stroke="#013341"
                  stroke-width="1.5"
                  stroke-linecap="square"
                  stroke-linejoin="round"
                ></path>
              </svg>
            </span>
            <span class="lk-main__link-svg-box">
              <svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M6.16797 16.5L16.4805 6.1875"
                  stroke="#013341"
                  stroke-width="1.5"
                  stroke-linecap="square"
                  stroke-linejoin="round"
                ></path>
                <path
                  d="M8.23047 5.5L17.168 5.5L17.168 14.4375"
                  stroke="#013341"
                  stroke-width="1.5"
                  stroke-linecap="square"
                  stroke-linejoin="round"
                ></path>
              </svg>
            </span>
          </span>
        </a>
      </div>
    </div>
  </div>

  <div class="lk-main__info-box lk-main__info-box--machines">
    <div class="lk-main__info-header-box">
      <p class="lk-main__info-header-title txt18 txt18_caps">станки</p>
      <div class="lk-main__info-header-svg-wrapper">
        <div class="lk-main__info-header-svg-box">
          <img src="./assets/images/machines-white.svg" alt="" />
        </div>
      </div>
    </div>
    <div class="lk-main__info-machines-box">
      <div class="lk-main__info-machines-block">
        <p class="lk-main__info-machines-name tl3">beavermill 3 оси</p>
        <div class="lk-main__info-machines-info-row">
          <div class="lk-main__info-machines-info-box">
            <p class="lk-main__info-machines-info-time txt18">Дата покупки: 23.04.2024</p>
            <p class="lk-main__info-machines-info-number txt18">Серийный номер:18244654845657</p>
          </div>
          <a href="#" class="lk-main__link txt18 txt18_caps">
            оставить заявку
            <span class="lk-main__link-svg-wrapper">
              <span class="lk-main__link-svg-box">
                <svg
                  width="23"
                  height="22"
                  viewBox="0 0 23 22"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M6.16797 16.5L16.4805 6.1875"
                    stroke="#013341"
                    stroke-width="1.5"
                    stroke-linecap="square"
                    stroke-linejoin="round"
                  ></path>
                  <path
                    d="M8.23047 5.5L17.168 5.5L17.168 14.4375"
                    stroke="#013341"
                    stroke-width="1.5"
                    stroke-linecap="square"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </span>
              <span class="lk-main__link-svg-box">
                <svg
                  width="23"
                  height="22"
                  viewBox="0 0 23 22"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M6.16797 16.5L16.4805 6.1875"
                    stroke="#013341"
                    stroke-width="1.5"
                    stroke-linecap="square"
                    stroke-linejoin="round"
                  ></path>
                  <path
                    d="M8.23047 5.5L17.168 5.5L17.168 14.4375"
                    stroke="#013341"
                    stroke-width="1.5"
                    stroke-linecap="square"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </span>
            </span>
          </a>
        </div>
      </div>

      <div class="lk-main__info-machines-block">
        <p class="lk-main__info-machines-name tl3">Beavermill 5 осей</p>
        <div class="lk-main__info-machines-info-row">
          <div class="lk-main__info-machines-info-box">
            <p class="lk-main__info-machines-info-time txt18">Дата покупки: 23.04.2024</p>
            <p class="lk-main__info-machines-info-number txt18">Серийный номер:18244654845657</p>
          </div>
          <a href="#" class="lk-main__link txt18 txt18_caps">
            оставить заявку
            <span class="lk-main__link-svg-wrapper">
              <span class="lk-main__link-svg-box">
                <svg
                  width="23"
                  height="22"
                  viewBox="0 0 23 22"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M6.16797 16.5L16.4805 6.1875"
                    stroke="#013341"
                    stroke-width="1.5"
                    stroke-linecap="square"
                    stroke-linejoin="round"
                  ></path>
                  <path
                    d="M8.23047 5.5L17.168 5.5L17.168 14.4375"
                    stroke="#013341"
                    stroke-width="1.5"
                    stroke-linecap="square"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </span>
              <span class="lk-main__link-svg-box">
                <svg
                  width="23"
                  height="22"
                  viewBox="0 0 23 22"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M6.16797 16.5L16.4805 6.1875"
                    stroke="#013341"
                    stroke-width="1.5"
                    stroke-linecap="square"
                    stroke-linejoin="round"
                  ></path>
                  <path
                    d="M8.23047 5.5L17.168 5.5L17.168 14.4375"
                    stroke="#013341"
                    stroke-width="1.5"
                    stroke-linecap="square"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </span>
            </span>
          </a>
        </div>
      </div>

      <div class="lk-main__info-machines-block">
        <p class="lk-main__info-machines-name tl3">Beavermill plus</p>
        <div class="lk-main__info-machines-info-row">
          <div class="lk-main__info-machines-info-box">
            <p class="lk-main__info-machines-info-time txt18">Дата покупки: 23.04.2024</p>
            <p class="lk-main__info-machines-info-number txt18">Серийный номер:18244654845657</p>
          </div>
          <a href="#" class="lk-main__link txt18 txt18_caps">
            оставить заявку
            <span class="lk-main__link-svg-wrapper">
              <span class="lk-main__link-svg-box">
                <svg
                  width="23"
                  height="22"
                  viewBox="0 0 23 22"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M6.16797 16.5L16.4805 6.1875"
                    stroke="#013341"
                    stroke-width="1.5"
                    stroke-linecap="square"
                    stroke-linejoin="round"
                  ></path>
                  <path
                    d="M8.23047 5.5L17.168 5.5L17.168 14.4375"
                    stroke="#013341"
                    stroke-width="1.5"
                    stroke-linecap="square"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </span>
              <span class="lk-main__link-svg-box">
                <svg
                  width="23"
                  height="22"
                  viewBox="0 0 23 22"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M6.16797 16.5L16.4805 6.1875"
                    stroke="#013341"
                    stroke-width="1.5"
                    stroke-linecap="square"
                    stroke-linejoin="round"
                  ></path>
                  <path
                    d="M8.23047 5.5L17.168 5.5L17.168 14.4375"
                    stroke="#013341"
                    stroke-width="1.5"
                    stroke-linecap="square"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </span>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
