<section class="machine-development item">
  <div class="container machine-development__container">
    <div class="machine-development__inner" id="machine-development">
      <div class="machine-development__img-box">
        <video class="machine-development__video" src="./assets/images/mainpage-hero-vid.mp4" loop alt="" />
      </div>

      <div class="machine-development__row">
        <div class="machine-development__title-box">
          <div class="machine-development__title-info-box">
            <p class="machine-development__title tl1">Разработка станков</p>
            <p class="machine-development__desc txt20">
              Инженерное ядро компании – выпускники МГТУ Станкин – головного Университета России в области
              станкостроения.
            </p>
          </div>

          <a href="#" class="machine-development__btn button button-turquoise txt20 txt20_caps">
            о разработке
          </a>
        </div>

        <div class="machine-development__category-box desktop">
          <p class="machine-development__desc-text txt18">Высокая жесткость</p>
          <p class="machine-development__desc-text txt18">Компактные габариты</p>
          <p class="machine-development__desc-text txt18">Доступная цена</p>
        </div>
      </div>

      <div class="machine-development__info-row desktop">
        <div class="machine-development__info-box">
          <p class="machine-development__info-title tl3">команда</p>
          <p class="machine-development__info-desc txt16">
            В команде BEAVERTECH ученые, конструкторы и технологи с большим опытом в разработке и эксплуатации
            станков. Инженерное ядро компании – выпускники МГТУ Станкин – головного Университета России в
            области станкостроения.
          </p>
        </div>
        <div class="machine-development__info-box">
          <p class="machine-development__info-title tl3">ГЕНЕРАТИВНЫЙ ДИЗАЙН</p>
          <p class="machine-development__info-desc txt16">
            В команде BEAVERTECH ученые, конструкторы и технологи с большим опытом в разработке и эксплуатации
            станков. Инженерное ядро компании – выпускники МГТУ Станкин – головного Университета России в
            области станкостроения.
          </p>
        </div>
      </div>

      <div class="machine-development__swiper-box mobile">
        <div class="machine-development__swiper swiper">
          <div class="machine-development__swiper-wrapper swiper-wrapper">
            <div class="machine-development__swiper-slide swiper-slide">
              <div class="machine-development__info-box">
                <p class="machine-development__info-title tl3">команда</p>
                <p class="machine-development__info-desc txt16">
                  В команде BEAVERTECH ученые, конструкторы и технологи с большим опытом в разработке и
                  эксплуатации станков. Инженерное ядро компании – выпускники МГТУ Станкин – головного
                  Университета России в области станкостроения.
                </p>
              </div>
            </div>
            <div class="machine-development__swiper-slide swiper-slide">
              <div class="machine-development__info-box">
                <p class="machine-development__info-title tl3">ГЕНЕРАТИВНЫЙ ДИЗАЙН</p>
                <p class="machine-development__info-desc txt16">
                  В команде BEAVERTECH ученые, конструкторы и технологи с большим опытом в разработке и
                  эксплуатации станков. Инженерное ядро компании – выпускники МГТУ Станкин – головного
                  Университета России в области станкостроения.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="machine-development__swiper-btn-box">
            <div
              class="machine-development__swiper-btn machine-development__swiper-btn--prev swiper-button swiper-button-prev"
            >
              <svg width="62" height="62" viewBox="0 0 62 62" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M61 33.5V53C61 57.4183 57.4183 61 53 61L9 61C4.58172 61 1 57.4183 1 53L1 9C1 4.58172 4.58172 1 9 1L53 1C57.4183 1 61 4.58172 61 9V28"
                  stroke="#fff"
                  stroke-width="1.5"
                />
                <path
                  d="M59 31L17 31"
                  stroke="#fff"
                  stroke-width="1.5"
                  stroke-linecap="square"
                  stroke-linejoin="round"
                />
                <path
                  d="M32 47L16 31.7395M16.0133 30.3198L31.9281 15"
                  stroke="#fff"
                  stroke-width="1.5"
                  stroke-linecap="square"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
            <div
              class="machine-development__swiper-btn machine-development__swiper-btn--next swiper-button swiper-button-next"
            >
              <svg width="62" height="62" viewBox="0 0 62 62" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M1 28.5V9C1 4.58172 4.58172 1 9 1H53C57.4183 1 61 4.58172 61 9V53C61 57.4183 57.4183 61 53 61H9C4.58172 61 1 57.4183 1 53V34"
                  stroke="#fff"
                  stroke-width="1.5"
                />
                <path
                  d="M45 31L3 31"
                  stroke="#fff"
                  stroke-width="1.5"
                  stroke-linecap="square"
                  stroke-linejoin="round"
                />
                <path
                  d="M30 15L46 30.2605M45.9867 31.6802L30.0719 47"
                  stroke="#fff"
                  stroke-width="1.5"
                  stroke-linecap="square"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </div>
      </div>

      <button class="machine-development__video-play">
        <svg width="18" height="22" viewBox="0 0 18 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18 11L0 21.3923L0 0.607696L18 11Z" fill="#161717" />
          </svg>
            
            
      </button>

    </div>
  </div>
</section>
