<section class="main-hero">
  <div class="container main-hero__container">
    <div class="main-hero__inner">

      <div class="main-hero__info-box">

     
      <div class="main-hero__swiper-btn-box">
        <div class="main-hero__swiper-btn main-hero__swiper-btn--prev swiper-button swiper-button-prev">
          <svg width="62" height="62" viewBox="0 0 62 62" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M61 33.5V53C61 57.4183 57.4183 61 53 61L9 61C4.58172 61 1 57.4183 1 53L1 9C1 4.58172 4.58172 1 9 1L53 1C57.4183 1 61 4.58172 61 9V28"
              stroke="white"
              stroke-width="1.5"
            />
            <path
              d="M59 31L17 31"
              stroke="white"
              stroke-width="1.5"
              stroke-linecap="square"
              stroke-linejoin="round"
            />
            <path
              d="M32 47L16 31.7395M16.0133 30.3198L31.9281 15"
              stroke="white"
              stroke-width="1.5"
              stroke-linecap="square"
              stroke-linejoin="round"
            />
          </svg>
        </div>
        <div class="main-hero__swiper-btn main-hero__swiper-btn--next swiper-button swiper-button-next">
          <svg width="62" height="62" viewBox="0 0 62 62" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M1 28.5V9C1 4.58172 4.58172 1 9 1H53C57.4183 1 61 4.58172 61 9V53C61 57.4183 57.4183 61 53 61H9C4.58172 61 1 57.4183 1 53V34"
              stroke="white"
              stroke-width="1.5"
            />
            <path
              d="M45 31L3 31"
              stroke="white"
              stroke-width="1.5"
              stroke-linecap="square"
              stroke-linejoin="round"
            />
            <path
              d="M30 15L46 30.2605M45.9867 31.6802L30.0719 47"
              stroke="white"
              stroke-width="1.5"
              stroke-linecap="square"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </div>

      <div class="main-hero__progress swiper-pagination"></div>

      <div class="main-hero__info-text-box">
        <p class="main-hero__info-text txt20 txt20_caps">разработано и произведено</p>
        <div class="main-hero__info-text-img-row">
          <div class="main-hero__info-text-img-box">
            <img src="./assets/images/ru.webp" alt="" />
          </div>
          <p class="main-hero__info-text txt20 txt20_caps">в России</p>
        </div>
      </div>

      <div class="main-hero__title-box">
        <div class="main-hero__title-svg-box">
          <img src="./assets/images/main-hero-logo.svg" alt="" />
        </div>
      </div>
      <ul class="main-hero__contacts-list">
        <li class="main-hero__contacts-item">
          <a href="#" class="main-hero__contacts-link">
            <div class="main-hero__contacts-link-svg-box">
              <img src="./assets/images/vk.svg" alt="">
            </div>
          </a>
        </li>
        <li class="main-hero__contacts-item">
          <a href="#" class="main-hero__contacts-link">
            <div class="main-hero__contacts-link-svg-box">
              <img src="./assets/images/watsapp.svg" alt="">
            </div>
          </a>
        </li>
        <li class="main-hero__contacts-item">
          <a href="#" class="main-hero__contacts-link">
            <div class="main-hero__contacts-link-svg-box">
              <img src="./assets/images/youtube.svg" alt="">
            </div>
          </a>
        </li>
      </ul>

      <a href="#benchs" class="main-hero__arrow-box nav-link">
        <div class="main-hero__arrow-svg-box">
          <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M17.3136 4.68625L17.3136 3.68625L15.3136 3.68625L15.3136 4.68625L17.3136 4.68625ZM15.3136 25.8994C15.3136 26.4517 15.7613 26.8994 16.3136 26.8994C16.8659 26.8994 17.3136 26.4517 17.3136 25.8994L15.3136 25.8994ZM15.3136 4.68625V25.8994L17.3136 25.8994V4.68625L15.3136 4.68625Z" fill="white" />
            <path d="M25.5059 18.1213L16.3135 27.3137L7.12109 18.1213" stroke="white" stroke-width="2" stroke-linecap="square" stroke-linejoin="round" />
          </svg>
        </div>
      </a>
    </div>

    <div class="main-hero__swiper swiper">
      <div class="main-hero__swiper-wrapper swiper-wrapper">
        <div class="main-hero__swiper-slide swiper-slide">
          <div class="main-hero__swiper-slide-inner">
            <video playsinline autoplay loop muted src="./assets/images/mainpage-hero-vid.mp4"></video>
            <div class="main-hero__swiper-slide-text-box">
              <p class="main-hero__swiper-slide-text txt26 txt26_caps">
                Разрабатываем эффективные решения в области обработки материалов
              </p>
              <a href="#" class="main-hero__btn button button-turquoise txt20 txt20_caps">
                заказать станок
              </a>
            </div>
          </div>
        </div>
        <div class="main-hero__swiper-slide swiper-slide">
          <div class="main-hero__swiper-slide-inner">
            <img src="./assets/images/main-hero.webp" alt="" />
            <div class="main-hero__swiper-slide-text-box">
              <p class="main-hero__swiper-slide-text txt26 txt26_caps">
                Разрабатываем эффективные решения в области обработки материалов Разрабатываем эффективные
                решения в области обработки материалов
              </p>
              <a href="#" class="main-hero__btn button button-turquoise txt20 txt20_caps">
                заказать станок
              </a>
            </div>
          </div>
        </div>
        <div class="main-hero__swiper-slide swiper-slide">
          <div class="main-hero__swiper-slide-inner">
            <video playsinline autoplay loop muted src="./assets/images/mainpage-hero-vid.mp4"></video>
            <div class="main-hero__swiper-slide-text-box">
              <p class="main-hero__swiper-slide-text txt26 txt26_caps">Разрабатываем эффективные решения</p>
              <a href="#" class="main-hero__btn button button-turquoise txt20 txt20_caps">
                заказать станок
              </a>
            </div>
          </div>
        </div>
        <div class="main-hero__swiper-slide swiper-slide">
          <div class="main-hero__swiper-slide-inner">
            <img src="./assets/images/main-hero.webp" alt="" />
            <div class="main-hero__swiper-slide-text-box">
              <p class="main-hero__swiper-slide-text txt26 txt26_caps">
                Разрабатываем эффективные решения в области обработки материалов Разрабатываем
              </p>
              <a href="#" class="main-hero__btn button button-turquoise txt20 txt20_caps">
                заказать станок
              </a>
            </div>
          </div>
        </div>
        <div class="main-hero__swiper-slide swiper-slide">
          <div class="main-hero__swiper-slide-inner">
            <video playsinline autoplay loop muted src="./assets/images/mainpage-hero-vid.mp4"></video>

            <div class="main-hero__swiper-slide-text-box">
              <p class="main-hero__swiper-slide-text txt26 txt26_caps">
                Разрабатываем эффективные решения в области обработки материалов Разрабатываем эффективные
                решения в области обработки материалов обработки материалов Разрабатываем эффективные
                решения в области обработки материалов
              </p>
              <a href="#" class="main-hero__btn button button-turquoise txt20 txt20_caps">
                заказать станок
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
    </div>
  </div>
</section>
