<section class="our_machines">
    <div class="container">
        <div class="our_machines__top swiper">
            <div class="swiper-wrapper">
                <a href="./assets/images/our_machines1.webp" data-fancybox="our_machines__top" class="swiper-slide our_machines__slide">
                    <img src="./assets/images/our_machines1.webp" alt="">
                </a>
                <a href="./assets/images/our_machines2.webp" data-fancybox="our_machines__top" class="swiper-slide our_machines__slide">
                    <img src="./assets/images/our_machines2.webp" alt="">
                </a>
                <a href="./assets/images/our_machines3.webp" data-fancybox="our_machines__top" class="swiper-slide our_machines__slide">
                    <img src="./assets/images/our_machines3.webp" alt="">
                </a>
                <a href="./assets/images/our_machines4.webp" data-fancybox="our_machines__top" class="swiper-slide our_machines__slide">
                    <img src="./assets/images/our_machines4.webp" alt="">
                </a>
                <a href="./assets/images/our_machines5.webp" data-fancybox="our_machines__top" class="swiper-slide our_machines__slide">
                    <img src="./assets/images/our_machines5.webp" alt="">
                </a>
                <a href="./assets/images/our_machines1.webp" data-fancybox="our_machines__top" class="swiper-slide our_machines__slide">
                    <img src="./assets/images/our_machines1.webp" alt="">
                </a>
                <a href="./assets/images/our_machines2.webp" data-fancybox="our_machines__top" class="swiper-slide our_machines__slide">
                    <img src="./assets/images/our_machines2.webp" alt="">
                </a>
                <a href="./assets/images/our_machines3.webp" data-fancybox="our_machines__top" class="swiper-slide our_machines__slide">
                    <img src="./assets/images/our_machines3.webp" alt="">
                </a>
                <a href="./assets/images/our_machines4.webp" data-fancybox="our_machines__top" class="swiper-slide our_machines__slide">
                    <img src="./assets/images/our_machines4.webp" alt="">
                </a>
                <a href="./assets/images/our_machines5.webp" data-fancybox="our_machines__top" class="swiper-slide our_machines__slide">
                    <img src="./assets/images/our_machines5.webp" alt="">
                </a>
            </div>
        </div>
        <div class="our_machines__bottom swiper">
            <div class="swiper-wrapper">
                <a href="./assets/images/our_machines6.webp" data-fancybox="our_machines__bottom" class="swiper-slide our_machines__slide">
                    <img src="./assets/images/our_machines6.webp" alt="">
                </a>
                <a href="./assets/images/our_machines7.webp" data-fancybox="our_machines__bottom" class="swiper-slide our_machines__slide">
                    <img src="./assets/images/our_machines7.webp" alt="">
                </a>
                <a href="./assets/images/our_machines8.webp" data-fancybox="our_machines__bottom" class="swiper-slide our_machines__slide">
                    <img src="./assets/images/our_machines8.webp" alt="">
                </a>
                <a href="./assets/images/our_machines9.webp" data-fancybox="our_machines__bottom" class="swiper-slide our_machines__slide">
                    <img src="./assets/images/our_machines9.webp" alt="">
                </a>
                <a href="./assets/images/our_machines6.webp" data-fancybox="our_machines__bottom" class="swiper-slide our_machines__slide">
                    <img src="./assets/images/our_machines6.webp" alt="">
                </a>
                <a href="./assets/images/our_machines7.webp" data-fancybox="our_machines__bottom" class="swiper-slide our_machines__slide">
                    <img src="./assets/images/our_machines7.webp" alt="">
                </a>
                <a href="./assets/images/our_machines8.webp" data-fancybox="our_machines__bottom" class="swiper-slide our_machines__slide">
                    <img src="./assets/images/our_machines8.webp" alt="">
                </a>
                <a href="./assets/images/our_machines9.webp" data-fancybox="our_machines__bottom" class="swiper-slide our_machines__slide">
                    <img src="./assets/images/our_machines9.webp" alt="">
                </a>
                <a href="./assets/images/our_machines6.webp" data-fancybox="our_machines__bottom" class="swiper-slide our_machines__slide">
                    <img src="./assets/images/our_machines6.webp" alt="">
                </a>
                <a href="./assets/images/our_machines7.webp" data-fancybox="our_machines__bottom" class="swiper-slide our_machines__slide">
                    <img src="./assets/images/our_machines7.webp" alt="">
                </a>
                <a href="./assets/images/our_machines8.webp" data-fancybox="our_machines__bottom" class="swiper-slide our_machines__slide">
                    <img src="./assets/images/our_machines8.webp" alt="">
                </a>
                <a href="./assets/images/our_machines9.webp" data-fancybox="our_machines__bottom" class="swiper-slide our_machines__slide">
                    <img src="./assets/images/our_machines9.webp" alt="">
                </a>
            </div>
        </div>
        <div class="our_machines__pagination">
            <div class="our_machines__pagination-prev">
                <svg width="62" height="62" viewBox="0 0 62 62" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M61 28.5L61 9C61 4.58172 57.4183 1 53 1L9 1C4.58172 1 1 4.58172 1 9L1 53C1 57.4183 4.58172 61 9 61L53 61C57.4183 61 61 57.4183 61 53L61 34" stroke="#012028" stroke-width="1.5"/>
                    <path d="M59 31L17 31" stroke="#013341" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="round"/>
                    <path d="M32 15L16 30.2605M16.0133 31.6802L31.9281 47" stroke="#013341" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="round"/>
                </svg>
            </div>
            <div class="our_machines__pagination-next">
                <svg width="62" height="62" viewBox="0 0 62 62" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 28.5V9C1 4.58172 4.58172 1 9 1H53C57.4183 1 61 4.58172 61 9V53C61 57.4183 57.4183 61 53 61H9C4.58172 61 1 57.4183 1 53V34" stroke="#013341" stroke-width="1.5"/>
                    <path d="M45 31L3 31" stroke="#013341" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="round"/>
                    <path d="M30 15L46 30.2605M45.9867 31.6802L30.0719 47" stroke="#013341" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="round"/>
                </svg>
            </div>
        </div>
    </div>
</section>
  