<section class="production item">
  <div class="container production__container">
    <div class="production__inner" id="production">
      <div class="production__img-box">
        <img src="./assets/images/production.webp" class="desktop" alt="" />
        <img src="./assets/images/production-min.webp" class="mobile" alt="" />
      </div>

      <div class="production__title-box">
        <p class="production__title tl1">Производство</p>
        <p class="production__desc txt20">Станок BEAVERMILL спроектирован с помощью генеративного дизайна, а все структурные части рассчитаны с использованием систем инженерного анализа.</p>
      </div>

      <div class="production__desc-box">
        <p class="production__desc-text txt26 txt26_caps">
          Станок BEAVERMILL спроектирован <br>
          с учетом удобства для работы оператора.
        </p>

        <a href="#" class="production__btn button button-turquoise txt20 txt20_caps"> Узнать больше </a>
      </div>
    </div>
  </div>
</section>
