<section class="product-card-hero">
  <div class="container product-card-hero__container">
    <div class="product-card-hero__inner">
      <div class="product-card-hero__img-box">
        <img src="./assets/images/product-card-hero.webp" alt="" class="desktop" />
        <img src="./assets/images/product-card-hero-min.webp" alt="" class="mobile" />
      </div>
      <div class="product-card-hero__content-box">
        <div class="product-card-hero__title-box">
          <p class="product-card-hero__desc txt18 txt18_caps">Фрезерный станок с ЧПУ</p>
          <p class="product-card-hero__title tl1">BEAVERMILL (3 и 4 оси)</p>
        </div>
        <p class="product-card-hero__desc-text txt20">
          Пятиосевой обрабатывающий центр для обработки металлов BEAVERMILL повышенной точности. Занимает чуть
          больше 2 м² , обеспечивает одновременную пятиосевую обработку алюминия, нержавеющей стали и титана с
          габаритами заготовки диаметром 160 мм и длиной 250 мм.
        </p>
        <button class="product-card-hero__btn button button-turquoise txt20 txt20_caps">
          сконфигурировать
        </button>
      </div>
    </div>
  </div>
</section>
