<section class="requirements item">
  <div class="container">
    <div class="requirements__inner">
      <p class="requirements__title tl1">ТРЕБОВАНИЯ К МЕСТУ УСТАНОВКИ</p>
      <div class="requirements__swiper swiper">
        <div class="requirements__swiper-wrapper swiper-wrapper">
          <div class="requirements__swiper-slide swiper-slide">
            <div class="requirements__swiper-slide-inner">
              <p class="requirements__swiper-slide-title txt26 txt26_caps">Перепады высоты</p>
              <div class="requirements__swiper-slide-content-box">
                <ul class="requirements__swiper-slide-list">
                  <li class="requirements__swiper-slide-item txt18">
                    Перепад высот не должен превышать 2 мм.
                  </li>
                  <li class="requirements__swiper-slide-item txt18">
                    Фундамент должен быть без деформационных швов, трещин, кабельных каналов и прочих
                    дефектов, нарушающих сплошность.
                  </li>
                </ul>
                <p class="requirements__swiper-slide-count tl2">0</p>
              </div>
            </div>
          </div>
          <div class="requirements__swiper-slide swiper-slide">
            <div class="requirements__swiper-slide-inner">
              <p class="requirements__swiper-slide-title txt26 txt26_caps">Условия окружающей среды</p>
              <div class="requirements__swiper-slide-content-box">
                <ul class="requirements__swiper-slide-list">
                  <li class="requirements__swiper-slide-item txt18">
                    Станок не должен эксплуатироваться во взрывоопасных областях.
                  </li>
                </ul>
                <p class="requirements__swiper-slide-count tl2">0</p>
              </div>
            </div>
          </div>
          <div class="requirements__swiper-slide swiper-slide">
            <div class="requirements__swiper-slide-inner">
              <p class="requirements__swiper-slide-title txt26 txt26_caps">Вибрации</p>
              <div class="requirements__swiper-slide-content-box">
                <ul class="requirements__swiper-slide-list">
                  <li class="requirements__swiper-slide-item txt18">
                    Вибрации пола не должны нарушать функциональность или точность работы станка.
                  </li>
                </ul>
                <p class="requirements__swiper-slide-count tl2">0</p>
              </div>
            </div>
          </div>
          <div class="requirements__swiper-slide swiper-slide">
            <div class="requirements__swiper-slide-inner">
              <p class="requirements__swiper-slide-title txt26 txt26_caps">Температура в помещении</p>
              <div class="requirements__swiper-slide-content-box">
                <ul class="requirements__swiper-slide-list">
                  <li class="requirements__swiper-slide-item txt18">
                    Температура в помещении должна быть равномерна, без сквозняков.
                  </li>
                  <li class="requirements__swiper-slide-item txt18">
                    Допустимый диапазон работы: +15 до +35 °C
                  </li>
                  <li class="requirements__swiper-slide-item txt18">
                    Гарантированная точность достигается при условии: +19 до +21 и перепаде менее 0.3 °C/ч.
                    Допустимый суточный перепад <±1 °C/24ч
                  </li>
                  <li class="requirements__swiper-slide-item txt18">
                    Относительная влажность воздуха: 10..75%
                  </li>
                </ul>
                <p class="requirements__swiper-slide-count tl2">01</p>
              </div>
            </div>
          </div>
          <div class="requirements__swiper-slide swiper-slide">
            <div class="requirements__swiper-slide-inner">
              <p class="requirements__swiper-slide-title txt26 txt26_caps">Нагрузки</p>
              <div class="requirements__swiper-slide-content-box">
                <ul class="requirements__swiper-slide-list">
                  <li class="requirements__swiper-slide-item txt18">
                    Фундамент обеспечивает равномерное распределение нагрузки на пол. Он должен выдерживать
                    нагрузку 2500 кг, создаваемую самим станком и усилиями обработки, без образования
                    деформаций и смещений в пределах станка.
                  </li>
                </ul>
                <p class="requirements__swiper-slide-count tl2">0</p>
              </div>
            </div>
          </div>
          <div class="requirements__swiper-slide swiper-slide">
            <div class="requirements__swiper-slide-inner">
              <p class="requirements__swiper-slide-title txt26 txt26_caps">Размеры помещения</p>
              <div class="requirements__swiper-slide-content-box">
                <ul class="requirements__swiper-slide-list">
                  <li class="requirements__swiper-slide-item txt18">
                    Помещение должно иметь достаточную высоту и ширину.
                  </li>
                  <li class="requirements__swiper-slide-item txt18">
                    Необходимо запланировать достаточное место для монтажа и пуско-наладки.
                  </li>
                  <li class="requirements__swiper-slide-item txt18">
                    Минимальное расстояние до стены и потолка 300 мм.
                  </li>
                </ul>
                <p class="requirements__swiper-slide-count tl2">0</p>
              </div>
            </div>
          </div>
          
        </div>
      </div>

      <div class="requirements__swiper-btn-box">
        <div class="requirements__swiper-btn requirements__swiper-btn--prev swiper-button swiper-button-prev">
          <svg width="62" height="62" viewBox="0 0 62 62" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M61 33.5V53C61 57.4183 57.4183 61 53 61L9 61C4.58172 61 1 57.4183 1 53L1 9C1 4.58172 4.58172 1 9 1L53 1C57.4183 1 61 4.58172 61 9V28"
              stroke="#012028"
              stroke-width="1.5"
            />
            <path
              d="M59 31L17 31"
              stroke="#012028"
              stroke-width="1.5"
              stroke-linecap="square"
              stroke-linejoin="round"
            />
            <path
              d="M32 47L16 31.7395M16.0133 30.3198L31.9281 15"
              stroke="#012028"
              stroke-width="1.5"
              stroke-linecap="square"
              stroke-linejoin="round"
            />
          </svg>
        </div>
        <div class="requirements__swiper-btn requirements__swiper-btn--next swiper-button swiper-button-next">
          <svg width="62" height="62" viewBox="0 0 62 62" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M1 28.5V9C1 4.58172 4.58172 1 9 1H53C57.4183 1 61 4.58172 61 9V53C61 57.4183 57.4183 61 53 61H9C4.58172 61 1 57.4183 1 53V34"
              stroke="#012028"
              stroke-width="1.5"
            />
            <path
              d="M45 31L3 31"
              stroke="#012028"
              stroke-width="1.5"
              stroke-linecap="square"
              stroke-linejoin="round"
            />
            <path
              d="M30 15L46 30.2605M45.9867 31.6802L30.0719 47"
              stroke="#012028"
              stroke-width="1.5"
              stroke-linecap="square"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
