<section class="specifications item">
  <div class="specifications__container container">
    <div class="specifications__inner" id="specifications">
      <div class="specifications__head">
        <div class="specifications__title tl1">Технические характеристики</div>
        <div class="specifications__head-row">
          <ul class="specifications__tabs">
            <li class="specifications__tab txt18 txt18__caps tab active" data-block-name="specifications">
              Технические характеристики
            </li>
            <li class="specifications__tab txt18 txt18__caps tab" data-block-name="modes">
              РЕЖИМЫ ОБРАБОТКИ МАТЕРИАЛОВ
            </li>
            <li class="specifications__tab txt18 txt18__caps tab" data-block-name="characteristics">
              ХАРАКТЕРИСТИКИ СТОЛА
            </li>
          </ul>
        </div>
      </div>
      <div class="specifications__body">
        <div class="specifications__block specifications active">
          <div class="specifications__block-right desktop">
            <ul class="specifications__block-list">
              <li class="specifications__block-item txt26 txt26__caps">
                <div>
                  <svg
                    width="26"
                    height="24"
                    viewBox="0 0 26 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1.68637 12.0001L22.8996 12.0001"
                      stroke="#013341"
                      stroke-width="2"
                      stroke-linecap="square"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M15.1211 2.80761L24.3135 12L15.1211 21.1924"
                      stroke="#013341"
                      stroke-width="2"
                      stroke-linecap="square"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
                <div>СТОЛ</div>
              </li>
              <li class="specifications__block-item txt26 txt26__caps active">
                <div>
                  <svg
                    width="26"
                    height="24"
                    viewBox="0 0 26 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1.68637 12.0001L22.8996 12.0001"
                      stroke="#013341"
                      stroke-width="2"
                      stroke-linecap="square"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M15.1211 2.80761L24.3135 12L15.1211 21.1924"
                      stroke="#013341"
                      stroke-width="2"
                      stroke-linecap="square"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
                <div>ШПИНДЕЛЬ С КОНУСОМ BT30</div>
              </li>
              <li class="specifications__block-item txt26 txt26__caps">
                <div>
                  <svg
                    width="26"
                    height="24"
                    viewBox="0 0 26 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1.68637 12.0001L22.8996 12.0001"
                      stroke="#013341"
                      stroke-width="2"
                      stroke-linecap="square"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M15.1211 2.80761L24.3135 12L15.1211 21.1924"
                      stroke="#013341"
                      stroke-width="2"
                      stroke-linecap="square"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
                <div>АВТОМАТИЧЕСКОЕ УСТРОЙСТВО СМЕНЫ ИНСТРУМЕНТА</div>
              </li>
              <li class="specifications__block-item txt26 txt26__caps">
                <div>
                  <svg
                    width="26"
                    height="24"
                    viewBox="0 0 26 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1.68637 12.0001L22.8996 12.0001"
                      stroke="#013341"
                      stroke-width="2"
                      stroke-linecap="square"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M15.1211 2.80761L24.3135 12L15.1211 21.1924"
                      stroke="#013341"
                      stroke-width="2"
                      stroke-linecap="square"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
                <div>СКОРОСТИ</div>
              </li>
              <li class="specifications__block-item txt26 txt26__caps">
                <div>
                  <svg
                    width="26"
                    height="24"
                    viewBox="0 0 26 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1.68637 12.0001L22.8996 12.0001"
                      stroke="#013341"
                      stroke-width="2"
                      stroke-linecap="square"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M15.1211 2.80761L24.3135 12L15.1211 21.1924"
                      stroke="#013341"
                      stroke-width="2"
                      stroke-linecap="square"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
                <div>ОБЩАЯ ИНФОРМАЦИЯ</div>
              </li>
            </ul>
          </div>
          <div class="specifications__block-slider">
            <div class="specifications__block-swiper swiper">
              <div class="swiper-wrapper">
                <div class="specifications__block_swiper-slide swiper-slide">
                  <div class="specifications__block-left">
                    <div class="specifications__block-descr">
                      <div class="specifications__block-title txt20 txt20_caps">Стол</div>
                      <div class="specifications__block-text-box">
                        <p class="specifications__block-text txt16">
                          12 000 об/мин, ременный привод, 7,5 кВт, 58,8 Н*м
                        </p>
                  
                        <p class="specifications__block-text txt16">
                          30 000 об/мин, мотор-шпиндель, 7,5 кВт, 4 Н*м
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="specifications__block-middle">
                    <div class="specifications__block-img">
                      <img src="./assets/images/specifications.webp" alt="" />
                    </div>
                  </div>
                </div>
                <div class="specifications__block_swiper-slide swiper-slide">
                  <div class="specifications__block-left">
                    <div class="specifications__block-descr">
                      <div class="specifications__block-title txt20 txt20_caps">ШПИНДЕЛЬ С КОНУСОМ BT30</div>
                      <div class="specifications__block-text-box">
                        <p class="specifications__block-text txt16">
                          12 000 об/мин, ременный привод, 7,5 кВт, 58,8 Н*м
                        </p>
                  
                        <p class="specifications__block-text txt16">
                          30 000 об/мин, мотор-шпиндель, 7,5 кВт, 4 Н*м
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="specifications__block-middle">
                    <div class="specifications__block-img">
                      <img src="./assets/images/specifications.webp" alt="" />
                    </div>
                  </div>
                </div>
                <div class="specifications__block_swiper-slide swiper-slide">
                  <div class="specifications__block-left">
                    <div class="specifications__block-descr">
                      <div class="specifications__block-title txt20 txt20_caps">
                        АВТОМАТИЧЕСКОЕ УСТРОЙСТВО СМЕНЫ ИНСТРУМЕНТА
                      </div>
                      <div class="specifications__block-text-box">
                        <p class="specifications__block-text txt16">
                          12 000 об/мин, ременный привод, 7,5 кВт, 58,8 Н*м
                        </p>
                  
                        <p class="specifications__block-text txt16">
                          30 000 об/мин, мотор-шпиндель, 7,5 кВт, 4 Н*м
                        </p>
                        <p class="specifications__block-text txt16">
                          30 000 об/мин, мотор-шпиндель, 7,5 кВт, 4 Н*м
                        </p>
                        <p class="specifications__block-text txt16">
                          30 000 об/мин, мотор-шпиндель, 7,5 кВт, 4 Н*м
                        </p>
                        <p class="specifications__block-text txt16">
                          30 000 об/мин, мотор-шпиндель, 7,5 кВт, 4 Н*м
                        </p>
                        <p class="specifications__block-text txt16">
                          30 000 об/мин, мотор-шпиндель, 7,5 кВт, 4 Н*м
                        </p>
                        <p class="specifications__block-text txt16">
                          30 000 об/мин, мотор-шпиндель, 7,5 кВт, 4 Н*м
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="specifications__block-middle">
                    <div class="specifications__block-img">
                      <img src="./assets/images/specifications.webp" alt="" />
                    </div>
                  </div>
                </div>
                <div class="specifications__block_swiper-slide swiper-slide">
                  <div class="specifications__block-left">
                    <div class="specifications__block-descr">
                      <div class="specifications__block-title txt20 txt20_caps">СКОРОСТИ</div>
                      <div class="specifications__block-text-box">
                        <p class="specifications__block-text txt16">
                          12 000 об/мин, ременный привод, 7,5 кВт, 58,8 Н*м
                        </p>
                  
                        <p class="specifications__block-text txt16">
                          30 000 об/мин, мотор-шпиндель, 7,5 кВт, 4 Н*м
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="specifications__block-middle">
                    <div class="specifications__block-img">
                      <img src="./assets/images/specifications.webp" alt="" />
                    </div>
                  </div>
                </div>
                <div class="specifications__block_swiper-slide swiper-slide">
                  <div class="specifications__block-left">
                    <div class="specifications__block-descr">
                      <div class="specifications__block-title txt20 txt20_caps">ОБЩАЯ ИНФОРМАЦИЯ</div>
                      <div class="specifications__block-text-box">
                        <p class="specifications__block-text txt16">
                          12 000 об/мин, ременный привод, 7,5 кВт, 58,8 Н*м
                        </p>
                  
                        <p class="specifications__block-text txt16">
                          30 000 об/мин, мотор-шпиндель, 7,5 кВт, 4 Н*м
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="specifications__block-middle">
                    <div class="specifications__block-img">
                      <img src="./assets/images/specifications.webp" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="specifications__block modes">
          <div class="specifications__block-right desktop">
            <ul class="specifications__block-list">
              <li class="specifications__block-item txt26 txt26__caps active">
                <div>
                  <svg
                    width="26"
                    height="24"
                    viewBox="0 0 26 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1.68637 12.0001L22.8996 12.0001"
                      stroke="#013341"
                      stroke-width="2"
                      stroke-linecap="square"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M15.1211 2.80761L24.3135 12L15.1211 21.1924"
                      stroke="#013341"
                      stroke-width="2"
                      stroke-linecap="square"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
                <div>Алюминий Д16Т</div>
              </li>
              <li class="specifications__block-item txt26 txt26__caps">
                <div>
                  <svg
                    width="26"
                    height="24"
                    viewBox="0 0 26 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1.68637 12.0001L22.8996 12.0001"
                      stroke="#013341"
                      stroke-width="2"
                      stroke-linecap="square"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M15.1211 2.80761L24.3135 12L15.1211 21.1924"
                      stroke="#013341"
                      stroke-width="2"
                      stroke-linecap="square"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
                <div>Сталь 40Х</div>
              </li>
            </ul>
          </div>
          <div class="specifications__block-slider">
            <div class="specifications__block-swiper specifications__block-swiper--modes swiper">
              <div class="swiper-wrapper">
                <div
                  class="specifications__block_swiper-slide specifications__block_swiper-slide--modes swiper-slide"
                >
                  <div class="specifications__block-left specifications__block-left--modes">
                    <div class="specifications__block-descr specifications__block-descr--modes">
                      <p class="specifications__block-title txt20 txt20_caps mobile">Алюминий Д16Т</p>

                      <ul class="specifications__block-modes-list">
                        <li class="specifications__block-modes-item">
                          <p class="specifications__block-modes-item-num txt20 txt20_caps">1</p>
                          <ul class="specifications__block-modes-item-list">
                            <li class="specifications__block-modes-item-item txt16">D = 63 мм</li>
                            <li class="specifications__block-modes-item-item txt16">Vc = 600 м/мин</li>
                            <li class="specifications__block-modes-item-item txt16">n = 3031 об/мин</li>
                            <li class="specifications__block-modes-item-item txt16">Ar = 3 мм</li>
                            <li class="specifications__block-modes-item-item txt16">F = 3638 мм/мин</li>
                            <li class="specifications__block-modes-item-item txt16">Ae = 55 мм</li>
                          </ul>
                        </li>
                        <li class="specifications__block-modes-item">
                          <p class="specifications__block-modes-item-num txt20 txt20_caps">2</p>
                          <ul class="specifications__block-modes-item-list">
                            <li class="specifications__block-modes-item-item txt16">D = 12 мм</li>
                            <li class="specifications__block-modes-item-item txt16">Vc = 350 м/мин</li>
                            <li class="specifications__block-modes-item-item txt16">n = 9284 об/мин</li>
                            <li class="specifications__block-modes-item-item txt16">Ar = 27 мм</li>
                            <li class="specifications__block-modes-item-item txt16">F = 4177 мм/мин</li>
                            <li class="specifications__block-modes-item-item txt16">Ae = 3 мм</li>
                          </ul>
                        </li>
                        <li class="specifications__block-modes-item">
                          <p class="specifications__block-modes-item-num txt20 txt20_caps">3</p>
                          <ul class="specifications__block-modes-item-list">
                            <li class="specifications__block-modes-item-item txt16">
                              максимальный размер резьбы М16
                            </li>
                          </ul>
                        </li>
                        <li class="specifications__block-modes-item">
                          <p class="specifications__block-modes-item-num txt20 txt20_caps">4</p>
                          <ul class="specifications__block-modes-item-list">
                            <li class="specifications__block-modes-item-item txt16">
                              максимальный диаметр сверления 25 мм
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="specifications__block-middle specifications__block-middle--modes">
                    <div class="specifications__block-img specifications__block-img--modes">
                      <img src="./assets/images/specifications-modes.webp" alt="" />
                    </div>
                  </div>
                </div>
                <div
                  class="specifications__block_swiper-slide specifications__block_swiper-slide--modes swiper-slide"
                >
                  <div class="specifications__block-left specifications__block-left--modes">
                    <div class="specifications__block-descr specifications__block-descr--modes">
                      <div class="specifications__block-title txt20 txt20_caps mobile">Сталь 40Х</div>
                      <ul class="specifications__block-modes-list">
                        <li class="specifications__block-modes-item">
                          <p class="specifications__block-modes-item-num txt20 txt20_caps">1</p>
                          <ul class="specifications__block-modes-item-list">
                            <li class="specifications__block-modes-item-item txt16">D = 63 мм</li>
                            <li class="specifications__block-modes-item-item txt16">Vc = 600 м/мин</li>
                            <li class="specifications__block-modes-item-item txt16">n = 3031 об/мин</li>
                            <li class="specifications__block-modes-item-item txt16">Ar = 3 мм</li>
                            <li class="specifications__block-modes-item-item txt16">F = 3638 мм/мин</li>
                            <li class="specifications__block-modes-item-item txt16">Ae = 55 мм</li>
                          </ul>
                        </li>
                        <li class="specifications__block-modes-item">
                          <p class="specifications__block-modes-item-num txt20 txt20_caps">2</p>
                          <ul class="specifications__block-modes-item-list">
                            <li class="specifications__block-modes-item-item txt16">D = 12 мм</li>
                            <li class="specifications__block-modes-item-item txt16">Vc = 350 м/мин</li>
                            <li class="specifications__block-modes-item-item txt16">n = 9284 об/мин</li>
                            <li class="specifications__block-modes-item-item txt16">Ar = 27 мм</li>
                            <li class="specifications__block-modes-item-item txt16">F = 4177 мм/мин</li>
                            <li class="specifications__block-modes-item-item txt16">Ae = 3 мм</li>
                          </ul>
                        </li>
                        <li class="specifications__block-modes-item">
                          <p class="specifications__block-modes-item-num txt20 txt20_caps">3</p>
                          <ul class="specifications__block-modes-item-list">
                            <li class="specifications__block-modes-item-item txt16">
                              максимальный размер резьбы М16
                            </li>
                          </ul>
                        </li>
                        <li class="specifications__block-modes-item">
                          <p class="specifications__block-modes-item-num txt20 txt20_caps">4</p>
                          <ul class="specifications__block-modes-item-list">
                            <li class="specifications__block-modes-item-item txt16">
                              максимальный диаметр сверления 25 мм
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="specifications__block-middle specifications__block-middle--modes">
                    <div class="specifications__block-img specifications__block-img--modes">
                      <img src="./assets/images/specifications-modes.webp" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="specifications__block characteristics ">
          <div class="specifications__characteristics-swiper swiper">
            <div class="specifications__characteristics-swiper-wrapper swiper-wrapper">
              <div class="specifications__characteristics-swiper-slide swiper-slide">
                <div class="specifications__characteristics-swiper-slide-inner">
                  <div class="specifications__characteristics-img-box">
                    <img src="./assets/images/characteristics-3.webp" alt="" />
                  </div>
                </div>
              </div>
              <div class="specifications__characteristics-swiper-slide swiper-slide">
                <div class="specifications__characteristics-swiper-slide-inner">
                  <div class="specifications__characteristics-img-box">
                    <img src="./assets/images/characteristics-2.webp" alt="" />
                  </div>
                </div>
              </div>
              <div class="specifications__characteristics-swiper-slide swiper-slide">
                <div class="specifications__characteristics-swiper-slide-inner">
                  <div class="specifications__characteristics-img-box">
                    <img src="./assets/images/characteristics-1.webp" alt="" />
                  </div>
                </div>
              </div>
              <div class="specifications__characteristics-swiper-slide swiper-slide">
                <div class="specifications__characteristics-swiper-slide-inner">
                  <div class="specifications__characteristics-img-box">
                    <img src="./assets/images/characteristics-4.webp" alt="" />
                  </div>
                </div>
              </div>
              <div class="specifications__characteristics-swiper-slide swiper-slide">
                <div class="specifications__characteristics-swiper-slide-inner">
                  <div class="specifications__characteristics-img-box">
                    <img src="./assets/images/characteristics-5.webp" alt="" />
                  </div>
                </div>
              </div>
              <div class="specifications__characteristics-swiper-slide swiper-slide">
                <div class="specifications__characteristics-swiper-slide-inner">
                  <div class="specifications__characteristics-img-box">
                    <img src="./assets/images/characteristics-6.webp" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
