<section class="spindle-unit item">
  <div class="container spindle-unit__container">
    <div class="spindle-unit__inner">
      <p class="spindle-unit__title tl1">ШПИНДЕЛЬНЫЙ УЗЕЛ</p>
      <div class="spindle-unit__swiper swiper">
        <div class="spindle-unit__swiper-wrapper swiper-wrapper">
          <div class="spindle-unit__swiper-slide swiper-slide">
            <div class="spindle-unit__swiper-slide-inner">
              <div class="spindle-unit__swiper-slide-img-box">
                <img src="./assets/images/spindle-unit-bg.webp" class="desktop" alt="" />
                <img src="./assets/images/spindle-unit-bg-min.webp" class="mobile" alt="" />
              </div>
              <div class="spindle-unit__swiper-slide-title-box">
                <p class="spindle-unit__swiper-slide-title txt26 txt26_caps">
                  12 000 об/мин для универсальной обработки
                </p>
                <div class="spindle-unit__swiper-slide-desc-box">
                  <p class="spindle-unit__swiper-slide-desc txt16">
                    Чиллер нужен для отведения тепла от шпиндельной бабки и подшипников. Обеспечивает
                    стабильность температуры даже после многочасовой обработки на высокой скорости.
                  </p>
                  <p class="spindle-unit__swiper-slide-desc txt16">
                    Шпиндельный узел оснащен улучшенным лабиринтным уплотнением и защищен от проникновения
                    микрочастиц повышенным давлением воздуха внутри.
                  </p>
                </div>

                <a
                  class="spindle-unit__btn txt18 txt18_caps mobile"
                  href="#spindle-unit-schedule1"
                  data-fancybox
                >
                  график

                  <span class="spindle-unit__link-svg-box">
                    <svg
                      width="23"
                      height="22"
                      viewBox="0 0 23 22"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M6.16797 16.5L16.4805 6.1875"
                        stroke="#fff"
                        stroke-width="1.5"
                        stroke-linecap="square"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M8.23047 5.5L17.168 5.5L17.168 14.4375"
                        stroke="#fff"
                        stroke-width="1.5"
                        stroke-linecap="square"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </span>
                </a>
              </div>
              <div class="spindle-unit__swiper-slide-point-box desktop" style="top: 15.5rem; right: 60.5rem">
                <div class="spindle-unit__swiper-slide-point-circle"></div>
                <div class="spindle-unit__swiper-slide-point-text txt16">
                  BEAVERMILL оснащен масляным чиллером
                </div>
              </div>
              <div class="spindle-unit__swiper-slide-schedule-wrapper desktop" id="spindle-unit-schedule1">
                <p class="spindle-unit__swiper-slide-schedule-title txt18">
                  Моментные характеристики шпинделя
                </p>
                <div class="spindle-unit__swiper-slide-schedule-box">
                  <img src="./assets/images/spindle-unit.webp" class="" alt="" />
                </div>
              </div>
            </div>
          </div>
          <div class="spindle-unit__swiper-slide swiper-slide">
            <div class="spindle-unit__swiper-slide-inner">
              <div class="spindle-unit__swiper-slide-img-box">
                <img src="./assets/images/spindle-unit-bg.webp" class="desktop" alt="" />
                <img src="./assets/images/spindle-unit-bg-min.webp" class="mobile" alt="" />
              </div>
              <div class="spindle-unit__swiper-slide-title-box">
                <p class="spindle-unit__swiper-slide-title txt26 txt26_caps">
                  12 000 об/мин для универсальной обработки
                </p>
                <div class="spindle-unit__swiper-slide-desc-box">
                  <p class="spindle-unit__swiper-slide-desc txt16">
                    Чиллер нужен для отведения тепла от шпиндельной бабки и подшипников. Обеспечивает
                    стабильность температуры даже после многочасовой обработки на высокой скорости. улучшенным
                    лабиринтным уплотнением и защищен от проникновения микрочастиц повышенным давлением
                    воздуха внутри.
                  </p>
                  <p class="spindle-unit__swiper-slide-desc txt16">
                    Шпиндельный узел оснащен улучшенным лабиринтным уплотнением и защищен от проникновения
                    микрочастиц повышенным давлением воздуха внутри.
                  </p>
                </div>

                <a
                  class="spindle-unit__btn txt18 txt18_caps mobile"
                  href="#spindle-unit-schedule1"
                  data-fancybox
                >
                  график

                  <span class="spindle-unit__link-svg-box">
                    <svg
                      width="23"
                      height="22"
                      viewBox="0 0 23 22"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M6.16797 16.5L16.4805 6.1875"
                        stroke="#fff"
                        stroke-width="1.5"
                        stroke-linecap="square"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M8.23047 5.5L17.168 5.5L17.168 14.4375"
                        stroke="#fff"
                        stroke-width="1.5"
                        stroke-linecap="square"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </span>
                </a>
              </div>
              <div class="spindle-unit__swiper-slide-point-box desktop" style="top: 15.5rem; right: 60.5rem">
                <div class="spindle-unit__swiper-slide-point-circle"></div>
                <div class="spindle-unit__swiper-slide-point-text txt16">
                  BEAVERMILL оснащен масляным чиллером
                </div>
              </div>
              <div class="spindle-unit__swiper-slide-schedule-wrapper desktop" id="spindle-unit-schedule2">
                <p class="spindle-unit__swiper-slide-schedule-title txt18">
                  Моментные характеристики шпинделя
                </p>
                <div class="spindle-unit__swiper-slide-schedule-box">
                  <img src="./assets/images/spindle-unit.webp" class="" alt="" />
                </div>
              </div>
            </div>
          </div>
          <div class="spindle-unit__swiper-slide swiper-slide">
            <div class="spindle-unit__swiper-slide-inner">
              <div class="spindle-unit__swiper-slide-img-box">
                <img src="./assets/images/spindle-unit-bg.webp" class="desktop" alt="" />
                <img src="./assets/images/spindle-unit-bg-min.webp" class="mobile" alt="" />
              </div>
              <div class="spindle-unit__swiper-slide-title-box">
                <p class="spindle-unit__swiper-slide-title txt26 txt26_caps">
                  12 000 об/мин для универсальной обработки
                </p>
                <div class="spindle-unit__swiper-slide-desc-box">
                  <p class="spindle-unit__swiper-slide-desc txt16">
                    Чиллер нужен для отведения тепла от шпиндельной бабки и подшипников. Обеспечивает
                    стабильность температуры даже после многочасовой обработки на высокой скорости.
                  </p>
                  <p class="spindle-unit__swiper-slide-desc txt16">Шпиндельный узел оснащен</p>
                </div>

                <a
                  class="spindle-unit__btn txt18 txt18_caps mobile"
                  href="#spindle-unit-schedule1"
                  data-fancybox
                >
                  график

                  <span class="spindle-unit__link-svg-box">
                    <svg
                      width="23"
                      height="22"
                      viewBox="0 0 23 22"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M6.16797 16.5L16.4805 6.1875"
                        stroke="#fff"
                        stroke-width="1.5"
                        stroke-linecap="square"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M8.23047 5.5L17.168 5.5L17.168 14.4375"
                        stroke="#fff"
                        stroke-width="1.5"
                        stroke-linecap="square"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </span>
                </a>
              </div>
              <div class="spindle-unit__swiper-slide-point-box desktop" style="top: 15.5rem; right: 60.5rem">
                <div class="spindle-unit__swiper-slide-point-circle"></div>
                <div class="spindle-unit__swiper-slide-point-text txt16">
                  BEAVERMILL оснащен масляным чиллером
                </div>
              </div>
              <div class="spindle-unit__swiper-slide-schedule-wrapper desktop" id="spindle-unit-schedule3">
                <p class="spindle-unit__swiper-slide-schedule-title txt18">
                  Моментные характеристики шпинделя
                </p>
                <div class="spindle-unit__swiper-slide-schedule-box">
                  <img src="./assets/images/spindle-unit.webp" class="" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="spindle-unit__swiper-btn-box">
        <div class="spindle-unit__swiper-btn spindle-unit__swiper-btn--prev swiper-button swiper-button-prev">
          <svg width="62" height="62" viewBox="0 0 62 62" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M61 33.5V53C61 57.4183 57.4183 61 53 61L9 61C4.58172 61 1 57.4183 1 53L1 9C1 4.58172 4.58172 1 9 1L53 1C57.4183 1 61 4.58172 61 9V28"
              stroke="#012028"
              stroke-width="1.5"
            />
            <path
              d="M59 31L17 31"
              stroke="#012028"
              stroke-width="1.5"
              stroke-linecap="square"
              stroke-linejoin="round"
            />
            <path
              d="M32 47L16 31.7395M16.0133 30.3198L31.9281 15"
              stroke="#012028"
              stroke-width="1.5"
              stroke-linecap="square"
              stroke-linejoin="round"
            />
          </svg>
        </div>
        <div class="spindle-unit__swiper-btn spindle-unit__swiper-btn--next swiper-button swiper-button-next">
          <svg width="62" height="62" viewBox="0 0 62 62" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M1 28.5V9C1 4.58172 4.58172 1 9 1H53C57.4183 1 61 4.58172 61 9V53C61 57.4183 57.4183 61 53 61H9C4.58172 61 1 57.4183 1 53V34"
              stroke="#012028"
              stroke-width="1.5"
            />
            <path
              d="M45 31L3 31"
              stroke="#012028"
              stroke-width="1.5"
              stroke-linecap="square"
              stroke-linejoin="round"
            />
            <path
              d="M30 15L46 30.2605M45.9867 31.6802L30.0719 47"
              stroke="#012028"
              stroke-width="1.5"
              stroke-linecap="square"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
