<section class="system-cnc item">
  <div class="container">
    <div class="system-cnc__inner">
      <div class="system-cnc__header-box">
        <p class="system-cnc__header-title tl1">системы чпу</p>
        <div class="system-cnc__header-tabs">
          <div class="system-cnc__header-tab txt18 txt18_caps tab active">HNC 808</div>
          <div class="system-cnc__header-tab txt18 txt18_caps tab">HNC 848</div>
        </div>
      </div>
      <div class="system-cnc__content-wrapper">
        <div class="system-cnc__content-box active">
          <div class="system-cnc__content-title-box">
            <div class="system-cnc__content-title-text-box">
              <p class="system-cnc__content-title tl2">HNC 808</p>
              <a href="./assets/images/system-cnc-modal.webp" data-fancybox  class="system-cnc__btn txt18 txt18_caps mobile">
                сравнение систем
                <span class="system-cnc__link-svg-wrapper">
                  <span class="system-cnc__link-svg-box">
                    <svg
                      width="23"
                      height="22"
                      viewBox="0 0 23 22"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M6.16797 16.5L16.4805 6.1875"
                        stroke="#013341"
                        stroke-width="1.5"
                        stroke-linecap="square"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M8.23047 5.5L17.168 5.5L17.168 14.4375"
                        stroke="#013341"
                        stroke-width="1.5"
                        stroke-linecap="square"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </span>
                  <span class="system-cnc__link-svg-box">
                    <svg
                      width="23"
                      height="22"
                      viewBox="0 0 23 22"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M6.16797 16.5L16.4805 6.1875"
                        stroke="#013341"
                        stroke-width="1.5"
                        stroke-linecap="square"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M8.23047 5.5L17.168 5.5L17.168 14.4375"
                        stroke="#013341"
                        stroke-width="1.5"
                        stroke-linecap="square"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </span>
                </span>
              </a>
            </div>
            <div class="system-cnc__content-title-img-box mobile">
              <img src="./assets/images/system-cnc.webp" alt="" />
            </div>
          </div>
          <ul class="system-cnc__content-list-box">
            <li class="system-cnc__content-list-item">
              <ul class="system-cnc__content-list">
                <li class="system-cnc__content-item txt18">HD ЖК экран 10,4″</li>
                <li class="system-cnc__content-item txt18">
                  Цифровое управление приводами с обратной связью
                </li>
                <li class="system-cnc__content-item txt18">Высокоточные энкодеры с 16 миллионами позиций</li>

                <li class="system-cnc__content-item txt18">Жесткое нарезание резьбы</li>
                <li class="system-cnc__content-item txt18">
                  Функция поддержки двусторонней компенсации ошибки шага по 20 000 точкам (опция)
                </li>

                <li class="system-cnc__content-item txt18">
                  Поддержка TCPIIP, Ethernet и других протоколов связи сетевых портов
                </li>
              </ul>
            </li>
            <li class="system-cnc__content-list-item">
              <ul class="system-cnc__content-list">
                <li class="system-cnc__content-item txt18">Контроль поломки инструмента</li>
                <li class="system-cnc__content-item txt18">Превентивное обслуживание</li>
                <li class="system-cnc__content-item txt18">
                  Интеллектуальная оптимизация процесса обработки
                </li>
                <li class="system-cnc__content-item txt18">Термокомпенсация</li>
                <li class="system-cnc__content-item txt18">Память 8 Гб</li>
              </ul>
            </li>
          </ul>
          <a href="./assets/images/system-cnc-modal.webp" data-fancybox class="system-cnc__btn txt18 txt18_caps desktop">
            сравнение систем
            <span class="system-cnc__link-svg-wrapper">
              <span class="system-cnc__link-svg-box">
                <svg
                  width="23"
                  height="22"
                  viewBox="0 0 23 22"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M6.16797 16.5L16.4805 6.1875"
                    stroke="#013341"
                    stroke-width="1.5"
                    stroke-linecap="square"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M8.23047 5.5L17.168 5.5L17.168 14.4375"
                    stroke="#013341"
                    stroke-width="1.5"
                    stroke-linecap="square"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
              <span class="system-cnc__link-svg-box">
                <svg
                  width="23"
                  height="22"
                  viewBox="0 0 23 22"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M6.16797 16.5L16.4805 6.1875"
                    stroke="#013341"
                    stroke-width="1.5"
                    stroke-linecap="square"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M8.23047 5.5L17.168 5.5L17.168 14.4375"
                    stroke="#013341"
                    stroke-width="1.5"
                    stroke-linecap="square"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
            </span>
          </a>
        </div>
        <div class="system-cnc__content-box">
          <div class="system-cnc__content-title-box">
            <div class="system-cnc__content-title-text-box">
              <p class="system-cnc__content-title tl2">HNC 848</p>
              <a href="" data-popup="#popup-comparison" class="system-cnc__btn txt18 txt18_caps mobile">
                сравнение систем
                <span class="system-cnc__link-svg-wrapper">
                  <span class="system-cnc__link-svg-box">
                    <svg
                      width="23"
                      height="22"
                      viewBox="0 0 23 22"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M6.16797 16.5L16.4805 6.1875"
                        stroke="#013341"
                        stroke-width="1.5"
                        stroke-linecap="square"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M8.23047 5.5L17.168 5.5L17.168 14.4375"
                        stroke="#013341"
                        stroke-width="1.5"
                        stroke-linecap="square"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </span>
                  <span class="system-cnc__link-svg-box">
                    <svg
                      width="23"
                      height="22"
                      viewBox="0 0 23 22"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M6.16797 16.5L16.4805 6.1875"
                        stroke="#013341"
                        stroke-width="1.5"
                        stroke-linecap="square"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M8.23047 5.5L17.168 5.5L17.168 14.4375"
                        stroke="#013341"
                        stroke-width="1.5"
                        stroke-linecap="square"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </span>
                </span>
              </a>
            </div>
            <div class="system-cnc__content-title-img-box mobile">
              <img src="./assets/images/system-cnc.webp" alt="" />
            </div>
          </div>
          <ul class="system-cnc__content-list-box">
            <li class="system-cnc__content-list-item">
              <ul class="system-cnc__content-list">
                <li class="system-cnc__content-item txt18">Контроль поломки инструмента</li>
                <li class="system-cnc__content-item txt18">Превентивное обслуживание</li>
                <li class="system-cnc__content-item txt18">
                  Интеллектуальная оптимизация процесса обработки
                </li>
                <li class="system-cnc__content-item txt18">Термокомпенсация</li>
                <li class="system-cnc__content-item txt18">Память 8 Гб</li>
              </ul>
            </li>
            <li class="system-cnc__content-list-item">
              <ul class="system-cnc__content-list">
                <li class="system-cnc__content-item txt18">HD ЖК экран 10,4″</li>
                <li class="system-cnc__content-item txt18">
                  Цифровое управление приводами с обратной связью
                </li>
                <li class="system-cnc__content-item txt18">Высокоточные энкодеры с 16 миллионами позиций</li>

                <li class="system-cnc__content-item txt18">Жесткое нарезание резьбы</li>
                <li class="system-cnc__content-item txt18">
                  Функция поддержки двусторонней компенсации ошибки шага по 20 000 точкам (опция)
                </li>

                <li class="system-cnc__content-item txt18">
                  Поддержка TCPIIP, Ethernet и других протоколов связи сетевых портов
                </li>
              </ul>
            </li>
          </ul>
          <a href="" data-popup="#popup-comparison" class="system-cnc__btn txt18 txt18_caps desktop">
            сравнение систем
            <span class="system-cnc__link-svg-wrapper">
              <span class="system-cnc__link-svg-box">
                <svg
                  width="23"
                  height="22"
                  viewBox="0 0 23 22"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M6.16797 16.5L16.4805 6.1875"
                    stroke="#013341"
                    stroke-width="1.5"
                    stroke-linecap="square"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M8.23047 5.5L17.168 5.5L17.168 14.4375"
                    stroke="#013341"
                    stroke-width="1.5"
                    stroke-linecap="square"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
              <span class="system-cnc__link-svg-box">
                <svg
                  width="23"
                  height="22"
                  viewBox="0 0 23 22"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M6.16797 16.5L16.4805 6.1875"
                    stroke="#013341"
                    stroke-width="1.5"
                    stroke-linecap="square"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M8.23047 5.5L17.168 5.5L17.168 14.4375"
                    stroke="#013341"
                    stroke-width="1.5"
                    stroke-linecap="square"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
            </span>
          </a>
        </div>
      </div>
      <div class="system-cnc__img-wrapper">
        <div class="system-cnc__img-box active">
          <img src="./assets/images/system-cnc.webp" alt="" />
        </div>
        <div class="system-cnc__img-box">
          <img src="./assets/images/system-cnc.webp" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
