<section class="temperature-stability item">
  <div class="container temperature-stability__container">
    <div class="temperature-stability__inner">
      <div class="temperature-stability__img-box">
        <img src="./assets/images/temperature-stability.webp" alt="" />
      </div>
      <div class="temperature-stability__content-box">
        <div class="temperature-stability__title-box">
          <p class="temperature-stability__title tl1">ТЕМПЕРАТУРНАЯ СТАБИЛЬНОСТЬ И ДЕМПФИРОВАНИЕ МАТЕРИАЛА</p>
          <div class="temperature-stability__text-box">
            <p class="temperature-stability__text txt20">
              Габбродолерит — это горная вулканическая порода природного происхождения, большая часть мировой
              добычи которой осуществляется в РФ.
            </p>
            <p class="temperature-stability__text txt20">
              Диагран обладает превосходными виброгасящими свойствами, химической стойкостью и термической
              стабильностью, в отличие от чугуна, стали и других металлов.
            </p>
          </div>
          <div class="temperature-stability__text-box">
            <p class="temperature-stability__text txt20">
              Диагран обладает превосходными виброгасящими свойствами, химической стойкостью и термической
              стабильностью, в отличие от чугуна, стали и других металлов.
            </p>
            <a href="#" class="temperature-stability__btn txt18 txt18_caps">
              подробнее о диагране
              <span class="temperature-stability__link-svg-wrapper">
                <span class="temperature-stability__link-svg-box">
                  <svg
                    width="23"
                    height="22"
                    viewBox="0 0 23 22"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M6.16797 16.5L16.4805 6.1875"
                      stroke="white"
                      stroke-width="1.5"
                      stroke-linecap="square"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M8.23047 5.5L17.168 5.5L17.168 14.4375"
                      stroke="white"
                      stroke-width="1.5"
                      stroke-linecap="square"
                      stroke-linejoin="round"
                    />
                  </svg>
                </span>
                <span class="temperature-stability__link-svg-box">
                  <svg
                    width="23"
                    height="22"
                    viewBox="0 0 23 22"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M6.16797 16.5L16.4805 6.1875"
                      stroke="white"
                      stroke-width="1.5"
                      stroke-linecap="square"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M8.23047 5.5L17.168 5.5L17.168 14.4375"
                      stroke="white"
                      stroke-width="1.5"
                      stroke-linecap="square"
                      stroke-linejoin="round"
                    />
                  </svg>
                </span>
              </span>
            </a>
          </div>
        </div>
        <div class="temperature-stability__desc-box">
          <p class="temperature-stability__desc txt26 txt26_caps">
            Станина BEAVERMILL выполнена из диаграна — смеси кварца, гранита и габбродолерита.
          </p>
        </div>
      </div>

      <div class="temperature-stability__schedule-box">
        <div class="temperature-stability__schedule-img-box">
          <img src="./assets/images/temperature-schedule.webp" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
