<section class="policy _first">
  <div class="container policy__container">
    <div class="policy__inner">
      <p class="policy__title tl1">ПОЛЬЗОВАТЕЛЬСКОЕ СОГЛАШЕНИЕ</p>
      <ol class="policy__inner-main-list">
        <li class="policy__inner-main-item txt18 txt18_caps">
          Общие положения
          <ol class="policy__inner-list txt18">
            <li class="policy__inner-item">
              Настоящее Пользовательское соглашение (далее – Соглашение) относится к сайту, расположенному по
              адресу https://beavermc.com/
            </li>
            <li class="policy__inner-item">
              Сайт https://beavermc.com/ (далее – Сайт) является собственностью ОБЩЕСТВА С ОГРАНИЧЕННОЙ
              ОТВЕТСТВЕННОСТЬЮ "БИВЕР ТЕХ", зарегистрированного на территории России (ОГРН: 1227700310826)
              (далее – Компания).
            </li>

            <li class="policy__inner-item">
              Настоящее Соглашение определяет условия использования материалов и функционала Сайта, а также
              регулирует отношения между Компанией и Пользователем Сайта.
            </li>
            <li class="policy__inner-item">
              Компания оставляет за собой право в любое время видоизменять, добавлять или удалять пункты
              настоящего Соглашения без уведомления Пользователя. Новая редакция Пользовательского соглашения
              вступает в силу с момента ее опубликования на Сайте.
            </li>
            <li class="policy__inner-item">
              Продолжение использования Сайта Пользователем означает принятие Соглашения и изменений,
              внесенных в настоящее Соглашение.
            </li>
            <li class="policy__inner-item">
              Пользователь несет персональную ответственность за проверку настоящего Соглашения на наличие
              изменений в нем.
            </li>
          </ol>
        </li>

        <li class="policy__inner-main-item txt18 txt18_caps">
          Определение терминов
          <ol class="policy__inner-list txt18">
            <li class="policy__inner-item">
              Перечисленные ниже термины имеют для целей настоящего Соглашения следующее значение:

              <ol class="policy__inner-ol-list">
                <li class="policy__inner-item-ol-item">
                  Сайт — совокупность электронных данных, доступных для просмотра в сети интернет в домене
                  https://beavermc.com/.
                </li>
                <li class="policy__inner-item-ol-item">
                  Пользователь — дееспособное физическое лицо или юридическое лицо, любой посетитель сайта,
                  имеющее намерение ознакомиться с информацией о компании Beaver Technology, с продукцией
                  компании и/или осуществить заказ продукции;
                </li>
                <li class="policy__inner-item-ol-item">
                  Компания — ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "БИВЕР ТЕХ", зарегистрированное на
                  территории России (ОГРН: 1227700310826), являющееся владельцем и администратором
                  программно-аппаратного комплекса Сайта и оказывающее услуги Пользователю в соответствии с
                  условиями пользования Сайтом, содержащимися в настоящем соглашении.
                </li>
                <li class="policy__inner-item-ol-item">
                  Товар — товары из ассортиментного перечня продуктов, маркированных товарным знаком «BEAVER
                  technology», являющиеся оборудованием для предпринимательской деятельности, и представленные
                  на Сайте к возможности заключения договоров купли-продажи.
                </li>
                <li class="policy__inner-item-ol-item">
                  Содержание сайта (далее — Содержание) — охраняемые результаты интеллектуальной деятельности,
                  включая тексты литературных произведений, их названия, предисловия, аннотации, статьи,
                  иллюстрации, обложки, музыкальные произведения с текстом или без текста, графические,
                  текстовые, фотографические, производные, составные и иные произведения, пользовательские
                  интерфейсы, визуальные интерфейсы, названия товарных знаков, логотипы, программы для ЭВМ,
                  базы данных, а также дизайн, структура, выбор, координация, внешний вид, общий стиль и
                  расположение данного Сайте, его содержание и материалы, входящие в состав Сайта, и другие
                  объекты интеллектуальной собственности, все вместе и/или по отдельности, содержащиеся на
                  Сайте.
                </li>
                <li class="policy__inner-item-ol-item">
                  Персональная карточка Покупателя — специализированный раздел Сайта, защищенный специальными
                  средствами защиты, содержащий в том числе персональные данные Пользователя и позволяющий
                  Пользователю посредством специальных сервисов совершать операции, связанные с оформлением
                  заказов в целях последующей купли-продажи Товаров, а также получать от Компании официальные
                  уведомления и прочую актуальную информацию и выполнять иные функции в рамках технической
                  возможности Сайта.
                </li>
              </ol>
            </li>
          </ol>
        </li>

        <li class="policy__inner-main-item txt18 txt18_caps">
          Предмет соглашения

          <ol class="policy__inner-list txt18">
            <li class="policy__inner-item">
              Предметом настоящего Соглашения является предоставление Пользователю доступа к содержащимся на
              Сайте Товарам и оказываемым посредством Сайта услугам.
              <ol class="policy__inner-ol-list txt18">
                <li class="policy__inner-item-ol-item">
                  Компания предоставляет Пользователю следующие виды услуг (сервисов) на Сайте:

                  <ul class="policy__inner-item-list">
                    <li class="policy__inner-item-item policy__inner-item--first">
                      Доступ к электронному контенту на бесплатной основе, с правом приобретения (скачивания),
                      просмотра контента;
                    </li>
                    <li class="policy__inner-item-item policy__inner-item--first">
                      Доступ к средствам поиска и навигации в рамках Сайта;
                    </li>
                    <li class="policy__inner-item-item policy__inner-item--first">
                      Предоставление Пользователю возможности размещения сообщений, комментариев, рецензий
                      Пользователей, выставления оценок контенту Сайта;
                    </li>
                    <li class="policy__inner-item-item policy__inner-item--first">
                      Доступ к информации о Товаре, его основных потребительских свойствах и к информации о
                      приобретении Товара;
                    </li>
                    <li class="policy__inner-item-item policy__inner-item--first">
                      Иные виды услуг (сервисов), реализуемые на страницах Сайта.
                    </li>
                  </ul>
                </li>
                <li class="policy__inner-item-ol-item">
                  Под действие настоящего Соглашения подпадают все существующие (реально функционирующие) на
                  данный момент услуги (сервисы) Сайта, а также любые их последующие модификации и
                  появляющиеся в дальнейшем дополнительные услуги (сервисы) Сайта.
                </li>
              </ol>
            </li>
            <li class="policy__inner-item">Доступ к Сайту предоставляется на безвозмедной основе.</li>
            <li class="policy__inner-item">
              Настоящее Соглашение является публичной офертой. Получая доступ к Сайту, Пользователь считается
              присоединившимся к настоящему Соглашению.
            </li>
            <li class="policy__inner-item">
              Использование материалов и сервисов Сайта регулируется нормами действующего законодательства
              Российской Федерации.
            </li>
            <li class="policy__inner-item">
              Защиту персональных данных Пользователя, ставших известными Компании, Компания осуществляет
              своими силами и за свой счет. Порядок защиты конфиденциальности определяется Компанией
              самостоятельно, в том числе, но не ограничиваясь, путем размещения соответствующих правовых
              документов на Сайте.
            </li>
          </ol>
        </li>

        <li class="policy__inner-main-item txt18 txt18_caps">
          ПРАВА И ОБЯЗАННОСТИ СТОРОН
          <ol class="policy__inner-list txt18">
            <li class="policy__inner-item">
              Компания вправе:
              <ol class="policy__inner-ol-list txt18">
                <li class="policy__inner-item-ol-item">
                  Изменять правила пользования Сайтом, а также изменять содержание Сайта. Изменения вступают в
                  силу с момента публикации новой редакции Соглашения на Сайте.
                </li>
                <li class="policy__inner-item-ol-item">
                  Ограничить доступ к Сайту в случае нарушения Пользователем условий настоящего Соглашения.
                </li>
                <li class="policy__inner-item-ol-item">
                  Изменять размер оплаты, взимаемый за предоставление доступа к использованию Сайта. Изменение
                  стоимости не будет распространяться на Пользователей, имеющих регистрацию к моменту
                  изменения размера оплаты, за исключением случаев, особо оговоренных Компанией.
                </li>
              </ol>
            </li>
            <li class="policy__inner-item">
              Пользователь вправе:

              <ol class="policy__inner-ol-list txt18">
                <li class="policy__inner-item-ol-item">
                  Получить доступ к использованию Сайта и Персональной карточки Покупателя после соблюдения
                  требований и порядка регистрации на Сайте.
                </li>
                <li class="policy__inner-item-ol-item">
                  Пользоваться всеми имеющимися на Сайте услугами, а также заказывать в целях дальнейшего
                  приобретения любые Товары, предлагаемые на Сайте, в соответствии с условиями осуществления
                  продажи, приведенными в Предложении о порядке оформления заказов и приобретения товаров,
                  изложенном в соответствующем разделе Сайта.
                </li>
                <li class="policy__inner-item-ol-item">
                  Задавать любые вопросы, относящиеся к услугам Сайта и Компании по реквизитам, которые
                  находятся в соответствующем разделе Сайта.
                </li>
                <li class="policy__inner-item-ol-item">
                  Пользоваться Сайтом исключительно в целях и порядке, предусмотренных Соглашением и не
                  запрещенных законодательством Российской Федерации.
                </li>
              </ol>
            </li>

            <li class="policy__inner-item">
              Пользователь Сайта обязуется:

              <ol class="policy__inner-ol-list txt18">
                <li class="policy__inner-item-ol-item">
                  Предоставлять по запросу Компании дополнительную информацию, которая имеет непосредственное
                  отношение к предоставляемым услугам Сайта.
                </li>
                <li class="policy__inner-item-ol-item">
                  Соблюдать имущественные и не имущественные права авторов и иных правообладателей при
                  использовании Сайта.
                </li>
                <li class="policy__inner-item-ol-item">
                  Не предпринимать действий, которые могут рассматриваться как нарушающие нормальную работу
                  Сайта.
                </li>
                <li class="policy__inner-item-ol-item">
                  Не распространять с использованием Сайта любую конфиденциальную и охраняемую
                  законодательством Российской Федерации информацию о физических либо юридических лицах.
                </li>
                <li class="policy__inner-item-ol-item">
                  Избегать любых действий, в результате которых может быть нарушена конфиденциальность
                  охраняемой законодательством Российской Федерации информации.
                </li>
                <li class="policy__inner-item-ol-item">
                  Не использовать Сайт для распространения информации рекламного характера, иначе как с
                  согласия Компании.
                </li>
                <li class="policy__inner-item-ol-item">
                  Не использовать сервисы Сайта в следующих целях:
                  <ol class="policy__inner-ol-list txt18">
                    <li class="policy__inner-item-ol-item">
                      загрузки контента, который является незаконным, нарушает любые права третьих лиц;
                      пропагандирует насилие, жестокость, ненависть и (или) дискриминацию по расовому,
                      национальному, половому, религиозному, социальному признакам; содержит недостоверные
                      сведения и (или) оскорбления в адрес конкретных лиц, организаций, органов власти.
                    </li>
                    <li class="policy__inner-item-ol-item">
                      побуждения к совершению противоправных действий, а также содействия лицам, действия
                      которых направлены на нарушение ограничений и запретов, действующих на территории
                      Российской Федерации.
                    </li>
                    <li class="policy__inner-item-ol-item">
                      нарушения прав несовершеннолетних лиц и (или) причинение им вреда в любой форме.
                    </li>
                    <li class="policy__inner-item-ol-item">ущемления прав меньшинств.</li>
                    <li class="policy__inner-item-ol-item">
                      представления себя за другого человека или представителя организации и (или) сообщества
                      без достаточных на то прав, в том числе за сотрудников Компании и Продавца.
                    </li>
                    <li class="policy__inner-item-ol-item">
                      введения в заблуждение относительно свойств и характеристик какого-либо Товара из
                      каталога Товаров, размещенного на Сайте.
                    </li>
                    <li class="policy__inner-item-ol-item">
                      некорректного сравнения Товара, а также формирования негативного отношения к лицам, (не)
                      пользующимся определенными Товарами, или осуждения таких лиц.
                    </li>
                  </ol>
                </li>
              </ol>
            </li>
            <li class="policy__inner-item">
              Пользователю запрещается:
              <ol class="policy__inner-ol-list txt18">
                <li class="policy__inner-item-ol-item">
                  Использовать любые устройства, программы, процедуры, алгоритмы и методы, автоматические
                  устройства или эквивалентные ручные процессы для доступа, приобретения, копирования или
                  отслеживания содержания Сайта;
                </li>
                <li class="policy__inner-item-ol-item">Нарушать надлежащее функционирование Сайта;</li>
                <li class="policy__inner-item-ol-item">
                  Любым способом обходить навигационную структуру Сайта для получения или попытки получения
                  любой информации, документов или материалов любыми средствами, которые специально не
                  представлены сервисами Сайта;
                </li>
                <li class="policy__inner-item-ol-item">
                  Несанкционированный доступ к функциям Сайта, любым другим системам или сетям, относящимся к
                  Сайту, а также к любым услугам, предлагаемым на Сайте;
                </li>
                <li class="policy__inner-item-ol-item">
                  Нарушать систему безопасности или аутентификации на Сайте или в любой сети, относящейся к
                  Сайту.
                </li>
                <li class="policy__inner-item-ol-item">
                  Выполнять обратный поиск, отслеживать или пытаться отслеживать любую информацию о любом
                  другом Пользователе Сайта.
                </li>
                <li class="policy__inner-item-ol-item">
                  Использовать Сайт и его Содержание в любых целях, запрещенных законодательством Российской
                  Федерации, а также подстрекать к любой незаконной деятельности или другой деятельности,
                  нарушающей права Компании или других лиц.
                </li>
              </ol>
            </li>
          </ol>
        </li>

        <li class="policy__inner-main-item txt18 txt18_caps">
          Использование сайта
          <ol class="policy__inner-list txt18">
            <li class="policy__inner-item">
              Сайт и Содержание, входящее в состав Сайта, принадлежит и управляется Компанией. Авторские права
              Компании на Сайт, его дизайн и Содержание подлежат защите как права на результаты
              интеллектуальной деятельности в соответствии с положениями части IV Гражданского кодекса РФ.
              Товарный знак «BEAVERMILL» является зарегистрированным товарным знаком.
            </li>
            <li class="policy__inner-item">
              Содержание Сайта не может быть скопировано, опубликовано, воспроизведено, передано или
              распространено любым способом, а также размещено в глобальной сети «Интернет» без
              предварительного письменного согласия Компании или правообладателя.
            </li>

            <li class="policy__inner-item">
              Содержание Сайта защищено авторским правом, законодательством о товарных знаках, а также другими
              правами, связанными с интеллектуальной собственностью, и законодательством о недобросовестной
              конкуренции.
            </li>
            <li class="policy__inner-item">
              Пользователь несет персональную ответственность за сохранение конфиденциальности информации
              Персональной карточки Покупателя, включая пароль, а также за всю без исключения деятельность,
              которая ведётся от имени Пользователя в рамках его Персональной карточки Покупателя.
            </li>
            <li class="policy__inner-item">
              Пользователь должен незамедлительно уведомить Компанию о несанкционированном использовании его
              Персональной карточки Покупателя или пароля или любом другом нарушении системы безопасности
              Сайта.
            </li>
            <li class="policy__inner-item">
              Настоящее Соглашение распространяет свое действия на все дополнительные положения и условия о
              покупке Товара и оказанию услуг, предоставляемых на Сайте.
            </li>
            <li class="policy__inner-item">
              Информация, размещаемая на Сайте, не должна истолковываться как изменение настоящего Соглашения.
            </li>
            <li class="policy__inner-item">
              Компания имеет право в любое время без уведомления Пользователя вносить изменения в перечень
              Товаров и услуг, предлагаемых на Сайте, и (или) в цены, применимые к таким Товарам по их
              реализации и (или) оказываемым услугам Продавца.
            </li>
          </ol>
        </li>

        <li class="policy__inner-main-item txt18 txt18_caps">
          Ответственность
          <ol class="policy__inner-list txt18">
            <li class="policy__inner-item">
              Любые убытки, которые Пользователь может понести в случае умышленного или неосторожного
              нарушения любого положения настоящего Соглашения, а также вследствие несанкционированного
              доступа к коммуникациям другого Пользователя, Компанией не возмещаются.
            </li>
            <li class="policy__inner-item">
              Компания не несет ответственности за:

              <ol class="policy__inner-ol-list txt18">
                <li class="policy__inner-item-ol-item">
                  Задержки или сбои в процессе совершения операции, возникшие вследствие непреодолимой силы, а
                  также любого случая неполадок в телекоммуникационных, компьютерных, электрических и иных
                  смежных системах.
                </li>
                <li class="policy__inner-item-ol-item">
                  Действия систем переводов, банков, платежных систем и за задержки, связанные с их работой.
                </li>
                <li class="policy__inner-item-ol-item">
                  Компания осуществляет защиту персональной информации Пользователя, применяя общепринятые
                  методы безопасности для обеспечения защиты информации от потери, искажения и
                  несанкционированного распространения. Безопасность реализуется программными средствами
                  сетевой защиты, процедурами проверки доступа, применением криптографических средств защиты
                  информации, соблюдением политики конфиденциальности.
                </li>
              </ol>
            </li>

            <li class="policy__inner-item">
              Компания осуществляет защиту персональной информации Пользователя, применяя общепринятые методы
              безопасности для обеспечения защиты информации от потери, искажения и несанкционированного
              распространения. Безопасность реализуется программными средствами сетевой защиты, процедурами
              проверки доступа, применением криптографических средств защиты информации, соблюдением политики
              конфиденциальности.
            </li>
          </ol>
        </li>

        <li class="policy__inner-main-item txt18 txt18_caps">
          Нарушение условий пользовательского соглашения
          <ol class="policy__inner-list txt18">
            <li class="policy__inner-item">
              Компания вправе раскрыть любую собранную о Пользователе Сайта информацию, если раскрытие
              необходимо в связи с расследованием или жалобой в отношении неправомерного использования Сайта
              либо для установления (идентификации) Пользователя, который может нарушать или вмешиваться в
              права Компании или в права других Пользователей Сайта.
            </li>
            <li class="policy__inner-item">
              Компания имеет право раскрыть любую информацию о Пользователе, которую посчитает необходимой для
              выполнения положений действующего законодательства РФ или судебных решений, обеспечения
              выполнения условий настоящего Соглашения, защиты прав или безопасности Компании, Пользователей.
            </li>
            <li class="policy__inner-item">
              Компания имеет право раскрыть информацию о Пользователе, если действующее законодательство
              Российской Федерации требует или разрешает такое раскрытие.
            </li>
            <li class="policy__inner-item">
              Компания вправе без предварительного уведомления Пользователя прекратить и (или) заблокировать
              доступ к Сайту, если Пользователь нарушил настоящее Соглашение или содержащиеся в иных
              документах условия пользования Сайтом, а также в случае прекращения действия Сайта либо по
              причине технической неполадки или проблемы.
            </li>

            <li class="policy__inner-item">
              Компания не несет ответственности перед Пользователем или третьими лицами за прекращение доступа
              к Сайту в случае нарушения Пользователем любого положения настоящего Соглашения или иного
              документа, содержащего условия пользования Сайтом.
            </li>
          </ol>
        </li>

        <li class="policy__inner-main-item txt18 txt18_caps">
     Разрешение споров
          <ol class="policy__inner-list txt18">
            <li class="policy__inner-item">
              В случае возникновения любых разногласий или споров между Сторонами настоящего Соглашения обязательным условием до обращения в суд является предъявление претензии (письменного предложения о добровольном урегулировании спора).

            </li>
            <li class="policy__inner-item">
              Получатель претензии в течение 30 календарных дней со дня ее получения, письменно уведомляет заявителя претензии о результатах рассмотрения претензии.

            </li>
            <li class="policy__inner-item">
              При невозможности разрешить спор в добровольном порядке любая из Сторон вправе обратиться за защитой своих прав в Арбитражный суд г. Москвы.
            </li>
      
          </ol>
        </li>

        <li class="policy__inner-main-item txt18 txt18_caps">
         Дополнительные условия
               <ol class="policy__inner-list txt18">
                 <li class="policy__inner-item">
                  Компания не принимает встречные предложения от Пользователя относительно изменений настоящего Пользовательского соглашения.

                 </li>
                 <li class="policy__inner-item">
                  Отзывы Пользователя, размещенные на Сайте, не являются конфиденциальной информацией и могут быть использованы Компанией без ограничений. Компания вправе вносить изменения, редактировать, исправлять, дополнять и иным образом модифицировать отзывы Пользователя.


                 </li>
                 <li class="policy__inner-item">
                  Пользователь подтверждает, что ознакомлен со всеми пунктами настоящего Пользовательского соглашения и безусловно принимает их. Принятие Пользовательского соглашения осуществляется путем проставления Пользователем соответствующей отметки при оформлении заказа и(или) заполнении Персональной карточки и является согласием Пользователя на обработку персональных данных.

                 </li>
                 <li class="policy__inner-item">
                  Пользователь принимает решение о предоставлении своих персональных данных и дает согласие на их обработку своей волей и в своем интересе, за исключением случаев, предусмотренных частью 2 статьи 9 Федерального закона от 27.07.2006 Э 152-ФЗ «О персональных данных».

                 </li>
                 <li class="policy__inner-item">
                  Пользователь несет ответственность за предоставление персональных данных иного лица. Личные данные, вводимые Пользователем в Персональную карточку и(или) при оформлении заказа, используются для обратной связи с Пользователем, а также для передачи службе доставки. Принимая настоящее Пользовательское соглашение, Пользователь соглашается с передачей своих персональных данных и их использованием указанными третьим лицами в порядке, предусмотренном действующим законодательством РФ.

                 </li>
           
               </ol>
             </li>
      </ol>
    </div>
  </div>
</section>
