<section class="about-service">
    <div class="container">
        <div class="about-service__info">
            <p class="about-service__info-title tl1">об услуге</p>
            <p class="about-service__info-descr txt20">
                Мы предлагаем услуги по организации питания сотрудников, которые включают в себя разработку и
                приготовление питательных и вкусных обедов, а также доставку готовых блюд прямо на рабочие
                места. Кроме того, мы предлагаем различные программы питания, включая специальные диетические
                меню, при необходимости.
            </p>

            <div class="about-service__info-img">
                <img src="../assets/images/picture/about-service-img.webp" alt="" />
            </div>
        </div>

        <div class="about-service__bricks">
            <div class="about-service__bricks-item">
                <div class="about-service__bricks-item-box">
                    <div class="about-service__bricks-item-icon">
                        <img src="../assets/images/icons/tomato.png" alt="" />
                    </div>

                    <p class="about-service__bricks-item-title txt32">Качественно</p>
                    <p class="about-service__bricks-item-subtitle txt20">
                        Для приготовления используем свежие продукты
                    </p>
                </div>
            </div>
            <div class="about-service__bricks-item about-service__bricks-item--circle">
                <div class="about-service__bricks-item-box">
                    <div class="about-service__bricks-item-icon">
                        <img src="../assets/images/icons/hot-food.svg" alt="" />
                    </div>

                    <p class="about-service__bricks-item-title txt32">Сытно</p>
                    <p class="about-service__bricks-item-subtitle txt20">
                        Обед включает в себя салат, суп, горячее, и гарнир на выбор
                    </p>
                </div>
            </div>
            <div class="about-service__bricks-item about-service__bricks-item--circle">
                <div class="about-service__bricks-item-box">
                    <div class="about-service__bricks-item-icon">
                        <img src="../assets/images/icons/spoon.svg" alt="" />
                    </div>

                    <p class="about-service__bricks-item-title txt32">Удобно</p>
                    <p class="about-service__bricks-item-subtitle txt20">
                        Не надо искать ближайшие кафе или есть на ходу
                    </p>
                </div>
            </div>
            <div class="about-service__bricks-item">
                <div class="about-service__bricks-item-box">
                    <div class="about-service__bricks-item-icon">
                        <img src="../assets/images/icons/covered-food.svg" alt="" />
                    </div>

                    <p class="about-service__bricks-item-title txt32">Безопасно</p>
                    <p class="about-service__bricks-item-subtitle txt20">
                        Ежедневная доставка в индивидуальных контейнерах
                    </p>
                </div>
            </div>
        </div>

        <div class="about-service__swiper swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="about-service__bricks-item">
                        <div class="about-service__bricks-item-box">
                            <div class="about-service__bricks-item-icon">
                                <img src="../assets/images/icons/tomato.png" alt="" />
                            </div>

                            <p class="about-service__bricks-item-title txt32">Качественно</p>
                            <p class="about-service__bricks-item-subtitle txt20">
                                Для приготовления используем свежие продукты
                            </p>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="about-service__bricks-item about-service__bricks-item--circle">
                        <div class="about-service__bricks-item-box">
                            <div class="about-service__bricks-item-icon">
                                <img src="../assets/images/icons/hot-food.svg" alt="" />
                            </div>

                            <p class="about-service__bricks-item-title txt32">Сытно</p>
                            <p class="about-service__bricks-item-subtitle txt20">
                                Обед включает в себя салат, суп, горячее, и гарнир на выбор
                            </p>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="about-service__bricks-item">
                        <div class="about-service__bricks-item-box">
                            <div class="about-service__bricks-item-icon">
                                <img src="../assets/images/icons/covered-food.svg" alt="" />
                            </div>

                            <p class="about-service__bricks-item-title txt32">Безопасно</p>
                            <p class="about-service__bricks-item-subtitle txt20">
                                Ежедневная доставка в индивидуальных контейнерах
                            </p>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="about-service__bricks-item about-service__bricks-item--circle">
                        <div class="about-service__bricks-item-box">
                            <div class="about-service__bricks-item-icon">
                                <img src="../assets/images/icons/spoon.svg" alt="" />
                            </div>

                            <p class="about-service__bricks-item-title txt32">Удобно</p>
                            <p class="about-service__bricks-item-subtitle txt20">
                                Не надо искать ближайшие кафе или есть на ходу
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="about-service__slider-nav">
                <div class="about-service__slider-nav">
                    <div class="about-service__fractions"></div>
                    <div class="about-service__navigation swiper-navigation">
                        <button class="about-service__btn-prev swiper-btn-prev swiper-btn-prev--dark">
                            <svg
                                width="32"
                                height="32"
                                viewBox="0 0 32 32"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M1.58034 16.5803L30.419 16.581"
                                    stroke="#2E574D"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                                <path
                                    d="M23.9833 10.1974L30.4179 16.581L23.9833 22.9646"
                                    stroke="#2E574D"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                            </svg>
                        </button>
                        <button class="about-service__btn-next swiper-btn-next swiper-btn-next--dark">
                            <svg
                                width="32"
                                height="32"
                                viewBox="0 0 32 32"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M1.58034 16.5803L30.419 16.581"
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                                <path
                                    d="M23.9833 10.1974L30.4179 16.581L23.9833 22.9646"
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        
    </div>
</section>
