<section class="about_us-banner">
    <div class="container">
        <p class="tl1">о нашей компании</p>

        <div class="about_us-banner__container">
            <div class="about_us-banner__left">
                <div class="about_us-banner__text">
                    <p>Мы предоставляем услуги корпоративного питания в городе Москве. Наша команда работает в сфере общественного питания более 15 лет.</p>
                    <p>Миссия компании — сделать вкусную и здоровую пищу общедоступной</p>
                </div>
                <a class="btn-pr">
                    <span>Заявка</span>
                    <svg
                        width="52"
                        height="46"
                        viewBox="0 0 52 46"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            class="block"
                            d="M19.6615 5.12988C21.4274 1.96289 24.7694 0 28.3954 0H42C47.5229 0 52 4.47715 52 10V29.758V36C52 41.5228 47.5228 46 42 46H4.45232C1.99337 46 0 44.0066 0 41.5477C0 40.7887 0.194038 40.0423 0.563685 39.3793L19.6615 5.12988Z"
                            fill="currentColor"
                        />
                        <path
                            class="arrow"
                            d="M24 24.0804H39.8392"
                            stroke="currentColor"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                        <path
                            class="arrow"
                            d="M33.4034 17.6968L39.8381 24.0804L33.4034 30.464"
                            stroke="currentColor"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                    </svg>
                </a>
            </div>
            <div class="about_us-banner__center">
                <img class="desktop" src="../assets/images/picture/about_us__baner1.webp" alt="" />
            </div>
            <div class="about_us-banner__rigth">
                <div class="about_us-banner__item">
                    <div class="about_us-banner__title">1000+</div>
                    <div class="about_us-banner__subtitle">довольных клиентов</div>
                </div>
                <div class="about_us-banner__item">
                    <div class="about_us-banner__title">2+</div>
                    <div class="about_us-banner__subtitle">лет опыта</div>
                </div>
                <div class="about_us-banner__item">
                    <div class="about_us-banner__title">5000 <span>₽</span></div>
                    <div class="about_us-banner__subtitle">минимальный заказ</div>
                </div>
                <div class="about_us-banner__item">
                    <div class="about_us-banner__title">80+</div>
                    <div class="about_us-banner__subtitle">блюд на выбор</div>
                </div>
            </div>
        </div>
    </div>
</section>
