<section class="about_us-quality">
    <div class="container">
        <div class="about_us-quality__title">особенности</div>
        <div class="about_us-quality__container">
            <div class="about_us-quality__item">
                <div class="about_us-quality__number">1</div>
                <div class="about_us-quality__subtitle">Постоянный контроль качества</div>
                <div class="about_us-quality__text">Постоянный контроль качества гарантирует, что каждый приготовленный обед соответствует самым высоким стандартам свежести, вкуса и безопасности.</div>
                <a class="about_us-quality__link">
                    <span>Подробнее</span>
                    <svg width="30" height="29" viewBox="0 0 30 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path id="Vector" d="M0.580341 14.5803L29.419 14.5809" stroke="#D3FCA0" stroke-linecap="round" stroke-linejoin="round"/>
                        <path id="Vector_2" d="M22.9844 8.19739L29.419 14.581L22.9844 20.9646" stroke="#D3FCA0" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                        
                </a>
            </div>
            <div class="about_us-quality__item">
                <div class="about_us-quality__number">2</div>
                <div class="about_us-quality__subtitle">Соблюдение санитарных норм</div>
                <div class="about_us-quality__text">Мы придерживаемся высших стандартов санитарных норм, гарантируя, что каждый шаг производства питания соответствует строгим санитарным нормам.</div>
                <a class="about_us-quality__link">
                    <span>Подробнее</span>
                    <svg width="30" height="29" viewBox="0 0 30 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path id="Vector" d="M0.580341 14.5803L29.419 14.5809" stroke="#D3FCA0" stroke-linecap="round" stroke-linejoin="round"/>
                        <path id="Vector_2" d="M22.9844 8.19739L29.419 14.581L22.9844 20.9646" stroke="#D3FCA0" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                        
                </a>
            </div>
            <div class="about_us-quality__item">
                <div class="about_us-quality__number">3</div>
                <div class="about_us-quality__subtitle">Строгий отбор поставщиков</div>
                <div class="about_us-quality__text">Мы тщательно отбираем наших поставщиков, стремясь к высочайшему качеству ингредиентов. Наш строгий отбор гарантирует, что каждый компонент отвечает высоким стандартам.</div>
                <a class="about_us-quality__link">
                    <span>Подробнее</span>
                    <svg width="30" height="29" viewBox="0 0 30 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path id="Vector" d="M0.580341 14.5803L29.419 14.5809" stroke="#D3FCA0" stroke-linecap="round" stroke-linejoin="round"/>
                        <path id="Vector_2" d="M22.9844 8.19739L29.419 14.581L22.9844 20.9646" stroke="#D3FCA0" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                        
                </a>
            </div>
        </div>
    </div>
</section>
