<div class="container">
  <p class="advantages__title tl2">преимущества</p>
  <div class="advantages__wrapper">
    <div class="advantages__item">
      <p class="advantages__item-title tl3">Разнообразие</p>
      <div class="advantages__item-num txt-num">1</div>
      <div class="advantages__item-img">
        <img src="./assets/images/picture/advantages-1.webp" alt="">
      </div>
      <p class="advantages__item-text txt20">
        Предоставляем широкий выбор блюд. Мы ежедневно обновляем меню наших обедов, чтобы блюда не повторялись.<br>Вы можете сами менять состав обеда на свой вкус
      </p>
    </div>
    <div class="advantages__item">
      <p class="advantages__item-title tl3">Качество</p>
      <div class="advantages__item-num txt-num">2</div>
      <div class="advantages__item-img">
        <img src="./assets/images/picture/advantages-2.webp" alt="">
      </div>
      <p class="advantages__item-text txt20">
        Продукты для ваших обедов доставляются к нам на кухню в день доставки заказа. Все наши блюда готовятся из натуральных и свежих продуктов в день доставки заказа
      </p>
    </div>
    <div class="advantages__item">
      <p class="advantages__item-title tl3">Высокие стандарты</p>
      <div class="advantages__item-num txt-num">3</div>
      <div class="advantages__item-img">
        <img src="./assets/images/picture/advantages-3.webp" alt="">
      </div>
      <p class="advantages__item-text txt20">
        Мы не экономим на продуктах. Корпоративное питание должно соответствовать высоким стандартам качества пищи и ее вкуса. Готовим из продуктов от проверенных поставщиков
      </p>
    </div>
  </div>
</div>