<section class="articles">
    <div class="container">
        <div class="articles__inner">
            <p class="articles__title tl1">статьи</p>
            <div class="articles__list-wrapper">
                <ul class="articles__list">
                    <li class="articles__item">
                        <a href="#" class="articles__link">
                            <div class="articles__category-box">
                                <p class="articles__category txt16">полезное</p>
                            </div>

                            <div class="articles__img-box">
                                <img src="./assets/images/picture/article.webp" alt="" />
                            </div>
                            <div class="articles__info-box">
                                <p class="articles__info-title tl3">
                                    Масленица в офисе: идеи для организации
                                </p>
                                <button class="btn-pr articles__btn">
                                    <span>подробнее</span>
                                    <svg
                                        width="52"
                                        height="46"
                                        viewBox="0 0 52 46"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            class="block"
                                            d="M19.6615 5.12988C21.4274 1.96289 24.7694 0 28.3954 0H42C47.5229 0 52 4.47715 52 10V29.758V36C52 41.5228 47.5228 46 42 46H4.45232C1.99337 46 0 44.0066 0 41.5477C0 40.7887 0.194038 40.0423 0.563685 39.3793L19.6615 5.12988Z"
                                            fill="currentColor"
                                        />
                                        <path
                                            class="arrow"
                                            d="M24 24.0804H39.8392"
                                            stroke="currentColor"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        />
                                        <path
                                            class="arrow"
                                            d="M33.4034 17.6968L39.8381 24.0804L33.4034 30.464"
                                            stroke="currentColor"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        />
                                    </svg>
                                </button>
                            </div>
                        </a>
                    </li>
                    <li class="articles__item">
                        <a href="#" class="articles__link">
                            <div class="articles__category-box">
                                <p class="articles__category txt16">полезное</p>
                            </div>
                            <div class="articles__img-box">
                                <img src="./assets/images/picture/article.webp" alt="" />
                            </div>
                            <div class="articles__info-box">
                                <p class="articles__info-title tl3">
                                    Масленица в офисе: идеи для организации
                                </p>
                                <button class="btn-pr articles__btn">
                                    <span>подробнее</span>
                                    <svg
                                        width="52"
                                        height="46"
                                        viewBox="0 0 52 46"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            class="block"
                                            d="M19.6615 5.12988C21.4274 1.96289 24.7694 0 28.3954 0H42C47.5229 0 52 4.47715 52 10V29.758V36C52 41.5228 47.5228 46 42 46H4.45232C1.99337 46 0 44.0066 0 41.5477C0 40.7887 0.194038 40.0423 0.563685 39.3793L19.6615 5.12988Z"
                                            fill="currentColor"
                                        />
                                        <path
                                            class="arrow"
                                            d="M24 24.0804H39.8392"
                                            stroke="currentColor"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        />
                                        <path
                                            class="arrow"
                                            d="M33.4034 17.6968L39.8381 24.0804L33.4034 30.464"
                                            stroke="currentColor"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        />
                                    </svg>
                                </button>
                            </div>
                        </a>
                    </li>
                    <li class="articles__item">
                        <a href="#" class="articles__link">
                            <div class="articles__category-box">
                                <p class="articles__category txt16">полезное</p>
                            </div>
                            <div class="articles__img-box">
                                <img src="./assets/images/picture/article.webp" alt="" />
                            </div>
                            <div class="articles__info-box">
                                <p class="articles__info-title tl3">
                                    Масленица в офисе: идеи для организации
                                </p>
                                <button class="btn-pr articles__btn">
                                    <span>подробнее</span>
                                    <svg
                                        width="52"
                                        height="46"
                                        viewBox="0 0 52 46"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            class="block"
                                            d="M19.6615 5.12988C21.4274 1.96289 24.7694 0 28.3954 0H42C47.5229 0 52 4.47715 52 10V29.758V36C52 41.5228 47.5228 46 42 46H4.45232C1.99337 46 0 44.0066 0 41.5477C0 40.7887 0.194038 40.0423 0.563685 39.3793L19.6615 5.12988Z"
                                            fill="currentColor"
                                        />
                                        <path
                                            class="arrow"
                                            d="M24 24.0804H39.8392"
                                            stroke="currentColor"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        />
                                        <path
                                            class="arrow"
                                            d="M33.4034 17.6968L39.8381 24.0804L33.4034 30.464"
                                            stroke="currentColor"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        />
                                    </svg>
                                </button>
                            </div>
                        </a>
                    </li>
                    <li class="articles__item">
                        <a href="#" class="articles__link">
                            <div class="articles__category-box">
                                <p class="articles__category txt16">полезное</p>
                            </div>
                            <div class="articles__img-box">
                                <img src="./assets/images/picture/article.webp" alt="" />
                            </div>
                            <div class="articles__info-box">
                                <p class="articles__info-title tl3">
                                    Масленица в офисе: идеи для организации
                                </p>
                                <button class="btn-pr articles__btn">
                                    <span>подробнее</span>
                                    <svg
                                        width="52"
                                        height="46"
                                        viewBox="0 0 52 46"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            class="block"
                                            d="M19.6615 5.12988C21.4274 1.96289 24.7694 0 28.3954 0H42C47.5229 0 52 4.47715 52 10V29.758V36C52 41.5228 47.5228 46 42 46H4.45232C1.99337 46 0 44.0066 0 41.5477C0 40.7887 0.194038 40.0423 0.563685 39.3793L19.6615 5.12988Z"
                                            fill="currentColor"
                                        />
                                        <path
                                            class="arrow"
                                            d="M24 24.0804H39.8392"
                                            stroke="currentColor"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        />
                                        <path
                                            class="arrow"
                                            d="M33.4034 17.6968L39.8381 24.0804L33.4034 30.464"
                                            stroke="currentColor"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        />
                                    </svg>
                                </button>
                            </div>
                        </a>
                    </li>
                    <li class="articles__item">
                        <a href="#" class="articles__link">
                            <div class="articles__category-box">
                                <p class="articles__category txt16">полезное</p>
                            </div>
                            <div class="articles__img-box">
                                <img src="./assets/images/picture/article.webp" alt="" />
                            </div>
                            <div class="articles__info-box">
                                <p class="articles__info-title tl3">
                                    Масленица в офисе: идеи для организации
                                </p>
                                <button class="btn-pr articles__btn">
                                    <span>подробнее</span>
                                    <svg
                                        width="52"
                                        height="46"
                                        viewBox="0 0 52 46"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            class="block"
                                            d="M19.6615 5.12988C21.4274 1.96289 24.7694 0 28.3954 0H42C47.5229 0 52 4.47715 52 10V29.758V36C52 41.5228 47.5228 46 42 46H4.45232C1.99337 46 0 44.0066 0 41.5477C0 40.7887 0.194038 40.0423 0.563685 39.3793L19.6615 5.12988Z"
                                            fill="currentColor"
                                        />
                                        <path
                                            class="arrow"
                                            d="M24 24.0804H39.8392"
                                            stroke="currentColor"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        />
                                        <path
                                            class="arrow"
                                            d="M33.4034 17.6968L39.8381 24.0804L33.4034 30.464"
                                            stroke="currentColor"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        />
                                    </svg>
                                </button>
                            </div>
                        </a>
                    </li>
                    <li class="articles__item">
                        <a href="#" class="articles__link">
                            <div class="articles__category-box">
                                <p class="articles__category txt16">полезное</p>
                            </div>
                            <div class="articles__img-box">
                                <img src="./assets/images/picture/article.webp" alt="" />
                            </div>
                            <div class="articles__info-box">
                                <p class="articles__info-title tl3">
                                    Масленица в офисе: идеи для организации
                                </p>
                                <button class="btn-pr articles__btn">
                                    <span>подробнее</span>
                                    <svg
                                        width="52"
                                        height="46"
                                        viewBox="0 0 52 46"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            class="block"
                                            d="M19.6615 5.12988C21.4274 1.96289 24.7694 0 28.3954 0H42C47.5229 0 52 4.47715 52 10V29.758V36C52 41.5228 47.5228 46 42 46H4.45232C1.99337 46 0 44.0066 0 41.5477C0 40.7887 0.194038 40.0423 0.563685 39.3793L19.6615 5.12988Z"
                                            fill="currentColor"
                                        />
                                        <path
                                            class="arrow"
                                            d="M24 24.0804H39.8392"
                                            stroke="currentColor"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        />
                                        <path
                                            class="arrow"
                                            d="M33.4034 17.6968L39.8381 24.0804L33.4034 30.464"
                                            stroke="currentColor"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        />
                                    </svg>
                                </button>
                            </div>
                        </a>
                    </li>
                </ul>
                <button class="articles__more-btn txt20_bold">
                    <span> Загрузить еще</span>
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="29"
                        height="31"
                        viewBox="0 0 29 31"
                        fill="none"
                    >
                        <path
                            d="M14.5005 1.16164L14.4999 30.0003"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                        <path
                            d="M20.8844 23.5647L14.5008 29.9994L8.11719 23.5647"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>
