<section class="benefits bg-1">
    <div class="container">
        <p class="tl1">Почему мы</p>

        <ul class="benefits__list">
            <li class="benefits__item">
                <span class="tl1">1</span>
                <span class="txt32">Разнообразие</span>
                <p class="txt20">
                    Предоставляем широкий выбор блюд. Мы ежедневно обновляем меню наших обедов, чтобы блюда не
                    повторялись. Вы можете сами менять состав обеда на свой вкус
                </p>
            </li>
            <li class="benefits__item">
                <span class="tl1">2</span>
                <span class="txt32">Качество</span>
                <p class="txt20">
                    Мы гордимся тем, что предлагаем только высококачественные и свежие продукты. Наша цель -
                    удовлетворить потребности даже самых требовательных сотрудников.
                </p>
            </li>
            <li class="benefits__item">
                <span class="tl1">3</span>
                <span class="txt32">Быстрая доставка</span>
                <p class="txt20">
                    Безопасность пищевых продуктов для нас имеет первостепенное значение. Мы строго следим за
                    соблюдением всех санитарных норм и стандартов.
                </p>
            </li>
        </ul>
    </div>
</section>
