<!-- <section class="certificates">
    <div class="container">
        <div class="certificates__inner">
            <p class="certificates__title tl2">сертификаты</p>
            <div class="certificates__swiper-box">
                <div class="certificates__swiper swiper">
                    <div class="certificates__swiper-wrapper swiper-wrapper">
                        <div class="certificates__swiper-slide swiper-slide" data-index="0">
                            <div class="certificates__swiper-slide-inner">
                                <div class="certificates__swiper-slide-img-wrapper">
                                    <div class="certificates__swiper-slide-img-box">
                                        <img src="./assets/images/picture/cert.webp" alt="" />
                                    </div>
                                </div>
                                <div class="certificates__swiper-slide-info-wrapper">
                                    <div class="certificates__swiper-slide-info-box">
                                        <p class="certificates__swiper-slide-info-category txt16">
                                            Сертификат 1
                                        </p>
                                        <p class="certificates__swiper-slide-info-title txt20_bold">
                                            О повышении квалификации о области сервиса и обслуживания
                                        </p>
                                    </div>
                                    <button data-popup="#popup__certificates" class="certificates__swiper-slide-info-btn">
                                        <div class="certificates__swiper-slide-info-btn-svg-box">
                                            <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                width="24"
                                                height="24"
                                                viewBox="0 0 24 24"
                                                fill="none"
                                            >
                                                <path
                                                    d="M8.95108 16.5715C13.159 16.5715 16.5701 13.1603 16.5701 8.95242C16.5701 4.74454 13.159 1.33337 8.95108 1.33337C4.7432 1.33337 1.33203 4.74454 1.33203 8.95242C1.33203 13.1603 4.7432 16.5715 8.95108 16.5715Z"
                                                    stroke="#FBF7EB"
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                />
                                                <path
                                                    d="M22.7743 22.6667L14.2852 14.2858"
                                                    stroke="#FBF7EB"
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                />
                                            </svg>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="certificates__swiper-slide swiper-slide"  data-index="1">
                            <div class="certificates__swiper-slide-inner">
                                <div class="certificates__swiper-slide-img-wrapper">
                                    <div class="certificates__swiper-slide-img-box">
                                        <img src="./assets/images/picture/cert.webp" alt="" />
                                    </div>
                                </div>
                                <div class="certificates__swiper-slide-info-wrapper">
                                    <div class="certificates__swiper-slide-info-box">
                                        <p class="certificates__swiper-slide-info-category txt16">
                                            Сертификат 2
                                        </p>
                                        <p class="certificates__swiper-slide-info-title txt20_bold">
                                            О повышении квалификации о области сервиса и обслуживания
                                        </p>
                                    </div>
                                    <button data-popup="#popup__certificates" class="certificates__swiper-slide-info-btn">
                                        <div class="certificates__swiper-slide-info-btn-svg-box">
                                            <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                width="24"
                                                height="24"
                                                viewBox="0 0 24 24"
                                                fill="none"
                                            >
                                                <path
                                                    d="M8.95108 16.5715C13.159 16.5715 16.5701 13.1603 16.5701 8.95242C16.5701 4.74454 13.159 1.33337 8.95108 1.33337C4.7432 1.33337 1.33203 4.74454 1.33203 8.95242C1.33203 13.1603 4.7432 16.5715 8.95108 16.5715Z"
                                                    stroke="#FBF7EB"
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                />
                                                <path
                                                    d="M22.7743 22.6667L14.2852 14.2858"
                                                    stroke="#FBF7EB"
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                />
                                            </svg>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="certificates__swiper-slide swiper-slide"  data-index="2">
                            <div class="certificates__swiper-slide-inner">
                                <div class="certificates__swiper-slide-img-wrapper">
                                    <div class="certificates__swiper-slide-img-box">
                                        <img src="./assets/images/picture/cert.webp" alt="" />
                                    </div>
                                </div>
                                <div class="certificates__swiper-slide-info-wrapper">
                                    <div class="certificates__swiper-slide-info-box">
                                        <p class="certificates__swiper-slide-info-category txt16">
                                            Сертификат 3
                                        </p>
                                        <p class="certificates__swiper-slide-info-title txt20_bold">
                                            О повышении квалификации о области сервиса и обслуживания
                                        </p>
                                    </div>
                                    <button data-popup="#popup__certificates" class="certificates__swiper-slide-info-btn">
                                        <div class="certificates__swiper-slide-info-btn-svg-box">
                                            <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                width="24"
                                                height="24"
                                                viewBox="0 0 24 24"
                                                fill="none"
                                            >
                                                <path
                                                    d="M8.95108 16.5715C13.159 16.5715 16.5701 13.1603 16.5701 8.95242C16.5701 4.74454 13.159 1.33337 8.95108 1.33337C4.7432 1.33337 1.33203 4.74454 1.33203 8.95242C1.33203 13.1603 4.7432 16.5715 8.95108 16.5715Z"
                                                    stroke="#FBF7EB"
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                />
                                                <path
                                                    d="M22.7743 22.6667L14.2852 14.2858"
                                                    stroke="#FBF7EB"
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                />
                                            </svg>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="certificates__swiper-slide swiper-slide"  data-index="3">
                            <div class="certificates__swiper-slide-inner">
                                <div class="certificates__swiper-slide-img-wrapper">
                                    <div class="certificates__swiper-slide-img-box">
                                        <img src="./assets/images/picture/cert.webp" alt="" />
                                    </div>
                                </div>
                                <div class="certificates__swiper-slide-info-wrapper">
                                    <div class="certificates__swiper-slide-info-box">
                                        <p class="certificates__swiper-slide-info-category txt16">
                                            Сертификат 4
                                        </p>
                                        <p class="certificates__swiper-slide-info-title txt20_bold">
                                            О повышении квалификации о области сервиса и обслуживания
                                        </p>
                                    </div>
                                    <button data-popup="#popup__certificates" class="certificates__swiper-slide-info-btn">
                                        <div class="certificates__swiper-slide-info-btn-svg-box">
                                            <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                width="24"
                                                height="24"
                                                viewBox="0 0 24 24"
                                                fill="none"
                                            >
                                                <path
                                                    d="M8.95108 16.5715C13.159 16.5715 16.5701 13.1603 16.5701 8.95242C16.5701 4.74454 13.159 1.33337 8.95108 1.33337C4.7432 1.33337 1.33203 4.74454 1.33203 8.95242C1.33203 13.1603 4.7432 16.5715 8.95108 16.5715Z"
                                                    stroke="#FBF7EB"
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                />
                                                <path
                                                    d="M22.7743 22.6667L14.2852 14.2858"
                                                    stroke="#FBF7EB"
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                />
                                            </svg>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="certificates__swiper-slide swiper-slide"  data-index="3">
                            <div class="certificates__swiper-slide-inner">
                                <div class="certificates__swiper-slide-img-wrapper">
                                    <div class="certificates__swiper-slide-img-box">
                                        <img src="./assets/images/picture/cert.webp" alt="" />
                                    </div>
                                </div>
                                <div class="certificates__swiper-slide-info-wrapper">
                                    <div class="certificates__swiper-slide-info-box">
                                        <p class="certificates__swiper-slide-info-category txt16">
                                            Сертификат
                                        </p>
                                        <p class="certificates__swiper-slide-info-title txt20_bold">
                                            О повышении квалификации о области сервиса и обслуживания
                                        </p>
                                    </div>
                                    <button data-popup="#popup__certificates" class="certificates__swiper-slide-info-btn">
                                        <div class="certificates__swiper-slide-info-btn-svg-box">
                                            <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                width="24"
                                                height="24"
                                                viewBox="0 0 24 24"
                                                fill="none"
                                            >
                                                <path
                                                    d="M8.95108 16.5715C13.159 16.5715 16.5701 13.1603 16.5701 8.95242C16.5701 4.74454 13.159 1.33337 8.95108 1.33337C4.7432 1.33337 1.33203 4.74454 1.33203 8.95242C1.33203 13.1603 4.7432 16.5715 8.95108 16.5715Z"
                                                    stroke="#FBF7EB"
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                />
                                                <path
                                                    d="M22.7743 22.6667L14.2852 14.2858"
                                                    stroke="#FBF7EB"
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                />
                                            </svg>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="certificates__slider-nav">
                        <div class="certificates__fractions"></div>
                        <div class="certificates__navigation swiper-navigation">
                            <button class="certificates__btn-prev swiper-btn-prev">
                                <svg
                                    width="32"
                                    height="32"
                                    viewBox="0 0 32 32"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        d="M1.58034 16.5803L30.419 16.581"
                                        stroke="currentColor"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                    />
                                    <path
                                        d="M23.9833 10.1974L30.4179 16.581L23.9833 22.9646"
                                        stroke="currentColor"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                    />
                                </svg>
                            </button>
                            <button class="certificates__btn-next swiper-btn-next">
                                <svg
                                    width="32"
                                    height="32"
                                    viewBox="0 0 32 32"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        d="M1.58034 16.5803L30.419 16.581"
                                        stroke="currentColor"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                    />
                                    <path
                                        d="M23.9833 10.1974L30.4179 16.581L23.9833 22.9646"
                                        stroke="currentColor"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                    />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<section class="certificates">
    <div class="container">
        <div class="certificates__inner">
            <p class="certificates__title tl2">сертификаты</p>
            <div class="certificates__swiper-box">
                <div class="certificates__swiper swiper">
                    <div class="certificates__swiper-wrapper swiper-wrapper">
                        <div class="certificates__swiper-slide swiper-slide" data-index="0">
                            <div class="certificates__swiper-slide-inner">
                                <div class="certificates__swiper-slide-img-wrapper">
                                    <div class="certificates__swiper-slide-img-box">
                                        <img src="./assets/images/picture/cert.webp" alt="" />
                                    </div>
                                </div>
                                <div class="certificates__swiper-slide-info-wrapper">
                                    <div class="certificates__swiper-slide-info-box">
                                        <p class="certificates__swiper-slide-info-category txt16">
                                            Сертификат 1
                                        </p>
                                        <p class="certificates__swiper-slide-info-title txt20_bold">
                                            О повышении квалификации о области сервиса и обслуживания
                                        </p>
                                    </div>
                                    <a href="./assets/images/picture/quality-1.webp" data-fancybox="certificates"  class="certificates__swiper-slide-info-btn">
                                        <div class="certificates__swiper-slide-info-btn-svg-box">
                                            <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                width="24"
                                                height="24"
                                                viewBox="0 0 24 24"
                                                fill="none"
                                            >
                                                <path
                                                    d="M8.95108 16.5715C13.159 16.5715 16.5701 13.1603 16.5701 8.95242C16.5701 4.74454 13.159 1.33337 8.95108 1.33337C4.7432 1.33337 1.33203 4.74454 1.33203 8.95242C1.33203 13.1603 4.7432 16.5715 8.95108 16.5715Z"
                                                    stroke="#FBF7EB"
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                />
                                                <path
                                                    d="M22.7743 22.6667L14.2852 14.2858"
                                                    stroke="#FBF7EB"
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                />
                                            </svg>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="certificates__swiper-slide swiper-slide"  data-index="1">
                            <div class="certificates__swiper-slide-inner">
                                <div class="certificates__swiper-slide-img-wrapper">
                                    <div class="certificates__swiper-slide-img-box">
                                        <img src="./assets/images/picture/cert.webp" alt="" />
                                    </div>
                                </div>
                                <div class="certificates__swiper-slide-info-wrapper">
                                    <div class="certificates__swiper-slide-info-box">
                                        <p class="certificates__swiper-slide-info-category txt16">
                                            Сертификат 2
                                        </p>
                                        <p class="certificates__swiper-slide-info-title txt20_bold">
                                            О повышении квалификации о области сервиса и обслуживания
                                        </p>
                                    </div>
                                    <a href="./assets/images/picture/quality-3.webp" data-fancybox="certificates"  class="certificates__swiper-slide-info-btn">
                                        <div class="certificates__swiper-slide-info-btn-svg-box">
                                            <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                width="24"
                                                height="24"
                                                viewBox="0 0 24 24"
                                                fill="none"
                                            >
                                                <path
                                                    d="M8.95108 16.5715C13.159 16.5715 16.5701 13.1603 16.5701 8.95242C16.5701 4.74454 13.159 1.33337 8.95108 1.33337C4.7432 1.33337 1.33203 4.74454 1.33203 8.95242C1.33203 13.1603 4.7432 16.5715 8.95108 16.5715Z"
                                                    stroke="#FBF7EB"
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                />
                                                <path
                                                    d="M22.7743 22.6667L14.2852 14.2858"
                                                    stroke="#FBF7EB"
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                />
                                            </svg>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="certificates__swiper-slide swiper-slide"  data-index="2">
                            <div class="certificates__swiper-slide-inner">
                                <div class="certificates__swiper-slide-img-wrapper">
                                    <div class="certificates__swiper-slide-img-box">
                                        <img src="./assets/images/picture/cert.webp" alt="" />
                                    </div>
                                </div>
                                <div class="certificates__swiper-slide-info-wrapper">
                                    <div class="certificates__swiper-slide-info-box">
                                        <p class="certificates__swiper-slide-info-category txt16">
                                            Сертификат 3
                                        </p>
                                        <p class="certificates__swiper-slide-info-title txt20_bold">
                                            О повышении квалификации о области сервиса и обслуживания
                                        </p>
                                    </div>
                                    <a href="./assets/images/picture/quality-2.webp" data-fancybox="certificates"  class="certificates__swiper-slide-info-btn">
                                        <div class="certificates__swiper-slide-info-btn-svg-box">
                                            <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                width="24"
                                                height="24"
                                                viewBox="0 0 24 24"
                                                fill="none"
                                            >
                                                <path
                                                    d="M8.95108 16.5715C13.159 16.5715 16.5701 13.1603 16.5701 8.95242C16.5701 4.74454 13.159 1.33337 8.95108 1.33337C4.7432 1.33337 1.33203 4.74454 1.33203 8.95242C1.33203 13.1603 4.7432 16.5715 8.95108 16.5715Z"
                                                    stroke="#FBF7EB"
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                />
                                                <path
                                                    d="M22.7743 22.6667L14.2852 14.2858"
                                                    stroke="#FBF7EB"
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                />
                                            </svg>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="certificates__swiper-slide swiper-slide"  data-index="3">
                            <div class="certificates__swiper-slide-inner">
                                <div class="certificates__swiper-slide-img-wrapper">
                                    <div class="certificates__swiper-slide-img-box">
                                        <img src="./assets/images/picture/cert.webp" alt="" />
                                    </div>
                                </div>
                                <div class="certificates__swiper-slide-info-wrapper">
                                    <div class="certificates__swiper-slide-info-box">
                                        <p class="certificates__swiper-slide-info-category txt16">
                                            Сертификат 4
                                        </p>
                                        <p class="certificates__swiper-slide-info-title txt20_bold">
                                            О повышении квалификации о области сервиса и обслуживания
                                        </p>
                                    </div>
                                    <a href="./assets/images/picture/quality-3.webp" data-fancybox="certificates"  class="certificates__swiper-slide-info-btn">
                                        <div class="certificates__swiper-slide-info-btn-svg-box">
                                            <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                width="24"
                                                height="24"
                                                viewBox="0 0 24 24"
                                                fill="none"
                                            >
                                                <path
                                                    d="M8.95108 16.5715C13.159 16.5715 16.5701 13.1603 16.5701 8.95242C16.5701 4.74454 13.159 1.33337 8.95108 1.33337C4.7432 1.33337 1.33203 4.74454 1.33203 8.95242C1.33203 13.1603 4.7432 16.5715 8.95108 16.5715Z"
                                                    stroke="#FBF7EB"
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                />
                                                <path
                                                    d="M22.7743 22.6667L14.2852 14.2858"
                                                    stroke="#FBF7EB"
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                />
                                            </svg>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="certificates__swiper-slide swiper-slide"  data-index="3">
                            <div class="certificates__swiper-slide-inner">
                                <div class="certificates__swiper-slide-img-wrapper">
                                    <div class="certificates__swiper-slide-img-box">
                                        <img src="./assets/images/picture/cert.webp" alt="" />
                                    </div>
                                </div>
                                <div class="certificates__swiper-slide-info-wrapper">
                                    <div class="certificates__swiper-slide-info-box">
                                        <p class="certificates__swiper-slide-info-category txt16">
                                            Сертификат
                                        </p>
                                        <p class="certificates__swiper-slide-info-title txt20_bold">
                                            О повышении квалификации о области сервиса и обслуживания
                                        </p>
                                    </div>
                                    <a href="./assets/images/picture/quality-2.webp" data-fancybox="certificates" class="certificates__swiper-slide-info-btn">
                                        <div class="certificates__swiper-slide-info-btn-svg-box">
                                            <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                width="24"
                                                height="24"
                                                viewBox="0 0 24 24"
                                                fill="none"
                                            >
                                                <path
                                                    d="M8.95108 16.5715C13.159 16.5715 16.5701 13.1603 16.5701 8.95242C16.5701 4.74454 13.159 1.33337 8.95108 1.33337C4.7432 1.33337 1.33203 4.74454 1.33203 8.95242C1.33203 13.1603 4.7432 16.5715 8.95108 16.5715Z"
                                                    stroke="#FBF7EB"
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                />
                                                <path
                                                    d="M22.7743 22.6667L14.2852 14.2858"
                                                    stroke="#FBF7EB"
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                />
                                            </svg>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="certificates__slider-nav">
                        <div class="certificates__fractions"></div>
                        <div class="certificates__navigation swiper-navigation">
                            <button class="certificates__btn-prev swiper-btn-prev">
                                <svg
                                    width="32"
                                    height="32"
                                    viewBox="0 0 32 32"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        d="M1.58034 16.5803L30.419 16.581"
                                        stroke="currentColor"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                    />
                                    <path
                                        d="M23.9833 10.1974L30.4179 16.581L23.9833 22.9646"
                                        stroke="currentColor"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                    />
                                </svg>
                            </button>
                            <button class="certificates__btn-next swiper-btn-next">
                                <svg
                                    width="32"
                                    height="32"
                                    viewBox="0 0 32 32"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        d="M1.58034 16.5803L30.419 16.581"
                                        stroke="currentColor"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                    />
                                    <path
                                        d="M23.9833 10.1974L30.4179 16.581L23.9833 22.9646"
                                        stroke="currentColor"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                    />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
