<section class="corpofood-banner">
    <div class="container">
        <div class="corpofood-banner__head">
            <div class="corpofood-banner__head-images">
                <div class="corpofood-banner__head-images-figure"></div>
                <button class="corpofood-banner__head-images-item">
                    <img src="../assets/images/picture/corpofood-banner-img2.webp" alt="" />
                </button>
            </div>

            <div class="corpofood-banner__head-content">
                <p class="corpofood-banner__head-title tl1">корпоративное питание</p>

                <p class="corpofood-banner__head-subtitle txt16">
                    Мы предлагаем сбалансированное меню для сотрудников и высокое качество обслуживания.
                </p>
            </div>
        </div>
        <div class="corpofood-banner__bottom">
            <div class="corpofood-banner__bottom-img">
                <img src="../assets/images/picture/corpofood-banner-main-img.webp" alt="" />
            </div>
        </div>
    </div>
</section>
