<section class="corp-food">
  <div class="container">
    <p class="corp-food__title tl2">корпоративное питание</p>
    <p class="corp-food__subtitle txt20 mob">У нас есть готовые решения для наших заказчиков в зависимости от потребностей.</p>
    <div class="corp-food__slider_desc desc">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="corp-food__slide">
            <div class="corp-food__slide-info">
              <p class="corp-food__slide-info-text tl3">Корпоративное питание для ваших сотрудников</p>
              <p class="corp-food__slide-info-num txt-num">1</p>
            </div>
            <div class="corp-food__slide-img">
              <img src="./assets/images/picture/corp-food_1.webp" alt="">
            </div>
          </div>
          <div class="corp-food__slide">
            <div class="corp-food__slide-info">
              <p class="corp-food__slide-info-text tl3">Комплексные обеды <br>с доставкой в офис</p>
              <p class="corp-food__slide-info-num txt-num">2</p>
            </div>
            <div class="corp-food__slide-img">
              <img src="./assets/images/picture/corp-food_2.webp" alt="">
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="corp-food__slide">
            <div class="corp-food__slide-info">
              <p class="corp-food__slide-info-text tl3">Комплексные обеды <br>с доставкой в офис</p>
              <p class="corp-food__slide-info-num txt-num">3</p>
            </div>
            <div class="corp-food__slide-img">
              <img src="./assets/images/picture/corp-food_2.webp" alt="">
            </div>
          </div>
          <div class="corp-food__slide">
            <div class="corp-food__slide-info">
              <p class="corp-food__slide-info-text tl3">Корпоративное питание для ваших сотрудников</p>
              <p class="corp-food__slide-info-num txt-num">4</p>
            </div>
            <div class="corp-food__slide-img">
              <img src="./assets/images/picture/corp-food_1.webp" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="corp-food__slider_mob mob">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="corp-food__slide">
            <div class="corp-food__slide-info">
              <p class="corp-food__slide-info-text tl3">Корпоративное питание для ваших сотрудников</p>
              <p class="corp-food__slide-info-num txt-num">1</p>
            </div>
            <div class="corp-food__slide-img">
              <img src="./assets/images/picture/corp-food_1.webp" alt="">
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="corp-food__slide">
            <div class="corp-food__slide-info">
              <p class="corp-food__slide-info-text tl3">Комплексные обеды <br>с доставкой в офис</p>
              <p class="corp-food__slide-info-num txt-num">2</p>
            </div>
            <div class="corp-food__slide-img">
              <img src="./assets/images/picture/corp-food_2.webp" alt="">
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="corp-food__slide">
            <div class="corp-food__slide-info">
              <p class="corp-food__slide-info-text tl3">Комплексные обеды <br>с доставкой в офис</p>
              <p class="corp-food__slide-info-num txt-num">3</p>
            </div>
            <div class="corp-food__slide-img">
              <img src="./assets/images/picture/corp-food_2.webp" alt="">
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="corp-food__slide">
            <div class="corp-food__slide-info">
              <p class="corp-food__slide-info-text tl3">Корпоративное питание для ваших сотрудников</p>
              <p class="corp-food__slide-info-num txt-num">4</p>
            </div>
            <div class="corp-food__slide-img">
              <img src="./assets/images/picture/corp-food_1.webp" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="corp-food__bottom">
      <div class="corp-food__slider-nav desc">
        <div class="corp-food__fractions_desc"></div>
        <div class="corp-food__navigation swiper-navigation">
          <button class="corp-food__btn-prev_desc swiper-btn-prev _green">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1.58034 16.5803L30.419 16.581" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M23.9833 10.1974L30.4179 16.581L23.9833 22.9646" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </button>
          <button class="corp-food__btn-next_desc swiper-btn-next _green">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1.58034 16.5803L30.419 16.581" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M23.9833 10.1974L30.4179 16.581L23.9833 22.9646" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </button>
        </div>
      </div>
      <div class="corp-food__slider-nav mob">
        <div class="corp-food__navigation swiper-navigation">
          <button class="corp-food__btn-prev_mob swiper-btn-prev _green">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1.58034 16.5803L30.419 16.581" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M23.9833 10.1974L30.4179 16.581L23.9833 22.9646" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </button>
          <button class="corp-food__btn-next_mob swiper-btn-next _green">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1.58034 16.5803L30.419 16.581" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M23.9833 10.1974L30.4179 16.581L23.9833 22.9646" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </button>
        </div>
      </div>
      <a href="#" class="btn-pr corp-food__more-btn">
        <span>Подробнее</span>
        <svg width="52" height="46" viewBox="0 0 52 46" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path class="block" d="M19.6615 5.12988C21.4274 1.96289 24.7694 0 28.3954 0H42C47.5229 0 52 4.47715 52 10V29.758V36C52 41.5228 47.5228 46 42 46H4.45232C1.99337 46 0 44.0066 0 41.5477C0 40.7887 0.194038 40.0423 0.563685 39.3793L19.6615 5.12988Z" fill="currentColor"/>
          <path class="arrow" d="M24 24.0804H39.8392" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          <path class="arrow" d="M33.4034 17.6968L39.8381 24.0804L33.4034 30.464" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </a>
    </div>
  </div>
</section>