<section class="delivery-payment">
    <div class="container">
        <div class="delivery-payment__head">
            <p class="tl2">оплата заказа</p>

            <div class="delivery-payment__slider-nav">
                <div class="delivery-payment__fractions"></div>
                <div class="delivery-payment__navigation swiper-navigation">
                    <button class="delivery-payment__btn-prev swiper-btn-prev swiper-btn-prev--dark">
                        <svg
                            width="32"
                            height="32"
                            viewBox="0 0 32 32"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M1.58034 16.5803L30.419 16.581"
                                stroke="#2E574D"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                            <path
                                d="M23.9833 10.1974L30.4179 16.581L23.9833 22.9646"
                                stroke="#2E574D"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                        </svg>
                    </button>
                    <button class="delivery-payment__btn-next swiper-btn-next swiper-btn-next--dark">
                        <svg
                            width="32"
                            height="32"
                            viewBox="0 0 32 32"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M1.58034 16.5803L30.419 16.581"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                            <path
                                d="M23.9833 10.1974L30.4179 16.581L23.9833 22.9646"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                        </svg>
                    </button>
                </div>
            </div>
        </div>

        <div class="delivery-payment__slider swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="delivery-payment__variant">
                        <div class="delivery-payment__variant-box">
                            <div class="delivery-payment__variant-icon">
                                <img src="../assets/images/icons/cash.svg" alt="" />
                            </div>

                            <p class="delivery-payment__variant-title txt32">Наличными курьеру</p>
                            <p class="delivery-payment__variant-subtitle txt20">При получении</p>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="delivery-payment__variant delivery-payment__variant--circle">
                        <div class="delivery-payment__variant-box">
                            <div class="delivery-payment__variant-icon">
                                <img src="../assets/images/icons/card.svg" alt="" />
                            </div>

                            <p class="delivery-payment__variant-title txt32">Переводом с карты на карту</p>
                            <p class="delivery-payment__variant-subtitle txt20">Система быстрых платежей</p>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="delivery-payment__variant">
                        <div class="delivery-payment__variant-box">
                            <div class="delivery-payment__variant-icon">
                                <img src="../assets/images/icons/bill.svg" alt="" />
                            </div>

                            <p class="delivery-payment__variant-title txt32">
                                Через расчётный счет организации
                            </p>
                            <p class="delivery-payment__variant-subtitle txt20">Для юридических лиц</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
