<section class="article">
    <div class="container">
        <div class="article__inner">
            <div class="article__aside">
                <p class="article__aside-title tl3">Другие статьи:</p>
                <ul class="article__aside-list">
                    <li class="article__aside-item">
                        <a href="#" class="article__aside-item-link">
                            <div class="article__aside-category-box">
                                <p class="article__aside-category txt16">полезное</p>
                            </div>
                            <p class="article__aside-link-title txt20">
                                Масленица в офисе: идеи для организации
                            </p>
                        </a>
                    </li>
                    <li class="article__aside-item">
                        <a href="#" class="article__aside-item-link">
                            <div class="article__aside-category-box">
                                <p class="article__aside-category txt16">полезное</p>
                                <p class="article__aside-category txt16">полезное</p>
                                <p class="article__aside-category txt16">полезное</p>
                            </div>
                            <p class="article__aside-link-title txt20">
                                Масленица в офисе: идеи для организации
                            </p>
                        </a>
                    </li>
                    <li class="article__aside-item">
                        <a href="#" class="article__aside-item-link">
                            <div class="article__aside-category-box">
                                <p class="article__aside-category txt16">полезное</p>
                            </div>
                            <p class="article__aside-link-title txt20">
                                Масленица в офисе: идеи для организации
                            </p>
                        </a>
                    </li>
                    <li class="article__aside-item">
                        <a href="#" class="article__aside-item-link">
                            <div class="article__aside-category-box">
                                <p class="article__aside-category txt16">полезное</p>
                            </div>
                            <p class="article__aside-link-title txt20">
                                Масленица в офисе: идеи для организации
                            </p>
                        </a>
                    </li>
                    <li class="article__aside-item">
                        <a href="#" class="article__aside-item-link">
                            <div class="article__aside-category-box">
                                <p class="article__aside-category txt16">полезное</p>
                            </div>
                            <p class="article__aside-link-title txt20">
                                Масленица в офисе: идеи для организации
                            </p>
                        </a>
                    </li>
                    <li class="article__aside-item">
                        <a href="#" class="article__aside-item-link">
                            <div class="article__aside-category-box">
                                <p class="article__aside-category txt16">полезное</p>
                            </div>
                            <p class="article__aside-link-title txt20">
                                Масленица в офисе: идеи для организации
                            </p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="article__content">
                <div class="article__content-header-box">
                    <div class="article__content-header-row">
                        <div class="article__category-box">
                            <p class="article__category txt16">полезное</p>
                           
                        </div>
                        <p class="article__time txt16">10.03.22</p>
                    </div>
                   
                    <p class="article__title tl2">Масленица в офисе: идеи для организации</p>
                </div>

                <div class="article__content-box">
                    <div class="article__content-img-box article__content-img-box--big">
                        <img src="./assets/images/picture/article.webp" alt="" />
                    </div>
                    <div class="article__content-text-box">
                        <p class="article__content-text-title tl3">Остаемся в офисе — фуршет</p>
                        <div class="article__content-text-desk-box">
                            <p class="article__content-text-desk txt20">
                                Если традиционных корпоративов вам недостаточно, ваш коллектив работает
                                максимально эффективно и требует больше отдыха и коммуникации, попробуйте новый
                                формат праздника и организуйте Масленицу в офисе. Конечно, многие славянские
                                традиции подразумевают выезд за город, однако сжигать чучело в опенспейсе совсем
                                не обязательно. Многие интересные обычаи можно адаптировать в рамках безопасности.
                                Кулачные бои для мужчин заменить на соревнование по армрестлингу, а катания на
                                санях — на заезд в офисных креслах. Все зависит от фантазии и раскрепощенности
                                ваших сотрудников. Но если вы предпочитаете более консервативный стиль
                                корпоративов и не хотите пугать коллег из соседних компаний, то предлагаем
                                ограничиться вечеринкой с блинами. Но помните, по традиции радоваться и смеяться в
                                этот день — обязательно. Масленичная неделя всегда начинается в понедельник и
                                завершается, соответственно, в воскресенье. Вы легко найдете материалы об обрядах
                                каждого дня праздника в интернете. С помощью них можно придумать и устроить
                                активности связанные с этими традициями. Таким образом, Масленицу можно
                                праздновать всю неделю.
                            </p>
                        </div>
                       
                    </div>
                    <div class="article__content-text-box">
                        <p class="article__content-text-title tl3">
                            Празднование масленицы идеально впишется в формат выездного корпоратива.
                        </p>
                        <div class="article__content-text-desk-box">
                            <p class="article__content-text-desk txt20">
                                Славянское торжество полно традиций и игр, которые можно превратить в интересные
                                конкурсы и забавы для участников. Вы можете испечь блины самостоятельно, но лучше
                                заказать кейтеринг, чтобы не тратить время на приготовление еды, а сосредоточиться
                                на развлекательной программе. Вам не обязательно искать сценарии народного
                                фольклора, в России практически все детские игры связаны с Масленицей: игра в
                                снежки, ручеек и жмурки. Вот несколько вариантов для веселого времяпрепровождения
                                под открытым небом. Славянское торжество полно традиций и игр, которые можно
                                превратить в интересные конкурсы и забавы для участников. Вы можете испечь блины
                                самостоятельно, но лучше заказать кейтеринг, чтобы не тратить время на
                                приготовление еды, а сосредоточиться на развлекательной программе. Вам не
                                обязательно искать сценарии народного фольклора, в России практически все детские
                                игры связаны с Масленицей: игра в снежки, ручеек и жмурки. Вот несколько вариантов
                                для веселого времяпрепровождения под открытым небом.
                            </p>
                        </div>
             
                    </div>
                    <div class="article__content-img-box article__content-img-box--min">
                        <div class="article__content-swiper swiper">
                            <div class="article__content-swiper-wrapper swiper-wrapper">
                                <div class="article__content-swiper-slide swiper-slide">
                                    <div class="article__content-img--min-wrapper">
                                        <img src="./assets/images/picture/article.webp" alt="" />
                                    </div>
                                </div>
                                <div class="article__content-swiper-slide swiper-slide">
                                    <div class="article__content-img--min-wrapper">
                                        <img src="./assets/images/picture/article.webp" alt="" />
                                    </div>
                                </div>
                            </div>
                            <div class="article__swiper-nav">
                                <div class="article__fractions"></div>
                                <div class="article__navigation swiper-navigation">
                                    <button class="article__btn-prev swiper-btn-prev">
                                        <svg
                                            width="32"
                                            height="32"
                                            viewBox="0 0 32 32"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg"
                                        >
                                            <path
                                                d="M1.58034 16.5803L30.419 16.581"
                                                stroke="currentColor"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            />
                                            <path
                                                d="M23.9833 10.1974L30.4179 16.581L23.9833 22.9646"
                                                stroke="currentColor"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            />
                                        </svg>
                                    </button>
                                    <button class="article__btn-next swiper-btn-next">
                                        <svg
                                            width="32"
                                            height="32"
                                            viewBox="0 0 32 32"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg"
                                        >
                                            <path
                                                d="M1.58034 16.5803L30.419 16.581"
                                                stroke="currentColor"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            />
                                            <path
                                                d="M23.9833 10.1974L30.4179 16.581L23.9833 22.9646"
                                                stroke="currentColor"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="article__content-text-box">
                        <p class="article__content-text-title tl3">
                            Блинный кофе-брейк —идеальный вариант для официального мероприятия
                        </p>
                        <div class="article__content-text-desk-box">
                            <p class="article__content-text-desk txt20">
                                Думаем, ваши партнеры или участники брифинга оценят доброжелательный подход и
                                креативность. Особенно, если среди них окажутся иностранцы. Угостите их блинами с
                                икрой, которые давно считаются визитной карточкой национальной русской кухни. И не
                                забудьте рассказать, что по славянской примете тех, кто съест блинчик в праздник
                                Масленицы, весь год будет сопровождать удача и финансовое благополучие. Разбавьте
                                привычный фуршет с закусками сладкими блинами, чтобы подчеркнуть ваше внимание к
                                деталям и приверженность традициям. Если вы не хотите тратить время на изучение
                                меню для угощений на праздник в этом году, то вы можете оставить заявку, и мы
                                организуем лучший праздник для вас.
                            </p>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
