<section class="employees">
    <div class="container">
        <div class="employees__inner">
            <div class="employees__header-box">
                <p class="employees__title tl2">наши сотрудники</p>
                <p class="employees__desk txt20">При наборе новых сотрудников, мы проводим тщательное собеседование. Мы исследуем профессиональные качества, опыт работы и уровень образования потенциальных кандидатов.</p>
            </div>
            <div class="employees__swiper-box">
                <div class="employees__swiper swiper">
                    <div class="employees__swiper-wrapper swiper-wrapper">
                        <div class="employees__swiper-slide swiper-slide">
                            <div class="employees__swiper-slide-img-box">
                                <img src="./assets/images/picture/employees-1.webp" alt="">
                            </div>
                        </div>
                        <div class="employees__swiper-slide swiper-slide">
                            <div class="employees__swiper-slide-img-box">
                                <img src="./assets/images/picture/employees-2.webp" alt="">
                            </div>
                        </div>
                        <div class="employees__swiper-slide swiper-slide">
                            <div class="employees__swiper-slide-img-box">
                                <img src="./assets/images/picture/employees-3.webp" alt="">
                            </div>
                        </div>
                    
                    </div>
                    <div class="employees__slider-nav">
                        <div class="employees__fractions"></div>
                        <div class="employees__navigation swiper-navigation">
                          <button class="employees__btn-prev swiper-btn-prev">
                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M1.58034 16.5803L30.419 16.581" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                              <path d="M23.9833 10.1974L30.4179 16.581L23.9833 22.9646" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                          </button>
                          <button class="employees__btn-next swiper-btn-next">
                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M1.58034 16.5803L30.419 16.581" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                              <path d="M23.9833 10.1974L30.4179 16.581L23.9833 22.9646" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                          </button>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</section>