<section class="advantages _dark bg-2">
    <div class="container">
        <p class="advantages__title tl2">как мы работаем</p>
        <div class="advantages__wrapper">
            <div class="advantages__item">
                <p class="advantages__item-title tl3">Оформите заказ</p>
                <div class="advantages__item-num txt-num">1</div>
                <div class="advantages__item-img">
                    <img src="./assets/images/picture/advantages-1.webp" alt="" />
                </div>
                <p class="advantages__item-text txt20">
                    Заказы принимаются до 16:00 текущего дня на следующий день.
                </p>
            </div>
            <div class="advantages__item">
                <p class="advantages__item-title tl3">Согласуйте состав блюда</p>
                <div class="advantages__item-num txt-num">2</div>
                <div class="advantages__item-img">
                    <img src="./assets/images/picture/advantages-2.webp" alt="" />
                </div>
                <p class="advantages__item-text txt20">
                    Готовим еду исключительно с утра в день доставки. Блюда доставляются в одноразовой
                    пластиковой посуде для подогрева.
                </p>
            </div>
            <div class="advantages__item">
                <p class="advantages__item-title tl3">Ждите вкусную еду</p>
                <div class="advantages__item-num txt-num">3</div>
                <div class="advantages__item-img">
                    <img src="./assets/images/picture/advantages-3.webp" alt="" />
                </div>
                <p class="advantages__item-text txt20">
                    Заказы доставляются с 9-00 до 15-00. Можем доставить за пределы МКАД. Позвоните и мы
                    посчитаем для Вас стоимость доставки.
                </p>
            </div>
        </div>
    </div>
</section>
