<section class="how-order">
  <div class="container">
    <p class="how-order__title tl2">как сделать заказ</p>
    <div class="how-order__wrapper">
      <div class="how-order__item">
        <div class="how-order__item-num">
          <div class="how-order__item-num-img">
            <img src="./assets/images/picture/how-order__num-bg.svg" alt="">
          </div>
          <p class="how-order__item-num-text tl2">01</p>
        </div>
        <div class="how-order__item-info">
          <div class="how-order__item-info-content">
            <p class="how-order__item-info-title txt20_bold">Выберите предложение</p>
            <p class="how-order__item-info-subtitle txt16">У нас представлен большой выбор предложений для наших заказчиков.</p>
          </div>
          <div class="how-order__item-info-img">
            <img src="./assets/images/icons/menu-icon_dark.svg" alt="">
          </div>
        </div>
      </div>
      <div class="how-order__item">
        <div class="how-order__item-num">
          <div class="how-order__item-num-img">
            <img src="./assets/images/picture/how-order__num-bg.svg" alt="">
          </div>
          <p class="how-order__item-num-text tl2">02</p>
        </div>
        <div class="how-order__item-info">
          <div class="how-order__item-info-content">
            <p class="how-order__item-info-title txt20_bold">Оставьте заявку</p>
            <p class="how-order__item-info-subtitle txt16">Вы можете связаться на нами через сайт <br class="desc">или по телефону<br class="mob"> +7 (499) 136 29 23</p>
          </div>
          <div class="how-order__item-info-img">
            <img src="./assets/images/icons/tel-icon_dark.svg" alt="">
          </div>
        </div>
      </div>
      <div class="how-order__item">
        <div class="how-order__item-num">
          <div class="how-order__item-num-img">
            <img src="./assets/images/picture/how-order__num-bg.svg" alt="">
          </div>
          <p class="how-order__item-num-text tl2">03</p>
        </div>
        <div class="how-order__item-info">
          <div class="how-order__item-info-content">
            <p class="how-order__item-info-title txt20_bold">Выберите условия</p>
            <p class="how-order__item-info-subtitle txt16">Согласуйте состав обеда, количество, <br class="desc">адрес и время доставки</p>
          </div>
          <div class="how-order__item-info-img">
            <img src="./assets/images/icons/clock-icon_dark.svg" alt="">
          </div>
        </div>
      </div>
      <div class="how-order__item">
        <div class="how-order__item-num">
          <div class="how-order__item-num-img">
            <img src="./assets/images/picture/how-order__num-bg.svg" alt="">
          </div>
          <p class="how-order__item-num-text tl2">04</p>
        </div>
        <div class="how-order__item-info">
          <div class="how-order__item-info-content">
            <p class="how-order__item-info-title txt20_bold">Ожидайте заказ</p>
            <p class="how-order__item-info-subtitle txt16">Отдохните, пока мы готовим <br>и доставляем ваш заказ</p>
          </div>
          <div class="how-order__item-info-img">
            <img src="./assets/images/icons/mug-icon_dark.svg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>