<section class="main-banner _first bg-1">
    <div class="container">
       <div class="main-banner__info">
        <p class="main-banner__title tl1">Организуем Корпоративное Питание</p>
        <p class="main-banner__subtitle txt16">Выбирайте и заказывайте комплексные обеды с удобной доставкой прямо в ваш офис.<br>Мы предлагаем разнообразные меню, чтобы удовлетворить вкусы и предпочтения каждого сотрудника.</p>
        <button class="btn-pr main-banner__order-btn" data-popup="#popup__application">
          <span>Заказать</span>
          <svg width="52" height="46" viewBox="0 0 52 46" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="block" d="M19.6615 5.12988C21.4274 1.96289 24.7694 0 28.3954 0H42C47.5229 0 52 4.47715 52 10V29.758V36C52 41.5228 47.5228 46 42 46H4.45232C1.99337 46 0 44.0066 0 41.5477C0 40.7887 0.194038 40.0423 0.563685 39.3793L19.6615 5.12988Z" fill="currentColor"/>
            <path class="arrow" d="M24 24.0804H39.8392" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path class="arrow" d="M33.4034 17.6968L39.8381 24.0804L33.4034 30.464" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>
       </div>
       <div class="main-banner__slider">
        <div class="main-banner__wrapper swiper-wrapper">
          <div class="swiper-slide">
            <div class="main-banner__slide">
              <div class="main-banner__slide-img">
                <img src="./assets/images/picture/food-1.webp" alt="">
              </div>
              <div class="main-banner__slide-bottom">
                <p class="main-banner__slide-text txt16">
                  <span class="tl3">1000+</span>довольных клиентов
                </p>
                <div class="main-banner__slide-people">
                  <div class="main-banner__slide-people-img">
                    <img src="./assets/images/picture/people-1.webp" alt="">
                  </div>
                  <div class="main-banner__slide-people-img">
                    <img src="./assets/images/picture/people-2.webp" alt="">
                  </div>
                  <div class="main-banner__slide-people-img">
                    <img src="./assets/images/picture/people-3.webp" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="main-banner__slide">
              <div class="main-banner__slide-img">
                <img src="./assets/images/picture/food-2.webp" alt="">
              </div>
              <div class="main-banner__slide-bottom">
                <p class="main-banner__slide-text txt16">
                  <span class="tl3">1000+</span>довольных клиентов
                </p>
                <div class="main-banner__slide-people">
                  <div class="main-banner__slide-people-img">
                    <img src="./assets/images/picture/people-1.webp" alt="">
                  </div>
                  <div class="main-banner__slide-people-img">
                    <img src="./assets/images/picture/people-2.webp" alt="">
                  </div>
                  <div class="main-banner__slide-people-img">
                    <img src="./assets/images/picture/people-3.webp" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="main-banner__slide">
              <div class="main-banner__slide-img">
                <img src="./assets/images/picture/food-3.webp" alt="">
              </div>
              <div class="main-banner__slide-bottom">
                <p class="main-banner__slide-text txt16">
                  <span class="tl3">1000+</span>довольных клиентов
                </p>
                <div class="main-banner__slide-people">
                  <div class="main-banner__slide-people-img">
                    <img src="./assets/images/picture/people-1.webp" alt="">
                  </div>
                  <div class="main-banner__slide-people-img">
                    <img src="./assets/images/picture/people-2.webp" alt="">
                  </div>
                  <div class="main-banner__slide-people-img">
                    <img src="./assets/images/picture/people-3.webp" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="main-banner__slider-nav">
          <div class="main-banner__fractions"></div>
          <div class="main-banner__navigation swiper-navigation">
            <button class="main-banner__btn-prev swiper-btn-prev">
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.58034 16.5803L30.419 16.581" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M23.9833 10.1974L30.4179 16.581L23.9833 22.9646" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </button>
            <button class="main-banner__btn-next swiper-btn-next">
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.58034 16.5803L30.419 16.581" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M23.9833 10.1974L30.4179 16.581L23.9833 22.9646" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </button>
          </div>
        </div>
       </div>
       <div class="main-banner__sub">
        <div class="main-banner__sub-img">
          <img src="./assets/images/icons/plate-icon.svg" alt="">
        </div>
        <div class="line"></div>
        <a href="#" class="main-banner__sub-link">
          <p class="main-banner__sub-title txt20_bold">
            Закажите пробный обед!
            <span class="txt16">Привезем обеды от 1 шт для пробы с бесплатной доставкой</span>
          </p>
          <div class="main-banner__sub-order txt20_bold">
            <span>Заказать</span>
            <svg class="svg" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1.58034 16.5803L30.419 16.581" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M23.9833 10.1974L30.4179 16.581L23.9833 22.9646" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
        </a>
       </div>
    </div>
</section>