<section class="other-services">
    <div class="container">
        <p class="tl2">другие услуги</p>

        <div class="other-services__slider-nav">
            <div class="other-services__slider-nav">
                <div class="other-services__fractions"></div>
                <div class="other-services__navigation swiper-navigation">
                    <button class="other-services__btn-prev swiper-btn-prev">
                        <svg
                            width="32"
                            height="32"
                            viewBox="0 0 32 32"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M1.58034 16.5803L30.419 16.581"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                            <path
                                d="M23.9833 10.1974L30.4179 16.581L23.9833 22.9646"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                        </svg>
                    </button>
                    <button class="other-services__btn-next swiper-btn-next">
                        <svg
                            width="32"
                            height="32"
                            viewBox="0 0 32 32"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M1.58034 16.5803L30.419 16.581"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                            <path
                                d="M23.9833 10.1974L30.4179 16.581L23.9833 22.9646"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                        </svg>
                    </button>
                </div>
            </div>
        </div>

        <div class="other-services__slider swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="other-services__slider-card">
                        <div class="other-services__slider-card-img">
                            <img src="../assets/images/picture/other-services-img1.webp" alt="" />
                        </div>

                        <p class="other-services__slider-card-title txt32">Корпоративное питание</p>
                        <p class="other-services__slider-card-subtitle txt20">
                            Вкусное и разнообразное питаниес доставкой в офис
                        </p>

                        <button class="btn-pr other-services__slider-card-btn">
                            <span>Подробнее</span>
                            <svg
                                width="52"
                                height="46"
                                viewBox="0 0 52 46"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    class="block"
                                    d="M19.6615 5.12988C21.4274 1.96289 24.7694 0 28.3954 0H42C47.5229 0 52 4.47715 52 10V29.758V36C52 41.5228 47.5228 46 42 46H4.45232C1.99337 46 0 44.0066 0 41.5477C0 40.7887 0.194038 40.0423 0.563685 39.3793L19.6615 5.12988Z"
                                    fill="currentColor"
                                />
                                <path
                                    class="arrow"
                                    d="M24 24.0804H39.8392"
                                    stroke="currentColor"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                                <path
                                    class="arrow"
                                    d="M33.4034 17.6968L39.8381 24.0804L33.4034 30.464"
                                    stroke="currentColor"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                            </svg>
                        </button>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="other-services__slider-card">
                        <div class="other-services__slider-card-img">
                            <img src="../assets/images/picture/other-services-img2.webp" alt="" />
                        </div>

                        <p class="other-services__slider-card-title txt32">Кофе брейк</p>
                        <p class="other-services__slider-card-subtitle txt20">
                            Вкусное и разнообразное питаниес доставкой в офис
                        </p>

                        <button class="btn-pr other-services__slider-card-btn">
                            <span>Подробнее</span>
                            <svg
                                width="52"
                                height="46"
                                viewBox="0 0 52 46"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    class="block"
                                    d="M19.6615 5.12988C21.4274 1.96289 24.7694 0 28.3954 0H42C47.5229 0 52 4.47715 52 10V29.758V36C52 41.5228 47.5228 46 42 46H4.45232C1.99337 46 0 44.0066 0 41.5477C0 40.7887 0.194038 40.0423 0.563685 39.3793L19.6615 5.12988Z"
                                    fill="currentColor"
                                />
                                <path
                                    class="arrow"
                                    d="M24 24.0804H39.8392"
                                    stroke="currentColor"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                                <path
                                    class="arrow"
                                    d="M33.4034 17.6968L39.8381 24.0804L33.4034 30.464"
                                    stroke="currentColor"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                            </svg>
                        </button>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="other-services__slider-card">
                        <div class="other-services__slider-card-img">
                            <img src="../assets/images/picture/other-services-img3.webp" alt="" />
                        </div>

                        <p class="other-services__slider-card-title txt32">Завтраки</p>
                        <p class="other-services__slider-card-subtitle txt20">
                            Вкусное и разнообразное питаниес доставкой в офис
                        </p>

                        <button class="btn-pr other-services__slider-card-btn">
                            <span>Подробнее</span>
                            <svg
                                width="52"
                                height="46"
                                viewBox="0 0 52 46"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    class="block"
                                    d="M19.6615 5.12988C21.4274 1.96289 24.7694 0 28.3954 0H42C47.5229 0 52 4.47715 52 10V29.758V36C52 41.5228 47.5228 46 42 46H4.45232C1.99337 46 0 44.0066 0 41.5477C0 40.7887 0.194038 40.0423 0.563685 39.3793L19.6615 5.12988Z"
                                    fill="currentColor"
                                />
                                <path
                                    class="arrow"
                                    d="M24 24.0804H39.8392"
                                    stroke="currentColor"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                                <path
                                    class="arrow"
                                    d="M33.4034 17.6968L39.8381 24.0804L33.4034 30.464"
                                    stroke="currentColor"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                            </svg>
                        </button>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="other-services__slider-card">
                        <div class="other-services__slider-card-img">
                            <img src="../assets/images/picture/other-services-img1.webp" alt="" />
                        </div>

                        <p class="other-services__slider-card-title txt32">Корпоративное питание</p>
                        <p class="other-services__slider-card-subtitle txt20">
                            Вкусное и разнообразное питаниес доставкой в офис
                        </p>

                        <button class="btn-pr other-services__slider-card-btn">
                            <span>Подробнее</span>
                            <svg
                                width="52"
                                height="46"
                                viewBox="0 0 52 46"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    class="block"
                                    d="M19.6615 5.12988C21.4274 1.96289 24.7694 0 28.3954 0H42C47.5229 0 52 4.47715 52 10V29.758V36C52 41.5228 47.5228 46 42 46H4.45232C1.99337 46 0 44.0066 0 41.5477C0 40.7887 0.194038 40.0423 0.563685 39.3793L19.6615 5.12988Z"
                                    fill="currentColor"
                                />
                                <path
                                    class="arrow"
                                    d="M24 24.0804H39.8392"
                                    stroke="currentColor"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                                <path
                                    class="arrow"
                                    d="M33.4034 17.6968L39.8381 24.0804L33.4034 30.464"
                                    stroke="currentColor"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                            </svg>
                        </button>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="other-services__slider-card">
                        <div class="other-services__slider-card-img">
                            <img src="../assets/images/picture/other-services-img2.webp" alt="" />
                        </div>

                        <p class="other-services__slider-card-title txt32">Кофе брейк</p>
                        <p class="other-services__slider-card-subtitle txt20">
                            Вкусное и разнообразное питаниес доставкой в офис
                        </p>

                        <button class="btn-pr other-services__slider-card-btn">
                            <span>Подробнее</span>
                            <svg
                                width="52"
                                height="46"
                                viewBox="0 0 52 46"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    class="block"
                                    d="M19.6615 5.12988C21.4274 1.96289 24.7694 0 28.3954 0H42C47.5229 0 52 4.47715 52 10V29.758V36C52 41.5228 47.5228 46 42 46H4.45232C1.99337 46 0 44.0066 0 41.5477C0 40.7887 0.194038 40.0423 0.563685 39.3793L19.6615 5.12988Z"
                                    fill="currentColor"
                                />
                                <path
                                    class="arrow"
                                    d="M24 24.0804H39.8392"
                                    stroke="currentColor"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                                <path
                                    class="arrow"
                                    d="M33.4034 17.6968L39.8381 24.0804L33.4034 30.464"
                                    stroke="currentColor"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                            </svg>
                        </button>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="other-services__slider-card">
                        <div class="other-services__slider-card-img">
                            <img src="../assets/images/picture/other-services-img3.webp" alt="" />
                        </div>

                        <p class="other-services__slider-card-title txt32">Завтраки</p>
                        <p class="other-services__slider-card-subtitle txt20">
                            Вкусное и разнообразное питаниес доставкой в офис
                        </p>

                        <button class="btn-pr other-services__slider-card-btn">
                            <span>Подробнее</span>
                            <svg
                                width="52"
                                height="46"
                                viewBox="0 0 52 46"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    class="block"
                                    d="M19.6615 5.12988C21.4274 1.96289 24.7694 0 28.3954 0H42C47.5229 0 52 4.47715 52 10V29.758V36C52 41.5228 47.5228 46 42 46H4.45232C1.99337 46 0 44.0066 0 41.5477C0 40.7887 0.194038 40.0423 0.563685 39.3793L19.6615 5.12988Z"
                                    fill="currentColor"
                                />
                                <path
                                    class="arrow"
                                    d="M24 24.0804H39.8392"
                                    stroke="currentColor"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                                <path
                                    class="arrow"
                                    d="M33.4034 17.6968L39.8381 24.0804L33.4034 30.464"
                                    stroke="currentColor"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                            </svg>
                        </button>
                    </div>
                </div>

                
                <div class="swiper-slide">
                    <div class="other-services__slider-card">
                        <div class="other-services__slider-card-img">
                            <img src="../assets/images/picture/other-services-img1.webp" alt="" />
                        </div>

                        <p class="other-services__slider-card-title txt32">Корпоративное питание</p>
                        <p class="other-services__slider-card-subtitle txt20">
                            Вкусное и разнообразное питаниес доставкой в офис
                        </p>

                        <button class="btn-pr other-services__slider-card-btn">
                            <span>Подробнее</span>
                            <svg
                                width="52"
                                height="46"
                                viewBox="0 0 52 46"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    class="block"
                                    d="M19.6615 5.12988C21.4274 1.96289 24.7694 0 28.3954 0H42C47.5229 0 52 4.47715 52 10V29.758V36C52 41.5228 47.5228 46 42 46H4.45232C1.99337 46 0 44.0066 0 41.5477C0 40.7887 0.194038 40.0423 0.563685 39.3793L19.6615 5.12988Z"
                                    fill="currentColor"
                                />
                                <path
                                    class="arrow"
                                    d="M24 24.0804H39.8392"
                                    stroke="currentColor"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                                <path
                                    class="arrow"
                                    d="M33.4034 17.6968L39.8381 24.0804L33.4034 30.464"
                                    stroke="currentColor"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                            </svg>
                        </button>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="other-services__slider-card">
                        <div class="other-services__slider-card-img">
                            <img src="../assets/images/picture/other-services-img2.webp" alt="" />
                        </div>

                        <p class="other-services__slider-card-title txt32">Кофе брейк</p>
                        <p class="other-services__slider-card-subtitle txt20">
                            Вкусное и разнообразное питаниес доставкой в офис
                        </p>

                        <button class="btn-pr other-services__slider-card-btn">
                            <span>Подробнее</span>
                            <svg
                                width="52"
                                height="46"
                                viewBox="0 0 52 46"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    class="block"
                                    d="M19.6615 5.12988C21.4274 1.96289 24.7694 0 28.3954 0H42C47.5229 0 52 4.47715 52 10V29.758V36C52 41.5228 47.5228 46 42 46H4.45232C1.99337 46 0 44.0066 0 41.5477C0 40.7887 0.194038 40.0423 0.563685 39.3793L19.6615 5.12988Z"
                                    fill="currentColor"
                                />
                                <path
                                    class="arrow"
                                    d="M24 24.0804H39.8392"
                                    stroke="currentColor"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                                <path
                                    class="arrow"
                                    d="M33.4034 17.6968L39.8381 24.0804L33.4034 30.464"
                                    stroke="currentColor"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                            </svg>
                        </button>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="other-services__slider-card">
                        <div class="other-services__slider-card-img">
                            <img src="../assets/images/picture/other-services-img3.webp" alt="" />
                        </div>

                        <p class="other-services__slider-card-title txt32">Завтраки</p>
                        <p class="other-services__slider-card-subtitle txt20">
                            Вкусное и разнообразное питаниес доставкой в офис
                        </p>

                        <button class="btn-pr other-services__slider-card-btn">
                            <span>Подробнее</span>
                            <svg
                                width="52"
                                height="46"
                                viewBox="0 0 52 46"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    class="block"
                                    d="M19.6615 5.12988C21.4274 1.96289 24.7694 0 28.3954 0H42C47.5229 0 52 4.47715 52 10V29.758V36C52 41.5228 47.5228 46 42 46H4.45232C1.99337 46 0 44.0066 0 41.5477C0 40.7887 0.194038 40.0423 0.563685 39.3793L19.6615 5.12988Z"
                                    fill="currentColor"
                                />
                                <path
                                    class="arrow"
                                    d="M24 24.0804H39.8392"
                                    stroke="currentColor"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                                <path
                                    class="arrow"
                                    d="M33.4034 17.6968L39.8381 24.0804L33.4034 30.464"
                                    stroke="currentColor"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
