<section class="our-works">
    <div class="container">
        <div class="our-works__head">
            <p class="our-works__subtitle txt20">
                Превратите свое мероприятие в настоящее гастрономическое путешествие с нами
            </p>
            <p class="tl2">наши работы</p>

            <div class="our-works__slider-nav">
                <div class="our-works__slider-nav">
                    <div class="our-works__fractions"></div>
                    <div class="our-works__navigation swiper-navigation">
                        <button class="our-works__btn-prev swiper-btn-prev swiper-btn-prev--dark">
                            <svg
                                width="32"
                                height="32"
                                viewBox="0 0 32 32"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M1.58034 16.5803L30.419 16.581"
                                    stroke="#2E574D"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                                <path
                                    d="M23.9833 10.1974L30.4179 16.581L23.9833 22.9646"
                                    stroke="#2E574D"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                            </svg>
                        </button>
                        <button class="our-works__btn-next swiper-btn-next swiper-btn-next--dark">
                            <svg
                                width="32"
                                height="32"
                                viewBox="0 0 32 32"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M1.58034 16.5803L30.419 16.581"
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                                <path
                                    d="M23.9833 10.1974L30.4179 16.581L23.9833 22.9646"
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="our-works__slider swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="#" class="our-works__slider-card">
                        <div class="our-works__slider-card-img">
                            <img src="../assets/images/picture/our-works-img1.webp" alt="" />
                        </div>
                        <p class="our-works__slider-card-title txt20">Кейтеринг</p>
                    </a>
                </div>

                <div class="swiper-slide">
                    <a href="#" class="our-works__slider-card">
                        <div class="our-works__slider-card-img">
                            <img src="../assets/images/picture/our-works-img2.webp" alt="" />
                        </div>
                        <p class="our-works__slider-card-title txt20">Кофе-брейк</p>
                    </a>
                </div>

                <div class="swiper-slide">
                    <a href="#" class="our-works__slider-card">
                        <div class="our-works__slider-card-img">
                            <img src="../assets/images/picture/our-works-img3.webp" alt="" />
                        </div>
                        <p class="our-works__slider-card-title txt20">Завтраки</p>
                    </a>
                </div>

                <div class="swiper-slide">
                    <a href="#" class="our-works__slider-card">
                        <div class="our-works__slider-card-img">
                            <img src="../assets/images/picture/our-works-img1.webp" alt="" />
                        </div>
                        <p class="our-works__slider-card-title txt20">Кейтеринг</p>
                    </a>
                </div>

                <div class="swiper-slide">
                    <a href="#" class="our-works__slider-card">
                        <div class="our-works__slider-card-img">
                            <img src="../assets/images/picture/our-works-img2.webp" alt="" />
                        </div>
                        <p class="our-works__slider-card-title txt20">Кофе-брейк</p>
                    </a>
                </div>

                <div class="swiper-slide">
                    <a href="#" class="our-works__slider-card">
                        <div class="our-works__slider-card-img">
                            <img src="../assets/images/picture/our-works-img3.webp" alt="" />
                        </div>
                        <p class="our-works__slider-card-title txt20">Завтраки</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
