<section class="our-offers bg-2">
  <div class="container">
    <div class="our-offers__heading">
      <p class="our-offers__title tl2">наши<br>предложения</p>
      <div class="our-offers__heading-info">
        <div class="our-offers__heading-img desc">
          <img src="./assets/images/icons/bill-icon.svg" alt="">
        </div>
        <div class="our-offers__heading-img mob">
          <img src="./assets/images/icons/menu-icon_dark.svg" alt="">
        </div>
        <div class="line"></div>
        <div class="our-offers__heading-text">
          <p class="desc txt20_bold">Минимальный заказ<br>от 5000 ₽</p>
          <p class="mob txt20">Состав обеда примерный. Можно скорректировать его на ваш вкус по телефону +7 (499) 136 29 23</p>
        </div>
      </div>
    </div>
    <div class="our-offers__list">
      <div class="our-offers__item-wrapper">
        <div class="our-offers__item">
          <div class="our-offers__card">
            <div class="our-offers__card-sub">
              <p class="our-offers__card-sub-text txt16">
                Состав обеда примерный. Можно скорректировать его на ваш вкус по телефону +7 (499) 136 29 23
              </p>
            </div>
            <div class="our-offers__card-img">
              <img src="./assets/images/picture/food-3.webp" alt="">
            </div>
            <div class="our-offers__card-bottom">
              <p class="our-offers__card-bottom-text txt16">Стоимость за порцию:</p>
              <p class="our-offers__card-bottom-price txt-num">250 <span class="txt-curr">₽</span></p>
            </div>
          </div>
          <div class="our-offers__content">
            <p class="our-offers__content-title tl3">Обед сытный</p>
            <p class="our-offers__content-subtitle txt20">6 блюд</p>
            <p class="our-offers__content-list-title txt20_bold">Состав*:</p>
            <ul class="our-offers__content-list txt20">
              <li class="our-offers__content-list-li">Салат "Оливье"</li>
              <li class="our-offers__content-list-li">Шницель куриный</li>
              <li class="our-offers__content-list-li">Хлеб</li>
              <li class="our-offers__content-list-li">Суп «Борщ»</li>
              <li class="our-offers__content-list-li">Картофель стоуни по деревенски</li>
              <button class="our-offers__content-list-btn mob">показать все</button>
            </ul>
            <p class="our-offers__content-text txt16">*Состав может быть изменен</p>
            <button class="btn-pr our-offers__content-btn" data-popup="#popup__application">
              <span>Заказать</span>
              <svg width="52" height="46" viewBox="0 0 52 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="block" d="M19.6615 5.12988C21.4274 1.96289 24.7694 0 28.3954 0H42C47.5229 0 52 4.47715 52 10V29.758V36C52 41.5228 47.5228 46 42 46H4.45232C1.99337 46 0 44.0066 0 41.5477C0 40.7887 0.194038 40.0423 0.563685 39.3793L19.6615 5.12988Z" fill="currentColor"/>
                <path class="arrow" d="M24 24.0804H39.8392" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path class="arrow" d="M33.4034 17.6968L39.8381 24.0804L33.4034 30.464" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </button>
          </div>
        </div>
        <div class="our-offers__item-hint mob">
          <div class="our-offers__item-hint-img">
            <img src="./assets/images/icons/hint-icon.svg" alt="">
          </div>
          <span class="our-offers__item-hint-txt txt16">
            Минимальный заказ от 5000 ₽
          </span>
        </div>
      </div>
      <div class="our-offers__item-wrapper">
        <div class="our-offers__item">
          <div class="our-offers__card">
            <div class="our-offers__card-sub">
              <p class="our-offers__card-sub-text txt16">
                Состав обеда примерный. Можно скорректировать его на ваш вкус по телефону +7 (499) 136 29 23
              </p>
            </div>
            <div class="our-offers__card-img">
              <img src="./assets/images/picture/food-3.webp" alt="">
            </div>
            <div class="our-offers__card-bottom">
              <p class="our-offers__card-bottom-text txt16">Стоимость за порцию:</p>
              <p class="our-offers__card-bottom-price txt-num">250 <span class="txt-curr">₽</span></p>
            </div>
          </div>
          <div class="our-offers__content">
            <p class="our-offers__content-title tl3">Обед стандартный</p>
            <p class="our-offers__content-subtitle txt20">6 блюд</p>
            <p class="our-offers__content-list-title txt20_bold">Состав*:</p>
            <ul class="our-offers__content-list txt20">
              <li class="our-offers__content-list-li">Салат "Оливье"</li>
              <li class="our-offers__content-list-li">Шницель куриный</li>
              <button class="our-offers__content-list-btn mob">показать все</button>
            </ul>
            <p class="our-offers__content-text txt16">*Состав может быть изменен</p>
            <button class="btn-pr our-offers__content-btn" data-popup="#popup__application">
              <span>Заказать</span>
              <svg width="52" height="46" viewBox="0 0 52 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="block" d="M19.6615 5.12988C21.4274 1.96289 24.7694 0 28.3954 0H42C47.5229 0 52 4.47715 52 10V29.758V36C52 41.5228 47.5228 46 42 46H4.45232C1.99337 46 0 44.0066 0 41.5477C0 40.7887 0.194038 40.0423 0.563685 39.3793L19.6615 5.12988Z" fill="currentColor"/>
                <path class="arrow" d="M24 24.0804H39.8392" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path class="arrow" d="M33.4034 17.6968L39.8381 24.0804L33.4034 30.464" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </button>
          </div>
        </div>
        <div class="our-offers__item-hint mob">
          <div class="our-offers__item-hint-img">
            <img src="./assets/images/icons/hint-icon.svg" alt="">
          </div>
          <span class="our-offers__item-hint-txt txt16">
            Минимальный заказ от 5000 ₽
          </span>
        </div>
      </div>
      <div class="our-offers__item-wrapper">
        <div class="our-offers__item">
          <div class="our-offers__card">
            <div class="our-offers__card-sub">
              <p class="our-offers__card-sub-text txt16">
                Состав обеда примерный. Можно скорректировать его на ваш вкус по телефону +7 (499) 136 29 23
              </p>
            </div>
            <div class="our-offers__card-img">
              <img src="./assets/images/picture/food-3.webp" alt="">
            </div>
            <div class="our-offers__card-bottom">
              <p class="our-offers__card-bottom-text txt16">Стоимость за порцию:</p>
              <p class="our-offers__card-bottom-price txt-num">250 <span class="txt-curr">₽</span></p>
            </div>
          </div>
          <div class="our-offers__content">
            <p class="our-offers__content-title tl3">Обед базовый</p>
            <p class="our-offers__content-subtitle txt20">6 блюд</p>
            <p class="our-offers__content-list-title txt20_bold">Состав*:</p>
            <ul class="our-offers__content-list txt20">
              <li class="our-offers__content-list-li">Салат "Оливье"</li>
              <li class="our-offers__content-list-li">Шницель куриный</li>
              <li class="our-offers__content-list-li">Хлеб</li>
              <li class="our-offers__content-list-li">Суп «Борщ»</li>
              <li class="our-offers__content-list-li">Салат "Оливье"</li>
              <li class="our-offers__content-list-li">Шницель куриный</li>
              <li class="our-offers__content-list-li">Хлеб</li>
              <li class="our-offers__content-list-li">Суп «Борщ»</li>
              <li class="our-offers__content-list-li">Картофель стоуни по деревенски</li>
              <button class="our-offers__content-list-btn mob">показать все</button>
            </ul>
            <p class="our-offers__content-text txt16">*Состав может быть изменен</p>
            <button class="btn-pr our-offers__content-btn" data-popup="#popup__application">
              <span>Заказать</span>
              <svg width="52" height="46" viewBox="0 0 52 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="block" d="M19.6615 5.12988C21.4274 1.96289 24.7694 0 28.3954 0H42C47.5229 0 52 4.47715 52 10V29.758V36C52 41.5228 47.5228 46 42 46H4.45232C1.99337 46 0 44.0066 0 41.5477C0 40.7887 0.194038 40.0423 0.563685 39.3793L19.6615 5.12988Z" fill="currentColor"/>
                <path class="arrow" d="M24 24.0804H39.8392" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path class="arrow" d="M33.4034 17.6968L39.8381 24.0804L33.4034 30.464" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </button>
          </div>
        </div>
        <div class="our-offers__item-hint mob">
          <div class="our-offers__item-hint-img">
            <img src="./assets/images/icons/hint-icon.svg" alt="">
          </div>
          <span class="our-offers__item-hint-txt txt16">
            Минимальный заказ от 5000 ₽
          </span>
        </div>
      </div>
    </div>
  </div>
</section>