<section class="pick-lunch">
  <div class="container">
    <p class="pick-lunch__title tl2">Подберём обед<br class="mob"> с учетом ваших пожеланий</p>
    <div class="pick-lunch__img">
      <div class="pick-lunch__img-box">
        <img src="./assets/images/picture/pick-lunch__img.webp" alt="">
      </div>
      <div class="pick-lunch__img-menu">
        <div class="pick-lunch__img-menu-icon">
          <img src="./assets/images/picture/pick-lunch__small-img.webp" alt="">
        </div>
        <p class="pick-lunch__img-menu-text txt16">Индивидуальное меню</p>
      </div>
    </div>
    <p class="pick-lunch__text txt20">У Вас есть возможность самостоятельно составить свой идеальный обед, выбрав позиции из нашего разнообразного меню.</p>
    <button class="btn-pr pick-lunch__btn" data-popup="#popup__application">
      <span>Заказать обед</span>
      <svg width="52" height="46" viewBox="0 0 52 46" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path class="block" d="M19.6615 5.12988C21.4274 1.96289 24.7694 0 28.3954 0H42C47.5229 0 52 4.47715 52 10V29.758V36C52 41.5228 47.5228 46 42 46H4.45232C1.99337 46 0 44.0066 0 41.5477C0 40.7887 0.194038 40.0423 0.563685 39.3793L19.6615 5.12988Z" fill="currentColor"/>
        <path class="arrow" d="M24 24.0804H39.8392" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        <path class="arrow" d="M33.4034 17.6968L39.8381 24.0804L33.4034 30.464" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </button>
  </div>
</section>