<section class="price bg-1">
    <div class="container">
        <p class="tl2">Цены</p>

        <div class="price__container">
            <div class="price__img">
                <img src="../assets/images/picture/price-img.webp" alt="" />
            </div>

            <div class="price__list acc">
                <div class="price__item acc__item active">
                    <div class="price__item-head acc__item-head">
                        <div class="price__item-title">
                            <strong class="txt20"> Питание на 5 - 10 человек</strong>
                            <span class="txt20">от 7 000 ₽</span>
                        </div>
                        <span class="price__item-icon acc__status-icon">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="30"
                                height="31"
                                viewBox="0 0 30 31"
                                fill="none"
                            >
                                <path
                                    d="M14.9995 30L15.0001 1.1613"
                                    stroke="#2E574D"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                                <path
                                    d="M8.61658 7.59705L15.0002 1.16237L21.3838 7.59705"
                                    stroke="#2E574D"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                            </svg>
                        </span>
                    </div>
                    <div class="price__item-body acc__item-body">
                        <div class="price__category-box">
                            <div class="price__category">
                                <p class="txt16 txt16_caps">Закуски</p>
                                <ul class="price__category-list">
                                    <li class="price__category-item txt16">
                                        Мини-канапе с лососем и крем-чизом.
                                    </li>
                                    <li class="price__category-item txt16">
                                        Креветки с авокадо и соусом томат-базилик.
                                    </li>
                                </ul>
                            </div>

                            <div class="price__category">
                                <p class="txt16 txt16_caps">Горячие блюда</p>
                                <ul class="price__category-list">
                                    <li class="price__category-item txt16">
                                        Паста с грибами и томатным соусом.
                                    </li>
                                </ul>
                            </div>

                            <div class="price__category">
                                <p class="txt16 txt16_caps">Салаты</p>
                                <ul class="price__category-list">
                                    <li class="price__category-item txt16">Цезарь с курицей и пармезаном.</li>
                                    <li class="price__category-item txt16">
                                        Греческий с оливками, помидорами и фетой.
                                    </li>
                                </ul>
                            </div>

                            <div class="price__category">
                                <p class="txt16 txt16_caps">Десерты</p>
                                <ul class="price__category-list">
                                    <li class="price__category-item txt16">
                                        Мини-торт "Три шоколада" с малиновым соусом.
                                    </li>
                                </ul>
                            </div>

                            <div class="price__category">
                                <p class="txt16 txt16_caps">Напитки</p>
                                <ul class="price__category-list">
                                    <li class="price__category-item txt16">Фруктовые смузи.</li>

                                    <li class="price__category-item txt16">
                                        Минеральная вода с лимоном и мятой.
                                    </li>

                                    <li class="price__category-item txt16">Разнообразие чая и кофе.</li>
                                </ul>
                            </div>
                        </div>

                        <button class="btn-pr">
                            <span>Заказать</span>
                            <svg
                                width="52"
                                height="46"
                                viewBox="0 0 52 46"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    class="block"
                                    d="M19.6615 5.12988C21.4274 1.96289 24.7694 0 28.3954 0H42C47.5229 0 52 4.47715 52 10V29.758V36C52 41.5228 47.5228 46 42 46H4.45232C1.99337 46 0 44.0066 0 41.5477C0 40.7887 0.194038 40.0423 0.563685 39.3793L19.6615 5.12988Z"
                                    fill="currentColor"
                                />
                                <path
                                    class="arrow"
                                    d="M24 24.0804H39.8392"
                                    stroke="currentColor"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                                <path
                                    class="arrow"
                                    d="M33.4034 17.6968L39.8381 24.0804L33.4034 30.464"
                                    stroke="currentColor"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                            </svg>
                        </button>
                    </div>
                </div>

                <div class="price__item acc__item">
                    <div class="price__item-head acc__item-head">
                        <div class="price__item-title">
                            <strong class="txt20"> Питание на 11- 15 человек</strong>
                            <span class="txt20">от 9 000 ₽</span>
                        </div>
                        <span class="price__item-icon acc__status-icon">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="30"
                                height="31"
                                viewBox="0 0 30 31"
                                fill="none"
                            >
                                <path
                                    d="M14.9995 30L15.0001 1.1613"
                                    stroke="#2E574D"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                                <path
                                    d="M8.61658 7.59705L15.0002 1.16237L21.3838 7.59705"
                                    stroke="#2E574D"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                            </svg>
                        </span>
                    </div>
                    <div class="price__item-body acc__item-body">
                        <div class="price__category-box">
                            <div class="price__category">
                                <p class="txt16 txt16_caps">Закуски</p>
                                <ul class="price__category-list">
                                    <li class="price__category-item txt16">
                                        Мини-канапе с лососем и крем-чизом.
                                    </li>
                                    <li class="price__category-item txt16">
                                        Креветки с авокадо и соусом томат-базилик.
                                    </li>
                                </ul>
                            </div>

                            <div class="price__category">
                                <p class="txt16 txt16_caps">Горячие блюда</p>
                                <ul class="price__category-list">
                                    <li class="price__category-item txt16">
                                        Паста с грибами и томатным соусом.
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <button class="btn-pr">
                            <span>Заказать</span>
                            <svg
                                width="52"
                                height="46"
                                viewBox="0 0 52 46"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    class="block"
                                    d="M19.6615 5.12988C21.4274 1.96289 24.7694 0 28.3954 0H42C47.5229 0 52 4.47715 52 10V29.758V36C52 41.5228 47.5228 46 42 46H4.45232C1.99337 46 0 44.0066 0 41.5477C0 40.7887 0.194038 40.0423 0.563685 39.3793L19.6615 5.12988Z"
                                    fill="currentColor"
                                />
                                <path
                                    class="arrow"
                                    d="M24 24.0804H39.8392"
                                    stroke="currentColor"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                                <path
                                    class="arrow"
                                    d="M33.4034 17.6968L39.8381 24.0804L33.4034 30.464"
                                    stroke="currentColor"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                            </svg>
                        </button>
                    </div>
                </div>

                <div class="price__item acc__item">
                    <div class="price__item-head acc__item-head">
                        <div class="price__item-title">
                            <strong class="txt20"> Питание на 16 - 20 человек</strong>
                            <span class="txt20">от 11 000 ₽ </span>
                        </div>
                        <span class="price__item-icon acc__status-icon">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="30"
                                height="31"
                                viewBox="0 0 30 31"
                                fill="none"
                            >
                                <path
                                    d="M14.9995 30L15.0001 1.1613"
                                    stroke="#2E574D"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                                <path
                                    d="M8.61658 7.59705L15.0002 1.16237L21.3838 7.59705"
                                    stroke="#2E574D"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                            </svg>
                        </span>
                    </div>
                    <div class="price__item-body acc__item-body">
                        <div class="price__category-box">
                            <div class="price__category">
                                <p class="txt16 txt16_caps">Закуски</p>
                                <ul class="price__category-list">
                                    <li class="price__category-item txt16">
                                        Мини-канапе с лососем и крем-чизом.
                                    </li>
                                    <li class="price__category-item txt16">
                                        Креветки с авокадо и соусом томат-базилик.
                                    </li>
                                </ul>
                            </div>

                            <div class="price__category">
                                <p class="txt16 txt16_caps">Горячие блюда</p>
                                <ul class="price__category-list">
                                    <li class="price__category-item txt16">
                                        Паста с грибами и томатным соусом.
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <button class="btn-pr">
                            <span>Заказать</span>
                            <svg
                                width="52"
                                height="46"
                                viewBox="0 0 52 46"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    class="block"
                                    d="M19.6615 5.12988C21.4274 1.96289 24.7694 0 28.3954 0H42C47.5229 0 52 4.47715 52 10V29.758V36C52 41.5228 47.5228 46 42 46H4.45232C1.99337 46 0 44.0066 0 41.5477C0 40.7887 0.194038 40.0423 0.563685 39.3793L19.6615 5.12988Z"
                                    fill="currentColor"
                                />
                                <path
                                    class="arrow"
                                    d="M24 24.0804H39.8392"
                                    stroke="currentColor"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                                <path
                                    class="arrow"
                                    d="M33.4034 17.6968L39.8381 24.0804L33.4034 30.464"
                                    stroke="currentColor"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                            </svg>
                        </button>
                    </div>
                </div>

                <div class="price__item acc__item">
                    <div class="price__item-head acc__item-head">
                        <div class="price__item-title">
                            <strong class="txt20"> Питание на 21 - 25 человек</strong>
                            <span class="txt20">от 17 000 ₽ </span>
                        </div>
                        <span class="price__item-icon acc__status-icon">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="30"
                                height="31"
                                viewBox="0 0 30 31"
                                fill="none"
                            >
                                <path
                                    d="M14.9995 30L15.0001 1.1613"
                                    stroke="#2E574D"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                                <path
                                    d="M8.61658 7.59705L15.0002 1.16237L21.3838 7.59705"
                                    stroke="#2E574D"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                            </svg>
                        </span>
                    </div>
                    <div class="price__item-body acc__item-body">
                        <div class="price__category-box">
                            <div class="price__category">
                                <p class="txt16 txt16_caps">Закуски</p>
                                <ul class="price__category-list">
                                    <li class="price__category-item txt16">
                                        Мини-канапе с лососем и крем-чизом.
                                    </li>
                                    <li class="price__category-item txt16">
                                        Креветки с авокадо и соусом томат-базилик.
                                    </li>
                                </ul>
                            </div>

                            <div class="price__category">
                                <p class="txt16 txt16_caps">Горячие блюда</p>
                                <ul class="price__category-list">
                                    <li class="price__category-item txt16">
                                        Паста с грибами и томатным соусом.
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <button class="btn-pr">
                            <span>Заказать</span>
                            <svg
                                width="52"
                                height="46"
                                viewBox="0 0 52 46"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    class="block"
                                    d="M19.6615 5.12988C21.4274 1.96289 24.7694 0 28.3954 0H42C47.5229 0 52 4.47715 52 10V29.758V36C52 41.5228 47.5228 46 42 46H4.45232C1.99337 46 0 44.0066 0 41.5477C0 40.7887 0.194038 40.0423 0.563685 39.3793L19.6615 5.12988Z"
                                    fill="currentColor"
                                />
                                <path
                                    class="arrow"
                                    d="M24 24.0804H39.8392"
                                    stroke="currentColor"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                                <path
                                    class="arrow"
                                    d="M33.4034 17.6968L39.8381 24.0804L33.4034 30.464"
                                    stroke="currentColor"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
