<section class="quality-banner">
    <div class="container">
        <div class="quality-banner__inner">
            <div class="quality-banner__header-box">
                <div class="quality-banner__header-info-box">
                    <div class="quality-banner__header-info-svg-wrapper">
                        <div class="quality-banner__header-info-svg-box">
                            <img src="./assets/images/icons/quality.svg" alt="" />
                        </div>
                    </div>
                    <div class="quality-banner__header-info-text txt20">
                        Безопасность пищевых продуктов для нас имеет первостепенное значение. Мы строго следим
                        за соблюдением всех санитарных норм и стандартов.
                    </div>
                </div>
                <div class="quality-banner__header-title tl1">наши стандарты качества</div>
                <div class="quality-banner__circle-container">
                    <p class="quality-banner__circle">
                        о компании &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;о компании &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;о
                        компании &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;о компании
                    </p>

                    <a href="#" class="quality-banner__circle-svg-wrapper">
                        <div class="quality-banner__circle-svg-box">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="29" viewBox="0 0 30 29" fill="none">
                                <path d="M0.580341 14.5805L29.419 14.5812" stroke="#2E574D" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M22.9844 8.19715L29.419 14.5808L22.9844 20.9644" stroke="#2E574D" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                        </div>
                    </a>
                </div>
            </div>
            <div class="quality-banner__swiper-box">
                <div class="quality-banner__swiper swiper">
                    <div class="quality-banner__swiper-wrapper swiper-wrapper">
                        <div class="quality-banner__swiper-slide swiper-slide">
                            <div class="quality-banner__swiper-slide-img-box">
                                <img src="./assets/images/picture/quality-1.webp" alt="" />
                            </div>
                        </div>
                        <div class="quality-banner__swiper-slide swiper-slide">
                            <div class="quality-banner__swiper-slide-img-box">
                                <img src="./assets/images/picture/quality-2.webp" alt="" />
                            </div>
                        </div>
                        <div class="quality-banner__swiper-slide swiper-slide">
                            <div class="quality-banner__swiper-slide-img-box">
                                <img src="./assets/images/picture/quality-3.webp" alt="" />
                            </div>
                        </div>
                        <div class="quality-banner__swiper-slide swiper-slide">
                            <div class="quality-banner__swiper-slide-img-box">
                                <img src="./assets/images/picture/quality-4.webp" alt="" />
                            </div>
                        </div>
                    </div>

                    <div class="quality-banner__slider-nav">
                        <div class="quality-banner__fractions"></div>
                        <div class="quality-banner__navigation swiper-navigation">
                          <button class="quality-banner__btn-prev swiper-btn-prev">
                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M1.58034 16.5803L30.419 16.581" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                              <path d="M23.9833 10.1974L30.4179 16.581L23.9833 22.9646" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                          </button>
                          <button class="quality-banner__btn-next swiper-btn-next">
                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M1.58034 16.5803L30.419 16.581" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                              <path d="M23.9833 10.1974L30.4179 16.581L23.9833 22.9646" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                          </button>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</section>
