<section class="regulations">
    <div class="container">
        <div class="regulations__inner">
<p class="regulations__title tl2">
    нормативные документы
</p>
<ul class="regulations__list">
    <li class="regulations__item">
        <p class="regulations__item-num tl3">1</p>
        <p class="regulations__item-text txt20">
            Закон «О защите прав потребителя» от 07.02.1992 N 2300-1
        </p>
    </li>
    <li class="regulations__item">
        <p class="regulations__item-num tl3">2</p>
        <p class="regulations__item-text txt20">
            Постановление Правительства РФ от 15 августа 1997 г. N 1036 "Об утверждении Правил оказания услуг общественного питания"
        </p>
    </li>
    <li class="regulations__item">
        <p class="regulations__item-num tl3">3</p>
        <p class="regulations__item-text txt20">
            Санитарно-эпидемиологические правила СП 2.3.6.1079-01 "Санитарно-эпидемиологические требования к организациям общественного питания, изготовлению и оборотоспособности в них пищевых продуктов и продовольственного сырья" (утв. Главным государственным санитарным врачом Российской Федерации 6 ноября 2001 г.) (с изменениями от 1 апреля 2003 г.)
        </p>
    </li>
    <li class="regulations__item">
        <p class="regulations__item-num tl3">4</p>
        <p class="regulations__item-text txt20">
            Приказ Министерства здравоохранения и социального развития Российской Федерации (Минздравсоцразвития России) от 12 апреля 2011 г. N 302н г. Москва "Об утверждении перечней вредных и (или) опасных производственных факторов и работ, при выполнении которых проводятся обязательные предварительные и периодические медицинские осмотры (обследования), и Порядка проведения обязательных предварительных и периодических медицинских осмотров (обследований) работников, занятых на тяжелых работах и на работах с вредными и (или) опасными условиями труда"
        </p>
    </li>
    <li class="regulations__item">
        <p class="regulations__item-num tl3">5</p>
        <p class="regulations__item-text txt20">
            СанПиН 2.3.2.1324-03"Гигиенические требования к срокам годности и условиям хранения пищевых продуктов", утвержденные Главным государственным санитарным врачом Российской Федерации 21 мая 2003 года
        </p>
    </li>
    <li class="regulations__item">
        <p class="regulations__item-num tl3">6</p>
        <p class="regulations__item-text txt20">
            СанПиН 2.3.2.1324-03"Гигиенические требования к срокам годности и условиям хранения пищевых продуктов", утвержденные Главным государственным санитарным врачом Российской Федерации 21 мая 2003 года
        </p>
    </li>
    <li class="regulations__item">
        <p class="regulations__item-num tl3">7</p>
        <p class="regulations__item-text txt20">
            СанПиН 2.4.4.3155-13 "Санитарно- эпидемиологические требования к устройству, содержанию и организации работы стационарных организаций отдыха и оздоровления детей"
        </p>
    </li>
</ul>

        </div>
    </div>
</section>