<section class="request-min bg-1">
    <div class="container">
        <div class="request-min__container">
            <p class="tl2">оставьте заявку</p>
            <form class="request-min__form">
                <div class="request-min__form-inputs">
                    <div class="input-group">
                        <div class="input__box form__input-wrapper">
                            <div class="form__input-wrapper">
                                <input
                                    type="text"
                                    class="input input--name txt20"
                                    type="text"
                                    placeholder="Имя"
                                    data-validate
                                    data-required
                                    autocomplete="off"
                                    name="form[]"
                                />
                            </div>
                            <span class="error-span txt16">Введите текстовое значение</span>
                        </div>
                    </div>

                    <div class="input-group">
                        <div class="application__form-input-wrapper form__input-wrapper input__box">
                            <input
                                class="application__input input input--tel txt20 phone-mask"
                                type="text"
                                placeholder="Телефон"
                                data-validate
                                data-required="tel"
                                autocomplete="off"
                                name="form[]"
                            />
                        </div>
                        <span class="error-span txt16">Заполните поле</span>
                    </div>
                </div>
                <div class="request-min__form-bottom">
                    <button class="btn-pr">
                        <span>Отправить</span>
                        <svg
                            width="52"
                            height="46"
                            viewBox="0 0 52 46"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                class="block"
                                d="M19.6615 5.12988C21.4274 1.96289 24.7694 0 28.3954 0H42C47.5229 0 52 4.47715 52 10V29.758V36C52 41.5228 47.5228 46 42 46H4.45232C1.99337 46 0 44.0066 0 41.5477C0 40.7887 0.194038 40.0423 0.563685 39.3793L19.6615 5.12988Z"
                                fill="currentColor"
                            />
                            <path
                                class="arrow"
                                d="M24 24.0804H39.8392"
                                stroke="currentColor"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                            <path
                                class="arrow"
                                d="M33.4034 17.6968L39.8381 24.0804L33.4034 30.464"
                                stroke="currentColor"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                        </svg>
                    </button>
                    <p class="request-min__form-text txt16">
                        Нажимая на кнопку “отправить” Вы соглашаетесь на обработку персональных данных
                    </p>
                </div>
            </form>
        </div>
        <div class="request-min__img-box">
            <img src="../assets/images/picture/request-min-img.webp" alt="" />
            <div class="request-min__img-box-seo">
                <img src="../assets/images/picture/tablewares.webp" alt="" />
                <span class="txt16">Индивидуальное меню</span>
            </div>
        </div>
    </div>
</section>
