<section class="reviews bg-2">
  <div class="container">
    <p class="reviews__title tl2">Отзывы</p>
    <p class="reviews__subtitle txt20 mob">У нас есть готовые решения для наших заказчиков в зависимости от потребностей.</p>
    <div class="reviews__slider-nav">
      <div class="reviews__fractions"></div>
      <div class="reviews__navigation swiper-navigation">
        <button class="reviews__btn-prev swiper-btn-prev _green">
          <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.58034 16.5803L30.419 16.581" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M23.9833 10.1974L30.4179 16.581L23.9833 22.9646" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>
        <button class="reviews__btn-next swiper-btn-next _green">
          <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.58034 16.5803L30.419 16.581" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M23.9833 10.1974L30.4179 16.581L23.9833 22.9646" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>
      </div>
    </div>
    <div class="reviews__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="reviews__item">
            <div class="reviews__item-img">
              <img src="./assets/images/picture/reviews__person.webp" alt="">
            </div>
            <p class="reviews__item-text txt16">
              Очень вкусная и свежая еда с доставкой! Прямо как дома от любимой мамы) Все всегда аккуратно и тщательно запаковано) Всем рекомендую брать! Доставляют вовремя и точно в срок. Напитки в обеде очень вкусные - утоляют жажду после сытного, сбалансированного обеда!
            </p>
            <p class="reviews__item-name txt20_bold">Иван Иванов</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="reviews__item">
            <div class="reviews__item-img">
              <img src="./assets/images/picture/reviews__person.webp" alt="">
            </div>
            <p class="reviews__item-text txt16">
              Очень вкусная и свежая еда с доставкой! Прямо как дома от любимой мамы) Все всегда аккуратно и тщательно запаковано) Всем рекомендую брать! Доставляют вовремя и точно в срок. Напитки в обеде очень вкусные - утоляют жажду после сытного, сбалансированного обеда!
            </p>
            <p class="reviews__item-name txt20_bold">Иван Иванов</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="reviews__item">
            <div class="reviews__item-img">
              <img src="./assets/images/picture/reviews__person.webp" alt="">
            </div>
            <p class="reviews__item-text txt16">
              Очень вкусная и свежая еда с доставкой! Прямо как дома от любимой мамы) Все всегда аккуратно и тщательно запаковано) Всем рекомендую брать! Доставляют вовремя и точно в срок. Напитки в обеде очень вкусные - утоляют жажду после сытного, сбалансированного обеда!
            </p>
            <p class="reviews__item-name txt20_bold">Иван Иванов</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="reviews__item">
            <div class="reviews__item-img">
              <img src="./assets/images/picture/reviews__person.webp" alt="">
            </div>
            <p class="reviews__item-text txt16">
              Очень вкусная и свежая еда с доставкой! Прямо как дома от любимой мамы) Все всегда аккуратно и тщательно запаковано) Всем рекомендую брать! Доставляют вовремя и точно в срок. Напитки в обеде очень вкусные - утоляют жажду после сытного, сбалансированного обеда!
            </p>
            <p class="reviews__item-name txt20_bold">Иван Иванов</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="reviews__item">
            <div class="reviews__item-img">
              <img src="./assets/images/picture/reviews__person.webp" alt="">
            </div>
            <p class="reviews__item-text txt16">
              Очень вкусная и свежая еда с доставкой! Прямо как дома от любимой мамы) Все всегда аккуратно и тщательно запаковано) Всем рекомендую брать! Доставляют вовремя и точно в срок. Напитки в обеде очень вкусные - утоляют жажду после сытного, сбалансированного обеда!
            </p>
            <p class="reviews__item-name txt20_bold">Иван Иванов</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>