<section class="services bg-3">
  <div class="container">
    <div class="services__heading">
      <p class="services__subtitle txt20">У нас есть готовые решения для наших заказчиков в зависимости от потребностей.</p>
      <p class="services__title tl2">услуги</p>
    </div>
    <div class="services__slider">
      <div class="services__slider-wrapper swiper-wrapper">
        <div class="swiper-slide services__slider-slide">
          <a href="#" class="services__item">
            <svg class="services__item-arrow" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1.58034 16.5803L30.419 16.581" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M23.9833 10.1974L30.4179 16.581L23.9833 22.9646" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <div class="services__item-img">
              <img src="./assets/images/picture/services-1.webp" alt="">
            </div>
            <div class="services__item-info">
              <p class="services__item-title tl3">Корпоративное питание</p>
              <p class="services__item-text txt16">Вкусное и разнообразное питание<br>с доставкой в офис</p>
            </div>
          </a>
        </div>
        <div class="swiper-slide services__slider-slide">
          <a href="#" class="services__item">
            <svg class="services__item-arrow" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1.58034 16.5803L30.419 16.581" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M23.9833 10.1974L30.4179 16.581L23.9833 22.9646" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <div class="services__item-img">
              <img src="./assets/images/picture/services-2.webp" alt="">
            </div>
            <div class="services__item-info">
              <p class="services__item-title tl3">Кофе брейк</p>
              <p class="services__item-text txt16">Ароматный кофе для ваших <br>перерывов на лекциях</p>
            </div>
          </a>
        </div>
        <div class="swiper-slide services__slider-slide">
          <a href="#" class="services__item">
            <svg class="services__item-arrow" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1.58034 16.5803L30.419 16.581" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M23.9833 10.1974L30.4179 16.581L23.9833 22.9646" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <div class="services__item-img">
              <img src="./assets/images/picture/services-3.webp" alt="">
            </div>
            <div class="services__item-info">
              <p class="services__item-title tl3">Завтраки</p>
              <p class="services__item-text txt16">Вкусное и разнообразное питание <br>с доставкой в офис</p>
            </div>
          </a>
        </div>
        <div class="swiper-slide services__slider-slide">
          <a href="#" class="services__item">
            <svg class="services__item-arrow" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1.58034 16.5803L30.419 16.581" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M23.9833 10.1974L30.4179 16.581L23.9833 22.9646" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <div class="services__item-img">
              <img src="./assets/images/picture/food-1.webp" alt="">
            </div>
            <div class="services__item-info">
              <p class="services__item-title tl3">Корпоративное питание</p>
              <p class="services__item-text txt16">Вкусное и разнообразное питание<br>с доставкой в офис</p>
            </div>
          </a>
        </div>
        <div class="swiper-slide services__slider-slide">
          <a href="#" class="services__item">
            <svg class="services__item-arrow" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1.58034 16.5803L30.419 16.581" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M23.9833 10.1974L30.4179 16.581L23.9833 22.9646" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <div class="services__item-img">
              <img src="./assets/images/picture/food-2.webp" alt="">
            </div>
            <div class="services__item-info">
              <p class="services__item-title tl3">Корпоративное питание</p>
              <p class="services__item-text txt16">Вкусное и разнообразное питание<br>с доставкой в офис</p>
            </div>
          </a>
        </div>
      </div>
      <div class="services__bottom">
        <div class="services__slider-nav">
          <div class="services__fractions desc"></div>
          <div class="services__navigation swiper-navigation">
            <button class="services__btn-prev swiper-btn-prev _green">
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.58034 16.5803L30.419 16.581" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M23.9833 10.1974L30.4179 16.581L23.9833 22.9646" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </button>
            <button class="services__btn-next swiper-btn-next _green">
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.58034 16.5803L30.419 16.581" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M23.9833 10.1974L30.4179 16.581L23.9833 22.9646" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </button>
          </div>
        </div>
        <a href="#" class="btn-pr services__link-btn">
          <span>Все услуги</span>
          <svg width="52" height="46" viewBox="0 0 52 46" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="block" d="M19.6615 5.12988C21.4274 1.96289 24.7694 0 28.3954 0H42C47.5229 0 52 4.47715 52 10V29.758V36C52 41.5228 47.5228 46 42 46H4.45232C1.99337 46 0 44.0066 0 41.5477C0 40.7887 0.194038 40.0423 0.563685 39.3793L19.6615 5.12988Z" fill="currentColor"/>
            <path class="arrow" d="M24 24.0804H39.8392" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path class="arrow" d="M33.4034 17.6968L39.8381 24.0804L33.4034 30.464" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>