<section class="services-banner _first">
  <div class="container">
    <div class="services-banner__heading">
      <div class="services-banner__title tl1">
        <p class="_left">уникальный подход</p>
        <p class="_right">к каждому мероприятию</p>
      </div>
      <p class="services-banner__subtitle txt16">Наша команда постарается сделать любое мероприятие незабываемым и оригинальным.</p>
      <button class="btn-sec services-banner__btn" data-popup="#popup__application">
        <span>Оформить заявку</span>
        <svg class="svg" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1.58034 16.5803L30.419 16.581" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M23.9833 10.1974L30.4179 16.581L23.9833 22.9646" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>
    </div>
    <div class="services-banner__wrapper">
      <div class="services-banner__img-box">
        <img src="./assets/images/picture/food-2.webp" alt="">
      </div>
      <div class="services-banner__img-menu">
        <div class="services-banner__img-menu-icon">
          <img src="./assets/images/picture/services-banner__small-img.webp" alt="">
        </div>
        <p class="services-banner__img-menu-text txt16">Высокое качество сервиса!</p>
      </div>
    </div>
  </div>
</section>