<header class="header">
    <div class="container">
      <div class="header__wrapper">
        <div class="hamburger__wrapper">
          <span class="hamburger">
            <span class="hamburger__line"></span>
          </span>
        </div>
        <a href="#" class="header__logo">
          <img src="./assets/images/logo.svg" alt="">
        </a>
        <nav class="header__nav">
          <a href="#" class="header__link txt16_caps">корпоративное питание</a>
          <a href="#" class="header__link txt16_caps">услуги</a>
          <a href="#" class="header__link txt16_caps">портфолио</a>
          <a href="#" class="header__link txt16_caps">доставка</a>
          <a href="#" class="header__link txt16_caps">статьи</a>
          <a href="#" class="header__link txt16_caps">О нас</a>
          <a href="#" class="header__link txt16_caps">Контакты</a>
        </nav>
        <div class="header__contacts">
          <div class="header__contacts-info">
            <div class="header__contacts-icon">
              <img src="./assets/images/icons/phone.svg" alt="">
            </div>
            <a href="tel:+7 (499) 136 29 23" class="header__contacts-tel txt20_bold">+7 (499) 136 29 23</a>
            <p class="header__contacts-text txt20">с 9:00 до 21:00</p>
          </div>
          <button class="btn-pr header__contacts-btn" data-popup="#popup__application">
            <span>Оставьте заявку</span>
            <svg width="52" height="46" viewBox="0 0 52 46" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path class="block" d="M19.6615 5.12988C21.4274 1.96289 24.7694 0 28.3954 0H42C47.5229 0 52 4.47715 52 10V29.758V36C52 41.5228 47.5228 46 42 46H4.45232C1.99337 46 0 44.0066 0 41.5477C0 40.7887 0.194038 40.0423 0.563685 39.3793L19.6615 5.12988Z" fill="currentColor"/>
              <path class="arrow" d="M24 24.0804H39.8392" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path class="arrow" d="M33.4034 17.6968L39.8381 24.0804L33.4034 30.464" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </button>
        </div>
      </div>

      <div class="header__burger-menu">
        <div class="header__burger-top">
          <a href="#" class="header__logo">
            <img src="./assets/images/logo.svg" alt="">
          </a>
          <div class="header__burger-close">
            <img src="./assets/images/icons/burger-close-icon.svg" alt="x" class="header__burder-close-icon">
          </div>
        </div>
        <nav class="header__burger-nav">
          <a href="#" class="header__link txt16_caps">корпоративное питание</a>
          <a href="#" class="header__link txt16_caps">услуги</a>
          <a href="#" class="header__link txt16_caps">портфолио</a>
          <a href="#" class="header__link txt16_caps">доставка</a>
          <a href="#" class="header__link txt16_caps">статьи</a>
          <a href="#" class="header__link txt16_caps">О нас</a>
          <a href="#" class="header__link txt16_caps">Контакты</a>
        </nav>
        <div class="header__burger-contacts txt16">
          <a href="#" class="header__burger-contacts-link _address">г. Москва, ул. Пушкина 12</a>
          <a href="#" class="header__burger-contacts-link _email">forexample@.com</a>
          <a href="tel:+7 (499) 136 29 23 " class="header__burger-contacts-link _tel">
            <span class="txt20_bold">+7 (499) 136 29 23 </span>
            с 9:00 до 21:00
          </a>
        </div>
        <button class="btn-pr header__burger-contacts-btn">
          <span>Оставьте заявку</span>
          <svg width="52" height="46" viewBox="0 0 52 46" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="block" d="M19.6615 5.12988C21.4274 1.96289 24.7694 0 28.3954 0H42C47.5229 0 52 4.47715 52 10V29.758V36C52 41.5228 47.5228 46 42 46H4.45232C1.99337 46 0 44.0066 0 41.5477C0 40.7887 0.194038 40.0423 0.563685 39.3793L19.6615 5.12988Z" fill="currentColor"/>
            <path class="arrow" d="M24 24.0804H39.8392" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path class="arrow" d="M33.4034 17.6968L39.8381 24.0804L33.4034 30.464" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>
      </div>
    </div>
</header>