<section class="action white-block">
    <div class="container">
        <div class="action_top">
            <div class="action_title h2">Акции</div>
            <div class="action_navigation">
                <div class="action_navigation-left">
                    <img src="../assets/images/navigation-left.webp" alt="">
                </div>
                <div class="action_navigation-right">
                    <img src="../assets/images/navigation-right.webp" alt="">
                </div>
            </div>
        </div>
        <div class="action_bottom">
            <div class="action_box">
                <div class="action_box-title h3">Подарок при покупке!</div>
                <div class="action_box-text txt20">При покупке двух средств одного бренда - лосьон для лица в подарок</div>
            </div>
            <div class="action_swiper">
                <div class="swiper-wrapper">
                    <a class="swiper-slide action_slide">
                        <div class="action_slide-top">
                            <img class="action_slide-top-bg" src="../assets/images/cosmetics/action-bg.webp" alt="">
                            <img class="action_slide-top-img" src="./assets/images/main/cosmetic3.webp" alt="">
                        </div>
                        <div class="h5">Ultra Brightening Foaming Cleanser</div>
                    </a>
                    <a class="swiper-slide action_slide">
                        <div class="action_slide-top">
                            <img class="action_slide-top-bg" src="../assets/images/cosmetics/action-bg.webp" alt="">
                            <img class="action_slide-top-img" src="./assets/images/main/cosmetic3.webp" alt="">
                        </div>
                        <div class="h5">Ultra Brightening Foaming Cleanser</div>
                    </a>
                    <a class="swiper-slide action_slide">
                        <div class="action_slide-top">
                            <img class="action_slide-top-bg" src="../assets/images/cosmetics/action-bg.webp" alt="">
                            <img class="action_slide-top-img" src="./assets/images/main/cosmetic2.webp" alt="">
                        </div>
                        <div class="h5">Ultra B2 Micellar Solution</div>
                    </a>
                    <a class="swiper-slide action_slide">
                        <div class="action_slide-top">
                            <img class="action_slide-top-bg" src="../assets/images/cosmetics/action-bg.webp" alt="">
                            <img class="action_slide-top-img" src="./assets/images/main/cosmetic2.webp" alt="">
                        </div>
                        <div class="h5">Ultra B2 Micellar Solution</div>
                    </a>
                </div>
            </div>
        </div>
        <div class="swiper-pading action_pagination mobile"></div>
    </div>
</section>