<section class="loyal">
    <div class="container">
        <div class="loyal__container">
            <div class="loyal__left">
                <img src="../assets/images/loyal1.webp" alt="">
            </div>
            <div class="loyal__box">
                <div class="loyal__title h2">получить карту лояльности</div>
                <div class="loyal__text txt18">Самые выгодные предложения ждут Вас с картой лояльности</div>
                <div class="btn btn-blue"  data-popup="#popup__feedback">Оформить</div>
            </div>
            <div class="loyal__right">
                <img src="../assets/images/loyal2.webp" alt="">
            </div>
        </div>
    </div>
</section>