<section class="main-equipment white-block">
    <div class="container">
        <div class="main-equipment_top">
            <div class="main-equipment_top-title h2">Наше оборудование</div>
            <a href="" class="btn btn-blue">Оборудование</a>
        </div>
        <div class="main-equipment_swiper show-content">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="main-equipment_container" data-href="1">
                        <div class="main-equipment_container-left">
                            <div class="main-equipment_container-img">
                                <img src="../assets/images/main/main-equipment1.webp" alt="">
                            </div>
                            <div class="main-equipment_container--count txt20">
                                <span>01</span><span>04</span>
                            </div>
                        </div>
                        <div class="main-equipment_container-info ">
                            <div class="main-equipment_container-title h3">DEKA (Италия)</div>
                            <div class="show-text hideContent">
                                <div class="main-equipment_container-text txt16">Эта система представляет собой универсальный аппарат нового поколения, который объединяет в себе технологии IPL, RF и лазеров для косметологии, дерматологии, эстетической хирургии, гинекологии.</div>
                                <div class="main-equipment_container-detail">
                                    <div class="main-equipment_container-detail--title h5">Применение</div>
                                    <ul class="txt16">
                                        <li>
                                            <a href="">
                                                – процедура обновления, очищения и отшелушивание кожи
                                                <svg width="29" height="10" viewBox="0 0 29 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M28.4596 5.45962C28.7135 5.20578 28.7135 4.79422 28.4596 4.54038L24.323 0.403806C24.0692 0.149965 23.6576 0.149965 23.4038 0.403806C23.15 0.657647 23.15 1.0692 23.4038 1.32304L27.0808 5L23.4038 8.67696C23.15 8.9308 23.15 9.34235 23.4038 9.59619C23.6576 9.85003 24.0692 9.85003 24.323 9.59619L28.4596 5.45962ZM0 5.65H28V4.35H0V5.65Z" fill="#2E2E2E" />
                                                </svg>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                – глубокое очищение кожи
                                                <svg width="29" height="10" viewBox="0 0 29 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M28.4596 5.45962C28.7135 5.20578 28.7135 4.79422 28.4596 4.54038L24.323 0.403806C24.0692 0.149965 23.6576 0.149965 23.4038 0.403806C23.15 0.657647 23.15 1.0692 23.4038 1.32304L27.0808 5L23.4038 8.67696C23.15 8.9308 23.15 9.34235 23.4038 9.59619C23.6576 9.85003 24.0692 9.85003 24.323 9.59619L28.4596 5.45962ZM0 5.65H28V4.35H0V5.65Z" fill="#2E2E2E" />
                                                </svg>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                – детоксикация, обновление и омоложение
                                                <svg width="29" height="10" viewBox="0 0 29 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M28.4596 5.45962C28.7135 5.20578 28.7135 4.79422 28.4596 4.54038L24.323 0.403806C24.0692 0.149965 23.6576 0.149965 23.4038 0.403806C23.15 0.657647 23.15 1.0692 23.4038 1.32304L27.0808 5L23.4038 8.67696C23.15 8.9308 23.15 9.34235 23.4038 9.59619C23.6576 9.85003 24.0692 9.85003 24.323 9.59619L28.4596 5.45962ZM0 5.65H28V4.35H0V5.65Z" fill="#2E2E2E" />
                                                </svg>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="show-more mobile">Показать полностью</div>
                            <div data-popup="#popup__main-equipment1" class="btn btn-more">Подробнее</div>
                            <div class="main-equipment_container-bottom switcher">
                                <div class="main-equipment_container-bottom--title h5">Насадки на оборудование</div>
                                <div class="main-equipment_container-box">
                                    <div class="main-equipment_container-box_swiper">

                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide main-equipment_container-box__btn switcher__btn active">Lilac</div>
                                            <div class="swiper-slide main-equipment_container-box__btn switcher__btn">Lazur</div>
                                            <div class="swiper-slide main-equipment_container-box__btn switcher__btn">Erise</div>
                                            <div class="swiper-slide main-equipment_container-box__btn switcher__btn">Sparks</div>
                                            <div class="swiper-slide main-equipment_container-box__btn switcher__btn">Vivid</div>
                                        </div>
                                        
                                    </div>
                                    <div class="main-equipment_container-box_swiper-left">
                                        <svg width="48" height="40" viewBox="0 0 48 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <rect x="0.5" y="-0.5" width="47" height="39" rx="19.5" transform="matrix(1 0 0 -1 0 39)" fill="#E5EBEF" />
                                            <rect x="0.5" y="-0.5" width="47" height="39" rx="19.5" transform="matrix(1 0 0 -1 0 39)" stroke="#939CA9" />
                                            <path d="M12.5404 19.5404C12.2865 19.7942 12.2865 20.2058 12.5404 20.4596L16.677 24.5962C16.9308 24.85 17.3424 24.85 17.5962 24.5962C17.85 24.3424 17.85 23.9308 17.5962 23.677L13.9192 20L17.5962 16.323C17.85 16.0692 17.85 15.6576 17.5962 15.4038C17.3424 15.15 16.9308 15.15 16.677 15.4038L12.5404 19.5404ZM35 19.35L13 19.35V20.65L35 20.65V19.35Z" fill="#939CA9" />
                                        </svg>
                                    </div>
                                    <div class="main-equipment_container-box_swiper-right">
                                        <svg width="48" height="40" viewBox="0 0 48 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <rect x="-0.5" y="0.5" width="47" height="39" rx="19.5" transform="matrix(-1 0 0 1 47 0)" fill="#E5EBEF" />
                                            <rect x="-0.5" y="0.5" width="47" height="39" rx="19.5" transform="matrix(-1 0 0 1 47 0)" stroke="#939CA9" />
                                            <path d="M35.4596 20.4596C35.7135 20.2058 35.7135 19.7942 35.4596 19.5404L31.323 15.4038C31.0692 15.15 30.6576 15.15 30.4038 15.4038C30.15 15.6576 30.15 16.0692 30.4038 16.323L34.0808 20L30.4038 23.677C30.15 23.9308 30.15 24.3424 30.4038 24.5962C30.6576 24.85 31.0692 24.85 31.323 24.5962L35.4596 20.4596ZM13 20.65L35 20.65V19.35L13 19.35V20.65Z" fill="#939CA9" />
                                        </svg>
                                    </div>
                                    <div class="switcher__container">
                                        <div class="switcher__content active">
                                            <div class="main-equipment_container-box--item">
                                                <div class="main-equipment_container-box_img">
                                                    <img src="../assets/images/main/nozzle1.webp" alt="">
                                                </div>
                                                <div class="main-equipment_container-box_text">
                                                    <p class="txt16">Данная насадка подходит для:</p>
                                                    <ul class="txt16-l">
                                                        <li>- лечение гиперпигментации</li>
                                                        <li>- лечение розацеа</li>
                                                        <li>- фотоомоложение</li>
                                                        <li>- термолифтинг</li>
                                                        <li>- фотоэпиляция</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="switcher__content">
                                            <div class="main-equipment_container-box--item">
                                                <div class="main-equipment_container-box_img">
                                                    <img src="../assets/images/main/nozzle1.webp" alt="">
                                                </div>
                                                <div class="main-equipment_container-box_text">
                                                    <p class="txt16">2Данная насадка подходит для:</p>
                                                    <ul class="txt16-l">
                                                        <li>- лечение гиперпигментации</li>
                                                        <li>- лечение розацеа</li>
                                                        <li>- фотоомоложение</li>
                                                        <li>- термолифтинг</li>
                                                        <li>- фотоэпиляция</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="switcher__content">
                                            <div class="main-equipment_container-box--item">
                                                <div class="main-equipment_container-box_img">
                                                    <img src="../assets/images/main/nozzle1.webp" alt="">
                                                </div>
                                                <div class="main-equipment_container-box_text">
                                                    <p class="txt16">3Данная насадка подходит для:</p>
                                                    <ul class="txt16-l">
                                                        <li>- лечение гиперпигментации</li>
                                                        <li>- лечение розацеа</li>
                                                        <li>- фотоомоложение</li>
                                                        <li>- термолифтинг</li>
                                                        <li>- фотоэпиляция</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="switcher__content">
                                            <div class="main-equipment_container-box--item">
                                                <div class="main-equipment_container-box_img">
                                                    <img src="../assets/images/main/nozzle1.webp" alt="">
                                                </div>
                                                <div class="main-equipment_container-box_text">
                                                    <p class="txt16">4Данная насадка подходит для:</p>
                                                    <ul class="txt16-l">
                                                        <li>- лечение гиперпигментации</li>
                                                        <li>- лечение розацеа</li>
                                                        <li>- фотоомоложение</li>
                                                        <li>- термолифтинг</li>
                                                        <li>- фотоэпиляция</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="switcher__content">
                                            <div class="main-equipment_container-box--item">
                                                <div class="main-equipment_container-box_img">
                                                    <img src="../assets/images/main/nozzle1.webp" alt="">
                                                </div>
                                                <div class="main-equipment_container-box_text">
                                                    <p class="txt16">5Данная насадка подходит для:</p>
                                                    <ul class="txt16-l">
                                                        <li>- лечение гиперпигментации</li>
                                                        <li>- лечение розацеа</li>
                                                        <li>- фотоомоложение</li>
                                                        <li>- термолифтинг</li>
                                                        <li>- фотоэпиляция</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide" >
                    <div class="main-equipment_container" data-href="2">
                        <div class="main-equipment_container-left">
                            <div class="main-equipment_container-img">
                                <img src="../assets/images/main/main-equipment2.webp" alt="">
                            </div>
                            <div class="main-equipment_container--count txt20">
                                <span>02</span><span>04</span>
                            </div>
                        </div>
                        <div class="main-equipment_container-info">
                            <div class="main-equipment_container-title h3">JANUS Pro Sunlike (Южная Корея)</div>
                            <div class="show-text hideContent">
                                <div class="main-equipment_container-text txt16">
                                    <p>Janus Pro Sunlike – диагностический аппарат последнего поколения, которой визуализирует несовершенства кожи и определяет зоны, требующие особого ухода.</p>
                                    <p>Аппарат позволяет проводить диагностику кожи по 18 параметрам с помощью усовершенствованной системы Sunlike LED и UV LED 385 нм.</p>
                                </div>
                                <div class="main-equipment_container-detail">
                                    <div class="main-equipment_container-detail--title h5">Применение</div>
                                    <ul class="txt16">
                                        <li>
                                            <a href="">
                                                – процедура обновления, очищения и отшелушивание кожи
                                                <svg width="29" height="10" viewBox="0 0 29 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M28.4596 5.45962C28.7135 5.20578 28.7135 4.79422 28.4596 4.54038L24.323 0.403806C24.0692 0.149965 23.6576 0.149965 23.4038 0.403806C23.15 0.657647 23.15 1.0692 23.4038 1.32304L27.0808 5L23.4038 8.67696C23.15 8.9308 23.15 9.34235 23.4038 9.59619C23.6576 9.85003 24.0692 9.85003 24.323 9.59619L28.4596 5.45962ZM0 5.65H28V4.35H0V5.65Z" fill="#2E2E2E" />
                                                </svg>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                – глубокое очищение кожи
                                                <svg width="29" height="10" viewBox="0 0 29 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M28.4596 5.45962C28.7135 5.20578 28.7135 4.79422 28.4596 4.54038L24.323 0.403806C24.0692 0.149965 23.6576 0.149965 23.4038 0.403806C23.15 0.657647 23.15 1.0692 23.4038 1.32304L27.0808 5L23.4038 8.67696C23.15 8.9308 23.15 9.34235 23.4038 9.59619C23.6576 9.85003 24.0692 9.85003 24.323 9.59619L28.4596 5.45962ZM0 5.65H28V4.35H0V5.65Z" fill="#2E2E2E" />
                                                </svg>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                – детоксикация, обновление и омоложение
                                                <svg width="29" height="10" viewBox="0 0 29 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M28.4596 5.45962C28.7135 5.20578 28.7135 4.79422 28.4596 4.54038L24.323 0.403806C24.0692 0.149965 23.6576 0.149965 23.4038 0.403806C23.15 0.657647 23.15 1.0692 23.4038 1.32304L27.0808 5L23.4038 8.67696C23.15 8.9308 23.15 9.34235 23.4038 9.59619C23.6576 9.85003 24.0692 9.85003 24.323 9.59619L28.4596 5.45962ZM0 5.65H28V4.35H0V5.65Z" fill="#2E2E2E" />
                                                </svg>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="show-more mobile">Показать полностью</div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide" >
                    <div class="main-equipment_container" data-href="3">
                        <div class="main-equipment_container-left">
                            <div class="main-equipment_container-img">
                                <img src="../assets/images/main/main-equipment3.webp" alt="">
                            </div>
                            <div class="main-equipment_container--count txt20">
                                <span>03</span><span>04</span>
                            </div>
                        </div>
                        <div class="main-equipment_container-info">
                            <div class="main-equipment_container-title h3">Hydrafacial (США)</div>
                            <div class="show-text hideContent">
                                <div class="main-equipment_container-text txt16">HydraFacial® позволяет провести целый комплекс процедур (лечение, омоложение, лифтинг, увлажнение, чистка) за один сеанс. Он подходит для любого типа кожи, любого возраста, любого времени года.</div>
                                <div class="main-equipment_container-detail">
                                    <div class="main-equipment_container-detail--title h5">Применение</div>
                                    <ul class="txt16">
                                        <li>
                                            <a href="">
                                                – процедура обновления, очищения и отшелушивание кожи
                                                <svg width="29" height="10" viewBox="0 0 29 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M28.4596 5.45962C28.7135 5.20578 28.7135 4.79422 28.4596 4.54038L24.323 0.403806C24.0692 0.149965 23.6576 0.149965 23.4038 0.403806C23.15 0.657647 23.15 1.0692 23.4038 1.32304L27.0808 5L23.4038 8.67696C23.15 8.9308 23.15 9.34235 23.4038 9.59619C23.6576 9.85003 24.0692 9.85003 24.323 9.59619L28.4596 5.45962ZM0 5.65H28V4.35H0V5.65Z" fill="#2E2E2E" />
                                                </svg>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                – глубокое очищение кожи
                                                <svg width="29" height="10" viewBox="0 0 29 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M28.4596 5.45962C28.7135 5.20578 28.7135 4.79422 28.4596 4.54038L24.323 0.403806C24.0692 0.149965 23.6576 0.149965 23.4038 0.403806C23.15 0.657647 23.15 1.0692 23.4038 1.32304L27.0808 5L23.4038 8.67696C23.15 8.9308 23.15 9.34235 23.4038 9.59619C23.6576 9.85003 24.0692 9.85003 24.323 9.59619L28.4596 5.45962ZM0 5.65H28V4.35H0V5.65Z" fill="#2E2E2E" />
                                                </svg>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                – детоксикация, обновление и омоложение
                                                <svg width="29" height="10" viewBox="0 0 29 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M28.4596 5.45962C28.7135 5.20578 28.7135 4.79422 28.4596 4.54038L24.323 0.403806C24.0692 0.149965 23.6576 0.149965 23.4038 0.403806C23.15 0.657647 23.15 1.0692 23.4038 1.32304L27.0808 5L23.4038 8.67696C23.15 8.9308 23.15 9.34235 23.4038 9.59619C23.6576 9.85003 24.0692 9.85003 24.323 9.59619L28.4596 5.45962ZM0 5.65H28V4.35H0V5.65Z" fill="#2E2E2E" />
                                                </svg>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="show-more mobile">Показать полностью</div>
                            <div data-popup="#popup__main-equipment2" class="btn btn-more">Подробнее</div>
                            <div class="main-equipment_container-bottom switcher">
                                <div class="main-equipment_container-bottom--title h5">Насадки на оборудование</div>
                                <div class="main-equipment_container-box">
                                    <div class="main-equipment_container-box_swiper">

                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide main-equipment_container-box__btn switcher__btn active">Фиолетовый</div>
                                            <div class="swiper-slide main-equipment_container-box__btn switcher__btn">бирюзовая</div>
                                            <div class="swiper-slide main-equipment_container-box__btn switcher__btn">прозрачная</div>
                                        </div>
                                        
                                    </div>
                                    <div class="main-equipment_container-box_swiper-left">
                                        <svg width="48" height="40" viewBox="0 0 48 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <rect x="0.5" y="-0.5" width="47" height="39" rx="19.5" transform="matrix(1 0 0 -1 0 39)" fill="#E5EBEF" />
                                            <rect x="0.5" y="-0.5" width="47" height="39" rx="19.5" transform="matrix(1 0 0 -1 0 39)" stroke="#939CA9" />
                                            <path d="M12.5404 19.5404C12.2865 19.7942 12.2865 20.2058 12.5404 20.4596L16.677 24.5962C16.9308 24.85 17.3424 24.85 17.5962 24.5962C17.85 24.3424 17.85 23.9308 17.5962 23.677L13.9192 20L17.5962 16.323C17.85 16.0692 17.85 15.6576 17.5962 15.4038C17.3424 15.15 16.9308 15.15 16.677 15.4038L12.5404 19.5404ZM35 19.35L13 19.35V20.65L35 20.65V19.35Z" fill="#939CA9" />
                                        </svg>
                                    </div>
                                    <div class="main-equipment_container-box_swiper-right">
                                        <svg width="48" height="40" viewBox="0 0 48 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <rect x="-0.5" y="0.5" width="47" height="39" rx="19.5" transform="matrix(-1 0 0 1 47 0)" fill="#E5EBEF" />
                                            <rect x="-0.5" y="0.5" width="47" height="39" rx="19.5" transform="matrix(-1 0 0 1 47 0)" stroke="#939CA9" />
                                            <path d="M35.4596 20.4596C35.7135 20.2058 35.7135 19.7942 35.4596 19.5404L31.323 15.4038C31.0692 15.15 30.6576 15.15 30.4038 15.4038C30.15 15.6576 30.15 16.0692 30.4038 16.323L34.0808 20L30.4038 23.677C30.15 23.9308 30.15 24.3424 30.4038 24.5962C30.6576 24.85 31.0692 24.85 31.323 24.5962L35.4596 20.4596ZM13 20.65L35 20.65V19.35L13 19.35V20.65Z" fill="#939CA9" />
                                        </svg>
                                    </div>
                                    <div class="switcher__container">
                                        <div class="switcher__content active">
                                            <div class="main-equipment_container-box--item">
                                                <div class="main-equipment_container-box_img">
                                                    <img src="../assets/images/main/nozzle2.webp" alt="">
                                                </div>
                                                <div class="main-equipment_container-box_text">
                                                    <p class="txt16">Данная насадка подходит для:</p>
                                                    <p class="txt16-l">Завершающего этапе аппаратного ухода за лицом HydraFacial®, позволяющая деликатно внедрить сыворотки в глубокие слои кожи.</p>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="switcher__content">
                                            <div class="main-equipment_container-box--item">
                                                <div class="main-equipment_container-box_img">
                                                    <img src="../assets/images/main/nozzle2.webp" alt="">
                                                </div>
                                                <div class="main-equipment_container-box_text">
                                                    <p class="txt16">Данная насадка подходит для:</p>
                                                    <p class="txt16-l">Завершающего этапе аппаратного ухода за лицом HydraFacial®, позволяющая деликатно внедрить сыворотки в глубокие слои кожи.</p>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="switcher__content">
                                            <div class="main-equipment_container-box--item">
                                                <div class="main-equipment_container-box_img">
                                                    <img src="../assets/images/main/nozzle2.webp" alt="">
                                                </div>
                                                <div class="main-equipment_container-box_text">
                                                    <p class="txt16">Данная насадка подходит для:</p>
                                                    <p class="txt16-l">Завершающего этапе аппаратного ухода за лицом HydraFacial®, позволяющая деликатно внедрить сыворотки в глубокие слои кожи.</p>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide" >
                    <div class="main-equipment_container" data-href="4">
                        <div class="main-equipment_container-left">
                            <div class="main-equipment_container-img">
                                <img src="../assets/images/main/main-equipment4.webp" alt="">
                            </div>
                            <div class="main-equipment_container--count txt20">
                                <span>04</span><span>04</span>
                            </div>
                        </div>
                        <div class="main-equipment_container-info">
                            <div class="main-equipment_container-title h3">Virtue RF (Южная Корея)</div>
                            <div class="show-text hideContent">
                                <div class="main-equipment_container-text txt16">Эта система представляет собой универсальный аппарат нового поколения, который объединяет в себе технологии IPL, RF и лазеров для косметологии, дерматологии, эстетической хирургии, гинекологии.</div>
                                <div class="main-equipment_container-detail">
                                    <div class="main-equipment_container-detail--title h5">Применение</div>
                                    <ul class="txt16">
                                        <li>
                                            <a href="">
                                                – процедура обновления, очищения и отшелушивание кожи
                                                <svg width="29" height="10" viewBox="0 0 29 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M28.4596 5.45962C28.7135 5.20578 28.7135 4.79422 28.4596 4.54038L24.323 0.403806C24.0692 0.149965 23.6576 0.149965 23.4038 0.403806C23.15 0.657647 23.15 1.0692 23.4038 1.32304L27.0808 5L23.4038 8.67696C23.15 8.9308 23.15 9.34235 23.4038 9.59619C23.6576 9.85003 24.0692 9.85003 24.323 9.59619L28.4596 5.45962ZM0 5.65H28V4.35H0V5.65Z" fill="#2E2E2E" />
                                                </svg>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                – глубокое очищение кожи
                                                <svg width="29" height="10" viewBox="0 0 29 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M28.4596 5.45962C28.7135 5.20578 28.7135 4.79422 28.4596 4.54038L24.323 0.403806C24.0692 0.149965 23.6576 0.149965 23.4038 0.403806C23.15 0.657647 23.15 1.0692 23.4038 1.32304L27.0808 5L23.4038 8.67696C23.15 8.9308 23.15 9.34235 23.4038 9.59619C23.6576 9.85003 24.0692 9.85003 24.323 9.59619L28.4596 5.45962ZM0 5.65H28V4.35H0V5.65Z" fill="#2E2E2E" />
                                                </svg>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                – детоксикация, обновление и омоложение
                                                <svg width="29" height="10" viewBox="0 0 29 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M28.4596 5.45962C28.7135 5.20578 28.7135 4.79422 28.4596 4.54038L24.323 0.403806C24.0692 0.149965 23.6576 0.149965 23.4038 0.403806C23.15 0.657647 23.15 1.0692 23.4038 1.32304L27.0808 5L23.4038 8.67696C23.15 8.9308 23.15 9.34235 23.4038 9.59619C23.6576 9.85003 24.0692 9.85003 24.323 9.59619L28.4596 5.45962ZM0 5.65H28V4.35H0V5.65Z" fill="#2E2E2E" />
                                                </svg>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="show-more mobile">Показать полностью</div>
                            <div data-popup="#popup__main-equipment3" class="btn btn-more">Подробнее</div>
                            <div class="main-equipment_container-bottom switcher">
                                <div class="main-equipment_container-bottom--title h5">Насадки на оборудование</div>
                                <div class="main-equipment_container-box">
                                    <div class="main-equipment_container-box_swiper">

                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide main-equipment_container-box__btn switcher__btn active">soft</div>
                                            <div class="swiper-slide main-equipment_container-box__btn switcher__btn">strong</div>
                                            <div class="swiper-slide main-equipment_container-box__btn switcher__btn">exact</div>
                                        </div>
                                        
                                    </div>
                                    <div class="main-equipment_container-box_swiper-left">
                                        <svg width="48" height="40" viewBox="0 0 48 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <rect x="0.5" y="-0.5" width="47" height="39" rx="19.5" transform="matrix(1 0 0 -1 0 39)" fill="#E5EBEF" />
                                            <rect x="0.5" y="-0.5" width="47" height="39" rx="19.5" transform="matrix(1 0 0 -1 0 39)" stroke="#939CA9" />
                                            <path d="M12.5404 19.5404C12.2865 19.7942 12.2865 20.2058 12.5404 20.4596L16.677 24.5962C16.9308 24.85 17.3424 24.85 17.5962 24.5962C17.85 24.3424 17.85 23.9308 17.5962 23.677L13.9192 20L17.5962 16.323C17.85 16.0692 17.85 15.6576 17.5962 15.4038C17.3424 15.15 16.9308 15.15 16.677 15.4038L12.5404 19.5404ZM35 19.35L13 19.35V20.65L35 20.65V19.35Z" fill="#939CA9" />
                                        </svg>
                                    </div>
                                    <div class="main-equipment_container-box_swiper-right">
                                        <svg width="48" height="40" viewBox="0 0 48 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <rect x="-0.5" y="0.5" width="47" height="39" rx="19.5" transform="matrix(-1 0 0 1 47 0)" fill="#E5EBEF" />
                                            <rect x="-0.5" y="0.5" width="47" height="39" rx="19.5" transform="matrix(-1 0 0 1 47 0)" stroke="#939CA9" />
                                            <path d="M35.4596 20.4596C35.7135 20.2058 35.7135 19.7942 35.4596 19.5404L31.323 15.4038C31.0692 15.15 30.6576 15.15 30.4038 15.4038C30.15 15.6576 30.15 16.0692 30.4038 16.323L34.0808 20L30.4038 23.677C30.15 23.9308 30.15 24.3424 30.4038 24.5962C30.6576 24.85 31.0692 24.85 31.323 24.5962L35.4596 20.4596ZM13 20.65L35 20.65V19.35L13 19.35V20.65Z" fill="#939CA9" />
                                        </svg>
                                    </div>
                                    <div class="switcher__container">
                                        <div class="switcher__content active">
                                            <div class="main-equipment_container-box--item">
                                                <div class="main-equipment_container-box_img">
                                                    <img src="../assets/images/main/nozzle3.webp" alt="">
                                                </div>
                                                <div class="main-equipment_container-box_text">
                                                    <p class="txt16">Данная насадка подходит для:</p>
                                                    <p class="txt16-l">SMART-лифтинга, деликатного ухода за лицом, руками и зоной декольте.</p>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="switcher__content">
                                            <div class="main-equipment_container-box--item">
                                                <div class="main-equipment_container-box_img">
                                                    <img src="../assets/images/main/nozzle3.webp" alt="">
                                                </div>
                                                <div class="main-equipment_container-box_text">
                                                    <p class="txt16">Данная насадка подходит для:</p>
                                                    <p class="txt16-l">SMART-лифтинга, деликатного ухода за лицом, руками и зоной декольте.</p>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="switcher__content">
                                            <div class="main-equipment_container-box--item">
                                                <div class="main-equipment_container-box_img">
                                                    <img src="../assets/images/main/nozzle3.webp" alt="">
                                                </div>
                                                <div class="main-equipment_container-box_text">
                                                    <p class="txt16">Данная насадка подходит для:</p>
                                                    <p class="txt16-l">SMART-лифтинга, деликатного ухода за лицом, руками и зоной декольте.</p>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-equipment_pagin swiper-pading"></div>
        <div class="btn btn-blue main-equipment_btn-blue mobile">Оборудование</div>
    </div>
</section>

<div id="popup__main-equipment1" aria-hidden="true" class="popup popup-equipment">
    <div class="popup__wrapper">
        <div class="popup__content">
            <div class="popup__body">
                <button data-close type="button" class="popup__body-close-btn">
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M1.50164 1.5L9.00164 8.64286L16.5016 1.5M16.5 16.5L9 9.35714L1.5 16.5"
                            stroke="#2E2E2E"
                            stroke-width="1.3"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                    </svg>
                </button>
                <div class="popup__body-content-box switcher">
                    <div class="popup-equipment_title">Насадки на оборудование</div>
                    <div class="popup-equipment_btns">
                        <div class="popup-equipment_btn switcher__btn active">Lilac</div>
                        <div class="popup-equipment_btn switcher__btn">Lazur</div>
                        <div class="popup-equipment_btn switcher__btn">Erise</div>
                        <div class="popup-equipment_btn switcher__btn">Sparks</div>
                        <div class="popup-equipment_btn switcher__btn">Vivid</div>
                    </div>
                    <div class="switcher__container">
                        <div class="switcher__content active">
                            <div class="popup-equipment_subtitle">Данная насадка подходит для:</div>
                            <div class="popup-equipment_text">
                                <ul>
                                    <li>- лечение гиперпигментации</li>
                                    <li>- лечение розацеа</li>
                                    <li>- фотоомоложение</li>
                                    <li>- термолифтинг</li>
                                    <li>- фотоэпиляция</li>
                                </ul>
                            </div>
                            <div class="popup-equipment_img">
                                <img src="../assets/images/main/nozzle1.webp" alt="">
                            </div>
                        </div>
                        <div class="switcher__content">
                            <div class="popup-equipment_title">Данная насадка подходит для:</div>
                            <div class="popup-equipment_text">
                                <ul>
                                    <li>- лечение гиперпигментации</li>
                                    <li>- лечение розацеа</li>
                                    <li>- фотоомоложение</li>
                                    <li>- термолифтинг</li>
                                    <li>- фотоэпиляция</li>
                                </ul>
                            </div>
                            <div class="popup-equipment_img">
                                <img src="../assets/images/main/nozzle1.webp" alt="">
                            </div>

                        </div>
                        <div class="switcher__content">
                            <div class="popup-equipment_title">Данная насадка подходит для:</div>
                            <div class="popup-equipment_text">
                                <ul>
                                    <li>- лечение гиперпигментации</li>
                                    <li>- лечение розацеа</li>
                                    <li>- фотоомоложение</li>
                                    <li>- термолифтинг</li>
                                    <li>- фотоэпиляция</li>
                                </ul>
                            </div>
                            <div class="popup-equipment_img">
                                <img src="../assets/images/main/nozzle1.webp" alt="">
                            </div>

                        </div>
                        <div class="switcher__content">
                            <div class="popup-equipment_title">Данная насадка подходит для:</div>
                            <div class="popup-equipment_text">
                                <ul>
                                    <li>- лечение гиперпигментации</li>
                                    <li>- лечение розацеа</li>
                                    <li>- фотоомоложение</li>
                                    <li>- термолифтинг</li>
                                    <li>- фотоэпиляция</li>
                                </ul>
                            </div>
                            <div class="popup-equipment_img">
                                <img src="../assets/images/main/nozzle1.webp" alt="">
                            </div>

                        </div>
                        <div class="switcher__content">
                            <div class="popup-equipment_title">Данная насадка подходит для:</div>
                            <div class="popup-equipment_text">
                                <ul>
                                    <li>- лечение гиперпигментации</li>
                                    <li>- лечение розацеа</li>
                                    <li>- фотоомоложение</li>
                                    <li>- термолифтинг</li>
                                    <li>- фотоэпиляция</li>
                                </ul>
                            </div>
                            <div class="popup-equipment_img">
                                <img src="../assets/images/main/nozzle1.webp" alt="">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="popup__main-equipment2" aria-hidden="true" class="popup popup-equipment">
    <div class="popup__wrapper">
        <div class="popup__content">
            <div class="popup__body">
                <button data-close type="button" class="popup__body-close-btn">
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M1.50164 1.5L9.00164 8.64286L16.5016 1.5M16.5 16.5L9 9.35714L1.5 16.5"
                            stroke="#2E2E2E"
                            stroke-width="1.3"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                    </svg>
                </button>
                <div class="popup__body-content-box switcher">
                    <div class="popup-equipment_title">Насадки на оборудование</div>
                    <div class="popup-equipment_btns">
                        <div class="popup-equipment_btn switcher__btn active">Фиолетовый</div>
                        <div class="popup-equipment_btn switcher__btn">бирюзовая</div>
                        <div class="popup-equipment_btn switcher__btn">прозрачная</div>
                    </div>
                    <div class="switcher__container">
                        <div class="switcher__content active">
                            <div class="popup-equipment_subtitle">Данная насадка подходит для:</div>
                            <div class="popup-equipment_text">
                                <p>Завершающего этапе аппаратного ухода за лицом HydraFacial®, позволяющая деликатно внедрить сыворотки в глубокие слои кожи.</p>
                            </div>
                            <div class="popup-equipment_img">
                                <img src="../assets/images/main/nozzle2.webp" alt="">
                            </div>
                        </div>
                        <div class="switcher__content">
                            <div class="popup-equipment_subtitle">Данная насадка подходит для:</div>
                            <div class="popup-equipment_text">
                                <p>Завершающего этапе аппаратного ухода за лицом HydraFacial®, позволяющая деликатно внедрить сыворотки в глубокие слои кожи.</p>
                            </div>
                            <div class="popup-equipment_img">
                                <img src="../assets/images/main/nozzle2.webp" alt="">
                            </div>
                        </div>
                        <div class="switcher__content">
                            <div class="popup-equipment_subtitle">Данная насадка подходит для:</div>
                            <div class="popup-equipment_text">
                                <p>Завершающего этапе аппаратного ухода за лицом HydraFacial®, позволяющая деликатно внедрить сыворотки в глубокие слои кожи.</p>
                            </div>
                            <div class="popup-equipment_img">
                                <img src="../assets/images/main/nozzle2.webp" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="popup__main-equipment3" aria-hidden="true" class="popup popup-equipment">
    <div class="popup__wrapper">
        <div class="popup__content">
            <div class="popup__body">
                <button data-close type="button" class="popup__body-close-btn">
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M1.50164 1.5L9.00164 8.64286L16.5016 1.5M16.5 16.5L9 9.35714L1.5 16.5"
                            stroke="#2E2E2E"
                            stroke-width="1.3"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                    </svg>
                </button>
                <div class="popup__body-content-box switcher">
                    <div class="popup-equipment_title">Насадки на оборудование</div>
                    <div class="popup-equipment_btns">
                        <div class="popup-equipment_btn switcher__btn active">SOFT</div>
                        <div class="popup-equipment_btn switcher__btn">STRONG</div>
                        <div class="popup-equipment_btn switcher__btn">EXACT</div>
                    </div>
                    <div class="switcher__container">
                        <div class="switcher__content active">
                            <div class="popup-equipment_subtitle">Данная насадка подходит для:</div>
                            <div class="popup-equipment_text">
                                <p>SMART-лифтинга, деликатного ухода за лицом, руками и зоной декольте.</p>
                            </div>
                            <div class="popup-equipment_img">
                                <img src="../assets/images/main/nozzle3.webp" alt="">
                            </div>
                        </div>
                        <div class="switcher__content">
                            <div class="popup-equipment_subtitle">Данная насадка подходит для:</div>
                            <div class="popup-equipment_text">
                                <p>SMART-лифтинга, деликатного ухода за лицом, руками и зоной декольте.</p>
                            </div>
                            <div class="popup-equipment_img">
                                <img src="../assets/images/main/nozzle3.webp" alt="">
                            </div>
                        </div>
                        <div class="switcher__content">
                            <div class="popup-equipment_subtitle">Данная насадка подходит для:</div>
                            <div class="popup-equipment_text">
                                <p>SMART-лифтинга, деликатного ухода за лицом, руками и зоной декольте.</p>
                            </div>
                            <div class="popup-equipment_img">
                                <img src="../assets/images/main/nozzle3.webp" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>