<section class="main-baner">
    <div class="container">
        <div class="main-baner_img">
            <video autoplay muted loop src="../assets/images/Main-Video.webm"></video>
            <!-- <img src="../assets/images/main/mainb.webp" alt=""> -->
        </div>
        <div class="main-baner_container">
            <div class="main-baner_container-subtitle">Клиника врачебной косметологии, дерматологии и трихологии</div>
            <div class="main-baner_container-title">
                <span>æstetik</span>
                <br>превратит вашу<br>красоту в искусство</div>
            <div class="main-baner_container-btns">
                <div class="btn btn-white">Наши услуги</div>
                <div class="btn btn-blue" data-popup="#popup__feedback">Записаться</div>
            </div>
            <div class="main-baner_container-social">
                <a href="">Instagram</a>
                <a href="">Telegram</a>
                <a href="">WhatsApp</a>
            </div>
        </div>
    </div>
</section>