<section class="main-cosmetics white-block">
    <div class="container">
        <div class="main-cosmetics_top">
            <div class="main-equipment_top-title h2">Косметика</div>
            <a class="btn btn-blue">Вся косметика</a>
        </div>
        <div class="main-cosmetics_bottom">
            <div class="main-cosmetics_swiper">
                <div class="swiper-wrapper ">
                    <div class="swiper-slide">
                        <a class="main-cosmetics_block active">
                            <div class="main-cosmetics_img">
                                <img src="../assets/images/main/cosmetic1.webp" alt="">
                            </div>
                            <div class="main-cosmetics_logo">
                                <img src="../assets/images/main/cosmetic-logo1.webp" alt="">
                            </div>
                            <div class="main-cosmetics_bg">
                                <img src="../assets/images/main/cosmetic-bg.webp" alt="">
                            </div>
                        </a>
                        <div class="main-cosmetics_slide-text show-content">
                            <p class="txt18 show-text hideContent">ZО skin health by Zein Obagi – бренд косметики, созданный Зейном Обаджи, легендарным американским ученым, дерматологом с 35 летним стажем, медицинским директором компании ZO Skin Health, Inc. <br>
                                Это линии средств для профессионального и домашнего ухода, медицинские и космецевтические продукты. Медицинские оказывают эффективное лечебное воздействие на уровне клеток, космецевтические же восстанавливают естественный потенциал кожи.
                            </p>
                            <div class="show-more">Показать полностью</div>
                            <a class="btn btn-more">Подробнее</a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <a class="main-cosmetics_block">
                            <div class="main-cosmetics_img">
                                <img src="../assets/images/main/cosmetic2.webp" alt="">
                            </div>
                            <div class="main-cosmetics_logo">
                                <img src="../assets/images/main/cosmetic-logo2.webp" alt="">
                            </div>
                            <div class="main-cosmetics_bg">
                                <img src="../assets/images/main/cosmetic-bg.webp" alt="">
                            </div>
                        </a>
                        <div class="main-cosmetics_slide-text show-content">
                            <p class="txt18 show-text hideContent">ZО skin health by Zein Obagi – бренд косметики, созданный Зейном Обаджи, легендарным американским ученым, дерматологом с 35 летним стажем, медицинским директором компании ZO Skin Health, Inc. <br>
                                Это линии средств для профессионального и домашнего ухода, медицинские и космецевтические продукты. Медицинские оказывают эффективное лечебное воздействие на уровне клеток, космецевтические же восстанавливают естественный потенциал кожи.
                            </p>
                            <div class="show-more">Показать полностью</div>
                            <a class="btn btn-more">Подробнее</a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <a class="main-cosmetics_block">
                            <div class="main-cosmetics_img">
                                <img src="../assets/images/main/cosmetic3.webp" alt="">
                            </div>
                            <div class="main-cosmetics_logo">
                                <img src="../assets/images/main/cosmetic-logo3.webp" alt="">
                            </div>
                            <div class="main-cosmetics_bg">
                                <img src="../assets/images/main/cosmetic-bg.webp" alt="">
                            </div>
                        </a>
                        <div class="main-cosmetics_slide-text show-content">
                            <p class="txt18 show-text hideContent">ZО skin health by Zein Obagi – бренд косметики, созданный Зейном Обаджи, легендарным американским ученым, дерматологом с 35 летним стажем, медицинским директором компании ZO Skin Health, Inc. <br>
                                Это линии средств для профессионального и домашнего ухода, медицинские и космецевтические продукты. Медицинские оказывают эффективное лечебное воздействие на уровне клеток, космецевтические же восстанавливают естественный потенциал кожи.
                            </p>
                            <div class="show-more">Показать полностью</div>
                            <a class="btn btn-more">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-cosmetics_change">
                <div class="main-cosmetics_item active">
                    <div class="main-cosmetics_slide-text">
                        <p class="txt18">ZО skin health by Zein Obagi – бренд косметики, созданный Зейном Обаджи, легендарным американским ученым, дерматологом с 35 летним стажем, медицинским директором компании ZO Skin Health, Inc. <br>
                            Это линии средств для профессионального и домашнего ухода, медицинские и космецевтические продукты. Медицинские оказывают эффективное лечебное воздействие на уровне клеток, космецевтические же восстанавливают естественный потенциал кожи.
                        </p>
                        <a class="btn btn-more">Подробнее</a>
                    </div>
                </div>
                <div class="main-cosmetics_item">
                    <div class="main-cosmetics_slide-text">
                        <p class="txt18">ZО skin health by Zein Obagi – бренд косметики, созданный Зейном Обаджи, легендарным американским ученым, дерматологом с 35 летним стажем, медицинским директором компании ZO Skin Health, Inc. <br>
                            Это линии средств для профессионального и домашнего ухода, медицинские и космецевтические продукты. Медицинские оказывают эффективное лечебное воздействие на уровне клеток, космецевтические же восстанавливают естественный потенциал кожи.
                        </p>
                        <a class="btn btn-more">Подробнее</a>
                    </div>
                </div>
                <div class="main-cosmetics_item">
                    <div class="main-cosmetics_slide-text">
                        <p class="txt18">ZО skin health by Zein Obagi – бренд косметики, созданный Зейном Обаджи, легендарным американским ученым, дерматологом с 35 летним стажем, медицинским директором компании ZO Skin Health, Inc. <br>
                            Это линии средств для профессионального и домашнего ухода, медицинские и космецевтические продукты. Медицинские оказывают эффективное лечебное воздействие на уровне клеток, космецевтические же восстанавливают естественный потенциал кожи.
                        </p>
                        <a class="btn btn-more">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pading main-cosmetics_pagination"></div>
        <a class="btn btn-blue">Вся косметика</a>
    </div>
</section>