<section class="main-space white-block">
    <div class="container">
        <div class="main-space_title">Наше пространство</div>
        <div class="main-space_box">
            <span>
                Aestetik - это эстетика нового поколения, с оригинальным дизайном и сервисом премиального класса. Наше современное пространство, площадью 100 кв. м. расположилось на территории элитного жилого комплекса по ул. Первомайская, д.8. <br><br>
                Каждый день к вашим услугам процедурные кабинеты, оснащенные инновационными аппаратами последнего поколения.
            </span>
            <div class="main-space_box--more mobile">Показать полностью</div>
        </div>
        <div class="main-space_list">
            <div class="main-space_img">
                <img src="../assets/images/main/main-space1.webp" alt="">
            </div>
            <div class="main-space_img">
                <img src="../assets/images/main/main-space2.webp" alt="">
            </div>
            <div class="main-space_img">
                <img src="../assets/images/main/main-space3.webp" alt="">
            </div>
            <div class="main-space_img">
                <img src="../assets/images/main/main-space4.webp" alt="">
            </div>
        </div>
        <div class="main-space_anim">пространство</div>
        <div class="white-block-bg">
            <!-- <img src="../assets/images/block-bg.webp" alt=""> -->
        </div>
    </div>
</section>