<section class="services switcher">
    <div class="container">
        <div class="services_top">
            <div class="services_top-title h1">Наши услуги</div>
            <div class="services_top-text txt20">Aestetik - это эстетика нового поколения, с оригинальным дизайном и сервисом премиального класса.</div>
            <div class="services_top-btns">
                <div class="switcher__btn active">Для женщин</div>
                <div class="switcher__btn">Для мужчин</div>
            </div>
        </div>
        <div class="switcher__container">
            <div class="switcher__content active">
                <div class="services_lists">
                    <div class="services_item">
                        <div class="services_item-img">
                            <img src="../assets/images/services/img-girl1.webp" alt="">
                        </div>
                        <div class="services_item-text h4">
                            <div class="services_item-text--back"></div>
                            <span>Дерматология, трихология</span>
                        </div>
                    </div>
                    <div class="services_item">
                        <div class="services_item-img">
                            <img src="../assets/images/services/img-girl2.webp" alt="">
                        </div>
                        <div class="services_item-text h4">
                            <div class="services_item-text--back"></div>
                            <span>эстетическая косметология <br>и подология</span>
                        </div>
                    </div>
                    <div class="services_item">
                        <div class="services_item-img">
                            <img src="../assets/images/services/img-girl3.webp" alt="">
                        </div>
                        <div class="services_item-text h4">
                            <div class="services_item-text--back"></div>
                            <span>Лазерная эпиляция</span>
                        </div>
                    </div>
                    <div class="services_item">
                        <div class="services_item-img">
                            <img src="../assets/images/services/img-girl4.webp" alt="">
                        </div>
                        <div class="services_item-text h4">
                            <div class="services_item-text--back"></div>
                            <span>Инъекционная косметология</span>
                        </div>
                    </div>
                    <div class="services_item">
                        <div class="services_item-img">
                            <img src="../assets/images/services/img-girl5.webp" alt="">
                        </div>
                        <div class="services_item-text h4">
                            <div class="services_item-text--back"></div>
                            <span>Аппаратная косметология</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="switcher__content">
                <div class="services_lists">
                    <div class="services_item">
                        <div class="services_item-img">
                            <img src="../assets/images/services/img-man1.webp" alt="">
                        </div>
                        <div class="services_item-text h4">
                            <div class="services_item-text--back"></div>
                            <span>Дерматология, трихология</span>
                        </div>
                    </div>
                    <div class="services_item">
                        <div class="services_item-img">
                            <img src="../assets/images/services/img-man2.webp" alt="">
                        </div>
                        <div class="services_item-text h4">
                            <div class="services_item-text--back"></div>
                            <span>эстетическая косметология <br>и подология</span>
                        </div>
                    </div>
                    <div class="services_item">
                        <div class="services_item-img">
                            <img src="../assets/images/services/img-man3.webp" alt="">
                        </div>
                        <div class="services_item-text h4">
                            <div class="services_item-text--back"></div>
                            <span>Лазерная эпиляция</span>
                        </div>
                    </div>
                    <div class="services_item">
                        <div class="services_item-img">
                            <img src="../assets/images/services/img-man4.webp" alt="">
                        </div>
                        <div class="services_item-text h4">
                            <div class="services_item-text--back"></div>
                            <span>Инъекционная косметология</span>
                        </div>
                    </div>
                    <div class="services_item">
                        <div class="services_item-img">
                            <img src="../assets/images/services/img-man5.webp" alt="">
                        </div>
                        <div class="services_item-text h4">
                            <div class="services_item-text--back"></div>
                            <span>Аппаратная косметология</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>