<section class="services-all">
    <div class="container">
        <div class="services-all_title h1"><span>Инъекционная</span> <span>косметология</span></div>
        <div class="services-all_switcher">
            <div class="swiper-wrapper">
                <a class="swiper-slide services-all_slide">
                    <div class="services-all_slide-img">
                        <img src="../assets/images/services/services-second-swiper.webp" alt="">
                    </div>
                    <span>Контурная пластика</span>
                </a>
                <a class="swiper-slide services-all_slide">
                    <div class="services-all_slide-img">
                        <img src="../assets/images/services/services-second-swiper.webp" alt="">
                    </div>
                    <span>Биоревитализация</span>
                </a>
                <a class="swiper-slide services-all_slide">
                    <div class="services-all_slide-img">
                        <img src="../assets/images/services/services-second-swiper.webp" alt="">
                    </div>
                    <span>Плазмотерапия</span>
                </a>
                <a class="swiper-slide services-all_slide">
                    <div class="services-all_slide-img">
                        <img src="../assets/images/services/services-second-swiper.webp" alt="">
                    </div>
                    <span>Мезотерапия</span>
                </a>
                <a class="swiper-slide services-all_slide">
                    <div class="services-all_slide-img">
                        <img src="../assets/images/services/services-second-swiper.webp" alt="">
                    </div>
                    <span>Ботулинотерапия</span>
                </a>
                <a class="swiper-slide services-all_slide">
                    <div class="services-all_slide-img">
                        <img src="../assets/images/services/services-second-swiper.webp" alt="">
                    </div>
                    <span>Коллагеновая терапия</span>
                </a>
                <a class="swiper-slide services-all_slide">
                    <div class="services-all_slide-img">
                        <img src="../assets/images/services/services-second-swiper.webp" alt="">
                    </div>
                    <span>Контурная пластика</span>
                </a>
                <a class="swiper-slide services-all_slide">
                    <div class="services-all_slide-img">
                        <img src="../assets/images/services/services-second-swiper.webp" alt="">
                    </div>
                    <span>Биоревитализация</span>
                </a>
                <a class="swiper-slide services-all_slide">
                    <div class="services-all_slide-img">
                        <img src="../assets/images/services/services-second-swiper.webp" alt="">
                    </div>
                    <span>Плазмотерапия</span>
                </a>
                <a class="swiper-slide services-all_slide">
                    <div class="services-all_slide-img">
                        <img src="../assets/images/services/services-second-swiper.webp" alt="">
                    </div>
                    <span>Мезотерапия</span>
                </a>
                <a class="swiper-slide services-all_slide">
                    <div class="services-all_slide-img">
                        <img src="../assets/images/services/services-second-swiper.webp" alt="">
                    </div>
                    <span>Ботулинотерапия</span>
                </a>
                <a class="swiper-slide services-all_slide">
                    <div class="services-all_slide-img">
                        <img src="../assets/images/services/services-second-swiper.webp" alt="">
                    </div>
                    <span>Коллагеновая терапия</span>
                </a>
            </div>

            <div class="services-all_switcher-left">
                <img src="../assets/images/navigation-left.webp" alt="">
            </div>
            <div class="services-all_switcher-right">
                <img src="../assets/images/navigation-right.webp" alt="">
            </div>
        </div>
        <div class="services-all_list close">
            <div class="services-all_item">
                <div class="services-all_item-title h2">УКОЛЫ КРАСОТЫ</div>
                <div class="services-all_item-img">
                    <img src="../assets/images/services/services-block.webp" alt="">
                </div>
                <div class="services-all_item-text show-content">
                    <p class="txt18 show-text hideContent">Сегодня необязательно при появлении признаков старения обращаться к пластическому хирургу. С такими проблемами отлично справятся «уколы красоты». Инъекции специальных препаратов устранят дряблость, морщины, пигментацию. В нашей клинике работают настоящие волшебники, которые вернут вашему лицу молодость и привлекательность!</p>
                    <div class="show-more mobile">Показать полностью</div>
                    <div class="btn btn-blue services-all_open">Подробнее</div>
                </div>
            </div>
            <div class="services-all_list--hidden">
                <div class="services-all_list">
                    <div class="services-all_block">
                        <div class="services-all_block-title">
                            <span class="h2">ЧТО ТАКОЕ «УКОЛЫ КРАСОТЫ»?</span>
                        </div>
                        <div class="services-all_block-left">
                            <p class="txt18">Речь идет об инъекциях. В качестве растворов для уколов используют специально подобранные коктейли. Есть стандартные сыворотки или индивидуально составленные комбинации активных компонентов. С учетом этого выделяют такие виды процедуры:</p>
                            <ul class="txt18">
                                <li>Биоревитализация. Подразумевает использование исключительно гиалуроновой кислоты. Результат: стимуляция процессов обновления, заметное увлажнение дермы.</li>
                                <li>Мезотерапия. В кожу вводятся коктейли на основе гиалуроновой кислоты с добавлением витаминов, аминокислот, микроэлементов. Результат: насыщение кожи питательными компонентами, выравнивание поверхности и тона лица.</li>
                                <li>Плазмотерапия. Для инъекций используют аутоплазму, богатую тромбоцитами. Результат: улучшение состояния кожи, профилактика преждевременного старения.</li>
                                <li>Ботулинотерапия. Применяются препараты с ботулотоксином, уменьшающим мышечную активность. Результат: разглаживание морщин за счет ослабления мимики.</li>
                                <li>Коллагеновая терапия. Используется гель, в основе которого натуральный коллаген. Результат: стимуляция микроциркуляции, выработка собственного коллагена, устранение признаков увядания.</li>
                                <li>Контурная пластика. Основана на использовании гиалуроновой кислоты. Ее исключительные характеристики позволяют моделировать желаемую форму лица.</li>
                            </ul>
                        </div>
                        <div class="services-all_block-right">
                            <p class="services-all_block_text-title h5">Противопоказания</p>
                            <div class="services-all_block_info">
                                <p class="txt16">К сожалению, не всем можно прибегать к инъекционной косметологии. Существует ряд противопоказаний:</p>
                                <ul class="txt16-l">
                                    <li>- диабет;</li>
                                    <li>- лихорадка;</li>
                                    <li>- аутоиммунные болезни;</li>
                                    <li>- злокачественные опухоли;</li>
                                    <li>- дерматологические проблемы;</li>
                                    <li>- склонность к рубцеванию тканей;</li>
                                    <li>- обострения хронических заболеваний.</li>
                                </ul>
                            </div>
                            <div class="services-all_block_info">
                                <p class="txt16">Во время беременности также не делают инъекции. Нужно подождать вплоть до окончания лактации.</p>
                            </div>
                        </div>
                    </div>
                    <div class="services-all_block services-all_block--injections">
                        <div class="services-all_block-title">
                            <span class="h2">ПОРЯДОК ПРОВЕДЕНИЯ ИНЪЕКЦИЙ</span>
                            <span class="txt18">Некоторые пациенты предпочитаются обойтись без обезболивания. В этом случае этап с применением анестезирующего средства пропускают.</span>
                            <span class="txt18">Процедура состоит из нескольких последовательных этапов:</span>
                        </div>
                        <div class="services-all_block--injections_swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="services-all_block--injections_number">1</div>
                                    <span class="txt16">подготовка кожи к уколам;</span>
                                </div>
                                <div class="swiper-slide">
                                    <div class="services-all_block--injections_number">2</div>
                                    <span class="txt16">применение анестезирующего средства;</span>
                                </div>
                                <div class="swiper-slide">
                                    <div class="services-all_block--injections_number">3</div>
                                    <span class="txt16">нанесение специальной пленки, повышающей эффективность процедуры;</span>
                                </div>
                                <div class="swiper-slide">
                                    <div class="services-all_block--injections_number">4</div>
                                    <span class="txt16">нанесение на поверхность кожи антисептика;</span>
                                </div>
                                <div class="swiper-slide">
                                    <div class="services-all_block--injections_number">5</div>
                                    <span class="txt16">непосредственно само введение препаратов в кожу, посредством инъекций;</span>
                                </div>
                                <div class="swiper-slide">
                                    <div class="services-all_block--injections_number">6</div>
                                    <span class="txt16">нанесение ещё одного слоя антисептика.</span>
                                </div>
                            </div>
                        </div>
                        <div class="services-all_block--injections_pagination swiper-pading"></div>
                    </div>
                    <div class="services-all_block">
                        <div class="services-all_block-title">
                            <span class="h2">ОСОБЕННОСТИ ВОССТАНОВИТЕЛЬНОГО ПЕРИОДА</span>
                        </div>
                        <div class="services-all_block-left">
                            <p class="txt18">После инъекций косметолог обязательно расскажет, как правильно себя вести в период восстановления. Общие рекомендации после всех видов уколов, рассчитанные на две недели:</p>
                            <ul class="txt18">
                                <li>отказаться от парилок;</li>
                                <li>исключить принятие солнечных ванн;</li>
                                <li>повременить с употреблением алкоголя;</li>
                                <li>тщательно выбирать средства, наносимые на кожу.</li>
                            </ul>
                        </div>
                        <div class="services-all_block-right">
                            <div class="services-all_block_info">
                                <p class="txt16">Насчет декоративной косметики лучше всего посоветоваться со специалистом. Какую можно использовать, а от которой желательно на время отказаться.</p>
                            </div>
                        </div>
                    </div>
                    <div class="services-all_block">
                        <div class="services-all_block-title">
                            <span class="h2">ВОЗМОЖНЫЕ ОСЛОЖНЕНИЯ ПОСЛЕ УКОЛОВ</span>
                        </div>
                        <div class="services-all_block-left">
                            <p class="txt18">После инъекций на коже остаются микропроколы. В этой области могут наблюдаться:</p>
                            <ul class="txt18">
                                <li>гематомы;</li>
                                <li>уплотнения;</li>
                                <li>небольшая отечность;</li>
                                <li>болезненные ощущения.</li>
                            </ul>
                        </div>
                        <div class="services-all_block-right">
                            <div class="services-all_block_info">
                                <p class="txt16">Все это временно и быстро проходит. Осложнения в виде асимметрии, сильного онемения, абсцессов бывают крайне редко и свидетельствуют о неправильном проведении процедуры. Если обращаться к квалифицированным специалистам, таких последствий не будет.</p>
                            </div>
                        </div>
                    </div>
                    <div class="services-all_block services-all_block--procedure">
                        <div class="services-all_block-title">
                            <span class="h2">ЭФФЕКТ ОТ ИНЪЕКЦИОННЫХ ПРОЦЕДУР</span>
                            <div class="services-all_block_info">
                                <p class="txt16">С учетом процедуры эффект наблюдается спустя несколько часов или же после 10–12 суток.</p>
                            </div>
                            <span class="txt18">Омоложение – главное следствие инъекций красоты. Конечный результат зависит от вида процедуры:</span>
                        </div>
                        <div class="services-all_block--procedure_swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <span class="h4">биоревитализация – эффектное увлажнение, разглаживание морщинок</span>
                                </div>
                                <div class="swiper-slide">
                                    <span class="h4">ботулинотерапия – уменьшение мимических морщин, ввиду расслабления мышц</span>
                                </div>
                                <div class="swiper-slide services-all_block--procedure_left">
                                    <span class="h4">плазмотерапия – устранение дерматологических патологий, выравнивание тона кожи</span>
                                </div>
                                <div class="swiper-slide services-all_block--procedure_left">
                                    <span class="h4">коллагеновая терапия – повышение упругости и эластичности кожи, замедление старения</span>
                                </div>
                                <div class="swiper-slide">
                                    <span class="h4">контурная пластика – придание лицу желаемых форм и объёмов.</span>
                                </div>
                                <div class="swiper-slide">
                                    <span class="h4">мезотерапия – подтягивание обвисшей кожи, лифтинг-эффект</span>
                                </div>
                            </div>
                        </div>
                        <div class="services-all_block--procedure_pagination swiper-pading"></div>
                        <div class="services-all_block_info mobile">
                            <p class="txt16">С учетом процедуры эффект наблюдается спустя несколько часов или же после 10–12 суток.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="services-all_bottom">
            <div class="btn btn-blue services-all_close">Скрыть</div>
            <div class="btn btn-white">На главную</div>
        </div>
    </div>
</section>