<!-- <section class="sign">
  <div class="container">
    <div class="sign_img">
      <img src="../assets/images/sign-bg.webp" alt="" />
    </div>
    <div class="sign_container">
      <div class="sign_top">
        <div class="sign_title h2">Запишитесь на прием</div>
      </div>
      <form class="form" data-popup-message="#popup__success" data-dev action="">

        <div class=" form__dropdown">
            <div class="form__dropdown_top">
              <label for="" class="form_block input-group">
                <span class="form_input-wrapper">
                  <input
                    class="form_input input__field  input-dropdown"
                    type="text"
                    placeholder="Выберите услугу"
                    data-validate
                    data-required="dropdown"
                    autocomplete="off"
                    name="form[]"
                    data-no-focus-classes
                  />

                  <span class="form__input-svg-box">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 25" fill="none">
                      <path
                        d="M6 9.5L12 15.5L18 9.5"
                        stroke="#0E1C15"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </span>
                </span>
                <span class="error-span subscription"></span>
              </label>
            </div>
            <div class="form__dropdown_bottom">
              <div class="form__dropdown_list">
                <label class="form__dropdown_item">
                  <div class="form__dropdown_item_checkbox radio-wrapper">
                    <input type="radio" name="service" />
                  </div>
                  <span class="form__dropdown_item_name">Услуга1</span>
                </label>
                <label class="form__dropdown_item">
                  <div class="form__dropdown_item_checkbox radio-wrapper">
                    <input type="radio" name="service" />
                  </div>
                  <span class="form__dropdown_item_name">Услуга2</span>
                </label>
                <label class="form__dropdown_item">
                  <div class="form__dropdown_item_checkbox radio-wrapper">
                    <input type="radio" name="service" />
                  </div>
                  <span class="form__dropdown_item_name">Услуга3</span>
                </label>
                <label class="form__dropdown_item">
                  <div class="form__dropdown_item_checkbox radio-wrapper">
                    <input type="radio" name="service" />
                  </div>
                  <span class="form__dropdown_item_name">Услуга4</span>
                </label>
                <label class="form__dropdown_item">
                  <div class="form__dropdown_item_checkbox radio-wrapper">
                    <input type="radio" name="service" />
                  </div>
                  <span class="form__dropdown_item_name">Услуга5</span>
                </label>
                <label class="form__dropdown_item">
                  <div class="form__dropdown_item_checkbox radio-wrapper">
                    <input type="radio" name="service" />
                  </div>
                  <span class="form__dropdown_item_name">Услуга6</span>
                </label>
                <label class="form__dropdown_item">
                  <div class="form__dropdown_item_checkbox radio-wrapper">
                    <input type="radio" name="service" />
                  </div>
                  <span class="form__dropdown_item_name">Услуга7</span>
                </label>
              </div>
            </div>
        </div>

        <label class="form_block input-group">
            <span class="form_input-wrapper">
              <input
                class="input--name form_input"
                type="text"
                placeholder="Имя"
                data-validate
                data-required
                autocomplete="off"
                name="form[]"
              />
            </span>
            <span class="error-span">Ошибка</span>
        </label>

        <label class="form_block input-group">
            <span class="form_input-wrapper">
              <input
                class="input--mail form_input"
                type="text"
                placeholder="E-mail"
              
                autocomplete="off"
                name="form[]"
              />
            </span>
            <span class="error-span">Ошибка</span>
        </label>


        <label class="form_block input-group">
            <span class="form_input-wrapper">
              <input
                class="input--tel form_input phone-mask"
                type="text"
                placeholder="Номер телефона"
                data-validate
                data-required="tel"
                autocomplete="off"
                name="form[]"
              />
            </span>
            <span class="error-span">Ошибка</span>
        </label>


        <label class="form_block input-group">
            <span class="form_input-wrapper">
              <input
                class="form_input"
                type="text"
                placeholder="Ваш комментарий"
                autocomplete="off"
                name="form[]"
              />
            </span>
            <span class="error-span"></span>
        </label>
        

        <div class="form_bottom">
          <div class="form_bottom-text">Отправляя заявку, Вы соглашаетесь на обработку своих данных</div>
          <button  type="submit" class="btn btn-blue">Отправить заявку</button>
        </div>
      </form>
    </div>
  </div>
</section> -->




<section class="sign">
  <div class="container">
    <div class="sign_img">
      <img src="../assets/images/sign-bg-new.webp" alt="" />
    </div>
    <div class="sign_container">
      <div class="sign_top">
        <div class="sign_title h2">Запишитесь <br> на прием</div>
        <div class="sign_subtitle txt18">Наши специалисты помогут подобрать услугу</div>
      </div>
      <button  data-popup="#popup__feedback" class="btn btn-blue">Отправить заявку</button>
    </div>
  </div>
</section>
