<!-- <section class="sign">
  <div class="container">
    <div class="sign_img">
      <img src="../assets/images/sign-product-bg.webp" alt="" />
    </div>
    <div class="sign_container">
      <div class="sign_top">
        <div class="sign_title h2">заявка на приобретение косметики</div>
        <div class="sign_subtitle txt20">Всю косметику Вы может приобрести у нас в клинике.</div>
      </div>


      <form class="form" data-popup-message="#popup__success" data-dev action="">
        <label class="form_block input-group">
          <span class="form_input-wrapper">
            <input
              class="input--name form_input"
              type="text"
              placeholder="Имя"
              data-validate
              data-required
              autocomplete="off"
              name="form[]"
            />
          </span>
          <span class="error-span">Ошибка</span>
        </label>

        <div class="form_block">
          <label class="form_block input-group">
            <span class="form_input-wrapper">
              <input
                class="input--mail form_input"
                type="text"
                placeholder="E-mail"
                autocomplete="off"
                name="form[]"
              />
            </span>
            <span class="error-span">Ошибка</span>
          </label>

          <label class="form_block input-group">
            <span class="form_input-wrapper">
              <input
                class="input--tel form_input phone-mask"
                type="text"
                placeholder="Номер телефона"
                data-validate
                data-required="tel"
                autocomplete="off"
                name="form[]"
              />
            </span>
            <span class="error-span">Ошибка</span>
          </label>
        </div>

        <label class="form_block input-group">
          <span class="form_input-wrapper">
            <input
              class="form_input"
              type="text"
              placeholder="Ваш комментарий"
              autocomplete="off"
              name="form[]"
            />
          </span>
          <span class="error-span"></span>
        </label>

        <div class="form_bottom">
          <div class="form_bottom-text">Отправляя заявку, Вы соглашаетесь на обработку своих данных</div>
          <button type="submit" class="btn btn-blue">Отправить заявку</button>
        </div>
      </form>
    </div>
  </div>
  <a class="btn btn-white">На главную</a>
</section> -->


<section class="sign">
  <div class="container">
    <div class="sign_img">
      <img src="../assets/images/sign-product-bg-new.webp" alt="" />
    </div>
    <div class="sign_container">
      <div class="sign_top">
        <div class="sign_title h2">Приобрести косметику</div>
        <div class="sign_subtitle txt18">Всю косметику Вы можете <br> приобрести у нас в клинике.</div>
      </div>
      <a href="#"  data-popup="#popup__feedback" class="btn btn-blue">К покупкам</a>
    </div>
  </div>
</section>
