<section class="specialist-list">
    <div class="container">
        <div class="specialist-list_grid">
            <a class="specialist-list_item">
                <div class="specialist-list_item-img">
                    <img src="../assets/images/specialist.webp" alt="">
                </div>
                <div class="specialist-list_item-name h3">Нахаева Екатерина Игоревна</div>
                <div class="specialist-list_item-job h5">Врач-косметолог</div>
            </a>
            <a class="specialist-list_item">
                <div class="specialist-list_item-img">
                    <img src="../assets/images/specialist.webp" alt="">
                </div>
                <div class="specialist-list_item-name h3">Нахаева Екатерина Игоревна</div>
                <div class="specialist-list_item-job h5">Врач-косметолог</div>
            </a>
            <a class="specialist-list_item">
                <div class="specialist-list_item-img">
                    <img src="../assets/images/specialist.webp" alt="">
                </div>
                <div class="specialist-list_item-name h3">Нахаева Екатерина Игоревна</div>
                <div class="specialist-list_item-job h5">Врач-косметолог</div>
            </a>
            <a class="specialist-list_item">
                <div class="specialist-list_item-img">
                    <img src="../assets/images/specialist.webp" alt="">
                </div>
                <div class="specialist-list_item-name h3">Нахаева Екатерина Игоревна</div>
                <div class="specialist-list_item-job h5">Врач-косметолог</div>
            </a>
            <a class="specialist-list_item">
                <div class="specialist-list_item-img">
                    <img src="../assets/images/specialist.webp" alt="">
                </div>
                <div class="specialist-list_item-name h3">Нахаева Екатерина Игоревна</div>
                <div class="specialist-list_item-job h5">Врач-косметолог</div>
            </a>
            <a class="specialist-list_item">
                <div class="specialist-list_item-img">
                    <img src="../assets/images/specialist.webp" alt="">
                </div>
                <div class="specialist-list_item-name h3">Нахаева Екатерина Игоревна</div>
                <div class="specialist-list_item-job h5">Врач-косметолог</div>
            </a>
        </div>
        <div class="btn btn-white">Показать ещё</div>
    </div>
</section>