@font-face {
  font-family: 'AkzidenzGroteskPro';
  src: url('./assets/fonts/AkzidenzGroteskPro-Regular.woff2') format('woff2'),
    url('./assets/fonts/AkzidenzGroteskPro-Regular.woff') format('woff'),
    url('./assets/fonts/AkzidenzGroteskPro-Regular.eot') format('eot');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'AustinCyr';
  src: url('./assets/fonts/AustinCyr-Bold.woff2') format('woff2'),
    url('./assets/fonts/AustinCyr-Bold.woff') format('woff'),
    url('./assets/fonts/AustinCyr-Bold.eot') format('eot');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'AustinCyr';
  src: url('./assets/fonts/AustinCyr-Medium.woff2') format('woff2'),
    url('./assets/fonts/AustinCyr-Medium.woff') format('woff'),
    url('./assets/fonts/AustinCyr-Medium.eot') format('eot');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'AustinCyr';
  src: url('./assets/fonts/AustinCyr-Semibold.woff2') format('woff2'),
    url('./assets/fonts/AustinCyr-Semibold.woff') format('woff'),
    url('./assets/fonts/AustinCyr-Semibold.eot') format('eot');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Circe';
  src: url('./assets/fonts/Circe-Regular.woff2') format('woff2'),
    url('./assets/fonts/Circe-Regular.woff') format('woff'),
    url('./assets/fonts/Circe-Regular.eot') format('eot');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Circe';
  src: url('./assets/fonts/Circe-Light.woff2') format('woff2'),
    url('./assets/fonts/Circe-Light.woff') format('woff'),
    url('./assets/fonts/Circe-Light.eot') format('eot');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Circe';
  src: url('./assets/fonts/Circe-Bold.woff2') format('woff2'),
    url('./assets/fonts/Circe-Bold.woff') format('woff'),
    url('./assets/fonts/Circe-Bold.eot') format('eot');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('./assets/fonts/Gilroy-Bold.woff2') format('woff2'),
    url('./assets/fonts/Gilroy-Bold.woff') format('woff'),
    url('./assets/fonts/Gilroy-Bold.eot') format('eot');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('./assets/fonts/Gilroy-Medium.woff2') format('woff2'),
    url('./assets/fonts/Gilroy-Medium.woff') format('woff'),
    url('./assets/fonts/Gilroy-Medium.eot') format('eot');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('./assets/fonts/Gilroy-Regular.woff2') format('woff2'),
    url('./assets/fonts/Gilroy-Regular.woff') format('woff'),
    url('./assets/fonts/Gilroy-Regular.eot') format('eot');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('./assets/fonts/Gilroy-SemiBold.woff2') format('woff2'),
    url('./assets/fonts/Gilroy-SemiBold.woff') format('woff'),
    url('./assets/fonts/Gilroy-SemiBold.eot') format('eot');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'NeueMetana';
  src: url('./assets/fonts/NeueMetana-Bold.woff2') format('woff2'),
    url('./assets/fonts/NeueMetana-Bold.woff') format('woff'),
    url('./assets/fonts/NeueMetana-Bold.eot') format('eot');
  font-weight: 700;
  font-style: normal;
}
