<section class="about-banner">
  <div class="container">
    <div class="about-banner__inner">
      <div class="about-banner__img-box">
        <img src="./assets/images/about-banner-img.webp" alt="" />
      </div>
      <div class="about-banner__info-box">
        <div class="about-banner__title-wrapper">
          <div class="about-banner__title-box">
            <p class="about-banner__title tl1">Eco Fitness</p>
          </div>
  
            <p class="about-banner__info-text desktop txt18">
              Мы устраняем проблемы опорно-двигательным аппаратом без хирургического вмешательства
            </p>
    
        </div>

        <div class="about-banner__link-wrapper">
          <div class="about-banner__link-img-wrapper">
            <div class="about-banner__link-img-box">
              <img src="./assets/images/main-banner-circle.webp" alt="" />
            </div>
            <div class="about-banner__link-img-border-box">
              <img src="./assets/images/main-banner-img-border.svg" alt="" />
            </div>
          </div>

          <div class="about-banner__link-info-box">
            <p class="about-banner__link-billet">Как мы работам</p>
            <p class="about-banner__link-text txt20">
                Методики которые мы используем в своих тренировках
            </p>
            <a href="#" class="about-banner__link link-white">Узнать больше</a>
          </div>
        </div>

            <p class="about-banner__info-text mobile txt18">
              Мы устраняем проблемы опорно-двигательным аппаратом без хирургического вмешательства
            </p>
 
      </div>
    </div>
  </div>
</section>
