<section class="answers">
    <div class="container">
        <div class="answers__left">
            <div class="answers__title tl2">Ответы на вопросы</div>
            <div class="answers__img">
                <img src="../assets/images/answers-img.webp" alt="">
            </div>
        </div>
        <div class="answers__list">
            <div class="answers__item">
                <div class="answers__item-head">
                    <div class="answers__item-head--title tl4">Как происходит оценка ОДА и что для этого нужно?</div>
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.3136 4.68637L17.3136 3.68637L15.3136 3.68637L15.3136 4.68637L17.3136 4.68637ZM15.3136 25.8996C15.3136 26.4519 15.7614 26.8996 16.3136 26.8996C16.8659 26.8996 17.3136 26.4519 17.3136 25.8996L15.3136 25.8996ZM15.3136 4.68637L15.3136 25.8996L17.3136 25.8996L17.3136 4.68637L15.3136 4.68637Z" fill="#393C43" />
                        <path d="M25.5059 18.1211L16.3135 27.3135L7.12109 18.1211" stroke="#393C43" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </div>
                <div class="answers__item-bottom txt18">
                    Для оценки ОДА онлайн, вам нужен только смартфон/компьютер, интернет и несколько свободных квадратных метров, чтобы можно было сделать несколько шагов вперёд/назад, справа налево и обратно. <br>
                    Для оценки максимально приталенная одежда, чтобы лучше оценить опорно-двигательный аппарат, в частности осанку и движение всех сегментов тела. Для оценки ОДА офлайн вам ничего не нужно, кроме приталенной одежды. Диагностика длится около 15 минут, в течение которых делаются фото/видео вашей постуры, походки и, при возможности, бега, после чего происходит подробный анализ всех индивидуальных особенностей и даются рекомендации по их коррекции.
                </div>
            </div>
            <div class="answers__item">
                <div class="answers__item-head">
                    <div class="answers__item-head--title tl4">Как происходит оценка ОДА и что для этого нужно?</div>
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.3136 4.68637L17.3136 3.68637L15.3136 3.68637L15.3136 4.68637L17.3136 4.68637ZM15.3136 25.8996C15.3136 26.4519 15.7614 26.8996 16.3136 26.8996C16.8659 26.8996 17.3136 26.4519 17.3136 25.8996L15.3136 25.8996ZM15.3136 4.68637L15.3136 25.8996L17.3136 25.8996L17.3136 4.68637L15.3136 4.68637Z" fill="#393C43" />
                        <path d="M25.5059 18.1211L16.3135 27.3135L7.12109 18.1211" stroke="#393C43" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </div>
                <div class="answers__item-bottom txt18">
                    Для оценки ОДА онлайн, вам нужен только смартфон/компьютер, интернет и несколько свободных квадратных метров, чтобы можно было сделать несколько шагов вперёд/назад, справа налево и обратно. <br>
                    Для оценки максимально приталенная одежда, чтобы лучше оценить опорно-двигательный аппарат, в частности осанку и движение всех сегментов тела. Для оценки ОДА офлайн вам ничего не нужно, кроме приталенной одежды. Диагностика длится около 15 минут, в течение которых делаются фото/видео вашей постуры, походки и, при возможности, бега, после чего происходит подробный анализ всех индивидуальных особенностей и даются рекомендации по их коррекции.
                </div>
            </div>
            <div class="answers__item">
                <div class="answers__item-head">
                    <div class="answers__item-head--title tl4">Как происходит оценка ОДА и что для этого нужно?</div>
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.3136 4.68637L17.3136 3.68637L15.3136 3.68637L15.3136 4.68637L17.3136 4.68637ZM15.3136 25.8996C15.3136 26.4519 15.7614 26.8996 16.3136 26.8996C16.8659 26.8996 17.3136 26.4519 17.3136 25.8996L15.3136 25.8996ZM15.3136 4.68637L15.3136 25.8996L17.3136 25.8996L17.3136 4.68637L15.3136 4.68637Z" fill="#393C43" />
                        <path d="M25.5059 18.1211L16.3135 27.3135L7.12109 18.1211" stroke="#393C43" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </div>
                <div class="answers__item-bottom txt18">
                    Для оценки ОДА онлайн, вам нужен только смартфон/компьютер, интернет и несколько свободных квадратных метров, чтобы можно было сделать несколько шагов вперёд/назад, справа налево и обратно. <br>
                    Для оценки максимально приталенная одежда, чтобы лучше оценить опорно-двигательный аппарат, в частности осанку и движение всех сегментов тела. Для оценки ОДА офлайн вам ничего не нужно, кроме приталенной одежды. Диагностика длится около 15 минут, в течение которых делаются фото/видео вашей постуры, походки и, при возможности, бега, после чего происходит подробный анализ всех индивидуальных особенностей и даются рекомендации по их коррекции.
                </div>
            </div>
            <div class="answers__item">
                <div class="answers__item-head">
                    <div class="answers__item-head--title tl4">Как происходит оценка ОДА и что для этого нужно?</div>
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.3136 4.68637L17.3136 3.68637L15.3136 3.68637L15.3136 4.68637L17.3136 4.68637ZM15.3136 25.8996C15.3136 26.4519 15.7614 26.8996 16.3136 26.8996C16.8659 26.8996 17.3136 26.4519 17.3136 25.8996L15.3136 25.8996ZM15.3136 4.68637L15.3136 25.8996L17.3136 25.8996L17.3136 4.68637L15.3136 4.68637Z" fill="#393C43" />
                        <path d="M25.5059 18.1211L16.3135 27.3135L7.12109 18.1211" stroke="#393C43" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </div>
                <div class="answers__item-bottom txt18">
                    Для оценки ОДА онлайн, вам нужен только смартфон/компьютер, интернет и несколько свободных квадратных метров, чтобы можно было сделать несколько шагов вперёд/назад, справа налево и обратно. <br>
                    Для оценки максимально приталенная одежда, чтобы лучше оценить опорно-двигательный аппарат, в частности осанку и движение всех сегментов тела. Для оценки ОДА офлайн вам ничего не нужно, кроме приталенной одежды. Диагностика длится около 15 минут, в течение которых делаются фото/видео вашей постуры, походки и, при возможности, бега, после чего происходит подробный анализ всех индивидуальных особенностей и даются рекомендации по их коррекции.
                </div>
            </div>
        </div>
    </div>
</section>