<section class="application-contacts">
  <div class="container">
    <div class="application-contacts__inner">
      <div class="application-contacts__form-wrapper">
        <form data-popup-message="" data-dev action="" class="application-contacts__form">
          <p class="application-contacts__form-title tl3">
            <span> Заполните форму</span>
          </p>
          <div class="application-contacts__form-input-wrapper">
            <div class="application-contacts__form-input-box txt18">
              <label class="application-contacts__label input-group">
                <span class="form__input-wrapper">
                  <input
                    class="input--name application-contacts__form-input"
                    type="text"
                    data-validate
                    data-required="name"
                    autocomplete="off"
                    name="form[]"
                    placeholder="Ф.И.О."
                  />
                </span>
                <span class="error-span">Поле заполнено неверно</span>
              </label>
              <label class="application-contacts__label input-group">
                <span class="form__input-wrapper">
                  <input
                    class="input--mail application-contacts__form-input"
                    type="email"
                    data-validate
                    data-required="name"
                    autocomplete="off"
                    name="form[]"
                    placeholder="Почта"
                  />
                </span>
                <span class="error-span">Поле заполнено неверно</span>
              </label>
              <label class="application-contacts__label input-group">
                <span class="form__input-wrapper">
                  <input
                    class="application-contacts__form-input phone-mask"
                    type="text"
                    autocomplete="off"
                    name="form[]"
                    placeholder="Телефон"
                  />
                </span>
                <span class="error-span"></span>
              </label>

              <label class="application-contacts__label application-contacts__label--textarea input-group">
                <span class="form__input-wrapper">
                  <textarea
                    class="input--textarea"
                    placeholder="Ваше сообщение"
                    autocomplete="off"
                    name="form[]"
                  ></textarea>
                  <span class="error-span"></span>
                </span>
              </label>
            </div>
            <div class="application-contacts__btn-box">
              <p class="application-contacts__agreement-text txt16">
                Нажимая на кнопку “Отправить”, Вы соглашаетесь на
                <a href="#">обработку персональных данных</a> и
                <a href="#">политику конфиденциальности</a>
              </p>
              <button type="submit" class="application-contacts__link link-list">
                <p class="application-contacts__link-text link-list__text txt18">Отправить</p>
                <div class="application-contacts__link-svg-wrapper link-list__svg-wrapper">
                  <div class="application-contacts__link-svg-box link-list__svg-box">
                    <svg
                      width="15"
                      height="15"
                      viewBox="0 0 15 15"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M13.19 2.28989C13.6405 5.62957 11.7312 8.96832 8.40479 10.2225L1.80896 12.7101C1.35847 9.37043 3.26779 6.03169 6.5942 4.77755L13.19 2.28989ZM14.3847 0L5.97263 3.17284C1.18165 4.98 -1.21709 10.2749 0.615291 15L9.02729 11.8272C13.8183 10.02 16.2171 4.72505 14.3847 0Z"
                        fill="#6AA448"
                      />
                    </svg>
                  </div>
                </div>
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="application-contacts__content-box">
        <div class="application-contacts__logo-bg-box">
          <img src="./assets/images/application-contacts-bg.webp" alt="" class="desktop" />
          <img src="./assets/images/application-contacts-bg-mob.webp" alt="" class="mobile" />
        </div>
        <div class="application-contacts__text-wrapper">
          <div class="application-contacts__text-title-box">
            <p class="application-contacts__text-title tl2">У вас есть вопросы?</p>

            <p class="application-contacts__text txt20">
              Напишите нам! И Наш менеджер свяжется с вами в ближайшее время
            </p>
          </div>
          <p class="application-contacts__text desktop tl4">Ждём Вас на наших тренировках!</p>
        </div>
        <div class="application-contacts__logo-block">
          <div class="application-contacts__logo-wrapper">
            <div class="application-contacts__logo-box">
              <img src="./assets/images/logo.svg" alt="" />
            </div>
          </div>
          <div class="application-contacts__counter-box">
            <div class="application-contacts__counter-img-wrapper">
              <div class="application-contacts__counter-img-box">
                <img src="./assets/images/application-1.webp" alt="" />
              </div>
              <div class="application-contacts__counter-img-box">
                <img src="./assets/images/application-2.webp" alt="" />
              </div>
              <div class="application-contacts__counter-img-box application-contacts__counter-img-box--text">
                <p class="application-contacts__counter-text">100+</p>
              </div>
            </div>
            <p class="application-contacts__counter-load-text tl4">скачиваний</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
