<section class="ODA-sign">
    <div class="container">
        <div class="container__inner">
            <div class="ODA-sign__top">
                <div class="ODA-sign__top-title tl2">Записаться на оценку ОДА</div>
                <div class="ODA-sign__top-subtitle txt18">Чтобы избежать негативных последствий, рекомендуется проводить оценку ОДА раз год</div>
            </div>
            <div class="ODA-sign__swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide ODA-sign__slide">
                        <div class="ODA-sign__slide-top">
                            <div class="ODA-sign__slide-img">
                                <img src="../assets/images/oda/ODA-sign.webp" alt="">
                            </div>
                            <div class="ODA-sign__slide-title tl3">Оценка ОДА Online</div>
                            <div class="ODA-sign__slide-subtitle tl4">Из любой точки мира</div>
                        </div>
                        <div class="ODA-sign__slide-bottom">
                            <div class="ODA-sign__slide-number tl3">3 000 ₽</div>
                            <!-- <a class="btn btn-icon">
                                <p class="txt18">Купить</p>
                                <svg width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="23" cy="23" r="23" fill="white" />
                                    <path d="M29.19 18.2899C29.6405 21.6296 27.7312 24.9683 24.4048 26.2225L17.809 28.7101C17.3585 25.3704 19.2678 22.0317 22.5942 20.7775L29.19 18.2899ZM30.3847 16L21.9726 19.1728C17.1816 20.98 14.7829 26.2749 16.6153 31L25.0273 27.8272C29.8183 26.02 32.2171 20.7251 30.3847 16Z" fill="#6AA448" />
                                </svg>
                            </a> -->
                            <a href="#" class="ODA-sign__link link-list">
                                <p class="ODA-sign__link-text link-list__text txt18">Купить</p>
                                <div class="ODA-sign__link-svg-wrapper link-list__svg-wrapper">
                                  <div class="ODA-sign__link-svg-box link-list__svg-box">
                                    <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path
                                        d="M13.19 2.28989C13.6405 5.62957 11.7312 8.96832 8.40479 10.2225L1.80896 12.7101C1.35847 9.37043 3.26779 6.03169 6.5942 4.77755L13.19 2.28989ZM14.3847 0L5.97263 3.17284C1.18165 4.98 -1.21709 10.2749 0.615291 15L9.02729 11.8272C13.8183 10.02 16.2171 4.72505 14.3847 0Z"
                                        fill="#6AA448"
                                      />
                                    </svg>
                                  </div>
                                </div>
                              </a>
                        </div>
                    </div>
                    <div class="swiper-slide ODA-sign__slide">
                        <div class="ODA-sign__slide-top">
                            <div class="ODA-sign__slide-img">
                                <img src="../assets/images/oda/ODA-sign.webp" alt="">
                            </div>
                            <div class="ODA-sign__slide-title tl3">Оценка ОДА Online</div>
                            <div class="ODA-sign__slide-subtitle tl4">В студии Eco Fitness</div>
                        </div>
                        <div class="ODA-sign__slide-bottom">
                            <div class="ODA-sign__slide-number tl3">3 000 ₽</div>
                            <!-- <a class="btn btn-icon">
                                <p class="txt18">Купить</p>
                                <svg width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="23" cy="23" r="23" fill="white" />
                                    <path d="M29.19 18.2899C29.6405 21.6296 27.7312 24.9683 24.4048 26.2225L17.809 28.7101C17.3585 25.3704 19.2678 22.0317 22.5942 20.7775L29.19 18.2899ZM30.3847 16L21.9726 19.1728C17.1816 20.98 14.7829 26.2749 16.6153 31L25.0273 27.8272C29.8183 26.02 32.2171 20.7251 30.3847 16Z" fill="#6AA448" />
                                </svg>
                            </a> -->
                            <a href="#" class="ODA-sign__link link-list">
                                <p class="ODA-sign__link-text link-list__text txt18">Записаться</p>
                                <div class="ODA-sign__link-svg-wrapper link-list__svg-wrapper">
                                  <div class="ODA-sign__link-svg-box link-list__svg-box">
                                    <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path
                                        d="M13.19 2.28989C13.6405 5.62957 11.7312 8.96832 8.40479 10.2225L1.80896 12.7101C1.35847 9.37043 3.26779 6.03169 6.5942 4.77755L13.19 2.28989ZM14.3847 0L5.97263 3.17284C1.18165 4.98 -1.21709 10.2749 0.615291 15L9.02729 11.8272C13.8183 10.02 16.2171 4.72505 14.3847 0Z"
                                        fill="#6AA448"
                                      />
                                    </svg>
                                  </div>
                                </div>
                              </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ODA-sign__swiper-nav">
                <div class="ODA-sign__swiper-nav--prev">
                    <svg width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.5705 8.07102L16.5705 8.07102L16.5705 6.07102L15.5705 6.07102L15.5705 8.07102ZM2.31228 6.07102C1.76 6.07102 1.31228 6.51874 1.31228 7.07102C1.31228 7.62331 1.76 8.07102 2.31228 8.07102L2.31228 6.07102ZM15.5705 6.07102H2.31228L2.31228 8.07102H15.5705L15.5705 6.07102Z" fill="#393C43" />
                        <path d="M7.17578 12.8162L1.43054 7.07093L7.17578 1.32568" stroke="#393C43" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </div>
                <div class="ODA-sign__swiper-nav--next">
                    <svg width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.42947 6.92898L0.429467 6.92898L0.429467 8.92898L1.42947 8.92898L1.42947 6.92898ZM14.6877 8.92898C15.24 8.92898 15.6877 8.48126 15.6877 7.92898C15.6877 7.37669 15.24 6.92898 14.6877 6.92898L14.6877 8.92898ZM1.42947 8.92898L14.6877 8.92898L14.6877 6.92898L1.42947 6.92898L1.42947 8.92898Z" fill="#393C43" />
                        <path d="M9.82422 2.18383L15.5695 7.92907L9.82422 13.6743" stroke="#393C43" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </div>
            </div>
        </div>
    </div>
</section>