<section class="ODA-online">
    <div class="container">
        <div class="container__inner ODA-online__inner">
            <div class="ODA-online__left">
                <div class="ODA-online__left-block txt20">Вам понадобится смартфон, 10 минут свободного времени, спортивная одежда</div>
                <div class="ODA-online__left-img">
                    <img src="../assets/images/oda/oda-online.webp" alt="">
                </div>
            </div>
            <div class="ODA-online__right">
                <div class="ODA-online__title tl2">Как происходит оценка ОДА <br class="desktop"> в онлайн-формате</div>
                <div class="ODA-online__text txt18 desktop">Вам нужно сделать 4 фотографии и заснять свою походку дома. При оценке ОДА онлайн важно, чтобы вы в кадре были полностью: от макушки до головы. <br><br>
                    После того, как мы получили от вас материалы, мы оцениваем состояние ОДА. Даём подробную связь по каждому отделу опорно-двигательного аппарата. Вы узнаете, что именно в вашем теле нуждается в коррекции и получите практические рекомендации.
                </div>
                <div class="ODA-online__text txt18 mobile">Вам нужно сделать 4 фотографии и заснять свою походку дома. После того, как мы получили от вас материалы, мы оцениваем состояние ОДА. Даём подробную связь по каждому отделу опорно-двигательного аппарата. Вы узнаете, что именно в вашем теле нуждается в коррекции и получите практические рекомендации.</div>
            </div>
        </div>
    </div>
</section>