<section class="authors-course">
  <div class="container">
    <div class="authors-course__inner">
      <div class="authors-course__content-box">
        <div class="authors-course__title-box">
          <p class="authors-course__title tl2">Авторский онлайн-курс «Улучшая эластичность»</p>
          <p class="authors-course__text tl4">
            10 видеоуроков, которые помогут улучшить осанку и привести тело в тонус.
          </p>
        </div>
        <div class="authors-course__list-box">
          <a href="#" type="submit" class="authors-course__link link-list">
            <p class="authors-course__link-text link-list__text txt18">Больше о курсе</p>
            <div class="authors-course__link-svg-wrapper link-list__svg-wrapper">
              <div class="authors-course__link-svg-box link-list__svg-box">
                <svg
                  width="15"
                  height="15"
                  viewBox="0 0 15 15"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M13.19 2.28989C13.6405 5.62957 11.7312 8.96832 8.40479 10.2225L1.80896 12.7101C1.35847 9.37043 3.26779 6.03169 6.5942 4.77755L13.19 2.28989ZM14.3847 0L5.97263 3.17284C1.18165 4.98 -1.21709 10.2749 0.615291 15L9.02729 11.8272C13.8183 10.02 16.2171 4.72505 14.3847 0Z"
                    fill="#6AA448"
                  />
                </svg>
              </div>
            </div>
          </a>

          <div class="authors-course__list-wrapper">
            <p class="authors-course__list-title tl4">Курс поможет:</p>
            <ul class="authors-course__list">
              <li class="authors-course__item txt20">улучшить состояние кожи и тела</li>
              <li class="authors-course__item txt20">двигаться уверенно и без скованности</li>
              <li class="authors-course__item txt20">адаптироваться к любой нагрузке</li>
              <li class="authors-course__item txt20">развить нейромышечные связи</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="authors-course__img-box">
        <video autoplay muted playsinline loop src="./assets/images/mainpage-hero-vid.mp4"></video>
        <!-- <img src="./assets/images/authors-course-bg.webp" alt="" class="desktop" />
        <img src="./assets/images/authors-course-bg-mob.webp" alt="" class="mobile" /> -->
      </div>
    </div>
  </div>
</section>
