<section class="banner-oda">
  <div class="container">
    <div class="banner-oda__inner">
      <div class="banner-oda__info-box">
        <div class="banner-oda__title-wrapper">
          <div class="banner-oda__title-box">
            <p class="banner-oda__title tl1">Оценка ОДА</p>
          </div>
          <div class="banner-oda__info-text-wrapper">
            <p class="banner-oda__info-text-title tl4">Что это такое?</p>
            <div class="banner-oda__info-text-box txt18">
              <p class="banner-oda__info-text">
                Оценка опорно-двигательного аппарата – это визуальная диагностика осанки, походки (по
                возможности, бега), определение асимметрий, дисфункций, компенсаций, слабых и перегруженных
                мест в теле.
              </p>
              <p class="banner-oda__info-text">
                С оценки ОДА мы начинаем эффективный тренировочный процесс.
              </p>
            </div>
          </div>
        </div>

        <div class="banner-oda__link-wrapper">
          <div class="banner-oda__link-img-wrapper">
            <div class="banner-oda__link-img-box">
              <img src="./assets/images/banner-oda-circle.webp" alt="" />
            </div>
            <div class="banner-oda__link-img-border-box">
              <img src="./assets/images/banner-oda-img-border.svg" alt="" />
            </div>
          </div>

          <div class="banner-oda__link-info-box">
            <p class="banner-oda__link-text txt20">
              В нашей студии есть возможность получить оценку в онлайн- и оффлайн-формате.
            </p>
            <div class="banner-oda__link-box">
              <button data-popup="#popup__contact-manager" class="banner-oda__link link-white">Связаться с менеджером</button>
              <div class="banner-oda__link-btn-box">
                <a href="#" class="banner-oda__link-btn">
                  <div class="banner-oda__link-btn-svg-box">
                    <img src="./assets/images/icons/viber.svg" alt="" />
                   
                  </div>
                </a>
                <a href="#" class="banner-oda__link-btn">
                  <div class="banner-oda__link-btn-svg-box">
                    <img src="./assets/images/icons/watsapp.svg" alt="" />
     
                  </div>
                </a>
                <a href="#" class="banner-oda__link-btn">
                  <div class="banner-oda__link-btn-svg-box">
                    <img src="./assets/images/icons/telegram.svg" alt="" />
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="banner-oda__img-box">
        <img src="./assets/images/banner-oda-img.webp" alt="" />
      </div>
    </div>
  </div>
</section>
