<section class="coaches">
  <div class="container">
    <div class="coaches__inner">
      <p class="coaches__title tl1">Тренеры студии</p>
      <div class="coaches__swiper-box">
        <div class="coaches__swiper swiper">
          <div class="coaches__swiper-wrapper swiper-wrapper">
            <div class="coaches__swiper-slide swiper-slide">
              <div class="coaches__swiper-slide-inner">
                <div class="coaches__swiper-content-box">
                  <div class="coaches__swiper-text-box">
                    <p class="coaches__swiper-title tl3">Юлия Пашкова</p>

                    <p class="coaches__swiper-desc txt18">
                      Сертифицированный специалист по коррекции сколиоза (SEAS). Специалист по коррекции
                      опорно-двигательного аппарата с акцентом на улучшение эстетики.
                    </p>
                  </div>
                  <button data-popup="#popup__specialists" class="coaches__swiper-link link-white">
                    Узнать больше
                  </button>
                </div>
                <div class="coaches__swiper-photo-wrapper">
                  <div class="coaches__swiper-photo-box">
                    <img src="./assets/images/specialists-photo.webp" alt="" />
                  </div>
                </div>
              </div>
            </div>
            <div class="coaches__swiper-slide swiper-slide">
              <div class="coaches__swiper-slide-inner">
                <div class="coaches__swiper-content-box">
                  <div class="coaches__swiper-text-box">
                    <p class="coaches__swiper-title tl3">Шамиль Шарипов</p>

                    <p class="coaches__swiper-desc txt18">
                      Сертифицированный специалист по коррекции сколиоза (SEAS)

                      <br />
                      Специалист по коррекции опорно-двигательного аппарата, в том числе, у спортсменов.
                    </p>
                  </div>
                  <button data-popup="#popup__specialists" class="coaches__swiper-link link-white">
                    Узнать больше
                  </button>
                </div>
                <div class="coaches__swiper-photo-wrapper">
                  <div class="coaches__swiper-photo-box">
                    <img src="./assets/images/specialists-photo.webp" alt="" />
                  </div>
                </div>
              </div>
            </div>
            <div class="coaches__swiper-slide swiper-slide">
              <div class="coaches__swiper-slide-inner">
                <div class="coaches__swiper-content-box">
                  <div class="coaches__swiper-text-box">
                    <p class="coaches__swiper-title tl3">Юлия Пашкова</p>

                    <p class="coaches__swiper-desc txt18">
                      Сертифицированный специалист по коррекции сколиоза (SEAS). Специалист по коррекции
                      опорно-двигательного аппарата с акцентом на улучшение эстетики.
                    </p>
                  </div>
                  <button data-popup="#popup__specialists" class="coaches__swiper-link link-white">
                    Узнать больше
                  </button>
                </div>
                <div class="coaches__swiper-photo-wrapper">
                  <div class="coaches__swiper-photo-box">
                    <img src="./assets/images/specialists-photo.webp" alt="" />
                  </div>
                </div>
              </div>
            </div>
            <div class="coaches__swiper-slide swiper-slide">
              <div class="coaches__swiper-slide-inner">
                <div class="coaches__swiper-content-box">
                  <div class="coaches__swiper-text-box">
                    <p class="coaches__swiper-title tl3">Шамиль Шарипов</p>

                    <p class="coaches__swiper-desc txt18">
                      Сертифицированный специалист по коррекции сколиоза (SEAS)

                      <br />
                      Специалист по коррекции опорно-двигательного аппарата, в том числе, у спортсменов.
                    </p>
                  </div>
                  <button data-popup="#popup__specialists" class="coaches__swiper-link link-white">
                    Узнать больше
                  </button>
                </div>
                <div class="coaches__swiper-photo-wrapper">
                  <div class="coaches__swiper-photo-box">
                    <img src="./assets/images/specialists-photo.webp" alt="" />
                  </div>
                </div>
              </div>
            </div>
            <div class="coaches__swiper-slide swiper-slide">
              <div class="coaches__swiper-slide-inner">
                <div class="coaches__swiper-content-box">
                  <div class="coaches__swiper-text-box">
                    <p class="coaches__swiper-title tl3">Юлия Пашкова</p>

                    <p class="coaches__swiper-desc txt18">
                      Сертифицированный специалист по коррекции сколиоза (SEAS). Специалист по коррекции
                      опорно-двигательного аппарата с акцентом на улучшение эстетики.
                    </p>
                  </div>
                  <button data-popup="#popup__specialists" class="coaches__swiper-link link-white">
                    Узнать больше
                  </button>
                </div>
                <div class="coaches__swiper-photo-wrapper">
                  <div class="coaches__swiper-photo-box">
                    <img src="./assets/images/specialists-photo.webp" alt="" />
                  </div>
                </div>
              </div>
            </div>
            <div class="coaches__swiper-slide swiper-slide">
              <div class="coaches__swiper-slide-inner">
                <div class="coaches__swiper-content-box">
                  <div class="coaches__swiper-text-box">
                    <p class="coaches__swiper-title tl3">Шамиль Шарипов</p>

                    <p class="coaches__swiper-desc txt18">
                      Сертифицированный специалист по коррекции сколиоза (SEAS)

                      <br />
                      Специалист по коррекции опорно-двигательного аппарата, в том числе, у спортсменов.
                    </p>
                  </div>
                  <button data-popup="#popup__specialists" class="coaches__swiper-link link-white">
                    Узнать больше
                  </button>
                </div>
                <div class="coaches__swiper-photo-wrapper">
                  <div class="coaches__swiper-photo-box">
                    <img src="./assets/images/specialists-photo.webp" alt="" />
                  </div>
                </div>
              </div>
            </div>
            <div class="coaches__swiper-slide swiper-slide">
              <div class="coaches__swiper-slide-inner">
                <div class="coaches__swiper-content-box">
                  <div class="coaches__swiper-text-box">
                    <p class="coaches__swiper-title tl3">Юлия Пашкова</p>

                    <p class="coaches__swiper-desc txt18">
                      Сертифицированный специалист по коррекции сколиоза (SEAS). Специалист по коррекции
                      опорно-двигательного аппарата с акцентом на улучшение эстетики.
                    </p>
                  </div>
                  <button data-popup="#popup__specialists" class="coaches__swiper-link link-white">
                    Узнать больше
                  </button>
                </div>
                <div class="coaches__swiper-photo-wrapper">
                  <div class="coaches__swiper-photo-box">
                    <img src="./assets/images/specialists-photo.webp" alt="" />
                  </div>
                </div>
              </div>
            </div>
            <div class="coaches__swiper-slide swiper-slide">
              <div class="coaches__swiper-slide-inner">
                <div class="coaches__swiper-content-box">
                  <div class="coaches__swiper-text-box">
                    <p class="coaches__swiper-title tl3">Шамиль Шарипов</p>

                    <p class="coaches__swiper-desc txt18">
                      Сертифицированный специалист по коррекции сколиоза (SEAS)

                      <br />
                      Специалист по коррекции опорно-двигательного аппарата, в том числе, у спортсменов.
                    </p>
                  </div>
                  <button data-popup="#popup__specialists" class="coaches__swiper-link link-white">
                    Узнать больше
                  </button>
                </div>
                <div class="coaches__swiper-photo-wrapper">
                  <div class="coaches__swiper-photo-box">
                    <img src="./assets/images/specialists-photo.webp" alt="" />
                  </div>
                </div>
              </div>
            </div>
            <div class="coaches__swiper-slide swiper-slide">
              <div class="coaches__swiper-slide-inner">
                <div class="coaches__swiper-content-box">
                  <div class="coaches__swiper-text-box">
                    <p class="coaches__swiper-title tl3">Юлия Пашкова</p>

                    <p class="coaches__swiper-desc txt18">
                      Сертифицированный специалист по коррекции сколиоза (SEAS). Специалист по коррекции
                      опорно-двигательного аппарата с акцентом на улучшение эстетики.
                    </p>
                  </div>
                  <button data-popup="#popup__specialists" class="coaches__swiper-link link-white">
                    Узнать больше
                  </button>
                </div>
                <div class="coaches__swiper-photo-wrapper">
                  <div class="coaches__swiper-photo-box">
                    <img src="./assets/images/specialists-photo.webp" alt="" />
                  </div>
                </div>
              </div>
            </div>
            <div class="coaches__swiper-slide swiper-slide">
              <div class="coaches__swiper-slide-inner">
                <div class="coaches__swiper-content-box">
                  <div class="coaches__swiper-text-box">
                    <p class="coaches__swiper-title tl3">Шамиль Шарипов</p>

                    <p class="coaches__swiper-desc txt18">
                      Сертифицированный специалист по коррекции сколиоза (SEAS)

                      <br />
                      Специалист по коррекции опорно-двигательного аппарата, в том числе, у спортсменов.
                    </p>
                  </div>
                  <button data-popup="#popup__specialists" class="coaches__swiper-link link-white">
                    Узнать больше
                  </button>
                </div>
                <div class="coaches__swiper-photo-wrapper">
                  <div class="coaches__swiper-photo-box">
                    <img src="./assets/images/specialists-photo.webp" alt="" />
                  </div>
                </div>
              </div>
            </div>
            <div class="coaches__swiper-slide swiper-slide">
              <div class="coaches__swiper-slide-inner">
                <div class="coaches__swiper-content-box">
                  <div class="coaches__swiper-text-box">
                    <p class="coaches__swiper-title tl3">Юлия Пашкова</p>

                    <p class="coaches__swiper-desc txt18">
                      Сертифицированный специалист по коррекции сколиоза (SEAS). Специалист по коррекции
                      опорно-двигательного аппарата с акцентом на улучшение эстетики.
                    </p>
                  </div>
                  <button data-popup="#popup__specialists" class="coaches__swiper-link link-white">
                    Узнать больше
                  </button>
                </div>
                <div class="coaches__swiper-photo-wrapper">
                  <div class="coaches__swiper-photo-box">
                    <img src="./assets/images/specialists-photo.webp" alt="" />
                  </div>
                </div>
              </div>
            </div>
            <div class="coaches__swiper-slide swiper-slide">
              <div class="coaches__swiper-slide-inner">
                <div class="coaches__swiper-content-box">
                  <div class="coaches__swiper-text-box">
                    <p class="coaches__swiper-title tl3">Шамиль Шарипов</p>

                    <p class="coaches__swiper-desc txt18">
                      Сертифицированный специалист по коррекции сколиоза (SEAS)

                      <br />
                      Специалист по коррекции опорно-двигательного аппарата, в том числе, у спортсменов.
                    </p>
                  </div>
                  <button data-popup="#popup__specialists" class="coaches__swiper-link link-white">
                    Узнать больше
                  </button>
                </div>
                <div class="coaches__swiper-photo-wrapper">
                  <div class="coaches__swiper-photo-box">
                    <img src="./assets/images/specialists-photo.webp" alt="" />
                  </div>
                </div>
              </div>
            </div>
            <div class="coaches__swiper-slide swiper-slide">
              <div class="coaches__swiper-slide-inner">
                <div class="coaches__swiper-content-box">
                  <div class="coaches__swiper-text-box">
                    <p class="coaches__swiper-title tl3">Юлия Пашкова</p>

                    <p class="coaches__swiper-desc txt18">
                      Сертифицированный специалист по коррекции сколиоза (SEAS). Специалист по коррекции
                      опорно-двигательного аппарата с акцентом на улучшение эстетики.
                    </p>
                  </div>
                  <button data-popup="#popup__specialists" class="coaches__swiper-link link-white">
                    Узнать больше
                  </button>
                </div>
                <div class="coaches__swiper-photo-wrapper">
                  <div class="coaches__swiper-photo-box">
                    <img src="./assets/images/specialists-photo.webp" alt="" />
                  </div>
                </div>
              </div>
            </div>
            <div class="coaches__swiper-slide swiper-slide">
              <div class="coaches__swiper-slide-inner">
                <div class="coaches__swiper-content-box">
                  <div class="coaches__swiper-text-box">
                    <p class="coaches__swiper-title tl3">Шамиль Шарипов</p>

                    <p class="coaches__swiper-desc txt18">
                      Сертифицированный специалист по коррекции сколиоза (SEAS)

                      <br />
                      Специалист по коррекции опорно-двигательного аппарата, в том числе, у спортсменов.
                    </p>
                  </div>
                  <button data-popup="#popup__specialists" class="coaches__swiper-link link-white">
                    Узнать больше
                  </button>
                </div>
                <div class="coaches__swiper-photo-wrapper">
                  <div class="coaches__swiper-photo-box">
                    <img src="./assets/images/specialists-photo.webp" alt="" />
                  </div>
                </div>
              </div>
            </div>
            <div class="coaches__swiper-slide swiper-slide">
              <div class="coaches__swiper-slide-inner">
                <div class="coaches__swiper-content-box">
                  <div class="coaches__swiper-text-box">
                    <p class="coaches__swiper-title tl3">Юлия Пашкова</p>

                    <p class="coaches__swiper-desc txt18">
                      Сертифицированный специалист по коррекции сколиоза (SEAS). Специалист по коррекции
                      опорно-двигательного аппарата с акцентом на улучшение эстетики.
                    </p>
                  </div>
                  <button data-popup="#popup__specialists" class="coaches__swiper-link link-white">
                    Узнать больше
                  </button>
                </div>
                <div class="coaches__swiper-photo-wrapper">
                  <div class="coaches__swiper-photo-box">
                    <img src="./assets/images/specialists-photo.webp" alt="" />
                  </div>
                </div>
              </div>
            </div>
            <div class="coaches__swiper-slide swiper-slide">
              <div class="coaches__swiper-slide-inner">
                <div class="coaches__swiper-content-box">
                  <div class="coaches__swiper-text-box">
                    <p class="coaches__swiper-title tl3">Шамиль Шарипов</p>

                    <p class="coaches__swiper-desc txt18">
                      Сертифицированный специалист по коррекции сколиоза (SEAS)

                      <br />
                      Специалист по коррекции опорно-двигательного аппарата, в том числе, у спортсменов.
                    </p>
                  </div>
                  <button data-popup="#popup__specialists" class="coaches__swiper-link link-white">
                    Узнать больше
                  </button>
                </div>
                <div class="coaches__swiper-photo-wrapper">
                  <div class="coaches__swiper-photo-box">
                    <img src="./assets/images/specialists-photo.webp" alt="" />
                  </div>
                </div>
              </div>
            </div>
            <div class="coaches__swiper-slide swiper-slide">
              <div class="coaches__swiper-slide-inner">
                <div class="coaches__swiper-content-box">
                  <div class="coaches__swiper-text-box">
                    <p class="coaches__swiper-title tl3">Юлия Пашкова</p>

                    <p class="coaches__swiper-desc txt18">
                      Сертифицированный специалист по коррекции сколиоза (SEAS). Специалист по коррекции
                      опорно-двигательного аппарата с акцентом на улучшение эстетики.
                    </p>
                  </div>
                  <button data-popup="#popup__specialists" class="coaches__swiper-link link-white">
                    Узнать больше
                  </button>
                </div>
                <div class="coaches__swiper-photo-wrapper">
                  <div class="coaches__swiper-photo-box">
                    <img src="./assets/images/specialists-photo.webp" alt="" />
                  </div>
                </div>
              </div>
            </div>
            <div class="coaches__swiper-slide swiper-slide">
              <div class="coaches__swiper-slide-inner">
                <div class="coaches__swiper-content-box">
                  <div class="coaches__swiper-text-box">
                    <p class="coaches__swiper-title tl3">Шамиль Шарипов</p>

                    <p class="coaches__swiper-desc txt18">
                      Сертифицированный специалист по коррекции сколиоза (SEAS)

                      <br />
                      Специалист по коррекции опорно-двигательного аппарата, в том числе, у спортсменов.
                    </p>
                  </div>
                  <button data-popup="#popup__specialists" class="coaches__swiper-link link-white">
                    Узнать больше
                  </button>
                </div>
                <div class="coaches__swiper-photo-wrapper">
                  <div class="coaches__swiper-photo-box">
                    <img src="./assets/images/specialists-photo.webp" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="coaches__swiper-nav-box">
          <div class="coaches__swiper-btn coaches__swiper-btn--prev swiper-btn swiper-button-prev">
            <div class="swiper-btn__svg-box">
              <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M20.8994 10.8994L21.8994 10.8994L21.8994 8.89943L20.8994 8.89943L20.8994 10.8994ZM2.33788 8.89943C1.78559 8.89943 1.33788 9.34714 1.33788 9.89943C1.33788 10.4517 1.78559 10.8994 2.33788 10.8994L2.33788 8.89943ZM20.8994 8.89943H2.33788L2.33788 10.8994H20.8994L20.8994 8.89943Z"
                  fill="#393C43"
                />
                <path
                  d="M9.14404 17.9429L1.1007 9.89954L9.14404 1.8562"
                  stroke="#393C43"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </div>
          <div class="coaches__swiper-pagination swiper-pagination"></div>

          <div class="coaches__swiper-btn coaches__swiper-btn--next swiper-btn swiper-button-next">
            <div class="swiper-btn__svg-box">
              <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M1.10033 9.10057L0.100327 9.10057L0.100327 11.1006L1.10033 11.1006L1.10033 9.10057ZM19.6619 11.1006C20.2142 11.1006 20.6619 10.6529 20.6619 10.1006C20.6619 9.54829 20.2142 9.10057 19.6619 9.10057L19.6619 11.1006ZM1.10033 11.1006L19.6619 11.1006L19.6619 9.10057L1.10033 9.10057L1.10033 11.1006Z"
                  fill="#393C43"
                />
                <path
                  d="M12.8557 2.05712L20.8991 10.1005L12.8557 18.1438"
                  stroke="#393C43"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
