<section class="contacts">
  <div class="contacts__container container">
    <div class="contacts__info">
      <div class="contacts__info-top">
        <div class="contacts__info-top--row">
          <div class="contacts__info-top--column">
            <div>
              <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M18.7008 8.56753C18.7008 6.42199 16.9614 4.68262 14.8158 4.68262H7.3566C5.21106 4.68262 3.47168 6.42199 3.47168 8.56753C3.47168 9.13661 3.47168 12.6758 3.47168 13.2449C3.47168 15.3912 5.21181 17.1306 7.35735 17.1306H8.74716C9.31624 17.1306 12.8554 17.1306 13.4245 17.1306H14.8144C16.9607 17.1306 18.7 15.3904 18.7 13.2449C18.7 12.6758 18.7 9.13661 18.7 8.56753H18.7008Z"
                  fill="white"
                />
                <path
                  d="M18.7008 24.9494C18.7008 22.8038 16.9614 21.0645 14.8158 21.0645H7.3566C5.21106 21.0645 3.47168 22.8038 3.47168 24.9494C3.47168 25.5185 3.47168 29.0576 3.47168 29.6267C3.47168 31.773 5.21181 33.5124 7.35735 33.5124H8.74716C9.31624 33.5124 12.8554 33.5124 13.4245 33.5124H14.8144C16.9607 33.5124 18.7 31.7723 18.7 29.6267C18.7 29.0576 18.7 25.5185 18.7 24.9494H18.7008Z"
                  fill="white"
                />
                <path
                  d="M32.1951 22.9331C32.5577 25.6584 31.021 28.383 28.3439 29.4064L23.0355 31.4365C22.6729 28.7111 24.2096 25.9866 26.8867 24.9631L32.1951 22.9331ZM33.1566 21.0645L26.3864 23.6536C22.5306 25.1284 20.6001 29.4493 22.0748 33.3051L28.8449 30.7159C32.7007 29.2412 34.6313 24.9203 33.1566 21.0645Z"
                  fill="#6AA448"
                />
                <path
                  d="M32.1951 6.55126C32.5577 9.27659 31.021 12.0012 28.3439 13.0246L23.034 15.0554C22.8848 13.9494 23.0446 12.8211 23.5112 11.7763C24.1728 10.2954 25.3714 9.16033 26.8867 8.5813L32.1951 6.55126ZM33.1566 4.68262L26.3864 7.27179C22.5306 8.74652 20.6001 13.0674 22.0748 16.9233L28.8449 14.3341C32.7007 12.8594 34.6313 8.53847 33.1566 4.68262Z"
                  fill="#6AA448"
                />
              </svg>
            </div>
            <div class="tl2">Контакты студии</div>
          </div>
          <div class="contacts__info-top--column">
            <div class="contacts__info-top--img">
              <img src="./assets/images/contacts-info-img-1.webp" alt="" />
            </div>
          </div>
        </div>
        <div class="contacts__info-top--row">
          <div class="contacts__info-top--contact">
            <div class="tl4">Адрес</div>
            <div class="txt20">г. Москва, проспект Вернадского 94, к. 2</div>
          </div>
          <div class="contacts__info-top--contact">
            <div class="tl4">Режим работы</div>
            <div class="txt20"><span>Пн-пт 10:00 - 20:00</span> <span>Сб-вс 10:00 - 16:00</span></div>
          </div>
          <div class="contacts__info-top--contact">
            <div class="tl4">Телефон</div>
            <div class="txt20">+7 (903) 007-56-71</div>
          </div>
        </div>
      </div>
      <div class="contacts__info-bottom">
        <div class="contacts__info-bottom--left">
          <div class="contacts__info-bottom--img">
            <img src="./assets/images/contacts-info-img-2.webp" alt="" />
          </div>
          <div class="contacts__info-bottom--phone">
            <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="24" cy="24" r="24" fill="white" />
              <g clip-path="url(#clip0_969_1423)">
                <rect
                  x="17.75"
                  y="12.75"
                  width="11.9676"
                  height="22.5"
                  rx="1.25"
                  stroke="#393C43"
                  stroke-width="1.5"
                />
                <circle cx="19.9688" cy="15.125" r="0.75" fill="#393C43" />
                <rect x="21.7188" y="14.375" width="3.7551" height="1.5" rx="0.75" fill="#393C43" />
                <mask id="path-5-inside-1_969_1423" fill="white">
                  <rect x="21" y="32" width="6" height="4" rx="1.2" />
                </mask>
                <rect
                  x="21"
                  y="32"
                  width="6"
                  height="4"
                  rx="1.2"
                  stroke="#393C43"
                  stroke-width="3"
                  mask="url(#path-5-inside-1_969_1423)"
                />
              </g>
              <defs>
                <clipPath id="clip0_969_1423">
                  <rect width="24" height="24" fill="white" transform="translate(12 12)" />
                </clipPath>
              </defs>
            </svg>
          </div>
          <div class="contacts__info-bottom--arc">
            <svg width="38" height="140" viewBox="0 0 38 140" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="3.5" cy="3.5" r="3.5" fill="white" />
              <circle cx="3.5" cy="136.5" r="3.5" fill="white" />
              <path d="M4 4C26.719 14.0295 65.2427 84.2361 4 137" stroke="white" stroke-width="1.5" />
            </svg>
          </div>
        </div>
        <div class="contacts__info-bottom--right">
          <div class="txt20">Ждём вас на тренировках.</div>
          <div>
            <button data-popup="#popup__contact-manager" class="contacts__info-bottom--link link link-white" href="">Связаться с менеджером</button>
            <a class="contacts__info-bottom--social">
              <img src="./assets/images/icons/viber.svg" alt="" />
            </a>
            <a class="contacts__info-bottom--social">
              <img src="./assets/images/icons/watsapp.svg" alt="" />
            </a>
            <a class="contacts__info-bottom--social">
              <img src="./assets/images/icons/telegram.svg" alt="" />
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="contacts__map">
      <div id="map"></div>
    </div>
  </div>
</section>
