<section class="course-banner">
  <div class="container">
    <div class="course-banner__inner">
      <div class="course-banner__content-box">
        <p class="course-banner__title tl2">Онлайн-курс</p>
        <p class="course-banner__name tl1">«Улучшая эластичность»</p>
        <div class="course-banner__img-box">
          <img src="./assets/images/course-banner-bg.webp" alt="" class="desktop" />
          <img src="./assets/images/course-banner-bg-mob.webp" alt="" class="mobile" />
        </div>
      </div>

      <div class="course-banner__list-box">
        <p class="course-banner__list-title tl3">Курс поможет вам:</p>
        <div class="course-banner__thumb-box">
          <div class="course-banner__thumb-img-box">
            <img src="./assets/images/course-banner-circle.webp" alt="" />
          </div>
          <div class="course-banner__thumb">
            <div class="course-banner__thumb-inner">
              <div class="course-banner__thumb-num txt20">01</div>
              <p class="course-banner__thumb-text txt18 desktop">Персональный тренер с опытом более 10 лет</p>
            </div>

            <div class="course-banner__thumb-inner">
              <div class="course-banner__thumb-num txt20">02</div>
              <p class="course-banner__thumb-text txt18 desktop">избавиться от болей в теле</p>
            </div>

            <div class="course-banner__thumb-inner">
              <div class="course-banner__thumb-num txt20">03</div>
              <p class="course-banner__thumb-text txt18 desktop">Автор онлайн-курса «Улучшая эластичность»</p>
            </div>

            <div class="course-banner__thumb-inner">
              <div class="course-banner__thumb-num txt20">04</div>
              <p class="course-banner__thumb-text txt18 desktop">Спортсмен, который готовится к Олимпиаде</p>
            </div>
          </div>
        </div>
        <div class="course-banner__swiper swiper">
          <div class="course-banner__swiper-wrapper swiper-wrapper">
            <div class="course-banner__swiper-slide swiper-slide" data-index="0">
              <div class="course-banner__swiper-slide-inner">
                <p class="course-banner__swiper-slide-text txt18">Персональный тренер с опытом более 10 лет</p>
              </div>
            </div>
            <div class="course-banner__swiper-slide swiper-slide" data-index="1">
              <div class="course-banner__swiper-slide-inner">
                <p class="course-banner__swiper-slide-text txt18">
                  избавиться от болей в теле
                </p>
              </div>
            </div>
            <div class="course-banner__swiper-slide swiper-slide" data-index="2">
              <div class="course-banner__swiper-slide-inner">
                <p class="course-banner__swiper-slide-text txt18">Автор онлайн-курса «Улучшая эластичность»</p>
              </div>
            </div>
            <div class="course-banner__swiper-slide swiper-slide" data-index="3">
              <div class="course-banner__swiper-slide-inner">
                <p class="course-banner__swiper-slide-text txt18">Спортсмен, который готовится к Олимпиаде</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
