<section class="course-basis">
  <div class="container">
    <div class="course-basis__inner">
      <div class="course-basis__content-box">
        <p class="course-basis__title tl2">В основе курса</p>

        <ul class="course-basis__list">
          <li class="course-basis__item txt20">
            <div class="course-basis__item-svg-wrapper">
              <div class="course-basis__item-svg-box">
                <img src="./assets/images/course-basis-1.svg" alt="" />
              </div>
            </div>
            <p class="course-basis__item-text">техники миофасциального релиза (МФР)</p>
          </li>
          <li class="course-basis__item txt20">
            <div class="course-basis__item-svg-wrapper">
              <div class="course-basis__item-svg-box">
                <img src="./assets/images/course-basis-2.svg" alt="" />
              </div>
            </div>
            <p class="course-basis__item-text">дыхательные техники</p>
          </li>
          <li class="course-basis__item txt20">
            <div class="course-basis__item-svg-wrapper">
              <div class="course-basis__item-svg-box">
                <img src="./assets/images/course-basis-3.svg" alt="" />
              </div>
            </div>
            <p class="course-basis__item-text">коррекционно-динамические упражнения</p>
          </li>
          <li class="course-basis__item txt20">
            <div class="course-basis__item-svg-wrapper">
              <div class="course-basis__item-svg-box">
                <img src="./assets/images/course-basis-4.svg" alt="" />
              </div>
            </div>
            <p class="course-basis__item-text">работа с весами и сопротивлением</p>
          </li>
        </ul>
      </div>
      <div class="course-basis__img-box">
        <img src="./assets/images/authors-course-bg.webp" alt="" class="desktop" />
        <img src="./assets/images/authors-course-bg-mob.webp" alt="" class="mobile" />
      </div>
    </div>
  </div>
</section>
