<section class="course-founder">
  <div class="container">
    <div class="course-founder__inner">
      <div class="course-founder__content-box">
        <div class="course-founder__title-box">
          <p class="course-founder__title tl2">Создатель курса</p>
          <div class="course-founder__desc-box">
            <p class="course-founder__desc-text txt18">
              Идея курса пришла создателю проекта, чтобы решить собственную проблему с подвижностью, достичь
              нужных амплитуд. Павел с детства в спорте, но растяжка всегда давалась ему плохо. Хотелось стать
              эластичнее без боли и травм.
            </p>
            <p class="course-founder__desc-text txt18">
              Павел перепробовал различные методики и нашёл самые экологичные и эффективные инструменты, после
              чего создал свой авторский курс из 10 видеоуроков с обратной связью личного от него.
            </p>
            <p class="course-founder__desc-text txt18">О тренерском пути можно прочитать здесь</p>
          </div>
        </div>
        <div class="course-founder__list-wrapper">
          <a href="#" class="course-founder__link link-list">
            <p class="course-founder__link-text link-list__text txt18">Читать подробнее</p>
            <div class="course-founder__link-svg-wrapper link-list__svg-wrapper">
              <div class="course-founder__link-svg-box link-list__svg-box">
                <svg
                  width="15"
                  height="15"
                  viewBox="0 0 15 15"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M13.19 2.28989C13.6405 5.62957 11.7312 8.96832 8.40479 10.2225L1.80896 12.7101C1.35847 9.37043 3.26779 6.03169 6.5942 4.77755L13.19 2.28989ZM14.3847 0L5.97263 3.17284C1.18165 4.98 -1.21709 10.2749 0.615291 15L9.02729 11.8272C13.8183 10.02 16.2171 4.72505 14.3847 0Z"
                    fill="#6AA448"
                  />
                </svg>
              </div>
            </div>
          </a>
          <div class="course-founder__list-box">
            <p class="course-founder__list-title tl4">
              Прежде чем создать свой авторский курс в 2020 году, Павел:
            </p>
            <ul class="course-founder__list">
              <li class="course-founder__item txt18">получил профессиональное образование</li>
              <li class="course-founder__item txt18">больше 7 лет проработал тренером</li>
              <li class="course-founder__item txt18">
                постоянно находил и пробовал на себе новые методики, основанные на научных исследованиях
              </li>
              <li class="course-founder__item txt18">
                доводил подопечных до нужного результата безопасным способом
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="course-founder__img-wrapper">
        <div class="course-founder__img-box">
          <img src="./assets/images/course-founder-photo.webp" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
