<section class="create-course">
    <div class="container">
        <div class="create-course__left">
            <img src="../assets/images/founder/create-course.webp" alt="">
        </div>
        <div class="create-course__right">
            <div class="create-course__title tl2">Создание курса и открытие собственной студии</div>
            <div class="create-course__text txt18">
                <p>Павел перепробовал различные методики, чтобы достичь нужных амплитуд в спорте без болей. Так появилась идея создать собственный онлайн-курс.</p>
                <p>На момент создания курса уже существовал бренд «Фитнес критик», в рамках которого Павел разрушает мифы и стереотипы о фитнесе, спорте и здоровье.</p>
                <p>В течение 5 лет Павел продумывал идею проекта, который направлен на коррекцию опорно-двигательного аппарата без хирургических вмешательств. Идея стала реальностью – студия открылась в сентябре 2023 года.</p>
            </div>
            <div class="create-course__btns">
                <a class="btn btn-icon">
                    <p class="txt18">О студии</p>
                    <svg width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="23" cy="23" r="23" fill="white" />
                        <path d="M29.19 18.2899C29.6405 21.6296 27.7312 24.9683 24.4048 26.2225L17.809 28.7101C17.3585 25.3704 19.2678 22.0317 22.5942 20.7775L29.19 18.2899ZM30.3847 16L21.9726 19.1728C17.1816 20.98 14.7829 26.2749 16.6153 31L25.0273 27.8272C29.8183 26.02 32.2171 20.7251 30.3847 16Z" fill="#6AA448" />
                    </svg>
                </a>
                <a class="btn btn-icon desktop">
                    <p class="txt18">Подробнее о курсе</p>
                    <svg width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="23" cy="23" r="23" fill="white" />
                        <path d="M29.19 18.2899C29.6405 21.6296 27.7312 24.9683 24.4048 26.2225L17.809 28.7101C17.3585 25.3704 19.2678 22.0317 22.5942 20.7775L29.19 18.2899ZM30.3847 16L21.9726 19.1728C17.1816 20.98 14.7829 26.2749 16.6153 31L25.0273 27.8272C29.8183 26.02 32.2171 20.7251 30.3847 16Z" fill="#6AA448" />
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>