<section class="definition">
  <div class="container">
    <div class="definition__inner">
      <div class="definition__content-box">
        <div class="definition__title-box">
          <p class="definition__title tl2">Что такое ОДА?</p>

          <div class="definition__text-box">
            <p class="definition__text txt18">
              ОДА — аббревиатура от словосочетания «опорно-двигательный аппарат».
            </p>
            <div class="definition__important-box">
              <div class="definition__important-svg-wrapper">
                <div class="definition__important-svg-box">
                  <svg
                    width="6"
                    height="25"
                    viewBox="0 0 6 25"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M5.02162 14.4917V2.34479C5.02162 1.22665 4.11528 0.320312 2.99714 0.320312C1.87899 0.320312 0.972656 1.22665 0.972656 2.34479V14.4917C0.972656 15.6098 1.87899 16.5161 2.99714 16.5161C4.11528 16.5161 5.02162 15.6098 5.02162 14.4917Z"
                      fill="#C3EB4F"
                    />
                    <path
                      d="M2.99764 24.5949C4.11601 24.5949 5.02263 23.6883 5.02263 22.5699C5.02263 21.4516 4.11601 20.545 2.99764 20.545C1.87927 20.545 0.972656 21.4516 0.972656 22.5699C0.972656 23.6883 1.87927 24.5949 2.99764 24.5949Z"
                      fill="#C3EB4F"
                    />
                  </svg>
                </div>
              </div>
              <p class="definition__important-text txt20">
                На тарифах «Базовый + ОДА» и «VIP» в стоимость тарифа входит визуальная оценка
                опорно-двигательного аппарата
              </p>
            </div>
            <p class="definition__text txt18">
              <span>Оценка опорно-двигательного аппарата</span> представляет собой визуальную диагностику
              осанки и походки, по возможности, бега. Во время оценки ОДА можно выявить асимметрии,
              дисфункции, компенсации, слабые или перегруженные места в теле.
            </p>
          </div>
        </div>

        <div class="definition__list-box">
          <p class="definition__list-title tl3">Для чего нужна оценка ОДА?</p>
          <ul class="definition__list">
            <li class="definition__item">
              <div class="definition__item-num-box">
                <p class="definition__item-num txt20">01</p>
              </div>
              <p class="definition__item-text txt20">
                Даёт представление о текущем состоянии опорно-двигательного аппарата.
              </p>
            </li>
            <li class="definition__item">
              <div class="definition__item-num-box">
                <p class="definition__item-num txt20">02</p>
              </div>
              <p class="definition__item-text txt20">
                Помогает адаптировать техники из курса под каждого человека с учётом его особенностей
              </p>
            </li>
            <li class="definition__item">
              <div class="definition__item-num-box">
                <p class="definition__item-num txt20">03</p>
              </div>
              <p class="definition__item-text txt20">
                Позволяет предотвратить развитие пагубных изменений опорно-двигательного аппарата
              </p>
            </li>
          </ul>
        </div>
      </div>

      <div class="definition__img-box">
        <img src="./assets/images/definition-img.webp" alt="" />
      </div>
    </div>
  </div>
</section>
