<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__top">
        <div class="footer__logo-wrapper">
          <a href="#" class="footer__logo-box">
            <div class="footer__logo-img-box">
              <img src="./assets/images/logo.svg" alt="" />
            </div>
          </a>

          <div class="footer__logo-btn-box">
            <a href="#" class="footer__logo-btn">
              <div class="footer__logo-btn-svg-box">
                <img src="./assets/images/icons/telegram-black.svg" alt="" />
              </div>
            </a>
            <a href="#" class="footer__logo-btn">
              <div class="footer__logo-btn-svg-box">
                <img src="./assets/images/icons/youtube-black.svg" alt="" />
              </div>
            </a>
            <a href="#" class="footer__logo-btn">
              <div class="footer__logo-btn-svg-box">
                <img src="./assets/images/icons/vk-black.svg" alt="" />
              </div>
            </a>
            <a href="#" class="footer__logo-btn">
              <div class="footer__logo-btn-svg-box">
                <img src="./assets/images/icons/tt-black.svg" alt="" />
              </div>
            </a>
          </div>
        </div>
        <div class="footer__nav">
          <div class="footer__nav-list">
            <a href="#" class="footer__nav-link tl4">О студии </a>
            <a href="#" class="footer__nav-link tl4">Тренировки </a>
            <a href="#" class="footer__nav-link tl4">Создатель студии и проекта </a>
            <a href="#" class="footer__nav-link tl4">Курс </a>
          </div>
          <div class="footer__nav-list">
            <a href="#" class="footer__nav-link tl4">Оценка ОДА </a>
            <a href="#" class="footer__nav-link tl4">Все услуги</a>
            <a href="#" class="footer__nav-link tl4">Блог</a>
            <a href="#" class="footer__nav-link tl4">Контакты</a>
          </div>
          <div class="footer__nav-list">
            <a href="#" class="footer__nav-link tl4">Политика конфиденциальности</a>
            <a href="#" class="footer__nav-link tl4">Политика обработки данных</a>
            <a href="#" class="footer__nav-link tl4">Оферта</a>
          </div>
        </div>
        <div class="footer__info-box">
          <div class="footer__info-block">
            <div class="footer__info-svg-box">
              <img src="./assets/images/icons/adress.svg" alt="" />
            </div>
            <p class="footer__info-text txt18">г. Москва, проспект Вернадского 94, к. 2</p>
          </div>
          <div class="footer__info-block">
            <div class="footer__info-svg-box">
              <img src="./assets/images/icons/time.svg" alt="" />
            </div>
            <p class="footer__info-text txt18">Пн-пт 10:00 - 20:00 Сб-вс 10:00 - 16:00</p>
          </div>
          <a href="tel:+79030075671" class="footer__info-block">
            <div class="footer__info-svg-box">
              <img src="./assets/images/icons/tel.svg" alt="" />
            </div>
            <p class="footer__info-text txt18">+7 (903) 007-56-71</p>
          </a>
        </div>
      </div>
      <div class="footer__bottom">
        <p class="footer__bottom-text txt18"><a href="#">ООО "ЭКОЛОГИЧНЫЙ ФИТНЕС".</a> Все права защищены</p>
      </div>
    </div>
  </div>
</footer>
