<section class="founder-banner">
  <div class="container">
    <div class="founder-banner__inner">
      <div class="founder-banner__content-box">
        <div class="founder-banner__title-box">
          <p class="founder-banner__title tl1">Основатель студии</p>
          <div class="founder-banner__img-box">
            <img src="./assets/images/founder-banner-bg.webp" alt="" class="desktop" />
            <img src="./assets/images/founder-banner-bg-mob.webp" alt="" class="mobile" />
          </div>
        </div>
        <div class="founder-banner__info-box">
          <p class="founder-banner__info-name tl3">Павел Брынза</p>
          <p class="founder-banner__info-text txt20">
            <span> Моё тело - высшая ценность.</span>
            <span>  К другим телам я отношусь так же. ©</span>
           
          
          </p>
        </div>
      </div>

      <div class="founder-banner__list-box">
        <div class="founder-banner__thumb-box">
          <div class="founder-banner__thumb">
            <div class="founder-banner__thumb-inner">
              <p class="founder-banner__thumb-text txt18 desktop">
                Персональный тренер с опытом более 10 лет
              </p>
              <div class="founder-banner__thumb-num txt20">01</div>
            </div>

            <div class="founder-banner__thumb-inner">
              <p class="founder-banner__thumb-text txt18 desktop">
                Основатель студии «Eco Fitness by fitness critic»
              </p>
              <div class="founder-banner__thumb-num txt20">02</div>
            </div>

            <div class="founder-banner__thumb-inner">
              <p class="founder-banner__thumb-text txt18 desktop">
                Автор онлайн-курса «Улучшая эластичность»
              </p>
              <div class="founder-banner__thumb-num txt20">03</div>
            </div>

            <div class="founder-banner__thumb-inner">
              <p class="founder-banner__thumb-text txt18 desktop">Спортсмен, который готовится к Олимпиаде</p>
              <div class="founder-banner__thumb-num txt20">04</div>
            </div>
          </div>

          <div class="founder-banner__thumb-img-box">
            <img src="./assets/images/founder-circle.webp" alt="" />
          </div>
        </div>
        <div class="founder-banner__swiper swiper">
          <div class="founder-banner__swiper-wrapper swiper-wrapper">
            <div class="founder-banner__swiper-slide swiper-slide" data-index="0">
              <div class="founder-banner__swiper-slide-inner">
                <p class="founder-banner__swiper-slide-text txt18">
                  Персональный тренер с опытом более 10 лет
                </p>
              </div>
            </div>
            <div class="founder-banner__swiper-slide swiper-slide" data-index="1">
              <div class="founder-banner__swiper-slide-inner">
                <p class="founder-banner__swiper-slide-text txt18">
                  Основатель студии «Eco Fitness by fitness critic»
                </p>
              </div>
            </div>
            <div class="founder-banner__swiper-slide swiper-slide" data-index="2">
              <div class="founder-banner__swiper-slide-inner">
                <p class="founder-banner__swiper-slide-text txt18">
                  Автор онлайн-курса «Улучшая эластичность»
                </p>
              </div>
            </div>
            <div class="founder-banner__swiper-slide swiper-slide" data-index="3">
              <div class="founder-banner__swiper-slide-inner">
                <p class="founder-banner__swiper-slide-text txt18">
                  Спортсмен, который готовится к Олимпиаде
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
