<section class="founder">
  <div class="container">
    <div class="founder__inner">
      <div class="founder__content-box">
        <div class="founder__title-box">
          <p class="founder__title tl2">Основатель проекта</p>
          <p class="founder__name mobile tl3">Фитнес критик – Павел Брынза</p>
          <div class="founder__img-box">
            <img src="./assets/images/founder-bg.webp" alt="" class="desktop">
            <img src="./assets/images/founder-bg-mob.webp" alt="" class="mobile">
          </div>
        </div>
        <div class="founder__info-box">
          <div class="founder__info-text-box">
            <p class="founder__info-name desktop tl3">Фитнес критик – Павел Брынза</p>
            <p class="founder__info-text txt20">
              Специалист по биомеханике тела, разрушающий стереотипы о фитнесе.
            </p>
          </div>
          <a href="#" class="founder__link link-list">
            <p class="founder__link-text link-list__text txt18">Подробнее</p>
            <div class="founder__link-svg-wrapper link-list__svg-wrapper">
              <div class="founder__link-svg-box link-list__svg-box">
                <svg
                  width="15"
                  height="15"
                  viewBox="0 0 15 15"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M13.19 2.28989C13.6405 5.62957 11.7312 8.96832 8.40479 10.2225L1.80896 12.7101C1.35847 9.37043 3.26779 6.03169 6.5942 4.77755L13.19 2.28989ZM14.3847 0L5.97263 3.17284C1.18165 4.98 -1.21709 10.2749 0.615291 15L9.02729 11.8272C13.8183 10.02 16.2171 4.72505 14.3847 0Z"
                    fill="#6AA448"
                  />
                </svg>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="founder__list-box">
        <div class="founder__thumb-box">
          <div class="founder__thumb">
            <div class="founder__thumb-inner">
              <p class="founder__thumb-text txt18 desktop">Персональный тренер с опытом более 10 лет</p>
              <div class="founder__thumb-num txt20">01</div>
            </div>

            <div class="founder__thumb-inner">
              <p class="founder__thumb-text txt18 desktop">
                Основатель студии «Eco Fitness by fitness critic»
              </p>
              <div class="founder__thumb-num txt20">02</div>
            </div>

            <div class="founder__thumb-inner">
              <p class="founder__thumb-text txt18 desktop">Автор онлайн-курса «Улучшая эластичность»</p>
              <div class="founder__thumb-num txt20">03</div>
            </div>

            <div class="founder__thumb-inner">
              <p class="founder__thumb-text txt18 desktop">Спортсмен, который готовится к Олимпиаде</p>
              <div class="founder__thumb-num txt20">04</div>
            </div>
          </div>

          <div class="founder__thumb-img-box">
            <img src="./assets/images/founder-circle.webp" alt="" />
          </div>
        </div>
            <div class="founder__swiper swiper">
                <div class="founder__swiper-wrapper swiper-wrapper">
                  <div class="founder__swiper-slide swiper-slide" data-index="0">
                    <div class="founder__swiper-slide-inner">
                      <p class="founder__swiper-slide-text txt18">Персональный тренер с опытом более 10 лет</p>
                    </div>
                  </div>
                  <div class="founder__swiper-slide swiper-slide" data-index="1">
                    <div class="founder__swiper-slide-inner">
                      <p class="founder__swiper-slide-text txt18">Основатель студии «Eco Fitness by fitness critic»</p>
                    </div>
                  </div>
                  <div class="founder__swiper-slide swiper-slide" data-index="2">
                    <div class="founder__swiper-slide-inner">
                      <p class="founder__swiper-slide-text txt18">Автор онлайн-курса «Улучшая эластичность»</p>
                    </div>
                  </div>
                  <div class="founder__swiper-slide swiper-slide" data-index="3">
                    <div class="founder__swiper-slide-inner">
                      <p class="founder__swiper-slide-text txt18">Спортсмен, который готовится к Олимпиаде</p>
                    </div>
                  </div>
                </div>
              </div>
       

      </div>
    </div>
  </div>
</section>
