<section class="founder-tv">
    <div class="container">
        <div class="founder-tv__left">
            <div class="founder-tv__title tl2">Участие в танцах на ТНТ <br class="desktop"> и подготовка к олимпиаде</div>
            <div class="founder-tv__img desktop">
                <img src="../assets/images/founder/founder-tv.webp" alt="">
            </div>
        </div>
        <div class="founder-tv__right">
            <div class="founder-tv__swiper">
                <div class="swiper-wrapper">
                    <div class="founder-tv__slide swiper-slide">
                        <div class="founder-tv__slide--title tl3">2014 год</div>
                        <div class="founder-tv__slide--text txt18">После 11 класса Павел продолжил заниматься движением: поступил в Государственный университет физической культуры и спорта на специальность фитнес-тренер.</div>
                    </div>
                    <div class="founder-tv__slide swiper-slide">
                        <div class="founder-tv__slide--title tl3">2014 год</div>
                        <div class="founder-tv__slide--text txt18">После 11 класса Павел продолжил заниматься движением: поступил в Государственный университет физической культуры и спорта на специальность фитнес-тренер.</div>
                    </div>
                    <div class="founder-tv__slide swiper-slide">
                        <div class="founder-tv__slide--title tl3">2014 год</div>
                        <div class="founder-tv__slide--text txt18">После 11 класса Павел продолжил заниматься движением: поступил в Государственный университет физической культуры и спорта на специальность фитнес-тренер.</div>
                    </div>
                </div>
            </div>
            <div class="founder-tv__pagination">
                <div class="founder-tv__swiper-prev">
                  <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M17.3136 4.68637L17.3136 3.68637L15.3136 3.68637L15.3136 4.68637L17.3136 4.68637ZM15.3136 25.8996C15.3136 26.4519 15.7613 26.8996 16.3136 26.8996C16.8659 26.8996 17.3136 26.4519 17.3136 25.8996L15.3136 25.8996ZM15.3136 4.68637V25.8996L17.3136 25.8996V4.68637L15.3136 4.68637Z"
                      fill="#393C43"
                    />
                    <path
                      d="M25.5061 18.1211L16.3137 27.3135L7.12134 18.1211"
                      stroke="#393C43"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
                <div class="founder-tv__swiper-next">
                  <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M17.3136 4.68637L17.3136 3.68637L15.3136 3.68637L15.3136 4.68637L17.3136 4.68637ZM15.3136 25.8996C15.3136 26.4519 15.7613 26.8996 16.3136 26.8996C16.8659 26.8996 17.3136 26.4519 17.3136 25.8996L15.3136 25.8996ZM15.3136 4.68637V25.8996L17.3136 25.8996V4.68637L15.3136 4.68637Z"
                      fill="#393C43"
                    />
                    <path
                      d="M25.5061 18.1211L16.3137 27.3135L7.12134 18.1211"
                      stroke="#393C43"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
            </div>
            <div class="founder-tv__img mobile">
                <img src="../assets/images/founder/founder-tv.webp" alt="">
            </div>
        </div>
    </div>
</section>