<section class="gift">
  <div class="gift__container container">
    <div class="gift__left">
      <div class="gift__title tl2">Курс в подарок</div>
      <p class="gift__text txt18">Вы можете подарить курс близким.</p>
      <p class="gift__text txt18">Онлайн-курс — подарок, который останется навсегда.</p>
      <p class="gift__text txt18 gray">*Доступ к материалам курса бессрочный</p>
      <p class="gift__text txt18">
        Сертификат можно подарить как в электронном виде, так и в формате пластиковой карты.
      </p>
      <p class="gift__text txt18">
        Чтобы приобрести подарочный сертификат, укажите данные получателя при оплате
      </p>
      <!-- <a href="#" class="gift__link">
        <button data-popup="#popup__contact-manager" class="txt18">Связаться с менеджером</button>
        <div>
          <svg width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="23" cy="23" r="23" fill="white" />
            <path
              d="M29.19 18.2899C29.6405 21.6296 27.7312 24.9683 24.4048 26.2225L17.809 28.7101C17.3585 25.3704 19.2678 22.0317 22.5942 20.7775L29.19 18.2899ZM30.3847 16L21.9726 19.1728C17.1816 20.98 14.7829 26.2749 16.6153 31L25.0273 27.8272C29.8183 26.02 32.2171 20.7251 30.3847 16Z"
              fill="#6AA448"
            />
          </svg>
        </div>
      </a> -->
      <a href="#" class="gift__link link-list" data-popup="#popup__contact-manager">
        <p class="gift__link-text link-list__text txt18">Связаться с менеджером</p>
        <div class="gift__link-svg-wrapper link-list__svg-wrapper">
          <div class="gift__link-svg-box link-list__svg-box">
            <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M13.19 2.28989C13.6405 5.62957 11.7312 8.96832 8.40479 10.2225L1.80896 12.7101C1.35847 9.37043 3.26779 6.03169 6.5942 4.77755L13.19 2.28989ZM14.3847 0L5.97263 3.17284C1.18165 4.98 -1.21709 10.2749 0.615291 15L9.02729 11.8272C13.8183 10.02 16.2171 4.72505 14.3847 0Z"
                fill="#6AA448"
              />
            </svg>
          </div>
        </div>
      </a>
    </div>
    <div class="gift__right">
      <img src="./assets/images/gift-img.webp" alt="" />
    </div>
  </div>
</section>
