<section class="grade-oda">
  <div class="container">
    <div class="grade-oda__inner">
      <div class="grade-oda__content-box">
        <p class="grade-oda__title tl2">Оценка <br class="mobile"> опорно-двигательного аппарата</p>
        <div class="grade-oda__text-eye-wrapper">
          <div class="grade-oda__text-eye-svg-wrapper">
            <div class="grade-oda__text-eye-svg-box">
              <img src="./assets/images/icons/eye.svg" alt="" />
            </div>
          </div>
          <p class="grade-oda__text-eye txt20">С этого начинается первая тренировка в нашей студии</p>
        </div>
        <div class="grade-oda__text-wrapper">
          <p class="grade-oda__text txt18">
            Оцениваем текущее состояние опорно-двигательного аппарата (ОДА). Это позволяет увидеть асимметрии
            и компенсации, определить дальнейший фронт работ.
          </p>
          <p class="grade-oda__text txt18">
            Перед началом тренировки специалисты проводят анализ осанки и походки. Оценка занимает около 30
            минут.После проведения даются рекомендации по коррекции и улучшению биомеханики с учётом ваших
            индивидуальных особенностей.
          </p>
        </div>

        <a href="#" class="grade-oda__link link-list">
          <p class="grade-oda__link-text link-list__text txt18">Узнать больше</p>
          <div class="grade-oda__link-svg-wrapper link-list__svg-wrapper">
            <div class="grade-oda__link-svg-box link-list__svg-box">
              <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M13.19 2.28989C13.6405 5.62957 11.7312 8.96832 8.40479 10.2225L1.80896 12.7101C1.35847 9.37043 3.26779 6.03169 6.5942 4.77755L13.19 2.28989ZM14.3847 0L5.97263 3.17284C1.18165 4.98 -1.21709 10.2749 0.615291 15L9.02729 11.8272C13.8183 10.02 16.2171 4.72505 14.3847 0Z"
                  fill="#6AA448"
                />
              </svg>
            </div>
          </div>
        </a>
      </div>
      <div class="grade-oda__img-block">
        <ul class="grade-oda__list">
          <li class="grade-oda__item">
            <div class="grade-oda__item-num-box">
              <p class="grade-oda__item-num txt20">01</p>
            </div>
            <p class="grade-oda__item-text txt20">бесплатно в рамках первой персональной тренировки</p>
          </li>
          <li class="grade-oda__item">
            <div class="grade-oda__item-num-box">
              <p class="grade-oda__item-num txt20">02</p>
            </div>
            <p class="grade-oda__item-text txt20">при покупке курса для тарифов «Базовый + ОДА» и «VIP»</p>
          </li>
          <li class="grade-oda__item">
            <div class="grade-oda__item-num-box">
              <p class="grade-oda__item-num txt20">03</p>
            </div>
            <p class="grade-oda__item-text txt20">платно в качестве отдельной услуги</p>
          </li>
        </ul>
        <div class="grade-oda__img-wrapper">
          <div class="grade-oda__img-card">
            <div class="grade-oda__img-box">
              <img src="./assets/images/grade-oda-1.webp" alt="" />
            </div>
          </div>
          <div class="grade-oda__img-card">
            <div class="grade-oda__img-box">
              <img src="./assets/images/grade-oda-2.webp" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
