<section class="info-block">
  <div class="container">
    <div class="info-block__inner">
      <ul class="info-block__list">
        <li class="info-block__item">
            <p class="info-block__item-title txt18">Наименование:</p>
            <p class="info-block__item-desc txt20">ООО "ЭКОЛОГИЧНЫЙ ФИТНЕС"</p>
        </li>
        <li class="info-block__item">
            <p class="info-block__item-title txt18">ОГРН:</p>
            <p class="info-block__item-desc txt20">1237700428118</p>
        </li>
        <li class="info-block__item">
            <p class="info-block__item-title txt18">ИНН:</p>
            <p class="info-block__item-desc txt20">9729349237</p>
        </li>
      </ul>
      <ul class="info-block__list">
        <li class="info-block__item">
            <p class="info-block__item-title txt18">ИП: </p>
            <p class="info-block__item-desc txt20">БРЫНЗА ПАВЕЛ ПЕТРОВИЧ</p>
        </li>
        <li class="info-block__item">
            <p class="info-block__item-title txt18">ИНН: </p>
            <p class="info-block__item-desc txt20">772427334605</p>
        </li>

        <li class="info-block__item">
            <p class="info-block__item-title txt18">ОГРНИП:</p>
            <p class="info-block__item-desc txt20">320774600544245</p>
        </li>
      </ul>
    </div>
  </div>
</section>
