<section class="main-banner" id="main-banner">
  <div class="container">
    <div class="main-banner__inner">
      <div class="main-banner__info-box">
        <div class="main-banner__title-wrapper">
          <div class="main-banner__title-box">
            <p class="main-banner__title tl1">Eco Fitness</p>
            <p class="main-banner__desk tl1-desk">by fitness critic</p>
          </div>
          <div class="main-banner__info-text-box txt18">
            <p class="main-banner__info-text">
              Улучшаем биомеханику тела и корректируем осанку с учётом ваших индивидуальных особенностей.
            </p>
            <p class="main-banner__info-text">В студии в Москве и онлайн по всему миру.</p>
          </div>
        </div>

        <div class="main-banner__link-wrapper">
          <div class="main-banner__link-img-wrapper">
            <div class="main-banner__link-img-box">
              <img src="./assets/images/main-banner-circle.webp" alt="" />
            </div>
            <div class="main-banner__link-img-border-box">
              <img src="./assets/images/main-banner-img-border.svg" alt="" />
            </div>
          </div>
          <div class="main-banner__link-thumb mobile">
            <div class="main-banner__link-thumb-inner">
              <div class="main-banner__link-thumb-num txt20">01</div>
              <div class="main-banner__link-thumb-img-box">
                <img src="./assets/images/logo.svg" alt="" />
              </div>
            </div>

            <div class="main-banner__link-thumb-inner">
              <div class="main-banner__link-thumb-num txt20">02</div>
              <div class="main-banner__link-thumb-img-box">
                <img src="./assets/images/logo.svg" alt="" />
              </div>
            </div>

            <div class="main-banner__link-thumb-inner">
              <div class="main-banner__link-thumb-num txt20">03</div>
              <div class="main-banner__link-thumb-img-box">
                <img src="./assets/images/logo.svg" alt="" />
              </div>
            </div>

            <div class="main-banner__link-thumb-inner">
              <div class="main-banner__link-thumb-num txt20">04</div>
              <div class="main-banner__link-thumb-img-box">
                <img src="./assets/images/logo.svg" alt="" />
              </div>
            </div>
          </div>
          <div class="main-banner__link-swiper swiper">
            <div class="main-banner__link-swiper-wrapper swiper-wrapper">
              <div class="main-banner__link-swiper-slide swiper-slide" data-index="0">
                <div class="main-banner__link-info-box">
                  <p class="main-banner__link-billet">Мы помогаем</p>
                  <p class="main-banner__link-text txt20">
                    Совершенствовать силу, выносливость, быстроту, ловкость и эластичность
                  </p>
                  <a href="#" class="main-banner__link link-white">Узнать больше</a>
                </div>
              </div>
              <div class="main-banner__link-swiper-slide swiper-slide" data-index="1">
                <div class="main-banner__link-info-box">
                  <p class="main-banner__link-billet">Мы помогаем</p>
                  <p class="main-banner__link-text txt20">
                    Методики которые мы используем в своих тренировках
                  </p>
                    <a href="#" class="main-banner__link link-white">Узнать больше</a>
                </div>
              </div>
              <div class="main-banner__link-swiper-slide swiper-slide" data-index="2">
                <div class="main-banner__link-info-box">
                  <p class="main-banner__link-billet">Мы помогаем</p>
                  <p class="main-banner__link-text txt20">
                    Совершенствовать силу, быстроту, ловкость и эластичность
                  </p>
                    <a href="#" class="main-banner__link link-white">Узнать больше</a>
                </div>
              </div>
              <div class="main-banner__link-swiper-slide swiper-slide" data-index="3">
                <div class="main-banner__link-info-box">
                  <p class="main-banner__link-billet">Мы помогаем</p>
                  <p class="main-banner__link-text txt20">
                    Методики, которые мы используем в своих тренировках
                  </p>
                    <a href="#" class="main-banner__link link-white">Узнать больше</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="main-banner__img-box">
        <img src="./assets/images/main-banner-img.webp" alt="" />
      </div>
    </div>
  </div>
</section>
