<section class="methods">
  <div class="methods__container container">
    <div class="methods__left">
      <div class="methods__title tl1">Методики и наши преимущества</div>
      <div class="methods__subtitle txt18">Добиваемся результатов проверенными методиками</div>
    </div>
    <div class="methods__list">
      <div class="methods__item">
        <div class="methods__item-img">
          <img src="./assets/images/methods__item-img-1.webp" alt="" />
        </div>
        <div class="methods__item-text txt18">
          Корректируем проблемы опорно-двигательного аппарата без хирургического вмешательства!
        </div>
      </div>
      <div class="methods__item">
        <div class="methods__item-img">
          <img src="./assets/images/methods__item-img-2.webp" alt="" />
        </div>
        <div class="methods__item-text txt18">
          Корректируем проблемы опорно-двигательного аппарата без хирургического вмешательства!
        </div>
      </div>
      <div class="methods__item">
        <div class="methods__item-img">
          <img src="./assets/images/methods__item-img-3.webp" alt="" />
        </div>
        <div class="methods__item-text txt18">
          Корректируем проблемы опорно-двигательного аппарата без хирургического вмешательства!
        </div>
      </div>
    </div>
    <div class="methods__right">
      <picture>
        <source media="(min-width: 48em)" srcset="./assets/images/methods-right-img.webp" />
        <source media="(max-width: 48em)" srcset="./assets/images/methods-right-img-mobile.webp" />
        <img src="./assets/images/methods-right-img.webp" alt="" />
      </picture>
    </div>
  </div>
</section>
