<section class="more-news">
  <div class="more-news__container container">
    <div class="more-news__head">
      <div class="more-news__title tl2">Другие статьи</div>
      <div class="more-news__navigation desktop">
        <div class="more-news__swiper-prev swiper-btn">
          <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M17.3136 4.68637L17.3136 3.68637L15.3136 3.68637L15.3136 4.68637L17.3136 4.68637ZM15.3136 25.8996C15.3136 26.4519 15.7613 26.8996 16.3136 26.8996C16.8659 26.8996 17.3136 26.4519 17.3136 25.8996L15.3136 25.8996ZM15.3136 4.68637V25.8996L17.3136 25.8996V4.68637L15.3136 4.68637Z"
              fill="#393C43"
            ></path>
            <path
              d="M25.5061 18.1211L16.3137 27.3135L7.12134 18.1211"
              stroke="#393C43"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </svg>
        </div>
        <div class="more-news__swiper-next swiper-btn">
          <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M17.3136 4.68637L17.3136 3.68637L15.3136 3.68637L15.3136 4.68637L17.3136 4.68637ZM15.3136 25.8996C15.3136 26.4519 15.7613 26.8996 16.3136 26.8996C16.8659 26.8996 17.3136 26.4519 17.3136 25.8996L15.3136 25.8996ZM15.3136 4.68637V25.8996L17.3136 25.8996V4.68637L15.3136 4.68637Z"
              fill="#393C43"
            ></path>
            <path
              d="M25.5061 18.1211L16.3137 27.3135L7.12134 18.1211"
              stroke="#393C43"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </svg>
        </div>
      </div>
    </div>
    <div class="more-news__slider">
      <div class="more-news__swiper swiper">
        <div class="swiper-wrapper">
          <div class="news__swiper-slide swiper-slide">
            <picture class="news__swiper-slide--left">
              <source media="(min-width: 48em)" srcset="./assets/images/news-slide-img.webp" />
              <source media="(max-width: 48em)" srcset="./assets/images/news-slide-img-mobile.webp" />
              <img src="./assets/images/news-slide-img.webp" alt="" />
            </picture>
            <div class="news__swiper-slide--right">
              <div class="news__swiper-slide--title tl4">Что мы используем вместо растяжки?</div>
              <div class="news__swiper-slide--date txt18">12 января 2024</div>
              <div class="news__swiper-slide--text txt18">
                Большая часть нашей аудитории отметила миофасциальный релиз. Чему мы рады. 
              </div>
            </div>
          </div>
          <div class="news__swiper-slide swiper-slide">
            <picture class="news__swiper-slide--left">
              <source media="(min-width: 48em)" srcset="./assets/images/news-slide-img.webp" />
              <source media="(max-width: 48em)" srcset="./assets/images/news-slide-img-mobile.webp" />
              <img src="./assets/images/news-slide-img.webp" alt="" />
            </picture>
            <div class="news__swiper-slide--right">
              <div class="news__swiper-slide--title tl4">Что мы используем вместо растяжки?</div>
              <div class="news__swiper-slide--date txt18">12 января 2024</div>
              <div class="news__swiper-slide--text txt18">
                Большая часть нашей аудитории отметила миофасциальный релиз. Чему мы рады. 
              </div>
            </div>
          </div>
          <div class="news__swiper-slide swiper-slide">
            <picture class="news__swiper-slide--left">
              <source media="(min-width: 48em)" srcset="./assets/images/news-slide-img.webp" />
              <source media="(max-width: 48em)" srcset="./assets/images/news-slide-img-mobile.webp" />
              <img src="./assets/images/news-slide-img.webp" alt="" />
            </picture>
            <div class="news__swiper-slide--right">
              <div class="news__swiper-slide--title tl4">Что мы используем вместо растяжки?</div>
              <div class="news__swiper-slide--date txt18">12 января 2024</div>
              <div class="news__swiper-slide--text txt18">
                Большая часть нашей аудитории отметила миофасциальный релиз. Чему мы рады. 
              </div>
            </div>
          </div>
          <div class="news__swiper-slide swiper-slide">
            <picture class="news__swiper-slide--left">
              <source media="(min-width: 48em)" srcset="./assets/images/news-slide-img.webp" />
              <source media="(max-width: 48em)" srcset="./assets/images/news-slide-img-mobile.webp" />
              <img src="./assets/images/news-slide-img.webp" alt="" />
            </picture>
            <div class="news__swiper-slide--right">
              <div class="news__swiper-slide--title tl4">Что мы используем вместо растяжки?</div>
              <div class="news__swiper-slide--date txt18">12 января 2024</div>
              <div class="news__swiper-slide--text txt18">
                Большая часть нашей аудитории отметила миофасциальный релиз. Чему мы рады. 
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="more-news__navigation mobile">
        <div class="more-news__swiper-btn more-news__swiper-btn--prev swiper-btn">
          <div class="swiper-btn__svg-box">
            <svg width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M9.10082 20.8994L9.10082 21.8994L11.1008 21.8994L11.1008 20.8994L9.10082 20.8994ZM11.1008 2.33788C11.1008 1.78559 10.6531 1.33788 10.1008 1.33788C9.54853 1.33788 9.10082 1.78559 9.10082 2.33788L11.1008 2.33788ZM11.1008 20.8994V2.33788L9.10082 2.33788V20.8994L11.1008 20.8994Z"
                fill="#393C43"
              ></path>
              <path
                d="M2.05761 9.1438L10.1009 1.10046L18.1443 9.1438"
                stroke="#393C43"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
            </svg>
          </div>
        </div>
        <div class="more-news__swiper-btn more-news__swiper-btn--next swiper-btn">
          <div class="swiper-btn__svg-box">
            <svg width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M10.8994 1.10057L10.8994 0.100572L8.89943 0.100571L8.89943 1.10057L10.8994 1.10057ZM8.89943 19.6621C8.89943 20.2144 9.34714 20.6621 9.89943 20.6621C10.4517 20.6621 10.8994 20.2144 10.8994 19.6621L8.89943 19.6621ZM8.89943 1.10057V19.6621L10.8994 19.6621V1.10057L8.89943 1.10057Z"
                fill="#393C43"
              ></path>
              <path
                d="M17.9426 12.8562L9.8993 20.8995L1.85596 12.8562"
                stroke="#393C43"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
