<section class="news">
  <div class="news__container container">
    <div class="news__slider">
      <div class="news__swiper swiper">
        <div class="swiper-wrapper">
          <div class="news__swiper-slide swiper-slide">
            <picture class="news__swiper-slide--left">
              <source media="(min-width: 48em)" srcset="./assets/images/news-slide-img.webp" />
              <source media="(max-width: 48em)" srcset="./assets/images/news-slide-img-mobile.webp" />
              <img src="./assets/images/news-slide-img.webp" alt="" />
            </picture>
            <div class="news__swiper-slide--right">
              <div class="news__swiper-slide--title tl4">Что мы используем вместо растяжки?</div>
              <div class="news__swiper-slide--date txt18">12 января 2024</div>
              <div class="news__swiper-slide--text txt18">
                Большая часть нашей аудитории отметила миофасциальный релиз. Чему мы рады. 
              </div>
            </div>
          </div>
          <div class="news__swiper-slide swiper-slide">
            <picture class="news__swiper-slide--left">
              <source media="(min-width: 48em)" srcset="./assets/images/news-slide-img.webp" />
              <source media="(max-width: 48em)" srcset="./assets/images/news-slide-img-mobile.webp" />
              <img src="./assets/images/news-slide-img.webp" alt="" />
            </picture>
            <div class="news__swiper-slide--right">
              <div class="news__swiper-slide--title tl4">Что мы используем вместо растяжки?</div>
              <div class="news__swiper-slide--date txt18">12 января 2024</div>
              <div class="news__swiper-slide--text txt18">
                Большая часть нашей аудитории отметила миофасциальный релиз. Чему мы рады. 
              </div>
            </div>
          </div>
          <div class="news__swiper-slide swiper-slide">
            <picture class="news__swiper-slide--left">
              <source media="(min-width: 48em)" srcset="./assets/images/news-slide-img.webp" />
              <source media="(max-width: 48em)" srcset="./assets/images/news-slide-img-mobile.webp" />
              <img src="./assets/images/news-slide-img.webp" alt="" />
            </picture>
            <div class="news__swiper-slide--right">
              <div class="news__swiper-slide--title tl4">Что мы используем вместо растяжки?</div>
              <div class="news__swiper-slide--date txt18">12 января 2024</div>
              <div class="news__swiper-slide--text txt18">
                Большая часть нашей аудитории отметила миофасциальный релиз. Чему мы рады. 
              </div>
            </div>
          </div>
          <div class="news__swiper-slide swiper-slide">
            <picture class="news__swiper-slide--left">
              <source media="(min-width: 48em)" srcset="./assets/images/news-slide-img.webp" />
              <source media="(max-width: 48em)" srcset="./assets/images/news-slide-img-mobile.webp" />
              <img src="./assets/images/news-slide-img.webp" alt="" />
            </picture>
            <div class="news__swiper-slide--right">
              <div class="news__swiper-slide--title tl4">Что мы используем вместо растяжки?</div>
              <div class="news__swiper-slide--date txt18">12 января 2024</div>
              <div class="news__swiper-slide--text txt18">
                Большая часть нашей аудитории отметила миофасциальный релиз. Чему мы рады. 
              </div>
            </div>
          </div>
          <div class="news__swiper-slide swiper-slide">
            <picture class="news__swiper-slide--left">
              <source media="(min-width: 48em)" srcset="./assets/images/news-slide-img.webp" />
              <source media="(max-width: 48em)" srcset="./assets/images/news-slide-img-mobile.webp" />
              <img src="./assets/images/news-slide-img.webp" alt="" />
            </picture>
            <div class="news__swiper-slide--right">
              <div class="news__swiper-slide--title tl4">Что мы используем вместо растяжки?</div>
              <div class="news__swiper-slide--date txt18">12 января 2024</div>
              <div class="news__swiper-slide--text txt18">
                Большая часть нашей аудитории отметила миофасциальный релиз. Чему мы рады. 
              </div>
            </div>
          </div>
          <div class="news__swiper-slide swiper-slide">
            <picture class="news__swiper-slide--left">
              <source media="(min-width: 48em)" srcset="./assets/images/news-slide-img.webp" />
              <source media="(max-width: 48em)" srcset="./assets/images/news-slide-img-mobile.webp" />
              <img src="./assets/images/news-slide-img.webp" alt="" />
            </picture>
            <div class="news__swiper-slide--right">
              <div class="news__swiper-slide--title tl4">Что мы используем вместо растяжки?</div>
              <div class="news__swiper-slide--date txt18">12 января 2024</div>
              <div class="news__swiper-slide--text txt18">
                Большая часть нашей аудитории отметила миофасциальный релиз. Чему мы рады. 
              </div>
            </div>
          </div>
          <div class="news__swiper-slide swiper-slide">
            <picture class="news__swiper-slide--left">
              <source media="(min-width: 48em)" srcset="./assets/images/news-slide-img.webp" />
              <source media="(max-width: 48em)" srcset="./assets/images/news-slide-img-mobile.webp" />
              <img src="./assets/images/news-slide-img.webp" alt="" />
            </picture>
            <div class="news__swiper-slide--right">
              <div class="news__swiper-slide--title tl4">Что мы используем вместо растяжки?</div>
              <div class="news__swiper-slide--date txt18">12 января 2024</div>
              <div class="news__swiper-slide--text txt18">
                Большая часть нашей аудитории отметила миофасциальный релиз. Чему мы рады. 
              </div>
            </div>
          </div>
          <div class="news__swiper-slide swiper-slide">
            <picture class="news__swiper-slide--left">
              <source media="(min-width: 48em)" srcset="./assets/images/news-slide-img.webp" />
              <source media="(max-width: 48em)" srcset="./assets/images/news-slide-img-mobile.webp" />
              <img src="./assets/images/news-slide-img.webp" alt="" />
            </picture>
            <div class="news__swiper-slide--right">
              <div class="news__swiper-slide--title tl4">Что мы используем вместо растяжки?</div>
              <div class="news__swiper-slide--date txt18">12 января 2024</div>
              <div class="news__swiper-slide--text txt18">
                Большая часть нашей аудитории отметила миофасциальный релиз. Чему мы рады. 
              </div>
            </div>
          </div>
          <div class="news__swiper-slide swiper-slide">
            <picture class="news__swiper-slide--left">
              <source media="(min-width: 48em)" srcset="./assets/images/news-slide-img.webp" />
              <source media="(max-width: 48em)" srcset="./assets/images/news-slide-img-mobile.webp" />
              <img src="./assets/images/news-slide-img.webp" alt="" />
            </picture>
            <div class="news__swiper-slide--right">
              <div class="news__swiper-slide--title tl4">Что мы используем вместо растяжки?</div>
              <div class="news__swiper-slide--date txt18">12 января 2024</div>
              <div class="news__swiper-slide--text txt18">
                Большая часть нашей аудитории отметила миофасциальный релиз. Чему мы рады. 
              </div>
            </div>
          </div>
          <div class="news__swiper-slide swiper-slide">
            <picture class="news__swiper-slide--left">
              <source media="(min-width: 48em)" srcset="./assets/images/news-slide-img.webp" />
              <source media="(max-width: 48em)" srcset="./assets/images/news-slide-img-mobile.webp" />
              <img src="./assets/images/news-slide-img.webp" alt="" />
            </picture>
            <div class="news__swiper-slide--right">
              <div class="news__swiper-slide--title tl4">Что мы используем вместо растяжки?</div>
              <div class="news__swiper-slide--date txt18">12 января 2024</div>
              <div class="news__swiper-slide--text txt18">
                Большая часть нашей аудитории отметила миофасциальный релиз. Чему мы рады. 
              </div>
            </div>
          </div>
          <div class="news__swiper-slide swiper-slide">
            <picture class="news__swiper-slide--left">
              <source media="(min-width: 48em)" srcset="./assets/images/news-slide-img.webp" />
              <source media="(max-width: 48em)" srcset="./assets/images/news-slide-img-mobile.webp" />
              <img src="./assets/images/news-slide-img.webp" alt="" />
            </picture>
            <div class="news__swiper-slide--right">
              <div class="news__swiper-slide--title tl4">Что мы используем вместо растяжки?</div>
              <div class="news__swiper-slide--date txt18">12 января 2024</div>
              <div class="news__swiper-slide--text txt18">
                Большая часть нашей аудитории отметила миофасциальный релиз. Чему мы рады. 
              </div>
            </div>
          </div>
          <div class="news__swiper-slide swiper-slide">
            <picture class="news__swiper-slide--left">
              <source media="(min-width: 48em)" srcset="./assets/images/news-slide-img.webp" />
              <source media="(max-width: 48em)" srcset="./assets/images/news-slide-img-mobile.webp" />
              <img src="./assets/images/news-slide-img.webp" alt="" />
            </picture>
            <div class="news__swiper-slide--right">
              <div class="news__swiper-slide--title tl4">Что мы используем вместо растяжки?</div>
              <div class="news__swiper-slide--date txt18">12 января 2024</div>
              <div class="news__swiper-slide--text txt18">
                Большая часть нашей аудитории отметила миофасциальный релиз. Чему мы рады. 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="news__swiper-nav-box">
      <div class="news__swiper-btn news__swiper-btn--prev swiper-btn">
        <div class="swiper-btn__svg-box">
          <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M20.8994 10.8994L21.8994 10.8994L21.8994 8.89943L20.8994 8.89943L20.8994 10.8994ZM2.33788 8.89943C1.78559 8.89943 1.33788 9.34714 1.33788 9.89943C1.33788 10.4517 1.78559 10.8994 2.33788 10.8994L2.33788 8.89943ZM20.8994 8.89943H2.33788L2.33788 10.8994H20.8994L20.8994 8.89943Z"
              fill="#393C43"
            ></path>
            <path
              d="M9.14404 17.9429L1.1007 9.89954L9.14404 1.8562"
              stroke="#393C43"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </svg>
        </div>
      </div>
      <div class="news__swiper-pagination swiper-pagination"></div>
      <div class="news__swiper-btn news__swiper-btn--next swiper-btn">
        <div class="swiper-btn__svg-box">
          <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M1.10033 9.10057L0.100327 9.10057L0.100327 11.1006L1.10033 11.1006L1.10033 9.10057ZM19.6619 11.1006C20.2142 11.1006 20.6619 10.6529 20.6619 10.1006C20.6619 9.54829 20.2142 9.10057 19.6619 9.10057L19.6619 11.1006ZM1.10033 11.1006L19.6619 11.1006L19.6619 9.10057L1.10033 9.10057L1.10033 11.1006Z"
              fill="#393C43"
            ></path>
            <path
              d="M12.8557 2.05712L20.8991 10.1005L12.8557 18.1438"
              stroke="#393C43"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
