<section class="news-detail">
  <div class="news-detail__left-angle"></div>
  <div class="news-detail__right-angle"></div>
  <div class="news-detail__container container">
    <div class="news-detail__title tl2">
      Сколько физической активности необходимо для здоровья взрослого человека? 
    </div>
    <div class="news-detail__date txt18">12 января 2024</div>
    <div class="news-detail__img">
      <img src="./assets/images/news-detail-img-1.webp" alt="" />
    </div>
    <div class="news-detail__box">
      <div class="news-detail__heading tl3">Что такое физическая активность?</div>
      <div class="news-detail__text txt18">
        <p>
          По определению ВОЗ, физическая активность — это какое‑либо движение тела, производимое скелетными
          мышцами, которое требует расхода энергии. Термин «физическая активность» относится к любым видам
          движений, в том числе во время отдыха, поездок в какие‑либо места и обратно или во время работы.
          Улучшению здоровья способствует как умеренная, так и интенсивная физическая активность. всем.
        </p>
        <p>
          К популярным видам физической активности относятся ходьба, езда на велосипеде, катание на роликовых
          коньках, занятия спортом, активный отдых и игры, для которых подходит любой уровень мастерства
          и которые доставляют удовольствие
        </p>
      </div>
    </div>
    <div class="news-detail__mark">
      <div>
        <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="20.9987" cy="21" r="20.2448" fill="#393C43" />
          <path
            d="M23.0216 23.4917V11.3448C23.0216 10.2266 22.1153 9.32031 20.9971 9.32031C19.879 9.32031 18.9727 10.2266 18.9727 11.3448V23.4917C18.9727 24.6098 19.879 25.5161 20.9971 25.5161C22.1153 25.5161 23.0216 24.6098 23.0216 23.4917Z"
            fill="#C3EB4F"
          />
          <path
            d="M20.9976 33.5949C22.116 33.5949 23.0226 32.6883 23.0226 31.5699C23.0226 30.4516 22.116 29.545 20.9976 29.545C19.8793 29.545 18.9727 30.4516 18.9727 31.5699C18.9727 32.6883 19.8793 33.5949 20.9976 33.5949Z"
            fill="#C3EB4F"
          />
        </svg>
      </div>
      <div class="txt20">
        Всемирная организация здравоохранения рекомендует взрослым 150‑300 минут умеренной аэробной физической
        активности или 75‑150 минут высокой аэробной активности в неделю.
      </div>
    </div>
    <div class="news-detail__box">
      <div class="news-detail__heading tl3">
        Меры политики по повышению уровней физической активности включают:
      </div>
      <ul class="news-detail__list txt18">
        <li>
          предоставление всему населению возможностей для совершения пеших прогулок, езды на велосипеде, а
          также использования различных видов активного немоторизованного транспорта, и обеспечение общей
          безопасности;
        </li>
        <li>
          проведение политики в области труда и занятости, поощряющей поездки на работу на активном транспорте
          и использование возможностей для повышения физической активности в течение рабочего дня;
        </li>
        <li>
          создание удобных и безопасных площадок и помещений в детских садах, школах и высших учебных
          заведениях, где дети, учащиеся и студенты могли бы активно проводить свое свободное время;
        </li>
        <li>
          организацию в начальных и средних школах качественного физического воспитания, которое помогает
          детям выработать модели поведения, благодаря которым они будут оставаться физически активными на
          протяжении всей жизни;
        </li>
        <li>
          предоставление желающим любого возраста с любым уровнем физической подготовки возможностей для
          принятия участия в общинных и школьных спортивных программах.
        </li>
      </ul>
    </div>
    <div class="news-detail__img">
      <img src="./assets/images/news-detail-img-2.webp" alt="" />
    </div>
    <div class="news-detail__box">
      <div class="news-detail__heading tl3">Как повысить физическую активность?</div>
      <div class="news-detail__text txt18">
        <p>
          Чтобы повысить уровни физической активности, страны и сообщества должны принимать меры, направленные
          на то, чтобы предоставить каждому больше возможностей для ведения активного образа жизни. Для этого,
          как на национальном, так и на местном уровнях, в самых различных секторах и дисциплинах необходимы
          коллективные усилия по реализации политики и решений, которые учитывают национальные культурные и
          социальные условия и направлены на популяризацию, стимулирование и поощрение физической активности.
        </p>
      </div>
    </div>
    <div class="news-detail__socials">
      <div class="news-detail__social">
        <img src="./assets/images/icons/telegram.svg" alt="" />
      </div>
      <div class="news-detail__social">
        <img src="./assets/images/icons/vk-black.svg" alt="" />
      </div>
      <div class="news-detail__social">
        <img src="./assets/images/icons/viber.svg" alt="" />
      </div>
      <div class="news-detail__social">
        <img src="./assets/images/icons/classmates.svg" alt="" />
      </div>
    </div>
  </div>
</section>
