<section class="our-advantages">
  <div class="our-advantages__container">
    <div class="our-advantages__title tl2">Наши преимущества</div>
    <div class="our-advantages__slider">
      <div class="our-advantages__swiper swiper">
        <div class="swiper-wrapper">
          <div class="our-advantages__swiper-slide swiper-slide">
            <div class="our-advantages__number tl3">/01</div>
            <div class="our-advantages__img">
              <img src="./assets/images/advantages-slide-img-1.webp" alt="" />
            </div>
            <div class="our-advantages__text tl4">
              Тренировка в нашей студии начинается с оценки вашего опорно-двигательного аппарат
            </div>
            <div class="our-advantages__swiper-slide--background desktop">
              <svg
                width="429"
                height="447"
                viewBox="0 0 429 447"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M429 24C429 10.7452 418.255 0 405 0H107C93.7452 0 83 10.7452 83 24V32.9059C83 46.1607 72.2548 56.9059 59 56.9059H24C10.7452 56.9059 0 67.6511 0 80.9059V423C0 436.255 10.7452 447 24 447H405C418.255 447 429 436.255 429 423V24Z"
                  fill="#ECECEC"
                />
              </svg>
            </div>
            <div class="our-advantages__swiper-slide--background mobile">
              <svg width="343" height="398" viewBox="0 0 343 398" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M12 56C5.37258 56 0 61.3726 0 68V386C0 392.627 5.37258 398 12 398H331C337.627 398 343 392.627 343 386V12C343 5.37258 337.627 0 331 0H80C73.3726 0 68 5.37258 68 12V44C68 50.6274 62.6274 56 56 56H12Z" fill="#ECECEC"/>
                </svg>
                
            </div>
          </div>
          <div class="our-advantages__swiper-slide swiper-slide">
            <div class="our-advantages__number tl3">/02</div>
            <div class="our-advantages__img">
              <img src="./assets/images/advantages-slide-img-2.webp" alt="" />
            </div>
            <div class="our-advantages__text tl4">
              Персонализированная нагрузка, которая подбирается под состояние вашего опорно-двигательного
              аппарата и с учётом вашего запроса
            </div>
            <div class="our-advantages__swiper-slide--background desktop">
              <svg
                width="429"
                height="447"
                viewBox="0 0 429 447"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M429 24C429 10.7452 418.255 0 405 0H107C93.7452 0 83 10.7452 83 24V32.9059C83 46.1607 72.2548 56.9059 59 56.9059H24C10.7452 56.9059 0 67.6511 0 80.9059V423C0 436.255 10.7452 447 24 447H405C418.255 447 429 436.255 429 423V24Z"
                  fill="#ECECEC"
                />
              </svg>
            </div>
            <div class="our-advantages__swiper-slide--background mobile">
              <svg width="343" height="398" viewBox="0 0 343 398" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M12 56C5.37258 56 0 61.3726 0 68V386C0 392.627 5.37258 398 12 398H331C337.627 398 343 392.627 343 386V12C343 5.37258 337.627 0 331 0H80C73.3726 0 68 5.37258 68 12V44C68 50.6274 62.6274 56 56 56H12Z" fill="#ECECEC"/>
                </svg>
                
            </div>
          </div>
          <div class="our-advantages__swiper-slide swiper-slide">
            <div class="our-advantages__number tl3">/03</div>
            <div class="our-advantages__img">
              <img src="./assets/images/advantages-slide-img-3.webp" alt="" />
            </div>
            <div class="our-advantages__text tl4">Упражнения выполняются под контролем тренера</div>
            <div class="our-advantages__swiper-slide--background desktop">
              <svg
                width="429"
                height="447"
                viewBox="0 0 429 447"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M429 24C429 10.7452 418.255 0 405 0H107C93.7452 0 83 10.7452 83 24V32.9059C83 46.1607 72.2548 56.9059 59 56.9059H24C10.7452 56.9059 0 67.6511 0 80.9059V423C0 436.255 10.7452 447 24 447H405C418.255 447 429 436.255 429 423V24Z"
                  fill="#ECECEC"
                />
              </svg>
            </div>
            <div class="our-advantages__swiper-slide--background mobile">
              <svg width="343" height="398" viewBox="0 0 343 398" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M12 56C5.37258 56 0 61.3726 0 68V386C0 392.627 5.37258 398 12 398H331C337.627 398 343 392.627 343 386V12C343 5.37258 337.627 0 331 0H80C73.3726 0 68 5.37258 68 12V44C68 50.6274 62.6274 56 56 56H12Z" fill="#ECECEC"/>
                </svg>
                
            </div>
          </div>
          <div class="our-advantages__swiper-slide swiper-slide">
            <div class="our-advantages__number tl3">/04</div>
            <div class="our-advantages__img">
              <img src="./assets/images/advantages-slide-img-4.webp" alt="" />
            </div>
            <div class="our-advantages__text tl4">
              Вместо растяжки безопасная техника миофасциального релиза
            </div>
            <div class="our-advantages__swiper-slide--background desktop">
              <svg
                width="429"
                height="447"
                viewBox="0 0 429 447"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M429 24C429 10.7452 418.255 0 405 0H107C93.7452 0 83 10.7452 83 24V32.9059C83 46.1607 72.2548 56.9059 59 56.9059H24C10.7452 56.9059 0 67.6511 0 80.9059V423C0 436.255 10.7452 447 24 447H405C418.255 447 429 436.255 429 423V24Z"
                  fill="#ECECEC"
                />
              </svg>
            </div>
            <div class="our-advantages__swiper-slide--background mobile">
              <svg width="343" height="398" viewBox="0 0 343 398" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M12 56C5.37258 56 0 61.3726 0 68V386C0 392.627 5.37258 398 12 398H331C337.627 398 343 392.627 343 386V12C343 5.37258 337.627 0 331 0H80C73.3726 0 68 5.37258 68 12V44C68 50.6274 62.6274 56 56 56H12Z" fill="#ECECEC"/>
                </svg>
                
            </div>
          </div>
        </div>
      </div>
      <div class="our-advantages__swiper-navigation mobile">
        <div
          class="our-advantages__swiper-btn our-advantages__swiper-btn--prev swiper-btn swiper-button-prev swiper-button-disabled"
        >
          <div class="swiper-btn__svg-box">
            <svg width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M9.10082 20.8994L9.10082 21.8994L11.1008 21.8994L11.1008 20.8994L9.10082 20.8994ZM11.1008 2.33788C11.1008 1.78559 10.6531 1.33788 10.1008 1.33788C9.54853 1.33788 9.10082 1.78559 9.10082 2.33788L11.1008 2.33788ZM11.1008 20.8994V2.33788L9.10082 2.33788V20.8994L11.1008 20.8994Z"
                fill="#393C43"
              ></path>
              <path
                d="M2.05761 9.1438L10.1009 1.10046L18.1443 9.1438"
                stroke="#393C43"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
            </svg>
          </div>
        </div>
        <div
          class="our-advantages__swiper-btn our-advantages__swiper-btn--next swiper-btn swiper-button-next"
        >
          <div class="swiper-btn__svg-box">
            <svg width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M10.8994 1.10057L10.8994 0.100572L8.89943 0.100571L8.89943 1.10057L10.8994 1.10057ZM8.89943 19.6621C8.89943 20.2144 9.34714 20.6621 9.89943 20.6621C10.4517 20.6621 10.8994 20.2144 10.8994 19.6621L8.89943 19.6621ZM8.89943 1.10057V19.6621L10.8994 19.6621V1.10057L8.89943 1.10057Z"
                fill="#393C43"
              ></path>
              <path
                d="M17.9426 12.8562L9.8993 20.8995L1.85596 12.8562"
                stroke="#393C43"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
