<section class="patterns">
  <div class="patterns__container container">
    <div class="patterns__left desktop">
      <img src="./assets/images/patterns-img.webp" alt="" />
    </div>
    <div class="patterns__right">
      <div class="patterns__title tl2">Functional patterns</div>
      <p class="patterns__text txt18">
        Functional Patterns — это система тренировок, направленная на улучшение биомеханики тела и работу с
        осанкой.
      </p>
      <p class="patterns__text txt18">
        Functional Patterns используют упражнения в нескольких плоскостях, чтобы интегрировать
        эффективные/корректные/функциональные упражнения в повседневную жизнь.
      </p>
      <p class="patterns__text txt18">
        К базовым двигательным паттернам относятся: <span>ходьба, бег, бросок и дыхание.</span>
      </p>
      <div class="patterns__img mobile">
        <img src="./assets/images/patterns-img.webp" alt="" />
      </div>
      <div class="patterns__list">
        <div class="patterns__list-title tl4">Благодаря методике Functional Patterns можно:</div>
        <ul class="txt18">
          <li>Обрести походку здорового человека,</li>
          <li>Улучшить физические качества как у любителей, так и у профессиональных спортсменов,</li>
          <li>Скорректировать осанку и асимметрии тела,</li>
          <li>Избавиться от зажимов и боли</li>
          <li>Улучшить эстетику тела без травм</li>
        </ul>
      </div>
    </div>
  </div>
</section>
