<div id="popup__application" aria-hidden="true" class="popup popup--application">
  <div class="popup__wrapper">
    <div class="popup__content popup__content--scale">
      <div class="popup__body">
        <button data-close type="button" class="popup__body-close-btn">
          <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect
              x="4.12134"
              y="0.14209"
              width="20"
              height="3"
              rx="1.5"
              transform="rotate(45 4.12134 0.14209)"
              fill="#393C43"
            />
            <rect
              x="2.12134"
              y="14.1421"
              width="20"
              height="3"
              rx="1.5"
              transform="rotate(-45 2.12134 14.1421)"
              fill="#393C43"
            />
          </svg>
        </button>
        <div class="popup__body-content-box">
          <form data-popup-message="" data-dev action="" class="popup__form">
            <p class="popup__form-title tl3">Заполните форму</p>
            <div class="popup__form-input-wrapper">
              <div class="popup__form-input-box txt20">
                <label class="popup__label input-group">
                  <span class="form__input-wrapper">
                    <input
                      class="input--name popup__form-input"
                      type="text"
                      data-validate
                      data-required="name"
                      autocomplete="off"
                      name="form[]"
                      placeholder="Ф.И.О."
                    />
                  </span>
                  <span class="error-span">Поле заполнено неверно</span>
                </label>

                <label class="popup__label input-group">
                  <span class="form__input-wrapper">
                    <input
                      class="input--mail popup__form-input"
                      type="email"
                      data-validate
                      data-required="name"
                      autocomplete="off"
                      name="form[]"
                      placeholder="Почта"
                    />
                  </span>
                  <span class="error-span">Поле заполнено неверно</span>
                </label>

                <label class="popup__label input-group">
                  <span class="form__input-wrapper">
                    <input
                      class="input--tel popup__form-input phone-mask"
                      type="text"
                      autocomplete="off"
                      name="form[]"
                      placeholder="Телефон"
                    />
                  </span>
                  <span class="error-span"></span>
                </label>
              </div>
              <div class="popup__btn-box">
                <p class="popup__agreement-text txt16">
                  Нажимая на кнопку, Вы соглашаетесь на <a href="#">обработку персональных данных</a> и
                  <a href="#">политику конфиденциальности</a>
                </p>
                <button type="submit" class="popup__link link-list">
                  <p class="popup__link-text link-list__text txt18">Получить видео</p>
                  <div class="popup__link-svg-wrapper link-list__svg-wrapper">
                    <div class="popup__link-svg-box link-list__svg-box">
                      <svg
                        width="15"
                        height="15"
                        viewBox="0 0 15 15"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M13.19 2.28989C13.6405 5.62957 11.7312 8.96832 8.40479 10.2225L1.80896 12.7101C1.35847 9.37043 3.26779 6.03169 6.5942 4.77755L13.19 2.28989ZM14.3847 0L5.97263 3.17284C1.18165 4.98 -1.21709 10.2749 0.615291 15L9.02729 11.8272C13.8183 10.02 16.2171 4.72505 14.3847 0Z"
                          fill="#6AA448"
                        />
                      </svg>
                    </div>
                  </div>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="popup__partners" aria-hidden="true" class="popup popup--right popup--partners">
  <div class="popup__wrapper">
    <div class="popup__content popup__content--right">
      <div class="popup__body">
        <button data-close type="button" class="popup__body-close-btn">
          <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect
              x="4.12134"
              y="0.14209"
              width="20"
              height="3"
              rx="1.5"
              transform="rotate(45 4.12134 0.14209)"
              fill="#393C43"
            />
            <rect
              x="2.12134"
              y="14.1421"
              width="20"
              height="3"
              rx="1.5"
              transform="rotate(-45 2.12134 14.1421)"
              fill="#393C43"
            />
          </svg>
        </button>
        <div class="popup__body-content-box">
          <div class="popup__body-title-wrapper">
            <div class="popup__body-title-img-box">
              <img src="./assets/images/partners-slide-img-1.webp" alt="" />
            </div>
            <div class="popup__body-title-box">
              <p class="popup__body-title tl3">Сергей Сергеевич Вялов</p>
              <a href="#" class="popup__body-info-bullet popup__body-info-bullet--green txt18"
                >@DoctorVyalov</a
              >
            </div>
          </div>
          <div class="popup__body-info-box">
            <div class="popup__body-info-text-wrapper">
              <p class="popup__body-info-text-title tl4">Образование:</p>
              <ul class="popup__body-info-text-box">
                <li class="popup__body-info-text txt18">
                  Высшее, НГУ им. П.Ф.Лесгафта, СЗГМУ им. И.И.Мечникова, ЛФК-специалист, научный деятель.
                </li>
              </ul>
            </div>

            <div class="popup__body-info-text-wrapper">
              <p class="popup__body-info-text-title tl4">Достижения:</p>
              <ul class="popup__body-info-list">
                <li class="popup__body-info-item txt18">Гастроэнтеролог и гепатолог</li>
                <li class="popup__body-info-item txt18">MD, PhD , кандидат медицинских наук</li>
                <li class="popup__body-info-item txt18">Врач №5 в рейтинге врачей-экспертов России</li>
                <li class="popup__body-info-item txt18">Гастроэнтеролог и гепатолог</li>
                <li class="popup__body-info-item txt18">MD, PhD , кандидат медицинских наук</li>
                <li class="popup__body-info-item txt18">Врач №5 в рейтинге врачей-экспертов России</li>
                <li class="popup__body-info-item txt18">Гастроэнтеролог и гепатолог</li>
                <li class="popup__body-info-item txt18">MD, PhD , кандидат медицинских наук</li>
                <li class="popup__body-info-item txt18">Врач №5 в рейтинге врачей-экспертов России</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="popup__specialists" aria-hidden="true" class="popup popup--right popup--specialists">
  <div class="popup__wrapper">
    <div class="popup__content popup__content--right">
      <div class="popup__body">
        <button data-close type="button" class="popup__body-close-btn">
          <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect
              x="4.12134"
              y="0.14209"
              width="20"
              height="3"
              rx="1.5"
              transform="rotate(45 4.12134 0.14209)"
              fill="#393C43"
            />
            <rect
              x="2.12134"
              y="14.1421"
              width="20"
              height="3"
              rx="1.5"
              transform="rotate(-45 2.12134 14.1421)"
              fill="#393C43"
            />
          </svg>
        </button>
        <div class="popup__body-content-box">
          <div class="popup__body-title-wrapper">
            <div class="popup__body-title-img-box popup__body-title-img-box--short">
              <img src="./assets/images/specialists-photo-popup.webp" alt="" />
            </div>
            <div class="popup__body-title-box">
              <p class="popup__body-title tl3">Юлия Пашкова</p>
              <a href="#" class="popup__body-info-bullet txt18">Запись на тренировки открыта </a>
            </div>
          </div>
          <div class="popup__body-info-box">
            <div class="popup__body-info-text-wrapper">
              <p class="popup__body-info-text-title tl4">Образование:</p>
              <ul class="popup__body-info-text-box">
                <li class="popup__body-info-text txt18">
                  Высшее, НГУ им. П.Ф.Лесгафта, СЗГМУ им. И.И.Мечникова, ЛФК-специалист, научный деятель.
                </li>
              </ul>
            </div>

            <div class="popup__body-info-text-wrapper">
              <p class="popup__body-info-text-title tl4">Достижения:</p>
              <ul class="popup__body-info-text-box">
                <li class="popup__body-info-text txt18">
                  Сертифицированный специалист по коррекции сколиоза (SEAS).
                </li>
                <li class="popup__body-info-text txt18">
                  Специалист по коррекции ОДА с акцентом на улучшение эстетики.
                </li>
                <li class="popup__body-info-text txt18">
                  Сертифицированный специалист по коррекции сколиоза (SEAS).
                </li>
              </ul>
            </div>

            <div class="popup__body-info-text-wrapper">
              <p class="popup__body-info-text-title tl4">Тренерский стаж:</p>
              <div class="popup__body-info-text-box">
                <p class="popup__body-info-text txt18">с 2011 года</p>
              </div>
            </div>

            <button data-popup="#popup__application" class="specialists__link link-list">
              <p class="specialists__link-text link-list__text txt18">Связаться с менеджером</p>
              <div class="specialists__link-svg-wrapper link-list__svg-wrapper">
                <div class="specialists__link-svg-box link-list__svg-box">
                  <svg
                    width="15"
                    height="15"
                    viewBox="0 0 15 15"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M13.19 2.28989C13.6405 5.62957 11.7312 8.96832 8.40479 10.2225L1.80896 12.7101C1.35847 9.37043 3.26779 6.03169 6.5942 4.77755L13.19 2.28989ZM14.3847 0L5.97263 3.17284C1.18165 4.98 -1.21709 10.2749 0.615291 15L9.02729 11.8272C13.8183 10.02 16.2171 4.72505 14.3847 0Z"
                      fill="#6AA448"
                    />
                  </svg>
                </div>
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="popup__review" aria-hidden="true" class="popup popup--right popup--review">
  <div class="popup__wrapper">
    <div class="popup__content popup__content--right">
      <div class="popup__body">
        <button data-close type="button" class="popup__body-close-btn">
          <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect
              x="4.12134"
              y="0.14209"
              width="20"
              height="3"
              rx="1.5"
              transform="rotate(45 4.12134 0.14209)"
              fill="#393C43"
            />
            <rect
              x="2.12134"
              y="14.1421"
              width="20"
              height="3"
              rx="1.5"
              transform="rotate(-45 2.12134 14.1421)"
              fill="#393C43"
            />
          </svg>
        </button>
        <div class="popup__body-content-box">
          <div class="popup__body-title-wrapper">
            <div class="popup__body-title-img-box popup__body-title-img-box--short">
              <img src="./assets/images/review-popup-photo.webp" alt="" />
            </div>
            <div class="popup__body-title-box">
              <p class="popup__body-title tl3">Мария</p>
              <p class="popup__body-info-bullet popup__body-info-bullet--green txt18"
                >Бьюти- блогер</p
              >
            </div>
          </div>
          <div class="popup__body-info-box popup__body-info-box--long">
            <div class="popup__body-info-text-wrapper">
              <div class="popup__body-info-text-box">
                <p class="popup__body-info-text popup__body-info-text--black txt18">
                  Сначала я, просто кайфовала от нажатий на стопы и болевые точки на теле, так как хоть это и
                  больно изначально, это все равно самая лайтовая часть тренировки c Пашей Я, на ней отдыхала.
                  A потом заметила что упражения даются проще, когда все болевые точки расслаблены. Паша
                  посоветовал мне всегда начинать день c расслабления стоп мячиками. Сначала забывала и
                  ленилась, a потом заставила себя и обнаружила, что стала неосознанно расслаблять их даже
                  сидя на барном стуле y меня на кухне. B целом с этой привычкой ходить стало легче, походка
                  стала круче. B общем, советую всем приучить себя к МФР.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="popup__contact-manager" aria-hidden="true" class="popup popup--skeleton">
  <div class="popup__wrapper">
    <div class="popup__content popup__content--scale">
      <div class="popup__body">
        <button data-close type="button" class="popup__body-close-btn">
          <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect
              x="4.12134"
              y="0.14209"
              width="20"
              height="3"
              rx="1.5"
              transform="rotate(45 4.12134 0.14209)"
              fill="#393C43"
            />
            <rect
              x="2.12134"
              y="14.1421"
              width="20"
              height="3"
              rx="1.5"
              transform="rotate(-45 2.12134 14.1421)"
              fill="#393C43"
            />
          </svg>
        </button>
        <div class="popup__body-content-box">
          <form data-popup-message="#popup__contact-success" data-dev action="" class="popup__form">
            <div class="popup__form-title-box">
              <p class="popup__form-title tl2">Связаться с менеджером</p>
              <p class="popup__form-desc txt20">
                Оставьте свои данные и наш менеджер свяжется с вами в ближайшее время
              </p>
            </div>
            <div class="popup__form-input-wrapper">
              <div class="popup__form-input-box txt20">
                <label class="popup__label input-group">
                  <span class="form__input-wrapper">
                    <input
                      class="input--name popup__form-input"
                      type="text"
                      data-validate
                      data-required="name"
                      autocomplete="off"
                      name="form[]"
                      placeholder="Имя"
                    />
                  </span>
                  <span class="error-span">Поле заполнено неверно</span>
                </label>
                <label class="popup__label input-group">
                  <span class="form__input-wrapper">
                    <input
                      class="input--tel popup__form-input phone-mask"
                      type="text"
                      autocomplete="off"
                      name="form[]"
                      placeholder="Телефон"
                      data-validate
                      data-required="tel"
                    />
                  </span>
                  <span class="error-span">Поле заполнено неверно</span>
                </label>
              </div>
              <div class="popup__btn-box">
                <p class="popup__agreement-text txt16">
                  Нажимая на кнопку “Отправить”, Вы соглашаетесь на
                  <a href="#">обработку персональных данных</a> и
                  <a href="#">политику конфиденциальности</a>
                </p>
                <button type="submit" class="popup__link link-list">
                  <p class="popup__link-text link-list__text txt18">Отправить</p>
                  <div class="popup__link-svg-wrapper link-list__svg-wrapper">
                    <div class="popup__link-svg-box link-list__svg-box">
                      <svg
                        width="15"
                        height="15"
                        viewBox="0 0 15 15"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M13.19 2.28989C13.6405 5.62957 11.7312 8.96832 8.40479 10.2225L1.80896 12.7101C1.35847 9.37043 3.26779 6.03169 6.5942 4.77755L13.19 2.28989ZM14.3847 0L5.97263 3.17284C1.18165 4.98 -1.21709 10.2749 0.615291 15L9.02729 11.8272C13.8183 10.02 16.2171 4.72505 14.3847 0Z"
                          fill="#6AA448"
                        />
                      </svg>
                    </div>
                  </div>
                </button>
              </div>
            </div>
          </form>

          <div class="popup__body-btn-box">
            <a href="#" class="popup__body-btn">
              <div class="popup__body-btn-svg-box">
                <img src="./assets/images/icons/viber.svg" alt="" />
              </div>
            </a>
            <a href="#" class="popup__body-btn">
              <div class="popup__body-btn-svg-box">
                <img src="./assets/images/icons/watsapp.svg" alt="" />
              </div>
            </a>
            <a href="#" class="popup__body-btn">
              <div class="popup__body-btn-svg-box">
                <img src="./assets/images/icons/telegram.svg" alt="" />
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="popup__contact-success" aria-hidden="true" class="popup popup--skeleton">
  <div class="popup__wrapper">
    <div class="popup__content popup__content--scale">
      <div class="popup__body">
        <button data-close type="button" class="popup__body-close-btn">
          <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect
              x="4.12134"
              y="0.14209"
              width="20"
              height="3"
              rx="1.5"
              transform="rotate(45 4.12134 0.14209)"
              fill="#393C43"
            />
            <rect
              x="2.12134"
              y="14.1421"
              width="20"
              height="3"
              rx="1.5"
              transform="rotate(-45 2.12134 14.1421)"
              fill="#393C43"
            />
          </svg>
        </button>
        <div class="popup__body-content-box popup__body-content-box--long">
          <div class="popup__body-content-info">
            <div class="popup__form-title-box">
              <p class="popup__form-title tl2">Спасибо, что оставили заявку!</p>
              <p class="popup__form-desc txt20">
                Наш менеджер свяжется с вами в ближайшее время
              </p>
            </div>
            <button data-close class="popup__link link-list">
              <p class="popup__link-text link-list__text txt18">На главную</p>
              <div class="popup__link-svg-wrapper link-list__svg-wrapper">
                <div class="popup__link-svg-box link-list__svg-box">
                  <svg
                    width="15"
                    height="15"
                    viewBox="0 0 15 15"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M13.19 2.28989C13.6405 5.62957 11.7312 8.96832 8.40479 10.2225L1.80896 12.7101C1.35847 9.37043 3.26779 6.03169 6.5942 4.77755L13.19 2.28989ZM14.3847 0L5.97263 3.17284C1.18165 4.98 -1.21709 10.2749 0.615291 15L9.02729 11.8272C13.8183 10.02 16.2171 4.72505 14.3847 0Z"
                      fill="#6AA448"
                    />
                  </svg>
                </div>
              </div>
            </button>
          </div>

          <div class="popup__body-btn-box">
            <a href="#" class="popup__body-btn">
              <div class="popup__body-btn-svg-box">
                <img src="./assets/images/icons/viber.svg" alt="" />
              </div>
            </a>
            <a href="#" class="popup__body-btn">
              <div class="popup__body-btn-svg-box">
                <img src="./assets/images/icons/watsapp.svg" alt="" />
              </div>
            </a>
            <a href="#" class="popup__body-btn">
              <div class="popup__body-btn-svg-box">
                <img src="./assets/images/icons/telegram.svg" alt="" />
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
