<section class="release">
  <div class="release__container container">
    <div class="release__left">
      <picture>
        <source media="(min-width: 48em)" srcset="./assets/images/release-img.webp" />
        <source media="(max-width: 48em)" srcset="./assets/images/release-img-mobile.webp" />
        <img src="./assets/images/release-img.webp" alt="" />
      </picture>
    </div>
    <div class="release__right">
      <div class="release__title tl2">Миофасциальный релиз</div>
      <div class="release__text txt18">
        Миофасциальный релиз (МФР)— технология самомассажа, направленная на расслабление мышц и фасций
        (соединительной ткани)
      </div>
      <div class="release__list">
        <div class="release__list-title tl4">Техники миофасциального релиза:</div>
        <ul class="txt18">
          <li>Подготавливают тело к нагрузкам;</li>
          <li>Восстанавливают после тяжелых тренировок;</li>
          <li>Увеличивают амплитуду движений;</li>
          <li>Улучшают качество сна;</li>
          <li>Улучшают состояние кожи.</li>
        </ul>
      </div>
      <div class="release__text txt18">
        Миофасциальный релиз выполняется при помощи специального инвентаря: роллы и мячи для МФР. На некоторых
        зонах МФР удобно делать руками.
      </div>
      <div class="release__mark txt18">
        МФР — это возможность самостоятельно расслабить мускулатуру, найти болевые точки и избавиться от них.
      </div>
    </div>
  </div>
</section>
