<section class="seas">
  <div class="seas__container container">
    <div class="seas__left">
      <div class="seas__title tl2">SEAS</div>
      <p class="seas__text txt18">
        SEAS — Scientific Exercise Approach to Scoliosis. Концепция коррекции сколиоза с научно-доказательной
        базой. Каждое действие, происходящее на занятии, подтверждено научными исследованиями и сопровождаются
        соответствующими результатами.
      </p>
      <p class="seas__text txt18">
        В основе концепции SEAS работа с активной самостоятельной коррекцией. Она направлена на восстановление
        максимально возможного физиологического положения позвоночника таким образом, чтобы человек был
        способен удерживать его в повседневной жизни.
      </p>
      <p class="seas__text txt18">
        Упражнения концепции SEAS адаптируются индивидуально под каждого клиента. Важно, чтобы человек
        понимал, что и как нужно делать. Только в этом случае возможна самостоятельная коррекция.
      </p>
      <div class="seas__mark txt18">
        Использование в работе концепции SEAS помогает остановить развитие сколиоза и скорректировать его до
        оптимального состояния.
      </div>
    </div>
    <div class="seas__right">
      <img src="./assets/images/seas-img.webp" alt="" />
    </div>
  </div>
</section>
