<section class="specialists">
  <div class="container">
    <div class="specialists__inner">
      <div class="specialists__content-box">
        <div class="specialists__text-box">
          <p class="specialists__title tl2">Тренировки и специалисты студии</p>
          <div class="specialists__list-box">
            <p class="specialists__list-title tl3">Мы используем</p>
            <ul class="specialists__list">
              <li class="specialists__item txt18">
                тренировочную система Functional Patterns. В основе этой системы — оптимизация базовых
                двигательных паттернов: дыхание, ходьба, бег, бросок.
              </li>
              <li class="specialists__item txt18">
                SEAS — итальянскую методику по коррекции сколиоза с научно-доказательной базой.
              </li>
              <li class="specialists__item txt18">
                технологии миофасциального релиза — самомассаж с помощью специального инвентаря.
              </li>
            </ul>
          </div>
        </div>
        <div class="specialists__link-box">
          <div class="specialists__img-wrapper">
            <div class="specialists__img-card">
              <div class="specialists__img-box">
                <img src="./assets/images/specialists-img-1.webp" alt="" />
              </div>
            </div>
            <div class="specialists__img-card">
              <div class="specialists__img-box">
                <img src="./assets/images/specialists-img-2.webp" alt="" />
              </div>
            </div>
            <div class="specialists__img-card">
              <div class="specialists__img-box">
                <img src="./assets/images/specialists-img-3.webp" alt="" />
              </div>
            </div>
          </div>
          <a href="#" class="specialists__link link-list">
            <p class="specialists__link-text link-list__text txt18">Узнать стоимость</p>
            <div class="specialists__link-svg-wrapper link-list__svg-wrapper">
              <div class="specialists__link-svg-box link-list__svg-box">
                <svg
                  width="15"
                  height="15"
                  viewBox="0 0 15 15"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M13.19 2.28989C13.6405 5.62957 11.7312 8.96832 8.40479 10.2225L1.80896 12.7101C1.35847 9.37043 3.26779 6.03169 6.5942 4.77755L13.19 2.28989ZM14.3847 0L5.97263 3.17284C1.18165 4.98 -1.21709 10.2749 0.615291 15L9.02729 11.8272C13.8183 10.02 16.2171 4.72505 14.3847 0Z"
                    fill="#6AA448"
                  />
                </svg>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="specialists__swiper-box">
        <div class="specialists__swiper swiper">
          <div class="specialists__swiper-wrapper swiper-wrapper">
            <div class="specialists__swiper-slide swiper-slide">
              <div class="specialists__swiper-slide-inner">
                <div class="specialists__swiper-content-box">
                  <div class="specialists__swiper-text-box">
                    <p class="specialists__swiper-title tl3">Юлия Пашкова</p>
                 
                      <p class="specialists__swiper-desc txt18">
                        Сертифицированный специалист по коррекции сколиоза (SEAS). Специалист по коррекции
                        опорно-двигательного аппарата с акцентом на улучшение эстетики.
                      </p>
                   
                  </div>
                  <button data-popup="#popup__specialists" class="specialists__swiper-link link-white">Узнать больше</button>
                </div>
                <div class="specialists__swiper-photo-wrapper">
                  <div class="specialists__swiper-photo-box">
                    <img src="./assets/images/specialists-photo.webp" alt="" />
                  </div>
                </div>
              </div>
            </div>
            <div class="specialists__swiper-slide swiper-slide">
              <div class="specialists__swiper-slide-inner">
                <div class="specialists__swiper-content-box">
                  <div class="specialists__swiper-text-box">
                    <p class="specialists__swiper-title tl3">
                      Шамиль Шарипов
                    </p>
              
                      <p class="specialists__swiper-desc txt18">
                        Сертифицированный специалист по коррекции сколиоза (SEAS)
                        <br />
                        <br />
                        Специалист по коррекции опорно-двигательного аппарата, в том числе, у спортсменов.
                      </p>
                
                  </div>
                  <button data-popup="#popup__specialists" class="specialists__swiper-link link-white">Узнать больше</button>
                </div>
                <div class="specialists__swiper-photo-wrapper">
                  <div class="specialists__swiper-photo-box">
                    <img src="./assets/images/specialists-photo.webp" alt="" />
                  </div>
                </div>
              </div>
            </div>
            <div class="specialists__swiper-slide swiper-slide">
              <div class="specialists__swiper-slide-inner">
                <div class="specialists__swiper-content-box">
                  <div class="specialists__swiper-text-box">
                    <p class="specialists__swiper-title tl3">Юлия Пашкова</p>
                
                      <p class="specialists__swiper-desc txt18">
                        Сертифицированный специалист по коррекции сколиоза (SEAS). Специалист по коррекции
                        опорно-двигательного аппарата с акцентом на улучшение эстетики.
                      </p>
                 
                  </div>
                  <button data-popup="#popup__specialists" class="specialists__swiper-link link-white">Узнать больше</button>
                </div>
                <div class="specialists__swiper-photo-wrapper">
                  <div class="specialists__swiper-photo-box">
                    <img src="./assets/images/specialists-photo.webp" alt="" />
                  </div>
                </div>
              </div>
            </div>
            <div class="specialists__swiper-slide swiper-slide">
              <div class="specialists__swiper-slide-inner">
                <div class="specialists__swiper-content-box">
                  <div class="specialists__swiper-text-box">
                    <p class="specialists__swiper-title tl3">Шамиль Шарипов</p>
               
                      <p class="specialists__swiper-desc txt18">
                        Сертифицированный специалист по коррекции сколиоза (SEAS)
                        <br />
                        Специалист по коррекции опорно-двигательного аппарата, в том числе, у спортсменов.
                      </p>
               
                  </div>
                  <button data-popup="#popup__specialists" class="specialists__swiper-link link-white">Узнать больше</button>
                </div>
                <div class="specialists__swiper-photo-wrapper">
                  <div class="specialists__swiper-photo-box">
                    <img src="./assets/images/specialists-photo.webp" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="specialists__swiper-btn-box">
          <div class="specialists__swiper-btn specialists__swiper-btn--prev swiper-btn swiper-button-prev">
            <div class="swiper-btn__svg-box">
              <svg width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M9.10082 20.8994L9.10082 21.8994L11.1008 21.8994L11.1008 20.8994L9.10082 20.8994ZM11.1008 2.33788C11.1008 1.78559 10.6531 1.33788 10.1008 1.33788C9.54853 1.33788 9.10082 1.78559 9.10082 2.33788L11.1008 2.33788ZM11.1008 20.8994V2.33788L9.10082 2.33788V20.8994L11.1008 20.8994Z"
                  fill="#393C43"
                />
                <path
                  d="M2.05761 9.1438L10.1009 1.10046L18.1443 9.1438"
                  stroke="#393C43"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </div>
          <div class="specialists__swiper-btn specialists__swiper-btn--next swiper-btn swiper-button-next">
            <div class="swiper-btn__svg-box">
              <svg width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M10.8994 1.10057L10.8994 0.100572L8.89943 0.100571L8.89943 1.10057L10.8994 1.10057ZM8.89943 19.6621C8.89943 20.2144 9.34714 20.6621 9.89943 20.6621C10.4517 20.6621 10.8994 20.2144 10.8994 19.6621L8.89943 19.6621ZM8.89943 1.10057V19.6621L10.8994 19.6621V1.10057L8.89943 1.10057Z"
                  fill="#393C43"
                />
                <path
                  d="M17.9426 12.8562L9.8993 20.8995L1.85596 12.8562"
                  stroke="#393C43"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
