<section class="subscriptions">
  <div class="subscriptions__container container">
    <div class="subscriptions__title tl2">Абонементы на занятия</div>
    <div class="subscriptions__slider">
      <div class="subscriptions__swiper swiper">
        <div class="swiper-wrapper">
          <div class="subscriptions__swiper-slide swiper-slide">
            <div class="subscriptions__slide-left">
              <div class="subscriptions__slide-left--title tl3">Абонемент на 10 тренировок</div>
              <ul class="subscriptions__slide-left--list txt18">
                <li class="subscriptions__slide-left--item">10 тренировок по 60 минут</li>
                <li class="subscriptions__slide-left--item">срок действия абонемента – 2 месяца</li>
                <li class="subscriptions__slide-left--item">приоритет в записях на тренировку</li>
                <li class="subscriptions__slide-left--item">
                  возможность зафиксировать за собой место у конкретного тренера
                </li>
                <li class="subscriptions__slide-left--item">
                  возможность бесплатно перенести тренировку 2 раза (день в день)
                </li>
                <li class="subscriptions__slide-left--item">скидка 5%</li>
              </ul>
              <div class="subscriptions__slide-bottom">
                <div class="subscriptions__slide-bottom--box">
                  <div>
                    <div class="subscriptions__slide-bottom--method txt18">Онлайн</div>
                    <div class="subscriptions__slide-bottom--price tl3">6 000 ₽</div>
                  </div>
                  <!-- <div>
                    <span class="txt18">Записаться</span>
                    <div>
                      <svg
                        width="46"
                        height="46"
                        viewBox="0 0 46 46"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <circle cx="23" cy="23" r="23" fill="white" />
                        <path
                          d="M29.19 18.2899C29.6405 21.6296 27.7312 24.9683 24.4048 26.2225L17.809 28.7101C17.3585 25.3704 19.2678 22.0317 22.5942 20.7775L29.19 18.2899ZM30.3847 16L21.9726 19.1728C17.1816 20.98 14.7829 26.2749 16.6153 31L25.0273 27.8272C29.8183 26.02 32.2171 20.7251 30.3847 16Z"
                          fill="#6AA448"
                        />
                      </svg>
                    </div>
                  </div>  -->

                  <a href="#" class="subscriptions__link link-list">
                    <p class="subscriptions__link-text link-list__text txt18">Записаться</p>
                    <div class="subscriptions__link-svg-wrapper link-list__svg-wrapper">
                      <div class="subscriptions__link-svg-box link-list__svg-box">
                        <svg
                          width="15"
                          height="15"
                          viewBox="0 0 15 15"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M13.19 2.28989C13.6405 5.62957 11.7312 8.96832 8.40479 10.2225L1.80896 12.7101C1.35847 9.37043 3.26779 6.03169 6.5942 4.77755L13.19 2.28989ZM14.3847 0L5.97263 3.17284C1.18165 4.98 -1.21709 10.2749 0.615291 15L9.02729 11.8272C13.8183 10.02 16.2171 4.72505 14.3847 0Z"
                            fill="#6AA448"
                          />
                        </svg>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="subscriptions__slide-bottom--box">
                  <div>
                    <div class="subscriptions__slide-bottom--method txt18">Офлайн</div>
                    <div class="subscriptions__slide-bottom--price tl3">6 000 ₽</div>
                  </div>
                  <!-- <div>
                    <span class="txt18">Записаться</span>
                    <div>
                      <svg
                        width="46"
                        height="46"
                        viewBox="0 0 46 46"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <circle cx="23" cy="23" r="23" fill="white" />
                        <path
                          d="M29.19 18.2899C29.6405 21.6296 27.7312 24.9683 24.4048 26.2225L17.809 28.7101C17.3585 25.3704 19.2678 22.0317 22.5942 20.7775L29.19 18.2899ZM30.3847 16L21.9726 19.1728C17.1816 20.98 14.7829 26.2749 16.6153 31L25.0273 27.8272C29.8183 26.02 32.2171 20.7251 30.3847 16Z"
                          fill="#6AA448"
                        />
                      </svg>
                    </div>
                  </div> -->
                  <a href="#" class="subscriptions__link link-list">
                    <p class="subscriptions__link-text link-list__text txt18">Записаться</p>
                    <div class="subscriptions__link-svg-wrapper link-list__svg-wrapper">
                      <div class="subscriptions__link-svg-box link-list__svg-box">
                        <svg
                          width="15"
                          height="15"
                          viewBox="0 0 15 15"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M13.19 2.28989C13.6405 5.62957 11.7312 8.96832 8.40479 10.2225L1.80896 12.7101C1.35847 9.37043 3.26779 6.03169 6.5942 4.77755L13.19 2.28989ZM14.3847 0L5.97263 3.17284C1.18165 4.98 -1.21709 10.2749 0.615291 15L9.02729 11.8272C13.8183 10.02 16.2171 4.72505 14.3847 0Z"
                            fill="#6AA448"
                          />
                        </svg>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="subscriptions__slide-right">
              <div class="subscriptions__slide-img">
                <img src="./assets/images/subscriptions-slide-img.webp" alt="" />
              </div>
            </div>
          </div>
          <div class="subscriptions__swiper-slide swiper-slide">
            <div class="subscriptions__slide-left">
              <div class="subscriptions__slide-left--title tl3">Абонемент на 10 тренировок</div>
              <ul class="subscriptions__slide-left--list txt18">
                <li class="subscriptions__slide-left--item">10 тренировок по 60 минут</li>
                <li class="subscriptions__slide-left--item">срок действия абонемента – 2 месяца</li>
                <li class="subscriptions__slide-left--item">приоритет в записях на тренировку</li>
                <li class="subscriptions__slide-left--item">
                  возможность зафиксировать за собой место у конкретного тренера
                </li>
                <li class="subscriptions__slide-left--item">
                  возможность бесплатно перенести тренировку 2 раза (день в день)
                </li>
                <li class="subscriptions__slide-left--item">скидка 5%</li>
              </ul>
              <div class="subscriptions__slide-bottom">
                <div class="subscriptions__slide-bottom--box">
                  <div>
                    <div class="subscriptions__slide-bottom--method txt18">Онлайн</div>
                    <div class="subscriptions__slide-bottom--price tl3">6 000 ₽</div>
                  </div>
                  <!-- <div>
                    <span class="txt18">Записаться</span>
                    <div>
                      <svg
                        width="46"
                        height="46"
                        viewBox="0 0 46 46"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <circle cx="23" cy="23" r="23" fill="white" />
                        <path
                          d="M29.19 18.2899C29.6405 21.6296 27.7312 24.9683 24.4048 26.2225L17.809 28.7101C17.3585 25.3704 19.2678 22.0317 22.5942 20.7775L29.19 18.2899ZM30.3847 16L21.9726 19.1728C17.1816 20.98 14.7829 26.2749 16.6153 31L25.0273 27.8272C29.8183 26.02 32.2171 20.7251 30.3847 16Z"
                          fill="#6AA448"
                        />
                      </svg>
                    </div>
                  </div> -->
                  <a href="#" class="subscriptions__link link-list">
                    <p class="subscriptions__link-text link-list__text txt18">Записаться</p>
                    <div class="subscriptions__link-svg-wrapper link-list__svg-wrapper">
                      <div class="subscriptions__link-svg-box link-list__svg-box">
                        <svg
                          width="15"
                          height="15"
                          viewBox="0 0 15 15"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M13.19 2.28989C13.6405 5.62957 11.7312 8.96832 8.40479 10.2225L1.80896 12.7101C1.35847 9.37043 3.26779 6.03169 6.5942 4.77755L13.19 2.28989ZM14.3847 0L5.97263 3.17284C1.18165 4.98 -1.21709 10.2749 0.615291 15L9.02729 11.8272C13.8183 10.02 16.2171 4.72505 14.3847 0Z"
                            fill="#6AA448"
                          />
                        </svg>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="subscriptions__slide-bottom--box">
                  <div>
                    <div class="subscriptions__slide-bottom--method txt18">Офлайн</div>
                    <div class="subscriptions__slide-bottom--price tl3">6 000 ₽</div>
                  </div>
                  <!-- <div>
                    <span class="txt18">Записаться</span>
                    <div>
                      <svg
                        width="46"
                        height="46"
                        viewBox="0 0 46 46"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <circle cx="23" cy="23" r="23" fill="white" />
                        <path
                          d="M29.19 18.2899C29.6405 21.6296 27.7312 24.9683 24.4048 26.2225L17.809 28.7101C17.3585 25.3704 19.2678 22.0317 22.5942 20.7775L29.19 18.2899ZM30.3847 16L21.9726 19.1728C17.1816 20.98 14.7829 26.2749 16.6153 31L25.0273 27.8272C29.8183 26.02 32.2171 20.7251 30.3847 16Z"
                          fill="#6AA448"
                        />
                      </svg>
                    </div>
                  </div> -->
                  <a href="#" class="subscriptions__link link-list">
                    <p class="subscriptions__link-text link-list__text txt18">Записаться</p>
                    <div class="subscriptions__link-svg-wrapper link-list__svg-wrapper">
                      <div class="subscriptions__link-svg-box link-list__svg-box">
                        <svg
                          width="15"
                          height="15"
                          viewBox="0 0 15 15"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M13.19 2.28989C13.6405 5.62957 11.7312 8.96832 8.40479 10.2225L1.80896 12.7101C1.35847 9.37043 3.26779 6.03169 6.5942 4.77755L13.19 2.28989ZM14.3847 0L5.97263 3.17284C1.18165 4.98 -1.21709 10.2749 0.615291 15L9.02729 11.8272C13.8183 10.02 16.2171 4.72505 14.3847 0Z"
                            fill="#6AA448"
                          />
                        </svg>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="subscriptions__slide-right">
              <div class="subscriptions__slide-img">
                <img src="./assets/images/subscriptions-slide-img.webp" alt="" />
              </div>
            </div>
          </div>
          <div class="subscriptions__swiper-slide swiper-slide">
            <div class="subscriptions__slide-left">
              <div class="subscriptions__slide-left--title tl3">Абонемент на 10 тренировок</div>
              <ul class="subscriptions__slide-left--list txt18">
                <li class="subscriptions__slide-left--item">10 тренировок по 60 минут</li>
                <li class="subscriptions__slide-left--item">срок действия абонемента – 2 месяца</li>
                <li class="subscriptions__slide-left--item">приоритет в записях на тренировку</li>
                <li class="subscriptions__slide-left--item">
                  возможность зафиксировать за собой место у конкретного тренера
                </li>
                <li class="subscriptions__slide-left--item">
                  возможность бесплатно перенести тренировку 2 раза (день в день)
                </li>
                <li class="subscriptions__slide-left--item">скидка 5%</li>
              </ul>
              <div class="subscriptions__slide-bottom">
                <div class="subscriptions__slide-bottom--box">
                  <div>
                    <div class="subscriptions__slide-bottom--method txt18">Онлайн</div>
                    <div class="subscriptions__slide-bottom--price tl3">6 000 ₽</div>
                  </div>
                  <!-- <div>
                    <span class="txt18">Записаться</span>
                    <div>
                      <svg
                        width="46"
                        height="46"
                        viewBox="0 0 46 46"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <circle cx="23" cy="23" r="23" fill="white" />
                        <path
                          d="M29.19 18.2899C29.6405 21.6296 27.7312 24.9683 24.4048 26.2225L17.809 28.7101C17.3585 25.3704 19.2678 22.0317 22.5942 20.7775L29.19 18.2899ZM30.3847 16L21.9726 19.1728C17.1816 20.98 14.7829 26.2749 16.6153 31L25.0273 27.8272C29.8183 26.02 32.2171 20.7251 30.3847 16Z"
                          fill="#6AA448"
                        />
                      </svg>
                    </div>
                  </div> -->
                  <a href="#" class="subscriptions__link link-list">
                    <p class="subscriptions__link-text link-list__text txt18">Записаться</p>
                    <div class="subscriptions__link-svg-wrapper link-list__svg-wrapper">
                      <div class="subscriptions__link-svg-box link-list__svg-box">
                        <svg
                          width="15"
                          height="15"
                          viewBox="0 0 15 15"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M13.19 2.28989C13.6405 5.62957 11.7312 8.96832 8.40479 10.2225L1.80896 12.7101C1.35847 9.37043 3.26779 6.03169 6.5942 4.77755L13.19 2.28989ZM14.3847 0L5.97263 3.17284C1.18165 4.98 -1.21709 10.2749 0.615291 15L9.02729 11.8272C13.8183 10.02 16.2171 4.72505 14.3847 0Z"
                            fill="#6AA448"
                          />
                        </svg>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="subscriptions__slide-bottom--box">
                  <div>
                    <div class="subscriptions__slide-bottom--method txt18">Офлайн</div>
                    <div class="subscriptions__slide-bottom--price tl3">6 000 ₽</div>
                  </div>
                  <!-- <div>
                    <span class="txt18">Записаться</span>
                    <div>
                      <svg
                        width="46"
                        height="46"
                        viewBox="0 0 46 46"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <circle cx="23" cy="23" r="23" fill="white" />
                        <path
                          d="M29.19 18.2899C29.6405 21.6296 27.7312 24.9683 24.4048 26.2225L17.809 28.7101C17.3585 25.3704 19.2678 22.0317 22.5942 20.7775L29.19 18.2899ZM30.3847 16L21.9726 19.1728C17.1816 20.98 14.7829 26.2749 16.6153 31L25.0273 27.8272C29.8183 26.02 32.2171 20.7251 30.3847 16Z"
                          fill="#6AA448"
                        />
                      </svg>
                    </div>
                  </div> -->
                  <a href="#" class="subscriptions__link link-list">
                    <p class="subscriptions__link-text link-list__text txt18">Записаться</p>
                    <div class="subscriptions__link-svg-wrapper link-list__svg-wrapper">
                      <div class="subscriptions__link-svg-box link-list__svg-box">
                        <svg
                          width="15"
                          height="15"
                          viewBox="0 0 15 15"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M13.19 2.28989C13.6405 5.62957 11.7312 8.96832 8.40479 10.2225L1.80896 12.7101C1.35847 9.37043 3.26779 6.03169 6.5942 4.77755L13.19 2.28989ZM14.3847 0L5.97263 3.17284C1.18165 4.98 -1.21709 10.2749 0.615291 15L9.02729 11.8272C13.8183 10.02 16.2171 4.72505 14.3847 0Z"
                            fill="#6AA448"
                          />
                        </svg>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="subscriptions__slide-right">
              <div class="subscriptions__slide-img">
                <img src="./assets/images/subscriptions-slide-img.webp" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="subscriptions__swiper-navigation">
        <div
          class="subscriptions__swiper-btn subscriptions__swiper-btn--prev swiper-btn swiper-button-prev swiper-button-disabled"
          tabindex="-1"
          role="button"
          aria-label="Previous slide"
          aria-controls="swiper-wrapper-fcbe63a1ff101836e"
          aria-disabled="true"
        >
          <div class="swiper-btn__svg-box">
            <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M20.8994 10.8994L21.8994 10.8994L21.8994 8.89943L20.8994 8.89943L20.8994 10.8994ZM2.33788 8.89943C1.78559 8.89943 1.33788 9.34714 1.33788 9.89943C1.33788 10.4517 1.78559 10.8994 2.33788 10.8994L2.33788 8.89943ZM20.8994 8.89943H2.33788L2.33788 10.8994H20.8994L20.8994 8.89943Z"
                fill="#393C43"
              ></path>
              <path
                d="M9.14404 17.9429L1.1007 9.89954L9.14404 1.8562"
                stroke="#393C43"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
            </svg>
          </div>
        </div>
        <div
          class="subscriptions__swiper-btn subscriptions__swiper-btn--next swiper-btn swiper-button-next"
          tabindex="0"
          role="button"
          aria-label="Next slide"
          aria-controls="swiper-wrapper-fcbe63a1ff101836e"
          aria-disabled="false"
        >
          <div class="swiper-btn__svg-box">
            <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M1.10033 9.10057L0.100327 9.10057L0.100327 11.1006L1.10033 11.1006L1.10033 9.10057ZM19.6619 11.1006C20.2142 11.1006 20.6619 10.6529 20.6619 10.1006C20.6619 9.54829 20.2142 9.10057 19.6619 9.10057L19.6619 11.1006ZM1.10033 11.1006L19.6619 11.1006L19.6619 9.10057L1.10033 9.10057L1.10033 11.1006Z"
                fill="#393C43"
              ></path>
              <path
                d="M12.8557 2.05712L20.8991 10.1005L12.8557 18.1438"
                stroke="#393C43"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
