<section class="suitable-course">
  <div class="container">
    <div class="suitable-course__inner">
      <div class="suitable-course__title-box">
        <p class="suitable-course__title tl2">Оцените насколько вам подходит этот курс</p>
        <p class="suitable-course__desc txt18">
          Идея создания курса пришла мне, когда я хотел решить собственную проблему с растяжкой и
          подвижностью, достичь нужных амплитуд. я с детства в спорте, растяжка всегда давалась плохо.
          хотелось стать эластичнее без боли.
        </p>
      </div>
      <div class="suitable-course__point-box">
        <ul class="suitable-course__point-list">
          <li class="suitable-course__point-item">
            <label for="" class="suitable-course__point-label">
              <input class="suitable-course__checkbox" type="checkbox"  />
              <span class="suitable-course__text txt20">Большие физические нагрузки</span>
            </label>
          </li>
          <li class="suitable-course__point-item">
            <label for="" class="suitable-course__point-label">
              <input class="suitable-course__checkbox" type="checkbox" />
              <span class="suitable-course__text txt20">Старые травмы</span>
            </label>
          </li>
          <li class="suitable-course__point-item">
            <label for="" class="suitable-course__point-label">
              <input class="suitable-course__checkbox" type="checkbox" />
              <span class="suitable-course__text txt20">Боль в мышцах и суставах</span>
            </label>
          </li>
          <li class="suitable-course__point-item">
            <label for="" class="suitable-course__point-label">
              <input class="suitable-course__checkbox" type="checkbox" />
              <span class="suitable-course__text txt20">Старые травмы</span>
            </label>
          </li>
          <li class="suitable-course__point-item">
            <label for="" class="suitable-course__point-label">
              <input class="suitable-course__checkbox" type="checkbox" checked/>
              <span class="suitable-course__text txt20">Плохая подвижность</span>
            </label>
          </li>
        </ul>
        <div class="suitable-course__img-box">
          <img src="./assets/images/suitable-course-img.webp" alt="" />
        </div>
        <ul class="suitable-course__point-list">
          <li class="suitable-course__point-item">
            <label for="" class="suitable-course__point-label">
              <input class="suitable-course__checkbox" type="checkbox" checked/>
              <span class="suitable-course__text txt20">Отсутствие тонуса в теле</span>
            </label>
          </li>
          <li class="suitable-course__point-item">
            <label for="" class="suitable-course__point-label">
              <input class="suitable-course__checkbox" type="checkbox"/>
              <span class="suitable-course__text txt20">Частые головные боли</span>
            </label>
          </li>
          <li class="suitable-course__point-item">
            <label for="" class="suitable-course__point-label">
              <input class="suitable-course__checkbox" type="checkbox"/>
              <span class="suitable-course__text txt20">Малоподвижный или сидячий образ жизни</span>
            </label>
          </li>
          <li class="suitable-course__point-item">
            <label for="" class="suitable-course__point-label">
              <input class="suitable-course__checkbox" type="checkbox" checked/>
              <span class="suitable-course__text txt20">Отсутствие тонуса в теле</span>
            </label>
          </li>
          <li class="suitable-course__point-item">
            <label for="" class="suitable-course__point-label">
              <input class="suitable-course__checkbox" type="checkbox"/>
              <span class="suitable-course__text txt20">Хроническая боль в спине</span>
            </label>
          </li>
        </ul>
      </div>
      <div class="suitable-course__num-box">
        <p class="suitable-course__num-title tl4">Курс подходит Вам на</p>
        <p class="suitable-course__num-wrapper"><span class="suitable-course__num">80</span>%</p>
      </div>
    </div>
  </div>
</section>
