<section class="training">
  <div class="training__container container">
    <div class="training__title tl2">Записаться на тренировки</div>
    <div class="training__slider">
      <div class="training__swiper swiper">
        <div class="swiper-wrapper">
          <div class="training__swiper-slide swiper-slide">
            <div class="training__slide-top">
              <div class="training__slide-top--title tl3">Первая персональная тренировка</div>
              <div class="training__slide-top--icon desktop">
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M12.4805 5.53235C12.4805 4.06112 11.2878 2.86841 9.81658 2.86841H4.70166C3.23044 2.86841 2.03772 4.06112 2.03772 5.53235C2.03772 5.92257 2.03772 8.34944 2.03772 8.73967C2.03772 10.2114 3.23095 11.4041 4.70218 11.4041H5.65519C6.04542 11.4041 8.47226 11.4041 8.86249 11.4041H9.81555C11.2873 11.4041 12.48 10.2109 12.48 8.73967C12.48 8.34944 12.48 5.92257 12.48 5.53235H12.4805Z"
                    fill="white"
                  />
                  <path
                    d="M12.4805 16.7655C12.4805 15.2943 11.2878 14.1016 9.81658 14.1016H4.70166C3.23044 14.1016 2.03772 15.2943 2.03772 16.7655C2.03772 17.1557 2.03772 19.5826 2.03772 19.9728C2.03772 21.4446 3.23095 22.6373 4.70218 22.6373H5.65519C6.04542 22.6373 8.47226 22.6373 8.86249 22.6373H9.81555C11.2873 22.6373 12.48 21.4441 12.48 19.9728C12.48 19.5826 12.48 17.1557 12.48 16.7655H12.4805Z"
                    fill="white"
                  />
                  <path
                    d="M21.7338 15.3829C21.9824 17.2517 20.9287 19.12 19.093 19.8218L15.4529 21.2138C15.2043 19.345 16.258 17.4767 18.0937 16.775L21.7338 15.3829ZM22.3931 14.1016L17.7507 15.877C15.1067 16.8882 13.7829 19.8511 14.7942 22.4952L19.4365 20.7197C22.0805 19.7085 23.4044 16.7456 22.3931 14.1016Z"
                    fill="#6AA448"
                  />
                  <path
                    d="M21.7338 4.14976C21.9824 6.01856 20.9287 7.88683 19.093 8.58862L15.4519 9.98117C15.3496 9.22274 15.4592 8.4491 15.7791 7.73263C16.2328 6.7172 17.0547 5.93884 18.0937 5.54179L21.7338 4.14976ZM22.3931 2.86841L17.7507 4.64384C15.1067 5.65508 13.7829 8.61799 14.7942 11.262L19.4365 9.48656C22.0805 8.47532 23.4044 5.51242 22.3931 2.86841Z"
                    fill="#6AA448"
                  />
                </svg>
              </div>
              <div class="training__slide-top--background">
                <img src="./assets/images/training__slide-top--background.webp" alt="" />
              </div>
            </div>
            <div class="training__slide-middle">
              <div class="training__slide-middle--title tl4">
                Первая персональная тренировка длится 1,5 часа и включает в себя:
              </div>
              <ul class="training__slide-middle--list txt18">
                <li class="training__slide-middle--item">оценку ОДА</li>
                <li class="training__slide-middle--item">проработку триггерных зон (миофасциальный релиз)</li>
                <li class="training__slide-middle--item">
                  выполнение коррекционных техник с учётом ваших индивидуальных особенностей
                </li>
                <li class="training__slide-middle--item">практические рекомендации</li>
                <li class="training__slide-middle--item">
                  возможность бесплатно перенести тренировку 1 раз (день в день)
                </li>
              </ul>
            </div>
            <div class="training__slide-bottom">
              <div class="training__slide-bottom--box">
                <div>
                  <div class="training__slide-bottom--method txt18">Онлайн</div>
                  <div class="training__slide-bottom--price tl3">6 000 ₽</div>
                </div>
                <!-- <div>
                  <span class="txt18">Записаться</span>
                  <div>
                    <svg
                      width="46"
                      height="46"
                      viewBox="0 0 46 46"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <circle cx="23" cy="23" r="23" fill="white" />
                      <path
                        d="M29.19 18.2899C29.6405 21.6296 27.7312 24.9683 24.4048 26.2225L17.809 28.7101C17.3585 25.3704 19.2678 22.0317 22.5942 20.7775L29.19 18.2899ZM30.3847 16L21.9726 19.1728C17.1816 20.98 14.7829 26.2749 16.6153 31L25.0273 27.8272C29.8183 26.02 32.2171 20.7251 30.3847 16Z"
                        fill="#6AA448"
                      />
                    </svg>
                  </div>
                </div> -->

                <a href="#" class="training__link link-list">
                  <p class="training__link-text link-list__text txt18">Записаться</p>
                  <div class="training__link-svg-wrapper link-list__svg-wrapper">
                    <div class="training__link-svg-box link-list__svg-box">
                      <svg
                        width="15"
                        height="15"
                        viewBox="0 0 15 15"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M13.19 2.28989C13.6405 5.62957 11.7312 8.96832 8.40479 10.2225L1.80896 12.7101C1.35847 9.37043 3.26779 6.03169 6.5942 4.77755L13.19 2.28989ZM14.3847 0L5.97263 3.17284C1.18165 4.98 -1.21709 10.2749 0.615291 15L9.02729 11.8272C13.8183 10.02 16.2171 4.72505 14.3847 0Z"
                          fill="#6AA448"
                        />
                      </svg>
                    </div>
                  </div>
                </a>
              </div>
              <div class="training__slide-bottom--box">
                <div>
                  <div class="training__slide-bottom--method txt18">Офлайн</div>
                  <div class="training__slide-bottom--price tl3">6 000 ₽</div>
                </div>
                <!-- <div>
                  <span class="txt18">Записаться</span>
                  <div>
                    <svg
                      width="46"
                      height="46"
                      viewBox="0 0 46 46"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <circle cx="23" cy="23" r="23" fill="white" />
                      <path
                        d="M29.19 18.2899C29.6405 21.6296 27.7312 24.9683 24.4048 26.2225L17.809 28.7101C17.3585 25.3704 19.2678 22.0317 22.5942 20.7775L29.19 18.2899ZM30.3847 16L21.9726 19.1728C17.1816 20.98 14.7829 26.2749 16.6153 31L25.0273 27.8272C29.8183 26.02 32.2171 20.7251 30.3847 16Z"
                        fill="#6AA448"
                      />
                    </svg>
                  </div>
                </div> -->
                <a href="#" class="training__link link-list">
                  <p class="training__link-text link-list__text txt18">Записаться</p>
                  <div class="training__link-svg-wrapper link-list__svg-wrapper">
                    <div class="training__link-svg-box link-list__svg-box">
                      <svg
                        width="15"
                        height="15"
                        viewBox="0 0 15 15"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M13.19 2.28989C13.6405 5.62957 11.7312 8.96832 8.40479 10.2225L1.80896 12.7101C1.35847 9.37043 3.26779 6.03169 6.5942 4.77755L13.19 2.28989ZM14.3847 0L5.97263 3.17284C1.18165 4.98 -1.21709 10.2749 0.615291 15L9.02729 11.8272C13.8183 10.02 16.2171 4.72505 14.3847 0Z"
                          fill="#6AA448"
                        />
                      </svg>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="training__swiper-slide swiper-slide">
            <div class="training__slide-top">
              <div class="training__slide-top--title tl3">Первая персональная тренировка</div>
              <div class="training__slide-top--icon desktop">
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M12.4805 5.53235C12.4805 4.06112 11.2878 2.86841 9.81658 2.86841H4.70166C3.23044 2.86841 2.03772 4.06112 2.03772 5.53235C2.03772 5.92257 2.03772 8.34944 2.03772 8.73967C2.03772 10.2114 3.23095 11.4041 4.70218 11.4041H5.65519C6.04542 11.4041 8.47226 11.4041 8.86249 11.4041H9.81555C11.2873 11.4041 12.48 10.2109 12.48 8.73967C12.48 8.34944 12.48 5.92257 12.48 5.53235H12.4805Z"
                    fill="white"
                  />
                  <path
                    d="M12.4805 16.7655C12.4805 15.2943 11.2878 14.1016 9.81658 14.1016H4.70166C3.23044 14.1016 2.03772 15.2943 2.03772 16.7655C2.03772 17.1557 2.03772 19.5826 2.03772 19.9728C2.03772 21.4446 3.23095 22.6373 4.70218 22.6373H5.65519C6.04542 22.6373 8.47226 22.6373 8.86249 22.6373H9.81555C11.2873 22.6373 12.48 21.4441 12.48 19.9728C12.48 19.5826 12.48 17.1557 12.48 16.7655H12.4805Z"
                    fill="white"
                  />
                  <path
                    d="M21.7338 15.3829C21.9824 17.2517 20.9287 19.12 19.093 19.8218L15.4529 21.2138C15.2043 19.345 16.258 17.4767 18.0937 16.775L21.7338 15.3829ZM22.3931 14.1016L17.7507 15.877C15.1067 16.8882 13.7829 19.8511 14.7942 22.4952L19.4365 20.7197C22.0805 19.7085 23.4044 16.7456 22.3931 14.1016Z"
                    fill="#6AA448"
                  />
                  <path
                    d="M21.7338 4.14976C21.9824 6.01856 20.9287 7.88683 19.093 8.58862L15.4519 9.98117C15.3496 9.22274 15.4592 8.4491 15.7791 7.73263C16.2328 6.7172 17.0547 5.93884 18.0937 5.54179L21.7338 4.14976ZM22.3931 2.86841L17.7507 4.64384C15.1067 5.65508 13.7829 8.61799 14.7942 11.262L19.4365 9.48656C22.0805 8.47532 23.4044 5.51242 22.3931 2.86841Z"
                    fill="#6AA448"
                  />
                </svg>
              </div>
              <div class="training__slide-top--background">
                <img src="./assets/images/training__slide-top--background.webp" alt="" />
              </div>
            </div>
            <div class="training__slide-middle">
              <div class="training__slide-middle--title tl4">
                Первая персональная тренировка длится 1,5 часа и включает в себя:
              </div>
              <ul class="training__slide-middle--list txt18">
                <li class="training__slide-middle--item">оценку ОДА</li>
                <li class="training__slide-middle--item">проработку триггерных зон (миофасциальный релиз)</li>
                <li class="training__slide-middle--item">
                  выполнение коррекционных техник с учётом ваших индивидуальных особенностей
                </li>
                <li class="training__slide-middle--item">практические рекомендации</li>
                <li class="training__slide-middle--item">
                  возможность бесплатно перенести тренировку 1 раз (день в день)
                </li>
              </ul>
            </div>
            <div class="training__slide-bottom">
              <div class="training__slide-bottom--box">
                <div>
                  <div class="training__slide-bottom--method txt18">Офлайн</div>
                  <div class="training__slide-bottom--price tl3">2 500 ₽</div>
                </div>
                <!-- <div>
                  <span class="txt18">Записаться</span>
                  <div>
                    <svg
                      width="46"
                      height="46"
                      viewBox="0 0 46 46"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <circle cx="23" cy="23" r="23" fill="white" />
                      <path
                        d="M29.19 18.2899C29.6405 21.6296 27.7312 24.9683 24.4048 26.2225L17.809 28.7101C17.3585 25.3704 19.2678 22.0317 22.5942 20.7775L29.19 18.2899ZM30.3847 16L21.9726 19.1728C17.1816 20.98 14.7829 26.2749 16.6153 31L25.0273 27.8272C29.8183 26.02 32.2171 20.7251 30.3847 16Z"
                        fill="#6AA448"
                      />
                    </svg>
                  </div>
                </div> -->
                <a href="#" class="training__link link-list">
                  <p class="training__link-text link-list__text txt18">Записаться</p>
                  <div class="training__link-svg-wrapper link-list__svg-wrapper">
                    <div class="training__link-svg-box link-list__svg-box">
                      <svg
                        width="15"
                        height="15"
                        viewBox="0 0 15 15"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M13.19 2.28989C13.6405 5.62957 11.7312 8.96832 8.40479 10.2225L1.80896 12.7101C1.35847 9.37043 3.26779 6.03169 6.5942 4.77755L13.19 2.28989ZM14.3847 0L5.97263 3.17284C1.18165 4.98 -1.21709 10.2749 0.615291 15L9.02729 11.8272C13.8183 10.02 16.2171 4.72505 14.3847 0Z"
                          fill="#6AA448"
                        />
                      </svg>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="training__swiper-slide swiper-slide">
            <div class="training__slide-top">
              <div class="training__slide-top--title tl3">Первая персональная тренировка</div>
              <div class="training__slide-top--icon desktop">
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M12.4805 5.53235C12.4805 4.06112 11.2878 2.86841 9.81658 2.86841H4.70166C3.23044 2.86841 2.03772 4.06112 2.03772 5.53235C2.03772 5.92257 2.03772 8.34944 2.03772 8.73967C2.03772 10.2114 3.23095 11.4041 4.70218 11.4041H5.65519C6.04542 11.4041 8.47226 11.4041 8.86249 11.4041H9.81555C11.2873 11.4041 12.48 10.2109 12.48 8.73967C12.48 8.34944 12.48 5.92257 12.48 5.53235H12.4805Z"
                    fill="white"
                  />
                  <path
                    d="M12.4805 16.7655C12.4805 15.2943 11.2878 14.1016 9.81658 14.1016H4.70166C3.23044 14.1016 2.03772 15.2943 2.03772 16.7655C2.03772 17.1557 2.03772 19.5826 2.03772 19.9728C2.03772 21.4446 3.23095 22.6373 4.70218 22.6373H5.65519C6.04542 22.6373 8.47226 22.6373 8.86249 22.6373H9.81555C11.2873 22.6373 12.48 21.4441 12.48 19.9728C12.48 19.5826 12.48 17.1557 12.48 16.7655H12.4805Z"
                    fill="white"
                  />
                  <path
                    d="M21.7338 15.3829C21.9824 17.2517 20.9287 19.12 19.093 19.8218L15.4529 21.2138C15.2043 19.345 16.258 17.4767 18.0937 16.775L21.7338 15.3829ZM22.3931 14.1016L17.7507 15.877C15.1067 16.8882 13.7829 19.8511 14.7942 22.4952L19.4365 20.7197C22.0805 19.7085 23.4044 16.7456 22.3931 14.1016Z"
                    fill="#6AA448"
                  />
                  <path
                    d="M21.7338 4.14976C21.9824 6.01856 20.9287 7.88683 19.093 8.58862L15.4519 9.98117C15.3496 9.22274 15.4592 8.4491 15.7791 7.73263C16.2328 6.7172 17.0547 5.93884 18.0937 5.54179L21.7338 4.14976ZM22.3931 2.86841L17.7507 4.64384C15.1067 5.65508 13.7829 8.61799 14.7942 11.262L19.4365 9.48656C22.0805 8.47532 23.4044 5.51242 22.3931 2.86841Z"
                    fill="#6AA448"
                  />
                </svg>
              </div>
              <div class="training__slide-top--background">
                <img src="./assets/images/training__slide-top--background.webp" alt="" />
              </div>
            </div>
            <div class="training__slide-middle">
              <div class="training__slide-middle--title tl4">
                Первая персональная тренировка длится 1,5 часа и включает в себя:
              </div>
              <ul class="training__slide-middle--list txt18">
                <li class="training__slide-middle--item">оценку ОДА</li>
                <li class="training__slide-middle--item">проработку триггерных зон (миофасциальный релиз)</li>
                <li class="training__slide-middle--item">
                  выполнение коррекционных техник с учётом ваших индивидуальных особенностей
                </li>
                <li class="training__slide-middle--item">практические рекомендации</li>
                <li class="training__slide-middle--item">
                  возможность бесплатно перенести тренировку 1 раз (день в день)
                </li>
              </ul>
            </div>
            <div class="training__slide-bottom">
              <div class="training__slide-bottom--box">
                <div>
                  <div class="training__slide-bottom--method txt18">Онлайн</div>
                  <div class="training__slide-bottom--price tl3">6 000 ₽</div>
                </div>
                <!-- <div>
                  <span class="txt18">Записаться</span>
                  <div>
                    <svg
                      width="46"
                      height="46"
                      viewBox="0 0 46 46"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <circle cx="23" cy="23" r="23" fill="white" />
                      <path
                        d="M29.19 18.2899C29.6405 21.6296 27.7312 24.9683 24.4048 26.2225L17.809 28.7101C17.3585 25.3704 19.2678 22.0317 22.5942 20.7775L29.19 18.2899ZM30.3847 16L21.9726 19.1728C17.1816 20.98 14.7829 26.2749 16.6153 31L25.0273 27.8272C29.8183 26.02 32.2171 20.7251 30.3847 16Z"
                        fill="#6AA448"
                      />
                    </svg>
                  </div>
                </div> -->
                <a href="#" class="training__link link-list">
                  <p class="training__link-text link-list__text txt18">Записаться</p>
                  <div class="training__link-svg-wrapper link-list__svg-wrapper">
                    <div class="training__link-svg-box link-list__svg-box">
                      <svg
                        width="15"
                        height="15"
                        viewBox="0 0 15 15"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M13.19 2.28989C13.6405 5.62957 11.7312 8.96832 8.40479 10.2225L1.80896 12.7101C1.35847 9.37043 3.26779 6.03169 6.5942 4.77755L13.19 2.28989ZM14.3847 0L5.97263 3.17284C1.18165 4.98 -1.21709 10.2749 0.615291 15L9.02729 11.8272C13.8183 10.02 16.2171 4.72505 14.3847 0Z"
                          fill="#6AA448"
                        />
                      </svg>
                    </div>
                  </div>
                </a>
              </div>
              <div class="training__slide-bottom--box">
                <div>
                  <div class="training__slide-bottom--method txt18">Офлайн</div>
                  <div class="training__slide-bottom--price tl3">6 000 ₽</div>
                </div>
                <!-- <div>
                  <span class="txt18">Записаться</span>
                  <div>
                    <svg
                      width="46"
                      height="46"
                      viewBox="0 0 46 46"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <circle cx="23" cy="23" r="23" fill="white" />
                      <path
                        d="M29.19 18.2899C29.6405 21.6296 27.7312 24.9683 24.4048 26.2225L17.809 28.7101C17.3585 25.3704 19.2678 22.0317 22.5942 20.7775L29.19 18.2899ZM30.3847 16L21.9726 19.1728C17.1816 20.98 14.7829 26.2749 16.6153 31L25.0273 27.8272C29.8183 26.02 32.2171 20.7251 30.3847 16Z"
                        fill="#6AA448"
                      />
                    </svg>
                  </div>
                </div> -->
                <a href="#" class="training__link link-list">
                  <p class="training__link-text link-list__text txt18">Записаться</p>
                  <div class="training__link-svg-wrapper link-list__svg-wrapper">
                    <div class="training__link-svg-box link-list__svg-box">
                      <svg
                        width="15"
                        height="15"
                        viewBox="0 0 15 15"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M13.19 2.28989C13.6405 5.62957 11.7312 8.96832 8.40479 10.2225L1.80896 12.7101C1.35847 9.37043 3.26779 6.03169 6.5942 4.77755L13.19 2.28989ZM14.3847 0L5.97263 3.17284C1.18165 4.98 -1.21709 10.2749 0.615291 15L9.02729 11.8272C13.8183 10.02 16.2171 4.72505 14.3847 0Z"
                          fill="#6AA448"
                        />
                      </svg>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="training__swiper-navigation">
        <div
          class="training__swiper-btn training__swiper-btn--prev swiper-btn swiper-button-prev swiper-button-disabled"
          tabindex="-1"
          role="button"
          aria-label="Previous slide"
          aria-controls="swiper-wrapper-fcbe63a1ff101836e"
          aria-disabled="true"
        >
          <div class="swiper-btn__svg-box">
            <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M20.8994 10.8994L21.8994 10.8994L21.8994 8.89943L20.8994 8.89943L20.8994 10.8994ZM2.33788 8.89943C1.78559 8.89943 1.33788 9.34714 1.33788 9.89943C1.33788 10.4517 1.78559 10.8994 2.33788 10.8994L2.33788 8.89943ZM20.8994 8.89943H2.33788L2.33788 10.8994H20.8994L20.8994 8.89943Z"
                fill="#393C43"
              ></path>
              <path
                d="M9.14404 17.9429L1.1007 9.89954L9.14404 1.8562"
                stroke="#393C43"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
            </svg>
          </div>
        </div>
        <div
          class="training__swiper-btn training__swiper-btn--next swiper-btn swiper-button-next"
          tabindex="0"
          role="button"
          aria-label="Next slide"
          aria-controls="swiper-wrapper-fcbe63a1ff101836e"
          aria-disabled="false"
        >
          <div class="swiper-btn__svg-box">
            <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M1.10033 9.10057L0.100327 9.10057L0.100327 11.1006L1.10033 11.1006L1.10033 9.10057ZM19.6619 11.1006C20.2142 11.1006 20.6619 10.6529 20.6619 10.1006C20.6619 9.54829 20.2142 9.10057 19.6619 9.10057L19.6619 11.1006ZM1.10033 11.1006L19.6619 11.1006L19.6619 9.10057L1.10033 9.10057L1.10033 11.1006Z"
                fill="#393C43"
              ></path>
              <path
                d="M12.8557 2.05712L20.8991 10.1005L12.8557 18.1438"
                stroke="#393C43"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
