<section class="why">
  <div class="why__container container">
    <div class="why__background">
      <img src="./assets/images/why-background.webp" alt="" />
    </div>
    <div class="why__left">
      <div class="why__left-title tl2">Почему ECO FITNESS?</div>
      <div class="why__left-text txt18">В названии используется «Eco» по нескольким причинам</div>
    </div>
    <div class="why__right">
      <div class="why__right-row">
        <div class="why__right-title tl4">
          Корректная обратная связь. ценим личные <br />
          границы и придерживаемся принципов:
        </div>
        <ul class="why__right-list txt18">
          <li class="why__right-item">уважение</li>
          <li class="why__right-item">ненавязчивость</li>
          <li class="why__right-item">лояльность</li>
        </ul>
      </div>
      <div class="why__right-row">
        <div class="why__right-title tl4">В основе тренировочного процесса экологичный подход</div>
        <ul class="why__right-list txt18">
          <li class="why__right-item">естественная нагрузка для тела</li>
          <li class="why__right-item">натуральные движения и амплитуды</li>
          <li class="why__right-item">занятия без боли</li>
        </ul>
      </div>
      <div class="why__right-row">
        <div class="why__right-title tl4">Экологичное потребление:</div>
        <ul class="why__right-list txt18">
          <li class="why__right-item">не используем бумажные чеки</li>
          <li class="why__right-item">не используем пластиковые стаканчики</li>
          <li class="why__right-item">всё оборудование в студии преимущественно из экологичных материалов</li>
        </ul>
      </div>
    </div>
  </div>
</section>
