<section class="wrong-ways">
  <div class="container">
    <div class="wrong-ways__inner">
      <div class="wrong-ways__title-box">
        <p class="wrong-ways__title tl2">
          Многие считают, что избавиться от болей в теле можно этими способами:
        </p>
        <div class="wrong-ways__info-box">
          <p class="wrong-ways__info-text txt18">
            Но это либо приводит к травмам, либо не даёт результата, либо имеет краткосрочный эффект.
          </p>
        </div>
      </div>
      <div class="wrong-ways__swiper-box">
        <div class="wrong-ways__swiper swiper">
          <div class="wrong-ways__swiper-wrapper swiper-wrapper">
            <div class="wrong-ways__swiper-slide swiper-slide">
              <div class="wrong-ways__slide-inner">
                <p class="wrong-ways__swiper-num tl4">01</p>
                <div class="wrong-ways__swiper-list-box">
                  <p class="wrong-ways__swiper-list-title tl3">Закачивание мышц</p>
                  <ul class="wrong-ways__swiper-list">
                    <li class="wrong-ways__swiper-item txt18">Кроссфит</li>
                    <li class="wrong-ways__swiper-item txt18">Бодибилдинг</li>
                    <li class="wrong-ways__swiper-item txt18">Тренажёрный зал</li>
                  </ul>
                </div>
                <div class="wrong-ways__img-box">
                  <img src="./assets/images/wrong-ways-img-1.webp" alt="" />
                </div>
              </div>
            </div>
            <div class="wrong-ways__swiper-slide swiper-slide">
              <div class="wrong-ways__slide-inner">
                <p class="wrong-ways__swiper-num tl4">02</p>
                <div class="wrong-ways__swiper-list-box">
                  <p class="wrong-ways__swiper-list-title tl3">Растяжка</p>
                  <ul class="wrong-ways__swiper-list">
                    <li class="wrong-ways__swiper-item txt18">Йога</li>
                    <li class="wrong-ways__swiper-item txt18">Стретчинг</li>
                    <li class="wrong-ways__swiper-item txt18">Гимнастика</li>
                  </ul>
                </div>
                <div class="wrong-ways__img-box">
                  <img src="./assets/images/wrong-ways-img-2.webp" alt="" />
                </div>
              </div>
            </div>
            <div class="wrong-ways__swiper-slide swiper-slide">
              <div class="wrong-ways__slide-inner">
                <p class="wrong-ways__swiper-num tl4">03</p>
                <div class="wrong-ways__swiper-list-box">
                  <p class="wrong-ways__swiper-list-title tl3">Регулярное посещение</p>
                  <ul class="wrong-ways__swiper-list">
                    <li class="wrong-ways__swiper-item txt18">Остеопатов</li>
                    <li class="wrong-ways__swiper-item txt18">Костоправов</li>
                    <li class="wrong-ways__swiper-item txt18">Мануальных терапевтов</li>
                  </ul>
                </div>

                <div class="wrong-ways__img-box">
                  <img src="./assets/images/wrong-ways-img-3.webp" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="wrong-ways__swiper-btn-box">
          <div class="wrong-ways__swiper-btn wrong-ways__swiper-btn--prev swiper-btn swiper-button-prev">
            <div class="swiper-btn__svg-box">
              <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M20.8994 10.8994L21.8994 10.8994L21.8994 8.89943L20.8994 8.89943L20.8994 10.8994ZM2.33788 8.89943C1.78559 8.89943 1.33788 9.34714 1.33788 9.89943C1.33788 10.4517 1.78559 10.8994 2.33788 10.8994L2.33788 8.89943ZM20.8994 8.89943H2.33788L2.33788 10.8994H20.8994L20.8994 8.89943Z"
                  fill="#393C43"
                />
                <path
                  d="M9.14404 17.9429L1.1007 9.89954L9.14404 1.8562"
                  stroke="#393C43"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </div>
          <div class="wrong-ways__swiper-btn wrong-ways__swiper-btn--next swiper-btn swiper-button-next">
            <div class="swiper-btn__svg-box">
              <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M1.10033 9.10057L0.100327 9.10057L0.100327 11.1006L1.10033 11.1006L1.10033 9.10057ZM19.6619 11.1006C20.2142 11.1006 20.6619 10.6529 20.6619 10.1006C20.6619 9.54829 20.2142 9.10057 19.6619 9.10057L19.6619 11.1006ZM1.10033 11.1006L19.6619 11.1006L19.6619 9.10057L1.10033 9.10057L1.10033 11.1006Z"
                  fill="#393C43"
                />
                <path
                  d="M12.8557 2.05712L20.8991 10.1005L12.8557 18.1438"
                  stroke="#393C43"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
