@font-face {
  font-family: 'Actay';
  src: url('./assets/fonts/Actay-Regular.eot');
  src: local('Actay-Regular'), local('Actay-Regular'),
    url('./assets/fonts/Actay-Regular.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/Actay-Regular.woff2') format('woff2'),
    url('./assets/fonts/Actay-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('./assets/fonts/Gilroy-Bold.eot');
  src: local('Gilroy-Bold'), local('Gilroy-Bold'),
    url('./assets/fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/Gilroy-Bold.woff2') format('woff2'),
    url('./assets/fonts/Gilroy-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('./assets/fonts/Gilroy-Medium.eot');
  src: local('Gilroy-Medium'), local('Gilroy-Medium'),
    url('./assets/fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/Gilroy-Medium.woff2') format('woff2'),
    url('./assets/fonts/Gilroy-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('./assets/fonts/Gilroy-Regular.eot');
  src: local('Gilroy-Regular'), local('Gilroy-Regular'),
    url('./assets/fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/Gilroy-Regular.woff2') format('woff2'),
    url('./assets/fonts/Gilroy-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('./assets/fonts/OpenSans-Regular.eot');
  src: local('OpenSans-Regular'), local('OpenSans-Regular'),
    url('./assets/fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/OpenSans-Regular.woff2') format('woff2'),
    url('./assets/fonts/OpenSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('./assets/fonts/OpenSans-SemiBold.eot');
  src: local('OpenSans-SemiBold'), local('OpenSans-SemiBold'),
    url('./assets/fonts/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/OpenSans-SemiBold.woff2') format('woff2'),
    url('./assets/fonts/OpenSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Light.eot');
  src: local('Roboto-Light'), local('Roboto-Light'),
    url('./assets/fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/Roboto-Light.woff2') format('woff2'),
    url('./assets/fonts/Roboto-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
