.authors-course {
  // .authors-course__inner

  &__inner {
    width: 190.4rem;
    height: fit-content;
    min-height: 73.8rem;
    position: relative;
    border-radius: 3.2rem;
    overflow: hidden;
    padding: 6.4rem;

    @include small-tablet {
      width: 100%;
      height: auto;
      background-color: $bg;
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: 8rem;
    }
  }

  // .authors-course__content-box

  &__content-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
    width: 65.8rem;
    position: relative;
    z-index: 5;
    color: $white;

    @include small-tablet {
      color: $black;
      width: 100%;
      gap: 3.2rem;
      padding: 2.4rem 3.2rem 0;
    }
  }

  // .authors-course__title-box

  &__title-box {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    @include small-tablet {
      gap: 3.2rem;
    }
  }

  // .authors-course__title

  &__title {
  }

  // .authors-course__text

  &__text {
    width: 42.7rem;
    @include small-tablet {
      width: 100%;
    }
  }

  // .authors-course__list-box

  &__list-box {
    display: flex;
    flex-direction: column;
    gap: 5.5rem;
    @include small-tablet {
      gap: 3.2rem;
      flex-direction: column-reverse;
    }
  }

  // .authors-course__link

  &__link {
    border: 0.1rem solid $white;
    background: transparent;
    @include small-tablet {
      background: rgba(231, 231, 231, 0.5);
      border: 0.2rem solid $black;
    }
  }

  // .authors-course__link-text

  &__link-text {
  }

  // .authors-course__link-svg-wrapper

  &__link-svg-wrapper {
  }

  // .authors-course__link-svg-box

  &__link-svg-box {
  }

  // .authors-course__list-wrapper

  &__list-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    width: 57.9rem;
    backdrop-filter: blur(58px);
    -webkit-backdrop-filter: blur(58px);
    box-shadow: 0 1.5rem 5rem 0 rgba(127, 127, 127, 0.2);
    background: rgba(231, 231, 231, 0.5);
    border: 0.1rem solid rgba(255, 255, 255, 0.3);
    border-radius: 3.2rem;
    padding: 5.2rem;
    color: $black;
    @include small-tablet {
      width: 100%;
      gap: 3.2rem;
      padding: 4rem;
      border-radius: 2.4rem;
      box-shadow: 0 3rem 10rem 0 rgba(127, 127, 127, 0.2);
      border: 0.2rem solid rgba(255, 255, 255, 0.3);
    }
  }

  // .authors-course__list-title

  &__list-title {
  }

  // .authors-course__list

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }

  // .authors-course__item

  &__item {
    color: $gray;
    padding-left: 1.9rem;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0.8rem;
      width: 0.8rem;
      height: 0.8rem;
      border-radius: 50%;
      background-color: $dark-green;
      @include small-tablet {
        top: 1.6rem;
        width: 1.6rem;
        height: 1.6rem;
      }
    }

    @include small-tablet {
      padding-left: 3.6rem;
    }
  }

  // .authors-course__img-box

  &__img-box {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    & img, 
    & video, 
    & iframe {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @include small-tablet {
      position: static;
      width: 75rem;
      height: 42.4rem;
      border-radius: 3.2rem;
      overflow: hidden;
    }
  }
}
