.news {
  background-color: $white;
  border-radius: 3.2rem;
  padding: 6.4rem 0;
  max-width: 189rem;
  margin-left: auto;
  margin-right: auto;

  &__container {
    padding: 0 6.4rem;
  }

  &__swiper {
    margin-bottom: 3rem;

    &-slide {
      &.swiper-slide {
        display: flex;
        column-gap: 4rem;
      }

      padding: 4rem;
      border-radius: 3.2rem;
      background-color: $gray-cards;

      &--left {
        width: 26rem;
        height: 15.4rem;
        background: rgba(231, 231, 231, 0.6);
        border: 1px solid rgba(255, 255, 255, 0.3);
        box-shadow: 0px 15px 40px 0px rgba(173, 173, 173, 0.2);
        padding: 0.8rem;
        border-radius: 3.2rem;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 2.4rem;
        }
      }

      &--right {
        max-width: 49.8rem;
      }

      &--title {
        margin-bottom: 1.6rem;
      }

      &--date {
        color: $gray;
        margin-bottom: 1.6rem;
      }
    }

    &-nav-box {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 3.2rem;
    }

    &-btn {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-pagination {
      display: flex;
      align-items: center;
      column-gap: 1.6rem;

      &.swiper-pagination-bullets.swiper-pagination-horizontal {
        width: min-content;
      }

      &.swiper-pagination {
        position: static;
      }

      &-num {
        &.swiper-pagination-bullet {
          background: none;
          width: auto;
          height: auto;
          font-size: 1.8rem;
          font-weight: 600;
          line-height: 5rem;
          transition: 0.2s ease-in-out;

          &-active {
            color: $dark-green;
            font-size: 3.2rem;
            line-height: 4.5rem;
          }
        }
      }
    }
  }

  @media (max-width: 48em) {
    padding: 4.8rem 0;

    &__container {
      padding: 0 3.2rem;
    }

    &__swiper {
      margin-bottom: 4rem;

      &-slide {
        flex-direction: column;
        padding: 0.8rem 0.8rem 4rem 0.8rem;

        &--left,
        &--right {
          width: auto;
          max-width: none;
        }

        &--left {
          height: 38.4rem;
          padding: 0.8rem;
          border-radius: 2.4rem;
          margin-bottom: 4.8rem;

          img {
            border-radius: 1.6rem;
          }
        }

        &--right {
          padding: 0 3.2rem;
        }
      }

      &-pagination {
        justify-content: center;

        &.swiper-pagination-bullets.swiper-pagination-horizontal {
          width: calc(100% - 16rem);
        }

        &-num {
          &.swiper-pagination-bullet {
            font-size: 3.2rem;
            font-weight: 500;
            line-height: 4rem;

            &-active {
              font-size: 4.4rem;
              line-height: 5.6rem;
            }
          }
        }
      }
    }
  }
}
