.seas {
  background-color: $white;
  border-radius: 3.2rem;
  padding: 6.4rem 0;
  max-width: 189rem;
  margin-left: auto;
  margin-right: auto;


  &__container {
    display: flex;
    justify-content: space-between;
    padding: 0 21.2rem 0 6.4rem;
  }

  &__left {
    display: flex;
    flex-direction: column;
    width: 71.1rem;
  }

  &__right {
    width: 72.7rem;
    height: 58rem;
    padding: 0.8rem;
    background: rgba(231, 231, 231, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 15px 40px 0px rgba(173, 173, 173, 0.2);
    border-radius: 3.2rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 2.4rem;
    }
  }

  &__title {
    margin-bottom: 3rem;
  }

  &__text {
    color: $gray;

    &:not(:last-of-type) {
      margin-bottom: 1rem;
    }
  }

  &__mark {
    max-width: 52.7rem;
    padding: 3.2rem;
    border-radius: 3.2rem;
    margin-top: auto;
    background: rgba(231, 231, 231, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 15px 40px 0px rgba(173, 173, 173, 0.2);
  }

  @media (max-width: 48em) {
    padding: 4.8rem 0;

    &__container {
      flex-direction: column;
      padding: 0 3.2rem;
    }

    &__left,
    &__right {
      width: auto;
    }

    &__left {
      margin-bottom: 8rem;
    }

    &__right {
      border-radius: 2.4rem;
      width: 100%;
      height: 54.8rem;

      img {
        border-radius: 1.6rem;
      }
    }

    &__title {
      margin-bottom: 3.2rem;
    }

    &__text {
      &:not(:last-of-type) {
        margin-bottom: 2rem;
      }

      &:last-of-type {
        margin-bottom: 3.2rem;
      }
    }

    &__mark {
      max-width: none;
      border-radius: 2.4rem;
      padding: 4rem;
    }
  }
}
