.specifications {
  // .specifications__container

  &__container {
    max-width: 192rem;
    width: 100%;
    @include small-tablet {
      width: 100%;
      padding: 0;
    }
  }

  &__inner {
    background-color: $white;
    color: $dark-blue;
    padding: 10rem 6rem;
    display: flex;
    flex-direction: column;
    gap: 6rem;
    @include small-tablet {
      padding: 3.2rem;
      background-color: transparent;
      gap: 4.8rem;
    }
  }

  // .specifications__head

  &__head {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    @include small-tablet {
      gap: 4.8rem;
    }
  }

  // .specifications__title

  &__title {
  }

  // .specifications__head-row

  &__head-row {
    margin: 0 -3.2rem;
  }

  // .specifications__tabs

  &__tabs {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    width: 100%;
    @include small-tablet {
      width: 100%;
      padding: 0 3.2rem;
      overflow: auto;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  // .specifications__tab

  &__tab {
    text-transform: uppercase;
    width: 100%;
    white-space: nowrap;
    border: 0.15rem solid $black;
    cursor: pointer;
    transition: color 0.3s, background 0.3s, border 0.3s;
    &.active {
      background-color: $turquoise;
      color: $black;
      opacity: 1;
      border: 0.15rem solid transparent;
      &:hover {
        color: $black;
        background: $turquoise;
        border: 0.15rem solid transparent;
      }
    }

    &:hover {
      border: 0.15rem solid transparent;
      background: #cdcdcd;
      color: #012028;
    }
  }

  // .specifications__body

  &__body {
    display: grid;
  }

  // .specifications__block

  &__block {
    grid-column: 1/2;
    grid-row: 1/2;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transition: opacity 0.3s, visibility 0.3s, z-index 0.3s;
    justify-content: space-between;
    display: flex;
    @include small-tablet {
      position: absolute;
    }
    &.active {
      opacity: 1;
      visibility: visible;
      z-index: 1;

      @include small-tablet {
        position: relative;
      }
    }
    .swiper {
      height: 53rem;
      @include small-tablet {
        height: 104.6rem;
      }
    }

    & .specifications__block-swiper--modes.swiper {
      @include small-tablet {
        height: 116.6rem;
      }
    }
    & .specifications__characteristics-swiper.swiper {
      @include small-tablet {
        height: 47.8rem;
      }
    }

    & .specifications__characteristics-swiper.swiper {
      height: fit-content;
      @include small-tablet {
        width: 75rem;
      }
      & .swiper-wrapper {
        @include small-tablet {
          width: 100%;
        }
      }
    }

    .swiper-slide {
      display: flex;
      justify-content: space-between;
      gap: 2rem;
      @include small-tablet {
        flex-direction: column-reverse;
        gap: 0;
        width: 68rem;
        &:last-child {
          margin-right: 3.2rem !important;
        }
      }
    }

    .specifications__block_swiper-slide--modes {
      flex-direction: column;
    }
    // .specifications__block_swiper-slide

    &_swiper-slide {
    }
  }

  // .specifications__block-right

  &__block-right {
    width: 64rem;
    max-height: 52.8rem;
    overflow-y: auto;
    padding-right: 4rem;

    &::-webkit-scrollbar {
      width: 0.2rem;

      &-track {
        background-color: $light-grew;
      }

      &-thumb {
        background-color: rgba(1, 32, 40, 0.5);
      }
    }
  }

  // .specifications__block-list

  &__block-list {
  }

  // .specifications__block-item

  &__block-item {
    padding: 2rem 0;
    border-bottom: 0.2rem solid rgba(1, 32, 40, 0.5);
    cursor: pointer;
    display: flex;
    align-items: center;

    & > * {
      pointer-events: none;
    }

    &.active {
      div {
        &:first-child {
          transform: translateX(0rem);
          opacity: 1;
        }

        &:last-child {
          transform: translateX(2rem);
        }
      }
    }

    &:first-child {
      border-top: 0.2rem solid rgba(1, 32, 40, 0.5);
    }

    div {
      &:first-child {
        display: flex;
        transform: translateX(-5rem);
        opacity: 0;
        transition: 0.2s ease-in-out;

        svg {
          width: 100%;
          height: 100%;
        }
      }

      &:last-child {
        transition: 0.2s ease-in-out;
        transform: translateX(-2.5rem);
      }
    }
  }

  // .specifications__block-slider

  &__block-slider {
    position: relative;
    overflow: hidden;
    width: 109rem;
    @include small-tablet {
      margin: 0 -3.2rem;
      padding: 0 0 0 3.2rem;
      width: 75rem;
    }
  }

  // .specifications__block-swiper

  &__block-swiper {
  }

  // .specifications__block-left

  &__block-left {
    display: flex;
    flex-direction: column;

    width: 47.6rem;
    flex-shrink: 0;
    @include small-tablet {
      width: 100%;
      background-color: $dark-blue;
      color: $white;
      padding: 3.2rem;
      border-radius: 0 0 4rem 4rem;
      overflow: hidden;
      flex-grow: 1;
    }
    &--modes {
      width: 92.7rem;
    }
  }

  // .specifications__block-descr

  &__block-descr {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    @include small-tablet {
      gap: 3.2rem;
    }

    & .specifications__block-modes-list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 11.4rem;
      @include small-tablet {
        grid-template-columns: repeat(2, 1fr);
        gap: 3.2rem 1.6rem;
      }

      & .specifications__block-modes-item {
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
      }
      & .specifications__block-modes-item-list {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
        color: $grew;
      }
    }
  }
  &__block-text-box {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    max-height: 28.6rem;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 0.2rem;

      &-track {
        background-color: rgba(1, 32, 40, 0.5);
      }

      &-thumb {
        background-color: $light-grew;
      }
    }
  }

  // .specifications__block-title

  &__block-title {
  }

  // .specifications__block-text

  &__block-text {
    color: $grew;
    @include small-tablet {
      color: $white;
    }
  }

  // .specifications__block-middle

  &__block-middle {
    &--modes {
      align-self: flex-end;
      @include small-tablet {
        background-color: $white;
        padding: 10.4rem 3.4rem 8rem;
        width: 100%;
        border-radius: 4rem 4rem 0 0;
        overflow: hidden;
      }
    }
  }

  // .specifications__block-img

  &__block-img {
    width: 53rem;
    height: 53rem;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @include small-tablet {
      width: 100%;
      height: 54rem;
      background-color: $white;
      border-radius: 4rem 4rem 0 0;
      overflow: hidden;
    }
    &--modes {
      width: 58.9rem;
      height: 19.9rem;
      @include small-tablet {
        width: 57rem;
        width: 100%;
        height: 20rem;
      }
    }
  }

  // .specifications {
  //   // .specifications__characteristics-list

  //   &__characteristics-list {
  //     display: grid;
  //     grid-template-columns: repeat(3, 1fr);
  //     justify-content: space-between;
  //     width: 100%;
  //     gap: 5rem 0;
  //     padding-left: 10rem;
  //     @include small-tablet {
  //       display: flex;
  //       width: fit-content;
  //       flex-wrap: nowrap;
  //       overflow-y: auto;

  //     }
  //   }

  //   // .specifications__characteristics-item

  //   &__characteristics-item {

  //   }

  //   // .specifications__characteristics-img-box

  //   &__characteristics-img-box {
  //     width: 40rem;
  //     height: 30rem;
  //     & img {
  //       width: 100%;
  //       height: 100%;
  //       object-fit: scale-down;
  //     }
  //   }
  // }

  .specifications {
    // .specifications__characteristics-swiper

    &__characteristics-swiper {
      width: 100%;
    }

    // .specifications__characteristics-swiper-wrapper

    &__characteristics-swiper-wrapper {
      flex-direction: row !important;
      width: 100% !important;
      gap: 10rem;
      justify-content: space-between;
      @include small-tablet {
        gap: 0;
      }
    }

    // .specifications__characteristics-swiper-slide

    &__characteristics-swiper-slide {
      width: 40rem !important;
      height: 30rem !important;
      display: flex;
      align-items: center;
      justify-content: center;
      @include small-tablet {
        width: 63.6rem !important;
        height: 47.8rem !important;
      }
    }

    // .specifications__characteristics-swiper-slide-inner

    &__characteristics-swiper-slide-inner {
      width: 40rem;
      height: 30rem;
      @include small-tablet {
        width: 100%;
        height: 100%;
        padding: 3.2rem;
        border-radius: 4rem;
        background-color: $white;
      }
    }

    // .specifications__characteristics-img-box

    &__characteristics-img-box {
      width: 40rem;
      height: 30rem;
      & img {
        width: 100%;
        height: 100%;
        object-fit: scale-down;
      }
      @include small-tablet {
        width: 57rem;
        height: 41.4rem;
      }
    }
  }
}
